[2017-02-10 22:56] garrettjonesgoogle commented on #1429
We should get AppVeyor integration tests up and running again for GA.

[2017-02-10 23:01] garrettjonesgoogle commented on #1513
@danoscarmike why is this in the First 4 (GA) project? We don't have it marked Blocking GA.

[2017-02-10 23:04] garrettjonesgoogle commented on #1570
This is fixed in code and pending release of the next version.

[2017-02-13 07:16] kamakay commented on #1612
Any news? This is a kind of blocking situazion when using API.

[2017-02-13 10:28] grembek opened #1614 "URLFetchServiceStreamHandler$Connection cannot be cast to HttpsURLConnection"
Hi,

I am using the [Zendesk java client ](https://github.com/cloudbees/zendesk-java-client) on my Google Cloud App Engine and I have a runtime issue that prevents me from using the SDK. I am using the SDK from a servlet, what might I be doing wrong and would it work if I would use the SDK NOT from the servlet?

Thanks

[code]

[2017-02-13 16:42] neozwu commented on #1545
@Dima1224 I'm looking into it.  This is on the top of my to-do this week.  Will give you update soon :)

[2017-02-13 18:26] GEverding opened #1616 "502 Bad Gateway Pub/Sub 0.9.0-alpha"
Hey, Trying out the new pubsub client and I'm getting 502 Bad Gateway.

[code]

[2017-02-13 19:16] garrettjonesgoogle commented on #1616
`Subscriber` is designed to fall back to polling if the streaming doesn't work. Notice that all of the logs are at INFO level. Is the polling logic working?

[2017-02-13 22:40] GEverding commented on #1616
It doesn't fall back properly. When the status code is `UNAVAILABLE` ([src](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/spi/v1/StatusUtil.java#L33)) it still considers the connection retryable and doesn't call notifyFailure ([src](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubs

[2017-02-13 23:12] mtagle opened #1617 "More support for DATE, TIME, and DATETIME schema types"
At present you cannot create new fields with types DATE, TIME, and DATETIME.

To do so, you need access to a com.google.cloud.bigquery.Field.Type of that type, and though there are enums of DATE, TIME, and DATETIME, they are never passed to the Type constructor (which is private).

[2017-02-14 01:22] matthewrj commented on #1616
I'm experiencing the same issue. My logs are continuous streams of "UNAVAILABLE: 502:Bad Gateway" and messages aren't being processed.

[2017-02-14 08:37] sAbakumoff opened #1618 "com.google.protobuf.GeneratedMessageV3$Builder cannot be resolved"
I am trying to follow the guidelines at
https://cloud.google.com/natural-language/docs/reference/libraries#client-libraries-install-java
The only extra step is adding google-cloud-language dependency in pom.xml file.
But once it's done the following errors are reported:

How to fix it?

[2017-02-14 14:35] vania-pooh opened #1619 "Adding SSH keys via client"
Can't get how to add SSH keypairs to cloud. According to these docs: https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys#instance-only there's an API project metadata method for that. Is there any example of this action?

[2017-02-14 16:14] garrettjonesgoogle commented on #1618
You are likely mixing different versions of protobuf. `google-cloud` requires 3.0.0, and is incompatible with using beta versions of protobuf (e.g. 3.0.0-beta-3).

[2017-02-14 20:56] GEverding commented on #1616
Is there any workaround for this issue? I tried packaging up a custom version of the library but ran into issues with maven?

[2017-02-14 20:59] garrettjonesgoogle commented on #1616
We will get a fix out soon.

[2017-02-15 02:33] pongad opened #1624 "Subscriber uselessly partitions `PendingModifyAckDeadline` list"
Looping in @davidtorres to make sure I understand this right.

In [this function](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/5311bb39021f97722bd8a549ed703e4c3d9b7c66/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/spi/v1/PollingSubscriberConnection.java#L197), we seem to be splitting the list so that individual requests are under pubsub's API limit.

However, I think t

[2017-02-15 03:15] pongad opened #1626 "pubsub test flakes"
- [x] https://ci.appveyor.com/project/GoogleCloudPlatform/google-cloud-java/build/609 (testModifyAckDeadline)
- [ ] https://travis-ci.org/GoogleCloudPlatform/google-cloud-java/builds/215825641

[2017-02-15 14:23] archiecobbs opened #1627 "google-cloud-spanner: Add alternate r/w txn API that doesn't require use of callback"
In the Google Cloud Spanner Java API, the only way to perform read/write transactions is by providing a callback, via the `TransactionRunner` interface.

I understand that the API is trying to hide the details of the need to automatically retry transactions as a convenience to the programmer, but this limitation is a serious problem, at least for me. I need to be able to manage the transaction lif

[2017-02-15 16:39] garrettjonesgoogle commented on #1616
This should be fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1625 ; we'll try to get a release out soon.

[2017-02-15 17:11] Horneth opened #1628 "Batch copy for storage API"
The storage API implements `delete`, `get`, and `update` methods to add requests to a batch. A `copy` method would be valuable as well. Is it something that can be considered ?

[2017-02-16 15:13] meltsufin commented on #1449
@michaelbausor Have you had a chance to take a look? This is our only blocker for integrating the library into the Java runtime.

[2017-02-16 16:36] michaelbausor commented on #1449
@meltsufin I have had an initial look - I will start working on a fix tomorrow.

[2017-02-16 16:48] meltsufin commented on #1449
@michaelbausor Thanks for the update! :)

[2017-02-16 23:28] archiecobbs opened #1629 "google-cloud-spanner: can't easily delete all leading and trailing rows in a table"
The `Mutation` API does not allow deleting a range of keys where the minimum or maximum key is "infinity".

In other words, there's no way to do the equivalent of `DELETE FROM Table WHERE key > @value`.

This is because the `KeyRange` class does not have values for positive and negative infinity.

Instead, you have to iterate over the rows and delete them one by one, unless the key's type happens

[2017-02-17 00:07] archiecobbs commented on #1627
Also please add the ability to get the commit timestamp from the transaction. There is currently no method `TransactionContext.getCommitTimestamp()`. Thanks.

[2017-02-17 17:57] garrettjonesgoogle commented on #1331
@ejona86 So does this fairly characterize the situation?:

gRPC is GA, but the only practical general-purpose transport is Netty, and the only way to use that transport is to use an `@Experimental` class, so for all practical purposes if you use gRPC, you will be broken between minor versions despite your best intentions.

[2017-02-17 18:58] ejona86 commented on #1331
I don't agree with that. If you're talking about `NettyChannelBuilder`, then no, you shouldn't use it in a library. Instead, you should use [`ManagedChannelBuilder`](http://www.grpc.io/grpc-java/javadoc/io/grpc/ManagedChannelBuilder.html)'s `forAddress(String, int)` or `forTarget(String)`.

[2017-02-17 19:03] ludoch opened #1631 "pubsub sample doc refers to bigquery"
See https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/pubsub/PubSubExample.java#L44

[2017-02-17 20:28] garrettjonesgoogle commented on #1331
Oh! I don't know how we ended up using `NettyChannelBuilder` instead of `ManagedChannelBuilder`. We will switch it.

[2017-02-17 20:31] garrettjonesgoogle commented on #1331
https://github.com/googleapis/gax-java/issues/208

[2017-02-17 23:48] archiecobbs opened #1632 "google-cloud-spanner: Request ReadOption for descending result order"
It's nice to be able to use the `ReadContext.read()` method instead of `ReadContext.executeQuery()` because it's so much more efficient (no SQL parsing, query plan, etc).

To make `ReadContext.read()` more generally useful, this is a request to add a new `ReadOption`  to specify descending sort order (presumably, ascending sort order is the default so no option is needed for that).

Thanks.

[2017-02-18 00:37] garrettjonesgoogle commented on #1614
This doesn't appear to have anything to do with `google-cloud-java`. Maybe check this page for more info:

https://cloud.google.com/appengine/docs/java/issue-requests?csw=1#Using_HttpURLConnection

If you have no control over Zendesk code, maybe you might want to file an issue against Zendesk.

Closing this issue.

[2017-02-18 00:37] #1614 closed

[2017-02-18 00:38] garrettjonesgoogle commented on #1617
@tswast can you triage?

[2017-02-18 00:44] garrettjonesgoogle commented on #1619
This repository (`google-cloud-java`) isn't really the right place for this question; this repository is for java client libraries, not the command line `gcloud`. I would recommend clicking on the pink button in the lower right corner of the page you referenced in order to file a bug.

[2017-02-18 00:46] tswast commented on #1617
Yes, is the sort of thing that would go under the "create a table" column of the integration tests I requested.

Even though this is for updating a table with a new column, I think the same resource is used.

[2017-02-18 04:40] pongad commented on #1616
@garrettjonesgoogle The mentioned fix went out with 0.9.1. I think we can close this out?

[2017-02-19 01:33] prestonvanloon commented on #1616
I am getting the same message in 0.9.2.

[code]

[2017-02-19 02:53] omaray commented on #1605
Hi Jatins. Thanks for the message.

So the reason why you don't see support for the Compute Engine API with google-cloud is because it hasn't been implemented yet. So indeed, the Google API Client Library is the recommended way for now.

As feedback to us, how could have this been clearer to you?

[2017-02-19 08:40] jatins commented on #1605
@omaray Aren't these [official examples](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/compute/ComputeExample.java) using the `google-cloud` compute api ?

And in these [docs](http://googlecloudplatform.github.io/google-cloud-java/0.8.3/apidocs/index.html) for `google-cloud`, I do see a package for `com.google.clo

[2017-02-19 18:43] masangin commented on #1616
I'm experiencing the same issue on 0.9.2-alpha.

[2017-02-20 01:01] pongad commented on #1616
I must have looked at the history wrong somehow.
The fix for this landed in commit `68ce84d313b7745b1dc37be300522ea1c051063b`, 3 commits after the last release. This should be fixed in the next release.
I apologize for the confusion.

[2017-02-20 17:15] tomwhite commented on #1519
#1630 addresses some of this, but there's still a remaining issue.

The following prints the files in a directory:
[code]

However, this doesn't work:
[code]

The problem is to do with the underlying path not having a the leading slash removed in the second case. This seems to fix the problem:

[code]

[2017-02-21 07:08] omaray opened #1637 "Spanner: add snippets/samples to all top level methods of main classes"
We want to ensure that all the methods that represent the interface of an API have samples/snippets to show our users the intended use. Spanner doesn't have such samples/snippets at the moment.

As examples, [BigQuery](http://googlecloudplatform.github.io/google-cloud-java/0.9.2/apidocs/index.html?com/google/cloud/bigquery/BigQuery.html), [Storage](http://googlecloudplatform.github.io/google-cloud

[2017-02-21 08:42] vkedia commented on #1632
ReadContext.read would return the rows in the order of primary key as specified in the schema. By default the primary keys are stored in ascending order but you can [mark any key column as descending](https://cloud.google.com/spanner/docs/data-definition-language#create_table) to store it in descending order. In that case read would return the rows in the descending order of the key. There is no w

[2017-02-21 13:03] GEverding commented on #1616
when can we reasonably expect this in a new release? The library is broken right now.

[2017-02-21 15:41] archiecobbs commented on #1632
Great, if so then my fears are unfounded and you may close this issue.

However I am still puzzled by something:

Yes, but don't you agree that this is due simply to a limitation of the API, and not of the underlying capability? After all, I can query `SELECT key, value FROM KeyValue ORDER BY key DESC` so clearly the underlying capability to return results in reverse order exists... in which case,

[2017-02-21 20:40] neozwu commented on #1545
@Dima1224 I definitely agree with you in that we didn't properly handle constructing `StorageException` from `HttpResponseException` - we didn't register the right error code in `StorageException`, which in turn fails the Retry logic.  However, on a second look of the error message you posted, what puzzles me is the exception looks like `GoogleJsonResponseException` to me, since it has `domain` an

[2017-02-21 21:09] lucmult opened #1639 "Enable compression for pubsub library"
As a customer I would like to have communication compressed from pubsub client to pubsub service.

This allows saving on network bandwidth when running it from other Cloud providers for example.

[2017-02-21 22:38] criccomini commented on #1617
Out of curiosity, is there a timeline on when this might get addressed?

[2017-02-22 02:09] michaelbausor commented on #1449
@meltsufin @garrettjonesgoogle A further update about the outstanding issues:

**Unbounded queue of bundles**
The bundling implementation will accept logs faster than it can process, accumulating them until OOM. This is also flagged in this GAX issue: https://github.com/googleapis/gax-java/issues/157
We can resolve this using the `FlowController` that @pongad has implemented.

**Flush implementati

[2017-02-22 05:23] pongad commented on #1449
@michaelbausor Flushing is indeed a big problem. I don't think it's immediately relevant to this issue though. Once we deal with items 1, 3, and 4, the memory problem should be resolved. We can deal with item 2 afterwards. I think I conflated the two issues because they were introduced in the same commit.

[2017-02-22 10:14] vkedia commented on #1632
Yes thats a valid point. In theory we should be able to sort order to the API. But given that similar effect can be achieved using query api, we do not have any plans to do so.

[2017-02-22 10:14] #1632 closed

[2017-02-22 15:31] archiecobbs commented on #1629
Quoting issue #1632:

The same logic may apply here; if so, feel free to close this bug.

FWIW, here's the background motivating this request and #1632: for my application, I only need a sorted key/value store (keys and values are binary strings ordered unsigned lexicographically). So there's only one table with two columns, `key` (primary key) and `value`. I could do everything needed through the

[2017-02-22 15:38] vkedia commented on #1629
Thanks for explaining your use case. For this specific issue I don't think the situation is exactly similar as the other one. Querying all the keys via SQL and then deleting them all individually might not be as efficient. What might be more efficient is to use SQL to find the maximum key and then to a delete till that key.

[2017-02-22 15:41] vkedia commented on #1637
@garrettjonesgoogle Can you please point me to the infrastructure that @omaray is alluding to?

[2017-02-22 15:42] archiecobbs commented on #1629
Oh right, I forgot that SQL `DELETE` is not even supported. So, yeah.

[2017-02-22 18:21] jabubake opened #1641 "List subscriptions by topic"
Listing subscriptions by topic was possible with the prior version of the API as
com.google.cloud.pubsub : Page<SubscriptionId> listSubscriptions(String topic, ListOption... options);
 I don't see a way to do that anymore with com.google.pubsub.v1.ListSubscriptionsRequest.
Is this a known deprecation or is there a way to achieve topic subscription filtering that is not exposed clearly ?

[2017-02-22 19:21] meltsufin commented on #1449
@garrettjonesgoogle It looks like we've now identified the underlying issues. How are you prioritizing the fixes? Do you have a rough ETA? Thanks!

[2017-02-22 19:27] jabubake opened #1643 "Have getIamPolicy accept TopicName, SubscriptionName as input"
Given a lot of the new code uses TopicName/SubscriptionName class : constructed from projectId, topic-name/sub-name : it would be good if getIamPolicy on PublisherClient and SubscriberClient took in a TopicName, SubscriptionName respectively as opposed to just String : so there's no confusion to whether just topic/subscription-name alone works or the project-id needs to be specified as well.

[2017-02-22 19:43] jean-philippe-martin commented on #1519
Thank you @tomwhite for the clear bug report and fix! I put together PR #1644 with the fix.

[2017-02-22 21:46] Dima1224 commented on #1545
Hey @neozwu - this is exactly the problem I'm referring to in the second half of the ticket:

The StorageException uses the message from the HttpResponseException verbatim without adding any info of it's own. So on the surface it looks like the fields of the StorageException were set correctly when in reality they were not. I think this can be addressed in the BaseServiceException class.

[2017-02-22 22:12] jabubake opened #1646 "Support default project for Pubsub"
All the veneer libraries support picking up the default project id if an explicit one is not provided.
See Spanner , Datastore, Storage  :
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java

The deprecreated PubSub api supported it as well, v0.9.2-alpha does not.

[2017-02-22 22:28] lesv commented on #1646
I know this doesn't block GA, but it should block BETA - I don't see such a tag.

[2017-02-22 22:34] garrettjonesgoogle commented on #1646
We are using "Status: Release Blocking", and the API it applies to disambiguates between GA blocking and beta blocking.

[2017-02-22 23:09] michaelbausor commented on #1449
@meltsufin I will follow what @pongad said, and prioritize the other fixes above the flushing implementation. Hopefully I can provide a fix for bundling size and implement using `FlowController` by tomorrow.

[2017-02-22 23:18] garrettjonesgoogle commented on #1646
Renamed title - this is for default project, not default auth (which is already supported).

[2017-02-22 23:21] garrettjonesgoogle commented on #1616
The fix has been released in 0.9.3-alpha. Now closing this issue.

[2017-02-22 23:21] #1616 closed

[2017-02-22 23:23] garrettjonesgoogle commented on #1618
No more comments after a week, so I'm going to close this out.

[2017-02-22 23:23] #1618 closed

[2017-02-22 23:54] garrettjonesgoogle commented on #1641
It is located at `PublisherClient.listTopicSubscriptions`.

[2017-02-23 00:31] shinfan commented on #1485
@lesv Can you determine if this is release blocking?

[2017-02-23 00:50] lesv commented on #1485
@tswast Care to look?  I need to lookup a bunch of stuff that you might know off the top of your head.

[2017-02-23 00:51] #1641 closed

[2017-02-23 00:52] tswast commented on #1485
@lesv I'm not familiar with this specific feature of Datastore, either. I've only built queries with scalar types.

[2017-02-23 00:52] #898 closed

[2017-02-23 01:25] prestonvanloon commented on #1616
Thanks @garrettjonesgoogle. 0.9.3-alpha is working well so far.

[2017-02-23 01:56] garrettjonesgoogle commented on #1643
The String variant may be necessary to keep in case there are new resources in the future. It may be worth adding an overload that takes the currently-known resource types, though.

[2017-02-23 01:57] garrettjonesgoogle commented on #1639
Fixed in #1645 ; it will be included in the next release.

[2017-02-23 01:57] #1639 closed

[2017-02-23 01:58] lesv commented on #1485
@tswast Ah - sorry.  I saw Gql and thought of you.

[2017-02-23 02:03] garrettjonesgoogle commented on #1579
The high-performance rewrite was merged and released. I recommend trying version `0.9.3-alpha`. @nhoughto  and @GEverding can you let us know how it works?

[2017-02-23 02:05] garrettjonesgoogle commented on #1549
Is this done?

[2017-02-23 02:06] lesv commented on #1485
I don't think this is a GA blocker.

It is reasonable to ask for a single entity (we provide several [examples](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/datastore/snippets/QuerySnippets.java#L73-L101) for this) - rather than a list of them, the work around is simple.

[2017-02-23 02:09] garrettjonesgoogle commented on #1493
@pongad we may have taken care of enough of this tracking issue - maybe close it out, and if there are any tail-end tasks, create separate issues for them. I would like to avoid zombie issues.

[2017-02-23 02:12] garrettjonesgoogle commented on #1432
The rewrite has been merged to master and released. @mattnworb could you take a look to see if your concerns are addressed?

[2017-02-23 02:15] garrettjonesgoogle commented on #1338
@r-tock , we have merged and released the high-performance rewrite of Pub/Sub. Could you take a look and see if it works better for you?

[2017-02-23 02:17] #1207 closed

[2017-02-23 02:22] garrettjonesgoogle commented on #1223
We have done a rewrite of Pub/Sub, and the `publish()` call now has callback capabilities. The type is not `ListenableFuture` though, it is an `RpcFuture` type from `gax-java` that wraps `ListenableFuture`.

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/spi/v1/Publisher.java#L205

[2017-02-23 02:22] #1223 closed

[2017-02-23 02:24] garrettjonesgoogle commented on #1157
The Pub/Sub rewrite has been merged and released. Documenting `returnImmediately` as commented previously is no longer relevant. Doing a synchronous `pull` in `SubscriberClient` is supported. Closing out the issue.

[2017-02-23 02:24] #1157 closed

[2017-02-23 02:26] garrettjonesgoogle commented on #384
The Pub/Sub rewrite has been merged and released. The `Publisher` class provides this functionality. Closing out this issue.

[2017-02-23 02:26] #384 closed

[2017-02-23 03:31] pongad commented on #1549
Done

[2017-02-23 03:31] #1549 closed

[2017-02-23 03:33] pongad commented on #1493
This was a tracking issue for bundling implementation integration. That work is much more long term than I thought previously. Let's close it out.

[2017-02-23 03:33] #1493 closed

[2017-02-23 10:47] piotrpolatowski opened #1650 "Subscriber implements Service interface"
Why new `Subscriber` implementation is a decorator for `AbstractService` and not implement `Service` interface directly?

It makes it harder to use with `com.google.common.util.concurrent.ServiceManager`

[2017-02-23 11:47] GEverding commented on #1579
We're integrating today. I'll get back to you

--
Garrett

On Wed, Feb 22, 2017 at 9:03 PM -0500, "garrettjonesgoogle" <notifications@github.com> wrote:

The high-performance rewrite was merged and released. I recommend trying version 0.9.3-alpha. @nhoughto  and @GEverding can you let us know how it works?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it

[2017-02-23 17:13] garrettjonesgoogle commented on #1650
Because we don't want to expose Guava on our surface. We want to be able to create a variant of google-cloud-java with Guava shaded for those who are using older versions of Guava that aren't compatible with our version.

[2017-02-23 17:30] JaysonRaymond opened #1652 "Publisher javadocs example fails to compile"
From http://googlecloudplatform.github.io/google-cloud-java/0.9.2/apidocs/com/google/cloud/pubsub/spi/v1/Publisher.html

(Checked both  0.9.0-alpha or 0.9.2-alpha):

:
  List<RpcFuture<String>> results = new ArrayList<>();
:
  Futures.addCallback(
  Futures.allAsList(results),
 :

Futures.allAsList & Futures.addCallback both require a ListenableFuture, not an RpcFuture.

The Rpc implementation is

[2017-02-23 18:20] mattnworb commented on #1432
@garrettjonesgoogle thanks for the update. Are there any docs on how to move from using `PubSub` and `PubSub.publishAsync(message)` etc to the new Publisher class?

[2017-02-23 19:45] vania-pooh commented on #1619
@garrettjonesgoogle no, my question is about Java client. It seems this action is not yet supported in client... or is hidden somewhere in the API. My question is how to add SSH key with client method calls.

[2017-02-23 20:19] garrettjonesgoogle commented on #1432
@pongad could you point @mattnworb to the information he needs?

[2017-02-23 21:12] lesv opened #1653 "PubSub, Logging, Datastore, BigQuery testing on GAE Std J7 & GAE Std J8"
Veener libraries need to be tested (ie. deployed) to GAE Standard using Java 7 and Java 8.

@ludoch can WL you.

[2017-02-23 21:35] lesv opened #1654 "JUL - Logging should be zero-conf for most users."
1. JUL `java.util.logging` should be zero configuration for most users.
1. Work on all platforms: GAE Std 8 / Flex / GKE / GCE without modification.
1. See #1130 for fluentd support as well. (in GAE Flex env)

(Java 7 GAE Std / Dataproc / Dataflow is NOT Release Blocking;)

I've asked @jabubake to help you with this.

[2017-02-23 21:40] lesv commented on #1654
Also it doesn't buffer in most cases; work in a fluentd environment; etc.

[2017-02-23 21:41] garrettjonesgoogle commented on #1654
@lesv Can you edit the title to be in command form instead of problem-description form?

[2017-02-23 21:49] lesv commented on #1439
@jabubake We should provide your slf4j adapter here.

[2017-02-23 22:08] lesv commented on #1561
For GA we should fix the JavaDocs.

As I read it, it should mean:
`Query<Entity> query = Query.newGqlQueryBuilder(Query.ResultType.ENTITY, "select * from MyEntity where MyProperty= @1 and MySecondProperty=@2").addBinding("value1", "value2").build();`

[2017-02-23 22:13] lesv commented on #1485
@sai-pullabhotla My guess is you've moved past this, but do you remember what line was generating the error?

[2017-02-23 22:19] lesv opened #1656 "FR: Deprecated builders, setters, getters, etc should be removed for GA"
The GA release should remove `@deprecated` methods & classes.

For datastore, logging, storage.  (all of them)

For PubSub, the old deprecated things should be removed.

[2017-02-23 22:31] garrettjonesgoogle commented on #1656
This is a duplicate of https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1569

[2017-02-23 22:34] lesv commented on #1405
It doesn't sound like this will block GA for Storage, Logging, PubSub, Datastore, or BigQuery

[2017-02-23 22:37] lesv commented on #216
There was supposed to be a conversation about Cloud Fakes / Emulators, not sure of the status of that.  I don't think this blocks GA.

[2017-02-23 22:39] #1631 closed

[2017-02-23 22:39] lesv commented on #1405
I think this should block GA for Translate.

[2017-02-23 22:53] lesv commented on #300
gRPC should now work on GAE Standard J7 & J8, but isn't yet super performant (neither is REST).

[2017-02-23 22:56] lesv commented on #550
Doesn't seem like a good idea to skip, however, if you have Integration tests that include this, I'm Ok with it not blocking GA.  @garrettjonesgoogle PTAL

[2017-02-23 23:03] sai-pullabhotla commented on #1485
@lesv - I don't use the Datastore for any of my production projects, rather working on an open source JPA like persistence framework (http://catatumbo.io). Not a show stopper for me by any means. I was just trying to see if it is something I needed to support in my framework, but the Rpc layer did not like it. The sample code and full stack trace is in the original ticket. Pasting it below again,

[2017-02-23 23:15] lesv commented on #1242
This should happen for GA

[2017-02-23 23:20] lesv commented on #1357
@JoshuaFox Are you asking for compatibility within the library, or between GAE Standard API's / Cloud Console and this library?

Also, how would it affect you if we changed the format generated by this library to be compatible with GAE Standard / Cloud Console?

[2017-02-23 23:24] lesv commented on #1485
Thanks - I'm going to mark this post GA, but should be fixed right after then.

[2017-02-23 23:43] garrettjonesgoogle commented on #1619
Ahh ok. (reopening)

[2017-02-24 01:00] lesv commented on #859
We have all the others, we should have this as well.

[2017-02-24 01:14] lesv commented on #1542
Consider DropWizard #1209

[2017-02-24 01:16] lesv commented on #1522
Dataproc and Dataflow should be considered important use cases of Pub/Sub.  They may, however, have their own way of doing things.  (at least Dataflow)

[2017-02-24 01:19] lesv commented on #1518
Better not to include sleep in the samples, unless we expect users to use it as well. Instead put them in the tests for those samples.

However, if you really most use sleep, then this probably should be preferred.

[2017-02-24 01:23] lesv commented on #1447
This got subsumed by using thread dump from @karan 's team.

[2017-02-24 01:26] lesv commented on #1369
@omaray PTAL

[2017-02-24 01:34] garrettjonesgoogle commented on #1646
As a workaround for Beta, could we have the samples use `ServiceOptions.getDefaultProjectId()`? This would just be one extra line.

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L339

[2017-02-24 01:34] lesv commented on #830
Updated Link https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-contrib/google-cloud-nio/src/test/java/com/google/cloud/storage/contrib/nio/CloudStorageFileSystemProviderTest.java

[2017-02-24 01:36] lesv commented on #830
This relates to Storage, so I've marked it so.  I don't think this blocks GA, but we should investigate and fix.

[2017-02-24 01:36] pongad commented on #1652
@JaysonRaymond This is a miss from my side. I neglected to update the sample at the time.

This was fixed in [0.9.3](http://googlecloudplatform.github.io/google-cloud-java/0.9.3/apidocs/com/google/cloud/pubsub/spi/v1/Publisher.html).

I'll close this for now; please reopen if you have any more concerns.

[2017-02-24 01:36] #1652 closed

[2017-02-24 01:40] lesv commented on #1265
@bjwatson Once you looked at the Fields descriptions, was that enough?  (ie. can we close this?)

[2017-02-24 01:43] lesv commented on #431
It appears this has been fixed

[2017-02-24 03:11] danielcompton opened #1657 "Async APIs for Spanner"
It would be great if the Java library had asynchronous APIs for Cloud Spanner so that I don't need to tie up a request serving thread while I'm waiting for a response to a queries and writes. I had a look around the Javadoc and couldn't see anything about this, apologies if I've missed it.

[2017-02-24 18:21] jabubake commented on #1646
Looks like that's not part of 0.9.3, I can try that out once available.

[2017-02-24 19:30] jabubake opened #1660 "testIamPermissionsResponse : returned from PublisherClient.testIamPermissions not easily consumable"
The deprecated version of testing permissions:
 just returned a boolean list :
List<Boolean> testTopicPermissions(String topic, List<String> permissions);
 In v0.9.3, t is not straightforward for the user to use this API for a quick permissions test
PublisherClient.testIamPermissions returns instance of TestIamPermissionsResponse.
testIamPermissionResponse.getPermissionsList() returns a List<ByteS

[2017-02-24 19:32] jabubake commented on #1660
Never mind, I think I was using the API wrong.

[2017-02-24 19:32] #1660 closed

[2017-02-24 22:16] garrettjonesgoogle opened #1661 "Pub/Sub: Improve design of synchronous pull"
Synchronous pull is currently supported in the SPI layer on `SubscriberClient`. This support was retained at the request of @evmin in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1157 .

The status quo is that there are two places to get messages, either using the synchronous pull on `SubscriberClient` or using the `Subscriber` class which does a lot of the subscription manageme

[2017-02-24 22:22] garrettjonesgoogle commented on #1661
The raw `SubscriberClient` surface for streaming pull involves these three methods:

* `pull`
* `acknowledge` (positive ack)
* `modifyAckDeadline`

There is no explicit negative ack; negative acks are implicit if there is no positive ack before the current ack deadline.

Now if I understand correctly, one of the arguments for supporting synchronous pull is the need for a user of pubsub to precisel

[2017-02-24 22:40] evmin commented on #1661
@garrettjonesgoogle

Thank you for checking in.

* pull
* acknowledge (positive & negative acks)

Will be sufficient, thank you (just to be paranoid - pull is synchronous with return immediately set to false, risk of never returning is OK).

[2017-02-24 22:45] garrettjonesgoogle commented on #1661
Ok, and to check the converse: would it be disruptive if you had to handle the ack deadlines yourself?

[2017-02-24 22:54] evmin commented on #1661
@garrettjonesgoogle

Currently we call either acknowledge for the positive ack, or modify deadline set to 0 to indicate a negative ack. I have also exposed the functionality to disable the implicit acks and managing the deadline arbitrary, but that has not been used by any of our solutions as yet.

So if I understood you correctly and you mean extending the deadline explicitly when required - then

[2017-02-24 22:58] garrettjonesgoogle commented on #1661
I'm thinking that since this use case is meant to serve frameworks that do more of their own timing management, it might make sense to keep it simple and leave everything up to the caller instead of having additional smarts. That would then imply exposing all three methods, with no implicit work done.

[2017-02-24 22:59] evmin commented on #1661
That would be perfect, thank you.

[2017-02-25 00:15] bjwatson commented on #1265
My context is stale on this now, but I think what would help is to move/copy the detailed explanation from [`DatasetOptions.fields`](http://googlecloudplatform.github.io/google-cloud-java/0.3.0/apidocs/com/google/cloud/bigquery/BigQuery.DatasetOption.html#fields-com.google.cloud.bigquery.BigQuery.DatasetField...-) to the top-level description of [`DatasetOptions`](http://googlecloudplatform.github

[2017-02-25 01:41] tomayles commented on #1629
KeyRange does support -/+ inf, but not by specifying particular values. The trick is to omit the trailing or leading key part and use a closed start/end. We talk about this is the docs here: https://cloud.google.com/spanner/docs/reference/rpc/google.spanner.v1#google.spanner.v1.KeyRange / http://googlecloudplatform.github.io/google-cloud-java/0.9.3/apidocs/com/google/cloud/spanner/KeyRange.html. I

[2017-02-25 03:33] nhoughto commented on #1579
Looking at 0.9.3-alpha, I assume the new high-performance changes are found in the com.google.cloud.pubsub.spi.v1 classes rather than the now deprecated classes? Any examples of how the new classes should be used? Readme / examples all reference the deprecated stuff.

[2017-02-25 18:53] archiecobbs commented on #1629
I see how what you're saying might work for certain cases involving composite primary keys, but not for a simple primary key. Sorry if I'm missing something.

To make things concrete, here's my DDL:

[code]

Suppose I have the key `new byte[] { (byte)0x12, (byte)0x34 }` and want to delete all rows in the table that are greater than or equal to this key in a single operation.

Can you show me how t

[2017-02-26 08:40] JoshuaFox commented on #1357
I'm not sure what "compatibility within the library" means, but of course I'd like all kinds of compatibility. Specifically, we have URL-Safe keys generated in the GAE API which need to be parsed into Key objects in Google Cloud API; and the Google Cloud API code has to be able to generate keys in the GAE URL-Safe string format.

The Cloud Console is less important.

In any case, we have since Jan

[2017-02-26 22:50] pongad opened #1664 "pubsub README still uses deprecated code"

[2017-02-26 22:50] pongad commented on #1579
@nhoughto That is correct. For an example of using Subscriber, could you see if [this](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/pubsub/snippets/CreateSubscriptionAndPullMessages.java) helps you?

We seem to have missed the README. I have reported this at #1664.

[2017-02-26 22:56] pongad commented on #1542
@garrettjonesgoogle I don't think this is beta blocking. @davidtorres , what do you think?

[2017-02-26 23:11] pongad commented on #1432
@mattnworb Could you see if [this](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/pubsub/snippets/CreateTopicAndPublishMessages.java) helps? We are still in the process of updating all our code samples.

If you don't specify any `Credentials`, the application default credentials should be used the way it was before

[2017-02-26 23:23] nhoughto commented on #1579
Yep that's useful, so the SubscriptionListener exposes the listener failure so you can manually restart it? Rather than handling it for you and auto reconnecting as per the buggy deprecated impl? We shouldn't expect a startAsync() to handle reconnects and should build some auto reconnect with backoff etc logic ourselves?

[2017-02-27 00:49] pongad commented on #1579
`Subscriber` uses Guava's `Service` behind the scene. This [document](https://github.com/google/guava/wiki/ServiceExplained#using-a-service) should provide an overview.

To answer your question specifically, Subscriber does attempt some retries on its own. Eg, pubsub service replying with error code "UNAVAILABLE" [usually signifies a transient condition](https://cloud.google.com/pubsub/docs/refere

[2017-02-27 02:44] pongad commented on #1499
@garrettjonesgoogle This is now available [here](http://www.grpc.io/grpc-java/javadoc/io/grpc/ManagedChannelBuilder.html#maxInboundMessageSize-int-). It is marked experimental though. Are we OK to use this? I'm a little worried about ABI compatibility with later releases. Or do we plan to shade the entire gRPC?

[2017-02-27 06:41] nhoughto commented on #1579
Yep seems reasonable, I'll give it a try 👍🏼

[2017-02-27 07:59] aschults opened #1666 "More distinct exception handling when getting GAE ProjectID in ServiceOptions"
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/e5f90467fe7490759482e6a8bc62b1246318a7f0/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L437

In case of quota exhaustion,  Exception is thrown from RPC. Catch doesn't distinguish and thus assumes it's not running on GAE.

Would it be sufficient to catch ClassNotFoundException and related (e.g. NoSuchMethodExceptio

[2017-02-27 15:45] syablonsky commented on #1430
Has anyone run into this hanging issue on CentOS 7? I trying to make google vision calls, but getting DEADLINE_EXCEEDED after it is hanging for a while. I have used these dependencies suggested here, but that did not help (Running exactly the same code on my windows box is successful):

[code]
I have turned on FINE logging and see that the client authenticate successfully, but than is hanging on t

[2017-02-27 18:06] garrettjonesgoogle commented on #1499
Good catch. I'm trying to get away from dependencies on experimental features. We will need to think about this.

[2017-02-27 18:16] garrettjonesgoogle commented on #1499
Filed issue https://github.com/grpc/grpc-java/issues/2763 .

[2017-02-27 18:26] garrettjonesgoogle commented on #1499
Maybe we could mark it as experimental on our own surface too, so that users can make their own choice about whether to depend on it.

[2017-02-27 18:28] garrettjonesgoogle commented on #550
I'm going to mark this as blocking GA because we need to make sure that integration tests cover this code.

[2017-02-27 18:39] lesv commented on #1357
@JoshuaFox What I'm trying to ask is, if we fix (ie. change the current behavior of the google-cloud API) to match what the GAE API does, would it break your app?

[2017-02-27 18:41] JoshuaFox commented on #1357
I don't think it would break my app.

[2017-02-27 18:41] lesv commented on #1357
@garrettjonesgoogle I think we should fix it, and the sooner, the better. (ie. before GA)

[2017-02-27 18:43] lesv commented on #1357
@jabubake PTAL - you might wish to inquire / make sure that that thing your working on is compatible in this.

[2017-02-27 19:05] lesv commented on #1357
`UrlSafe` keys are allowed to be used in URL's (ie. bookmark-able).  Developers who move / augment their GAE Standard apps with GAE Flex apps will want to easily move between them.  Not having this will block the adoption of GAE Flex for many developers.

[2017-02-27 19:47] greg2010 opened #1667 "Pub/Sub 0.9.3-alpha: no messages are pulled"
Hi, trying new pubsub client, and even though there are undelivered messages waiting in the queue, nothing is being pulled.
I've tried both `Subscriber` and synchronous `SubscriberClient` as showed [here](https://github.com/jabubake/google-cloud-java/blob/5da936adf0f62dbd716e98c404e7bf68cd46f6c0/google-cloud-examples/src/main/java/com/google/cloud/examples/pubsub/snippets/SubscriberSnippets.java)

[2017-02-27 21:46] lesv commented on #1542
Definitely not blocking.

[2017-02-27 21:48] davidtorres commented on #1542
Not blocking from the Pub/Sub side.

[2017-02-27 22:21] jabubake opened #1668 "`ListTopicSubscriptionsPagedResponse.iterateAllElements()` should return `Iterable<Subscription>`"
`ListTopicSubscriptionsPagedResponse.iterateAllElements` currently returns `Iterable<String>`.
It feels inconsistent with `ListTopicsPagedResponse.iterateAllElements` that returns `Iterable<Topic>`
and `ListSubscriptionsPagedResponse.iterateAllElements` returns `Iterable<Subscription>`.

[2017-02-27 22:39] garrettjonesgoogle commented on #1668
This could get tricksy because of templating. Assigning to @michaelbausor to take a look at viability.

[2017-02-27 22:41] lesv commented on #1357
Note - we should rename the existing `toSafeUrl()` to `toOldSafeUrl()` and `fromUrlSafe()` to `fromOldUrlSafe` as well, so that we don't mess up too many users.

Alternatively, but equally bad, we should create `toGAESafeUrl()` and `fromGAEUrlSafe()`.

[2017-02-27 22:48] garrettjonesgoogle commented on #1357
Maybe: create `toBase64SafeUrl()` and `fromBase64SafeUrl()` so that the reasons to choose one vs the other is clearer, and not so tied to a specific technology that is incidental.

[2017-02-27 23:06] saturnism opened #1669 "Allow changing/updating flow control at runtime"
Reactive applications will need to be able to signal backpressure. It occurs when the message receiver is no longer able to receive more messages. In the pull model, the receiver will simply stop pulling. In the push model, we need to be able to turn off flow and/or reduce incoming qps.  This is a standard pattern required for Akka, rx2, and Spring Reactor.

[2017-02-27 23:12] lesv commented on #475
@jabubake Can you try this and tell us the results.

[2017-02-27 23:17] lesv commented on #481
ProtoDoc needs an update to fix.

[2017-02-27 23:23] lesv commented on #1047
Option 2 is recommended.

[2017-02-27 23:30] garrettjonesgoogle commented on #1242
This failure can be thrown by the server.

[2017-02-27 23:33] pongad commented on #1626
This seems to not be flaking anymore. Closing this for the time being.

[2017-02-28 01:44] michaelbausor commented on #1449
Status update: I have one PR in flight for adding `FlowController` here: https://github.com/googleapis/gax-java/pull/213
I am also working on a second PR to address the excessing memory consumption of bundling. We will restructure bundling to combine messages as they are received, instead of storing individual request messages which are combined once a bundle is taken to be sent. I will update thi

[2017-02-28 01:49] pongad commented on #1637
@vkedia You can write the snippets in separate Java files like [this](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1613/files). Generally snippets for one class together form one file.

Then `utilities/add_snippets_to_file.py` is the script to auto-inject the snippets into the javadoc.

[2017-02-28 16:10] tomayles commented on #1629
I believe it's the following:

KeyRange.closedClosed(Key.of(new byte[] { (byte)0x12, (byte)0x34 }), Key.of())

(fwiw, you can test how ranges work non-destructively with the read API: http://googlecloudplatform.github.io/google-cloud-java/0.9.3/apidocs/com/google/cloud/spanner/ReadContext.html#read-java.lang.String-com.google.cloud.spanner.KeySet-java.lang.Iterable-com.google.cloud.spanner.Options

[2017-02-28 17:35] archiecobbs commented on #1629
This doesn't work (I tried it to make sure).

The problem is that `Key.of()` is negative infinity, not positive infinity. So your `KeyRange` has an upper limit less than its lower limit, which results in nothing being deleted.

There's no way to create a `Key` that means positive infinity. This is the root of the problem.

BTW, the Javadoc for `Key` talks about `Key.all()` which I thought might pr

[2017-02-28 17:54] tomayles commented on #1629
Interesting - we do more or less exactly this in https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/test/java/com/google/cloud/spanner/it/ITReadTest.java#L183

[2017-02-28 18:31] archiecobbs commented on #1629
Ha, interesting.

Reviewing my test I was using `KeyRange.closedOpen()` instead of `KeyRange.closedClosed()`. With the former, it fails, but with the latter it works.

OK so now I have a way to delete to infinity, thanks.

However, now I'm mystified by this difference.

I see that the unit test you refer to is checking for this behavior. I still don't understand it though.

Shouldn't "closed range

[2017-02-28 19:05] tomayles commented on #1629
It's fair that this is subtle and deserves more documentation. At the moment, we have this short paragraph in the class doc for KeyRange:

"Start and end keys can omit trailing key components. This affects the inclusion and exclusion of rows that exactly match the provided key components: if the key is closed, then rows that exactly match the provided components are included; if the key is open, t

[2017-02-28 19:10] archiecobbs commented on #1629
Great, thanks. A better explanation would definitely help.

[2017-02-28 19:55] lesv opened #1673 "Provide a way to compute checksum"
See [SO](https://www.google.com/url?q=http://stackoverflow.com/questions/39578154/googles-gsutil-cp-command-runs-a-checksum-on-the-file-transferred-does-googl/39578458%2339578458&sa=D&usg=AFQjCNGv6SaRIIFtX9rCAJ7dFNb1ZHyx-w) for context.

[2017-02-28 19:56] #1673 closed

[2017-02-28 20:58] lesv commented on #1265
Got it, not sure there's an automated way to do that, but:
[code]
And some commentary.

[2017-03-01 01:37] davidtorres commented on #1624
You are absolutely right, the partitioning needs to happen within the loop in 200 and the outer loop will not apply. Thanks for looking at this.

[2017-03-01 15:52] greg2010 commented on #1667
I've done some additional testing; it seems that the issue was caused because the account that pubsub was using did not have admin permissions. Once the admin permissions were given, it started pulling new messages, however ignoring the queue of 1000+ older ones.
When deployed to GKE cluster it just throws the exception above, even though the previous version of library worked fine on the same clu

[2017-03-01 18:05] garrettjonesgoogle commented on #1667
There seem to be two problems named here:

1. Not pulling messages
2. `RejectedExecutionException` being thrown

Just to be clear, your current problem is only (2), right?

[2017-03-01 18:19] michaelbausor commented on #1449
I should have an open PR by the end of today, I will link to it here. cc @garrettjonesgoogle for when we will do a release, but hopefully as soon as the changes are merged.

[2017-03-01 18:33] jabubake commented on #475
Logs are not written out when no filename is specified, it gets blocked but no exception is thrown.
We require a `Preconditions.checkNotNull` and  a `<default-log-name>`

[2017-03-01 18:54] jabubake opened #1676 "`MonitoredResource.newBuilder` accepts arbitrary input, but does not log if invalid resource"
Supported resource types @ https://cloud.google.com/monitoring/api/resources
`MonitoredResource.newBuilder` currently accepts a free string. Logging backend validates against supported resource types and does not log if it is not a supported log type.

We should have a cleaner way for the user to provide the resource type : be inferred from environment (GCE vs GAE ?) or have a custom resource type

[2017-03-01 18:56] lesv commented on #1676
Doesn't block Release, but @waprin is looking into this.

[2017-03-01 19:00] michaelbausor commented on #1449
PR is open here: https://github.com/googleapis/gax-java/pull/214

[2017-03-01 21:12] lesv opened #1679 "google/google-auth-library-java #89 needs to be fixed"
https://github.com/google/google-auth-library-java/issues/89
Blocks GAE Standard (java 7 & J8)

Summary: on App Engine Compat, GCE credentials need to be used instead of GAE credentials.

[2017-03-01 21:18] lesv opened #1680 "google-oauth-java-client/issues/145"
https://github.com/google/google-oauth-java-client/issues/145

Blocks testing on GAE Standard (J7)

[2017-03-01 23:09] #1664 closed

[2017-03-01 23:17] garrettjonesgoogle commented on #1532
We should delete this altogether, and support a setting for sync v async in the logging config.

[2017-03-01 23:26] garrettjonesgoogle commented on #1499
Hmm ideally we wouldn't actually want to expose this on our surface, since this can be completely determined by which API is in use.

[2017-03-02 09:07] davidecavestro commented on #1490
@garrettjonesgoogle is there any chance to get a fix for this?

We had a similar issue on GAE Standard Environment, complaining for _Google App Engine does not support Runtime.addShutdownHook_.

I previously asked the same at http://stackoverflow.com/questions/42514341/consuming-data-from-google-stackdriver-errorreporting-with-the-java-client-on-ga where I provided additional details.

[2017-03-02 17:07] saturnism opened #1681 "Publisher.publish - Reducing log level for individual publishes"
There seems to be excessive number of INFO level log messages when publishing messages.  Revisit and reduce the log levels where appropriate.

![log](https://cloud.githubusercontent.com/assets/1998883/23518173/98495dca-ff40-11e6-9051-049e6f70a495.png)

[2017-03-02 17:08] saturnism opened #1682 "Publisher.setupDurationBasedPublishAlarm - log does not replace %d, potentially reduce log level"
See screenshot.  Also, should alarm setup be INFO level log? Reduce level if appropriate.

![log](https://cloud.githubusercontent.com/assets/1998883/23518275/e9eabcb4-ff40-11e6-8584-f482a6567a85.png)

[2017-03-02 17:12] saturnism opened #1683 "Add ability to configure threads at least in PubSub and where appropriate"
Currently, PubSub Subscriber creates multiple threads based on Runtime.availableProcessors(). This is a reasonable default but should be configurable, specifically when there are other competing threads pools, and also when running in Docker containers, where Runtime.availableProcessors() may not return the allocated CPUs (see https://bugs.openjdk.java.net/browse/JDK-6515172)

[2017-03-02 18:04] garrettjonesgoogle commented on #1676
So @lesv, should it be release blocking or no?

[2017-03-02 18:52] lesv commented on #1676
While I like the idea of validation and it would help users debug, I see Resources just increasing and it would be easy for the Veneer team to get out of sync.  (And we'd probably start leaking things during EAP, if we validated).

An option would be to warn when a resource isn't defined in a list, but still accept a String, another approach would to have an enum list of resources and a newBuilder

[2017-03-02 18:59] waprin commented on #1676
The issue in Python is that there is no way to write to the resource at all using the documented API. Java situation is a bit better since at least it's possible.

I think both of @lesv ideas sound like solid improvements.

[2017-03-02 19:00] jabubake commented on #1676
I agree, validation is hard on construction and can get messy to keep up with. Another option :can we not fail silently, and expose the exception/validation done by the logging backend to state that it is an unsupported resource type ?  We can at least let the user know what they setup is not working.

[2017-03-02 19:53] garrettjonesgoogle commented on #1682
This will be fixed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1675 .

[2017-03-02 23:32] pongad commented on #1682
Yes, it should be `{0}` instead of `%d`. Sorry about this silly mistake.

[2017-03-03 02:00] saturnism opened #1686 "MessageDispatcher.processOutstandingAckOperations "Sending {} acks""
[code]

{} is not replaced.

Also, reduce log level if appropriate

[2017-03-03 02:28] #1624 closed

[2017-03-03 03:36] saturnism commented on #1680
This literally prevents using the client lib in any servlet environment. Verified w/ Spring Boot as well.

Work around is to explicitly exclude servlet-api.

[2017-03-03 06:59] nullpointerexcept commented on #1545
Thank you @neozwu! Will your fix retry transient network problems in com.google.auth.oauth2.ServiceAccountCredentials.refreshAccessToken ?

We see this kind of thing a lot:

[2017-03-03 17:33] Astrac opened #1689 "NullPointerException while waiting for query result on BigQuery"
I have a complex application and I am using Apache Flink to stream events from Kafka to BigQuery; the application queries the dataset first in order to get the latest offset for each topic/partition. This is how the code running the query looks like:

[code]

This is written in Scala but it is mostly a translation of the example in the Javadocs; the `retryUntilSuccess` function retries the request

[2017-03-03 21:19] garrettjonesgoogle opened #1691 "Update protobuf/grpc/tcnative dependencies"
Grpc: Now = 1.0.3; update to 1.2.0
Protobuf: Now = 3.0.0 & 3.0.2 (depending on where); update to 3.2.0
netty-tcnative: Now = 1.1.33.Fork19; update to 1.1.33.Fork26

Note: this also involves updating the generated grpc packages and gax.

[2017-03-03 21:27] garrettjonesgoogle commented on #1650
I'm going to close this out now. Re-open if you have more concerns.

[2017-03-03 21:27] #1650 closed

[2017-03-03 21:29] garrettjonesgoogle commented on #1646
Since this is for samples within this repository, I don't think an artifact is necessary. I'm going to remove the beta-blocking label, and we can consider making this more automatic later.

[2017-03-03 21:30] garrettjonesgoogle commented on #1643
@michaelbausor looks like someone else has already asked for resource name classes on the IAM methods :-)

[2017-03-03 21:32] garrettjonesgoogle commented on #1580
https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1690

[2017-03-03 21:32] garrettjonesgoogle commented on #1570
This was released a while back.

[2017-03-03 21:32] #1570 closed

[2017-03-03 21:35] garrettjonesgoogle commented on #1513
I am going to resolve this for now because we don't plan to support it in the library as a feature.

[2017-03-03 21:35] #1513 closed

[2017-03-03 21:41] garrettjonesgoogle commented on #1447
@lesv what are we currently intending on doing for this issue?

[2017-03-03 21:42] garrettjonesgoogle commented on #1432
@mattnworb I'm going to close out this issue now - feel free to file a new issue if you're having problems adopting the new Publisher.

[2017-03-03 21:42] #1432 closed

[2017-03-03 21:44] garrettjonesgoogle commented on #1338
@r-tock I'm going to close out this issue now - re-open if you discover problems with the new version of the library.

[2017-03-03 21:44] #1338 closed

[2017-03-03 21:46] garrettjonesgoogle commented on #1654
I can't quite tell from the description what needs to be done.

[2017-03-03 21:48] garrettjonesgoogle commented on #1617
@criccomini , this is currently marked as a GA release-blocking issue, so we intend to work on it relatively soon. It's hard to give a hard date, though.

[2017-03-03 21:49] lesv commented on #1447
We are going to do nothing.  Michael and Karan's team are adding something to get a thread dump to stdout. (kill -3)

Jisha will be open sourcing her work after Next.

[2017-03-03 21:49] #1447 closed

[2017-03-03 21:51] garrettjonesgoogle commented on #1691
Also do https://github.com/googleapis/gax-java/issues/186 while we're at it (move from grpc-all to more minimal grpc dependency set)

[2017-03-03 22:03] garrettjonesgoogle opened #1692 "Rename "bundling" to "batching""
Corresponding GAX issue: https://github.com/googleapis/gax-java/issues/224

[2017-03-03 22:07] r-tock commented on #1338
Yeah, sorry, we just haven't had a chance to think about this. Other things trumping in terms of priority. Will revert back when we are able to catch a breath to think about package upgrades.
In general the direction you took sounds 👍 will have to test it under real conditions.

[2017-03-03 22:27] mattnworb commented on #1432
@garrettjonesgoogle I haven't had a chance to try out the new Publisher yet, but thanks overall for following up on this and addressing the issue.

[2017-03-03 23:14] garrettjonesgoogle commented on #1661
@evmin , there have been more internal discussions on this topic and I wanted to update you on our current plan. TL;DR: we would like users of synchronous pull to use raw gRPC.

Long story: the client in google-cloud-java will be aimed at two use cases:

1. People getting started with using Pub/Sub directly
2. People needing extremely high-throughput Pub/Sub which they will integrate with directly

[2017-03-04 00:34] garrettjonesgoogle commented on #1601
The following can be set in HttpServiceOptions:

* http transport factory
* connect timeout
* read timeout

The following can be set in GrpcServiceOptions:

* executor factory
* initial timeout
* timeout multiplier
* max timeout

The following can be set for both (inherited from ServiceOptions):

* service factory
* clock
* project id
* host
* credentials
* retry params
* service rpc factory

[2017-03-04 00:44] garrettjonesgoogle commented on #1601
Since there are disjoint options needed for http vs grpc, there is not a way to transparently switch the transport underneath a user. Thus, one of the following would have to be done for Datastore when we support grpc:

1. Fork datastore to a new path, with a new identity, that supports Grpc. Unfortunately we wouldn't be able to remove the old one for quite a while (until a new major version).
2.

[2017-03-04 01:01] garrettjonesgoogle commented on #1601
Current chain of inheritance:

* `DatastoreOptions` -> `HttpServiceOptions` -> `ServiceOptions`

This chain is not compatible with introducing `GrpcServiceOptions` in the future.

I think what needs to be done is that `DatastoreOptions` should extend `ServiceOptions` directly, and the http vs grpc distinction should live underneath that, e.g. `HttpDatastoreOptions` and `GrpcDatastoreOptions`. (The

[2017-03-04 07:12] evmin commented on #1661
@garretjonesgoogle

I think I might understand where you are coming from. And generally agree on the intent - it does look like a sound idea and good approach.

The devil is, as usual, in the details. If the gRPC API is simple enough and the required outcomes can be achieved - that would be fantastic. Yet that's where I am probably not in the position to comment right away - I have little experien

[2017-03-04 13:19] elharo opened #1694 "License is 404"
![image](https://cloud.githubusercontent.com/assets/1005544/23579076/54145910-00b3-11e7-8d31-36aa47b647c2.png)

[2017-03-05 00:09] Orbyt opened #1696 "Does this not work with Android?"
I've had nothing but issue after issue, and still have not been able to get my app to run after adding the gradle dependencies listed in the [docs](https://cloud.google.com/storage/docs/reference/libraries):

`compile group: 'com.google.cloud', name: 'google-cloud-storage', version: '0.9.3-beta'`

Instead of copying over all the issues and error messages, i'll link to the unanswered StackOverflow

[2017-03-05 09:25] thanhlv93 commented on #1696
I have same issue :(
My gradle :
dependencies {
    compile 'com.android.support:appcompat-v7:25.0.1'
    compile 'com.microsoft.projectoxford:vision:1.0.374'
    compile 'com.android.support:recyclerview-v7:25.0.1'
    compile ('com.google.code.gson:gson:2.2.4')
    compile 'com.android.support:design:25.0.1'
    compile 'com.github.bumptech.glide:glide:3.7.0'
    compile group: 'com.google.cloud

[2017-03-05 10:46] thanhlv93 opened #1697 "Requests from this Android client application <empty> are blocked"
Hi all,
When i tried to translate the text with Google Cloud API but i got a message :
{
  "error": {
    "code": 403,
    "message": "Requests from this Android client application \u003cempty\u003e are blocked.",
    "errors": [
      {
        "message": "Requests from this Android client application \u003cempty\u003e are blocked.",
        "domain": "global",
        "reason": "forbidden"

[2017-03-05 11:29] elharo opened #1699 "What's third party?"
Supporting new services says not to expose third party libraries in the API. Who's a third party in this context? E.g. would exposing a Guava class such as ImmutableSet be OK or not?

[2017-03-05 18:27] bmenasha opened #1700 "Direct users to use https://github.com/GoogleCloudPlatform/cloud-trace-java"
Would be nice if the README for google-cloud-trace package directed users use the Stackdriver provided libraries at https://github.com/GoogleCloudPlatform/cloud-trace-java. Also a pointer showed up in the Maven artifacts generated so someone searching for and viewing the maven artifact

https://mvnrepository.com/artifact/com.google.cloud/google-cloud-trace

would be directed to use Stackdriver SDK

[2017-03-05 19:57] Orbyt commented on #1696
@thanhlv93 You can get rid of those warning by excluding the relevant groups like the following:

[code]

However, this does not resolve the root issue and will only remove the warnings. I've spoken to a few individuals who seem to have suggested that this library is NOT compatible with Android, but weren't completely sure. I would appreciate if a team member from Google can chime in here.

[2017-03-06 00:33] pongad commented on #1596
@garrettjonesgoogle I just realized that mockito is also used in google-cloud-contrib and google-cloud-spanner. Do we want to allow use to Mockito? Or do we want to rip it out from those too?

[2017-03-06 01:05] thanhlv93 commented on #1696
@Orbyt  thank you for your suggest , i've can get rid of those warning .

[2017-03-06 06:00] vkedia commented on #1596
Whats the concern with Mockito?

[2017-03-06 06:16] vkedia commented on #1657
Thanks for filing this request. We don't currently have an async api. We will consider adding it based on demand.

[2017-03-06 11:52] pongad commented on #1596
Most of the libraries uses Easy Mock. It's probably better if we can use just one instead of two, though I'm not sure if using both is necessarily a bad thing.

[2017-03-06 15:54] michaelbausor commented on #1449
Update: The above PR was replaced by https://github.com/googleapis/gax-java/pull/226, which is now merged. There is one outstanding PR with the equivalent changes in toolkit: https://github.com/googleapis/toolkit/pull/1095
Once this is merged, we will be ready to begin merging into google-cloud-java
ETA for completion is 3/8

[2017-03-06 16:51] garrettjonesgoogle commented on #1596
google-cloud-contrib is a "side artifact", so it doesn't affect google-cloud. I think we should rip it out of google-cloud-spanner.

@pongad is correct, we want to use only one mocking system instead of two.

[2017-03-06 17:12] garrettjonesgoogle commented on #1696
We have not done any specific work to make `google-cloud-java` compatible with Android, and there are a number of known issues (as you have discovered). First-class Android support will come at a later date.

[2017-03-06 17:14] garrettjonesgoogle commented on #1699
For the purposes of google-cloud-java, Guava is considered third party, so we don't expose any Guava types on the surface.

[2017-03-06 17:23] garrettjonesgoogle commented on #1700
cc @omaray

[2017-03-06 17:45] garrettjonesgoogle opened #1702 "Fix Spanner integration tests"
Spanner integration tests are failing frequently:

https://travis-ci.org/GoogleCloudPlatform/google-cloud-java/jobs/207562209

[code]

[2017-03-06 21:12] Orbyt commented on #1696
@garrettjonesgoogle Thank you for the confirmation. A few follow up questions:

- I took the `Google Cloud Client Library for Java ` to mean Android. What kind of client application is this library suppose to be for then? Someone suggested this is for App Engine, which confuses me as this is a client library and App Engine is server side.

- If not this SDK, how do I access Cloud products from And

[2017-03-06 22:22] garrettjonesgoogle commented on #1696
This library is currently aimed primarily at server applications that need to make calls to GCP services. (In this scenario, the "server application" is the "client" of the "GCP servers".)

Our currently-recommended way is to have your own server (e.g. on App Engine) that makes the calls to GCP, and your own Android app makes calls to your server. The reason is that `google-cloud-java` only has su

[2017-03-07 00:49] #1694 closed

[2017-03-07 00:57] shinfan commented on #1502
@garrettjonesgoogle  It looks like a dependency issue since our json version is over 1 year old. Does it concern you to update our gcloud json version to the latest?

[2017-03-07 01:02] garrettjonesgoogle commented on #1502
@shinfan we should see what kind of changes to json that it implies.

[2017-03-07 01:48] Orbyt commented on #1696
@garrettjonesgoogle I see, thank you for the information.

This does prompt another question though. As I understand it Firebase Storage is essentially a wrapper around Google Cloud Storage. If I store something using Firebase Storage, it stores it in a bucket in Cloud Storage. Yet, I can interact with Firebase Storage (and thus Cloud Storage) directly from my application. How does this not breach

[2017-03-07 07:17] swftvsn commented on #1696
Firebase storage can be used with Google Cloud Storage as it stores the files there, but it uses Firebase specific security rules to protect the content. Essentially the Firebase project is granted access to GCS and when a client makes a request, they enforce the security rules you have given.

Using a 2LO auth bypasses the Firebase security rules and accesses the files directly and should not be

[2017-03-07 08:59] polleyg commented on #1612
This is not a bug, but rather confusing documentation/examples. See updated SO question - http://stackoverflow.com/questions/42099842/bigquery-how-to-iterate-over-results-using-java-api

[2017-03-07 18:20] neozwu commented on #1545
@nullpointerexcept This seems to be a failed http request call from oauth2 library, so my change won't fix this issue.  Can I ask where you deployed your application ? This seems to be an underlying server networking issue to me.

[2017-03-07 18:57] #1569 closed

[2017-03-07 19:23] tomayles commented on #1702
It looks like there are multiple concurrent runs using the same instance, and they are tripping over each other. Could that be the case?

If so, we either need to update the test code to make database names unique to a run, or update the test runner to use separate instances.

[2017-03-07 19:24] garrettjonesgoogle commented on #1702
The test code has randomization built in so that the database names are unique. It might be possible that there is at least one test where the randomization isn't working, or it might be possible that there is another type of entity that needs randomization.

[2017-03-07 20:01] tomayles commented on #1702
OK. If you look in the activity log for the project that runs these tests, you should be able to see what user/process deleted the database, which could be helpful for debugging.

[2017-03-07 20:42] jabubake commented on #1654
FYI, @meltsufin and team have worked on JUL support for App Engine Flex.
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-logging/src/main/java/com/google/cloud/logging/GaeFlexLoggingEnhancer.java

[2017-03-07 21:44] #1602 closed

[2017-03-08 00:00] michaelbausor commented on #1449
@gregw @meltsufin The fix for this issue is now in master. We will try to create a release as soon as possible, but we also have other outstanding breaking changes to logging which we would like to include.

It would be great to get verification that these changes have fixed the issue, and if not to figure out what more needs to be done. Are you able to test using the master branch? If not, let me

[2017-03-08 06:03] ludoch commented on #1500
Customer is now escalating the issue with Google support.

[2017-03-08 07:52] dev-priporov opened #1710 "trouble with changing an access for blobs"
I work with Google Storage API via java and I use 0.9.4-alpha(before was 0.9.2-alpha ) version. When I create a blob, I use this code and it works correctly, I get different access levels for a new blob:

    bucket.create(
        getFileName(req),
        fileToInputStream(req),
        Bucket.BlobWriteOption.predefinedAcl(getPredefinedAcl(req.getAccessType()))
    );

but I need to have an oppo

[2017-03-08 11:46] pongad opened #1712 "Serialized size is too large"
The following `LogEntry` closely resembles ones `LoggingHandler` produces.
[code]
Its serialized size is 67 bytes.

However, if we have many entries batched in the same request with the same severity, we can "hoist" the two labels out of the entries and into the request object. (Entries with different severities can still override.) If we comment out the two `putLabels` lines, the serialized size

[2017-03-08 16:10] meltsufin commented on #1449
@gregw Would you be able to run the test again with a build from master?

[2017-03-08 16:29] ulianex opened #1713 "e.getReason() = INVALID_ARGUMENT instead of ALREADY_EXISTS while doing batch insert"
Hi,
I am using  the method below for batch inserting to google datastore:

[code]

After that I am calling `batch.submit()`
As an output I am having an following stacktrace:

`ERROR
! com.google.datastore.v1.client.DatastoreException: entity already exists
! at com.google.datastore.v1.client.RemoteRpc.makeException(RemoteRpc.java:126) ~[datastore-v1-proto-client-1.3.0.jar:na]
! at com.google.datas

[2017-03-08 16:52] #1047 closed

[2017-03-08 17:16] garrettjonesgoogle commented on #1580
This was finished off in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1709 .

[2017-03-08 17:16] #1580 closed

[2017-03-08 20:09] Orbyt commented on #1696
@swftvsn Thank you for the information.

I suggest a notice should be added in the documentation that clearly specifies that Android is not supported. As mentioned earlier, I assumed a "Client library for Java" to be used in a client side Java application, such as a mobile app. Others have had the same assumption, as noted by this issue, others issues like #1361, and more.

If required I can submi

[2017-03-08 20:09] garrettjonesgoogle commented on #1696
Agreed. We will make a note in the docs.

[2017-03-09 00:22] shinfan commented on #1500
Update: I was able to reproduce this issue with my own GAE app. Will investigate.

[2017-03-09 06:52] dev-priporov commented on #1710
well, I found a solution:

    Acl acl = Acl.of(Acl.User.ofAllUsers(), Acl.Role.READER);
    blob.createAcl(acl);
    blob.deleteAcl(acl.getEntity());

But I think it's not as obvious as it can

[2017-03-09 06:52] #1710 closed

[2017-03-09 07:03] nullpointerexcept commented on #1545
@neozwu It's running on VMware in a corporate data center. The refreshAccessToken fail happens about once per day, sometimes with an underlying socket timeout and sometimes connection refused. After a quick application restart, it works fine again.

[2017-03-09 10:48] vkedia commented on #1702
This was fixed by #1711

[2017-03-09 10:48] #1702 closed

[2017-03-09 15:04] #1713 closed

[2017-03-09 17:26] michaelbausor commented on #1532
Closed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1716

[2017-03-09 17:26] #1532 closed

[2017-03-09 21:55] gregw commented on #1532
Could the AsyncLoggingHandler be left as a deprecated extension of LoggingHandler, as that will make transitioning usage easier?

[2017-03-09 23:27] lesv opened #1727 "We need a way to set traceId or RequestId on all requests."
It would be nice to know what request generated this API call.  (RequestID) -- this s.b. for Cloud Trace

[2017-03-09 23:29] gregw commented on #1449
@meltsufin @michaelbausor I'll rerun today... standby ...

[2017-03-09 23:41] michaelbausor commented on #475
@jabubake I am not finding the same issue - what can I do to reproduce?

I am finding that if the log name is set to null in `LoggingHandler` then the default value of "java.log" is used. There is an error case if the user sets the log name to an empty string, which is guaranteed to fail.

And if you use the generated `LoggingClient` directly, we get an exception back from the service, which is wh

[2017-03-09 23:53] shinfan commented on #1500
@lesv It looks like that the reflection method raises `ClassNotFound` exception [here](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L387) while running with GAE dev server. Do you know who should I talk to regading this issue?

[2017-03-10 00:05] lesv commented on #1500
@garrettjonesgoogle Is probably the right person.

[2017-03-10 01:07] gregw commented on #1449
@meltsufin @michaelbausor I've run the same tests and the memory usage is much much better.:

* after sending 80,000 logs and then waiting 30s, I have 5MB on the heap of which nothing much is related to logging.
* immediately after sending another 10,000 logs I have a 13MB heap with 8MB of `com.google.api.gax.bundling.ThresholdBundlingForwarder`
* 30s later I'm back to a 5MB heap.

So there is sti

[2017-03-10 01:42] michaelbausor commented on #1449
@gregw @meltsufin Great, thanks! That matches with what I would expect. I will close this issue once we create a new release.

Also note that @pongad has a PR in progress that will reduce the memory consumption of queued logs further in some cases: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1712

[2017-03-10 10:36] fonzy2013 opened #1729 "PubSub pullAsync redelivery question"
Is there a way to get the redelivery of the message to not be instant if the messageProcesser throws an exception (nack) when using
[code]

I have tried setting the ack-deadline to several minutes but the message is redelivered immediately if the processor throws an exception.

[2017-03-10 10:41] fonzy2013 opened #1730 "pubsub deprecated?"
It seems the entire pubsub namespace is deprecated. What will it be replaced with?

[2017-03-10 15:32] meltsufin commented on #1449
Thanks @michaelbausor!! Also, #1721 sounds like a great idea for compressing the log batches!

[2017-03-10 16:15] garrettjonesgoogle commented on #1699
I'm closing out this issue now - re-open if you have more questions.

[2017-03-10 16:15] #1699 closed

[2017-03-10 16:20] garrettjonesgoogle commented on #1697
It looks like you aren't doing auth correctly. Are you setting an API key?

[2017-03-10 16:23] Orbyt commented on #1500
I have run into an `AccessControlException` as well when trying to use `google-cloud-java` to access Cloud Storage.

As specified [here](https://github.com/GoogleCloudPlatform/google-cloud-java#authentication), after executing `gcloud auth application-default login` the path to the `/Users/example/.config/gcloud/application_default_credentials.json` is returned. Running my App Engine application l

[2017-03-10 16:36] Orbyt commented on #1500
Continuing from my above comment, I have now also tried setting a `GOOGLE_APPLICATION_CREDENTIALS` to the path returned from `gcloud auth application-default login`, however the same `AccessControlException` is thrown.

[2017-03-10 16:48] garrettjonesgoogle commented on #1357
Since we will be adding methods instead of changing them, this isn't a breaking change any more.

[2017-03-10 18:40] lesv commented on #1357
There has been some offline discussion and it doesn't seem like this can be fixed for GA, and might not be able to be fixed at all.

[2017-03-10 18:52] ludoch commented on #1500
What I could try to do is enable read permission so for ~/.config only in the devappserver.

[2017-03-10 18:53] lesv commented on #1500
Garrett told me last night that Shin had gotten further, so I didn't look at this again.

@Orbyt You should rarely need to use `setCredentials()` -- typically it's used for x-project access, a limited scope service account, or to use from a non-google datacenter. For most other cases defaultAuth should work.  In your case, passing the credentials created by `gcloud` is incorrect - you need to pass

[2017-03-10 19:14] Orbyt opened #1731 "AccessControlException (java.io.FilePermission) when trying to access Cloud Storage"
@lesv

Continuing from the conversation [here](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1500#issuecomment-285753341).

I have tried every method suggested [here](https://developers.google.com/identity/protocols/application-default-credentials) but routinely get a `java.security.AccessControlException` which differs depending on which authentication used.

If I don't use `.se

[2017-03-10 19:14] viniciusccarvalho commented on #1681
+1 on this one, I noticed a lot of unnecessary info messages that seems to belong into the DEBUG level.

`INFO 58619 --- [l-10-thread-326] c.g.c.pubsub.spi.v1.MessageDispatcher    : Scheduling next alarm time: 2017-03-10T19:12:58.628Z, last alarm set to time: 292278994-08-17T07:12:55.807Z`

is another example

[2017-03-10 19:17] garrettjonesgoogle commented on #1357
It turns out that replicating the base 64 format of the cloud console in open source isn't possible right now; it requires a proto that isn't open source, and an app id that isn't available in the client library context. I'm going to remove the "release blocking" label.

The solution is probably for cloud console to produce an alternative base 64 format that the client library can reproduce.

[2017-03-10 19:45] viniciusccarvalho opened #1732 "Change signature of RPCFuture.addCallback to allow lambdas as arguments"
Hi, it's nice to have a callback mechanism on the latest pubsub client library, but it would be even better if the RPCFuture.addCallback supported functional interfaces instead of an interface with two methods to process errors and success.

so if instead of addCallback(RpcFutureCallback)

public void subscribe(Consumer<T> success, Consumer<? super Throwable> error){

One could just invoke the sub

[2017-03-10 19:47] lesv commented on #1731
First off, what environment are you developing for?  GAE Std, Flex, GKE, GCP, something else?
Is this local development?

Take a look at the results of `gcloud config list`, is account set?  project?

Are you using Maven, Gradle, or something else?

If Maven, which plugin are you using?

[2017-03-10 20:13] Orbyt commented on #1731
@lesv Java App Engine Standard Environment. I am trying to develop and test out the application locally.

Output of `gcloud config list` is the following:
[code]

Using Maven. There are quite a few plugins listed in my `pom.xml`, which ones are you asking about?

[2017-03-10 20:28] garrettjonesgoogle opened #1733 "Rename PublisherClient to TopicAdminClient, and SubscriberClient to SubscriptionAdminClient"
This will require adding a config in pubsub_gapic.yaml and regenerating the client.

https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1734 might be doable at the same time; it also requires a config modification.

[2017-03-10 20:30] lesv commented on #1731
If you are using the [old Maven Plugin](https://cloud.google.com/appengine/docs/standard/java/tools/maven), you'll be having the problem that they were discussing in #1500 - we can't access the file system, so none of the access mechanisms work.  You might wish to try to the [new plugin](https://cloud.google.com/appengine/docs/standard/java/tools/using-maven), but beware, it's BETA, and has troubl

[2017-03-10 20:30] garrettjonesgoogle opened #1734 "Hide/deprecate the pull/modifyAckDeadline/acknowledge methods on SubscriberClient"
or if https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1733 is done first, this will be on `SubscriptionAdminClient`.

[2017-03-10 20:37] Orbyt commented on #1731
@lesv I assume this conversation I had earlier is relevant: https://github.com/GoogleCloudPlatform/app-maven-plugin/issues/151

The `appengine-maven-plugin` I have defined in my `pom.xml` is as follows:

[code]

I assume this is the "new" plugin. This issue persists.

[2017-03-10 21:03] shinfan commented on #1500
@Orbyt @ludoch

`appEngineProjectId()` uses reflection to retrieve the project ID of GAE application, the access control exception is misleading since `googleCloudProjectId()` should not be called under GAE environment.

Adding the following dependency to my application solves this issue:
[code]

[2017-03-10 21:55] garrettjonesgoogle commented on #1331
I wanted to figure out where we're at for the Netty conflicts. (Guava doesn't actually seem to be relevant to the original requester, so I won't discuss that any more here.)

Gax:

In https://github.com/googleapis/gax-java/pull/215, we have switched from `NettyChannelBuilder` to `ManagedChannelBuilder` (we just haven't created an artifact with it yet).

I did a grep for `netty` in gax-java, and it

[2017-03-10 22:03] garrettjonesgoogle commented on #1462
@mvipat : Does the same thing happen for Logging?

[2017-03-10 22:06] garrettjonesgoogle commented on #1522
The resolution for this issue may be the same as for #1331 (shading netty).

[2017-03-10 22:06] Orbyt commented on #1731
Also, note that their seems to be a issue when using the following method:

[code]

throws an NPE:

[code]

I can read the file normally using GSON, so the file definitely exists. The issue seems to be internal.

[2017-03-10 22:11] garrettjonesgoogle commented on #1567
This is a breaking change because it will fail in more cases than before.

[2017-03-10 22:36] ejona86 commented on #1331
No, there's not a timeline; I've started an email chain to discuss prioritization. Today the solution would be for users to shade it themselves. Based on other discussions, it also sounds like the PR will be incomplete because it fails to address tcnative loading issues. But I guess that will be solved separately by netty/netty#6271 and may not impact as many users.

[2017-03-10 22:49] garrettjonesgoogle opened #1735 "google-auth-library-java/issues/91 retry refreshAccessToken failures"
https://github.com/google/google-auth-library-java/issues/91

[2017-03-10 22:49] garrettjonesgoogle commented on #1735
@lesv Do you think this should be release blocking? (I have provisionally marked it as such)

[2017-03-10 22:50] garrettjonesgoogle commented on #1545
The http call is issued from another library here:

https://github.com/google/google-auth-library-java/blob/master/oauth2_http/java/com/google/auth/oauth2/ServiceAccountCredentials.java#L317

That code has no retries around it.

Since the nature of the fix is much different from the present issue, I'm going to close this one out. I have opened a new issue at https://github.com/GoogleCloudPlatform/

[2017-03-10 22:50] #1545 closed

[2017-03-10 22:58] garrettjonesgoogle commented on #525
@jcondit where is the backend fix now?

[2017-03-10 23:03] garrettjonesgoogle commented on #1667
@greg2010 would you be able to provide an answer to my question?

[2017-03-10 23:04] gitCopyPaster commented on #1361
Thanks for sharing the project @mziccard. I was about to give up on android + GCP Translate because of a `java.lang.NoClassDefFoundError: com.google.api.services.translate.Translate$Builder`  but @mziccard's app compiles and runs for me. I initially saw the 336 errors that @grantespo mentions (the number of which are really inflated because the same, multi-line error is repeated over and over.) I

[2017-03-10 23:05] garrettjonesgoogle commented on #1579
I'm going to go ahead and resolve this now.

[2017-03-10 23:05] #1579 closed

[2017-03-10 23:10] garrettjonesgoogle commented on #1064
@cornmander do you think this initiative still needs to be tracked here?

[2017-03-10 23:33] ludoch commented on #1500
There is no such artifact appengine-java-sdk... What did you really add?

[2017-03-10 23:34] shinfan commented on #1500
@ludoch This is what I added to my pom file:
https://mvnrepository.com/artifact/com.google.appengine/appengine-api-1.0-sdk/1.9.50

[2017-03-10 23:40] ludoch commented on #1500
Ok, so yes, you add the GAE Standard APIs, that define the APIs that
gcloud-java is calling via introspection, so it make sense...

So you are not accessing ~/.config/gcloud with this dep?

On Fri, Mar 10, 2017 at 3:34 PM, Shin Fan <notifications@github.com> wrote:

[2017-03-10 23:46] shinfan commented on #1500
No, we should not need to access the gcloud config. According to the code flow, `getAppEngineProjectId()` should be able find the correct project ID through standard GAE API.

[2017-03-10 23:54] Orbyt commented on #1500
@shinfan That dependency is already added by default when using the Java GAE quickstart.

It does not solve this issue.

[2017-03-11 00:03] shinfan commented on #1731
@Orbyt Can you provide me the full stacktrace of the `AccessControlException`?

[2017-03-11 00:08] Orbyt commented on #1731
Code:

[code]

Stacktrace:

[code]

[2017-03-11 00:21] shinfan commented on #1731
Thanks, this looks the same issue as #1500. The cause of this issue is:
[code]

where `getGoogleCloudProjectId` is called due to the runtime failure in [com.google.cloud.ServiceOptions.getAppEngineProjectId](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/5cbbbae1ac80aecfa742972097c705eb8871930c/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L385)

The failure i

[2017-03-11 00:29] jcondit commented on #525
Deployed to prod.

[2017-03-11 00:32] garrettjonesgoogle commented on #525
@jcondit Thanks!

Next we just need to verify that the client library code works ok in the formerly-problematic scenario.

[2017-03-11 00:34] Orbyt commented on #1731
@shinfan Is this why using
[code]
Also fails with a NPE, as shown above?

I executed `mvn clean package`. A `target/` directory was generated, with the following items:

-  A `/generated-sources` directory
-  A `/maven-archiver` directory
-  A `/maven-status`directory
-  A `/snapshot-app-engine` directory
-  A `/snapshot-app-engine-1.0` directory
- A `snapshot-app-engine-1.0.war file`

Inside `/sn

[2017-03-11 00:44] shinfan commented on #1731
The NPE issue of `.setCredentials`should be a separate issue. Normally you don't need to use that method.

@lesv Is it okay to ask the customer to send a copy of their sample application so I can try to reproduce the issue here? I could not repro with my own app (my own app works fine after adding the appengine sdk dependency)

[2017-03-11 00:53] Orbyt commented on #1731
@shinfan @lesv I would have no issue posting a repo to github as the project is empty and only contains a single `DemoServlet` class. However, because of that i'm not sure how useful posting it would be.

@shinfan You mentioned you are no longer able to reproduce this issue. Are you saying your are able to call `StorageOptions.getDefaultInstance().getService();` without any issues? If so, could th

[2017-03-11 00:56] shinfan commented on #1731
Yes, my sample application was able to call `StorageOptions.getDefaultInstance().getService();` without any issues. Maybe there are some issues of your local environment but I am not 100% sure, that why I think it would be helpful for me to debug with your app. If your app runs fine on my local machine, we can probably confirm it is an environment setup issue.

[2017-03-11 00:58] Orbyt commented on #1731
@shinfan Give me a few minutes and I will upload a repository.

[2017-03-11 01:11] Orbyt commented on #1731
@shinfan I've uploaded a private repository and sent you a collaboration invite.

[2017-03-11 01:29] Orbyt commented on #1731
@shinfan Additionally, perhaps uploading your sample application would help me debug.

[2017-03-11 01:39] thanhlv93 commented on #1697
I setting and using Android key then got above message . I tried public key then ok . I don't know why Android key i can't use it.

[2017-03-11 04:39] greg2010 commented on #1667
Yes, there are 2 problems.
I couldn't identify cause for the first problem. It pops in and out seemingly random. I've had this issue with the previous version of the library too (0.8.0), and I haven't had this issue since the last week.
The second problem stemmed from not using the library properly.
In the Scala example above, .stopAsync is called immediately after creating subscriptions, killing

[2017-03-11 04:39] #1667 closed

[2017-03-11 17:57] Dima1224 commented on #1545
Any ETA for a release with this fix?

[2017-03-12 18:37] Orbyt commented on #1731
Well, automatic authentication seems to suddenly work and an `AccessControlExpception` is no longer thrown. I am able to access GCS and list my projects bucket names.

I am not sure why it has suddenly started working. Yesterday I was curious to see if I would have the same issues listed above with the Node.js implementation of App Engine. I cloned the getting started example, and added the `googl

[2017-03-13 00:09] kinow commented on #1691
I'd suggest updating netty-tcnative to 2.x as per https://github.com/netty/netty/pull/5766

Right now it is blocking using 0.9.4-alpha (or 0.8.0 or 0.7.0) in Linux+Tomcat / SpringBoot+TomcatEmbeddedServletContainer / or Elastic Beanstalk + Tomcat8

[2017-03-13 05:48] pongad opened #1740 "Support configuration of base severity level"
Currently there is no way to modify base severity level of a `LoggingHandler`. Logs with the same severity with the base could be more efficiently sent to Stackdriver.

Some ideas:
1. Do nothing.
The level the handler is set to is probably the most chatty anyway.
2. Give it its own config param.
3. Create `setBaseLevel` method.
This [requires](https://github.com/GoogleCloudPlatform/google-cloud-ja

[2017-03-13 13:41] JoshuaFox commented on #1357
My requirement was for comparability between Datastore Cloud API and Datastore GAE API; the Cloud Console (the GUI) is less relevant.

[2017-03-13 14:11] garrettjonesgoogle commented on #1545
@Dima1224 , this issue is closed - do you want to comment on #1735 instead?

[2017-03-13 14:22] garrettjonesgoogle commented on #1691
@kinow , Is it blocking because of conflicting netty versions? What version of netty does your version of Tomcat depend on?

[2017-03-13 14:30] Dima1224 commented on #1545
Hey @garrettjonesgoogle, I was actually wondering about a release date for this issue. 1735 doesn't concern me as much.

[2017-03-13 14:31] garrettjonesgoogle commented on #1357
@JoshuaFox ok, but the issue is the same anyway, right?

[2017-03-13 14:34] garrettjonesgoogle commented on #1545
@Dima1224  I misinterpreted your message, I'm very sorry about that! We intend on doing a new release this week. Do be aware that the next release will have some breaking changes, though.

[2017-03-13 14:45] JoshuaFox commented on #1357
I don't necessarily know the implementation details, but if the Cloud Console  value is generated by the GAE API; in contrast to the Cloud API; then yes.

[2017-03-13 15:23] vendettacoder commented on #1430
+1

Faced the same issue running the google cloud api java client on ubuntu.
Apparently even the latest version of the google vision api : 0.9.4-beta needs  netty-all 4.1.3.Final for its java client to work. So just force use this version in your existing project. Should work fine!

[2017-03-13 16:10] Dima1224 commented on #1545
Awesome, thanks @garrettjonesgoogle! Is there any way for me to sign up for release notifications? Might be a github feature I'm not aware of?

[2017-03-13 16:53] garrettjonesgoogle commented on #1545
Subscribe to this atom feed: https://github.com/GoogleCloudPlatform/google-cloud-java/releases.atom

[2017-03-13 17:14] Dima1224 commented on #1545
Thanks! I notice all releases after 0.8.0 are named *-alpha. Does this mean I shouldn't hang dependencies on them or is this the way you'll be naming all future releases with some components still in alpha?

[2017-03-13 17:17] garrettjonesgoogle commented on #1545
The `google-cloud` artifact is marked as alpha because it pulls in some components that are alpha and some that are beta, so it didn't seem right to promise beta for everything. Basically, you have to be aware of the quality level of the individual clients that you use. Alternatively, you can depend directly on the individual clients that you need, which will be marked at their corresponding relea

[2017-03-13 18:56] #1500 closed

[2017-03-13 18:56] shinfan commented on #1500
Customer confirmed that the issue has been solved on his end. Closing this issue now.

[2017-03-13 21:19] shinfan opened #1742 "Create a sample app setup that runs on GAE"
It would be helpful if we have a complete setup for a sample app (e.g. Storage) that users can grab and deploy directly without any editing effort.

Ideally the structure would look like this:
--- pom.xml
--- README.md
--- src/paths/to/main/StorageSample.java
--- src/main/webapp/WEB_INF/appengine-web.xml
--- src/main/webapp/WEB_INF/web.xml

so the user just need to clone the folder and run: `mvn a

[2017-03-13 21:24] ludoch commented on #1742
Some are in
https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/appengine
https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/flexible
and java8 branch:
https://github.com/GoogleCloudPlatform/java-docs-samples/tree/java8-master/java8-appengine

On Mon, Mar 13, 2017 at 2:19 PM, Shin Fan <notifications@github.com> wrote:

[2017-03-13 21:28] shinfan commented on #1742
Those samples are not using google-cloud-java. It would be good to have at least one sample that runs with google-cloud-java clients.

[2017-03-13 21:37] lesv commented on #1742
https://github.com/GoogleCloudPlatform/getting-started-java/tree/master/bookshelf-standard
uses GCS, I'll get something into java-docs-samples next week.

[2017-03-13 21:41] lesv commented on #1735
Oh, yes - lots of users run into this kind of failure.  Their access just stops after an hour - it's very hard to find and debug.

[2017-03-13 22:14] jakeam opened #1744 "GCS - "Invalid Credentials" error when debugging locally"
When trying to upload a file to GCS I get the following error.

[code]

I have authenticated using the CLI and am able to list all buckets using 'gsutil ls', however any code that interacts with GCS returns this error when debugging locally.

Please let me know if you require any more details.

[2017-03-13 22:29] lesv commented on #1653
We've been told this shouldn't block GA, as gRPC on GAE 7 gVisor isn't ready yet.  DevRel will take GAE 8 for Q2

[2017-03-13 22:42] lesv commented on #1680
I've put several comments on Google/google-oauth-java-client#145 In two pom.xml, the servlet dependency MUST be marked `<scope>provided</scope>`.  This is always the case for all uses except if you are writing a container engine like Jetty or Tomcat.

[2017-03-13 22:43] lesv commented on #1679
We've asked for additional info.

[2017-03-13 22:44] lesv commented on #1595
@jabubake Can you look at this.

[2017-03-13 22:48] lesv commented on #1462
gRPC still doesn't work for J7 gVisor, but should for J8

[2017-03-13 22:58] #1596 closed

[2017-03-13 23:23] garrettjonesgoogle opened #1745 "Remote*Helper classes: have create() call create(projectId, keyStream)"

[2017-03-13 23:51] #481 closed

[2017-03-14 00:01] lesv commented on #1696
I've both the README.md for the project and the site/index.html (FAQ) #1747 & #1746

[2017-03-14 00:11] lesv commented on #1696
Internal bug written b/36197699

[2017-03-14 00:38] lesv commented on #1744
See #1500 You may need to add 1.9.50 or better of the api to your classpath.

[2017-03-14 00:48] lesv commented on #1700
I'd like to follow this conversation.

[2017-03-14 00:50] lesv commented on #1578
License was fixed in #1695

[2017-03-14 02:31] lesv commented on #1578
[Cobertura maven docs](http://www.mojohaus.org/cobertura-maven-plugin/plugin-info.html)

[2017-03-14 02:37] lesv commented on #1578
Having reviewed the docs and compared with the pom.xml, the configuration looks nothing like what our pom.xml does.

[2017-03-14 02:41] lesv commented on #1536
@gguuss PTAL - what you want appears done - please verify and close this.

[2017-03-14 02:45] lesv commented on #1503
This requires changing the root `pom.xml`.  I don't have your team list, so I'm going to assign you @garrettjonesgoogle

[2017-03-14 05:32] pongad commented on #1682
Closed by #1675 .

[2017-03-14 05:32] #1682 closed

[2017-03-14 10:53] kinow commented on #1691
I have successfully deployed the application using Jetty, and packaging it as an executable war. I'm in the process of creating a smaller example that can be uploaded to GitHub, and also a blog post about it.

My guess is that google-cloud-java is using a version of netty lower than 2.x. Because of that this application is loading a version of netty-tcnative-boringssl-static that loads a class in

[2017-03-14 16:14] garrettjonesgoogle commented on #1601
The PR #1723 will remove the hard class types `HttpServiceOptions` and `GrpcServiceOptions` out of the hierarchy, but the `ServiceRpcT` parameterization needs to be removed too, since the concrete Rpc types are tied to http vs grpc also. That will be in a following PR.

[2017-03-14 16:15] garrettjonesgoogle commented on #1730
Closing out issue.

[2017-03-14 16:15] #1730 closed

[2017-03-14 16:19] garrettjonesgoogle commented on #1732
Unfortunately, we probably aren't going to do this. We are trying to match the patterns of `ListenableFuture` from Guava, which is well-established and widely understood. When we migrate to Java 8, we will fully use the available Java 8 constructs.

[2017-03-14 16:20] garrettjonesgoogle commented on #1696
Since the docs are updated, I will resolve this issue now.

[2017-03-14 16:20] #1696 closed

[2017-03-14 16:22] garrettjonesgoogle commented on #1666
@shinfan can you see if this is resolved with your latest change?

[2017-03-14 17:44] gguuss commented on #1536
We're still missing top-level links to reference documentation for the most important methods in Vision, Speech, and Natural Language.

As a specific example [in the 0.9.3 documentation](http://googlecloudplatform.github.io/google-cloud-java/0.9.3/apidocs/index.html), the package `com.google.cloud.vision.spi` appears in the package list but not `com.google.cloud.vision.v1`. For example, [com.googl

[2017-03-14 17:46] jabubake commented on #475
@michaelbausor  : retested, looks like this is fine. I am seeing the exception, I think my test was incorrect earlier.
With the generated LoggingClient, I am seeing : Exception in thread "main" com.google.cloud.logging.LoggingException: io.grpc.StatusRuntimeException: INVALID_ARGUMENT
Code used to test : https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/logging/cloud-client/src/

[2017-03-14 17:46] #475 closed

[2017-03-14 18:56] lesv commented on #1727
StackDriver Trace needs this -- @rakyll is interested in this as well.

[2017-03-14 21:16] hmigneron opened #1751 "Pubsub : Publisher / Subscriber with service accounts"
The `com.google.cloud.pubsub` namespace now being deprecated, I'm trying to use use the replacement (Publisher / Subscriber in `com.google.cloud.pubsub.spi.v1`).

I can't find an example of how to use service accounts though. With the deprecated version I would use

[code]

where `Configurations.getGoogleCloudCredentials()` points to a json file with the credentials.

What's the equivalent now ? H

[2017-03-14 22:35] omaray opened #1752 "Test top 3 APIs on GAE Flex, GKE, and GCP"
Test Storage, Datastore, and Logging client libraries on all the GCP platforms (don't include GAE Standard).

Close this issue once we confirm it all works.

[2017-03-14 23:46] garrettjonesgoogle commented on #1536
We have a problem because those classes are defined in a dependency, not within google-cloud-java itself. It doesn't seem like a good idea to include javadocs for types in another package. @lesv , what do you think?

[2017-03-15 00:08] #1681 closed

[2017-03-15 01:20] lesv commented on #1536
If it's something the user will need / want, we should either provided it or point them to the right place.

[2017-03-15 01:52] garrettjonesgoogle commented on #1536
@lesv , we are already doing that - when users are looking at http://googlecloudplatform.github.io/google-cloud-java/0.9.4/apidocs/index.html?com/google/cloud/vision/spi/v1/ImageAnnotatorClient.html for example, they can click on the types in the function signatures and return types and they will navigate to the docs for them (e.g. http://googleapis.github.io/googleapis/java/grpc-google-cloud-visi

[2017-03-15 03:08] #1686 closed

[2017-03-15 03:41] kinow commented on #1691
Here's an example project.

https://github.com/kinow/gs-spring-boot/tree/reproduce-google-nlp-issue/complete

Here's the diff: https://github.com/spring-guides/gs-spring-boot/compare/master...kinow:reproduce-google-nlp-issue

I forked the [Spring Boot Getting Started sample application](https://spring.io/guides/gs/spring-boot/), which is using the latest version of Spring Boot. Created a branch, a

[2017-03-15 17:55] lesv commented on #1536
I looked at the docs, actually before my last post, and didn't see any of the com.google.... classes / methods / etc in the java docs. (ie. stuff w/o definition).  That's why I was asking @gguuss if it appeared correct in 0.9.4.  If not, could you give a specific example we can look at?

The link Gus gave to the [grpc-google-cloud-vision](http://googleapis.github.io/googleapis/java/grpc-google-clo

[2017-03-15 18:34] #1617 closed

[2017-03-15 21:14] jakeam commented on #1731
I'm also having a similar problem, I get the below error. I have also tried using a service key and setting the environment variable to point to the key with no luck.

`{
 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "backendError",
    "message": "java.security.AccessControlException: access denied (\"java.io.FilePermission\" \"/home/jakeam/.config/gcloud/active_config\" \"

[2017-03-15 21:21] shinfan commented on #1731
@jabubake This issue should be fixed by adding the correct dependency into your application pom:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/APPENGINE.md

[2017-03-15 21:45] jakeam commented on #1731
@shinfan That dependency is included.

[2017-03-15 23:13] gguuss commented on #1536
Maybe I'm not being clear enough:

[Starting from the only vision API available from the JavaDoc content](http://googlecloudplatform.github.io/google-cloud-java/0.9.4/apidocs/index.html?com/google/cloud/vision/spi/v1/ImageAnnotatorClient.html):
![](http://wheresgus.com/toc_issue.png)

Click the link to the response from the API call:
![](http://wheresgus.com/link_to_orphan.png)

You are now in orp

[2017-03-16 00:20] #1712 closed

[2017-03-16 00:55] garrettjonesgoogle opened #1760 "Delete deprecated pubsub client"
Associated unit tests, integration tests, and snippets need to be deleted too.

We should write a couple new integration tests to make sure our library doesn't go DOA. Also there might be some interesting scenarios in `AckDeadlineRenewerTest` and `BaseSystemTest`->`LocalSystemTest` to consider retaining (needs research).

[2017-03-16 01:08] garrettjonesgoogle opened #1761 "Create ApiService in GAX and use it in Subscriber"
In `Subscriber`, we currently wrap `AbstractService` from Guava. We should instead create a wrapper `ApiService` in GAX and use that, so that if we have other cases for a Service, we don't have to duplicate code.

[2017-03-16 01:42] lesv commented on #1536
I agree.

The problem is that they don't have the source -- probably should to be a veneer library.

[ImageAnnotatorClient](http://googlecloudplatform.github.io/google-cloud-java/0.9.4/apidocs/index.html?com/google/cloud/vision/spi/v1/ImageAnnotatorClient.html) should either link to [BatchAnnotateImagesRequest](http://googleapis.github.io/googleapis/java/grpc-google-cloud-vision-v1/0.1.6/apidocs/i

[2017-03-16 02:56] gguuss commented on #1536
I'm also ok with this not blocking release as the docs are still getting published and once you understand the response objects are just in a separate place, the relevant docs are nested within the links from the .spi.v1 docs. It sounds like this can be closed as "will not implement" or "not feasible" and maybe we could track this as a feature request.

[2017-03-16 15:20] #1744 closed

[2017-03-16 16:46] Dima1224 commented on #1545
One more question @garrettjonesgoogle. I've upgraded to 0.9.4-alpha of the storage lib and am now seeing yet another case of an exception which should be retried but is not (javax.net.ssl.SSLHandshakeException). Should I create another ticket for this?

[2017-03-16 18:16] garrettjonesgoogle commented on #1545
@Dima1224 yes, go ahead and create another issue.

1. This is a new root cause
2. Newer issues will be more visible by default

[2017-03-16 19:26] garrettjonesgoogle commented on #1536
I will take the "release blocking" label off of this issue, but I think I will keep it open - we can track the request for showing exposed types from dependencies more prominently.

[2017-03-16 20:36] Dima1224 opened #1762 "Retry javax.net.ssl.SSLHandshakeException"
The storage lib doesn't currently consider SSLHandshakeException retryable.

From BaseServiceException:
[code]
But the following type of exception should be retried in the same way a SocketException is retried.
`
Exception in thread "main" com.google.cloud.storage.StorageException: Remote host closed connection during handshake
	at com.google.cloud.storage.spi.DefaultStorageRpc.translate(DefaultSt

[2017-03-16 21:17] buchgr opened #1763 "Better support protobuf's ByteString in ByteArray."
The `ByteArray` type uses protobuf's `ByteString` under the hood, but doesn't allow an outside user to turn a `ByteString` into a `ByteArray` (or vice versa) without making an explicit copy. Given that both `ByteString` and `ByteArray` are immutable, I can't see a reason why this should not be possible. For example, a `ByteArray.wrap(ByteString)` and `ByteArray.asByteString()` method seem appropri

[2017-03-16 21:34] waprin opened #1764 "getNextPageToken returns Object, setPageToken taking String"
This is using the Monitoring VTK. This causes a lot of ugly code since casting a null to a String is an exception.

[2017-03-16 21:34] waprin commented on #1764
lesv says it blocks release

[2017-03-16 21:36] garrettjonesgoogle commented on #1764
Monitoring isn't part of the 4 GA APIs, so this issue shouldn't block GA.

[2017-03-16 21:40] garrettjonesgoogle commented on #1764
@lesv since the marking of this issue as release-blocking involves a second-hand report from a statement by you, could you clarify here?

[2017-03-16 21:53] lesv commented on #1764
Yea - it doesn't block GA - it should, however get fixed at some point.

(I was at his desk when it wrote this up.)  (I thought this tag was block next release of Monitoring)

[2017-03-16 21:55] garrettjonesgoogle commented on #1764
It's "future release blocking" I guess, but to make the next release easier to track, I removed the label.

[2017-03-16 22:42] waprin commented on #1764
It's also not quite as bad as I realized since the Object returned isn't null, it's just the empty String, so it's safe to cast to String. Still a pretty weird API inconsistency.

[2017-03-16 22:54] garrettjonesgoogle commented on #1573
blocking issues:

* https://github.com/googleapis/api-common-java/issues/8 "Remove Guava from surface (remove from public classes and methods)"
* https://github.com/googleapis/gax-java/issues/240 "delete PathTemplate & related classes, depend on api-common-java"

[2017-03-16 23:20] garrettjonesgoogle commented on #1573
I will migrate Java grpc package generation to toolkit as part of this change.

[2017-03-17 01:51] michaelbausor commented on #1449
This is now released in https://github.com/GoogleCloudPlatform/google-cloud-java/releases/tag/v0.10.0

[2017-03-17 01:51] #1449 closed

[2017-03-17 16:04] #1601 closed

[2017-03-17 16:54] garrettjonesgoogle commented on #1680
So I looked into why google-cloud-core depends on google-api-client-appengine, and found that I could narrow the dependencies and avoid pulling in servlet-api transitively, even without changing google-api-client-appengine. See https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1766 .

[2017-03-17 17:15] #552 closed

[2017-03-17 18:28] #1680 closed

[2017-03-17 22:19] vkedia opened #1769 "Move general purpose classes from google-cloud-spanner to google-cloud-core"
Few of the classes in google-cloud-spanner are general enough that they can be useful in existing apis (in the case of ByteArrays) or presumably might be useful in future for other apis (in the case of Date and Timestamp). We should move these to google-cloud-core.

[2017-03-17 22:20] vkedia commented on #1769
cc @garrettjonesgoogle

[2017-03-18 22:50] jakeam commented on #1731
I'm still experiencing this issue, is there any update on this?

[2017-03-18 23:28] lesv commented on #1731
Have you tried updating to 0.10.0-beta ??  (Not sure it will help, but at least that will eliminate that case)  (I'm going to reread the notes.)

[2017-03-18 23:47] lesv commented on #1731
@Orbyt Apologies - I looked at some sample code and saw that it included the client library so I thought it was actually using the API.  But I looked at the [code](https://github.com/GoogleCloudPlatform/getting-started-java/blob/master/bookshelf-standard/3-binary-data/src/main/java/com/example/getstarted/util/CloudStorageHelper.java) and it's actually using older blobstore  API's.  In looking at o

[2017-03-20 16:26] henryjcee opened #1772 "No syncRecognize response (DEADLINE_EXCEEDED) using Java speech client library"
As Requested in https://groups.google.com/forum/#!msg/cloud-speech-discuss/ I'm opening a ticket on here.

Using both the sample and a bare Java 8/Spring/Tomcat 8 stack with Java speech client versions 0.8.0 / 0.9.4-alpha / 0.10.0-alpha I get no response when I make a syncRecognise request. The request future doesn't resolve until I eventually get a com.google.api.gax.grpc.ApiException: io.grpc.St

[2017-03-20 22:12] jerjou commented on #1731
* **Re: GAE Bookshelf** - I believe the bookshelf is already using `google-cloud-java` - the [package name](https://github.com/GoogleCloudPlatform/getting-started-java/blob/master/bookshelf-standard/3-binary-data/src/main/java/com/example/getstarted/util/CloudStorageHelper.java#L19) [matches](http://googlecloudplatform.github.io/google-cloud-java/0.10.0/apidocs/).
* **Re: java.io.FilePermission er

[2017-03-20 23:37] jabubake opened #1776 "gRPC version upgrade"
Looks like certain version of Maven (2.2.1, 3.2.2 and 3.2.3) run into issues with com.google.code.gson:gson:2.3: https://github.com/google/gson/issues/588
The issue is resolved in gson : 2.3.1.
The older version(2.3) is linked in google-cloud-core from grpc 1.0.3.
 grpc 1.1+ support gson:2.7. Is there a reason not to be on atleast 1.1.x of grpc ?

 [INFO] |  |  +- io.grpc:grpc-protobuf:jar:1.0.3:c

[2017-03-21 10:11] buchgr commented on #1776
**tl;dr;**
Yes to upgrading! :-)

There is another problem due to no fault of Google Cloud Java. gRPC 1.1.x and 1.0x aren't binary compatible (on a Java Byte Code level).

This commit [1] changed the return type of `NettyChannelBuilder.build()` from `ManagedChannelImpl` (1.0.x) to `ManagedChannel` (>= 1.1.0). A Java method signature does not include the return type, however, a Java Byte Code metho

[2017-03-21 16:11] michaelbausor commented on #1692
Fixed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1775

[2017-03-21 16:11] #1692 closed

[2017-03-21 18:07] viniciusccarvalho opened #1777 "Enable PubSubHelper to work with new APIs"
The PubSubHelper class has moved to the `deprecated` package. Currently when trying to use it and configure a PublisherClient, I'm getting exceptions with authentication and refrershtoken not being supported on NoCredentials class provided by the PubSubHelper.

Even after configuring that, the server throws errors on calls not being in HTTP/2 format.

It would be great if we could user the PubSubH

[2017-03-21 18:30] vam-google commented on #1574
Merged to upstream. Closing.

[2017-03-21 18:30] #1574 closed

[2017-03-21 18:30] vam-google commented on #1575
Merged to upstream. Closing.

[2017-03-21 18:30] #1575 closed

[2017-03-21 19:14] saturnism opened #1778 "Implement NoCredentials.refreshAccessToken()"
This credential is used in tests. This method will be called somewhere downstream and will expect to be implemented and return an `AccessToken`.

[2017-03-21 23:00] patflynn opened #1779 "TRANSLATE: Are the supported languages documented in the API Docs?"
I'm trying to use the translate API Docs: http://googlecloudplatform.github.io/google-cloud-java/0.10.0/apidocs/?com/google/cloud/translate/package-summary.html

I can't find anywhere that lists the set of valid language options.  Should this be an enum somewhere?

[2017-03-21 23:02] neozwu commented on #1567
I think there are two issues here.
The first one is that google-cloud-java library doesn’t have an `allocateId` function to reserve a user-specified ID (or a range of Ids), which is really what the stackoverflow user was looking for. My understanding is that the reference mentioned in that thread applies only to GAE. @eddavisson please correct me if I’m wrong.
The second issue is that the `allocat

[2017-03-22 01:17] patflynn opened #1780 "TRANSLATE: Using 0.10.0-alpha from the docs causes java.lang.ClassNotFoundException: com.google.cloud.ServiceDefaults"
I think this probably happens if you just follow the getting started but my occurrence happened in:
https://github.com/patflynn/kplay/tree/broken-translate-api

You'll need to run cd into the spring-boot-simple directory and run mvn spring-boot:run
and then hit localhost:8080/visit

(that endpoints uses datastore so you'll need some creds in your environment)

0.9.4-alpha works fine.

[code]

[2017-03-22 02:55] garrettjonesgoogle commented on #1772
This is likely to be the same general class of root cause as https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1430 , which is that there is likely to be a problem loading netty-tcnative.

To be sure, you need to set your logging level to FINE to see if you see logs that say `Unable to load the library: netty-tcnative-linux-x86_64`.

[2017-03-22 03:10] garrettjonesgoogle commented on #1776
We already have this issue for upgrading grpc: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1691 ; work hasn't started yet.

We have also already pulled in a change in gax-java (https://github.com/googleapis/gax-java/issues/208) to switch from `NettyChannelBuilder` to `ManagedChannelBuilder`. This is in master but hasn't been released yet.

[2017-03-22 04:20] garrettjonesgoogle commented on #1780
You are using version `0.9.3-beta` of google-cloud-datastore, so it is likely that version `0.9.3-beta` of google-cloud-core is being used, which doesn't have `ServiceDefaults`. You always need to keep the google-cloud-* packages at the same version.

[2017-03-22 04:27] garrettjonesgoogle commented on #1779
There is a link from https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-translate/src/main/java/com/google/cloud/translate/Language.java#L32 to https://cloud.google.com/translate/v2/translate-reference#supported_languages , but it appears that this link isn't really valid any more. The link should be https://cloud.google.com/translate/docs/languages .

This list seem

[2017-03-22 08:31] omaray commented on #1605
Hey Jatins. So sorry for such the long delay. So there might have been a side manual effort to indeed add support.

However, it's such a big APIs that doing it by hand is not the right approach here. We have a better automated approach that we hope will come soon. The automated approach allows for many advantages: (1) the surface is pretty simple (though large) and is easier to automate (2) if com

[2017-03-22 08:37] omaray commented on #1369
Not in the plans to add an exact timeline. Would something "more ball parky" make sense?

[2017-03-22 12:05] ppatihsb opened #1781 "pom - parent POM - artifact not found"
Project build error: Non-resolvable parent POM for com.google.cloud:google-cloud-bigquery:${beta.version}: Could not find artifact com.google.cloud:google-cloud-pom:pom:0.10.1-SNAPSHOT and 'parent.relativePath' points at wrong local POM

irrespective of the version.

[2017-03-22 13:24] patflynn commented on #1780
Aha I did not realize this.  Do we document it somewhere?  It should probably be a big warning on each individual libraries getting started.

So does that mean that every release entails a release of all the libraries in this repo with a common version?

[2017-03-22 14:19] garrettjonesgoogle commented on #1781
What command are you running and where are you running it?

[2017-03-22 14:21] garrettjonesgoogle commented on #1780
We don't have it documented anywhere yet. It's worth adding I think.

Yes, the release process will release all libraries with a common version, even the libraries that haven't changed themselves (since often there will be dependencies that changed).

[2017-03-22 14:44] patflynn commented on #1780
how are you guys going to GA subsets of these libraries if they all share
the same version?

On Wed, Mar 22, 2017 at 7:21 AM, garrettjonesgoogle <
notifications@github.com> wrote:

[2017-03-22 14:54] henryjcee commented on #1772
This is correct, moronic tcnative config error on my part. Thanks for your time and I'll report back to the groups convo.

[2017-03-22 15:05] garrettjonesgoogle commented on #1780
We'll have a slightly more complicated situation when we go GA - the GA clients will be at one version (1.x), and the alpha/beta clients will be at another version (0.x). They will still all move forward in lockstep, though.

[2017-03-22 15:34] patflynn commented on #1780
How do the users of the APIs know which versions go with which?

I'm having an issue now where I assumed that I would just extract the common version to a property in my pom but 0.10.0-beta from the datastore instructions doesn't resolve to a translate version, and 0.9.4-alpha in the translate API instructions don't resolve to a datastore version.

[2017-03-22 15:34] patflynn commented on #1780
@ludoch
@rdayal

[2017-03-22 15:45] patflynn opened #1782 "translate: docs issue in readme."
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-translate/README.md

the instructions say to add:
`String detectedLanguage = detection.getLanguage();`

But no 'detection' variable has been created at this point.

[2017-03-22 15:54] garrettjonesgoogle commented on #1780
I would suggest just tracking a couple versions like we do in the core google-cloud-java pom.xml:

[code]

later, add a GA version:

[code]

As for which versions go with which, we'll have the latest coordinating alpha/beta/ga versions in the main README.md.

[2017-03-22 17:04] patflynn opened #1785 "Translate: service factory method seems oddly placed"
Is it me or is TranslateOptions an odd place to expect a method to get a Translation Service instance?

`TranslateOptions.getDefaultInstance().getService();`

[2017-03-22 17:16] garrettjonesgoogle commented on #1785
It's not just you... It's a longstanding pattern for all services in google-cloud-java though, and would be really disruptive to change.

[2017-03-22 18:08] vkedia opened #1786 "ServiceOptions should allow the path of credentials file to be passed in."
Currently we can supply the credentials by parsing the Credentials ourselves from the credentials file and then calling setCredentials. One concern with this is that we also have to call setProjectId even though the credentials file has the project id. When we set the GOOGLE_APPLICATION_CREDENTIALS variable, the library is smart enough to pick the project id from that.
Similarly if we had a method

[2017-03-22 18:28] vkedia commented on #1573
We will also need to shade protobuf-java-util and guava that it depends on once PR #1770 is merged.

[2017-03-22 18:46] vkedia commented on #1769
Closed by #1770

[2017-03-22 18:46] #1769 closed

[2017-03-22 19:20] vkedia opened #1788 "Consider trimming the dependencies of google-cloud-spanner"
Currently google-cloud-spanner pulls in lot of dependencies most of which it does not need. We should consider if it is possible to refactor the dependency chain in such a way as to reduce the number:
Here is the current tree:
[code]

[2017-03-22 20:11] garrettjonesgoogle opened #1789 "Remove obsolete PubSub references from docs"
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/TESTING.md
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/README.md

grep for any others too.

[2017-03-22 21:18] garrettjonesgoogle opened #1791 "Remove usage of spi Tuple classes under google-cloud-examples"
* https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/bigquery/BigQueryExample.java uses `com.google.cloud.bigquery.spi.v2.BigQueryRpc.Tuple`
* https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/storage/StorageExample.java uses `com.google.c

[2017-03-22 21:48] garrettjonesgoogle commented on #1776
Resolving this issue in favor of #1691 .

[2017-03-22 21:48] #1776 closed

[2017-03-22 22:01] garrettjonesgoogle commented on #1691
This is blocked on artman updates to fix grpc package generation (https://github.com/googleapis/toolkit/issues/803). cc @shinfan

[2017-03-22 22:22] garrettjonesgoogle commented on #1788
I'm guessing it is the `com.google.*-client` dependencies that you take issue with, which are necessary for old-platform APIs (BigQuery, Compute, Storage, etc) but not grpc-based APIs. I agree that this should be trimmed down for grpc-based APIs.

There is one dependency I found that nothing needs, which is `guice`, which seems to have been added a while back to `gax-java` and `api-common` but whi

[2017-03-22 22:43] vkedia commented on #1788
Yeah those were the glaring ones. They also end up pulling bit of other cruft.

[2017-03-22 23:58] garrettjonesgoogle opened #1792 "BigQuery: Support Date, Time, and DateTime types in FieldValue"
Use types from threetenbp.

[2017-03-22 23:59] garrettjonesgoogle commented on #1609
Feature hole discovered: Date, Time, and DateTime are not supported as query outputs yet. Filed issue: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1792

[2017-03-23 05:18] #1760 closed

[2017-03-23 06:46] pongad opened #1795 "Fix LoggingHandler flush"
Logging handler's `flush()` calls `LoggingImpl.write` which eventually calls `LoggingClient.writeLogEntries` which uses bundling. So, handler flushing just moves messages from one buffer to another without actually making any RPC call.

## Proposed fix
LoggingHandler should keep a count of pending messages. The count increments with calls to publish and decrements when RPC returns.

Flush should f

[2017-03-23 08:11] davidecavestro commented on #1490
In the meatime we ended up using
[code]

[2017-03-23 09:50] buchgr commented on #1691
@kinow
the DEADLINE_EXCEEDED and any netty-tcnative issues seem unrelated.

- gRPC uses netty-tcnative to use openssl/boringssl instead of the JDK's (slower) TLS implementation.
- The gRPC protocol supports deadlines/timeouts, so that when making an RPC call you can set an upper limit on how long this call may take, if this time is exceeded you get the `DEADLINE_EXCEEDED`. Google Cloud NLP is like

[2017-03-23 09:52] fonzy2013 commented on #1730
When will the documentation and examples be updated with the new API?

[2017-03-23 09:56] fonzy2013 opened #1797 "pubsub DEADLINE_EXCEEDED (after period of inactivity)"
We see a strange behaviour in when there is low traffic on a topic where stackdriver shows a spike in undelivered messages as well as oldest unacknowledged message.

We do get some io.grpc.StatusRuntimeExceptions during these low traffic times but not when there is high traffic during the day.

Could comeone have an explaination about this? We are using
-netty-all 4.1.5.Final
- com.google.cloud 0.

[2017-03-23 10:06] kinow commented on #1691
@buchgr

You could be right. If I find time next week I will debug what happens in the Google Cloud NLP API. So far what I noticed is that when using Tomcat with Google Cloud NLP, I can see that it

* instantiates the channel and executors thread
* successfully finds the credentials and crafts a request payload
* an asynchronous request is sent (or prepared to be sent? will use Wireshark or debug

[2017-03-23 12:01] kinow commented on #1691
Had some time before going to sleep. Running the sample application with Tomcat embedded container, I still get the `DEADLINE_EXCEEDED` exception. Filtering packages in wireshark (query: ), I can see some TCP packages being transmitted. Among the initial ones I can see one that contains accounts.google.com.

![screenshot_2017-03-24_01-00-25](https://cloud.githubusercontent.com/assets/304786/242466

[2017-03-23 14:29] garrettjonesgoogle commented on #1691
cc @ejona86 here is another example of the DEADLINE_EXCEEDED issue.

@buchgr and @kinow , this is very likely caused by an issue with loading netty-tcnative, similar to https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1430 and https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1772 . Basically when netty-tcnative doesn't load right, there is some misbehavior somewhere a

[2017-03-23 15:00] garrettjonesgoogle commented on #1730
We have an issue for cleaning up the docs: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1789

[2017-03-23 15:01] garrettjonesgoogle commented on #1797
This sounds suspiciously like issues that have been seen with grpc in other languages.

[2017-03-23 15:54] #1567 closed

[2017-03-23 16:01] garrettjonesgoogle commented on #1795
@pongad could you reword the description in terms of a command instead of a problem? (e.g. "Fix logging flush")

[2017-03-23 16:08] garrettjonesgoogle commented on #1573
The task to split the proto-generated classes and grpc-generated classes is being tracked in https://github.com/googleapis/toolkit/issues/803 , and @shinfan is working on it.

[2017-03-23 17:56] lesv opened #1798 "paging vs infinite API's - Cloud Storage, but more broadly applicable..."
In looking at the cloud storage API's, they are really a mapping of our internal protobuf apis to a client surface rather than going with what we had hoped to be the more natural view.

For example  we show the following for list:

[code]

In actuality the usage is more like:

[code]

In a sense there are cases where it makes sense to use paging, such as doing so in a web app, but there are also m

[2017-03-23 18:20] garrettjonesgoogle commented on #1798
@michaelbausor is actually working on the paging interface right now (https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1568). Mike, could you chime in here?

[2017-03-23 18:36] michaelbausor commented on #1798
@lesv I am not sure I fully understand. The `iterateAll()` method does handle paging behind the scenes and iterate over all elements. So in your second code block, the calls to `getNextPage()` are not required - `blobs.iterateAll()` will make those calls in the background and iterate over everything.

This is the same in the autogenerated paging implementation, which provides an `iterateAllElement

[2017-03-23 19:52] ramramanathan1 opened #1800 "Vision API broken: Google App Engine does not support Runtime.addShutdownHook"
@ApiMethod(name = "analyzeImage")
      public Message analyzeImage(@Named("imgURL") String imgURL) {
        try {
            GoogleCredential credential = GoogleCredential.getApplicationDefault();

             ImageAnnotatorClient vision = ImageAnnotatorClient.create();

         // Performs label detection on the image file
            BatchAnnotateImagesResponse response = vision.batchAnnota

[2017-03-23 20:01] garrettjonesgoogle opened #1801 "Docs: make clear that app engine standard w/ Java 7 not supported yet for grpc-based APIs"

[2017-03-23 20:13] lesv commented on #1369
Probably giving folks the following as an estimate would be ok.  Something like should be before 17Q4.

[2017-03-23 20:50] saturnism opened #1802 "Shade Guava in google-cloud-spanner"
Spanner.closeAsync() exposes ListenableFuture from Guava

Causing issues when writing a POC w/ @emmanuelbernard on Hibernate OGM dialect.

[2017-03-23 20:51] garrettjonesgoogle commented on #1802
This should be switched to ApiFuture from GAX.

[2017-03-23 21:01] emmanuelbernard opened #1803 "Different google-cloud-java artifacts depends on different versions of the libraries, breaking build any enforcer projects"
Hey,

I'm winged by @glaforge on having a Hibernate OGM dialect. Here is the error I get from an enforcer based maven module (we use enforcer because I'm told it's the right thing to do :) ).

The module dependency definition is

[code]

[code]

[2017-03-23 21:17] emmanuelbernard commented on #1803
Also CCing @saturnism

[2017-03-23 21:20] garrettjonesgoogle commented on #1803
Someone submitted a PR to address this issue: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1659 , but I haven't gotten a chance to look at integrating it yet.

[2017-03-23 21:45] saturnism opened #1804 "Spanner - consider adding .set(...).toNull() method"
Currently setting a field to null requires to call the type-specific `.to(...)` method for the type. If setting something to null, we need to `.set("field").to((String) null)`

Consider adding a `.set(...).toNull()` method

[2017-03-23 22:01] emmanuelbernard opened #1805 "Spanner - Improve methods from some of the builder patterns for generic usages"
When writing things like object mappers, the builder pattern tends to get in the way unless it has some generic input methods. Here is for example the `Mutation` usage I had to do

[code]

One improvement could be to offer a generic `to(Object)` method that does the `instanceof` check for me.

Another possible improvement (that would not help for my case) is to offer

[code]

[2017-03-23 22:03] kinow commented on #1691
Thanks @garrettjonesgoogle

Note to self, check the logs :-) Here's the output after adding a logback file like this:

[code]

Omitting only the access settings

[code]

[2017-03-23 22:28] lesv commented on #1803
Garrett and I talked about this getting fixed before GA a few weeks ago.  @ludoch asked for it to block as well.

[2017-03-23 22:35] jerjou opened #1807 "PubSub - doesn't work on App Engine Standard"
Since the pubsub client lib is all async and uses thread pools (which GAE Standard doesn't allow), the pubsub lib doesn't work on GAE Standard.

[2017-03-23 22:38] garrettjonesgoogle commented on #1807
Could you make a request for a specific change you would like to see?

[2017-03-23 22:45] jerjou commented on #1807
At a high level, I'd like our client libraries to work on GAE Standard :-) I can think of a couple options I'd be happy with:

* GAE Standard supports background threads making urlfetches (this should fix at least the problem I'm currently encountering, when trying to publish to a topic on GAE Standard). I understand this option is outside the scope of this repo :-)
* PubSub client lib otherwise g

[2017-03-23 22:57] pongad commented on #1795
@garrettjonesgoogle I never seem to be able to remember. Done.

[2017-03-23 22:59] garrettjonesgoogle commented on #1795
Also reword the extended description, recommending a course of action to take.

[2017-03-23 23:42] lesv commented on #1798
Cool - it's not the first time that I've missed something, probably won't be the last. :(

Since I have everyone's attention, should we change our example to be:

[code]

[2017-03-24 02:09] saturnism commented on #1804
/cc @emmanuelbernard

[2017-03-24 07:37] fonzy2013 commented on #1797
Yes I saw them when I googled. It is super weird as it happens when there is low traffic

[2017-03-24 07:51] fonzy2013 commented on #1797
Here is a picture from stackdriver showing a month worth of data.
The spikes in undelivered messages happen on weekends and in the nights.
If anyone have any idea on how to debug this I would be happy to help.
![screen shot 2017-03-24 at 08 48 19](https://cloud.githubusercontent.com/assets/10739838/24285124/eee1dd3a-106e-11e7-80d2-a2a43466c8f8.png)

[2017-03-24 11:52] #1360 closed

[2017-03-24 14:30] garrettjonesgoogle commented on #1797
We will be upgrading to grpc 1.2 soon: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1691 ; If the issue is fixed by that, then there would be no work to be done.

[2017-03-24 15:09] Horneth commented on #1343
Just wanted to add some more information to this. To work around this we create a `CloudStorageFileSystemProvider` that we then re-use to generate `Path`s, as long as we know they share the same credentials.
The `getPath` method in `CloudStorageFileSystemProvider` takes a java `URI`. Which means we need to first turn a string "gs://bucket/path/to/object" into an URI. When calling `URI.create` on a

[2017-03-24 17:42] jean-philippe-martin commented on #1343
Thanks @Horneth, that is a good point.

For the underscore issue, if you know you're using Google Cloud Storage you can work around the `getPath` limitation by calling `CloudStorageFileSystem.forBucket`, which takes a `String` for the bucket name and allows it to have an underscore.

[code]

[2017-03-24 21:50] lesv opened #1809 "JavaDoc missing for PubSub ??"
Looking at the [javadocs](http://googlecloudplatform.github.io/google-cloud-java/0.10.0/apidocs/) for 0.10.0

I don't see `com.google.pubsub.v1` listed, just:

com.google.cloud.pubsub.deprecated
com.google.cloud.pubsub.deprecated.spi
com.google.cloud.pubsub.deprecated.testing
com.google.cloud.pubsub.spi.v1

Am I missing something?

@pongad
@garrettjonesgoogle
@jabubake

[2017-03-24 21:53] lesv commented on #1809
I guess this is totally auto gen'd api.  Didn't realize that.

[2017-03-24 21:53] #1809 closed

[2017-03-24 22:24] saturnism opened #1810 "Spanner - Expose transaction protocol"
Currently, transaction is wrapped around a single run block. Typically, there is a begin transaction & commit semantic where we can get a tx ID and tie operation to the tx ID. According to @vkedia, there is the wire protocol for this, that can be exposed. This could help significantly in tying better w/ JTA standards.

Currently, the [community jdbc driver](https://github.com/olavloite/spanner-jdb

[2017-03-24 22:25] saturnism commented on #1810
/cc @glaforge

[2017-03-24 22:32] vkedia commented on #1627
@saturnism @emmanuelbernard This will be needed to implement [JTA](http://www.oracle.com/technetwork/java/javaee/jta/index.html) as well.

[2017-03-24 22:37] lesv opened #1811 "JavaDoc's - we need to find a way to move autogen'd API's up to API packages."
Looking at the 0.10.0 [javadoc](http://googlecloudplatform.github.io/google-cloud-java/0.10.0/apidocs/), pubsub appears to be deprecated.

It would be nice if we could have autogen'd api's show up under **API Packages**.

Or we need to figure out how to train developers to look under SPI.

@garrettjonesgoogle
@omaray FYI

[2017-03-24 22:38] lesv commented on #1811
Also, should spaner.spi be listed up there?

[2017-03-25 10:03] ppatihsb commented on #1781
I just tried to import the google-cloud-bigquery project into my eclipse
workspace.
There it showed the pom error.

Not any command.

Regards.

On Wed, Mar 22, 2017 at 2:19 PM, garrettjonesgoogle <
notifications@github.com> wrote:

[2017-03-25 17:16] pditommaso commented on #1458
Tried version `0.10.0-alpha`. Still no solution to launch more than one instance in a single request.

[2017-03-26 13:29] elharo opened #1813 "No getService method in google-cloud-storage"
README.MD for google-cloud-storage refers to

[code]

and a few other times. It appears this is no longer accurate at 0.10.alpha.

I.e. the `StorageOptions` class does not have a `getService` method. I'm not sure what it should be replaced with.

[2017-03-26 19:31] saturnism commented on #1810
/cc @olavloite

[2017-03-27 07:04] fonzy2013 commented on #1797
ok thanks, but will that be with the new pubsub api only or also for 0.5.1?

[2017-03-27 08:14] emmanuelbernard commented on #1810
Yes that would be very helpful to Hibernate as well.
We would be able to tie the Spanner transaction to our wrapper and put all of Hibernate's operations in a single tx. At the moment we can only treat Spanner as a non transactional store most of the time.

[2017-03-27 09:37] fonzy2013 opened #1814 "Old pubsub API which is the latest version?"
Which version of the library has the latest of the "old" pubsub api?
We need to upgrade to the latest without breaking the api as the new api is not backwards compatible.

[2017-03-27 15:06] garrettjonesgoogle commented on #1781
the google-cloud-core project also needs to be imported for it to work.

[2017-03-27 15:08] garrettjonesgoogle commented on #1458
We are going to be doing some work on the Compute client over the next several months. Unfortunately we won't be addressing anything in the short term, though.

[2017-03-27 15:13] garrettjonesgoogle commented on #1797
It would be put into master, so it would only be available in the release it was added to, or later releases. Since this library is not GA, we are not patching previous releases yet.

[2017-03-27 15:15] garrettjonesgoogle commented on #1814
0.10.0-alpha still has it. The next release (0.11.0-alpha) won't have it.

[2017-03-27 16:20] ricardoneves93 commented on #1430
I am having this problem when running locally in my project.
I'm using `google-cloud version 0.8.0`.
I've tried the previous suggestions and nothing solved my problem. I'm still getting this exception:

`java.util.concurrent.ExecutionException: com.google.cloud.pubsub.PubSubException: io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED`.

Does anyone have any similar problem?

[2017-03-27 16:59] garrettjonesgoogle commented on #1430
@ricardoneves93 could you file a new issue? You might have a different root cause, and it would be easier to track it separately.

[2017-03-27 17:04] garrettjonesgoogle commented on #1813
`getService()` is present on `ServiceOptions` which `StorageOptions` extends. It was never changed. The code you pasted here should work fine.

[2017-03-27 17:38] elharo commented on #1813
OK, I must be doing something wrong. I'll dig into this further.

[2017-03-27 18:27] vkedia commented on #1810
/cc @tomayles
@emmanuelbernard This sounds reasonable. But even with this in place, without read-your-writes semantics and DML, can spanner be made to work with Hibernate?

[2017-03-27 18:44] elharo commented on #1813
[code]

[2017-03-27 18:47] elharo commented on #1813
Digging into my jar I do see the `getService` method. I don't see `com.google.cloud.HttpServiceOptions` in google-cloud-core-0.10.0-alpha.jar. What jar should that be in?

[2017-03-27 19:52] rdayal commented on #1500
@shinfan how come we closed this? What's the actual fix?

[2017-03-27 19:58] shinfan commented on #1500
@rdayal There is nothing to fix from our side. The issue was caused by a missing dependency and the customer has confirmed things now working. See https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1731

[2017-03-27 20:10] rdayal commented on #1500
Thanks, the reason this had been filed on this side is that I had run into this issue independently, and filed an internal bug about it. I wasn't following the other thread. I'll mark the other bug as closed.

[2017-03-27 20:29] garrettjonesgoogle commented on #1813
I think you are out of sync somehow. If you build both -core and -storage fresh, or make sure that they are both at 0.10.0, it should all work. It looks like you might have the old version of -storage pointing to the new version of -core. (`HttpServiceOptions` was taken out of the hierarchy and is now a standalone class, `HttpTransportOptions`)

[2017-03-27 21:13] #1527 closed

[2017-03-27 22:11] merla18 commented on #1476
there are still 1 Translate reference in the Readme. See Readme.md https://github.com/GoogleCloudPlatform/google-cloud-java

And It is not listed in the readme of Go. https://github.com/GoogleCloudPlatform/google-cloud-go#supported-apis

[2017-03-27 22:22] BrandonY commented on #1420
FYI, this feature is now in public beta.

[2017-03-27 23:44] vaichidrewar commented on #1689
I also got the same error.
Caused by: java.lang.NullPointerException
	at com.google.cloud.bigquery.JobId.fromPb(JobId.java:97)
	at com.google.cloud.bigquery.BigQueryImpl.getQueryResults(BigQueryImpl.java:610)
	at com.google.cloud.bigquery.BigQueryImpl.getQueryResults(BigQueryImpl.java:594)
	at com.bloomreach.merchandising.storage.BasicDBUtilBigQuery.executeQueryOnBigQuery(BasicDBUtilBigQuery.java:

[2017-03-28 07:20] pongad commented on #1626
We have new flakes :frowning_face: . Reopening.

[2017-03-28 09:03] buchgr opened #1816 "ResultSet should implement Iterable."
It seems convenient for `com.google.cloud.spanner.ResultSet` to implement `Iterable` or `Iterator`. It would allow for easier use with existing Java/JDK APIs. Right now, I have to roll my own Iterator :(.

[2017-03-28 11:42] elharo commented on #1813
This appears to be the problem. Thanks. Closing.

[2017-03-28 11:42] #1813 closed

[2017-03-28 15:23] cobookman commented on #1689
Added an internal issue w/in Google under bug id #36662731

[2017-03-28 22:25] garrettjonesgoogle commented on #1752
Removing bigquery.

[2017-03-28 22:30] garrettjonesgoogle commented on #1626
Can you give links to the new failures we are seeing?

[2017-03-28 22:33] garrettjonesgoogle commented on #1733
Being implemented in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1818

[2017-03-28 22:35] pongad commented on #1626
@garrettjonesgoogle It's the unchecked box in the issue description.

[2017-03-28 22:54] garrettjonesgoogle commented on #1785
We probably aren't going to change this in the foreseeable future.

[2017-03-28 22:54] #1785 closed

[2017-03-28 22:55] garrettjonesgoogle commented on #1781
@ppatihsb have you tried my suggestion yet to see if it helps?

[2017-03-28 23:47] pongad commented on #1733
Closed by #1818

[2017-03-28 23:47] #1733 closed

[2017-03-28 23:50] pongad commented on #1734
Closed by #1818

[2017-03-28 23:50] #1734 closed

[2017-03-29 09:48] scraly opened #1826 "TranslateScopes does not exists?"
Hi,
in order to authenticate my application I create a URL to request that the user provide access to the xxx API like BigQuery+Plus+Cloud iIsion ...

[code]

I need to add an ACL for Cloud Translate API and don't find it.
Where is the TranslateScope?

Thanks.

[2017-03-29 10:52] fonzy2013 commented on #1814
ok thanks. I couldn't see it on that tag unless you moved the namespace to deprecated.
I really hope there will be some good migration docs

[2017-03-29 11:32] fonzy2013 opened #1827 "pubsub Limit the number of subscriber threads how?"
Can someone please provide an example of limiting the number of pulling pubsub threads with the new API so we can start testing?

In the old API it was possible to limit the number of concurrent threads that pulled messages with the following code:

[code]
`where maxQueuedCallbacks` was an integer amount of msgs to pull and
`executorFactory` was provided from this
[code]

[2017-03-29 18:31] garrettjonesgoogle commented on #1679
This is blocked on an internal decision.

[2017-03-29 18:33] garrettjonesgoogle commented on #1827
There is not a way to do this yet.

[2017-03-29 18:40] garrettjonesgoogle commented on #1578
@lesv what do you mean?

[2017-03-29 18:54] garrettjonesgoogle commented on #1797
Marking as blocked (grpc 1.2 upgrade)

[2017-03-29 19:35] garrettjonesgoogle opened #1828 "Make package-private: SubscriptionAdminClient.pull/modifyAckDeadline/acknowledge/updateSubscription, TopicAdminClient.publish"

[2017-03-29 19:44] garrettjonesgoogle opened #1829 "Remove usage of NettyChannelBuilder.flowControl"

[2017-03-29 19:46] garrettjonesgoogle opened #1830 "Make sure Publisher/Subscriber use same channel customization as TopicAdminClient/SubscriptionAdminClient"

[2017-03-29 22:06] cobookman commented on #1689
It looks like the jobs.getQueryResults method returns a response that contains the "error" field but no "jobReference" field when the query fails or is invalid. This is a non-retryable error that will result in an NullPointerException when dereferencing the jobResponse here. The client library needs to be updated to handle this case. I've talked to the internal Google team and they are working on

[2017-03-29 22:53] garrettjonesgoogle commented on #1573
Actually, the splitting of proto-generated classes and grpc-generated classes is being tracked in https://github.com/googleapis/toolkit/issues/1145 ; googleapis/toolkit#803  is a prerequisite.

[2017-03-29 22:59] garrettjonesgoogle commented on #1691
@shinfan when you do this in the generated packages, at the same time it would be nice to convert from depending on grpc-all to depending on more granular grpc packages.

[2017-03-30 02:19] pongad commented on #1828
@garrettjonesgoogle I was under the impression that we were only going to deprecate this. Do we package-private them too?

[2017-03-30 02:42] briangranatir commented on #1807
You probably already know this, but this is the error that appears when trying to run the new PubSub lib on GAE Standard (I'm using Java):

Would be nice if the new Cloud Client Libraries all worked on GAE Standard

[2017-03-30 06:10] kilaka commented on #1430
Happening to me as well with google-cloud-speech v0.8.1-alpha and v0.8.0 on tomcat v8.5.8.

[2017-03-30 06:11] kilaka commented on #1772
Happening to me as well with google-cloud-speech v0.8.1-alpha and v0.8.0 on tomcat v8.5.8 on Ubuntu 16.04 64bit.
Any idea how to fix it?

[2017-03-30 06:17] fonzy2013 commented on #1827
ok I see.

[2017-03-30 14:11] jatins commented on #1605
@omaray Thanks for the update.

I ended up using [Google API Client Libraries | Java](https://developers.google.com/api-client-library/java/).

[2017-03-30 14:11] #1605 closed

[2017-03-30 15:08] lukesneeringer opened #1832 "Handle new values in API responses gracefully (for almost-GA clients)"
There was [a bug][] in the Node.js Vision client which was effectively that the client raised an exception if it ever got a key that it did not expect. This is relatively easy to do for any number of reasons:

[code]

This is an anti-pattern, because it strongly assumes that you will never get a new key that is not already in your key map. If the API adds a `gammaObject` key and this (Python) code

[2017-03-30 16:21] garrettjonesgoogle commented on #1828
We were only marking them deprecated while the deprecated PubSub package still existed which referenced these methods; now that the deprecated PubSub package is deleted, we can make them package private.

[2017-03-30 16:27] garrettjonesgoogle commented on #1772
@kilaka Could you change your logging level to FINE as instructed above, and come back with what you see?

[2017-03-30 16:34] jean-philippe-martin opened #1833 "DURABLE_REDUCED_AVAILABILITY support missing"
DURABLE_REDUCED_AVAILABILITY is a [legitimate (though discouraged)](https://cloud.google.com/storage/docs/storage-classes) value for StorageClass.

The [current enum in google-cloud-java](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/007f340dd82abf4b8f1a66df9351abe9cb53d58f/google-cloud-storage/src/main/java/com/google/cloud/storage/StorageClass.java) does not include a value for D

[2017-03-30 17:11] jonathanbl commented on #1430
I am seeing the same issue with google-cloud-monitoring:0.9.4-alpha and netty-all:4.1.3.Final on OS X 10.10.5 (14F27), Kernel Version: Darwin 14.5.0

[2017-03-30 17:24] jean-philippe-martin commented on #1833
Fix merged in, closing.

[2017-03-30 17:24] #1833 closed

[2017-03-30 17:45] garrettjonesgoogle commented on #1832
This repo is littered with cases like this - it throws exceptions when a value can't be mapped to an enum.

See https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1833 for an example just from today.

[2017-03-30 17:50] garrettjonesgoogle opened #1835 "GAPIC clients: merge service address and port"
It's natural for service address and port to go together - for example, environment variables for emulator hosts from the gcloud command (e.g. `PUBSUB_EMULATOR_HOST`) includes service address and port in a single value. We should just merge these together to make life easier on everyone.

I'm unsure if this is beta blocking, but I'll proactively mark it as such until further discussion.

[2017-03-30 18:12] jonathanbl opened #1836 "DEADLINE_EXCEEDED, google-cloud-monitoring"
This is similar to #1430

OS version: OS X 10.10.5 (14F27), Kernel Version: Darwin 14.5.0

I am having the same issue with _google-cloud-monitoring:0.9.4-alpha_ and _netty-all:4.1.3.Final_. Every time I execute my Java process (see code attached), I end up with the following exception.
Let me know if you need me to provide more details.

com.google.api.gax.grpc.ApiException: io.grpc.StatusRuntimeE

[2017-03-30 18:24] garrettjonesgoogle commented on #1836
Could you set your logging level to FINE to see if you see logs that say `Unable to load the library: netty-tcnative-linux-x86_64`?

[2017-03-30 19:22] jonathanbl commented on #1836
What would be the best way to change the log level?

[2017-03-30 19:46] garrettjonesgoogle commented on #1836
Make the following call in `main` before your code executes:

[code]

Also, use a logging.properties file with these settings:

[code]

[2017-03-30 20:40] garrettjonesgoogle commented on #1827
I take it back, it is possible to do this. Example:

[code]

Seeing this, I see that it might be nice to have a default channel provider builder for all of Pub/Sub. It's not intuitive to use the one from TopicAdminSettings (note: the one from SubscriptionAdminSettings works just as well.) In any case, the code above should work.

[2017-03-30 21:29] garrettjonesgoogle commented on #1827
I gave the wrong code in my last comment - it was setting the executor provider for the channel, not for the publishing/subscribing. I have fixed the code.

[2017-03-30 21:46] garrettjonesgoogle opened #1837 "Ensure no normalization is done on Storage file names"
Use the following C# integration test as a basis for writing the equivalent in Java:

https://github.com/GoogleCloudPlatform/google-cloud-dotnet/pull/933/files

If it fails, fix the problem (remove the normalization). If it succeeds, then yay.

[2017-03-30 21:51] sai-pullabhotla opened #1838 "Spanner - Allow set/get of com.google.cloud.spanner.Value"
Is it possible to add methods to respective interfaces and classes to get/set instances of com.google.cloud.spanner.Value in addition to the distinct types that are currently supported?

For example - `ResultSet.getValue()` and `ValueBinder.to(Value v)`

[2017-03-30 22:17] asif-patel commented on #1361
I get the run time exception of `java.lang.ClassNotFoundException`.

[2017-03-30 23:06] garrettjonesgoogle opened #1839 "Add a flattened method for SubscriptionAdminClient.seek (requires oneof support)"
Requires https://github.com/googleapis/toolkit/issues/1057 .

[2017-03-31 00:00] garrettjonesgoogle opened #1840 "Perform GA-ready scrub (experimental/deprecated cleanup)"
- [x] Consider whether google-cloud-java should have its own definition of `@ExperimentalApi` (or maybe it should be in gax-java). Protobuf has one (public), and gRPC has its own of the same name (marked `@Internal`).
- [x] In google-cloud-core, mark everything that is not used by Datastore/Storage/Logging as experimental.
- [x] Remove any remaining `@Deprecated` things
- [x] Make sure no deprecat

[2017-03-31 00:35] garrettjonesgoogle commented on #1797
After we upgrade to 1.2, in order to see if this is fixed, we need to make sure that calls are successful after long periods of inactivity (at least an hour).

[2017-03-31 00:50] garrettjonesgoogle commented on #1791
I'm marking this as "docs" because it is example code.

[2017-03-31 00:57] garrettjonesgoogle commented on #1840
Known usage of `@Deprecated` that needs to be updated: https://github.com/googleapis/gax-java/issues/141 ("Use MoreCallCredentials.from for auth instead of ClientAuthInterceptor which is deprecated")

[2017-03-31 00:59] garrettjonesgoogle commented on #1499
@pongad  - GAX issue: https://github.com/googleapis/gax-java/issues/149 - please resolve that issue if for some reason no GAX change is necessary to support Pub/Sub.

[2017-03-31 02:57] vkedia commented on #1838
@sai-pullabhotla Can you please describe you use case. Why do you need these methods?

[2017-03-31 03:48] pongad commented on #1499
@mdietz94 Sorry it took me so long to get to this. I want to make sure. This is only for Subscriber right? The Publisher is unaffected?

[2017-03-31 03:50] pongad commented on #1830
By "same channel customization", do you only mean that they should accept ChannelProvider?

Right now Publisher and Subscriber follow
[code]
while the admins follow
[code]
do you want this pattern changed as well?

[2017-03-31 03:50] pongad commented on #1829
Related: #1830

[2017-03-31 09:54] fonzy2013 commented on #1797
It will be hard for us to help testing as we require thread limitations for our pubsub implementation (see https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1827) and we haven't migrated to the new API.

[2017-03-31 12:07] fonzy2013 commented on #1729
Any news on this question?

[2017-03-31 14:18] garrettjonesgoogle commented on #1830
This issue is just about the channels - Subscriber currently accepts a `ChannelBuilder` instead of a `ChannelProvider`.

[2017-03-31 14:23] jonathanbl commented on #1836
Here's the full output when I run with FINE level

[gcloud-monitoring.txt](https://github.com/GoogleCloudPlatform/google-cloud-java/files/885938/gcloud-monitoring.txt)

[2017-03-31 14:47] mdietz94 commented on #1499
Yes, this is only inbound message size, so this only affects Subscriber.

[2017-03-31 16:04] gitCopyPaster commented on #1361
Which class do you get the exception for? Try comparing your code to @mziccard's working [example](https://github.com/mziccard/android-google-cloud-translate) from earlier in the thread, particularly his build.gradle. For me, adding the line:
`compile ('com.google.apis:google-api-services-translate:v2-rev47-1.22.0')`
suppressed the class-not-found exception for the Translate$Builder class.

[2017-03-31 16:55] asif-patel commented on #1361
@gitCopyPaster thanks, your suggestion is helpful.

[2017-03-31 17:36] garrettjonesgoogle commented on #1729
@pongad could you investigate for the new code?

[2017-04-01 00:00] garrettjonesgoogle opened #1845 "Update release scripts to handle 1.x and 0.x versions living together"
Currently the release scripts assume the same base version for everything; once some libraries go to GA, we will need two separate versioning tracks. We need to update the release scripts to handle this.

[2017-04-01 13:35] sai-pullabhotla commented on #1838
@vkedia - the purpose is to have a generic way to set/get data using an interface or generic type. I'm in the process of developing a ORM framework similar to the one I did for Cloud Datastore ([Catatumbo](https://github.com/sai-pullabhotla/catatumbo)), and having these methods would help with mapping types defined in the domain model to Spanner and vice versa. See [Mapper](https://github.com/sai-

[2017-04-02 06:12] yanghyuncho opened #1846 "DEADLINE_EXCEEDED, after 10 minutes wait."
OS windows7 enterprise K
tomcat 8.5.11, jdk 1.8
guava-18.0 / 21.0
google-cloud-vision 0.11.0-beta

In case of test call using junit, the response was received.
but no response was received when the call in tomcat server.

I called batchAnnotateImages method,
(BatchAnnotateImagesResponse response = vision.batchAnnotateImages(requests);)
and 10 minutes later,  DEADLINE_EXCEEDED ERROR occurred.
How c

[2017-04-03 05:12] pongad commented on #1729
Sorry for the late reply. The `PubSub` class is deprecated; I recommend migrating to `com.google.cloud.pubsub.spi.v1.Subscriber` instead.

In `Subscriber`, there is a 100ms delay. This is for optimization though: if you ack/nack a bunch of messages, we try to batch them together to save time.

Could you briefly describe why you need to delay the redelivery? As far as I know, the library sees the e

[2017-04-03 05:27] #1761 closed

[2017-04-03 17:04] emmanuelbernard commented on #1810
@vkedia we need DML for Hibernate ORM proper. But I'm working on a Hibernate OGM dialect to use the native Spanner APIs for DML ops.
As for read your writes, I need to think deeper but the notion of persistence context protects you from a lot of read-your-write problems.

[2017-04-03 17:52] vkedia commented on #1816
@buchgr Spanner ResultSet has been designed to look like java.sql.ResultSet which does not implement an iterator as well. Also note that there is a bit of api mismatch between ResultSet and Iterator due to next() in ResultSet being similar to hasNext() in iterator. Also the pattern we want to encourage it for users to directly call accessors like getString on ResultSet since they are more efficien

[2017-04-03 17:52] #1816 closed

[2017-04-03 17:54] vkedia commented on #1627
Closing this as this is duplicate of #1810

[2017-04-03 17:54] #1627 closed

[2017-04-03 17:57] vkedia commented on #1838
@sai-pullabhotla Thanks. This sounds interesting. So if we had a to(Value) you would still need to figure out what type of Value to create, right? So it is not complete generic?

[2017-04-03 18:08] archiecobbs commented on #1810
FWIW, I'm using Spanner in a [project](http://archiecobbs.github.io/jsimpledb/site/apidocs/index.html?org/jsimpledb/kv/spanner/SpannerKVDatabase.html) that also needs the ability to manually open/commit/rollback transactions, and also has built-in read-your-writes support. See also issue #1627 for additional background and motivation.

[2017-04-03 21:34] garrettjonesgoogle opened #1849 "Write Readme for Translate"
This includes a getting-started sample.

[2017-04-03 21:34] garrettjonesgoogle opened #1850 "Write Readme for Vision"
This includes a getting-started sample.

[2017-04-03 21:35] garrettjonesgoogle opened #1851 "Write Readme for Natural Language"
This includes a getting-started sample.

[2017-04-03 21:59] garrettjonesgoogle commented on #1835
We have pulled in the version of gax that provides setEndpoint, so it seems like we can close this now.

[2017-04-04 00:17] pongad opened #1853 "Publisher/Subscriber: rename newBuilder to defaultBuilder"
Context: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1823#pullrequestreview-30065573

[2017-04-04 00:22] #1789 closed

[2017-04-04 01:37] vam-google commented on #1752
The tests executed:
https://gist.github.com/vam-google/862b1dc2c1badf0e675ef04a552ac872#file-gae_gce_gke_tests_run-txt

The tests results:
**GCE:**
https://gist.github.com/vam-google/862b1dc2c1badf0e675ef04a552ac872#file-gae_gce_gke_tests_run-txt

**GAE Flex Java:**
https://gist.github.com/vam-google/862b1dc2c1badf0e675ef04a552ac872#file-gae_flex_java_test_results-txt

**GAE Flex Custom:**
https:/

[2017-04-04 01:46] lesv commented on #1752
@ludoch FYI

[2017-04-04 03:45] danawillow opened #1854 "Front page has outdated API"
http://googlecloudplatform.github.io/google-cloud-java/0.11.0/index.html has a code snippet:
[code]

However, `setAuthCredentials` isn't a method on `DatastoreOptions.Builder`- it's `setCredentials`: http://googlecloudplatform.github.io/google-cloud-java/0.11.0/apidocs/com/google/cloud/datastore/DatastoreOptions.Builder.html. It also has it taking an `AuthCredentials` object- `GoogleCredentials` i

[2017-04-04 06:44] pongad commented on #1828
@garrettjonesgoogle `PubSubExample.java` still seems to be using it :cry: I actually thought we deleted this a while back.

@lesv @jabubake Do you have any thoughts on how we might resolve this? With the new `Subscriber` class, it is no longer possible to separate pull and acknowledge messages.

[2017-04-04 08:40] pongad opened #1855 "Potential deadlock in Subscriber"
@davidtorres @garrettjonesgoogle

A lot of our code uses callback without specifying an executor. [`PollingSubscriberConnection`](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/88eff83126d60ff4fb83541f8c954afdc8da425f/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/spi/v1/PollingSubscriberConnection.java#L137) is an example. IIUC, if we don't specify one, the library uses

[2017-04-04 12:22] saturnism opened #1856 "Spanner - Running Spanner on AppEngine SDK throws an NPE"
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/main/java/com/google/cloud/spanner/SessionPool.java#L987

When using Spanner library in AppEngine Standard w/ Java 8 (alpha), createSession() ultimately throws an error, but was consumed and not propagated. Debugger shows a NullPointerException was thrown. However, because it wasn't propagated, the applic

[2017-04-04 17:01] davidtorres commented on #1855
what do you mean with use the executor of RPCs?

I think this is WAI, i.e. there is no deadlock. And I might be wrong on how I'm reading the code. But the intent is to use the channel threads to internally process the message, like hold on the flow control, but then dispatch to the "user space" executor for the user to process the message itself and that is the key to prevent a deadlock. And as fa

[2017-04-04 20:58] joelostlund opened #1857 "Problem with google-cloud-logging. NoSuchMethodError"
Hello,

I have the following issue with google-cloud-logging:

I am trying to run the following code-snippet:

[code]
After running I get the following stacktrace:

[code]

I have made sure to isolate all the dependencies for this logger by putting the snippet code into a separate repository, it still doesn't work. Seems to be some dependency issues with the code. I am using the following library:

[2017-04-05 01:12] vikceo opened #1860 "Unknown error getting image annotations"
Input is:https://res.cloudinary.com/viksphotography/image/upload/v1491023435/emt2sgakliae5gap9xks.jpg
[WARNING] /echo
java.io.IOException: Unknown error getting image annotations
	at photography.viks.ig.DetectLabels.labelImage(DetectLabels.java:161)
	at com.example.endpoints.EchoServlet.doPost(EchoServlet.java:63)
	at javax.servlet.http.HttpServlet.service(HttpServlet.java:707)
	at javax.servlet.h

[2017-04-05 03:12] pongad commented on #1855
I misspoke, I meant the executor we passed to the `ManagedChannel`.

I'll see if I can make a test for this. Sounds like a good practice anyway :laughing:

[2017-04-05 05:15] pongad commented on #1835
@garrettjonesgoogle I started looking into this issue and have a question. Looking at [this line](https://github.com/googleapis/toolkit/blob/8cbb2817facb641b8987d570ff040bf700c8899a/src/main/resources/com/google/api/codegen/java/settings.snip#L144), it looks like we sometimes don't have the default  address but we have the default port.

- Is this intended behavior? If we don't know which host to

[2017-04-05 05:40] vkedia commented on #1856
We dont expect any other exception to be thrown by createSession other than SpannerException, which is why it just catches that.
Do you have the trace for NPE?

[2017-04-05 06:04] ludoch commented on #1856
No, even in the debugger, could not see it..
You can reproduce with a local devserver on gae standard Java8...

On Apr 5, 2017 07:40, "Vikas Kedia" <notifications@github.com> wrote:

[2017-04-05 06:12] vkedia commented on #1802
@garrettjonesgoogle I started looking into this. There does not seem to be any way to convert a ListenableFuture to ApiFuture. In absense of that change becomes more involved since this future internally waits on completion of a list of ListenableFutures for which I am using Futures.allAsList but there is no such method for ApiFutures.
Do you think it makes sense to expose a method in gax that con

[2017-04-05 07:04] vkedia commented on #1802
Sent your a PR to add allAsList to ApiFutures
https://github.com/googleapis/gax-java/pull/267

[2017-04-05 10:12] ludoch commented on #1856
[appengine-guestbook-java.zip](https://github.com/GoogleCloudPlatform/google-cloud-java/files/895880/appengine-guestbook-java.zip)
contains a simple (stupid) spanner servlet with hardcoded projects...
You can execute with mvn appengine:devserver which starts the local server in debug mode with
-agentlib:jdwp=transport=dt_socket,address=7999,server=y,suspend=n
so you can debug if you want....
If yo

[2017-04-05 15:28] garrettjonesgoogle commented on #1835
Across the board, default port is probably going to be the same (443) for the "real" services. I don't think we need `setPort` un-deprecated; I think we just need to default it in gax itself.

[2017-04-05 15:34] garrettjonesgoogle commented on #1802
If gax exposed a method that converted a `ListenableFuture` to `ApiFuture`, the whole point of creating `ApiFuture` to wrap `ListenableFuture` would be defeated. I think adding `allAsList` to `ApiFutures` is the right way to go.

[2017-04-05 19:31] vkedia commented on #1856
Thanks. I will try this out. I will let you know if I need to be whitelisted.

[2017-04-05 19:46] kir-titievsky opened #1864 "Replace consumer.accept by consumer.ack & consumer.nack in Pub/Sub"
Attempting to tie together some offline discussion to get to a concrete resolution.   The Pub/Sub ack ReplyConsumer [1] uses an enum for reply type. There seems to  consensus that explicit .ack() and .nack() methods would be cleaner.  Could we make this change before beta or disagree, @pongad @davidtorres @garrettjonesgoogle ?

[1] http://googlecloudplatform.github.io/google-cloud-java/0.11.1/apid

[2017-04-05 19:53] garrettjonesgoogle opened #1865 "Ensure that single-threaded message pulling works"
i.e. make sure it doesn't deadlock.

[2017-04-05 20:36] danielcompton commented on #1860
There isn't enough information here to help you, and it looks likely that this is a usage issue. StackOverflow is probably a better avenue to resolve this?

[2017-04-05 20:48] danielcompton opened #1866 "Raise static addresses quota on Travis testing account?"
One of the causes of flaky tests in this repo appears to be exceeding a quota of global static IP addresses. A representative failure is at https://travis-ci.org/GoogleCloudPlatform/google-cloud-java/jobs/218519105. It looks like any individual test is fine, but if there are enough concurrent tests running, then the account runs out of quota. The test is failing at [ITComputeTest.java#L783](https:

[2017-04-05 21:21] rdmoore opened #1868 "PollingSubscriberConnection - allow number of messages delivered to be configurable"
The value is hard coded to an upper bound of 1000 (which used to be 500).  Shouldn't it be configurable?

This doesn't work well for really large messages and for messages that take substantial time to process.

I see no way to configure this value.  Doesn't look like the client has any control over the number of messages pulled from the subscription.  I was hoping that the FlowController logic wo

[2017-04-05 21:34] garrettjonesgoogle commented on #1866
@michaelbausor could you raise the quota?

[2017-04-05 21:57] davidtorres commented on #1864
The argument for flattening the enum into separate methods, was for future proofing the API for when implementing deadletter queues, with the idea that we would just add a new method (e.g. fail(String|Enum reason) ) which will serve to us for taking the decision to whether move the message to the deadletter queue or not.

However I'd argue that in the current interface we can still add such method

[2017-04-05 22:19] saturnism commented on #1827
This sounds like https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1683

[2017-04-06 01:15] mairbek opened #1871 "Serializing Spanner Mutations"
For Apache Beam support we need to serialize/deserialize Mutations. See https://github.com/apache/beam/pull/2166

Few options

- Make Mutation#toProto public https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/main/java/com/google/cloud/spanner/Mutation.java#L337  and add corresponding fromProto method.
- Make Mutation serializable and implement writeObjec

[2017-04-06 04:19] garrettjonesgoogle commented on #1866
I went ahead and:

* deleted the static addresses that had accumulated (15-ish of them)
* raised the quota from 30 to 60

Also, a recent commit by Neo to ensure compute resources are cleaned up on test failure should help prevent this in the future.

[2017-04-06 04:19] #1866 closed

[2017-04-06 05:18] #1828 closed

[2017-04-06 05:20] garrettjonesgoogle commented on #1476
This was fixed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1867 .

[2017-04-06 05:20] #1476 closed

[2017-04-06 07:19] pongad commented on #1835
From what I can see, the only place where `setPort` is used in isolation is LRO, because the client by itself doesn't know what service to connect to. However, clients who use LRO just sets the channel provider, not the address and port.

So, if there is no default address, then the port can also be removed without any ill effects. I'll do this for now, but please let me know if you want it added

[2017-04-06 11:09] vtvttech commented on #1430
While using in raspberry pi 3 model B with raspbian os grpc channel created and topic is also created but when trying to publish message DEADLINE_EXCEEDED Runtime exception occurs.
It is running fine in ubuntu 16.04 but its failed every time in raspberry pi.
Also google cloud speech api having same issue its running fine in ubuntu but failing in raspberry pi.

[2017-04-06 14:23] #1853 closed

[2017-04-06 17:14] vikceo commented on #1860
nah it's a bug with api. the sample code and valid image simply fails. other images works fine with same code.

[2017-04-06 17:29] jabubake opened #1874 "`SubscriptionAdminClient` : Make creating a pull subscription more explicit than `PushConfig.getDefaultInstance()`"
Currently if a user intends to create a pull configuration, he or she has to call `SubscriptionAdminClient.createSubscription` with an instance of `PushConfig` (`PushConfig.getDefaultInstance() `or construct a `PushConfig` object). Its confusing that the default instance leads to it being a pull subscription.

The semantics  of the `ackDeadlineInSeconds` are slightly different too for the pull vs

[2017-04-06 18:48] vkedia commented on #1871
I would prefer making Mutation serializable. That seems more idiomatic to me.
@garrettjonesgoogle is there any precedence for this? Do you have any preference?

[2017-04-06 20:18] garrettjonesgoogle commented on #1871
Serialization is used widely in google-cloud-java, so it seems like a good idea here.

[2017-04-06 23:45] vam-google opened #1877 "Fix Pub/Sub DEADLINE_EXCEEDED issue during build"
`mvn clean test` sometimes hangs, producing enormous amount of the following errors (all same):

com.google.cloud.pubsub.spi.v1.PollingSubscriberConnection$2 onFailure
SEVERE: Failed to pull messages (recoverable):
io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED

rerunning `mvn clean test` usually fixes the issue.

Please investigate.

Thanks.

[2017-04-07 03:15] pongad commented on #1830
@garrettjonesgoogle Is this beta-blocking?

[2017-04-07 03:59] garrettjonesgoogle commented on #1830
Pub/Sub was willing to go without it, but it would be very nice to work it in though.

[2017-04-07 05:29] #1835 closed

[2017-04-07 11:23] vtvttech opened #1881 "google cloud api java client on Raspberry pi (DEADLINE_EXCEEDED)"
Is it possible to run the java google cloud api in raspberry pi. When i tried cloud speech and cloud pubsub client in raspberry pi it is having io.grpc.status runtimeexception DEADLINE_EXCEEDED.
The code is running fine in ubuntu desktop.
I searched and found that netty is probably not supported in arm cores.
Is there any fix for this.

[2017-04-07 12:31] Smiche opened #1882 "PubSub hangs with tomcat-jni 8.5.13"
If I remove this dependency pubsub works just fine. With it the app is just hangs after printing
`Apr 07, 2017 3:06:23 PM io.grpc.internal.ManagedChannelImpl <init>
INFO: [ManagedChannelImpl@7d3a22a9] Created with target pubsub.googleapis.com:443
`
I have tried to find what could be causing this problem but with no success. At this point we're unable to use pubsub api with tomcat servlets in our p

[2017-04-07 12:58] Smiche commented on #1882
I actually figured this out, it's a problem with tomcat loading wrong ssl classes.

<dependency>
    <groupId>io.netty</groupId>
    <artifactId>netty-tcnative-boringssl-static</artifactId>
    <version>1.1.33.Fork26</version>
</dependency>
This dependency fixes the issue. It's a netty problem.

[2017-04-07 12:58] #1882 closed

[2017-04-07 14:41] meltsufin commented on #350
+1 this is a very high priority for customers of Datastore

[2017-04-07 15:40] erugeri commented on #350
+1, really needed to migrate to Flex from MVM.

[2017-04-07 17:10] tswast opened #1883 "Versionless redirects to specific javadocs pages"
I see that @michaelbausor added https://github.com/GoogleCloudPlatform/google-cloud-java/blob/gh-pages/apidocs/index.html which allows for a link to versionless API docs at http://googlecloudplatform.github.io/google-cloud-java/apidocs/

Would we be able to add a similar redirect for each of the class & package pages? I'd like to start linking to the API docs from cloud.google.com docs, but it's a

[2017-04-07 19:56] rrch commented on #1752
Re GAE Java 8 Standard:

"the biggest instance on GAE Std has 1Gb of ram, which may be not enough for any practical usage of google-cloud-java": I hope that doesn't mean that making an API call requires 1.5Gb of RAM. Maybe the issue is with the test that has high parallelism? Can you run everything sequentially?

Leaving the memory issue aside for a second, I would start with fixing the issues tha

[2017-04-07 20:06] ikerr opened #1887 "DEADLINE_EXCEEDED, google-cloud-vision"
I am developing a Scala (2.10.6) app that uses the google-cloud-vision Java library (0.11.2-beta), but am getting the following exception: `com.google.api.gax.grpc.ApiException: io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED`

I enabled FINE logging and see the following output before the exception occurs (certain values replaced with "BLAH"):

[code]

It looks as if the request for a bearer to

[2017-04-07 20:07] jabubake commented on #1883
@omaray FYI

[2017-04-07 20:26] vam-google commented on #1752
Hi Roberto,

The issue 3 is clearly veneer's problem and must be easy to fix. Also sorry
for calling it env variable, I don't know why I did that (probably I did it
automatically, thinking about a similar issue
https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1492, which
uses both: system properties and env variables).

Issue 5. According to gblock@ there should be zero cost to supp

[2017-04-07 21:09] rrch commented on #1752
Could you explain which App Engine APIs you need to call? If we brought their number down to zero, then you could run the client code in any thread.

[2017-04-07 21:21] vam-google commented on #1752
We don't call any App Engine APIs, we don't even depend on App Engine Api explicitly. I thought that your previous comment for the issue 5 implied that we should switch to specific ThreadFactory when we create threads (thus we would have to add dependency on App Engine API). Currently we do not use it. google-cloud-java currently does **not** depend on App Engine API at all, but somehow we receive

[2017-04-07 21:25] rrch commented on #1752
Are you using java.net.HttpURLConnection by any chance?

[2017-04-07 21:28] vam-google commented on #1752
Yes, at least here: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-logging/src/main/java/com/google/cloud/logging/GaeFlexLoggingEnhancer.java#L84

[2017-04-07 21:37] rrch commented on #1752
By default we redirect HttpURLConnection to the URLFetch API. This can overridden by adding this line to application-web.xml:
<url-stream-handler>native</url-stream-handler>

You should add it, but I think that we have a bug in Java 8 and that setting is not honored anyway. It'd be nice to verify this. If you can log the stack trace from the IOException where you use HttpURLConnection, I'd expect

[2017-04-07 21:37] rrch commented on #1752
Correct line:
`<url-stream-handler>native</url-stream-handler>`

[2017-04-07 23:23] vam-google commented on #1752
It seems having no impact. https://std-java8-dot-vam-veneer.appspot.com/ is currently deployed with the following appengine-web.xml:

[code]

Running a test for `com.google.cloud.datastore.testing.LocalDatastoreHelperTest` on it, gives same result as before: https://std-java8-dot-vam-veneer.appspot.com/test

[2017-04-07 23:52] rrch commented on #1752
Thanks. It looks like we have to fix some bugs on our side before the metadata server can work.

In the meantime, could you set the "GOOGLE_CLOUD_PROJECT" system property in application-web.xml? Based on the link to the code you provided before, if the system property is set the client won't even try to use HttpURLConnection to retrieve the metadata.

[2017-04-08 00:06] rrch commented on #1752
Sorry, I keep writing the descriptor name wrong. It's `appengine-web.xml` of course. Here's a snippet:
[code]

[2017-04-08 00:44] vam-google commented on #1752
That did not have impact on the issue 5, but it kind of fixes issue 3, and allows to run integration tests, with lots of NoClassDefFound, for example:
[code]

[2017-04-08 13:28] saturnism commented on #1856
the issue w/o exception is that the following operations get blocked indefinitely (e.g.., getting a readcontext).

i'm inclined to say exception should be propagated when it wasn't working as intended.

[2017-04-08 13:30] saturnism commented on #1804
ping @vkedia - this would be really useful. :)

[2017-04-08 13:31] saturnism commented on #1805
/cc @vkedia

[2017-04-08 21:26] mikekap opened #1890 "JSON serialization assumes Maps aren't iterable"
I'm using the java libraries from Clojure. Clojure native types (maps, vectors, etc) follow all normal java interfaces, except the built-in maps implement `Iterable`. When using these with BigQuery streaming, the JSON serializer thinks these are collections rather than maps and serializes them incorrectly. It would be nice if it didn't make that assumption and just directly checked for a `x instan

[2017-04-10 13:06] Saurabh111191 opened #1891 "Getting No Method Error com.google.protobuf.AbstractMessage.newBuilderForType while calling datastore in java"
[code]

Sample Code that I am running:

[code]

[2017-04-10 17:09] rrch commented on #1752
That's odd, because the API classes should always be available. Does the test infrastructure create any  classloaders? Could you print out the classloader for one of the test classes, like ITDatastoreTest? If it's a URLClassLoader, please also print the result of getURLs().

[2017-04-10 21:12] lxlxlxlx commented on #1857
I'm experiencing the same errors when trying to write custom logs to our stackdriver. I tried previous versions and it is not working for me as well.

[2017-04-10 23:44] tswast opened #1892 "BigQuery: include query parameters in QueryJobConfiguration"
I notice that [QueryRequest.Builder](http://googlecloudplatform.github.io/google-cloud-java/0.12.0/apidocs/com/google/cloud/bigquery/QueryRequest.Builder.html) has methods to add positional and named parameters, but [QueryJobConfiguration.Builder](http://googlecloudplatform.github.io/google-cloud-java/0.12.0/apidocs/com/google/cloud/bigquery/QueryJobConfiguration.Builder.html#setUseQueryCache-java

[2017-04-11 06:47] vam-google commented on #1752
Here it is:

[code]

[2017-04-11 06:56] vam-google commented on #1752
If I add the sdk explicitly in app's pom as dependency, then I get another set of errors:
[code]

[2017-04-11 07:00] 7sense opened #1895 ""getNumDmlAffectedRows()" not avaiable in QueryResult class"
I can see this method is already available in REST v2 API as well as api client libaray.

Can it be ported over to this libarary as well?

[2017-04-11 07:14] 7sense opened #1896 "Hitting java.lang.NullPointerException error when a query taking a long execution time"
I am trying out the examples provided as below:

        QueryRequest request = QueryRequest.newBuilder(query)
                .setUseLegacySql(false) // standard SQL is required to use query parameters
                .build();
        QueryResponse response = bigquery.query(request);
        // Wait for things to finish
        while (!response.jobCompleted())
        {
            Thread.sleep(

[2017-04-11 11:58] chrisdunelm opened #1897 "Sample code incorrect in com.google.cloud.pubsub.spi.v1.AckReply.java"
Sample has an incorrect call to `consumer.accept()` in lines [37](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/spi/v1/MessageReceiver.java#L37) and [39](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/spi/v1/MessageReceiver.java#L39). The

[2017-04-11 17:36] ludoch commented on #1752
Right, adding the GAE SDK API jar in the pom dependency is the temporary solution to address
ClassNotFoundException: com.google.appengine.api.urlfetch.HTTPMethod

Soon, a new Java8 GAE Standard runtime will make this addition irrelevant, but this is what you need to do for now.
Now, I am not sure about the next one (com.google.cloud.datastore.DatastoreException: I/O error) but seems more Google Cl

[2017-04-11 18:45] vam-google commented on #1492
Should be fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1893 and will be released with next release (the one **after** 0.12.0). Please reopen if you keep experiencing the issue after the fix.

[2017-04-11 18:46] #1492 closed

[2017-04-12 02:40] garrettjonesgoogle commented on #1427
For the time being, we have decided to remove local emulator helpers. We will provide some instructions so that people can start the emulator themselves using a shell script and then connect to it from Java. `LocalDatastoreHelper` will consequently be deleted soon.

[2017-04-12 04:31] fallonchen commented on #1857
I am also experiencing these errors.

[2017-04-12 04:47] garrettjonesgoogle commented on #1795
This properly waits for the RPCs to finish with @pongad 's last change; the triggering of RPCs by the call can be done after GA. Removing the release-blocking label.

[2017-04-12 16:34] jabubake opened #1903 "`Subscriber` must accept a `SubscriptionName` argument"
Currently, `Subscriber` requires a `Subscription` argument, which means retrieving the subscription using `SubscriptionAdminClient` after creating a `SubscriptionName` instance.
This is too much boiler plate code for the user to have to setup a `Subscriber` instance, we should accept a `SubscriptionName` argument.

@pongad

[2017-04-12 16:36] jabubake commented on #1903
My bad, was led astray by existing snippet.

[2017-04-12 16:36] #1903 closed

[2017-04-12 17:04] garrettjonesgoogle commented on #1626
Fixed by #1898

[2017-04-12 17:04] #1626 closed

[2017-04-12 17:05] michaelbausor commented on #1568
Closed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1894

[2017-04-12 17:05] #1568 closed

[2017-04-12 17:08] michaelbausor commented on #1764
Fixed in https://github.com/googleapis/toolkit/pull/1139 and https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1894

[2017-04-12 17:08] #1764 closed

[2017-04-12 17:14] michaelbausor commented on #1798
@lesv As part of the update to the paging interface (https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1894),I have updated our samples to use the iteration style you suggest above. For example here: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1894/commits/5f5a859cc5b4de93a83fe458f3bffab2ae0304e8#diff-d0f13847f2d8f6c8b2a3b1bd238814feR115

[2017-04-12 17:27] garrettjonesgoogle commented on #1857
@joelostlund what version of grpc are you using?

[2017-04-12 18:17] joelostlund commented on #1857
@garrettjonesgoogle the same as specified in the ${grpc.version} in the pom.xml

[2017-04-12 19:19] shinfan commented on #1502
Marked as closed.

This issue is caused by a dependency conflict introduced by an older org.json package used by an external dependency (also known as [dependency hell](https://en.wikipedia.org/wiki/Dependency_hell)). I think it should be the customers' responsibility of managing their dependency tree and there is not much we can do in google-cloud-java to prevent such issue.

[2017-04-12 19:19] #1502 closed

[2017-04-12 19:47] garrettjonesgoogle commented on #1830
We have decided to go ahead and remove any usage of flow control settings for now. Go ahead and remove the usage.

[2017-04-12 19:49] lesv commented on #1798
Thanks

[2017-04-12 20:14] garrettjonesgoogle opened #1907 "Fix large memory usage"

[2017-04-12 20:27] garrettjonesgoogle commented on #1907
@vam-google : for this, we want to at least figure out what the cause might be before GA; after we figure out the cause, we can then decide if we want to actually fix it before GA or not.

[2017-04-12 21:18] garrettjonesgoogle commented on #1837
Removing the release-blocking label because the code already does no normalization. We will get the PR for the test submitted when it can be reviewed by @jskeet .

[2017-04-12 21:20] garrettjonesgoogle commented on #1897
This will be fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1899 .

[2017-04-12 21:24] garrettjonesgoogle commented on #1864
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1899

[2017-04-12 21:24] #1864 closed

[2017-04-12 21:26] garrettjonesgoogle commented on #1896
This is a duplicate of https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1689 - follow the resolution there. Thanks!

[2017-04-12 21:26] #1896 closed

[2017-04-12 21:32] garrettjonesgoogle commented on #1877
This is fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1898 .

[2017-04-12 21:32] #1877 closed

[2017-04-13 02:36] pongad commented on #1830
This is currently blocked on grpc 1.2.0. Once we migrate, we can properly set the maxInboundMessageSize.

[2017-04-13 06:35] pongad opened #1909 "NPE printed out when loading client properties"
Running tests, I get these stack traces:
[code]

Somehow, tests are still passing. I'm assinging @shinfan to this since I think Shin was working on property loading a few weeks ago. Could you help diagnose?

[2017-04-13 06:36] pongad commented on #1691
@garrettjonesgoogle Updated. Do we want to close this now? Or are there pending items?

[2017-04-13 07:17] fonzy2013 commented on #1827
@garrettjonesgoogle
When trying the above code using 0.12.0-alpha `Publisher.newBuilder`does't exist.
Do I need another version or is the example wrong?

[2017-04-13 10:46] kinow commented on #1691
When there is a new release of google-cloud-java, I can try building the language-api and test it (or even better if there was an updated release of language-api). Feel free to close this issue in the meantime, will comment here with the result of the testing for posteriority

[2017-04-13 13:56] shinfan commented on #1909
Oh this is actually expected... the properties file maybe missing for some tests. I think I can just ignore these exceptions

[2017-04-13 14:05] garrettjonesgoogle commented on #1827
The example is now out of date - we renamed `newBuilder` to `defaultBuilder` (since it returns a prepopulated Builder). New code sample:

[code]

[2017-04-13 14:12] garrettjonesgoogle commented on #1909
@shinfan this is kind of alarming to anyone running the tests - is there a way to prevent the noise?

[2017-04-13 15:05] garrettjonesgoogle commented on #1909
Removed the release-blocking label.

[2017-04-13 15:43] #1829 closed

[2017-04-13 15:43] #1830 closed

[2017-04-13 15:45] garrettjonesgoogle commented on #1499
This has been fixed for a while. https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1911 moved the grpc call into GAX, so that it's no longer made directly from google-cloud-java. Resolving.

[2017-04-13 15:45] #1499 closed

[2017-04-13 15:50] garrettjonesgoogle commented on #1691
It looks like the tcnative dependency didn't get updated - it seems that this time, the newer grpc still works with the previous tcnative. In any case, I think it would be prudent to update it before releasing.

[2017-04-13 16:49] garrettjonesgoogle commented on #1691
I have updated the tcnative dependency. Closing out this issue now.

[2017-04-13 16:49] #1691 closed

[2017-04-13 20:01] garrettjonesgoogle commented on #1909
Technically this isn't closed because there isn't a gax release pulled into google-cloud-java with the fix.

[2017-04-13 21:23] vam-google opened #1918 "Fix google-cloud-java on GAE Std Java8 Issues"
Fix the issues, found during the testing performed in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1752.

**Current List of Issues:**
1) **CGLib**: https://gist.github.com/vam-google/862b1dc2c1badf0e675ef04a552ac872#file-gae_std_java8_test_failure___cglib-txt
2) **EasyMock verify not allowed**: https://gist.github.com/vam-google/862b1dc2c1badf0e675ef04a552ac872#file-gae_std_java

[2017-04-13 21:25] vam-google commented on #1752
Testing is completed, closing the issue.

The issue fixing process for GAE Std Java8 will be tracked by https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1918.

The memory issue tracked by: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1907

[2017-04-13 21:25] #1752 closed

[2017-04-13 22:11] ludoch commented on #1856
Friendly ping.

[2017-04-13 22:16] pongad commented on #1909
Thank you @shinfan for the explanation, so it's not blowing things up, just looks scary :)

[2017-04-13 23:33] garrettjonesgoogle commented on #1797
The latest release of google-cloud-pubsub now depends on grpc 1.2.

[2017-04-13 23:36] garrettjonesgoogle commented on #1595
@meltsufin could you see if this is still an issue? We have upgraded to a newer grpc (1.0.3 -> 1.2.0).

[2017-04-14 11:17] buchgr commented on #1691
thanks @garrettjonesgoogle and @pongad

[2017-04-14 16:56] garrettjonesgoogle opened #1920 "Replace DateTime in Datastore with Timestamp"

[2017-04-14 17:16] meltsufin commented on #1595
Will do.

[2017-04-14 21:42] meltsufin commented on #1595
[code]

with this code:

[code]

[2017-04-15 09:54] autodidacticon opened #1923 "DEADLINE_EXCEEDED when using pubsub 0.13.0-alpha"
Most but not all requests made via the 0.13.0-alpha client are throwing a DEADLINE_EXCEEDED exception. Ive set log levels to FINE yet have no logging outside of the exceptions themselves. On startup my application shows the following warning:

[code]

However from cursory reading this appears normal.

Im using:

 "com.google.cloud" % "google-cloud-pubsub" % "0.13.0-alpha"
      "com.google.guava"

[2017-04-16 01:13] grantespo opened #1924 "0.13.0-alpha not detected in Android Studio gradle"
The latest available version is compile 'com.google.cloud:google-cloud-translate:0.11.0-alpha'

Can you please update this?

[2017-04-16 03:11] grantespo opened #1925 "Translate translate = TranslateOptions.newBuilder().setApiKey("myKey").build().getService(); Sometimes takes Very Long Time!"
The Java/Android client used to work flawlessly, but This error occurred a few weeks ago and still no fix. My app users are getting very frustrated.

You can also find this issue here: http://stackoverflow.com/questions/43289297/google-translate-api-sometimes-takes-very-long-time-to-initialize/43316549?noredirect=1#comment73880159_43316549

`Translate translate = TranslateOptions.newBuilder().setA

[2017-04-17 15:38] garrettjonesgoogle commented on #1924
The correct version is 0.13.0-beta; there was a mistake in the README for google-cloud-translate. I will correct the README shortly.

[2017-04-17 15:46] garrettjonesgoogle commented on #1595
It looks like `options.getCredentials` is returning null:

[code]

I think this is exactly the issue in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1565 .

[2017-04-17 16:02] autodidacticon commented on #1923
@garrettjonesgoogle this may very well have been caused by poor connectivity. I am unable to reproduce these errors from a more performant internet connection (ie work vs home).

[2017-04-17 18:06] jean-philippe-martin commented on #1519
#1644 was merged in so this bug should be fixed now.

[2017-04-17 18:19] Mistic92 commented on #1923
Whatever I do I get DEADLINE_EXCEEDED exception. I thought its problem with Spring and Datastore but it happens at clear project with example code from pubsub github

[code]

When running with spring I get much more errors. (it's wrapped with rxjava)

[code]

[2017-04-18 11:17] dariosalviwork opened #1936 "Conflict with dependency 'com.google.code.findbugs:jsr305' when importing pubsub in Android gradle"
I have a bare empty Android project, I am following [this guide](https://cloud.google.com/pubsub/docs/reference/libraries) for PubSub java client.
 So basically:

`compile group: 'com.google.cloud', name: 'google-cloud-pubsub', version: '0.11.0-alpha'`

My gradle file is [here](https://gist.github.com/dariosalviwork/f03e3b58b54f597ba2ccbea7a21c0afa).

The error I get is:

There are also 2 warnings

[2017-04-18 11:43] dariosalviwork commented on #1936
Hi again, it seems that excluding those replicated dependencies may fix it:

so, instead of `compile group: 'com.google.cloud', name: 'google-cloud-pubsub', version: '0.11.0-alpha'`, this would produce no errors nor warnings:

[code]

I'll leave the issue open in case there are any better suggestions, or feel free to close it.

[2017-04-18 13:23] autodidacticon commented on #1923
This bit came up when I attempted to run my application in kubernetes on GCE:

[code]

Would this indicate a failure to properly negotiate SSL?

[2017-04-18 14:29] garrettjonesgoogle commented on #1923
@autodidacticon , that indicates that your tcnative dependency doesn't match the grpc version. Could you list all of your dependencies and versions?

[2017-04-18 14:35] OlivierBoucher commented on #1430
Is there any update on this? With the popularity of Alpine, I have trouble believing support with simply be cut out

[2017-04-18 15:47] autodidacticon commented on #1923
@garrettjonesgoogle thanks; there was an older version tcnative in my cache (fork19) alongside the current version that seemed to have been polluting my classpath.

[2017-04-18 16:49] shinfan commented on #1427
https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1931 has marked the `LocalDatastoreHelper` as internal use only. Now this issue should be obsolete.

[2017-04-18 16:49] #1427 closed

[2017-04-18 20:11] #1845 closed

[2017-04-18 20:46] autodidacticon commented on #1923
For those experienceing similar issues, I still get a lot of DEADLINE_EXCEEDED errors that seem to be related to connectivity between application and the pubsub endpoints. I've managed to ameliorate most of these with increased values in RetrySettings:

[code]

[2017-04-18 22:20] #1242 closed

[2017-04-19 00:05] jabubake commented on #1654
Fluentd support needs to be better understood and scoped,  JUL is now auto-configured on GCE, GKE, Flex, Standard. Will be tracked separately in #1130

[2017-04-19 00:05] #1654 closed

[2017-04-19 00:12] garrettjonesgoogle commented on #1595
Assigning to @neozwu since the cause is likely to be https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1565 , which is already assigned to him.

[2017-04-19 02:21] mairbek commented on #1871
I've opened a PR https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1939.

This turned out to be harder than I've expected, because type information is lost once spanner Mutation is converted to the Mutation proto.

[2017-04-19 02:51] garrettjonesgoogle commented on #1797
Removing the release-blocking label because we don't have a repro case.

[2017-04-19 05:09] neozwu commented on #1762
@Dima1224 Is this type of error mostly intermittent in your application or not ? I'm curious whether this exception is due to lost connection or underlying SSL-related issues (such as incompatible SSL protocols, client-side cert problems, etc.).

[2017-04-19 11:46] NicoKanitz commented on #350
+1 this is a very high priority for customers of Datastore

[2017-04-19 14:54] garrettjonesgoogle commented on #1909
A newer gax has now been pulled in which includes the fix.

[2017-04-19 14:54] #1909 closed

[2017-04-19 15:16] #1803 closed

[2017-04-19 16:07] garrettjonesgoogle opened #1944 "Handle new values in API responses gracefully (not-almost-GA clients)"
Corresponds to https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1832 but for clients that aren't almost GA.

[2017-04-19 16:59] #1832 closed

[2017-04-19 17:41] Dima1224 commented on #1762
This particular exception happens rarely. But various seemingly retriable exceptions (network related or service related) not being retried by the new library are a common theme. Maybe I should create a separate ticket for this, but here's the latest example:

     Exception in thread "pool-3-thread-136" com.google.cloud.storage.StorageException: 503 Service Unavailable
Service Unavailable
    at

[2017-04-19 17:57] neozwu commented on #1762
@Dima1224 Thanks for the info.  "503" definitely should be retried. I believe we implemented it as retriable (https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-storage/src/main/java/com/google/cloud/storage/StorageException.java#L38).  Is it possible it's actually been retried but keeps failing ?

[2017-04-19 18:26] Dima1224 commented on #1762
@neozwu unfortunately, no. I've created a ticket for a similar issue in the past: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1545. The stack trace seemed the indicate that the exception was recognized as a 503 when in reality it was not due to a bug in the exception conversion logic. I suspect there is a similar problem here, also hidden by the exception's toString logic.

As