[2019-03-20 16:04] sceee commented on #4700
Thank you for your response guys. @olavloite indeed I am shading using gradle with `com.github.jengelman.gradle.plugins:shadow:5.0.0`

Is this an issue that will be fixed in the future in grpc or the google-java library or do I permanently need this workaround from now on?

And with the workaround, do you mean including these files in my own project and including in them in the final jar?

- https

[2019-03-20 16:25] olavloite commented on #4700
@sceee Yes, I you should include those files in the META-INF/services directory of your jar, which means that you need to add them to your own project (at least for now as a workaround).
I'll have to discuss with someone else on what could be a possible long-term solution for this. @sduskis Could you point me in a direction of someone who might be able to help with that?

[2019-03-20 16:27] sceee commented on #4700
@olavloite alright, thank you for your help!

[2019-03-20 17:44] KishoreNamala opened #4711 "Any examples demonstrating posting Java objects to PubSub and reading them in DataFlow"
I'm looking for some code examples on writing Java objects to PubSub and retrieving them in DataFlow.

[2019-03-20 19:56] sduskis commented on #4689
This is similar to ##3344

[2019-03-20 20:39] shollyman commented on #4655
Hope this was helpful.  I'll go ahead and close this issue for now, but feel free to revisit if there's anything else.

[2019-03-20 20:39] #4655 closed

[2019-03-20 21:37] sduskis commented on #3545
I'm closing this issue, since we don't have anything actionable to work on in this repository.  Please open a new issue if this is still a problem.

[2019-03-20 21:37] #3545 closed

[2019-03-20 23:34] KishoreNamala commented on #4095
@chalcrow  - I encountered this error and used the workaround mentioned in the above link.  It resolved the compile error  but broke my pubsub client while trying to publish to a topic.

Here is the error from my pubsub client (trying to create a publisher with custom batch settings).
[code]

And here is the method creating the publisher
[code]

[2019-03-21 00:25] andrewcampey commented on #4661
Hi @ajaaym,
Just wondering if:-
1) You've confirmed that this is an issue
2) Any advice on what we should do?

[2019-03-21 01:41] ajaaym commented on #4689
@sduskis I verified all http request and response in this case and  listDataset is returning status code 200 for refresh token and listDataset api. This is same as authenticating with project A and accessing resource from project B. Changing just project id to B in json file still authenticates as A since refresh token belong to project A.

However the api we are using in this issue step is list,

[2019-03-21 15:42] kolea2 opened #4714 "Upgrade proto-google-common-protos to 1.15.0."

[2019-03-21 16:16] lepistone commented on #3808
Hi, we believe this is still broken as of today (1.65.0). As in the description of this ticket, still `There is now no way to get a table for a project other than the one the client was created for`.

Specifically, in https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryImpl.java#L635-L639 , the proje

[2019-03-22 08:44] olavloite commented on #4700
This problem is caused if you build a fat/über-jar that contains all your dependencies. In those cases, you also need to include all service definitions of the jars that you are packaging. The way to achieve this depends on your choice of build system.

For Maven you should use the [ServicesResourceTransformer](https://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html

[2019-03-22 08:44] #4700 closed

[2019-03-22 09:00] olavloite commented on #4212
The only difference between singleUse() and singleUseReadOnlyTransaction() is that the latter will include the read timestamp in the return value. This field is an optional field that is not returned by default by Cloud Spanner, and you have to specifically request that it should be returned by Cloud Spanner. There is however nothing in the (public) grpc documentation of Cloud Spanner that indicat

[2019-03-22 10:21] olavloite commented on #3405
The problem in this case was that the user was not closing the `ResultSet` that was returned by the query (and also did not completely consume the `ResultSet`), causing the library to create a new session for each new query. I could reproduce the exact same behavior in a very simple setup with basically the same timing as reported by the user. Changing the example code to use a try-with-resources

[2019-03-22 10:21] #3405 closed

[2019-03-22 12:07] olavloite commented on #4627
@agolomoodysaada The `getTotalNackedMessages()` method will return the number of messages that the subscriber has processed and for which it has returned a nack.

Am I correct in assuming that you are looking for the number of messages that the subscriber has received, but not yet processed and responded to? In the PR #4688 that would be the calculation `getTotalReceivedMessages() - getTotalAckedM

[2019-03-22 12:45] Dak0ta commented on #4679
Hi @sduskis - there are many reasons why an end user might not want to use the default socket factory set on the current JVM. Often people want to get around security and make things less strict but in this instance we have a more configurable and flexible socket factory than the currently set default available and want to utilize it but not change the setting JVM wide.

Thanks for the info on whe

[2019-03-22 12:45] #4679 closed

[2019-03-22 13:50] agolomoodysaada commented on #4627
Hey @olavloite , that's not what I'm interested in. I'm looking for the number of messages that were published but not yet consumed. This is the equivalent of the Kafka consumer lag metric.

[2019-03-22 15:18] #4714 closed

[2019-03-22 18:17] elharo commented on #4681
I don't know that it is incompatible. My concern is that the docs say "Note: This client is a work-in-progress, and may occasionally make backwards-incompatible changes." and yet the version number is 1.1.0 which is a violation of semantic versioning. If it is stable, then a 1.1.0 version is appropriate. However we should remove the notes from  google-cloud-java/google-cloud-clients/google-cloud-k

[2019-03-22 18:35] frankyn commented on #4557
Hi @zulkifal,

I spoke with the @googleapis/yoshi-java team and they agreed to move forward with the change. I sent a PR for review which updates the endpoint.

We appreciate your patience!

[2019-03-22 19:19] schmidt-sebastian commented on #3514
@nikammerlaan Thanks for reporting this issue! This is actually a limitation of our network stack. By default, we only support 100 concurrent streams. If you are hitting this limit, you can increase how many connections we initialize in our pool. To change the setting you can do the following:

[code]

We allow 100 streams per entry in the pool, but you can adjust this setting as needed. Note that

[2019-03-22 19:19] #3514 closed

[2019-03-22 21:28] noelweichbrodt opened #4727 "google-cloud-speech uncaught RejectedExecutionException in vendored OkHttp"
Intermittently, a `StreamingRecognizeRequest` will throw an uncaught exception:

[code]

This appears to be a bug that is fixed in OkHttp 3.12: https://github.com/square/okhttp/pull/4365
and there is a PR to upgrade the vendored framework: https://github.com/grpc/grpc-java/pull/5248

[2019-03-23 07:48] olavloite commented on #4627
I'm afraid that that metric is not included in the statistics for the client, and I also don't see a way to get those into a Subscriber client. I've looked through the gRPC API of pubsub, and there is nothing there that could be used to fetch that metric.

[2019-03-23 12:38] #4681 closed

[2019-03-24 23:52] zulkifal commented on #4557
Thanks for the update @frankyn. Appreciate the effort put into this.
Do we have any ETA around maven releases of google-cloud-java and google-auth-library-java?

[2019-03-25 11:47] ronisac opened #4736 "Dialogflow V2, Springboot Dialogflow Library calls are failing ::: java.lang.IllegalArgumentException: Failed to load any of the given libraries: [netty_tcnative_linux_x86_64, netty_tcnative_linux_x86_64_fedora, netty_tcnative_x86_64, netty_tcnative]"
Hi All,
I have integrated Dialogflow V2 API (DetectIntend) with Springboot and it is working perfectly fine in my local machine. But the API calls are failing after deploying the same to GCP. After doing some research, I have added following dependencies which didn't help either. Have gone through directions in [here ](https://github.com/grpc/grpc-java/blob/master/SECURITY.md), but didn't solve th

[2019-03-25 12:24] sduskis commented on #4736
Out of all of the things you listed, please only include `grpc-netty-shaded`, and make sure to exclude all of the others.

[2019-03-25 13:16] agolomoodysaada commented on #4627
I understand @olavloite . Thanks for taking a look; that's the reasoning behind filing this issue.
Is there a way we can expose that metric via the gRPC API? Should this issue be filed in another repo?

[2019-03-25 13:51] sduskis commented on #4627
@agolomoodysaada, I don't think that there's a way around getting access to Stackdriver metrics on the project that owns the topic.

[2019-03-25 19:19] sduskis commented on #4727
gRPC will eventually have a release that will fix this problem.  We'll upgrade to that version, once it's out.

[2019-03-25 19:22] #3315 closed

[2019-03-25 19:24] agolomoodysaada commented on #4627
In the kafka world, subscribers can get information about their offset on a specific topic on their own. Subscribers should own their offset, not topic owners. I understand if this is not available. And I was hoping that filing an issue here would allow the team to explore solutions for this. But it seems like the design is tied to stackdriver.

[2019-03-25 19:27] #4689 closed

[2019-03-25 19:45] sduskis commented on #4711
Unofrtunately, this repository deals with Pub/Sub, but not Dataflow / Apache Beam related.  A general web search might get you what you need.

[2019-03-25 20:05] KishoreNamala commented on #4711
I think I found what I needed. Thank you

[2019-03-25 20:05] #4711 closed

[2019-03-25 21:11] sduskis commented on #4627
@agolomoodysaada, that's correct.  Stackdriver is the only way to access the metrics.

This repository's issue tracker is for Java client related issues.  You can ask for a Pub/Sub feature from https://cloud.google.com/pubsub/docs/getting-support.  [Here's a link](https://issuetracker.google.com/issues?q=componentid:187173%20status:open) to the issue tracker that would be better suited for your re

[2019-03-25 21:12] #4627 closed

[2019-03-25 22:36] #3701 closed

[2019-03-25 22:47] NicolasNewman commented on #4595
@sduskis What exactly do you mean by this? How will that change @ajaaym's solution?

[2019-03-25 23:05] kmjung opened #4737 "BigQuery storage settings don't propagate the user-agent header"
This doesn't work:

[code]

This does:

[code]

This seems wrong.

[2019-03-26 03:00] ronisac commented on #4736
Thanks for the response.
I have removed all other dependencies except grpc-netty-shaded, but getting the following exception.

[code]

[2019-03-26 03:04] ronisac commented on #4736
Also I have upgraded my `grpc-netty-shaded` to version 1.19

[2019-03-26 03:27] bricejlin opened #4739 "Make FakeStorageRpc class public for more flexible StorageOption settings"
Hi!

I was wondering if we could expose the `FakeStorageRpc` class for customizable StorageOption builds. `LocalStorageHelper` as it stands doesn't allow for me to pass in custom credentials. Since my app uses signed urls, I need to pass in a `ServiceAccountCredentials` type credential when instantiating my test `Storage` impl.

Ex:
[code]

Thanks,

Brice

[2019-03-26 05:47] ajaaym commented on #4736
@ronisac normally you wouldn't need to add any dependency other than dataflow client api. Can you please provide more detail on where and how you are deploying on GCP? if you are using docker can you share docker file?

[2019-03-26 06:01] ajaaym commented on #4739
@bricejlin you can set ```GOOGLE_APPLICATION_CREDENTIALS``` env variable to service account credential file that you want to use.

[2019-03-26 06:41] ronisac commented on #4736
@ajaaym .... Please find the below the docker file content.

`ARG port=9414

FROM openjdk:8-jdk-alpine
ARG finalName=cg-conversationservice-0.0.1-SNAPSHOT
ARG port
VOLUME /tmp
EXPOSE ${port}
ENV SPRING_OPTS=""
ADD target/${finalName}.jar app.jar
ENV JAVA_OPTS="-Xmx100m"
ENTRYPOINT [ "sh", "-c", "java $JAVA_OPTS -Djava.security.egd=file:/dev/./urandom -jar /app.jar $SPRING_OPTS"]`

[2019-03-26 06:43] ronisac commented on #4736
Also please find the google API dependencies which I have in my POM

[code]

[2019-03-26 07:04] ronisac commented on #4736
Please see the complete exception log which I am getting.
Please note that I have removed all the netty related dependencies and kept only dialogflow api dependency `google-cloud-dialogflow` at this time.
[Dialogflow_Exception.txt](https://github.com/googleapis/google-cloud-java/files/3006857/Dialogflow_Exception.txt)

[2019-03-26 08:57] ronisac commented on #4736
I have downgraded my dialogflow library version from `0.84.0-alpha` to `0.47.0-alpha` .
But I am getting a different exception now, please find the below exception trace.

[code]

[2019-03-26 11:19] ronisac commented on #4736
I resolved this issue. The reason was jdk version used in our docker file.
jdk version used was 8-jdk-alpine and changed to 8-jdk

[2019-03-26 11:19] #4736 closed

[2019-03-26 13:04] bricejlin commented on #4739
@ajaaym I don’t want to provide a valid service account json for testing. I want to be able to mock it.

[2019-03-26 14:37] sduskis commented on #4595
@NicolasNewman, @ajaaym's solution should be baked into the client. Users shouldn't have to update that setting manually.

[2019-03-26 18:17] #4212 closed

[2019-03-27 03:30] ajaaym commented on #4739
@bricejlin In that case you can just directly mock ```StorageRpc```. Also can you please provide more detail exactly what you want to test?

[2019-03-27 03:48] bricejlin commented on #4739
@ajaaym FakeStorageRpc gives me an in-memory impl that I want but i just want the ability to pass in mock creds so it can sign urls as well.

I have a service that provides signed gcs urls via storage.signurl. For integration testing I’d like to provide an in-memory storage impl that can also sign urls, but I want to pass in a stub service account credential

[2019-03-27 06:45] ajaaym commented on #4739
@bricejlin You dont need StorageRpc for that, you just need storage. You can do that as below.

Options 1 use stubbed ServiceCredential while building service
[code]

Option 2 pass stubbed ServiceCredential while calling sign url

[code]

[2019-03-27 12:59] bricejlin commented on #4739
Thanks @ajaaym. With the first option, will that not call the real storage / gcs?

I’m doing option 2 right now actually, but I’d like to pass the creds into storage first to avoid mocking two things (storage/creds) into multiple places.

[2019-03-27 13:08] ajaaym commented on #4739
@bricejlin signUrl doesnt call any real storage rpcs.

[2019-03-27 14:40] bricejlin commented on #4739
@ajaaym right, but id also like to use the storage impl during testing for read/writes, which is why I'm relying on LocalStorageHelper

[2019-03-27 15:15] derekm opened #4751 "Outdated PMD config"
The packaged PMD configuration file produces tons of Warnings on the latest versions of PMD and will cause outright failures in the upcoming PMD 7.0 release.

I have produced an updated version of the PMD config file.

See also: https://github.com/google/styleguide/issues/321#issuecomment-476400843

[2019-03-27 15:49] mikessoldier commented on #4700
Hello there.
We've applied the discussed workaround and it doesn't seem to work.
Is there something else I should check?
We are running the puller from a daemon thread. Do you think that can be the reason?

[2019-03-27 16:03] olavloite commented on #4700
@mikessoldier Can you confirm that your fat jar really contains the directory structure META-INF/services at top level, and that the directory contains the files io.grpc.LoadBalancerProvider and io.grpc.NameResolverProvider?

[2019-03-27 16:23] SebastianStehle opened #4752 "Logback Appender for Google Cloud Logging creates a lot of threads"
#### Environment details

1. google-cloud-logging-logback
2. OS type and version: Docker
3. Java version: 1.8
4. google-cloud-java version(s): 0.79.0-alpha

Hi,
we use the logback Appender for Google Cloud Logging to connect the logging of our externally hosted Java application with stackdriver.

Today we had a network problem, the connection to stackdriver timed out several times. After this happ

[2019-03-27 18:36] agolomoodysaada commented on #4627
Thanks. For those interested, here's my submitted issue: https://issuetracker.google.com/issues/129396362

[2019-03-27 19:30] #4737 closed

[2019-03-28 02:19] ajaaym commented on #4739
@bricejlin normally you wouldnt need to use LocalStorageHelper unless you want to test the library code as part of your application. Your application should stub Storage for unit test or for integration test it should use either emulator or actual gcp.

[2019-03-28 04:54] bricejlin commented on #4739
@ajaaym i see. So LSH was not meant to be used publicly for non lib code? I’m using it as an emulator for my integration tests, which for the supported methods work. Could we consider extending LSH to allow users to add custom StorageOptions?

And also do you mean there is another emulator I can use?

[2019-03-28 07:02] tanuja5 opened #4757 "Memory leak from netty/Deadline exceeded after 9999961477ns"
The following exception occurs with gcloud pubsub client library,

	1. When I tried publishing about 500000 messages to a topic in async mode:

	Stack trace:
	: io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED: deadline exceeded after 9999961477ns
	at com.myorg.proc.MyClass$MyInnerClass.onFailure(MyClass.java:324)
	at com.google.api.core.ApiFutures$1.onFailure(ApiFutures.java:68)
	at com.google.c

[2019-03-28 07:14] ajaaym commented on #4757
@tanuja5 Since you want to publish large number of messages please use higher batching thresholds as below that will reduce the total number of rpc. Memory leak reported by eclipse Mat is not actually memory leak its just number of pending rpcs. You can keep higher delay threshold and bytethreshold so you can hit element count threshold and fine tune that based on your application requirement.

[c

[2019-03-28 08:40] ajaaym commented on #4752
@SebastianStehle Looks like at time of threaddump also there was some network error and rpcs were retrying. Can you please share full repro?

[2019-03-28 09:16] mikessoldier commented on #4700
Maybe this will help. I did a search from the list of contents of the `.jar` to see if those files were added.
This is the result:

[code]

[2019-03-28 09:24] SebastianStehle commented on #4752
Yes, as I said "Today we had a network problem, the connection to stackdriver timed out several times."

Unfortunately I have no repro yet, i am thinking that I will move the whole logging system to a separate process.

[2019-03-28 09:25] olavloite commented on #4700
I would have expected that the following command:

[code]

Would have yielded at least also the following result:

[code]

In other words: It looks like your build does include the `io.grpc.LoadBalancerProvider` in the services folder, but that the `io.grpc.NameResolverProvider` is not included in the services folder.

Could you copy the stack trace of the error message you are getting? I would ex

[2019-03-28 09:36] olavloite commented on #4700
@mikessoldier I noticed that you just added `META-INF/services/io.grpc.NameResolverProvider` to the results of the second search, so that shouldn't be the problem then. Could you copy the stack trace that you get?

[2019-03-28 10:00] mikessoldier commented on #4700
Yes, I am sorry, I did a wrong copy of the terminal output, but the file is there.
I hoped I edited the comment on time, but, It seems I was late.
the output is this:
[code]
And about the error I am getting, it should be this:
[code]
I cannot give you a stacktrace right now, sorry.

This is the code we are using (not using `SubscriptionAdminClient`):
[code]

And the error happens in this line:
[co

[2019-03-28 11:00] mikessoldier commented on #4700
I made some changes to narrow the source of the error...
after doing this:
[code]

I got this:

[code]
This error seems to happen
- at `subscriber.startAsync().awaitTerminated();` when `subscriber.startAsync().awaitTerminated();` happens and...
- at `subscriber.stopAsync().awaitTerminated();` when `subscriber.startAsync();`
no exception thrown in any case.

[2019-03-28 12:29] tanuja5 commented on #4757
I did try configuring different threshold values but those configurations did not help. I also read this

from BatchSettings doc and I tried to use FlowController like this:
`FlowController.LimitExceededBehavior le = FlowController.LimitExceededBehavior.valueOf("Block");

        FlowControlSettings flowControlSettings = FlowControlSettings.newBuilder().setMaxOutstandingElementCount(1000L)

[2019-03-28 12:59] olavloite commented on #4700
The following code:

[code]

will always end in a TimeoutException. The method `subscriber.awaitTerminated(...)` waits until the subscriber has been terminated (stopped), and not until it is started. I think your intention is to run this:

[code]

[2019-03-28 13:32] ajaaym commented on #4757
@tanuja5 can you please share your repro? are you running in gcp?

[2019-03-28 13:43] mikessoldier commented on #4700
Using `.awaitRunning()` stops it right away, and throws the same error.
Just to be clear, as I said before, I changed the code to try and find the source of the problem.
But the expected behavior is this:
[code]
In this example `logger.info("started async subscriber !!");` never gets executed, and there is no exception to be printed or thrown.

[2019-03-28 13:49] olavloite commented on #4700
I think that the line `subscriber.startAsync().awaitTerminated();` in the example above will wait indefinitely. That's why the logging statement will never be executed, and no exception will be thrown, so you really need to change that line into something else. I'm curious what the stacktrace or the result is if you change that line into `subscriber.startAsync().awaitRunning();`

[2019-03-28 14:10] mikessoldier commented on #4700
When I used `subscriber.startAsync().awaitRunning();`
I got the following results:
[code]

As you said, my intention is that the subscriber will wait indefinitely, and it makes sense that the logging statement never gets executed, you are right.
It seemed to me that it should execute since the `Panic!` might have broken the waiting (but of course I don't really know that).

[2019-03-28 14:41] olavloite commented on #4700
It's very hard to tell what is causing the exception without the entire stacktrace. It could be the same exception as the original exception of this issue, but it could also be something else. Could you try to run the exact same code as the initial example of the issue? In other words, run this piece of code and copy-paste any stacktrace that occurs:
[code]
That should make it 100% clear whether y

[2019-03-28 14:56] mikessoldier commented on #4700
Sorry for the inconvenience. I should have tried that before.
After running the same code, I got this stacktrace:
[code]
Thank you for your patience.
I'll try using the `ExecutorProvider`, and let you know if there is any difference.

[2019-03-28 15:16] olavloite commented on #4700
No problem, and thanks for running the original example :+1:
That confirms that the problem is the same as the original issue. It does however puzzle me that it still happens if the META-INF/services/ directory of MyApp.jar contains these two files....
If it still doesn't work, could you please list the contents of the two files in your MyApp.jar?

META-INF/services/io.grpc.LoadBalancerProvider
ME

[2019-03-28 15:59] mikessoldier commented on #4700
It's solved.
As you suggested, I tried to confirm the content of the files (`io.grpc.LoadBalancerProvider`, `io.grpc.NameResolverProvider`)
e.g.:
[code]

I didn't place the files correctly before, and therefore they were not being included correctly... making the fix useless.
To be clear, I have moved the files to the next location:
[code]

The content of the `io.grpc.LoadBalancerProvider` file is

[2019-03-28 17:45] meltsufin opened #4783 "Logging pending writes not flushed on close causing hanging"
Context: https://github.com/spring-cloud/spring-cloud-gcp/issues/1608.

[2019-03-29 07:10] tanuja5 commented on #4757
No I'm not using GCP, I don't have a repo either. Here's a sample of my code that I use in my original application

[code]

[2019-03-29 07:10] zafark0695 opened #4785 "AutoML prediction bug on java"
I used the java code to perform translation prediction on my custom model on google cloud.
This the java code on google cloud docs: [https://cloud.google.com/translate/automl/docs/tutorial#tutorial-translate-predict-java](here)

This is the modified code, because on the docs like all the other languages (python and nodeJS) google conveniently forgot to make the java code async, so i modified it to

[2019-03-29 07:33] ajaaym commented on #4757
@tanuja5 Element Count Threshold in  batching settings is still 1000 in sample code. Did you try that with higher number like 50k or 100k? As of now flow control setting is not respected by publisher client.

[2019-03-29 10:12] tanuja5 commented on #4757
Yes, I have tried with higher element count with even higher byte threshold and interval to meet the element count threshold, I changed the config and sent about 50k events like:

`BatchingSettings batchingSettings =
                BatchingSettings.newBuilder()
                        .setElementCountThreshold(50000L)
                        .setRequestByteThreshold(30000000L)

[2019-03-29 10:21] ajaaym commented on #4757
@tanuja5 batch can hold the element based on threshold provided. Howz the connectivity between your application and gcp? Can you add delay in publishing message after number of message same as element count threshold?

[2019-03-29 12:19] tanuja5 commented on #4757
The connection has been stable. As per your suggestion,
I tried adding delay and batched 10000 events with a batch size of 1000 which usually passes, When tried with a higher batching ex: 2000 for same number of events, it fails.

[2019-04-01 03:04] ajaaym commented on #3068
@askrht I tried the steps you mentioned and cant reproduce. If you are still facing this issue can you please provide full repro?

[2019-04-01 14:09] reik-wargaming opened #4833 "BigQuery: FieldValue.value is always a String regardless of the column type"
The following SDK function in `FieldValue.java`

[code]

always returns a `String` but the type should depend on the underlaying column type. I am assuming that this is unintentional, otherwise you could have returned `String` instead of `Object` from `getValue()`.

#### Environment details

1. google-cloud-bigquery
2. MacOS HighSierra
3. Java 8, Kotlin 1.3
4. google-cloud-java version(s): 1.55.0

[2019-04-01 15:19] rumatoest opened #4835 "Stacktrace should no be written to log message"
Hello.

I've noticed pretty strange things. Somehow you are adding whole stack trace information to textPayload which is weird. Also  it look very ugly in stackdriver logging web UI because you just put there extremely long string that can not be displayed in nice and verbose way.

I think that nobody wants to see it in textPayload. Why you can't add full stacktrace to property/label named "stackt

[2019-04-02 01:36] chalcrow commented on #4661
@ajaaym - Full details of the process we're following and the error we get is documented here - https://stackoverflow.com/questions/55037520/app-engine-localdatastoreservice-load-failed-to-load-from-the-backing-store ( I'm a colleague of @andrewcampey )

[2019-04-02 02:25] ajaaym commented on #4661
@chalcrow I am not able to find the required class ```LocalDatastoreFileStub$FileProfile``` any where. Still working on finding out a process to use datastore locally.

[2019-04-02 05:52] chalcrow commented on #4661
Thanks @ajaaym - I updated to the following dependencies in our pom.xml - same error occurs:

[code]
Here's our full pom.xml:

[code]

[2019-04-02 09:30] #3215 closed

[2019-04-02 10:24] harshit29dx opened #4869 "Check your key and signing method. AWS S3 JDK Java"
[code]

gives me

[code]

[2019-04-02 10:39] ajaaym commented on #4869
Looks like wrong repo.

[2019-04-02 10:39] #4869 closed

[2019-04-02 13:42] milenkara opened #4873 "google-cloud-speech: java.lang.IllegalStateException: Failed to unpack object from 'any' field."
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
2. OS type and version: Ubuntu 18.04
3. Java version: 10.0.2
4. google-cloud-java version(s):

#### Steps to reproduce

  1. Run Asynchronous speech recognition for file in the on the link: https://drive.google.com/open?id=1iB319pvY3yAlInph

[2019-04-02 16:41] creamsoup opened #4876 "Firestore: Quickstart throws IllegalStateException: Could not find policy 'pick_first'"
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
2. OS type and version: n/a (filing a bug behave of @SkunFly
3. Java version: n/a
4. google-cloud-java version(s): n/a

#### Steps to reproduce
the original bug reporter (@SkunFly) described that running the quickstart throws the exception.

[2019-04-02 17:51] ajaaym commented on #4876
@creamsoup Can you please try solution mentioned in #4700 ?

[2019-04-03 08:05] yoshi-automation opened #4885 "Synthesis failed for compute"
Hello! Autosynth couldn't regenerate compute. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/efa5d681-595f-4887-ae4f-405e4fcdadf2).

[2019-04-03 08:05] yoshi-automation opened #4886 "Synthesis failed for webrisk"
Hello! Autosynth couldn't regenerate webrisk. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/efa5d681-595f-4887-ae4f-405e4fcdadf2).

[2019-04-03 08:06] yoshi-automation commented on #4885
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/cd28ea47-30a6-434d-9672-c43163c14fb5).

[2019-04-03 08:06] yoshi-automation opened #4887 "Synthesis failed for datalabeling"
Hello! Autosynth couldn't regenerate datalabeling. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/cd28ea47-30a6-434d-9672-c43163c14fb5).

[2019-04-03 08:06] yoshi-automation opened #4888 "Synthesis failed for talent"
Hello! Autosynth couldn't regenerate talent. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/cd28ea47-30a6-434d-9672-c43163c14fb5).

[2019-04-03 08:06] yoshi-automation commented on #4886
Autosynth is still having trouble generating webrisk. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/cd28ea47-30a6-434d-9672-c43163c14fb5).

[2019-04-03 08:10] prasannakumar909 opened #4889 "update field description"
i am trying to update the description of the field, can you guys please suggest me how can I change the field description using java

[2019-04-03 09:00] prasannakumar909 commented on #4889
for tables i am doing...
com.google.cloud.bigquery.Table beforeTable = bigquery.getTable(datasetId, tableName);
		TableInfo tableInfo = beforeTable.toBuilder().setDescription("test").build();
		 com.google.cloud.bigquery.Table afterTable = bigquery.update(tableInfo);

need the way to update fields description as well.. its urgent

[2019-04-03 09:22] rumatoest commented on #4835
Actually I can do the patch if you are agree with my suggestions

[2019-04-03 10:38] tanuja5 commented on #4757
@ajaaym
I am getting a new exception when testing with EventCount set 1100.

`io.grpc.StatusRuntimeException: INVALID_ARGUMENT: The value for 1100 is too large. You passed message_count in the request, but the maximum value is 1000.. Cause: io.grpc.StatusRuntimeException: INVALID_ARGUMENT: The value for 1100 is too large. You passed message_count in the request, but the maximum value is 1000.
	at

[2019-04-03 11:54] ajaaym commented on #4531
@gcaguilar This is fixed in latest version with upgrade of google http java client to 1.28 and above which has removed commons-codec dependency.

[2019-04-03 14:27] sduskis commented on #4889
@shollyman, do you have any advice?

[2019-04-03 14:27] gcaguilar commented on #4531
@ajaaym Thank you!

[2019-04-03 14:28] #4531 closed

[2019-04-03 15:16] kolea2 commented on #4888
Looks like talent was generated successfully after this: https://github.com/googleapis/google-cloud-java/pull/4884.

[2019-04-03 15:16] #4888 closed

[2019-04-03 15:16] kolea2 commented on #4887
This was generated successfully after: https://github.com/googleapis/google-cloud-java/pull/4883

[2019-04-03 15:16] #4887 closed

[2019-04-03 16:37] prasannakumar909 commented on #4889
@sduskis  it tried in several ways like
 Field f=tempList.get(0);
 f.toBuilder().setDescription("test").build();
 but no luck , need the way where i can update the field description using the api

[2019-04-03 17:03] #4886 closed

[2019-04-03 17:42] #4557 closed

[2019-04-03 17:42] frankyn commented on #4557
Should now be fixed in the latest release, thank you @kolea2 and @JesseLovelace!

[2019-04-03 18:43] hzyi-google commented on #4876
Bumped into this when using texttospeech. Can repro in any version above 0.80.0. Versions below and equal to 0.79 are good.

I am not sure if this issue is because we are not shading gprc (are we?) correctly as is mentioned in the linked issue above. If so, then it's likely a lot of libraries are affected.

We should probably stop cutting new releases before this gets fixed.

[2019-04-03 18:44] hzyi-google commented on #4876
Bump the priority up for attention.

[2019-04-03 23:46] shollyman commented on #4889
For java, I believe you need to access this through the table definition abstraction.  e.g. schema would be present in beforeTable.getDefinition().getSchema() from your example.

You can walk the schema to set descriptions per field, and then apply them to your tableInfo for then calling update.  You'd want to ensure you're not extending the schema in other ways (manipulating field order, data typ

[2019-04-04 04:22] prasannakumar909 commented on #4889
Thanks for the advice.. @shollyman
i tried as your suggestion but no luck..
 com.google.cloud.bigquery.Table beforeTable = bigquery.getTable(datasetId, tableName);
beforeTable.getDefinition().getSchema().getFields().get("complaint_type").toBuilder().setDescription("testField").build();
TableInfo tableInfo = beforeTable.toBuilder().setDescription("schema_test").build();
 com.google.cloud.bigquery.T

[2019-04-04 08:04] yoshi-automation commented on #4885
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/bae7321f-4b4c-4704-99b3-1b1bcd85f282).

[2019-04-04 10:38] PadrePadrone commented on #2351
This feature would significantly imrove our application performance.
Any timeline for it?

[2019-04-04 10:38] pmakani commented on #4889
@prasannakumar909
[code]
you can update your description using this code.

[2019-04-04 11:20] prasannakumar909 commented on #4889
@pmakani  Thanks this worked out for me.

[2019-04-04 11:20] #4889 closed

[2019-04-04 16:46] andreamlin commented on #4885
we should check in https://github.com/googleapis/discovery-artifact-manager/pull/114 first. that fixed it for me locallly.

[2019-04-05 08:06] yoshi-automation commented on #4885
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/817968c9-aaf4-45be-81d9-73a2add85a6f).

[2019-04-05 08:06] yoshi-automation opened #4913 "Synthesis failed for scheduler"
Hello! Autosynth couldn't regenerate scheduler. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/817968c9-aaf4-45be-81d9-73a2add85a6f).

[2019-04-05 08:06] yoshi-automation opened #4914 "Synthesis failed for tasks"
Hello! Autosynth couldn't regenerate tasks. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/817968c9-aaf4-45be-81d9-73a2add85a6f).

[2019-04-05 08:06] yoshi-automation commented on #4885
Autosynth passed, closing! :green_heart:

[2019-04-05 08:06] #4885 closed

[2019-04-05 08:06] yoshi-automation commented on #4913
Autosynth passed, closing! :green_heart:

[2019-04-05 08:06] #4913 closed

[2019-04-05 08:06] yoshi-automation commented on #4914
Autosynth passed, closing! :green_heart:

[2019-04-05 08:06] #4914 closed

[2019-04-05 10:07] kwiesmueller commented on #1357
How is the status on this?
This issue seems to persist for quite some time now and we are unable to use the url safe key spanning services built in various languages due to this.

[2019-04-05 16:03] garrettjonesgoogle opened #4915 "google-cloud-speech should be promoted to GA"
google-cloud-speech is Beta, and has been for a while, so it should be promoted to GA. It was Beta because the surfaces for LRO and Bidi streaming weresn't stable yet, but those are now stable.

[2019-04-05 16:06] garrettjonesgoogle commented on #4915
Well, technically LRO & Bidi streaming still have `@BetaApi`, but I have filed an issue to remove that: https://github.com/googleapis/gax-java/issues/702

[2019-04-05 18:45] kolea2 commented on #4915
👍 I'm currently working on this.

[2019-04-05 19:36] sduskis commented on #4876
#4700 is very similar to this.  This is likely a problem with the way you're doing shading.

[2019-04-05 19:46] sduskis commented on #4876
As per #4700, addin `<transformer implementation="org.apache.maven.plugins.shade.resource.ServicesResourceTransformer"/>` to the shading process ought to help.  (thanks @dpcollins-google for the solution)

[2019-04-05 22:06] kamarkaka opened #4918 "writeFileToTable in BigQuerySnippets.java needs to close channel"
File: google-cloud-java/google-cloud-examples/src/main/java/com/google/cloud/examples/bigquery/snippets/BigQuerySnippets.java

Issue: (at Line: 430)
In the example of writing a local file to a table (public long writeFileToTable(String datasetName, String tableName, Path csvPath, String location) throws IOException, InterruptedException, TimeoutException), TableDataWriteChannel needs to be closed.

[2019-04-06 01:27] prokulit06 opened #4919 "how to fix io.grpc.internal.CallCredentialsApplyingTransportFactory.getScheduledExecutorService"
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.ezminute, PID: 10348
    java.lang.AbstractMethodError: abstract method "java.util.concurrent.ScheduledExecutorService io.grpc.internal.ClientTransportFactory.getScheduledExecutorService()"
        at io.grpc.internal.CallCredentialsApplyingTransportFactory.getScheduledExecutorService(CallCredentialsApplyingTransportFactory.java:52)

[2019-04-07 10:41] Shadat-tonmoy opened #4922 "TextToSpeech API not responding or Unavailable"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2019-04-08 04:42] ajaaym commented on #4757
@tanuja5 Can you please share the exact code that you are using for this error "INVALID_ARGUMENT: The value for 1100 is too large. You passed message_count in the request, but the maximum value is 1000."?

[2019-04-08 15:04] rahulKQL commented on #3634
Can we close this issue?

As both [`BigtableDataSettings`](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/BigtableDataSettings.java#L332-L335) & [`BigtableTableAdminSettings`](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigtable/src/main/java/com

[2019-04-08 15:05] #3634 closed

[2019-04-08 15:57] rahulKQL commented on #4308
@igorbernstein2

Do we still want to integrate these test case with kokoro? OR should we have some other set of integration test?  As these basic tests are taking up to 3 mins on my local machine.

[code]

The command to run the integration test specific to bigtable would be:
[code]

[2019-04-08 16:14] #4918 closed

[2019-04-08 18:57] twang-cs opened #4925 "Firestore/Pubsub Dependency Issues"
#### Description

I found an issue dealing with the dependency manager for the Google Cloud API. I started working with Firestore recently, and I was using this documentation to get started: https://firebase.google.com/docs/firestore/quickstart. From there, I went to the API reference in the left navigation bar, and found this link for the javadocs (https://googleapis.github.io/google-cloud-java/g

[2019-04-08 20:35] sduskis commented on #4925
I think that adding this will solve the problem:

[code]

[2019-04-08 23:49] creamsoup commented on #4876
sorry for the late response. The original reporter had the issue when running the quickstart guide. so if that is the root cause, can you fix the quick start guide? (i haven't tried it by myself, so i am just repeating what original reporter said).
also, it doesn't explain version bump reported by @hzyi-google unless the quick start guide started use shadow plugin or generating uber jar starting f

[2019-04-09 01:22] beccasaurus commented on #2276
FYI – I've added more information about this error message to a similar issue filed against the Node.js client library for the Cloud Vision API: https://github.com/googleapis/nodejs-vision/issues/270#issuecomment-481064953

[2019-04-09 08:29] tanuja5 commented on #4757
@ajaaym It is the same code that i have commented above.

[code]

[2019-04-09 11:12] cakism commented on #4700
So happy to have found this thread as I've had exactly the same issue and tried a plethora of increasingly weird things in what can only be described as superstition based coding, but adding the files in the
[code]
like above finally did the trick! 🙌

Running a Kotlin project with the Cloud PubSub Java Client Lib in Docker for Mac.

[2019-04-09 23:46] #3097 closed

[2019-04-10 07:13] ZeeD opened #4927 "how to make MDC work with MessageReceiver"
Hi
In the "main" thread I set up some values in the MDC.
the pubsub api spawns a number of threads.
How do I make the threads "aware" of the threadlocal MDC dict?
Moreover, I would like to add the messageId in the MDC itself.

[2019-04-10 10:33] goxr3plus opened #4932 "Please add example for real time recording and parsing from computer microphone"
I am talking about [google-cloud-speech](https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-clients/google-cloud-speech)

Even being an experienced Java Developer i am struggling a lot with this repository ... there are not many examples on how to use it ... if not any at all .

Add examples for recording and providing speed to text from microphone embedded to the computer .

[2019-04-10 16:19] lucasoares opened #4933 "LocalDatastoreHelper should accept a custom port to start the emulator."
Hello.

I'm using Spring libraries to operate with the GCP products and I found a issue with the datastore emulator helper.

Unfortunately the class `LocalDatastoreHelper` has a hardcoded way to find the port to start the emulator and doesn't accepts a custom port.

To ensure datastore testing with all spring libraries I will need to set the port based on my own configuration and this will also ma

[2019-04-10 16:43] nfallen opened #4934 "com.google.cloud.bigquery.Job.getQueryResults fails on job that writes to destination table in different project"
The failure occurs on a query job with a destination table in a different project than the project in which the query runs:

Builder builder = QueryJobConfiguration.newBuilder(query);
    builder.setDestinationTable(
          TableId.of("destproject", "mydataset", "mytable"));

Say the query runs in srcproject.

The job succeeds and the destination table of the job is correct, destproject.mydatas

[2019-04-11 08:05] yoshi-automation opened #4938 "Synthesis failed for securitycenter"
Hello! Autosynth couldn't regenerate securitycenter. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/6c9372c7-f9a4-4153-9798-08eacc381595).

[2019-04-11 09:48] rahulKQL commented on #4091
This issue can be closed as @igorbernstein2 has already removed typesafe names from Bigtable API.
Related PRs:

#4671, #4505, #4258, #4257

[2019-04-11 18:53] fyhuang-rideos opened #4939 "Spanner: TransactionRunner.run() sometimes doesn't retry on ABORTED"
Hello, we've noticed that sometimes running executeUpdate throws an AbortedException (directly from inside executeUpdate). This happens, for example, when running queries like `DELETE FROM Table WHERE true`. When this happens inside TransactionRunner.run(), the transaction is not automatically retried, but the AbortedException is immediately rethrown to the caller. Note that the AbortedException a

[2019-04-11 20:11] #4265 closed

[2019-04-11 20:16] #4933 closed

[2019-04-12 08:04] yoshi-automation commented on #4938
Autosynth passed, closing! :green_heart:

[2019-04-12 08:04] #4938 closed

[2019-04-12 17:30] olavloite commented on #4939
This issue was fixed in PR #4181 that was released with version 0.73.0. If you upgrade to version 0.73.0 or newer of the client library, you should no longer experience this issue.
Please re-open if this does not solve your issue.

[2019-04-12 17:30] #4939 closed

[2019-04-12 18:02] #2462 closed

[2019-04-12 20:46] #4702 closed

[2019-04-13 03:38] tanuja5 commented on #4757
@ajaaym Can you please suggest a fine tuned batch policy for Publishing say a, 100k events. What would be the appropriate number of messages to be sent in a batch of :-

EventCount:x,
Interval:y,
Size:z

[2019-04-13 11:36] KandasamySurya commented on #2499
Incorporating a method to connect to spanner db in java .. am frequently getting com.google.api.gax.core.GaxProperties.getLibraryVersion(Ljava/lang/Class;Ljava/lang/String;)Ljava/lang/String errors. Please help

[2019-04-13 11:39] KandasamySurya opened #4941 "Getting : com.google.api.gax.core.GaxProperties.getLibraryVersion(Ljava/lang/Class;Ljava/lang/String;)Ljava/lang/String Error while connecting to Cloud Spanner Via java code"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2019-04-13 11:48] KandasamySurya commented on #4941
Exception in thread "main" java.lang.NoSuchMethodError: com.google.api.gax.core.GaxProperties.getLibraryVersion(Ljava/lang/Class;Ljava/lang/String;)Ljava/lang/String;
	at com.google.api.gax.grpc.GaxGrpcProperties.<clinit>(GaxGrpcProperties.java:41)
	at com.google.cloud.spanner.spi.v1.GapicSpannerRpc.<init>(GapicSpannerRpc.java:161)
	at com.google.cloud.spanner.SpannerOptions$DefaultSpannerRpcFacto

[2019-04-13 12:18] jkubrynski opened #4942 "Storage Client doesn't offer method to update blob metadata"
It's possible to update object metadata (like a custom fields) using `gsutil` or `REST API`. However, it's not possible directly with the Java client.

[2019-04-15 13:02] sduskis commented on #4941
@KandasamySurya, this seems like it could be a conflict with other dependencies.  Are you using other Google Cloud libraries?  Can you please share the versions of the cloud libraries you are using?

[2019-04-15 13:44] lpellegr opened #4946 "java.lang.NoSuchMethodException: com.google.auth.oauth2.ServiceAccountJwtAccessCredentials.<init>(java.lang.String, java.lang.String, java.security.PrivateKey, java.lang.String)"
#### Environment details

Initializing a pubsub client from a service account is broken (Java client version `1.69.0`).

The issue was encountered on Fedora using Java 11.

#### Steps to reproduce

  1. Create a service account with role pubsub editor.
  2. Create a publisher with credentials loading the service account created in the previous step.

#### Code example

[code]

#### Stack trace
[co

[2019-04-15 13:49] lpellegr commented on #4946
Since related to authentication, the issue affects several client SDK:

https://stackoverflow.com/questions/55685353/serviceaccountjwtaccesscredentials-exception-trying-to-call-google-vision-api/55690632#55690632

[2019-04-15 15:00] kolea2 commented on #4946
Hi @lpellegr, thanks for the report. As a workaround, you can also import Pub/Sub using the BOM (I tried this way and received no errors):
[code]

That said, I believe that once a new version of gax is released, that should resolve the issue as that will include an auth library upgrade to 0.15.0. I'll investigate and reply back on the thread.

[2019-04-15 21:28] JesseLovelace commented on #4942
Updating user provided blob metadata is possible with the Java client, it's just not necessarily intuitive. You have to unset the metadata first and then update it with a complete map. How to do so is documented [here](https://googleapis.github.io/google-cloud-java/google-cloud-clients/apidocs/com/google/cloud/storage/Blob.html#update-com.google.cloud.storage.Storage.BlobTargetOption...-). With th

[2019-04-16 06:13] KandasamySurya commented on #4941
ok sure sir

[2019-04-16 09:06] KandasamySurya commented on #4941
[Spanner1.zip](https://github.com/googleapis/google-cloud-java/files/3083988/Spanner1.zip)

These are the jars I have used

[2019-04-16 09:07] KandasamySurya commented on #4941
[Spanner2.zip](https://github.com/googleapis/google-cloud-java/files/3083995/Spanner2.zip)

Also these

[2019-04-16 14:35] kolea2 opened #4958 "Update new_client.py to add new clients to the list of modules in google-cloud-clients"
New clients should be added to the list of modules in the pom.xml file.

[2019-04-16 17:44] shollyman commented on #3753
More information is needed.  I suspect this may be a question about using Matillion to import from redshift into BigQuery, but there's not enough information to make it actionable.

[2019-04-16 18:10] sduskis commented on #4941
@KandasamySurya, are you using maven?  If so, can you please do a `mvn dependency:tree`?

[2019-04-16 18:18] sduskis commented on #4941
`Spanner2.zip` has different versions for the same artifacts.  That's going to be a problem.

Another problem is that you have dependencies for google cloud libraries that may be incompatible; you're using google-cloud-(storage|spanner|logging) that are not compatible.  Please see [here](https://github.com/googleapis/google-cloud-java/blob/v0.72.0/google-cloud-bom/pom.xml) for list of compatible v

[2019-04-16 20:45] #4091 closed

[2019-04-16 20:54] sduskis commented on #4057
@rahulKQL, can you please look at this?

[2019-04-16 21:33] skashin opened #4960 "google-cloud-nio: calling Files.exists(path) on a non-existing object in a requester pays bucket throws an exception"
I used Java 1.8 on Linux, google-cloud-nio:0.87.0-alpha

To access a public requester pays bucket, I setup CloudStorageFileSystemProvider's default configuration with a google project name, and if I then call Files.exists(path) on an existing object path within this bucket, the call return true.

However, if I call Files.exists(path) on a path within that bucket that points to a non-existing objec

[2019-04-16 23:58] vineela-gampa opened #4961 "Spanner sessions/channels recommendation needed"
Hi Spanner team

I want to know whats the recommended configuration required for min / max sessions on spanner. whats the ideal count of grpc channels to be configured?
Current defaults used in code min =10 sesions max=400
and grpc channels defaults to 10

Inorder to handle 100 TPS with spanner node counts=2  what is the recommended min / max sessions to be configured and channel count ?

[2019-04-17 03:20] vineela-gampa commented on #4961
@sduskis  do you have recommendation for the question posted?

[2019-04-17 10:45] vernazza commented on #4922
I have the same problem (on android).
The problem appeared when I upgraded from 0.83.0-alpha to 0.87.0-Beta

[2019-04-17 13:30] olavloite commented on #4961
@vineela-gampa As always, 'it depends', but a couple of things to take into account:

1. As one session can only execute one transaction at any time, the total number of sessions should be at least the number of transactions that will execute in parallel.
2. You mention that you are running 100 transactions per second. Are all of those read/write transactions, or are some of them read-only transac

[2019-04-17 15:36] #4946 closed

[2019-04-17 17:28] #4915 closed

[2019-04-17 17:52] ejona86 commented on #4414
@ajaaym, I don't think this very related to Guava. I think I root-caused this in https://github.com/grpc/grpc-java/issues/5592#issuecomment-483518426 . I think that Guava is just what _failed first_. I believe Protobuf also would have failed.

This is not the standard diamond dependency issue, either. It relates to class loaders, not package managers.

[2019-04-18 00:22] vineela-gampa commented on #4961
@olavloite Thanks for responding . This really helps.

In our load tests we currently run with 100 users each firing request of 1 , wait 3-5s randomly and fire next set of requests. So on an average we are running 86-100 TPS . Its purely readTransactions and there are <1% writes (outisde of load test , from users who are using the environment)

I was reading the code after i read your comments , t

[2019-04-18 00:29] vineela-gampa opened #4974 "Spanner takes long on few calls"
Hi Spanner team

On few calls we observed spanner takes long to respond.

I observed spanner takes quite long sometimes to respond. It doesnt happen always but on some requests reads on a table (which has 200 records ONLY) took >2s .Below attached tracing has that details

i dont see any CPU Spike on spanner ?Unable to figure out why only few calls have that issues. If you have any insights to sha

[2019-04-18 00:57] sduskis commented on #4974
This repository is maintained by a set of developers that know about the client-side more than the server side.  If you need Cloud Spanner support, I would suggest opening up a support ticket which will put you in contact with engineers that have access to monitoring information about your service.  You can see more about opening up a support ticket here: https://cloud.google.com/spanner/docs/gett

[2019-04-18 06:04] olavloite commented on #4961
The important part here is that one session can handle many transactions during its lifetime, but only one transaction at once. Handling 100TPS that are evenly distributed on 5 sessions is easy, as long as the transactions are short enough not to overlap most of the time. I assume that the 90th, 95th and 99th percentiles in your table depict the (transaction) execution times in milliseconds. If a

[2019-04-18 20:44] bsidhom commented on #4016
Note that the service does support regions, but this requires clients to manually set regional endpoints.

For example,

[code]

This is documented at https://cloud.google.com/dataproc/docs/concepts/regional-endpoints, but it might make sense to make this easier to discover/use in the client library.

[2019-04-19 11:06] KandasamySurya commented on #4941
ok . I will check with the compatible versions. Thanks a lot for your valuable input

[2019-04-22 14:33] ttfreeman commented on #3385
How do we actually use this in our code? Is there a Node.js example?

[2019-04-22 15:21] hzyi-google commented on #3385
Hi @ttfreeman, this repo is about Java. For Node.js please check out [google-cloud-node](https://github.com/googleapis/google-cloud-node/issues).

[2019-04-22 16:18] #4974 closed

[2019-04-22 16:18] #4961 closed

[2019-04-22 16:29] FranRiadigos commented on #4727
Hi, Is this fix available?

[2019-04-22 17:13] #4925 closed

[2019-04-22 17:14] sduskis commented on #4876
The quickstart does not do any shading.  The user probably had shading in their own project.

[2019-04-22 17:14] #4876 closed

[2019-04-22 19:26] sduskis commented on #4727
We are at grpc 1.19.0, and the latest is 1.20.0.  However, it lookes like upgrading won't help, since https://github.com/grpc/grpc-java/pull/5248 has not been merged yet.

[2019-04-22 20:18] FranRiadigos commented on #4727
I tried to downgrade it back to 1.17.1 as well as the lib to a previous version (0.80.0) but no luck.

My workaround was to apply an Executor directly to the client.

[code]
Too much boilerplate.

But now I'm facing some inconsistencies with `BidiStreaming` which seems not to close properly the stream request and keeps emitting some data both if I shutdown the `SpeechClient` or if I close it manua

[2019-04-22 22:31] PoriLisa commented on #3739
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'com.google.cloud.bigquery.JobConfiguration com.google.cloud.bigquery.JobConfiguration.setProjectId(java.lang.String)' on a null object reference

[2019-04-22 22:56] JesseLovelace commented on #4960
Thanks for bringing this to our attention. There's a case where a list call is made and the project isn't included. #4996 should fix this

[2019-04-24 19:54] #4057 closed

[2019-04-24 21:03] AndresUrregoAngel opened #5010 "Listing bucket objects name within a bucket path"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.
Hello I need to list the objects name within a specific bucket path, I have deployed my code in Java 1.8 and maven 3 , this one look like:

[code]

Which is bad is that the return of this met

[2019-04-24 21:14] ajaaym commented on #5010
@AndresUrregoAngel  did you try with println instead of print? like ```System.out.println(blob.getName());```?  You are already iterating on elements in a page so its returning each blob element separately.

[2019-04-24 22:37] AndresUrregoAngel commented on #5010
y bad this `println` versus `print` and event `printf` in Java kills me lol.

[2019-04-24 22:37] #5010 closed

[2019-04-24 23:19] evfimivs opened #5012 "Vision API. Image annotation timeout to be ready to use out of the box."
**Issue description**
Presently users have to either build their own timeout by directly creating a GrpcImageAnnotatorStub with a customized ApiCallContext plugged into the ClientContext, or to modify an [existing example](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/video/cloud-client/src/main/java/com/example/video/Detect.java#L363-L368) to fit their needs for the image a

[2019-04-25 12:14] ktandon-informatica-com opened #5014 "Authentication in PubSub grpc java client library"
The sample I am trying out is to receive subscribed messages(see https://cloud.google.com/pubsub/docs/quickstart-client-libraries#receive_messages ).For authentication, I am seeing the library internally uses an instance of DefaultCredentialsProvider which works only if the "GOOGLE_APPLICATION_CREDENTIALS" is set as environment variable. Is there any other CredentialProvider that we can use in the

[2019-04-25 13:42] ihsanhaikalz opened #5016 "Changing user-agent for Google IAM"
Is it possible to change user-agent information for API calls to Google IAM when we instantiate it? My code is like this:

[code]

I saw that for Google Storage is possible using HeaderProvider like this:

[code]
but I couldn't find out how to use HeaderProvider in Google IAM.

Any ideas?

[2019-04-25 14:38] sduskis commented on #5014
You should be able to create a credentials this way:

[code]

[2019-04-25 14:49] mikessoldier commented on #4275
As stated in [#3781](https://github.com/protocolbuffers/protobuf/issues/3781) there the error should be fixed in the 3.7.1 version, but you're still using the 3.6.1 version : `com.google.protobuf:protobuf-java-util:3.6.1`.
Any ETA for this?

[2019-04-25 17:53] #4960 closed

[2019-04-25 19:18] #4934 closed

[2019-04-26 03:11] igordmv opened #5023 "Getting "com.google.api.gax.rpc.UnavailableException: io.grpc.StatusRuntimeException: UNAVAILABLE: Credentials failed to obtain metadata" just when I run on windows, on linux works perfectly"
Hi, I have a Simple Maven JavaFX application that Im building for Linux and Windows OS.
On Linux, application works perfectly, really incredible performance by the API.
The problem is when I go to windows, When I try to start streaming audio to google, this error appear:
com.google.api.gax.rpc.UnavailableException: io.grpc.StatusRuntimeException: UNAVAILABLE: Credentials failed to obtain metadata.

[2019-04-26 10:42] rumatoest commented on #4835
Hello, there. Could you answer my previous comment?

[2019-04-26 11:31] lukeFalsina opened #5024 "Add support for Dataproc client for lifecycle management and autoscaling"
Hello,

I am currently looking at the Dataproc autoscaling implementation and lifecycle management features described here:
https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/autoscaling
https://cloud.google.com/dataproc/docs/concepts/configuring-clusters/scheduled-deletion

While the v1beta2 REST APIs already offers methods and resources for these functionalities, the current be

[2019-04-26 12:03] pmakani commented on #3344
@vitamon
I tried to reproduce this but its working fine for me. Below is full exception log. Can you please try with latest version ?

[code]

[2019-04-26 14:36] ktandon-informatica-com opened #5025 "PubSub client library Java: wrong private key causes infinite thread processing"
#### Environment details

1. Api: PubSub
2. OS type and version: Windows-10
3. Java version: Java8
4. google-cloud-java version(s): PubSub library version latest i.e. 1.71.0

#### Steps to reproduce

  1. I am trying the streamingPull example of Pubsub as given https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-clients/google-cloud-pubsub#pulling-messages and https://cloud.go

[2019-04-26 15:44] vitamon commented on #3344
Just checked on version "google-cloud-bigquery:1.66.0" -- yes, it throws the exception now.

[2019-04-26 22:43] nbali commented on #3740
So that's it, it's closed without an actual proper solution?

[2019-04-26 22:53] nbali commented on #3740
Thank you. Btw if you don't want to constantly log the exception received here, neither put the effort into having smaller checks, would that be a possibility to send it to a specific logger that is only responsible for logging ambiguous results, so it can be turned on/off as the developer prefers?

[2019-04-26 22:56] ejona86 opened #5030 "google-cloud-bigtable uses unstable protobuf APIs"
In looking at grpc/grpc-java#5644 I noticed Range referenced UnsafeByteOperations. That seemed weird, because [UnsafeByteOperations is ExperimentalApi](https://github.com/protocolbuffers/protobuf/blob/v3.7.1/java/core/src/main/java/com/google/protobuf/UnsafeByteOperations.java#L65).

It looks like the reference is at:
https://github.com/googleapis/google-cloud-java/blob/675ace7601e2c09474ce986d5d2

[2019-04-28 00:26] jefioliveira opened #5031 "When I try to call the StorageOptions.getDefaultInstance (). GetService () method I get the error below."
[code]

[2019-04-28 16:57] igordmv commented on #4932
upvoted! I`ts very struggling.

[2019-04-29 02:09] ajaaym commented on #5025
This is same as #3573. Closing this and lets track over there.

[2019-04-29 02:09] #5025 closed

[2019-04-29 09:47] ktandon-informatica-com commented on #3573
@ajaaym can you let me know when this bug https://github.com/googleapis/google-cloud-java/issues/3573 or rather the original https://github.com/googleapis/google-cloud-java/issues/5025 will be fixed? I wanted to know the rough timelines for the same for internal tracking.

[2019-04-29 15:45] #4958 closed

[2019-04-29 20:43] sss-hnguyen commented on #1697
I'm running into this issue as well, and am using cordova to wrap an application. I created a bug about this for cordova, but I'll link the item here as well.

https://github.com/apache/cordova-cli/issues/429

[2019-04-29 21:44] JesseLovelace commented on #5031
There are similar closed issues, it looks like it's usually an issue with dependency setup (see [here](https://github.com/GoogleCloudPlatform/getting-started-java/issues/325)), could you let us know what version of everything you're using, along with the other info from the bug report template?

[2019-04-30 00:01] igorbernstein2 commented on #4308
These should definitely run from kokoro, but they should run in parallel similar to how the integration tests run:

https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigtable/pom.xml#L104-L127

[2019-04-30 14:03] #3344 closed

[2019-04-30 14:15] #4941 closed

[2019-04-30 15:10] ajaaym commented on #4919
@prokulit06 can you please provide the sample code that you are using?

[2019-04-30 15:22] ajaaym commented on #4927
@ZeeD Currently streaming receiver manages ack and nack automatically and is not exposing messageId to client. If you are looking for control on received message, you can use pulling subscriber as in example over [here](https://github.com/googleapis/google-cloud-java/issues/4220#issue-390663014)

[2019-04-30 15:44] #3687 closed

[2019-04-30 18:25] chingor13 commented on #5016
The `Iam.Builder` class is provided by the [`google-api-services-iam`](https://search.maven.org/search?q=a:google-api-services-iam) artifact and is not part of the repository.

To do this, you will want to use [`setHttpRequestInitializer`](https://googleapis.github.io/google-api-java-client/releases/1.25.0/javadoc/com/google/api/client/googleapis/services/json/AbstractGoogleJsonClient.Builder.html

[2019-04-30 18:25] #5016 closed

[2019-04-30 22:49] chingor13 commented on #5024
Thanks for letting us know about this. We're working to find out why these beta endpoints are not being created in the client library.

[2019-05-01 08:18] #4673 closed

[2019-05-01 13:44] salrashid123 opened #5043 "google-cloud-storage: Cannot create signed url with ImpersonatedCredentials"
a Storage client using [ImpersonatedCredentials](https://github.com/googleapis/google-auth-library-java/blob/master/oauth2_http/java/com/google/auth/oauth2/ImpersonatedCredentials.java) does not support creation of SignedURL.

In the sample below thatuses impersonated credentials,
[code]

the error is "[Signing key was not provided and could not be derived](https://github.com/googleapis/google-clo

[2019-05-01 20:30] #4783 closed

[2019-05-02 17:42] kolea2 commented on #5014
Hi! Going to close this as a solution was provided, please feel free to reopen if there are any issues with this approach. Thanks!

[2019-05-02 17:42] #5014 closed

[2019-05-02 17:50] sduskis commented on #5012
There was an internal thread about this.  We need to figure out how GAX works.  There's an interplay between `setInitialRpcTimeout` and `maxRpcTimeout`.  There needs to be a simple way to do timeouts.

[2019-05-02 19:44] jkwlui opened #5054 "Storage: HMAC Service Account key support"
assign: @JesseLovelace

[2019-05-03 15:01] olavloite opened #5059 "Spanner: Spanner.close() does not clean up all resources"
Opening and closing several Spanner instances during the lifetime of an application can cause a thread leak, as the method Spanner.close() does not clean up all threads that are created.

A Spanner instance contains three underlying gRPC stubs: `SpannerStub`, `InstanceAdminStub` and `DatabaseAdminStub`. In order to prevent these from using the same thread pool for gRPC calls, the stubs are handed

[2019-05-03 15:55] sduskis commented on #3152
@ajaaym and I discussed the possibility of having a new `maxMessageSize` variable that would allow the client to properly size the `flowControlWindow`

[2019-05-03 16:06] ajaaym commented on #3536
@chrisribble [Here](https://github.com/googleapis/cloud-bigtable-client/issues/2140#issuecomment-488840921) is how you can make this work.

[2019-05-03 16:06] #3536 closed

[2019-05-03 16:14] ajaaym commented on #4205
@sholavanalli for async pull, hoping that you are using pullCallable, can you please wrap that in to try catch block and retry for exception? Please see example [#4220](https://github.com/googleapis/google-cloud-java/issues/4220)

[2019-05-03 16:18] ajaaym commented on #3518
Closing this as provided solution. Please reopen if this doesn't help.

[2019-05-03 16:18] #3518 closed

[2019-05-03 16:21] ajaaym commented on #3567
@stetra This issue will be resolved once we bring back polling pull. Closing this issue and we will track in #3500

[2019-05-03 16:21] #3567 closed

[2019-05-03 16:22] ajaaym commented on #3812
Closing this and will track in #3500

[2019-05-03 16:22] #3812 closed

[2019-05-03 16:22] #4513 closed

[2019-05-03 16:26] ajaaym commented on #3867
This needs throttling and it will be available once we implement new batcher with flow control. Closing this here and we will track this in #3003

[2019-05-03 16:26] #3867 closed

[2019-05-03 16:28] ajaaym commented on #3779
closing this and will track in #3500

[2019-05-03 16:28] #3779 closed

[2019-05-03 16:43] chrisribble commented on #3536
@ajaaym the issue you linked to suggests installing libc-compat, but this issue clearly states that the issue happens **with** libc-compat installed.

It's been a while since we moved away from Alpine, but IIRC the issue is that the netty tcnative needs to be built specially for Alpine's SSL implementation (i.e. https://github.com/pires/netty-tcnative-alpine) and gRPC is pulling in a netty-tcnativ

[2019-05-03 17:16] #4585 closed

[2019-05-03 17:20] #3613 closed

[2019-05-03 17:21] #3356 closed

[2019-05-03 17:23] ajaaym commented on #3866
This is done in #4784

[2019-05-03 17:23] #3866 closed

[2019-05-03 21:26] jart commented on #3680
For what it's worth, I'm still supportive of moving NIO into a first-class folder, or it's own repo. A lot of top-notch engineering went into that. If it's marked alpha, please take into consideration my standards for alpha are sort of up there with GMail's definition of beta :)

[2019-05-04 00:03] Edouard360 commented on #1292
I get a java.lang.NullPointerException when doing:
curl -X POST http://localhost:8081/reset
I'm with version 2.1.0...

│ Cloud Datastore Emulator                            │         2.1.0 │ 18.4 MiB │

[2019-05-04 06:48] codeconsole opened #5061 "StructuredQuery.Builder - Entity Count Query - Allow limit of 0"
According to the group, the best solution for counting entities is:

https://groups.google.com/forum/#!topic/gcd-discuss/wH8lVOA-a8Y

This was made possible by this ticket.
https://github.com/googleapis/google-cloud-java/issues/3279

However, currently the setLimit enforces a value > 0.

[code]

https://googleapis.github.io/google-cloud-java/google-cloud-clients/apidocs/com/google/cloud/datastore/

[2019-05-05 07:15] jianxia612 commented on #4203
please not vpn access api

[2019-05-06 10:49] ZeeD commented on #4927
@ajaaym But also with pulling subscribers, there is no way for me to set up some behavior at the creation of a new thread.
I can create a new `Subscriber` with the builder and pass a custom `InstantiatingExecutorProvider` with my implementation of a `ThreadFactory` but still there are some threads created bypassing that provider

[2019-05-06 14:21] ajaaym commented on #4927
@ZeeD If you use pulling subscriber then, there are only two other place where threads are getting created. 1. gax 2. grpc. Gax uses ExecutorProvider thats pass down while creating client and gax uses event loop if not provided at time of creating client, it creates new one. [Here](https://github.com/googleapis/google-cloud-java/issues/4558#issuecomment-467154558) is the example of passing event l

[2019-05-06 16:08] #5059 closed

[2019-05-07 00:57] igordmv commented on #4922
@Shadat-tonmoy have you fixed it?

[2019-05-07 10:11] ajaaym commented on #4922
@Shadat-tonmoy @vernazza Can you please provide full stack trace and also dependency tree?

[2019-05-07 10:16] ajaaym commented on #4833
@reik-wargaming FieldValue also supports REPEATED & RECORD type in addition to primitive type. When value of type is primitive you should be using its corresponding type getter vs getValue(). getValue() is to be used when value type is REPEATED or RECORD.

[2019-05-07 10:40] ajaaym commented on #3414
@guess-burger Can you please try with latest version? It has better configuration of channel pool and executor provider and see if it helps?

[2019-05-07 10:54] pmakani commented on #4211
@j256 @chrisribble

I have tested with various scenario and it seems to working fine. can you please retest it ?

[code]

[2019-05-07 11:27] pmakani commented on #4922
@Shadat-tonmoy @vernazza BTW I tested in desktop and android and its working fine. Can you please provide full repro with complete stack trace?

[2019-05-07 12:48] pmakani commented on #4873
@milenkara I have tested above example and it's working fine, can you please try with latest version ?

[2019-05-08 07:52] Shadat-tonmoy commented on #4922
Yes!!! Its working now....but I have a question...as per the documentation it is still in the beta stage...that means it may be down at any time (for development purposes) can anyone tell me when it will be available in production release (from beta)...thanks

[2019-05-08 09:55] vumutduman opened #5119 "Lexical Transcription For Characteristics Words"
Do you provide lexical transcription for characteristic words in an utterance for Speech to Text API?

For Example:

I said (Input): I have $100.
Expected (Output): I have a one hundred dollar.
Not:  I have $100.

<img width="780" alt="Screen Shot 2019-05-08 at 12 49 18" src="https://user-images.githubusercontent.com/6394375/57366848-81e4de00-7190-11e9-95a7-686d1b169173.png">

---
I said (Input):

[2019-05-08 13:54] mcantrell opened #5121 "Dependency conflicts in vision client"
The vision client has quite a few dependency conflicts. Please see the attached pom and maven enforcer report.

[report.zip](https://github.com/googleapis/google-cloud-java/files/3157597/report.zip)

[2019-05-08 17:25] elharo opened #5123 "Cloud Tasks client library documentation points to beta docs"
Google Cloud Java Client for Cloud Tasks link in README to client library documentation points to beta docs although it says it's 1.0 GA.

[2019-05-08 20:05] droazen opened #5127 "Incomplete shading in google-cloud-nio leads to downstream breakage"
The shaded release of google-cloud-nio (we are currently on release `0.81.0-alpha:shaded`) does not shade all of its dependencies. In particular, classes in `google-cloud-core-*` (such as `google-cloud-core-http`) are not being shaded.

As a result, we run into problems such as this one: `com.google.cloud.http.HttpTransportOptions` is not itself shaded, but its method `getHttpTransportFactory()` r

[2019-05-08 20:44] sduskis commented on #5121
You use `<rules><dependencyConvergence/></rules>`.  We can't guarantee complete convergence.
  We use `<requireUpperBoundDeps/>` (see [here](https://github.com/googleapis/google-cloud-java/blob/20d36e4dfa13dd43b5b041a196be78be2a8d79f9/google-cloud-clients/pom.xml#L530)).

Can you use upper bound deps instead of full convergence?

[2019-05-08 21:24] #5123 closed

[2019-05-08 23:27] mcantrell commented on #5121
Ahh, I was not aware that was an option. There are much less errors:

[code]

I was troubleshooting some conflicts with the version of protobuf-java  in com.google.apis:google-api-services-compute and the com.google.cloud:google-cloud-vision when I noticed these.

It turned out to be the google-http-client causing the conflict which I was able to override in my dependencyManagement. I thought thes

[2019-05-08 23:27] #5121 closed

[2019-05-09 05:32] nsmanju01 opened #5129 "Catching Listener Exceptions in long running Cloud PubSub Subscriber service"
I am trying to write a long running Subscriber service in Java. I have set up the Listeners to listen to any failures inside the Subscriber service. I am trying to make this fault tolerant and I do not quite understand few things, Below are my doubts/questions.

1. I have followed the basic setup shown here https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-examples/src/main/

[2019-05-09 06:04] msaifulhaq opened #5130 "CAA record support"
Hi,

Latest library still doesn't support CAA record CRUD operations. Is there any plan to add CAA support in near future ?

Thanks!

[2019-05-09 08:16] pavelkryl opened #5166 "Firestore.runTransaction should support/recognize asynchronous updateFunction result"
Thanks for creating and managing Firestore. I have one suggestion for improvement though.

Currently I consider Firestore admin API to be just partially asynchronous. Whenever there is a call which returns ApiFuture, I consider it OK, although far from ideal comparing to RxJava/reactor Single/Observable/Mono/Flux. I can do conversion from ApiFuture to Mono quite easily by myself.

### Problem
The

[2019-05-09 18:53] sduskis commented on #5130
@msaifulhaq, which library are you referring to?

[2019-05-09 22:59] shollyman commented on #3753
Closing this for now due to lack of actionable information.

[2019-05-09 22:59] #3753 closed

[2019-05-10 07:16] msaifulhaq commented on #5130
@sduskis I am referring https://mvnrepository.com/artifact/com.google.cloud/google-cloud-dns/0.90.0-alpha

[2019-05-10 11:30] milenkara commented on #4873
Thanks @pmakani for the info. I have updated our client library to newest version and exception from the description is not happening anymore for the reported file.
The only strange thing is that results we are getting now are empty (there are no alternatives). Not sure if you got the same behavior, but this may be separate issue.

[2019-05-10 11:45] pmakani commented on #4873
@milenkara Below code is working fine and getting alternatives result , can you try this ?

[code]

[2019-05-10 13:41] milenkara commented on #4873
@pmakani Hah I spotted one difference and for some reason in our domain model language code for Portuguese is `pt-BR` instead of `pt-PT` and when I changed it, speech analysis works correctly. Thanks once again. I assume you can close the issue.

[2019-05-10 13:43] #4873 closed

[2019-05-10 15:36] sduskis commented on #5129
It's difficult to figure out what your code is doing.  Is `initializeSubscriber` a class variable?

[2019-05-10 18:41] #4229 closed

[2019-05-13 16:03] igorbernstein2 opened #5177 "Bigtable: root package docs are missing"
Extracted from https://github.com/googleapis/google-cloud-java/pull/5071#issuecomment-490117286.

Cloud Bigtable has a package-info.java:
https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/package-info.java

But it's javadoc doesn't seem to be generated and returns a 404:
https://googleapis.github.io/google

[2019-05-13 16:04] JoaoPPinto commented on #2912
Hello,
I'm using the google-cloud-logging-logback appender on an application running on GKE, and I'm facing the same issue: some resource.labels are not defined.
[code]

[2019-05-13 19:57] kolea2 commented on #5177
Was looking earlier - the problem is that there are no .java files in com.google.cloud.bigtable (just packages). Adding a "Test.java" to the directory created a package-summary.html file. I'm not sure if this is a javadoc bug, but in the meantime we can add two links to the README - one to point to the admin API javadoc, and one to point to the data API javadoc.

[2019-05-13 20:06] igorbernstein2 commented on #5177
Looks like we can workaround it using an empty package protected file:
https://stackoverflow.com/questions/1138390/javadoc-for-package-info-java-only

[2019-05-13 20:15] elharo opened #5179 "googleapis.dev may be blocking programmatic access"
Still investigating but some integration tests have started failing because https://googleapis.dev/java/google-cloud-clients/latest/com/google/cloud/bigquery/package-summary.html and similar seem unreachable (404) from my JUnit tests. I can load the same URLs in the browser without trouble.

[2019-05-13 21:49] #4056 closed

[2019-05-13 21:49] #4090 closed

[2019-05-13 22:39] JesseLovelace commented on #5031
Closing for inactivity, but feel free to reopen with the additional necessary info

[2019-05-13 22:39] #5031 closed

[2019-05-14 14:39] kolea2 commented on #5177
I'm not sure if I want to add an empty file to get the javadoc to generate the page. @chingor13 WDYT?

[2019-05-14 15:40] dzou opened #5186 "Spanner - How does the client library handle aborted commits?"
In the Spanner [documentation for Commit()](
https://cloud.google.com/spanner/docs/reference/rpc/google.spanner.v1#google.spanner.v1.Spanner.Commit), it says:

How does the Spanner client library handle this case? I found the [resetForRetry()](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-spanner/src/main/java/com/google/cloud/spanner/TransactionMana

[2019-05-14 16:33] chingor13 commented on #5179
Is your configuration is pointing to the older googleapis.github.io page? To handle every redirect, we had to hijack our own 404 page on github-pages to do a javascript redirect to the new url. Thus, in the browser, it would look fine, but programatically it might fail.

[2019-05-14 16:36] elharo commented on #5179
That might well have something to do with it. Could you send a 301 instead?

[2019-05-14 16:38] chingor13 commented on #5179
Unfortunately, we don't have control over the response codes returned from github-pages.

[2019-05-14 18:21] chingor13 commented on #5177
I think the correct long-term solution is the reorganization of the javadocs by artifact (service). This link would link to the package index page for the google-cloud-bigquery artifact.

[2019-05-14 18:28] igorbernstein commented on #5177
But I would still like to have the documentation in https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/package-info.java to be published regardless of where the readme link points to

[2019-05-14 18:59] #5179 closed

[2019-05-15 17:54] davidhardwickbc commented on #493
Any update here?  Seems odd to not have gRPC for database calls, the performance difference between HTTP and gRPC is obvious.

[2019-05-15 17:59] davidhardwickbc commented on #2181
What's the number of the issue in the backlog?

[2019-05-15 20:27] igorbernstein2 opened #5190 "Bigtable: Update docs to make it obvious that a connection pool is being used"

[2019-05-15 21:20] jean-philippe-martin commented on #3918
Reopen: there is some tool out there that now creates 11-byte files with a trailing slash to pretend directories exist, and this breaks the merged fix.

See [this bug report](https://github.com/broadinstitute/gatk/issues/5935) for an example.

[2019-05-15 21:52] TJ-Liu commented on #2315
I experience similar thing.
Our application did:

    SpannerOptions options = SpannerOptions.newBuilder().setProjectId(projectId).build();
    Spanner spanner = options.getService();
    dbClient = spanner.getDatabaseClient(DatabaseId.of(options.getProjectId(), instance, database));

Spanner is not closed gracefully and the application hangs after dbClient read/write some requests. It has been ha

[2019-05-16 01:48] sduskis commented on #2315
@TJ-Liu which version of the client are you using?

[2019-05-16 07:10] olavloite commented on #2315
I can confirm this behavior in all recent versions of the client library. I tested from 1.14.0 to 1.19.0, and they all show this behavior using this simple application:

[code]

It seems it is caused by the default executor that is created here:

https://github.com/googleapis/google-cloud-java/blob/07c3d62165d5d6b8b96b83988729a274495be1c8/google-cloud-clients/google-cloud-core-grpc/src/main/java/c

[2019-05-16 07:19] olavloite commented on #2315
Note to all above: Even though this problem should be fixed, it is still **always** a good idea to close a Spanner instance at the end of your application. `Spanner#close()` will close all connections and clean up all sessions that have been created on the backend Cloud Spanner servers. Failing to do so, will keep sessions living longer on the backend than is necessary. Spanner has a limit on the

[2019-05-16 07:55] olavloite commented on #5186
Any read/write Cloud Spanner transaction may be aborted by the backend, and the client application / client library should take this into account **for all database calls on a read/write transaction** (that is: not only the commit may abort, but also any query or update statement). This means that every Cloud Spanner read/write transaction should be executed in a retry-loop that checks for an ABOR

[2019-05-16 14:33] dzou commented on #5186
Thank you for the clarification, this was very helpful.

[2019-05-16 14:33] #5186 closed

[2019-05-17 15:45] Sahand1993 opened #5197 "java.lang.NoSuchMethodError on Google PubSub Publisher.newBuilder().build()"
I'm getting this error stack trace:

[code]

When executing this line:

`Publisher publisher = Publisher.newBuilder(TOPIC_ID).build();`. I suspect some dependency issue. This is my pom-file:

[code]

What is the reason for this issue?

[2019-05-17 17:03] #2315 closed

[2019-05-17 17:14] sduskis commented on #5166
Your first resolution doesn't seem doable.  If `callbackValue` is a `T`, how can it be cast to an `ApiFuture<T>`?  That seems like an infinite recursion with Generics.

I think that this needs more design work before this is actionable.

[2019-05-20 05:32] arjun-chimbu opened #5201 "RuntimeException stops pushing of logs to StackDriver while logging!!"
We are having a Spring Boot  Application pushing logs to stackdriver. After the below exception , at runtime logs are not longer pushed to stackdriver.
Only fix identified now is to restart the application .
Can stackdriver recover to automatically re-create any lost connection and recover to push logs.?
How can this be addressed. ?   Since Alerts and Metrices are setup on stackdriver , If log pus

[2019-05-20 05:34] #5201 closed

[2019-05-20 05:34] arjun-chimbu opened #5202 "RuntimeException stops pushing of logs to StackDriver while logging!!"
We are having a Spring Boot Application pushing logs to stackdriver. After the below exception , at runtime logs are not longer pushed to stackdriver.
Only fix identified now is to restart the application .
Can stackdriver recover to automatically re-create any lost connection and recover to push logs.?
How can this be addressed. ? Since Alerts and Metrices are setup on stackdriver , If log push t

[2019-05-20 07:23] pavelkryl commented on #5166
You are right. The suggested code does not work. Moreover it's not a clean approach anyway.

The other suggestions are however still valid, I think.

[2019-05-20 20:00] jeffosmith commented on #4670
@ludoch are you able to share your working config, looking to do something similar in the future

[2019-05-20 22:49] jean-philippe-martin opened #5203 "New Google Cloud Storage folders not recognized by NIO"
Of course, Google Cloud Storage does not actually have folders. However some tools create files with names ending in "/" to pretend that the folder exists.

NIO understands that 0-byte files that end in "/" actually mean "please pretend to the user that there is a folder with that name, even though Cloud Storage doesn't have folders", and complies (there is an option to turn that behavior off).

R

[2019-05-21 10:41] marengaz commented on #2753
here's a scala implementation using the bq dto object (so it works with nested fields too). im sure you can adapt it to something similar in java:

json -> schema
[code]

schema -> json
[code]

[2019-05-21 22:00] jean-philippe-martin commented on #3918
OK no need to reopen, let's use #5203 instead.

[2019-05-22 17:20] elharo opened #5209 "Deprecations in Truth"
`mvn test` encounters many warnings like these:

[code]

[2019-05-22 23:04] chingor13 commented on #5197
This looks like a mismatch of grpc versions. Is there a reason you're locking the grpc version to 1.19?

[2019-05-23 13:05] sduskis commented on #5197
I assume that you want to set a specific version of grpc, since Dataflow and and the other clients don't use the same versions.  I would suggest using the grpc-bom instead of importing `grpc:grpc-core`.

To do that, remove the `grpc:grpc-core` dependency and add this new section in your `pom.xml`:

[code]

That will import a consistent version of all `grpc-*` related artifacts, including the right

[2019-05-23 15:32] yyl719133368 commented on #2889
Why Google Java API is always broken? Everytime upgrade takes days to find and fix bugs

[2019-05-23 16:35] sduskis commented on #2889
@yyl719133368, can you please open a new bug, and give some details?

[2019-05-23 18:52] elharo opened #5287 "Deprecation warnings showing up in build logs"
[code]

[2019-05-24 13:01] ajaaym commented on #5061
@codeconsole Why do you want setLimit to 0 instead of not setting at all?

[2019-05-27 16:19] rubensayshi opened #5224 "maven dependency issues"
I can't imagine I'm the first to run into this, I do see some old issues that look related but not exactly.
Maybe I'm just doing some maven stuff wrong, but it looks like a bug to me...

I'm trying to add `google-cloud-firestore` to my maven project, but I seem to end up in some dependency hell, specially in combination with `maven-enforcer-plugin`.

[code]

If I look at the dependencies listed on

[2019-05-27 20:39] Flakesz opened #5225 "TimeoutException Google Cloud Logging"
Trying to use the Stackdriver Logging Client with the provided [example from](https://cloud.google.com/logging/docs/reference/libraries).
The severe log is initiating a flush which leads to:
[code]

Checked with the debugger that the projectId and credentials are correctly loaded (env vars + creds file) in the options passed to `com.google.cloud.logging.LoggingImpl `, which are exactly as expected

[2019-05-28 17:18] sduskis commented on #3919
@anguillanneuf, I think that this issue can be closed. Can you please see the link you listed, and take a look at the bottom right?

[2019-05-28 17:51] #5203 closed

[2019-05-28 18:27] anguillanneuf commented on #3919
Awesome. Yes, you may close this issue now.

[2019-05-28 18:27] #3919 closed

[2019-05-28 19:43] menulis opened #5227 "PubSub: subscriber.stopAsync().awaitTerminated() does not destroy respective threads"
#### Environment details

OS type and version: macOS 10.14.5 / Debian 4.9.168-1 (App Engine Flex)
Java version: Oracle 1.8.0_181 / openjdk version "1.8.0_212"
google-cloud-java version: 1.75.0

#### Steps to reproduce

  1. Create a subscriber, call startAsync() followed by stopAsync() as per documentation
  2. Observe the number of threads before and after calling stopAsync()
  3. The number of t

[2019-05-29 00:12] sduskis commented on #5227
It looks like we need to make a change.  We're not cleaning up `pool-*-thread-*` threads.

[This line](https://github.com/googleapis/google-cloud-java/blob/3ec7a6f3bae9be9b51e69e605982adbbec66b119/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java#L143) is problematic (plus a couple of others).  I'll submit a fix.

[2019-05-29 13:03] siva461 opened #5232 "FIREBASE cloud firestore failed to connect in 32bit JVM"
extracted one of the libraries from mentioned  pom.xml
grpc-netty-shaded-1.19.0.jar (other versions also)  not supported for 32bit JVM and supports only for 64bit that was mentioned by netty on their website and firestore is using that jar to connect and retrieve data from the cloud.

The issue is posted to netty team also and they closed it by saying we support 64bit only.

is there a chance to c

[2019-05-29 13:55] ajaaym commented on #3805
here is the example [dataflow-dynamic-schema](https://github.com/ryanmcdowell/dataflow-dynamic-schema)

[2019-05-29 14:07] isel42225 opened #5233 "Vision: ImageAnnotatorClient.create() never responds"
#### Environment details
1. OS type and version: Debian GNU
2. Java version: 1.8.0_212
3. google-cloud-java version(s):

#### Steps to reproduce

  1. Create an GCP VM instance of type micro
  2. Write a program that uses ImageAnnotatorClient.create().
  3. Run

#### Code example

[code]

#### Any additional information below
The method never returns and doesn't throws an exception either

Thanks!

[2019-05-29 16:26] ajaaym commented on #5233
@isel42225 can you please set log level to FINEST and send the log?

[2019-05-29 18:09] ajaaym commented on #5166
@pavelkryl

What exactly do you mean by this? This is async from the perspective of calling thread as well as the internal thread. This is getting wrapped in to async function internally see [here](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-firestore/src/main/java/com/google/cloud/firestore/FirestoreImpl.java#L315). does your update function depen

[2019-05-29 18:13] ajaaym commented on #5225
@Flakesz can you set logging level to FINEST and send the log?

[2019-05-29 19:25] ajaaym commented on #4833
closing this, please open new issue if there are more question.

[2019-05-29 19:25] #4833 closed

[2019-05-29 19:26] Flakesz commented on #5225
Sure (stripped away the token parts)
[finest.log](https://github.com/googleapis/google-cloud-java/files/3234098/finest.log)

[2019-05-29 19:55] ajaaym commented on #5225
@Flakesz Thanks for sending over log file. Can you also please share your pom.xml or gradle settings file?

[2019-05-29 20:05] Flakesz commented on #5225
There you go. Had to compress it as Github didn't like `.kts` files.
[build.gradle.kts.tar.gz](https://github.com/googleapis/google-cloud-java/files/3234262/build.gradle.kts.tar.gz)

[2019-05-29 21:43] #5209 closed

[2019-05-30 00:31] harshithdwivedi commented on #3805
Hi @ajaaym, the example doesn't work.
If you look at the issue section of the example, you'll find that I've created an issue for the same.

Could you reopen this?

[2019-05-30 10:19] isel42225 commented on #5233
It was related to this issue #4700 but for some reason the error never appeared.
I fixed it using the solution refered in https://maven.apache.org/plugins/maven-shade-plugin/examples/resource-transformers.html#ServicesResourceTransformer.

[2019-05-30 14:14] ajaaym commented on #5225
@Flakesz thanks for sending over .kts file. I see that you also have grpc/google-api as explicit dependancy. Can you remove all grpc/google-api related dependancy and just keep ```compile("com.google.cloud:google-cloud-logging:1.74.0")``` . Also is there any log after " (logging.googleapis.com:443)] Entering READY statecom.google.api.client.http.HttpTransport: -------------- REQUEST  -------------

[2019-05-30 14:18] ajaaym commented on #5012
@evfimivs The example link you provided is related to video intelligence, but output is related to vision. Are you using async api? Do you want to cancel the detection process if it doesnt complete after certain time?

[2019-05-30 14:20] #5233 closed

[2019-05-30 14:30] ajaaym commented on #4922
@Shadat-tonmoy

Can you contact google support for this?

Closing this issue for now. Please feel free to reopen.

[2019-05-30 14:30] #4922 closed

[2019-05-30 14:59] ajaaym commented on #5129
@nsmanju01

you can create a subscriber like this for fault tolerant and when you want to stop shutdown executor provider.

[code]

[2019-05-30 18:36] Flakesz commented on #5225
Well the grpc dependency is needed in the project for grpc services and the other google api dependencies like gmail are also required. But I found the issue:  `com.google.protobuf:protobuf-java` was raised from 3.5.1 -> 3.7.1 due to other dependencies. forced now 3.5.1 across the board, which fixed the TimeoutException.

Thank you for your help :)

[2019-05-30 18:36] #5225 closed

[2019-05-30 20:17] siva461 opened #5243 "google cloud firestore not working in 32bit JVM because of grpc-netty-shaded-1.19.0.jar"
google cloud firestore not working in 32bit JVM because of grpc-netty-shaded-1.19.0.jar

there's an issue with the grpc-netty-shaded jar which is used in firebase samples to make a quick start.

this netty jar is built for 64bit only and there's no support for 32bit.

is there any options to connect to firestore using 32bit JVM

tried with all versions of netty-tcnative and someother jar files of

[2019-05-30 20:46] ajaaym commented on #5243
This is same as #5232. closing this

[2019-05-30 20:46] #5243 closed

[2019-05-31 12:33] Geck0x86 opened #5245 "Dialog Flow v2 Android Application Default Credentials are not available."
Hello. I'm trying to test dialog flow on an android device. I have been searching documentation about this and only find documentation about java, but not android.

I set GOOGLE_APPLICATION_CREDENTIALS environment variable on my laptop. But I think I need to do the same on device but I don't know how.

Here is my code:
[code]

And generates an error on line:
[code]

I get this output in logcat
[co

[2019-05-31 14:28] vumutduman opened #5246 "Speech API Feature - word confidence, start & end time for other alternatives"
Do/Would you provide word confidence, start & end time of word for other alternatives of NBest results in Speech API?

[2019-05-31 18:25] sduskis commented on #5246
Are you asking for new features from the service, or do these APIs already exist? If they don't please ask for them via https://cloud.google.com/speech-to-text/docs/getting-support.

[2019-06-03 09:07] javiroger commented on #4478
We would like to run Cloud Function integration tests against a Datastore emulator using a CI/CD pipeline in CloudBuild.

In order to plan our next steps, we would like to know if running emulators in CloudBuild is in your Roadmap.

[2019-06-03 09:49] Geck0x86 commented on #5245
We found the answer.

We forget to add SessionsSettings in SessionsClient.create() function

Thank you

[2019-06-03 09:49] #5245 closed

[2019-06-03 15:58] sduskis opened #5282 "Cloud Spanner and gax 1.45.0 are incompatible"
Cloud Spanner retry testing is blocking an upgrade to gax 1.45.0.  This needs to be fixed, since other clients need the upgrade.  See #5255

[2019-06-03 16:51] olavloite commented on #5282
Looks to be caused by the change made in https://github.com/googleapis/gax-java/pull/712.

[2019-06-03 17:23] ayushj158 commented on #4556
@chingor13 @ajaaym  We are experiencing below exceptions still in our production application and now it is hurting us badly.

Behavior : Intermittently we see below exception in logs , sometimes application slows down when this error occurs and many times applicable reaches an unstable state where it is not able to process any request . only solution is to restart the application. I am suspecting

[2019-06-03 17:49] olavloite commented on #5282
The change mentioned above makes a slight behavioral change that caused the test cases to fail:
* In Gax 1.44: RetrySettings.Builder.setTotalTimeout(Duration.ofMillis(1000)).setRetryableCodes(ImmutableSet.of()) - Will never cause a timeout because there are no retryable codes.
* In Gax 1.45: RetrySettings.Builder.setTotalTimeout(Duration.ofMillis(1000)).setRetryableCodes(ImmutableSet.of()) - Will

[2019-06-03 18:43] #5282 closed

[2019-06-04 07:42] rahulKQL commented on #4308
@igorbernstein2 This issue can be closed, as with the #5215 @billyjacobson moved bigtable examples into Java-docs-samples repository.

[2019-06-04 11:01] #4308 closed

[2019-06-04 19:02] ajaaym commented on #5224
@rubensayshi  why are you explicitly adding dependency for grpc? It would automatically include compatible version along with firestore, I tried your pom with firestore and it works fine without explicit dependency of grpc.

[2019-06-05 13:29] dansiviter opened #5408 "Make `LoggingEventEnhancer` more generic so can be used in more implementations"
**Is your feature request related to a problem? Please describe.**
Currently only `com.google.cloud.logging.logback.LoggingAppender` can enhance using information contained within the logging event. This isn't possible via the JDK logger although it should be.

 **Describe the solution you'd like**
Replace `com.google.cloud.logging.logback.LoggingEventEnhancer` with `com.google.cloud.logging.Loggi

[2019-06-05 14:11] kolea2 opened #5410 "Retry on Transaction Aborted Errors for Partitioned DML"

[2019-06-05 20:21] Dmitry1987 opened #5420 "GCR support feature request"
Hi, are there plans to add GCR support so it'll be possible to manage image tags, repositories, etc' related to container registry?

[2019-06-06 09:27] olavloite commented on #3616
Returning to the original question: It is now possible to specify timeout settings for grpc calls for a `Spanner` service by setting these on one of the `StubSettings.Builder`s exposed by the `SpannerOptions.Builder`. Setting a specific timeout value for all unary methods for the Spanner interface can be done like this:

[code]

[2019-06-06 09:27] #3616 closed

[2019-06-06 21:32] JesseLovelace opened #5442 "Storage: Support bucket.locationType"
Location type is a new read-only field for buckets. This corresponds to internal bug 130187927.

Location type will be a new field added for Bucket resource. It will be populated on-the-fly for output path, and is a read-only field so patch/update/create will not have any effect on bucket resource.
Example

Google Cloud Storage Python client library feature request: Add location type on bucket
[co

[2019-06-07 06:19] ayushj158 commented on #4556
@ajaaym @chingor13 @kolea2 Do i need to create a new issue for above queries ?

[2019-06-07 11:11] danielbraun89 commented on #2397
Past second quarter of 2019 and still not implemented

[2019-06-07 20:27] #5197 closed

[2019-06-07 20:27] sduskis commented on #5197
There isn't much more we can do on this issue.  Please feel free to open a new issue, or comment on this one if you need more of a follow up.

[2019-06-07 20:29] #4241 closed

[2019-06-07 20:29] sduskis commented on #4241
This was fixed by #4322

[2019-06-07 20:39] sduskis commented on #3124
@chingor13, can we close this?

[2019-06-07 20:42] sduskis commented on #3573
This isn't something we can fix in this repository.  The grpc team is working on a retry framework, and their framework may deal with this issue.

[2019-06-07 21:01] #3124 closed

[2019-06-07 21:46] sduskis commented on #3192
I'm pretty sure that this isn't actionable in this repo.  There are a bunch of dependencies that `google-cloud-java` has that will never converge (for example opencensus and grpc).  There are some where it's perfectly fine for some of the dependencies like never to update their own dependencies and release a new version.

I agree with Garrett that dependency convergence is not a tenable long term

[2019-06-07 21:46] #3192 closed

[2019-06-07 21:48] sduskis commented on #2882
We release weekly.  I don't think we plan on doing SNAPSHOT releases.

[2019-06-07 21:48] #2882 closed

[2019-06-07 22:04] chingor13 commented on #5420
I don't believe we have a custom REST or RPC API that provides what you're asking for with GCR. Most of those things can be done via the normal docker API.

If you'd like to file a feature request on the team to add an API, please go to the [main product issue tracker](https://cloud.google.com/support/docs/issue-trackers), find Container Registry, and file and issue there.

[2019-06-07 22:04] #5420 closed

[2019-06-07 22:32] crwilcox commented on #4235
Commit is considered to be a non-idempotent operation. for this reason we cannot safely retry this in the client library.

[2019-06-07 22:45] crwilcox commented on #4661
@chalcrow @andrewcampey , I am sorry for your issue. Though this doesn't seem to involve the Java Client Library. This issue seems to be related to datastore and the emulator.

Could you please file your issue on the Cloud Datastore issue tracker: https://issuetracker.google.com/issues/new?component=187197&template=1162794

[2019-06-08 01:31] omrihq opened #5451 "Make properties in Datastore BaseEntity public"
The Datastore BaseEntity provides a good interface for specific values once the names are apparent, but it would be beneficial to expose the underlying Map so that one could write custom parsers if need be.
Would require making this public:
https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-datastore/src/main/java/com/google/cloud/datastore/BaseEntity.jav

[2019-06-10 15:18] suztomo commented on #4579
I see the version has been updated to `1.29.2`. Thank you. Closing this issue.

[code]
https://github.com/googleapis/google-cloud-java/blob/7ac29d0/google-cloud-clients/pom.xml#L157

[2019-06-10 15:18] #4579 closed

[2019-06-10 16:24] pavelkryl commented on #5166
@ajaaym

I am discussing:

callbackResult.set(**transactionCallback.updateCallback(transaction)**);

You are describing what happens **after** the updateCallback() is invoked: we have the result of type T and an asynchronous result processing happens. However, what I mean is how you **get the return value** of udpateCallback(tx) - you retrieve this synchronously and it must be of type T, not ApiFu

[2019-06-10 17:23] vumutduman commented on #5246
@sduskis , actually both. Maybe API provides already this feature and I couldn't find the right configuration or API doesn't provide my asking feature. I am not sure. Below you can find the sample:

I tested streaming recognition of the Speech API with this configuration for java client:
[code]

CURRENT RESPONSE FROM API:
[code]

DESIRED RESPONSE FROM API:
[code]

I hope it helps.

[2019-06-10 18:50] wilhuff commented on #5232
Firestore does not directly support any platform that gRPC doesn't directly support. grpc-netty relies on pre-built binaries of native code for its networking implementation and only ships binaries for common platforms.

However, just because we're not directly supporting a platform doesn't mean it necessarily won't work. If you're on an alternative platform for which there aren't pre-built binari

[2019-06-10 19:01] #5232 closed

[2019-06-11 00:37] #3412 closed

[2019-06-11 04:51] siva461 commented on #5232
**WINDOWS 10**

java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)

[2019-06-11 05:15] otourzan commented on #5012
I think "setSimpleTimeoutNoRetries()" supposed to address this issue as it's just a simple timeout. I couldn't find a sample in official java-docs-samples repo, so referencing the sample I created for another issue [1].

Also it's likely [2] fixed the builtin timeout mentioned in the first comment.

[1] https://github.com/otourzan/java-docs-samples/blob/master/vision/cloud-client/src/main/java/com

[2019-06-11 14:26] sduskis commented on #3417
The latest `proto-*` jars have the `*.proto` files thanks to @BenWhitehead in #5208.

[2019-06-11 14:26] #3417 closed

[2019-06-11 14:27] sduskis commented on #1573
This should probably happen after @chingor13  reorgs the clients.

[2019-06-11 15:13] JoeAlamo commented on #4751
Do you have an example of your PMD ruleset anywhere? I couldn't find an associated MR - I'm not part of this repo but it'd be great to have an example of an up to date ruleset.

[2019-06-11 15:19] garrettjonesgoogle commented on #1573
I don't think we want to do this any more.

[2019-06-11 15:30] #1573 closed

[2019-06-11 15:38] sduskis commented on #4919
@prokulit06, we can't fix this bug, since we don't have enough information.  Please open up a new bug with more information, including the code sample you're using along with the dependencies.

[2019-06-11 15:38] #4919 closed

[2019-06-11 15:39] sduskis commented on #4670
There isn't much we can do here. Closing this issue.

[2019-06-11 15:41] sduskis commented on #4727
There doesn't seem to be much we can do in this repository.  We'll upgrade grpc once it makes a new release with the fix.

[2019-06-11 15:41] #4727 closed

[2019-06-11 15:42] #4661 closed

[2019-06-11 15:51] sduskis commented on #4175
We decided that we can't have complete dependency convergence in this repo.  We suggest using `</requireUpperBoundDeps>` or that users manually exclude dependencies.

[2019-06-11 15:51] #4175 closed

[2019-06-11 15:52] ostlerc commented on #1639
Adding this for posterity. the revert commit says grpc [doesn't support compression yet](https://github.com/googleapis/google-cloud-java/commit/e1ca0d55cbc7da58cc1310698beb7ea40fdf7129).

yet.

[2019-06-11 15:55] sduskis commented on #4094
Your `onOpen` has a `try-with-resources` on `SessionsClient sessionsClient`.  That means that `sessionsClient` is closed at the end of the method's execution.

`java.util.concurrent.RejectedExecutionException: event executor terminated` means that you were trying to run an operation against a closed session.

It would seem that the solution is to not close `sessionClient` in `onOpen`.

[2019-06-11 15:55] #4094 closed

[2019-06-11 15:59] sduskis commented on #4089
I think that this repo is doing the right thing.  `gax` should update its `com.google.auth:google-auth-library-oauth2-http`.  renovate-bot will take care of that.  This specific issue is outdated now that auth was upgraded in gax: https://github.com/googleapis/gax-java/pull/701

[2019-06-11 15:59] #4089 closed

[2019-06-11 16:01] sduskis commented on #3802
This is done now that we have renovate.

[2019-06-11 16:01] #3802 closed

[2019-06-11 16:09] sduskis commented on #3414
This issue is out of date.  Please retry with the latest version.  If that doesn't help, please open a new issue.

[2019-06-11 16:09] #3414 closed

[2019-06-11 16:12] sduskis commented on #3350
This is something to work on offline if this is still relevant.

[2019-06-11 16:12] #3350 closed

[2019-06-11 16:25] rubensayshi commented on #5224
well, mainly because I like being explicit ..

I actually "solved" it that as well locally so I could play around with firestore a bit,

but the real question is, why does it allow installing with mixed dependencies when I don't specify it?
that must mean either one of the packages is not getting the version it expects,
it seems to work fine, but that's just "lucky".

[2019-06-11 17:40] wilhuff commented on #5232
In that case, your best bet is to build with conscrypt, which does ship binaries for 32-bit Windows.

[2019-06-11 17:47] chingor13 commented on #3947
This is handled by policy by ensuring the markdown in the proto comments uses absolute urls.

[2019-06-11 17:47] #3947 closed

[2019-06-11 19:05] sduskis commented on #4932
This repository is for client issues.  Samples are in another repository.  I duplicated this issue here: https://github.com/GoogleCloudPlatform/java-docs-samples/issues/1457

[2019-06-11 19:05] #4932 closed

[2019-06-11 19:08] sduskis commented on #5012
There was a fix to the timeout logic, as @otourzan mentioned.  Please use the latest version of the library, and retry your code with timeouts configured; it should work as expected.  If it doesn't, please reopen this issue, or open a new one.

[2019-06-11 19:08] #5012 closed

[2019-06-11 19:33] nnegrey commented on #4932
Howdy! As noted by sduskis, we host all our samples in java-docs-samples!
Best resource for info however, is still on the Google Cloud Platform docs pages: https://cloud.google.com/speech-to-text/docs/

[2019-06-11 21:07] sduskis commented on #3502
These types of issues need support tickets.  Please see https://cloud.google.com/speech-to-text/docs/support on how to get support for this type of issue.

[2019-06-11 21:07] #3502 closed

[2019-06-11 23:16] #4492 closed

[2019-06-12 00:39] grant opened #5462 "Split Snippets – 1 per File"
Split snippets such that there is one snippet per file.
This will mitigate developers having issues around region tags not including imports.

Example Code:
https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/storage/snippets/StorageSnippets.java

Bug:
b/117263623

[2019-06-12 00:57] sduskis commented on #3329
It's really tough updating dependencies across a bunch of repositories.  In this repository, we use Maven and do our best to update dependencies as they come along.  We also work with other dependencies of ours like `io.grpc` and `io.opencensus` to get them to upgrade their dependencies.  We will never be able to get all dependencies to upgrade in a similar way.

We have a bunch of issues like thi

[2019-06-12 00:57] #3329 closed

[2019-06-12 11:30] sduskis commented on #3003
This is in progress for Cloud Bigtable: https://github.com/googleapis/gax-java/pulls?utf8=%E2%9C%93&q=is%3Apr+batcher

This will land eventually.

[2019-06-12 12:27] ramachandraiah-putta opened #5464 "The Application Default Credentials are not available while creating session ()"
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   General, Core, and Other are also allowed as types
2. OS type and version: windows 10
3. Java version: 1.8
4. google-cloud-java version(s): 0.82.0-alpha

#### Steps to reproduce

  1. call the below code snippet in parallel, some calls are throwing exception as The Application Default Crede

[2019-06-12 17:54] gtomassi opened #5465 "PubSub Topics Retrieval Blocks Indefinitely When Not Authenticated"
com.google.cloud.pubsub.v1.TopicAdminClient.listTopics blocks forever when gcloud credentials are invalid.

Occurred on local machine and when running on GKE, using com.google.cloud:google-cloud-pubsub:1.77.0

Recommended fix:
Exception should be thrown, at a minimum internal operations underneath listTopics should timeout after some reasonable time. Additionally, faulty credentials should be inva

[2019-06-12 17:59] ajaaym commented on #5166
@pavelkryl Can you do Rest operation first and then call runTransaction? runTransaction is the actual public interface, which is async.

[2019-06-12 20:08] munkhuushmgl opened #5467 "opencensus TAGs error"
#### Environment details

1. AutoML
2. OS type and version: MacOS
3. Java version: 1.8.0_202
4. google-cloud-java version(s):
[code]

#### Code example

[code]

#### Stack trace
[code]

[2019-06-13 06:51] pavelkryl commented on #5166
@ajaaym Yes I can. But this debate is a conceptual one. Doing a RESTful call is just one example of hundreds of usecases where asynchronous interaction would suit better than a synchronous one. Similarly I could ask: could you pre-compute the value `T` and pass it directly as value without the necessity to call `updateCallback()`? Yes you can. But having a possibility to pass a function which comp

[2019-06-13 07:43] #5464 closed

[2019-06-13 08:06] yoshi-automation opened #5471 "Synthesis failed for compute"
Hello! Autosynth couldn't regenerate compute. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/62e8be32-56bf-4013-b924-7b4e1a78effd).

[2019-06-13 14:47] sduskis commented on #4205
This hasn't been active in a while.  If anyone has an issue like this, pleas open a new bug.

[2019-06-13 14:47] #4205 closed

[2019-06-13 14:54] ajaaym commented on #5465
This is same as #3573 closing this and lets track over there.

[2019-06-13 14:54] #5465 closed

[2019-06-13 15:01] #5451 closed

[2019-06-13 15:50] sduskis commented on #5462
@grant, will changing the snippets now cause any problems to the docs?

[2019-06-13 15:55] grant commented on #5462
No. The docs should be including snippets at a git commit SHA.

[2019-06-13 15:56] gtomassi commented on #5465
@ajaaym
Agreed, thank you.

[2019-06-13 16:17] ajaaym commented on #5467
This is fixed in master branch, will be available after release.

[2019-06-13 16:17] #5467 closed

[2019-06-14 07:41] abhinav-qlogic commented on #3510
@JoshuaFox kindly see helloworld example changes [#1471](https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1471) and provide your feedback

[2019-06-14 08:07] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ba23faf7-36c5-4706-a0d2-93eef7b157c6).

[2019-06-14 19:27] #4501 closed

[2019-06-14 19:55] grant commented on #4331
I think this should be removed as this file is outdated. We can re-add the file when it is ready.

[2019-06-14 21:43] Amosss opened #5498 "UNAVAILABLE: HTTP/2 error code: NO_ERROR Received Goawaysession_timed_out"
Operating System version: Ubuntu
    Firebase SDK version: 6.8.1
    Firebase Product: Firestore

This is the callstack:
java.util.concurrent.ExecutionException: com.google.api.gax.rpc.UnavailableException: io.grpc.StatusRuntimeException: UNAVAILABLE: HTTP/2 error code: NO_ERRORReceived Goawaysession_timed_out at com.google.common.util.concurrent.AbstractFuture.getDoneValue(AbstractFuture.java:500

[2019-06-15 08:05] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c70c50aa-2b08-43bf-8a4a-227577476cf8).

[2019-06-16 08:04] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/d63e3aad-8c7b-4619-94a9-6f4e61dd4762).

[2019-06-17 08:02] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/117a15d7-1b46-489e-bbcf-31c5c826c5e4).

[2019-06-17 12:40] elefeint opened #5500 "ResourceManager hides some Project properties as package-private"
#### Environment details
4. google-cloud-java version(s): current master

#### Observed
Client library `com.google.cloud.resourcemanager.Project` object that is used in the client library instead of the  `com.google.api.services.cloudresourcemanager.model.Project ` proto [makes some properties](https://github.com/googleapis/google-cloud-java/blob/969bbeef18f004fd51fd46c5def1ae5c644cae3c/google-clo

[2019-06-17 14:09] #5177 closed

[2019-06-17 21:38] #5030 closed

[2019-06-17 22:47] JesseLovelace commented on #5442
Note: The current location type values are "MULTI_REGION", "REGION", and" DUAL_REGION", however these were supposed to be "multi-region", "region", and "dual-region". They will be changed in the API after a rollout on June 26 and that should also be reflected here.

[2019-06-18 08:06] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/01f9a624-2b07-49be-8685-b22630fa7763).

[2019-06-18 09:53] akhil-yalagonda opened #5508 "Unable to make GRPC call in 32bit Windows Machine"
#### Environment details

1. I am trying to do this on my local machine
2. 32bit Windows
3. Java version: 8

#### Steps to reproduce

  1. An error occurs when the program on a 32-bit windows machine. Working fine in 64-bit windows machine

#### Code example

[code]

#### Stack trace
[code]

#### External references such as API reference guides used

- ?

#### Any additional information below

Mak

[2019-06-18 12:12] ajaaym commented on #5508
This library doesnt support any platform which grpc doesnt support. But there are other ways to build the grpc, please follow the conversation in #5232.

[2019-06-18 12:12] #5508 closed

[2019-06-18 12:14] ajaaym commented on #5498
@Amosss can you please add log level to FINEST and send it over?

[2019-06-18 12:15] ajaaym commented on #5224
@rubensayshi closing this for now. Please feel free to reopen or open new issue if you need further help.

[2019-06-18 12:15] #5224 closed

[2019-06-18 12:17] ajaaym commented on #5129
closing this for now. Please feel free to reopen if this doesnt help.

[2019-06-18 12:17] #5129 closed

[2019-06-18 13:39] akhil-yalagonda commented on #5508
@ajaaym Are there any provided 32-bit windows grpc libraries?

[2019-06-18 13:50] Amosss commented on #5498
Not sure what do you mean by log level. I added the trace to my post. The line that threw the exception is com.google.common.util.concurrent.AbstractFuture.getDoneValue(AbstractFuture.java:500)

The trace go back up to my part of the code which is a simple:
ApiFuture future = db.collection(collection).document(doc).set(fsData, SetOptions.merge());
future.get();

It works most of the time and the o

[2019-06-18 14:15] ajaaym commented on #5498
@Amosss this rpc is not safely retriable, thats why automatic retry is not enable. Please see conversation in #4235. However you can add retries in application code if its safe to retry.

[2019-06-18 14:29] ajaaym commented on #5508
@akhil-yalagonda there is no provided grpc 32-bit windows libraries, but you can post the question on [grpc-java](https://github.com/grpc/grpc-java) to get more help.

[2019-06-18 14:33] Amosss commented on #5498
Thanks but what do you consider "if its safe to retry"?

[2019-06-18 15:02] ajaaym commented on #5498
means from applications perspective, its ok for the operation to happen more than once without any side effects.

[2019-06-18 15:08] Amosss commented on #5498
Assuming the first one failed, there was never a "once" to have "more than" :-) Thanks for the tip. I guess I will need to add such fail safe to all my futures. I wish Marty Mcfly was here :)

[2019-06-18 15:20] ajaaym commented on #5498
@Amosss there can be case where operation is applied on server, but proxy might have sent UNAVAILABLE due to various reason, retrying in this case would cause more than once situation.

[2019-06-19 07:15] #5498 closed

[2019-06-19 07:59] ajaaym commented on #5023
@igordmv can you set log level to FINEST and send log file?

[2019-06-19 08:07] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/2180fbe5-4466-47d7-8f02-4c156a94992e).

[2019-06-19 15:29] #2992 closed

[2019-06-19 17:02] #3013 closed

[2019-06-19 20:15] suztomo opened #5518 "Apply Linkage Monitor at presubmit build"
CC @chingor13 . I'll prepare Kokoro build config and job config for review.

Linkage Monitor started working in https://github.com/googleapis/google-http-java-client. Let's apply this to google-cloud-java

 **Is your feature request related to a problem? Please describe.**
feature request for continuous build.
 **Describe the solution you'd like**
apply linkage monitor  with Google Libraries BOM
h

[2019-06-19 20:39] igorbernstein2 opened #5519 "Bigtable: INTERNAL: HTTP/2 error code: INTERNAL_ERROR Received Rst Stream as a retryable status code"
Long lived connections are sometimes disconnected via a RST frame. These should be handled similar to UNAVAILABLE. Also need to make sure that GOAWAYs are handled similar.

This is the same issue as https://github.com/googleapis/cloud-bigtable-client/issues/2177

[2019-06-19 20:41] sduskis commented on #5519
Did this come from Dataflow?  If so, which version of grpc was used?

[2019-06-19 21:01] igorbernstein2 commented on #5519
Not sure if this is dataflow but customer said that this happened during batch jobs using the hbase client 1.11. I'll try to replicate it next week

[2019-06-20 08:04] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3e2d4e15-68e0-41c1-be79-9df07e82dd0c).

[2019-06-20 13:36] Alxbss opened #5524 "NPE when LoggingAppender copies values from MDC to LogEntry labels"
Stackdriver Logging
google-cloud-logging-logback:0.96.0-alpha

I use "ch.qos.logback.classic.helpers.MDCInsertingServletFilter" to set metadata of a request to logback MDC. It can set a null value to MDC, like "req.xForwardedFor" : null.

In turn, com.google.cloud.logging.logback.LoggingAppender copies key:value pairs from MDC to LogEntry.Builder labels. When LogEntry.Builder builds a LogEntry ins

[2019-06-20 21:16] inewland53 opened #5529 "Cloud Storage: 400 Bad Request when uploading file - StorageException: Could not decompress request body"
#### Maven
<groupId>com.google.cloud</groupId>
    <artifactId>google-cloud-storage</artifactId>
<version>1.74.0</version>

#### Code example

[code]

#### Stack trace
[code]

#### Any additional information below
This seems to only happen every so often on some objects. I'm using a multi-threaded system to upload as quickly as possible.
This doesn't seem to happen all the time, it seems intermitt

[2019-06-21 08:02] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/56fe76fd-03c7-4ff5-bb75-1ac619f09a97).

[2019-06-21 15:28] suztomo opened #5536 "mvn versions:set warns duplicate dependencies declaration"
(Because usually I don't need to run "mvn versions:set", this is not blocking me)

#### Environment details

Git HEAD

#### Steps to reproduce

Run `mvn versions:set -DnextSnapshot=true -B` at root directory

#### Code example

N/A

#### Stack trace
[code]

#### External references such as API reference guides used

google-cloud-clients/google-cloud-bigquerystorage/pom.xml

![image](https://user-i

[2019-06-21 15:36] suztomo commented on #5536
Initially I thought it failed because of this duplication but it was just warning.

[2019-06-21 16:07] chingor13 commented on #5536
The gax-grpc one is actually 2 different jars. We can remove the test scope one for com.google.api:gax.

[2019-06-21 20:10] #5518 closed

[2019-06-21 22:17] AbhideepChakravarty commented on #2050
I am stuck with similar issue on firebase-admin vs google-cloud-logging-logback. God knows which dependencies are screwing up. Only one of them working at a time. Why Google has messed up so much with the Java libraries ??

[2019-06-21 22:22] chingor13 commented on #2050
Please open a new issue with the details of your dependencies so we can help figure out what's happening.

[2019-06-21 22:43] crwilcox opened #5543 "Spanner: gRPC Retry and Timeout Settings should be used from configuration"
https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-spanner/src/main/java/com/google/cloud/spanner/v1/stub/SpannerStubSettings.java#L445

provides retry settings for methods. These should be relied on as they are kept in sync between the different client libraries.

Currently these constants are being used and should likely instead reference the configs ht

[2019-06-21 22:49] crwilcox opened #5544 "Spanner: Adjust timeouts for CreateDatabase and retries for other methods"
As part of a recent change to GAPIC Configuration, timeouts and retries need to be updated.

Ensure that the timeouts and retires specified in https://github.com/googleapis/googleapis/commit/cc233544aa39b8947c9b929819aeb08e2cb71feb#diff-4501db3e3507bcce8496c9aea2017d96 are reflected in this client library.

[2019-06-21 23:07] crwilcox opened #5545 "Spanner: Ensure client backoff is implemented to respect client configuration."
There was an issue in the client library for python where requests to retry could occur without a proper retry object. In this case, rather than defaulting to an exponential backoff, we defaulted to immediate retry. Ensure that for this client library we respect the min, max, and multiplier as specified in the gapic configuration.

Original Bug: https://github.com/googleapis/google-cloud-python/is

[2019-06-22 06:01] LuQQiu opened #5546 "Cloud storage: Strongly request the bucket list with delimiter!"
**Is your feature request related to a problem? Please describe.**
When I do the bucket listing, I can provide a prefix. `Bucket.list(Storage.BlobListOption.prefix(key)` will get all the objects inside this bucket start with the prefix. The listing is very expensive when users have thousands or millions of files with the same prefix. However, I only want the first level items. For examples, all th

[2019-06-22 08:03] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/be8ad3ab-cbe3-4c03-98db-0149bc37aa17).

[2019-06-22 11:40] AbhideepChakravarty commented on #3099
@ggprod @dinvlad Did you guys make it work? I am using this library with firebase-admin and I am getting same exception. Basically if one library of Google is used with another, you end up at this type of exception.

[2019-06-22 11:48] AbhideepChakravarty opened #5547 "google-cloud-logging-logback gives com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;J)V when it is used with firebase-admin:6.0.0"
Thanks for stopping by to let us know something could be better!

I have tried all possible ways. Your #3099 was closed without giving any resolution.

If you are still having issues, please be sure to include as much information as possible:

#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   Stackdriver Logging
2. OS type and version: Win

[2019-06-22 17:02] ggprod commented on #3099
@AbhideepChakravarty no, I ended up giving up on that approach

[2019-06-22 22:32] AbhideepChakravarty opened #5548 "FirestoreClient.getFirestore(firebaseApp) does not work with Firebase-Admin:6.8.1"
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   Firestore
2. OS type and version: Windows 10 64bit
3. Java version: 1.8.0_211 JDK
4. google-cloud-java version(s): Attached in dependency tree file dep.txt
[dep.txt](https://github.com/googleapis/google-cloud-java/files/3317325/dep.txt)

#### Code example

 FirebaseApp firebaseApp = Firebas

[2019-06-23 08:05] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/13505b4e-3e26-4952-87af-706418a04f9d).

[2019-06-23 15:55] rculbertson opened #5550 "Unable to use Bigtable Query object as cache key"
Hello!

We'd like to cache Bigtable query results with the [Caffeine library][1], using [Query][2] as the cache key. That's difficult to do right now because the Query object is modified when the request is executed. During the call to `toProto`, the table name and profile ID are set on the `ReadRowsRequest` builder. This means the Query object has a different hash code after the request executes.

[2019-06-23 16:42] AbhideepChakravarty commented on #3099
@ggprod So how are logging now ?

[2019-06-23 16:49] ggprod commented on #3099
@AbhideepChakravarty just used the ConsoleAppender in logback to put post the logs to stdout and stderr which is collected automatically by Stackdriver. It isn't ideal, but it worked

[2019-06-23 19:40] hanibayazeed commented on #5023
I have the same exact problem and I don't know what to do >> It keeps doing this back and forth , sometimes it works well and sometimes it goes as you have in here >> I'm looking for final solution if exists :(

[2019-06-24 08:01] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/aa6758b2-735e-4057-8f46-c2a2fc101fff).

[2019-06-24 14:14] abhinav-qlogic commented on #5287
Most of these deprecation's were handled with already opened issue #4384. I believe only two deprecation's are remained to fix:
SinkInfo.java:[586,13] setOutputVersionFormat(...)
SinkInfo.java:[599,58] getOutputVersionFormat()
We are actually trying to figure out alternative ways to set and get the same but it seems aren't any. Could you please let us know If we should continue to these deprecatio

[2019-06-24 14:27] #5410 closed

[2019-06-24 18:49] vam-google commented on #5547
@AbhideepChakravarty please check the comment in gax issue (closed it as a duplicate): https://github.com/googleapis/gax-java/issues/743

[2019-06-24 19:48] s-bir commented on #4679
I also had this problem and an easier way to add a secure socket factory would be very welcome. I worked around this as well but an easier solution would be very useful. The MQTT api supports this with a single call.

[2019-06-24 21:25] averikitsch opened #5555 "New Cloud Tasks Library has breaking changes"
#### Code example
[Sample](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/tasks/src/main/java/com/example/task/CreateHttpTask.java)

[Test](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/tasks/src/test/java/com/example/task/CreateHttpTaskIT.java)

This sample imports `com.google.cloud.tasks.v2beta3.CloudTasksClient` and is working with version 1.3.0 and

[2019-06-25 06:52] pavelkryl commented on #5166
Hey, could someone answer me - or oppose the idea?

[2019-06-25 08:04] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/e7c85119-20cb-4b17-bfb6-3f932a937c1b).

[2019-06-25 12:32] olavloite commented on #5545
The Java client library uses the gapic generated client for rpc's and the default Gax retry logic. This retry logic respects the gapic configuration. The user can however choose to change this configuration.

See `SpannerGaxRetryTest` for examples how a user can change the configuration, and also how the client library respects both the default settings and any custom settings the user may specify

[2019-06-25 13:10] olavloite commented on #5544
These values are part of the generated gapic client and cannot (or should not) be changed manually. Instead, the gapic client should be re-generated (and I do not have the power to do so).

@kolea2 Is this something you could initiate?

[2019-06-25 13:28] olavloite commented on #5543
The Java client library for Spanner has been changed to use the gapic client and rely on Gax for almost all retries, so these constants are not used very much anymore. There are two exceptions:
* Retrying aborted transactions: This is currently using the `SpannerRetryHelper`.
* Retrying broken streams for result sets: This is currently using the constant referenced in this issue here: https://gith

[2019-06-25 13:54] mtoyoshi commented on #5555
i had same problem.
1.3.0 is OK, but 1.4.0 is NG.

[2019-06-25 14:11] kolea2 commented on #5544
I'll assign to myself and take a look!

[2019-06-25 14:49] turboT4 opened #5560 "NullPointerException reading file from GCS bucket"
Following the official documentation I've been trying to read a sample file I stored within GCS, but so far the only thing I've got is a NullPointerException

[code]

But still retrying all the time...

`RetryHelper(14.16 ms, 1 attempts, com.google.appengine.tools.cloudstorage.SimpleGcsInputChannelImpl$1@278ef74): Attempt #1 failed [java.io.IOException: java.lang.NullPointerException], sleeping fo

[2019-06-25 15:27] #5545 closed

[2019-06-25 16:54] kolea2 commented on #5544
@olavloite, #5523 will resolve the retry values (the PR was failing due to testing the default values which I've just fixed). Once merged, we still need to investigate the `timeout_millis` field, as it looks like that wasn't picked up automatically.

[2019-06-25 16:56] chingor13 commented on #5555
For debugging: 1.4.0 of tasks was released [in v0.95.0](https://github.com/googleapis/google-cloud-java/releases/tag/v0.95.0). This release took many dependency updates but nothing changed within the Tasks code itself.

[2019-06-25 17:08] chingor13 commented on #5555
This error message is coming from the backend. It looks like in gax-java 1.45.0 ([gax-java#712](https://github.com/googleapis/gax-java/pull/712/files)) we started setting the default timeout for non-retry-able operations to the retry setting's total timeout. The tasks API seems to enforce a 30s limit on the deadline requested.

[2019-06-25 19:49] #5524 closed

[2019-06-25 20:14] igorbernstein2 commented on #5550
Hey man, long time no speak :)

Sorry for the limitations of the current surface. The api was designed to be a dsl rather then a value object, but I can see the issues that this is causing you.
Although the approach in your PR fixes the issue, I would prefer to take a different approach: I think it would be better to remove the side effects of toProto() and make the Query cloneable instead.

I'll

[2019-06-25 21:03] rculbertson commented on #5550
Hi! Agreed, that sounds like a better fix. Thanks!

[2019-06-25 21:32] LuQQiu commented on #5546
Realize that I can use `prefix` together with `currentDirectory` list option to fulfill `listDirectory` requirement. Thanks a lot

[2019-06-25 21:32] #5546 closed

[2019-06-25 21:41] LuQQiu opened #5563 "Question: is all user to cloud storage data transportation secured?"
Do we use HTTPS by default to transport the data?
or do we have any security protection to transport the data from user to cloud storage via this google cloud java API?

Thanks a lot!

[2019-06-25 22:10] LuQQiu commented on #5563
I noticed that we can set the transport option, but the available transport options are `HttpTransport` and `GrpcTransport`. Is `HttpTransport` directy use `HTTPS` to secure the transport layer?

[2019-06-26 00:17] igorbernstein2 commented on #5519
I think we should try to remap this to an UNAVAILABLE error so that its similar to the more common gfe reset:

[code]

[2019-06-26 08:06] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/fc4456dd-0a27-413e-9c26-284005fb00b7).

[2019-06-26 09:48] menulis commented on #5227
Just for your information: with google-cloud-pubsub 1.77.0 the number of threads is no longer growing. However, the io.grpc.InternalChannelz instance seems to be growing in size continuously and the number of io.grpc.netty.shaded.io.netty.handler.ssl.ReferenceCountedOpenSslClientContext$ExtendedTrustManagerVerifyCallback instances also grows with time, eventually leading to OOM.

![Screenshot 2019

[2019-06-26 13:35] olavloite commented on #5544
What is the intention of the `timeout_millis` field? To set the total timeout for the call? Because as far as I can tell, that should be the field `total_timeout_millis`.

[2019-06-26 14:38] sduskis commented on #4595
@ajaaym, can you please coordinate this change with the python engineers?

[2019-06-26 15:11] chingor13 commented on #5563
Yes, all of Google's API endpoints are using https. Storage uses the HttpTransport but it's endpoint is `https://storage.googleapis.com/...`

[2019-06-26 15:11] #5563 closed

[2019-06-26 15:18] chingor13 commented on #5548
Can you list out the dependencies that your application is pulling in? Without more information, it's hard to figure out what's causing the dependency issue.

[2019-06-26 16:57] ajaaym commented on #4595
@sduskis looks like yaml file is still not updated, who would be contact for that?

[2019-06-26 17:26] sduskis commented on #4595
@ajaaym, what do you mean by the YAML file?  Isn't this a synth.py change?

[2019-06-26 17:31] ajaaym commented on #4595
@sduskis yeah this needs change in synth.py. I was thinking that it needs change in yaml. I will get in touch with python engineers.

[2019-06-26 20:17] sduskis commented on #3805
This seems like a problem that should be raised in https://github.com/ryanmcdowell/dataflow-dynamic-schema/, and not something we should fix here.  @harshithdwivedi, can you please raise an issue in that repository?

[2019-06-26 20:17] #3805 closed

[2019-06-26 20:39] chingor13 commented on #5555
In gax we are setting the default timeout to the totalTimeout from the gapic configuration - in this case it's 10 minutes. We should probably be choosing a different setting than total timeout. See gax#745 linked above.

[2019-06-27 08:05] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/dc8def9c-b3d5-4ee9-ac72-f3cd278854ee).

[2019-06-27 08:44] AndroidDeveloperLB commented on #3314
Why is it closed? What are we supposed to use instead?
I've also noticed that `com.google.api.services.people.v1.People` was removed, and I can't find what should replace it.

[2019-06-27 15:10] jklukas commented on #2753
Here's a Java 8 implementation of @marengaz's json -> schema code:

[code]

[2019-06-27 19:45] #5500 closed

[2019-06-27 20:40] crwilcox commented on #5544
Java has constants controlling some of this at this time. It needs to use the configurations that are generated.

[2019-06-27 22:08] SyCode7 opened #5581 "Deletion of users (identities) from Google bucket IAM Policy does not work"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2019-06-27 22:29] chrisribble opened #5582 "PubSub: Support maximum ACK deadline extension in streaming pull"
We worked with the PubSub backend team recently to diagnose a problem that our application experiences occasionally with NACK'd messages failing to be redelivered in a timely fashion and we traced the issue back to the way the client behaves WRT managing ACK deadline extension for streaming pull.

Our application uses streaming pull for processing long-running operations (i.e. hours) which may yie

[2019-06-28 08:06] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/7d3b110e-1eed-4a3f-8428-6553af49964c).

[2019-06-28 13:21] #5536 closed

[2019-06-28 15:53] sduskis commented on #5581
@SyCode7 can you please elaborate on the problem?

[2019-06-28 16:16] SyCode7 commented on #5581
@sduskis In order to remove identities from a bucket IAM policy, I use the example java code snippets provided at the GCP [bucket examples repo](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/storage/snippets/BucketIamSnippets.java).  However, the defaulting users' identities are not removed, the policy does not change at a

[2019-06-28 16:21] SyCode7 commented on #5581
I specifically want to remove all the identities with the role `roles/storage.objectAdmin`. The code executes without error, but the policy remains unchanged , asides the `etag`.

[2019-06-28 16:24] chingor13 commented on #5555
Users can workaround this by updating gax to 1.47.0. We are updating the dependencies for google-cloud-tasks and the next version will have this fixed (hopefully released today).

[2019-06-29 08:08] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/adec97b5-85b8-4212-935f-0f3447fcaf4a).

[2019-06-29 09:41] SyCode7 commented on #5581
I have asked the question also at StackOverflow [here](https://stackoverflow.com/questions/56784577/caused-by-com-google-api-client-googleapis-json-googlejsonresponseexception-41/56796880#56796880) and [here](https://stackoverflow.com/questions/56798852/deletion-of-users-identities-from-google-bucket-iam-policy-does-not-work).

[2019-06-30 08:05] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/3a440a8d-2498-4149-8736-671e10385d0c).

[2019-06-30 18:44] h-amg opened #5608 "Duplicate classes error when adding dialogflow dependency 0.98.0-alpha along with firebase"
i'm getting a duplicate classes error when building with android studio gradle after i added dialogflow to my android app which uses firebase.

**DEPENDENCIES:**
these are my dependencies:

[code]

**STACKTRACE:**
This is part of the stacktrace as it continues to show duplicate classes arror (com.google.api.***) for another atleast 60 more classes:

**UNSUCCESSFUL ATTEMPTS:**
I have tried exludsin

[2019-06-30 23:01] Leejjon opened #5609 "Using google-cloud-datastore dependency in modular Java 11 project gives error"
#### Environment details

1. google-cloud-datastore maven dependency
2. OS type and version: Windows 7 (latest)
3. Java version:
java 11.0.2 2019-01-15 LTS
Java(TM) SE Runtime Environment 18.9 (build 11.0.2+9-LTS)
Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.2+9-LTS, mixed mode)
4. google-cloud-java version(s):
[code]

#### Steps to reproduce
See the stackoverflow post.
  1. git clone https:

[2019-07-01 08:08] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/97d4e35a-63e6-4879-ae93-d83d2a1cafc1).

[2019-07-01 09:05] menulis opened #5610 "Firestore: set() does not accept pojos with float fields"
google-cloud-firestore version: 1.10.0

#### Steps to reproduce

  1. Create a class having a java.lang.Float field
  2. Save an instance of such class to Firestore calling set() that accepts pojo

#### Stack trace
[code]

I assume this is a bug, because Float (along with Double) is an accepted data type in CustomClassMapper#serialize method:

[code]

However, this is not the case for the UserData

[2019-07-01 12:27] h-amg commented on #5608
I have narrowed down cause of the duplication to firestore dependency (com.google.firebase:firebase-firestore:20.1.0) and dialogflow dependency (implementation 'com.google.cloud:google-cloud-dialogflow:0.98.0-alpha)

[2019-07-01 15:16] #5550 closed

[2019-07-01 15:56] AbhishekChugh opened #5622 "Firestore: update with arrayUnion doesn't accept POJO"
Writing this POJO works in other APIs but fails in ArrayUnion updates.

#### Exception thrown
java.lang.reflect.InvocationTargetException: Cannot convert org.wizgraph.backend.data.common.ResourcePointer@7f6c897b to Firestore Value

#### Environment details
Java version: 8
Firestore maven version:
[code]

#### Code example
[code]

[2019-07-01 16:00] AbhishekChugh commented on #5622
Related issue: https://github.com/googleapis/google-cloud-python/issues/7720

[2019-07-01 19:49] #5555 closed

[2019-07-01 22:20] sduskis commented on #2209
This issue seems a bit stale.  This is also not actionable in this repository.  GoogleCloudPlatform/appengine-plugins-core#439 is open, so I'm going to close this PR.

[2019-07-01 22:20] #2209 closed

[2019-07-02 08:06] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/48444844-4741-4525-9090-c1aa3d2a5ea9).

[2019-07-02 14:11] elharo opened #5646 "testlib and junit"
In google-cloud-client/pom.xml I noticed this:

[code]

Either the comment is wrong or misplaced or junit should not be included here.

[2019-07-02 14:32] kolea2 commented on #5544
@olavloite looks like .net has the same issue we do: https://github.com/googleapis/google-cloud-dotnet/issues/3165

[2019-07-02 14:59] olavloite commented on #5544
@crwilcox @kolea2 The constants are used in two places in the Java library:
* https://github.com/googleapis/google-cloud-java/blob/e3dd67e6fe84b705357e12c0799d3cc4170feb2a/google-cloud-clients/google-cloud-spanner/src/main/java/com/google/cloud/spanner/AbstractResultSet.java#L920
* https://github.com/googleapis/google-cloud-java/blob/e3dd67e6fe84b705357e12c0799d3cc4170feb2a/google-cloud-clients/go

[2019-07-02 15:24] olavloite commented on #5544
@crwilcox

Regarding the high timeout value for CreateDatabase that is not picked up by the regen. I'm not very familiar with the gapic generator and corresponding config, but I noticed the following:
* There is a retry configuration named `default` that is assigned to the `CreateDatabase` call.
* There are values defined for `initial_rpc_timeout_millis` and `total_timeout_millis` in the default r

[2019-07-02 17:20] mhp0rtal opened #5648 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => google-cloud-clients/google-cloud-core/src/main/java/com/google/cloud/testing/BaseEmulatorHelper.java: Line number => 465: API name => MessageDigest:<BR> File name => google-cloud-clients/google-cloud-core/src/main/java/com/google/cloud/testing/BaseEmulatorHelper.java: Line number => 457: API name => MessageDigest:First param

[2019-07-02 17:25] mhp0rtal opened #5650 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => google-cloud-clients/google-cloud-core/src/main/java/com/google/cloud/testing/BaseEmulatorHelper.java: Line number => 461: API name => MessageDigest:<BR> File name => google-cloud-clients/google-cloud-core/src/main/java/com/google/cloud/testing/BaseEmulatorHelper.java: Line number => 453: API name => MessageDigest:Unexpected

[2019-07-02 18:59] dvmorris opened #5651 "IllegalAccessError in background function when using the google-cloud-storage library"
I encountered an error when trying to invoke a background function written in Java to handle a google.storage.object.finalize event, when the pom file included the following dependency:

[code]

IllegalAccessError: tried to access method com.google.gson.JsonObject.deepCopy()Lcom/google/gson/JsonObject; from class com.google.cloud.functions.invoker.Event$EventDeserializer

After doing some research

[2019-07-02 22:41] inewland53 commented on #5529
Bumping this...

Upgraded to the latest package version 1.79.0 and having the same issue.

It seems like the file store can't handle the workload being sent.

I doubled checked to make sure I was using a service account.

[2019-07-02 22:53] JesseLovelace commented on #5529
To clarify, do these failures succeed on retries with the same files?

[2019-07-02 23:07] inewland53 commented on #5529
That is correct, the same files success after 1 (sometimes 2) retries.

[2019-07-03 07:36] bsnisar commented on #5555
Hello @chingor13
Could you suggest in a case that your workaround lead to another issue.

According your suggestion new version of gax used.
[code]

And this change leads to an error.

#### Code example

[code]

#### Stack trace
[code]

Thanks!

[2019-07-03 07:39] bsnisar opened #5659 "Cloud Tasks: INVALID_ARGUMENT: HttpRequest.url is required"
Hello!

#### Steps to reproduce

This issue is a try to create a workaround  for issue https://github.com/googleapis/google-cloud-java/issues/5555

According to suggestions in a comments
[code]

#### Code example

[code]

#### Stack trace
[code]

Thanks!

[2019-07-03 08:07] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/75e7d890-2718-4bc4-ae79-78c4ff80480a).

[2019-07-03 08:07] yoshi-automation opened #5661 "Synthesis failed for dialogflow"
Hello! Autosynth couldn't regenerate dialogflow. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/75e7d890-2718-4bc4-ae79-78c4ff80480a).

[2019-07-03 10:02] lizekui opened #5662 "The newest version of google-cloud-speech jar bug report"
#### Environment details

1. Win 10 + Eclipse + JDK8
2. google-cloud-java version(s):
[code]

#### Steps to reproduce

  1. When I run codes below  (official sample codes):
[code]

 2. I get the error below:
[code]

But I change google-cloud-speech version to 1.6 this bug disappear. (1.9 does not work too)
Thanks!

[2019-07-03 10:40] lizekui opened #5663 "There is a bug in com.google.cloud.speech.v1p1beta1 setEnableSpeakerDiarization feature"
#### Environment details

1. Speech to Text API
2. OS type and version: Win10
3. Java version: JDK8
4. google-cloud-java version(s):
[code]

#### Steps to reproduce

  1.  I run the sample code of SpeakerDiarization
[code]
  2. I found different `SpeechRecognitionResult result` has the same words in respective wordslist `alternative.getWordsList())`

  3. For example, the first result has 10 words

[2019-07-03 12:49] h-amg commented on #5608
Hi @sduskis, I till haven't figured out a way to sort this issue, do you have any tip on anything i should try?

[2019-07-03 13:14] #5659 closed

[2019-07-03 13:14] bsnisar commented on #5659
Close because of mine code issue

[2019-07-03 14:18] sduskis commented on #5663
@lizekui this seems like a bug in the Speech API itself, and not the Java client.  You would be better served to ask the Speech team's support about this.  https://cloud.google.com/support/docs/issue-trackers has a way to create bugs for the Speech team directly.  Other forms of support can be found here: https://cloud.google.com/speech-to-text/docs/support.

[2019-07-03 15:00] lizekui commented on #5663
Thanks dear @sduskis ! You are so technical professional , I would propose an issue on your wonderful advice website, just let me find a new world hah  :-)
btw, may I close this issue, or keep it open?

[2019-07-03 16:33] akhil-yalagonda opened #5674 "Able to authenticate in my local machine and unable to do it in my local VM"
Local Machine:
operating system: Windows-10 64-bit machine

Local Virtual Machine:
operating system: Windows-10 64-bit machine

Steps performed to get the Exception:
1. Created a Service Account and downloaded the Key as JSON file in both local machine and Local VM.
2. Ran the Below code

[code]

Below Exception was occurred in my Local VM and worked fine in my local machine.

[code]

[2019-07-03 17:19] SyCode7 commented on #5581
I have found the answer to the issue, thanks to the answer at [stackoverflow](https://stackoverflow.com/questions/56798852/deletion-of-users-identities-from-google-bucket-iam-policy-does-not-work/56850795?noredirect=1#comment100279320_56850795).

[2019-07-03 17:19] #5581 closed

[2019-07-03 17:36] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/29ccbf29-3621-4275-85b3-6ef8953c851a).

[2019-07-03 17:36] yoshi-automation commented on #5661
Autosynth passed, closing! :green_heart:

[2019-07-03 17:36] #5661 closed

[2019-07-03 18:18] pmkc opened #5676 "Expose TableId of BigQuery TableResult"
**Is your feature request related to a problem? Please describe.**
I wish to run a bigquery query using BigQuery.query or BigQuery.create and then read the resulting dataset using https://github.com/GoogleCloudPlatform/spark-bigquery-connector like this this https://github.com/GoogleCloudPlatform/spark-bigquery-connector/blob/master/examples/python/query_results.py#L42 (I realize those are "privat

[2019-07-03 20:18] pmkc commented on #5676
Ah nevermind I figured out I can run
[code]
You could still expose TableId, but this should work

[2019-07-03 20:18] #5676 closed

[2019-07-03 21:17] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/55960cf0-a361-48a0-b2f3-3ac783cdb7e2).

[2019-07-04 08:04] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/5da0d930-8845-4419-bc27-d1313631dbf0).

[2019-07-04 09:32] deeptibhardwaj24 opened #5679 "Dataproc: No functional channel service provider found. Try adding a dependency on the grpc-okhttp, grpc-netty, or grpc-netty-shaded artifact with scala"
#### Environment details:
1. Google cloud dataproc
2. OS type and version: Windows 7
3. Java version:1.8

#### Steps to reproduce

  1. I created **Akka http** API having a route exposed to create a dataproc cluster on GCP although the same cluster creation works fine when google cloud dataproc is used in isolation.

These are dependencies used:

[code]
Tried excluding transitive dependencies usin

[2019-07-04 10:15] pmakani commented on #5662
@lizekui , I have tried your above example and it's works fine, also tried different version which you have mentioned and works fine.

[2019-07-04 11:06] pmakani commented on #5674
@akhil-yalagonda , i tested your example and it's work on local window as well as local window vm using latest version of pubsub. may i know which version you have used or can you try with latest version ?

[2019-07-04 11:23] akhil-yalagonda commented on #5674
@pmakani , thanks for your reply. I used google-cloud-pubsub-1.60.0.jar. I updated it to 1.81.0 but still, the issue is the same.
Are there any chances that this issue raised because of the VPN?

[2019-07-04 13:09] vumutduman commented on #5662
I got same error for speech recognize streaming service when I used below dependencies same time:

[code]

[2019-07-04 13:42] deeptibhardwaj24 commented on #5679
Closing the issue as there was an issue with the MergeStrategy for META-INF in build.sbt. It works fine after applying MergeStrategy.discard.

[2019-07-04 13:42] #5679 closed

[2019-07-04 17:38] luxiangu commented on #5663
Please star at the issue created for this: https://issuetracker.google.com/136691551 to get further updates from the Speech team.

[2019-07-05 04:09] #5663 closed

[2019-07-05 08:03] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/6298920e-27e2-449e-b797-ac0b3ee2800a).

[2019-07-05 15:15] abhinav-qlogic commented on #5560
@turboT4  can you please let us know why you want to use appengine-gcs-client  to read file from bucket any specific reason?
 in-stand of that you can use
[cloud storage client](https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-clients/google-cloud-storage)

[2019-07-06 02:52] igordmv commented on #5023
@ajaaym sorry for the late response... I didn`t know about this kind of log, thanks by this advice...
I got this on FINEST log level:
Date: Fri, 05 Jul 2019 21:14:45 GMT
Content-Type: application/json; charset=utf-8

[2019-07-05 21:14:45] [CONFIGURAÇÃO] Total: 253 bytes
[2019-07-05 21:14:45] [CONFIGURAÇÃO] {
  "error": "invalid_grant",
  "error_description": "Invalid JWT: Token must be a short-liv

[2019-07-06 07:59] h-amg commented on #5608
Hi @android10, I'd really appreciate your input on this. any thoughts on how to solve this problem?

[2019-07-06 08:04] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/e3b557ae-7be7-49db-b2ab-4f06e5a5f10a).

[2019-07-06 14:08] hkothari opened #5694 "Logging Appender Error Reporting - Services/Versions in GKE"
I use the Logback Appender with error reporting in my code, which runs on GKE. One thing I've been trying to do is get the errors to include the necessary metadata to use the "Services" filter in the error reporting console, right now if I filter here all I can see is "gke_instances"

From what I can tell this metadata does not comes from the log messages themselves because the log payloads look l

[2019-07-06 14:23] Leejjon commented on #5609
Found some information here:
https://github.com/grpc/grpc-java/issues/3522

Somebody managed to hack it here:
https://github.com/grpc/grpc-java/issues/2727#issuecomment-348209549

When I try to use firestore instead of datastore, it has the same problem. So the problem might be closer to google-cloud-core.

[2019-07-07 08:03] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c4402487-26ef-45c0-a16a-a43eb2cd5c71).

[2019-07-07 13:40] DavidBuzatu-Marian commented on #5608
@h-amg I have the exact same problem as you and I tried all the steps you said. Still, it doesn't work. Did you find a workaround?

[2019-07-07 14:12] h-amg commented on #5608
@DavidBuzatu-Marian Nope, not yet. I'll post an update if i figured it out

[2019-07-07 15:07] DavidBuzatu-Marian commented on #5608
I've made a stackoverflow post and got a response, but I have an error. Maybe you can figure it out:

https://stackoverflow.com/questions/56922949/resolve-duplicate-classes-with-firebase-and-dialog-flow

[2019-07-07 16:20] yankarinRG commented on #3400
Hello @hzyi-google, since your reply is one year old, were there any updates on a dedicated Android library for Google Cloud Text-to-Speech?

Thank you.

[2019-07-07 19:15] h-amg commented on #5608
@DavidBuzatu-Marian  The snippet lance provided is unnecessary since android studio lists all the duplicate classes and jars where they are located in the build window (part of which is included in my post above under "stacktrace"), the challenge is how to exclude them?

[2019-07-08 04:08] abhi007tyagi opened #5697 "Dialogflow client library for Apple iOS devices"
Is there any V2 library for Apple iOS devices that can be used as client library to communicate with Dialogflow backend from iOS apps similar to old Api.ai Android and iOS library?

If not can it be created?

[2019-07-08 08:04] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/0057a5af-1b58-47b2-b63f-5e81c6187ee8).

[2019-07-08 09:25] lizekui commented on #5662
Thanks @pmakani attention !

Sorry my slow reply... As @vumutduman said, I forget put my  google-cloud-storage pom:
[code]
I guess maybe the  google-cloud-storage version exists dependencies with google-cloud-speech too?

[2019-07-08 10:33] pmakani commented on #5662
@vumutduman  i tried dependencies which you mentioned and it's works fine, can you try with latest version of both dependency ?

[2019-07-08 10:37] pmakani commented on #5662
@lizekui i used same dependency, which you are using and got the same error , after i tried latest version of storage dependency and it's work fine, can you please try that ?

[2019-07-08 12:30] DavidBuzatu-Marian commented on #5608
@h-amg I managed to exclude the classes, but I have something new in my code, maybe you did it differently and won't have it.

I added this to gradle (module) just above dependencies:

configurations {
    implementation.exclude module:'proto-google-common-protos'
    implementation.exclude module:'protobuf-java'
}

[2019-07-08 13:04] turboT4 opened #5699 "Dependency conflict with KMS when running Spark code in Dataproc"
I've been recently trying to include Google Cloud's KMS library into my project to manage key decryption, and while in local everything works flawlessly, once deployed in Dataproc the following error is shown in the logs...

`Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.base.Preconditions.checkArgument(ZLjava/lang/String;C)V`

I've been lurking through that exception a

[2019-07-08 16:30] iurysza commented on #5023
I'm having the same issue while using the DialogFlow api.

[2019-07-08 16:30] chingor13 commented on #5648
Duplicate of #5650

[2019-07-08 16:30] #5648 closed

[2019-07-08 16:34] chingor13 commented on #5651
This should be fixed in google-cloud-storage 1.81.0. We bumped our gson dependency to 2.8.5. Please let us know if this doesn't fix it.

[2019-07-08 16:34] #5651 closed

[2019-07-08 17:50] #5646 closed

[2019-07-08 18:13] ajaaym commented on #5023
@iurysza are you getting same "Invalid JWT" token error?

[2019-07-08 18:23] viraj071 opened #5704 "Question: Handling 410 Gone errors when flushing buffer in BlobWriteChannel"
We are using GCS to store blob files. We provide a GCS implementation of an interface provided by an internal library. The implementation returns a `WritableByteChannel` which is used by the library. This means, adding a retry logic is not an easy option for us. Looking at the stack trace below, we see that it is created in the `BlobWriteChannel.flushBuffer` method.

Questions:
1. Does the SDK ret

[2019-07-08 19:06] chingor13 commented on #5650
Can you elaborate how this usage is misused?

https://github.com/googleapis/google-cloud-java/blob/71124ba3bc6750abd777df86c813b2fb6945a42b/google-cloud-clients/google-cloud-core/src/main/java/com/google/cloud/testing/BaseEmulatorHelper.java#L453-L461

We are iterating over a large file and using `void update(byte[], int, int)`. The final call to `digest()` finishes the computation and returns the

[2019-07-08 20:32] philipsdoctor opened #5705 "FakeStorageRpc generation support for copy fails on read"
Hi,
I'm trying to use LocalStorageHelper for a test.   I do this (scala)

[code]

So that's a copy followed by a read action on the new file (gscClient is the `LocalStorageHelper` in this case).

However, during the copy action here:
https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-contrib/google-cloud-nio/src/main/java/com/google/cloud/storage/contrib/

[2019-07-08 20:36] dannychane opened #5706 "google-cloud-task: Question on using CloudTasksClient"
We are trying to use the cloud task api in a spring boot app and wanted to find out if CloudTaskClient is thread safe.  There will be a high frequency use of this service (singleton bean) using this api and wondering if the right path is to upfront create the client once (CloudTasksClient.create()) and reuse the client to add tasks.

Thanks!

[2019-07-08 20:53] chingor13 commented on #5287
@abhinav-qlogic We should remove the usage of those methods, but maintain the current behavior.

[2019-07-08 23:12] vchudnov-g commented on #5471
This is a new failure mode. @hzyi-google , do you have any idea off-hand why it's not reading the config file at `com.google.api.codegen.discogapic.DiscoGapicGeneratorApp.getGenerators(DiscoGapicGeneratorApp.java:126)`? If not, I can investigate.

[2019-07-09 03:14] BigBangKing opened #5708 "Issues - Cant use Translation client api on the same project that uses speech cloud api dependencies & also API 'variant.getJavaCompile()' issue."
Have two issues.
1. I have added the client library of translation api but lots of duplicate class errors showed up.

Heres the modified dependencies list of .gradle:
`
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])

    // Support libraries
    implementation "com.android.support:design:$supportLibraryVersion"
    implementation "com.android.support:cardview-v7:$suppo

[2019-07-09 07:05] h-amg commented on #5608
Hey @DavidBuzatu-Marian, thank you so much. This method worked though i had to modify it a little bit:

`configurations {
        implementation.exclude module:'proto-google-common-protos'
        implementation.exclude module:'protolite-well-known-types'
        implementation.exclude module:'guava'
        implementation.exclude module:'protobuf-lite'
    }`

Let me know if this works for you.

[2019-07-09 08:05] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/82fd78fc-a969-442b-bf34-4e376d4c778e).

[2019-07-09 12:36] DavidBuzatu-Marian commented on #5608
Well, it did not for me. Apparently, my firebase crashes if I do it like you did. But I will search for a workaround

[2019-07-09 14:26] lizekui commented on #5662
[code]
Thanks dear @pmakani ! this latest version of both two jar dependency  works wonderfunlly fine!

[2019-07-09 14:26] #5662 closed

[2019-07-09 15:00] sduskis commented on #5697
@abhi007tyagi, this repository is only for Google Cloud Java APIs.  You can see all of he Dialgoflow SDKs here: https://dialogflow.com/docs/sdks, and it looks like there is an iOS client.  If you need further support, please see https://dialogflow.com/support for your options.

I'm going to close this issue, since this issue isn't related to Google Cloud Java clients.

[2019-07-09 15:00] #5697 closed

[2019-07-09 15:02] sduskis commented on #5699
Can you try explicitly using a newer version of guava in your dependencies?  I'm not sure if that will help, but it might.

[2019-07-09 16:47] #5043 closed

[2019-07-09 16:59] h-amg commented on #5608
I got too excited too fast, the app crashes with the following error when it launches:

[2019-07-09 17:04] abhi007tyagi commented on #5697
that is old APi.ai SDK which will be going shutting down in Oct 2019.

[2019-07-09 17:04] sduskis commented on #5608
Maybe you can try to import `com.google.guava:guava:27.0-android`

[2019-07-09 17:11] hzyi-google commented on #5471
@vchudnov-g sorry I don't have experience in discogapics.

[2019-07-09 18:12] h-amg commented on #5608
Thanks @sduskis , it didn't work.

[2019-07-09 18:51] mrmoize commented on #5023
@iurysza I have having the same issue with DialogFlow. It seems to work fine on my personal network but when I return to work (and the company network) I am getting the exception that says it is caused by io.grpc.StatusRuntimeException, javax.net.ssl.SSLHandshakeException, sun.security.validator.ValidatorException, and sun.security.provider.certpath.SunCertPathBuilderException

[2019-07-09 22:49] shollyman opened #5712 "bigquery: implement missing JobListOption filters"
job listing can be filtered using min/max creation time of jobs to help restrict size of search space / returned list, which are missing in java implementation currently.  Also, parentJob should be arriving soon.

https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/list

[2019-07-09 22:50] shollyman opened #5713 "bigquery: label filtration on datasets"
dataset listing doesn't implement the label filtration syntax DatasetListOption

[2019-07-10 06:21] turboT4 commented on #5699
@sduskis I did it and no luck so far :(

Just left `val gcs-connector = "hadoop2-1.9.16"` as dependency and, without KMS, it compiles and runs (removing the KMS part).

But, as soon as I add `"com.google.cloud" % "google-cloud-kms" % "1.17.0"`, the following error...

`Exception in thread "main" java.lang.IncompatibleClassChangeError: Class com.google.common.base.Suppliers$SupplierOfInstance does

[2019-07-10 07:25] h-amg commented on #5608
@DavidBuzatu-Marian remove guava exclusion like so:

    android {
        ...

       configurations {
                 implementation.exclude module:'proto-google-common-protos'
                 implementation.exclude module:'protolite-well-known-types'
                 implementation.exclude module:'protobuf-lite'
        }

    }
It should work without causing duplicate classes error or crashi

[2019-07-10 08:05] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/347c9c27-678b-448f-92a7-087cc9dcfa04).

[2019-07-10 10:39] pmakani commented on #5609
@Leejjon  i followed your steps and reproduced that error, which you are getting, error occurred because of dependency conflicts. so exclude that dependency and after it's work fine for me. can you please try this ?
[code]

[2019-07-10 19:39] #5610 closed

[2019-07-10 20:27] igorbernstein2 opened #5721 "Javadocs site's version selector is incorrect"
For example the current spanner docs:
https://googleapis.dev/java/google-cloud-clients/latest/index.html?com/google/cloud/spanner/package-summary.html

The version selector shows 0.98-alpha
![Screenshot from 2019-07-10 16-26-27](https://user-images.githubusercontent.com/23526194/61002481-9e87c880-a32f-11e9-9f66-af15eb96958f.png)

It shows the same for bigtable

[2019-07-10 20:36] kolea2 commented on #5721
This is the BOM version number, which is intended behavior.

[2019-07-10 20:36] #5721 closed

[2019-07-10 21:22] chingor13 commented on #5246
This should already be available from both the API and the client: https://cloud.google.com/speech-to-text/docs/reference/rpc/google.cloud.speech.v1#speechrecognitionalternative.

`com.google.cloud.speech.v1.RecognizeResult#getResultsList()` returns a List of `com.google.cloud.speech.v1.SpeechRecognitionResult`. `SpeechRecognitionResult#getAlternativesList()` returns a List of `com.google.cloud.sp

[2019-07-10 21:22] #5246 closed

[2019-07-10 21:41] Leejjon commented on #5609
The workaround works. I can use it with the gcloud datastore emulator now locally and my simple increment sample counts fine. It does give errors in the logs like:
java.lang.reflect.InaccessibleObjectException: Unable to make field protected volatile java.io.InputStream java.io.FilterInputStream.in accessible: module java.base does not "opens java.io" to module data
store.v1.proto.client
https://p

[2019-07-10 21:43] #5609 closed

[2019-07-11 08:07] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/a7e05957-ee82-4acf-af1e-12d9457e5fad).

[2019-07-11 12:20] h-amg commented on #5608
So I ended up excluding only these two modules:

    android {
        ...

       configurations {
                 implementation.exclude module:'protolite-well-known-types'
                 implementation.exclude module:'protobuf-lite'
        }

    }

However, when i try to retrieve data from firebase-firestore DB the app crashes with the following exception message:

**DebugLogs:**

[2019-07-11 17:16] shollyman opened #5728 "BigQuery: review visibilities"
Review visibility in BigQuery classes.  e.g. public methods in classes with default/package private access.

[2019-07-11 20:42] Laguses commented on #5608
I have the exact problem as you, I'm running out of patience for over 1 week now and I still can't find a fix for this conflict between Firestore internal protoLite and other dependencies that use other versions of protobuf

https://stackoverflow.com/questions/56993238/android-studio-gradle-exclude-is-not-working-as-intended

[2019-07-11 20:57] chingor13 commented on #5608
The core of the issue is that `protobuf-java` and `protobuf-lite` provide the same classes with different implementations, and that `proto-google-common-protos` do the same `protolite-well-known-types`. Firebase pulls in the lite flavor of protobuf whereas google-cloud-java provided libraries pull in the full protobuf-java versions.

Since it appears you are using android, you likely want to keep

[2019-07-12 05:33] athakor commented on #5706
@dannychane

The Cloud Tasks service is designed for asynchronous work. It does not provide strong guarantees around the timing of task delivery and is therefore unsuitable for interactive applications where a user is waiting for the result so you could say it's not thread safe.

CloudTaskClient bean can be singleton and should be reused for furthur task creation and bean itself not a threadsafe.

[2019-07-12 08:06] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/a947fc60-0c9c-49ab-b309-6fbc40b57070).

[2019-07-12 08:59] h-amg commented on #5608
Thanks @chingor13 that was insightful,  I tried excluding `protobuf-java` and `proto-google-common-protos`. I get missing `com.google.protobuf` classes error. I think this is a compatibility  issue as you alluded. Not giving up yet though.

[2019-07-12 09:47] gabber235 commented on #3682
Is this already out or is this still being worked on? If so, what is the current road map?

@nbransby have you ported it or not? If so, is there a way that others might use it?

[2019-07-12 12:29] schmidt-sebastian commented on #3682
We haven't made progress on this front yet.

[2019-07-12 16:20] #5712 closed

[2019-07-12 16:20] #5713 closed

[2019-07-13 08:04] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/e273e7f6-0353-4d15-a9a6-af30d29b5884).

[2019-07-14 08:05] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/1b84203c-d0fc-4a48-9374-486247745939).

[2019-07-15 02:09] Chinmay-Deshpande commented on #548
Hi , I want to get the total count of entities in a kind in google cloud datastore. When the entities are 5 Million the following code doesnt return the count.

private static Datastore datastore;
datastore = DatastoreOptions.getDefaultInstance().getService();
Query query = Query.newKeyQueryBuilder().setKind(kind).build();
int count = Iterators.size(datastore.run(query)); //count has the entities

[2019-07-15 08:04] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/79c239c9-bd18-473a-b14f-e32b421bc953).

[2019-07-15 17:47] igorbernstein2 opened #5741 "Bigtable: top level settings docs should not mention endpoint."
Endpoint settings were pushed down into stub settings. But the docs were never updated

[2019-07-15 18:40] #5741 closed

[2019-07-15 19:42] SeventhOfNine opened #5744 "enum Regions.java class not kept up to date"
Hi,

The enum Regions.java (created by https://github.com/googleapis/google-cloud-java/pull/4309) hasn't been updated with the last regions that were made available in Google Cloud. Namely:
- asia-northeast2
- europe-west6

Thanks.

[2019-07-15 20:18] SeventhOfNine commented on #5744
PR: https://github.com/googleapis/google-cloud-java/pull/4309

[2019-07-15 22:51] JesseLovelace commented on #5705
Thank you for bringing this to our attention and thank you for the PR. This is definitely a bug, will take a look at the PR now

[2019-07-15 23:43] #5705 closed

[2019-07-16 01:15] neuromantik33 opened #5747 "GKE Metadata server: Internal Error"
I'm unable to make use of the workload identity on GKE with the latest google cloud storage API. I've followed the guide [here](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity#enable_workload_identity_on_an_existing_cluster) and everything checks out with gcloud and the cloud-sdk image as mentioned
Here is my example groovy code:
[code]
My Dockerfile
[code]
My Kubernetes J

[2019-07-16 08:07] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/0bf9fe06-5489-4e73-a4b6-ecd4d6281064).

[2019-07-16 20:07] chingor13 opened #5753 "Logging: Cannot specify resources when fetching log entries"
In LoggingImpl, the ListLogEntriesRequest is built and only specifies the projectId as the resource names: https://github.com/googleapis/google-cloud-java/blob/64189021c41c0f96b8a96beefb737cbf76be22c8/google-cloud-clients/google-cloud-logging/src/main/java/com/google/cloud/logging/LoggingImpl.java#L632-L653

The end-user should be able to somehow set the resource names fields.

[RPC Specification]

[2019-07-16 20:17] chingor13 commented on #5744
Fixed in #5745

[2019-07-16 20:17] #5744 closed

[2019-07-16 22:44] chingor13 commented on #5747
I followed the same steps and got it to work with a few modifications:

1. I had to rename the `list-files.groovy` file to be `listFiles.groovy` (and fix references to the file name)
2. Added `@Grab(group = 'info.picocli', module = 'picocli', version = '3.9.6')` to the `@Grapes` config
3. Changed the `metadata.namespace` in the job config yaml to the `[K8S_NAMESPACE]` value from the tutorial
4. Ch

[2019-07-17 01:34] igorbernstein2 opened #5757 "Cloud Bigtable integration tests should run in AppEngine"
To ensure that the Bigtable client works in AppEngine, there should be a harness that pushes the integration tests into an AppEngine application and then runs the tests from there. The harness should have 2 enpoints:
- one that lists all of the tests
- another that runs the tests

[2019-07-17 01:35] igorbernstein2 commented on #5757
Might relevant: discussions about python gae tests:
https://github.com/googleapis/google-cloud-python/issues/1893

[2019-07-17 08:07] yoshi-automation commented on #5471
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/850602e5-3c5c-41e7-874e-6c11a0ebb90a).

[2019-07-17 08:11] topecongiro commented on #1431
@hzyi-google
What does it mean for the issue to be added to the backlog? Do maintainers of this SDK will accept a PR that fixes this issue? IMHO this will hugely benefit the DX of SDK users, as working with  `com.google.datastore.v1.Entity` is very painful, especially when you try to create it manually for tests.

[2019-07-17 08:33] yuri-sergiichuk opened #5758 "Add PubSub Push message Proto definition"
**Is your feature request related to a problem? Please describe.**

There is no PubSub proto message for the incoming `push` subscription messages described [here](https://cloud.google.com/pubsub/docs/push#receiving_push_messages). And thus, anyone who'd like to receive a Protobuf equivalent of the push message has to create its own proto wrapper around specified JSON representation.

 **Describe

[2019-07-17 10:17] ashishchopra opened #5760 "split package issue with google.cloud.vision java 11"
#### Environment details

1. Specify the API at the beginning of the title : google.cloud.vision, com.google.api.grpc
2. OS type and version: Ubuntu 16.04
3. Java version: Java11
4. google-cloud-vision version(s): 1.82.0

#### Steps to reproduce

1. Create a spring boot project
2. Change the project SDK to Java 9 or above. I use Java 11 (Amazon Cornetto OpenJDK)
3, Add google-cloud-vision in pom.x

[2019-07-17 10:30] pmakani commented on #5674
@akhil-yalagonda I tried with VPN and it's working fine.

[2019-07-17 11:55] neuromantik33 commented on #5747
Second attempt following your recommendations no success. I've made the modifications you suggested and I will show you my output.

`listFiles.groovy` (corrected version)
[code]
`Dockerfile`
[code]
`list-files.yaml` (Job manifest)
[code]
And some diagnostic output to show that everything is set up accordingly
[code]
And the exception remains the same
[code]
I'm really out of ideas as to why it's n

[2019-07-17 13:04] neuromantik33 commented on #5747
Ok by looking at the gke-metadata-server daemonset logs I was able to figure it out :)
It turns out that in order to use workload-identity you need to :

- Enable IAM Service Account Credentials API
- Add an additional IAM policy binding, ie. `gcloud --project [PROJECT_NAME] iam service-accounts add-iam-policy-binding --role roles/iam.serviceAccountTokenCreator --member serviceAccount:[PROJECT_NAM

[2019-07-17 15:44] chingor13 commented on #5747
Thanks for following up. That command is what links the K8S Service Account with the underlying Google Service Account to use. In any case it's odd that you get a 500 error rather than a 401 error with a better error message.

We'd appreciate any feedback on the backend service on the [GKE issue tracker](https://issuetracker.google.com/issues/new?component=187077&template=0)

[2019-07-17 15:44] #5747 closed

[2019-07-17 16:50] hzyi-google commented on #1431
Please always feel free to send over a pull request :)

[2019-07-17 16:53] #5442 closed

[2019-07-17 20:59] Laguses commented on #5608
@h-amg
I had a workaround, I tested it and it solved the problem.
The problem that some libraries depend on proto-java and Firestore depends on the proto-lite so that's why duplicate classes error appear because they both have some classes with the same names and package.
Excluding modules 'protolite-well-known-types' and 'protobuf-lite' from Firestore won't fix the problem because the project wil

[2019-07-18 08:04] yoshi-automation commented on #5471
Autosynth passed, closing! :green_heart:

[2019-07-18 08:04] #5471 closed

[2019-07-18 13:48] ChengyuanZhao opened #5764 "CollectionReference listDocuments return ApiFuture of DocRefs"
Hi, I'm from the java frameworks team (I'm cccz@google.com) and we're working on a Java Spring Data Reactive implementation for Firestore. (an ORM sort of thing)

We came across CollectionReference.listDocuments which is exactly what we needed but we see that the method blocks and waits for the list of docrefs to return. We also see that the package-private Firestore.sendRequest method within actu

[2019-07-18 14:04] jessewebb opened #5765 "Logging with google-cloud-logging-logback on K8S missing some resource.labels"
Environment: GKE
Java Library:  `google-cloud-logging-logback`
Version: `0.97.0-alpha`

I am running some Java/Scala micro-services in GKE. Initially, we just logged to stdout and our logs appeared in Log Viewer automatically. Unfortunately, the logs were not showing proper severities and multi-line log entries were appearing as multiple entries.

Using the instructions on [this doc page](https://

[2019-07-18 15:46] ChengyuanZhao opened #5766 "Firestore TransactionManager and explicit commit/rollback"
Hello again,

Another aspect of Spring Data for Firestore we're making is `@Transactional` annotation support. Basically the user annotates a method with that annotation and every operation inside the method is supposed to be done inside a single transaction.

Right now we see there is only the option of running a given anonymous function inside a transaction and logically this can work as we need

[2019-07-18 15:54] h-amg commented on #5608
@Laguses thanks so much, but the google  java client library files are all `.java` file that imports the .raj files i think. how do i get to 'protobuf-lite', 'protobuf-java' and `protolite-well-known-type` `.jar` files?

[2019-07-18 21:13] wskinner-eml opened #5768 "Compute: Instance.getStatus() comment is out of sync from web documentation"
#### Environment details
1. Compute
2. OS type and version: OSX 10.14.5
3. Java version: 12
4. google-cloud-java version(s): 0.100.0-alpha

#### Steps to reproduce

  1. Inspect `com/google/cloud/compute/v1/Instance.java`, lines 420-423

#### Code example

[code]

#### External references such as API reference guides used
https://cloud.google.com/compute/docs/instances/instance-life-cycle

#### An

[2019-07-18 21:29] Laguses commented on #5608
You can get them from "External Libraries" section in your Android project by following these steps
1- Select "Project" as a view to display all the project files
![step1](https://user-images.githubusercontent.com/16693277/61493061-01720300-a9b3-11e9-8d4a-6859fed3a129.png)

2- Expand "External Libraries" section
![step2](https://user-images.githubusercontent.com/16693277/61493066-03d45d00-a9b3-11e

[2019-07-18 22:52] Zariyan opened #5770 "can not close big query connection"
Hello,

we've implemented big query streaming, while we can do the insertAll request successfully, we have not found out how to close the connection afterwords?

Any help how this can be done?

[2019-07-18 22:54] hzyi-google commented on #5544
It seems gapic-generator is ignoring the per-method retry definitions. I'll see if I can fix it.

[2019-07-19 04:27] athakor commented on #5708
@BigBangKing

**1.** You are getting duplicate class errors because of protobuf-java and protobuf-lite.The core of the issue is that protobuf-java and protobuf-lite provide the same classes with different implementations As `protobuf-lite` is more focused for android applications due to small build size, So you should exclude `protobuf-java` from your dependencies.
**i.e**
android {
		...
		config

[2019-07-19 07:53] pmakani commented on #5694
@hkothari I tested logging appender using container,
For MoniterResource labels, please refer this link https://cloud.google.com/logging/docs/api/v2/resource-list,
Till now MoniterResource supports labels present in the resource-list so you refer can set respective label accordingly.
If you want to configure your custom labels inside log, you can do that by setting label using LogEntry Builder.
[c

[2019-07-19 08:15] olavloite commented on #3722
@thorkilds It seems like it is working as it should, but the API is a little bit confusing in this case (it is an automatically generated API). There are two fields with different meanings:
1. `nodepool.getConfig().getAcceleratorsCount()`: This returns the number of accelerator configurations. In the above example Each accelerator configuration has an accelerator count.
2. `nodepool.getConfig().ge

[2019-07-19 08:15] #3722 closed

[2019-07-19 10:13] ashishchopra commented on #5760
Do we have any update on this?

[2019-07-19 10:32] athakor commented on #5760
@ashishchopra  can you please share your list of dependencies and module.java.

[2019-07-19 11:25] h-amg commented on #5608
@Laguses , i was able to create the new jar file but:

1. I got duplicate classes error between the new jar file and `protobuf-lite`, `protolite-well-known-type` and `proto-google-common` .jar.

2. When I tried  excluding all the above classes and  merging com files from `proto-google-common` with the new jar then adding it back to the project as a library, I got a can't open zip file (new jar fil

[2019-07-19 12:12] BigBangKing commented on #5708
After adding this:
[code]
it showed this error:
`More than one file was found with OS independent path 'project.properties'`

Using gradle :` classpath 'com.android.tools.build:gradle:3.4.2'`
So assuming that second error is from added libraries.

[2019-07-19 12:33] ashishchopra commented on #5760
**Dependencies:**
[code]

**module.java:**
[code]

[2019-07-19 12:47] hkothari commented on #5694
Thanks @pmakani I think what I was trying to get as was, what do I need to set to be able to set the service name to show up in the error reporting:
![screen](https://user-images.githubusercontent.com/297902/61536064-bf23e280-aa01-11e9-94ed-6deee120d59f.png)

I can successfully filter for it to show up in logs, and have no issues there but for error reporting it just shows "gke_services"

[2019-07-19 13:08] olavloite commented on #4543
@shashank-g172 I am also not able to reproduce this. Does this still fail for you? Running the following application works for me:

[code]

I noticed in your first post that you also included more dependencies than absolutely necessary to only run the above code (you included dependencies for OpenCensus and google-auth-library-oauth2-http). Strictly speaking, to run my example you don't need any m

[2019-07-19 13:33] athakor commented on #5708
@BigBangKing can you please add

[2019-07-19 15:35] chingor13 commented on #5760
This looks like an issue with how we have our packages split up into (at least) 3 artifacts. For the vision example, we create distinct classes in the `com.google.cloud.vision.v1` package in `proto-google-cloud-vision-v1`, `grpc-google-cloud-vision-v1` and `google-cloud-vision`.

This setup has been around for a few years and will be non-trivial to fix without potentially causing other dependency

[2019-07-19 15:52] chingor13 commented on #4751
We are using [`google-java-format`](https://github.com/google/google-java-format) via [coveo/fmt-maven-plugin](https://github.com/coveo/fmt-maven-plugin) for validating code style. We will remove this outdated file.

[2019-07-19 16:05] #5287 closed

[2019-07-19 16:11] dannychane commented on #5706
Thx.

[2019-07-19 16:11] #5706 closed

[2019-07-19 16:14] chingor13 commented on #5650
Closing as no update was provided

[2019-07-19 16:14] #5650 closed

[2019-07-19 16:22] chingor13 commented on #5024
`LifecycleConfig` and `AutscalingConfig` are available under `com.google.cloud.dataproc.v1beta2` be sure that you are using the `com.google.cloud.dataproc.v1beta2` version of the Dataproc clients (like `AutoscalingPolicyServiceClient`)

[2019-07-19 16:22] #5024 closed

[2019-07-19 18:24] chingor13 opened #5792 "PubSub: support `setEndpoint` on Publisher/Subscriber builders"
Currently, the underlying clients can customize the gRPC endpoint but that option is not surfaced to the higher-level handwritten layer.

[2019-07-19 18:30] chingor13 commented on #5792
We can call `setEndpoint` on the SubscriberStubSettings.Builder instantiated here: https://github.com/googleapis/google-cloud-java/blob/76062ba738b3bc35e7646d26cea13dcfffb784be/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java#L158

We would need to add an endpoint option to Subscriber.Builder and conditionally set it on the StubSettings builder if c

[2019-07-20 06:22] ashishchopra commented on #5760
HI @chingor13
Do you foresee any timeline for this change and do you have a suggestion on an alternative way to make it work meanwhile?

[2019-07-20 13:21] Laguses commented on #5608
@h-amg
Send me your Gradle dependencies tree to check where the conflict comes from.
check this link if don't know how to do that
https://stackoverflow.com/questions/21645071/using-gradle-to-find-dependency-tree/35235229#35235229

[2019-07-20 13:21] elharo commented on #5760
I think the least painful way forward is to ship a new single artifact that repackages everything into a new package com.google.cloud.vision.v2. Clients will have to change their source code to import the new package instead of com.google.cloud.vision.v1. However that's a straight-forward search and replace.

Alternately, we could keep three Maven artifacts and use three new packages.

[2019-07-21 22:39] wyaeld commented on #4700
@olavloite

When using kotlin gradle build, I've found that a little more tuning is desirable.  The normal workaround of turning on the `com.github.johnrengelman.shadow` plugin, which has similar function to the maven shade plugin has an issue.

If you do the default config, below:

[code]
it will work, but can result in a lot of undesirable files also ending up in the output jar, I'm unsure why.

[2019-07-22 09:59] blacar commented on #4700
I have found similar error using 'com.google.cloud:google-cloud-pubsub:1.83.0'.
trying to pusblish a message in a topic:

[code]

[2019-07-22 10:02] ashishchopra commented on #5760
Hi, @chingor13 It will be very helpful if you can give us some timeline for this fix. A very important functionality our application depends on this fix.

[2019-07-22 10:12] athakor commented on #5608
@h-amg can you add below workaround in your **app** level **build.gradle** file. I have tested it and  its working fine for me without crashing or duplicate classes.

android {
    ...
    ...
		configurations.all {
                                              exclude group:'com.google.api.grpc',module:'proto-google-common-protos'
                                              exclude group: 'com.

[2019-07-22 11:04] phanser83 opened #5797 "Google Speech to text WordTimeOffsets gets reset after creating new StreamingRecognizeRequest"
Hi,
I am trying to get transcription along with its word info specially for start and end timings for each and every word. This is for long streaming videos for which audio is extracted using ffmpeg. when it reaches 5 mins of video it throws error about maximum allowed stream length.

To Avoid "Exceeded maximum allowed stream duration of 305 seconds " error,  I am creating new StreamingRecognizeRe

[2019-07-22 12:44] olavloite commented on #4700
@blacar The above issue is something else than the original issue. You seem to run into an issue where an executor that is used by your transport channel is rejecting any further tasks. If this is something reproducible, it would be better to open a new issue with a clear description on how to reproduce the issue.

[2019-07-22 15:38] dmitry-s opened #5799 "Provide getter for FirestoreRPC"
Hi,

we are working on Spring Data for Firestore. We would like to have a way to get the `FirestoreRPC` from `com.google.cloud.firestore.Firestore` in order to have access to lower-level functionality.

teammates: @meltsufin @elefeint @dmitry-s @dzou

[2019-07-22 16:10] chingor13 commented on #5760
We don't have a timeline on a fix for this right now. If you have a support contract, then please submit an additional ticket to help us prioritize.

As for the current status, we are currently starting discussions about how to go about fixing this.

[2019-07-22 16:35] #5708 closed

[2019-07-22 17:23] #4751 closed

[2019-07-22 18:01] dzou commented on #5799
Hey I have an example of using the GRPC layer directly. You can take a look at this:

sample file: https://github.com/dzou/firestore-samples/blob/master/src/main/java/FirestoreRpcDriver.java#L19

pom: https://github.com/dzou/firestore-samples/blob/master/pom.xml