[2015-10-23 16:57] aozarov commented on #286
@wrwg did you look at the [link](https://github.com/grpc/grpc-java) I mentioned?
It is described in the first page as such:

Download the JAR. Or for Maven, add to your pom.xml:
[code]

...
For protobuf-based codegen integrated with the Maven build system, you can use [maven-protoc-plugin](http://sergei-ivanov.github.io/maven-protoc-plugin/):
...

[2015-10-23 17:50] wrwg commented on #286
@aozarov Thanks for the pointer, I actually have not seen the link to the maven-protoc-plugin, as if you continue to read the grpc repo, its all based on protobuf-gradle-plugin ;-)

[2015-10-23 17:52] #283 closed

[2015-10-23 18:05] #268 closed

[2015-10-23 18:24] aozarov commented on #60
Issue was fixed with #279.

Users now have the option of removing individual metadata properties (by setting their value to `null`) or removing all metadata properties (by setting metadata to `null`) and possibly resetting it with a new map.

Also, #279 add some details and a code sample to the javadoc.

[2015-10-23 18:24] #60 closed

[2015-10-23 18:28] aozarov commented on #109
@mziccard Anything else that is needed to be done for this issue?

[2015-10-23 18:29] aozarov commented on #282
@mziccard do you mind to take care of the Storage todo's if there are any?

[2015-10-23 18:30] aozarov commented on #278
@mziccard Do you want to take care of this? Ajay has already few outstanding issues to take care of.

[2015-10-23 18:43] aozarov commented on #201
@mziccard Do we need to leave this issue open?

I mean, is there any action that we should take on our side? I think @BrandonY created an internal issue for adding a check in the first POST request. Until that happens (if it does) do you want to document it or just leave it as is?

[2015-10-23 18:46] aozarov commented on #106
@mziccard My preference is to keep the library method dispatching style consistent, and minimize on client side validation.

I agree, that we could be more "user-friendly" using the suggestion above for `some` use-cases.
What do you think?

[2015-10-23 18:49] aozarov commented on #16
I think we can close that as Datastore v1beta3 seems to remove "force" completely.
Is that right @ajkannan ?

[2015-10-23 19:11] aozarov commented on #220
We still see this [failures](https://travis-ci.org/GoogleCloudPlatform/gcloud-java/builds/87086098).

[code]

I wonder if we are actually not retrying in some condition where we should be.

[2015-10-23 19:31] mziccard commented on #109
The only point that may be still open is whether `ServiceRpcFactory` should extend `Serializable` or not.

[2015-10-23 19:32] mziccard commented on #282
I've already removed some. I'll take care of going through the code and report them as issues if need be.

[2015-10-23 20:00] mziccard commented on #106
I would keep this as simple as possible. I agree that we should not change the library style. I don't think that having a method chain like:
[code]
helps a lot.

AWS APIs use a `GeneratePresignedUrlRequest` class to set all signed url options, and then a method `generatePresignedUrl` to generate the `URL` object. This last method throws exceptions if something goes wrong with signing and I assume

[2015-10-23 20:23] ajkannan commented on #16
Yup, they've removed force completely.  In my understanding, it could be added back in the future, but that's unclear.  We can reopen this issue if it ever does get added back.

[2015-10-23 20:23] #16 closed

[2015-10-23 20:43] aozarov commented on #109
Do you see a way to implement suspend and resume in a separate process without it?

[2015-10-23 20:58] mziccard commented on #109
@aozarov We could once again add save and restore methods to the interface, right?

[2015-10-23 23:50] aozarov commented on #109
Oh, sure. but the main point is that we are still going to require from the implementation of the factory
to be able to "serialize/deserialize" itself.  I think that is a reasonable expectation from a factory (as oppose to the object it creates).

I totally agree that serialize channels is unexpected and therefore was all for changing them to provide
explicit save/restore.

I don't think it is tha

[2015-10-24 09:26] mziccard commented on #109
@aozarov I agree that adding `save`/`restore` methods still forces implementations to be able to serialize. However, if it is the drawbacks of `Serializable` we are worried about, using such methods allows to avoid them. And implementations can still make `save`/`restore` throw `UnsupportedOperationException`.

That said, I think that requiring factory implementations to be public and have an empt

[2015-10-26 07:57] mziccard opened #288 "Remove setContentType from DefaultStorageRpc.compose"
This depends on b/20681287. Compose API needs a `contentType` to be always provided. As soon as the bug gets fixed we should remove `setContentType("application/octet-stream")`.

[2015-10-26 08:00] mziccard opened #289 "Use setProjection in DefaultStorageRpc.compose"
This depends on b/20659000. The projection parameter is not supported by compose API. As soon as this is fixed we should add `setProjection` to `DefaultStorageRpc.compose`.

[2015-10-26 08:07] mziccard opened #290 "Fix int casting of lastBytePos in DefaultStorageRpc.read"
This depends on https://github.com/google/google-api-java-client/issues/937. `MediaHttpDownloader.setContentRange` takes `firstBytePos` as a long while `lastBytePos` as an int. As soon as this gets fixed we need to remove `int` casting.

[2015-10-26 08:35] mziccard opened #291 "Provide support for objects rewrite"
Support for [rewrite](https://cloud.google.com/storage/docs/json_api/v1/objects/rewrite) should be added.

[2015-10-26 08:40] mziccard opened #292 "Investigate adding support for BucketAccessControls: insert"
This is for discussion.
Do we need to provide support for [BucketAccessControls: insert](https://cloud.google.com/storage/docs/json_api/v1/bucketAccessControls/insert) or rather expect users to rely on bucket update/patch?

I think update/patch method should be enough. We can always add *BucketAccessControls: insert* later if someone requests it.

[2015-10-26 17:37] mziccard opened #295 "Show how to add gcloud-java as a dependency in gradle and sbt"
We already show this [here](http://googlecloudplatform.github.io/gcloud-java/0.0.10/dependency-info.html) but it's quite hidden.
What do you think about adding this information to the README and to the landing page (as a tabbed view?)?

I know this is something that a user can construct from maven's dependency but we could make it easier.

[2015-10-26 17:38] jgeewax commented on #295
Hmm.. I don't see gradle on that list?

[2015-10-26 17:56] ajkannan opened #297 "Figure out the work needed for Resource Manager service"
https://cloud.google.com/resource-manager/

[2015-10-26 18:15] mziccard commented on #295
That page is autogenerated with `mvn site` that seems not to provide info for `gradle`.

Now that I notice, that page shows instructions on how to include the poms artifact, which is weird and not what we want.

[2015-10-26 19:47] pcostell commented on #278
It looks like you could do this either by continuing to use the Datastore clients and override [RemoteRpc.java][0] (which then gets passed in when you create a Datastore), or you could just stop using the client (may be better long term since you replicate a lot of the work anyways for the other APIs).

[0]:https://github.com/GoogleCloudPlatform/google-cloud-datastore/blob/master/java/datastore/sr

[2015-10-26 20:19] aozarov commented on #278
I don't think we can override RemoteRpc.java as it is package protected.

Right, we could avoid using the Datastore protobuf client and instead use the [apiary](https://developers.google.com/api-client-library/java/apis/datastore/v1beta2) client directly but I wonder if it is worth the effort considering the future migration to gRPC. Also, do you have this client available for v1beta3?

/cc @ajkan

[2015-10-26 20:30] pcostell commented on #278
Ah good point -- we could probably add some extra handling to push headers onto the call.

If you are planning a grpc migration soon you could do that too -- v1beta3 does work with grpc.

We have a v1beta3 implementation but it hasn't made it onto github yet. If you ping me privately I can send you a link.

[2015-10-26 20:51] mziccard opened #298 "Dependency info page shows instructions to add pom artifact"
Our [Dependency Info](http://googlecloudplatform.github.io/gcloud-java/0.0.10/dependency-info.html) page shows information on how to add `gcloud-java-pom` artifact as a dependency, not `gcloud-java`.

[2015-10-26 21:33] ajkannan commented on #278
Looking at what we use within the Datastore client, I think we could decouple gcloud-java from the Datastore client without too much effort now and then maintain it without too much additional work.  It looks like we would only need to replace the functionality of the client's `RemoteRpc.java`, `DatastoreFactory.java`, `Datastore.java`, and `DatastoreOptions.java`.  Most of the work in the client'

[2015-10-26 22:00] ajkannan opened #300 "Remove dependency on Datastore's client"

[2015-10-27 00:32] ajkannan commented on #278
I spent some time trying to use the apiary client, and that necessitated a lot of superficial changes that would be more trouble than its worth, especially when merging in the v1beta3 branch.  I can look into using gRPC after the v1beta3 branch is merged in and we're ready to migrate to gRPC.

[2015-10-27 19:02] JustinBeckwith opened #302 "Create API for GCE Metadata"
There's a great metadata service for getting access to information on the VM. It would be great to have a structured API for this:
https://cloud.google.com/compute/docs/metadata?hl=en

[2015-10-27 19:21] mziccard commented on #302
That would be nice indeed. I think we will investigate this as part of #85.
The only "issue" I see is that gcloud-java is meant to provide access to Google Cloud services from everywhere while the GCE metadata API is only available from inside a GCE VM, right?
But we can always add this support and document it's only available from a GCE VM (throws exception otherwise). How does this sound?

[2015-10-27 20:32] mziccard commented on #54
Closed with #296

[2015-10-27 20:32] #54 closed

[2015-10-27 20:34] mziccard commented on #109
Closed with #261 and #296.
If you feel that something is still missing to address this issue feel free to reopen.

[2015-10-27 20:34] #109 closed

[2015-10-27 22:42] #298 closed

[2015-10-28 18:03] #282 closed

[2015-10-29 00:59] aozarov commented on #292
I agree and I think we should either close it (and re-open per request) or label it as "enhancement" which
is not likely to be implemented.

[2015-10-29 01:43] aozarov opened #306 "Copy operation ignores stored object settings if content-type is null"
GCS Copy (and ReWrite) operations includes copying the original blob's metadata but also provides
a way to override the blob's metadata (such as content-type, contentLanguage, metadata fields).

When using the apiary copy or rewrite operations and supplying a `StorageObject` content it is going
to be used for blob's metadata overriding values. However, in this case content-type is required (and op

[2015-10-29 01:48] aozarov commented on #14
@mziccard so what else is pending before we can close this issue?

I consider these as dependencies:
#106 - I think we decided not to do anything about it?
#291 - Is about to be resolved.
#306
#193 - I actually don't see that as a true blocker for this issue, however I think it would be very nice
(maybe we just need to add exists to the RPC layer?)

Anything else?

[2015-10-29 12:54] mziccard commented on #292
I'm closing this. We can reopen in the future if users request this feature or we feel like it should be added.

[2015-10-29 12:54] #292 closed

[2015-10-29 13:09] mziccard commented on #14
I think blockers are only:
#106 I would do nothing as I am not convinced about the alternatives
#291 We are about to close it with #294
#306 As soon as #294 gets merged I'll send a PR for this

I don't think #193 should be a blocker. I would add support for selected fields to all gets (through vararg of field enums?) rather than adding exists to the RPC layers (it seems to me as a more complete so

[2015-10-29 16:03] aozarov commented on #291
Fixed by #294

[2015-10-29 16:03] #291 closed

[2015-10-29 16:35] aozarov opened #308 "We should set ServiceOptions.applicationName as the user-agent in Datastore requests."
PR #307 provides a way to get a string in the following format "gcloud-java/xxxx" (xxxx stands for the version) from the service options. We should set it for every service.

The typical way to set it for apiary clients is via `setApplicationName` on the apiary service builder.

When #300 is fixed that should be simple as we will have access directly to the apiary (or gRPC) client
though it would

[2015-10-29 16:36] aozarov commented on #278
I think we should consider #307 as a fix for this issue. I opened a separate issue, ##308, for just Datastore.

[2015-10-29 16:36] #278 closed

[2015-10-29 16:56] aozarov commented on #14
Great, so only #306 is a blocker for this issue and your approach for fixing the non-blocker #193 issue sounds good to me.

[2015-10-29 16:56] aozarov commented on #306
We can close  #14 once this issue is resolved.

[2015-10-29 17:15] aozarov commented on #46
@Capstan issue #14 is only blocked on #306 but I think that one should be considered as a bug-fix and therefore I think the API is ready for its final review.

/cc @BrandonY @mfschwartz

[2015-10-29 19:30] mziccard opened #310 "Identify a BigQuery dataset"
A [BigQuery dataset](https://cloud.google.com/bigquery/docs/reference/v2/datasets?hl=en) has an `id` field of the form `projectId:datasetId` and a `datasetReference` field:

    "datasetId": string,
    "projectId": string
  }

this suggests that a user should be able to init a `DatasetId` object as: `DatasetId.of("projectId", "datasetId")`.

However, a `ServiceOptions` object is already tied to a

[2015-10-29 22:05] aozarov commented on #310
This issue sounds similar to Datastore keys which also include a projectId as part of their path.
Though we allow a user to construct a key and explicitly setting a [projectId](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-datastore/src/main/java/com/google/gcloud/datastore/BaseKey.java#L96) the recommended way
wouldbe:
[code]
And as you suggested in that case the `Key

[2015-10-30 11:23] mziccard commented on #310
AFAIK there are not functionalities across projects.

Do you think we should use a factory class? A would prefer a method for such simple operations.

[2015-10-30 15:53] aozarov commented on #310
No, I didn't think a factory-class is needed in this case. A datastore key is much more involved containing various parts (projectId, namespace, parent path, id or name) where in this case a factory method is sufficient.

Another option: I wonder if we really need to have a `DatasetId` class? What if user only supply datasetId as string (e.g. when constructing a request) where response will contai

[2015-10-30 16:07] mziccard commented on #310
Yes but a bucket name is already an identifier, isn't it? While a dataset name is an identifier only within its own project. It's a remote case but what if we serialize a local `DatasetInfo` (with no project id set) and deserialize it elsewhere where `ServiceOptions.projectId` is different from the original?

[2015-10-30 16:28] aozarov commented on #310
Indeed if one serialize a, lets say, a `BigQueryDataset`that was created by the user (and is therefore incomplete) than it will remain incomplete when it de-serialize it (projectId should return null in that case), however if one serialize a `BigQueryDataset` that was returned by the client, then that one would be be fully populated with a projectId.

Yes, not exactly like BlobInfo and BucketInfo,

[2015-10-30 16:34] mziccard commented on #310
Yes but by doing this the same user-created `BigQueryDataset` might refer to two different datasets on the two serialization ends if they have different `ServiceOptions.projectId`.

[2015-10-30 16:37] aozarov commented on #310
Both deserialized instances should return `null` for projectId, but if they are passed as input to two different clients associated with 2 different project then they will create (and return in the response) a `BigQueryDataset` with 2 different projectId.

Is that the concern?

[2015-10-30 16:45] mziccard commented on #310
Yeah that's my concern, is this a desirable behavior? Considering that could be used also for deleting/updating a dataset. I feel like it's an unexpected behavior.

[2015-10-30 16:56] aozarov commented on #310
I feel that the use-case of one taking a serialized object (that is not a returned value by the service) from one project and using it in a different project in a way that yields unintentional results probably exists but is a weak one (low risk).

I can see a stronger use-case for doing it intentionally (e.g. creating similar datasets in different project).

However, if you feel that having someth

[2015-10-30 19:11] mziccard commented on #193
I am working on this now. I wanted to provide fields selection for blob `get` and `list`. My idea was to allow this through a vararg of fields objects/enums. I would also like to encapsulate this in our XXXOption vargargs to avoid having other parameters floating around. This applies quite well to `list`:
[code]
For `get` we have instead `BlobSourceOption` that is used in several points across our

[2015-10-30 19:51] aozarov commented on #193
This issue was about adding the selective fields to the RPC (spi) layer rather than adding it to the API layer (so basically it is pure optimization for some operations such as exists).

Do you really think it would be useful to users? If so, what do you feel about creating a separate `BlobReadOptions` (similar to the `BlobWriteOption` you already created) to be used with get operation?

[2015-10-30 20:07] ajkannan commented on #297
@mziccard I want to get your opinion on a good workflow for this issue.  I think there are a couple options:
1. Create a branch off GoogleCloudPlatform/gcloud-java/master for each service (like the `update-datastore` branch) and merge in incremental PRs.
2. Create a branch like in #1 but only have one big PR.  Rebase the branch onto master to keep it up to date.
3. Merge commits into master, but c

[2015-10-30 20:08] #306 closed

[2015-10-30 20:28] mziccard commented on #297
@ajkannan In theory you can rebase even when using option 1) but not through a PR. Let say we have a `bigquery` branch. Given that you have write access to the `gcloud-java` repo you can fetch `gcloud-java`, checkout `bigquery`, rebase it to master and force `push` (I am not suggesting this, but it can be done).

An alternative would be creating a `bigquery` branch in my own fork, let me call it `

[2015-10-30 23:43] ajkannan commented on #297
Doing the code review in my fork would be cleaner in terms of history, but one downside is that we lose the review history.  I'm fine both ways too (either the public branch or as feature PRs into my personal fork).  @aozarov what's your preference given this additional option?

[2015-10-31 09:11] mziccard commented on #297
What about having an incremental PR for `gcloud-java` that does not get merged until it's ready to use? This way we can rebase the PR as many times as we want and once ready merge it directly into master. This implies
- no need for an extra branch
- rebase is allowed
- reviewer must review on a commit basis rather than on a PR basis (which is a very good practice anyway)
- we'll have a long thread

[2015-10-31 18:53] aozarov commented on #297
I think this approach works well for smaller PRs but I have my doubts about big/continues PRs.

Personally I need sometimes to look at the "forest" rather than looking at the "trees", and in this
case the forest is just going to get bigger and bigger.

I imagine that we can be super strict in our commits to make it easier on the reviewer by, e.g., addressing **all** comments and **nothing** else i

[2015-10-31 19:53] mziccard commented on #297
@aozarov Yes my latest proposal assumes that we are very organized in commit/code/review phases.
The workflow I expect is:
1. Commit feature
2. Review
3. Commit to meet review
4. Repeat 2) and 3) until reviewer gives green light
5. Repeat from 1)

The idea is that basic support for a new service should be built incrementally so other PRs shouldn't be needed.

But hey I am super fine with (1) I jus

[2015-11-02 15:15] ajkannan commented on #297
It sounds like 1 works for everyone, so I'll go ahead and make a new branch off master for this issue.

[2015-11-02 17:44] mziccard opened #315 "Move ListResult and BaseListResult to core module"
`ListResult` and `BaseListResult` might be useful also for other modules so it might make sense to move them from `com.google.gcloud.storage` to `com.google.gcloud.core`. What do you think?

[2015-11-02 17:50] ajkannan commented on #315
It'd be useful for ResourceManager; one of the methods returns a paginated list using page tokens.

[2015-11-02 17:51] aozarov commented on #315
Yes, I think we have 2 types of list results.

One that works based on pages (has a page-level cursor) like the one for `Storage` and one that has
a row level cursor like for `Datastore`.

I think moving these classes to `core` is a fine idea though maybe when doing so, we need to fine a better name that would match other page-level list results?

[2015-11-02 17:55] mziccard commented on #315
@aozarov What problem do you see with naming? Now we have:
[code]
Which should fit almost all paginated searches.

[2015-11-02 17:58] aozarov commented on #315
I think we may one also at some point to support a common list result for a row-level cursor. If so,
how should we call it?

[2015-11-02 18:33] ajkannan commented on #315
This is somewhat related (but not related to Arie's question): I think `Tuple` could be moved into core's spi layer as well.  Some services (i.e. storage and resource manager) that have pagination also need a Tuple to return the token and the iterable/list.

[2015-11-02 18:49] mziccard commented on #315
So you would like to use the same interface for both page-based and row-based cursor.
What about something simple as:
[code]
as well as
[code]
I lack of imagination:)

@ajkannan The only problem I see with moving `Tuple` to `core` is that we don't actually want to expose it to the users but only use internally.

[2015-11-02 18:51] aozarov commented on #315
Honestly, I always wanted Java to have a `Tuple`/`Pair` type but I think I am in the minority in this case.

Considering [this] (http://mail.openjdk.java.net/pipermail/core-libs-dev/2010-March/003995.html) thread and [this](https://groups.google.com/forum/#!topic/guava-discuss/GF4QyBu0gsI) I don't think we should go against it (and avoid having it as part of the more visible "api" part).

[2015-11-02 21:57] aozarov commented on #315
Another, more explicit, option (just thinking out load) could be:

[code]
and use `Page` as the type of the `Iterable` returned by a page-based-cursor list function.

[2015-11-02 23:29] aozarov commented on #315
Also, hijacking this thread, what do you think about a common ServiceException with `code` and `retryable`?

[2015-11-02 23:38] ajkannan commented on #315
I'm in favor of a common ServiceException with code and retryable.

[2015-11-03 00:25] aozarov commented on #315
@mziccard, @ajkannan just made me realize that I didn't fully response to your suggestion of keep
using the `ListResult` name but removing the "page" part from `nextCursor` and `nextResults`.

I think there are 2 issues with this suggestion.
1) API is less clear about the cursor (we can `javadoc` it but I don't think this is as clear).
2) In the case of a row-level cursor, there is no such thing a

[2015-11-03 17:22] mziccard commented on #315
I think there might be some benefits from having separate exception (e.g. catching them separately)

[2015-11-03 17:24] aozarov commented on #315
Oh, no doubt. My question was (and sorry for not making myself clear) if we should have a *base* exception class (but still make each service has its own top level exception extending that base class)?

[2015-11-03 17:31] ajkannan opened #319 "Add "Organization" to gcloud-java-resourcemanager"
(when it becomes publicly available)

[2015-11-03 18:36] mziccard commented on #315
Uh I got it wrong. Then I agree, I'll take care of this.

[2015-11-04 19:01] aozarov opened #321 "Use consistent "update" verbs in our API based on the underlying RPC (PUT/PATCH)."
When it comes to metadata, some apiary libraries provide "patch" operations, some provide "update" and others provide both.

In GCS API we picked the verb "update" for PATCH operation and we don't provide a "replace"/PUT
(which exists now in the apiary world but is probably going to be removed for gRPC).

I would like to avoid confusion when using different services, and suggests we always use the

[2015-11-04 19:11] ajkannan commented on #321
Option 3 sounds good to me too.

For services that only provide one of the two (i.e. resource manager only has "replace"), should we create an "update" method and mimic the PATCH support if it makes sense?

[2015-11-04 19:17] mziccard commented on #321
I'm for option (3) as well!

@ajkannan do you mean by getting a resource and then doing an update? I would avoid this as it might be inconsistent if the resource gets updated in the middle of the two calls.

[2015-11-04 19:18] aozarov commented on #321
We actually can't mimic the apiary PATCH in cases when read-modify-write is not supported (so in resource manager you *can* do that for Policy but *not* for Project) and though One Platform seems
to be more lenient about it I suggest we do not do it.

I think we should expose what the service provide and pick our canonical name for it.

[2015-11-04 19:22] ajkannan commented on #321
@mziccard @aozarov good points, I agree

[2015-11-04 21:11] ajkannan commented on #315
Hey @mziccard, how's your workload?  I can make the common BaseServiceException (with code and retryable) if you're not working on it.

[2015-11-04 21:50] mziccard commented on #315
I can work on it tomorrow but if you have time today feel free to take it :) Just let me know, thanks!

[2015-11-04 23:29] ajkannan commented on #315
I can take it, I have some time today.

[2015-11-05 00:44] aozarov opened #323 "Can we get coveralls status for PRs"

[2015-11-05 17:40] aozarov commented on #315
Fixed by #318 and #324

[2015-11-05 17:40] #315 closed

[2015-11-05 18:46] aozarov commented on #295
Fixed by #327

[2015-11-05 18:46] #295 closed

[2015-11-05 18:48] #323 closed

[2015-11-06 00:02] ajkannan opened #328 "Update the location of config file"
The gcloud SDK moved the location of its config file from ~/.config/gcloud/properties to ~/.config/gcloud/configurations/config_default.  As a result, the file we read to get the default project ID in gcloud-java-core may be wrong, depending on whether the user updated their version of the gcloud SDK CLI.

We should first check if a config file exists in the new location.  If so, we take that proj

[2015-11-06 00:33] #328 closed

[2015-11-06 00:44] aozarov opened #330 "Provide a convenient way to get all results from a com.google.gcloud.Page"
In cases when paging between different requests is not necessary (all results are consumed in the same request/thread) a common usage-pattern would be as such:
[code]

or
[code]

To avoid this boilerplate code It would be nice to add to the `Page` class a method to return
an `Iterator` for all the results (and let that Iterator do the paging).

Some options:

(1) add a static method such as Page.i

[2015-11-06 01:11] aozarov opened #331 "We should mention GOOGLE_APPLICATION_CREDENTIALS in the Authentication section."
The main gcloud-java [README.md](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/README.md) contains an authentication section however this section does not
mention the option of using the `GOOGLE_APPLICATION_CREDENTIALS` environment variable to point to a key file.

@mziccard I now wonder if we need the `GCLOUD_TESTS_KEY` and `GCLOUD_TESTS_PROJECT_ID` in the `RemoteGcsHelper` as `G

[2015-11-06 06:51] mziccard commented on #330
I would prefer an instance method. I would also not use `allValues` as we alredy have a `values`  method that returns `Iterable` instead. My preference is `iterateAll` or simply `iterator` provided that we document what the method does.

[2015-11-06 08:56] mziccard commented on #331
@aozarov When I introduced those 2 variables I took inspiration from gcloud-node. The rationale is that to run integration tests the user must know what he is doing and he has to pick the right credentials/projectId before running tests as he is going to be billed for them.

For instance I have a personal account on Google Cloud whose credentials are set in `GOOGLE_APPLICATION_CREDENTIALS` but I u

[2015-11-06 12:13] jgeewax commented on #331
I'm with @aozarov on this one -- having separate env vars for tests seems a
bit off.

Running tests should look something like

[code]

right?

[2015-11-06 17:05] aozarov commented on #330
Sure, I like `iterateAll` better than `iterator` for being more explicit.

[2015-11-06 17:15] aozarov commented on #331
Right, it should not be a problem to temporarily override environment variable.

[2015-11-06 17:53] ajkannan opened #334 "Remove checks for old-style Compute/App Engine auth credentials"
Because [this bug is resolved](https://github.com/google/google-auth-library-java/issues/2), we can simplify our code that attempts to locate default credentials.  The [Application Default Credentials](https://developers.google.com/identity/protocols/application-default-credentials) does this work for us now.

[2015-11-06 17:55] aozarov commented on #334
Both Auth.AppEngineAuthCredentials and Auth.ComputeEngineAuthCredentials may no longer be necessary but we should verify it by running it an application using gcloud-java on AE (dev_app and prod) and CE.

[2015-11-06 19:08] ajkannan commented on #334
Related to this issue
-- We should update the README once the order of auth lookup is updated.
-- We should standardize the order of project ID lookup based on the auth lookup order.  This requires modifying the code and the README's project ID section

[2015-11-06 19:33] #331 closed

[2015-11-06 19:40] aozarov opened #335 "Remove RemoteGcsHelper specific environment variables for setting projectId and key."
As discussed in #331 we should depend on the already existing `GOOGLE_APPLICATION_CREDENTIALS` and `GCLOUD_PROJECT` environment variables instead of the `RemoteGcsHelper` specific `GCLOUD_TESTS_KEY` and` GCLOUD_TESTS_PROJECT_ID` environment variables.

[2015-11-06 19:41] aozarov commented on #331
I created #335 for tracking the `RemoteGcsHelper` specific keys issue.

[2015-11-08 03:04] lascarayf opened #338 "I can not use the tag "gcloud-java" in StackOverflow when I ask a question"
This link http://stackoverflow.com/questions/tagged/gcloud-java has cero questions because no one can use the tag "gcloud-java"

[2015-11-08 12:00] mziccard commented on #338
@lascarayf thanks for your interest!

To [create a tag](http://stackoverflow.com/help/privileges/create-tags) a user must have at least 1500 reputation.

I also know that tags can be sponsored: [gcloud-ruby](http://stackoverflow.com/tags/gcloud-ruby/info) seems not to be sponsored while [gcloud-node](http://stackoverflow.com/tags/gcloud-node/info) is sponsored.
I suspect that to sponsor a tag it m

[2015-11-09 17:00] #330 closed

[2015-11-09 20:45] mziccard opened #340 "Tables create does not return a complete Table resource"
Playing around with table creation I stumbled upon this:

When I successfully create a table I get the following response:
[code]
This is not a complete [table resource](https://cloud.google.com/bigquery/docs/reference/v2/tables) as some fields (creationTime, numBytes, numRows, ...) are missing. Do you have any idea why some fields are not set in create's response?

If I get the just created table

[2015-11-10 00:35] aozarov commented on #338
@jgeewax are you creating one?

[2015-11-10 00:36] aozarov commented on #340
Yes, I tried it as well and I experienced the same issue (`tables.insert` returns an incomplete `Table` object even when I explicitly requested all fields).

This does not seem to be the case for `datasets.insert`.

/cc @jtigani

[2015-11-10 02:13] jgeewax commented on #338
Yep - asking for a sponsored tag today. If you have a question I can tag
with it, let me know as that'd be helpful.

[2015-11-10 09:10] mziccard opened #341 "Scopes not configured for service account error"
This error occurs to me when I try to use default credentials created from the GOOGLE_APPLICATION_CREDENTIALS variable. This is the error I get whenever I try to issue a request:
[code]
It seems that to create default credentials based on the env variable we must supply the service scopes. This can be done by changing [this line](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gclou

[2015-11-10 14:56] ajkannan commented on #341
@mziccard I noticed this too yesterday afternoon while doing auth cleanup.  I will add scoping for the ApplicationDefaultCredentials in #337.

[2015-11-10 15:28] ludoch opened #342 "in the README the datastore sample does not compile."
For example, Datastore datastore = DatastoreOptions.getDefaultInstance().service();
does not seem to work with 0.0.10

[2015-11-10 16:10] ajkannan commented on #342
Yes, the README examples got updated too soon.  This example will work once we release version 0.0.11, which should be coming very soon (pending some testing in core).  The old way should still work, for example:

`StorageOptions options = StorageOptions.builder().projectId("my_project_id").build();
 Storage storage = StorageFactory.instance().get(options);`

[2015-11-10 16:48] ajkannan commented on #342
Also the javadoc (available on the [website](http://googlecloudplatform.github.io/gcloud-java/0.0.10/apidocs/index.html) and also packaged with version 0.0.10) should have examples that are in sync with the release version.

[2015-11-10 17:27] ludoch commented on #342
Got it, thanks!

[2015-11-10 17:48] aozarov commented on #341
Fixed by #343

[2015-11-10 17:48] #341 closed

[2015-11-10 22:45] aozarov commented on #342
@ajkannan just released 0.0.11 so maven should be consistent with site again.

[2015-11-10 23:00] aozarov opened #349 "We should consider adding performance tests."
This can be part of the integration tests or triggered separately.

If we only care about the client overhead we could test that with a mock SPI but being able
to get also server-observed performance would be nice.

[2015-11-10 23:04] aozarov opened #350 "Make Objectify work with google-cloud-datastore"
[Objectify](https://github.com/objectify/objectify) is a popular data access API for Google Cloud Datastore.

It would be great if we are able to make it work with gcloud-java-datastore.

/cc @stickfigure

[2015-11-10 23:45] aozarov opened #351 "We should better document the Storage API"
Feedback from @mfschwartz

Are you planning to flesh out all the javadoc?  These classes are full of methods and fields with no javadoc. That doesn’t seem adequate for a public API. Even someone (such as myself) already familiar with other GCS APIs won’t know what to make of some of your classes (e.g., what’s a BlobSourceOption?), and someone not familiar with the other GCS APIs would have to read

[2015-11-10 23:45] aozarov commented on #351
@mziccard do you mind to take this issue?

[2015-11-11 00:43] aozarov opened #353 "Add an option for crc32/md5 client side validation for Storage.readAllBytes"
From @Capstan "Read-side validation of checksums (crc32c) is a very nice-to-have".

[2015-11-11 03:44] aozarov opened #354 "Replace BucketInfo.StorageClass and BucketInfo.Location classes with plain strings."
Issue was raised by @mfschwartz and @thobrla which find the enum as a reference for the current
set of values confusing.

When replaced to strings we should add a link in the Javadoc of the relevant BucketInfo.Builder setter to a page with the list of values.

For location we can use - https://cloud.google.com/storage/docs/bucket-locations

For Storage class we can use - https://cloud.google.com/s

[2015-11-11 03:45] aozarov commented on #354
@mziccard do you want to take that as well?

[2015-11-11 07:51] ludoch commented on #342
0.0.11 does not work with:
Datastore datastore = DatastoreOptions.getDefaultInstance().service();

[2015-11-11 11:47] mziccard commented on #342
@ludoch Sorry for this, the method `getDefaultInstance` is not part of the `DatastoreOptions` interface, I don't know how it happened to be in the README. To get a Datastore service instance with default options try:
[code]
I'll take care of fixing this, either by adding the `getDefaultInstance` method or by updating the READMEs

[2015-11-11 22:04] ajkannan opened #358 "Standardize code snippets in package-info"
Right now, the example in the Datastore's and Storage's package-info.java files explicitly sets the service options' project IDs but not the auth credentials.  The user will probably specify both or none, depending on whether they run the code from App/Compute Engine or not.

I think we should have two examples in each package info, one with both left unset and the other with both explicitly set.

[2015-11-11 23:42] aozarov opened #359 "BlobReadChannel should fail if content comes from different generations."
Feedback from @Capstan:

If someone updates the object when the client is in the middle of a read and hadn’t specified a precondition, you will simply read from the new object. You need to record the generation upon the first read and then choose what the behavior is for future reads… if the generation still exists (e.g., it’s now a history object), do you still allow reads or do you balk (because

[2015-11-11 23:47] aozarov commented on #359
I think we should do 2 things (could be done independently).

1) Provide a way to specify generation in `Storage.reader` and if provided stick to it.

2) If a generation is not provided, fail if we detect that generation was changed between rpc reads
 (this could be done by changing `StorageRpc.read` to return a tuple (`StorageObject`, `byte[]`).

[2015-11-11 23:52] ajkannan opened #360 "Add example to Resource Manager's README"
Also address the other TODOs mentioned in the README.  This should be done when the package is complete and ready for use.

[2015-11-11 23:55] ajkannan opened #361 "Create an app under gcloud-java-examples that uses gcloud-java-resourcemanager"
It should be similar in style to `DatastoreExample` and `StorageExample`.  This should be done when `gcloud-java-resourcemanager` is complete and ready for use.

Also be sure to update the global README and `gcloud-java-examples`' README.

[2015-11-12 00:53] ajkannan opened #362 "Add support for all IAM Policy member types"
Right now, Cloud IAM Policy does not yet support members of type `allUsers`, `allAuthenticatedUsers`, or `domain` (see [here](https://cloud.google.com/iam/docs/managing-policies#code_example)).  When that is supported, we should allow gcloud-java users to create Members of those types.

[2015-11-12 01:12] aozarov opened #363 "We should include generation as part of the BlobId."
And we should use that generation (if supplied) in applicable operations such as delete, compose, copy (and use the google-api-client "generation" field).

Also, that means that we need to change `BlobSourceOption` and `BlobGetOption` `generationMatch` and `generationNotMatch` to be based on the value given in `BlobId`.

[2015-11-12 01:38] aozarov opened #364 "Consider other options for Batch requests."
Suggestion was raised by @Capstan

We could add a `Batch`/`BatchContext`/`BatchHelper` class that gets storage as an input and have the same `delete`/`get`/`update` methods as `BatchRequest.Builder` but instead of returning `this` for chaining return a `Future` ([this](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/util/concurrent/SettableFuture.html) could help with that

[2015-11-12 01:48] aozarov opened #365 "Limit google-api-client batch deletes to ~100."
Suggestion made by @Capstan

We should change [`DefaultStorageRpc`](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-storage/src/main/java/com/google/gcloud/spi/DefaultStorageRpc.java) and potentially invoke multiple sequential batch requests to avoid sending more than 100 delete requests per google-api-client batch.

[2015-11-12 02:03] aozarov commented on #46
Review was completed.
Here are the issues that were raised:

blockers:
#363 - We should include generation as part of the BlobId
#359 - BlobReadChannel should fail if content comes from different generations
#354 - Replace BucketInfo.StorageClass and BucketInfo.Location classes with plain string
#351 - We should better document the Storage API

non-blockers:
#353 - Add an option for crc32/md5 clie

[2015-11-12 10:17] mziccard commented on #359
Sounds cool, point 1) should be easy once #363 is fixed.

[2015-11-12 12:14] jgeewax commented on #46
Awesome - thanks for the summary @aozarov !

[2015-11-12 18:39] #354 closed

[2015-11-12 19:28] mziccard commented on #351
Closed with #355 and #356

[2015-11-12 19:28] #351 closed

[2015-11-12 19:30] mziccard commented on #342
@ludoch In #357 we add back a `defaultInstance` method to `StorageOptions` and `DatastoreOptions` and update both READMEs and website's landing page (will be available on the next release).
Do you think we can close this?

[2015-11-13 00:06] ajkannan commented on #220
Adding another error seen a couple times recently:

[code]

[2015-11-13 00:12] aozarov opened #371 "Use RetryHelper for batch operation"
Currently `StorageImpl` does not use `RetryHelper` for batch operation.

We should consider using `RetryHelper` when invoking the rpc but also when getting the result.
We can iterate over the failed results and retry all the ones which are retryable.

[2015-11-13 01:31] aozarov commented on #220
The above error should be significantly reduced after issue #371 is fixed.

[2015-11-13 09:17] mziccard opened #372 "Storage.delete returns false on NotFound, BatchRequest.delete shows failure"
If we try to delete a non-existing blob `storage.delete(nonExistingBlob)` returns `false`.
If we try to delete a non-existing blob with a batch request:
[code]
The deletion of a non-existing-blob is considered a failure in `BatchResponse`.
Wouldn't it be better to make this two ways of deleting a blob exhibit the same behavior?

[2015-11-13 16:26] mziccard opened #373 "DefaultStorageRpc.read setting wrong range"
In [DefaultStorageRpc.read](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-storage/src/main/java/com/google/gcloud/spi/DefaultStorageRpc.java#L418) we set the content range as:
[code]

Accorting to [here](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35) positions are inclusive, so we should probably do: `downloader.setContentRange(position, (int) positio

[2015-11-13 16:48] mziccard commented on #359
Regarding 2) I could not find a way of getting both data and metadata with the same request. If this is not possible (please confirm) should we implement 2) by getting the metadata before getting blob's data? I was thinking of something like (only if generation is null):
- First request
  1. Get blob latest metadata and store *generation*
  2. Get blob data for *generation*
  3. Return a pair (*ge

[2015-11-13 16:53] Capstan commented on #359
@brandony, do we not yield the actual generation via the JSON API when you ask for a generationless object with alt=media? Boo. We should fix _that_ at least.

[2015-11-13 17:29] aozarov commented on #373
Yes, I think you are right.

I think consequences of this bug are minor and basically turns our chunkSize max to be `chunkSize + 1 ` or in the "worse" case when the given `byteBuffer` is more than `chunkSize` we will be left with one extra byte to be consumed by itself in the next read).

Am I correct? Regardless, good catch and it should be fixed.

I am actually more concern though about google/g

[2015-11-13 17:46] mziccard commented on #373
Yes exactly that was the problem I experienced when doing some tests for #359, a single byte was unexpectedly left to be read.

I am happy to send a PR to fix google/google-api-java-client#937

[2015-11-13 22:03] #358 closed

[2015-11-13 22:03] #373 closed

[2015-11-16 16:27] mziccard commented on #363
Fixed with #366

[2015-11-16 16:27] #363 closed

[2015-11-16 17:27] aozarov commented on #372
Yes, it would. Do you mind to fix that?

Also, currently our javadoc says "@return true if blob was deleted", should we also indicate that `false` means "failed to delete or not found"?

[2015-11-16 17:33] aozarov commented on #31
@ludoch looks like GoogleCloudPlatform/gcloud-java-examples got deleted.

Do you mind to re-create it by [copying](https://help.github.com/articles/importing-a-git-repository-using-the-command-line/) your examples?

[2015-11-16 17:57] mziccard commented on #372
Sure I'll fix this!

[2015-11-17 03:50] aozarov commented on #359
@Capstan I also could not find a way to get both metadata and content in one request (I mean besides using a batch which I think is not going to work due to race condition).

Also, I don't think you can do that with the XML API (or at least I was not able to).

However, with some code change, we can get the etag (in the XML api we can also get X-Goog-Hash).
Do you think using (and comparing) the e

[2015-11-17 14:16] Capstan commented on #359
I know the XML API yields the generation you happen to read in the [x-goog-generation](https://cloud.google.com/storage/docs/reference-headers#xgooggeneration) header on data read responses.

[2015-11-17 15:36] mziccard commented on #359
Sorry @Capstan I am not very familiar with the XML API. It seems to me that it does not support the "*generation-not-match" options in general and that [Object Download](https://cloud.google.com/storage/docs/xml-api/get-object-download) does not support the [x-goog-if-metageneration-match](https://cloud.google.com/storage/docs/reference-headers#xgoogifmetagenerationmatch), can you confirm any of t

[2015-11-17 15:52] Capstan commented on #359
True, it does not support the *generation-not-match options. Object download should support x-goog-if-metageneration-match. If not, that's a bug (certainly a docs bug, possibly a service bug).

[2015-11-17 16:04] Capstan commented on #359
*sigh* Found the internal issue tracking it. :/

You can specify not via preconditions, but via the [generation](https://cloud.google.com/storage/docs/reference-headers#generation) urlparam to specifically get that generation.

[2015-11-17 16:50] aozarov commented on #359
Oh, yes, I see now that x-goog-generation is returned together with the content for XML API.

@Capstan though not a big code change I would rather not use the XML API for read operations if that does not support all the options that the Json API supports.

Do you think that using the object's etag (which is available in the response of the Json API) for checking
that content has not changed betwee

[2015-11-17 17:23] Capstan commented on #359
That should be sufficient. We don't claim that the ETag won't change if the content stays the same, but the content changes, the ETag should change.

[2015-11-17 17:27] aozarov commented on #359
Oh, but we don't want to have false negative as that would trigger an undesired read failure.

How likely is that ("etag changes but content is the same") to happen and what can trigger it?

[2015-11-17 17:30] Capstan commented on #359
If someone re-uploads the exact same object contents, it'll get a new ETag. Our ETag for JSON API is based on generation + metageneration.

[2015-11-17 17:33] aozarov commented on #359
I see. I think it is reasonable if we fail the read in that case and I don't think it is a common use-case.
In that case I am fine with going with the ETag check. @Capstan are you fine with it as well?

[2015-11-17 17:50] Capstan commented on #359
Sure. Other less GCS aware clients are doing the same because that's what the Internet uses. :)

[2015-11-17 18:11] aozarov commented on #359
Ok, great. @mziccard are you fine with it as well?

[2015-11-17 18:12] #335 closed

[2015-11-17 18:13] garrettjonesgoogle opened #381 "Update service address for pubsub"
The service address for pubsub is currently set to pubsub-experimental.googleapis.com, but needs to be updated to pubsub.googleapis.com when pubsub has gRPC support in GA.

[2015-11-17 18:45] garrettjonesgoogle opened #382 "In ServiceApi classes, provide a mechanism to determine if an api method call can be retried on failure"
An api method call should be retryable if it is idempotent, not retryable if not idempotent. We need to figure out the best way to surface this, whether in an exception, the ApiCallable, the ClientCall, some registry, or somewhere else.

[2015-11-17 18:46] garrettjonesgoogle opened #383 "In ServiceApi classes, provide a way to control retry settings."
For existing gcloud services, RetrySettings is used. We probably want to keep advanced settings internal, but set them to different values for individual services, probably controlled by some kind of static service configuration or code gen configuration.

[2015-11-17 18:55] garrettjonesgoogle opened #384 "Implement client-side buffering for publishing messages"
This functionality needs to support these settings:
- max batched messages
- max batched bytes
- max batching delay

[2015-11-17 19:16] garrettjonesgoogle opened #385 "In ServiceApi classes, fix wording of documentation about returning errors vs throwing exceptions."
Currently, the documentation as copied from the proto includes wording like this:

* "Returns NOT_FOUND if the topic does not exist.
* "If the subscription already exists, returns ALREADY_EXISTS."
* "If the corresponding topic doesn't exist, returns NOT_FOUND."
* "The server may return UNAVAILABLE if there are too many concurrent pull requests pending for the given subscription."

These returns ar

[2015-11-17 19:25] garrettjonesgoogle opened #386 "In ServiceApi classes, make clear how to cancel requests"
Specifically, the documentation of SubscriberApi.pull says "The client may cancel the request if it does not wish to wait any longer for the response." This is currently only possible if the api caller uses the ApiCallable, and calls cancel on the ClientCall. The other method forms still make reference to canceling though, even though it's not possible. Possibly the interface needs to be updated s

[2015-11-17 22:16] garrettjonesgoogle opened #387 "SubscriptionApi.createSubscription: avoid reference to deleted topics"
The documentation for the "topic" parameter of the flattened form of createSubscription says "The value of this field will be `_deleted-topic_` if the topic has been deleted." This is not relevant to the createSubscription operation and should be avoided somehow.

[2015-11-17 23:11] garrettjonesgoogle opened #388 "Create a unified way to set service options for both ServiceApi classes and handwritten service wrappers."
- ServiceApi classes currently use ServiceApiSettings
- handwritten service wrappers currently use ServiceOptions

We should create a unified way to configure these.

[2015-11-18 03:52] aozarov commented on #342
0.0.12 which includes adding back the `defaultInstance` methods is out but I think we need to merge #389 before closing this issue.

[2015-11-18 09:26] mziccard commented on #342
#357 and #389 are merged so I am closing this. Feel free to reopen it if need be.

[2015-11-18 09:26] #342 closed

[2015-11-19 00:19] aozarov commented on #106
Yes, I doubt that adding another `XXXRequest` style call is going to help (unless we use subclasses to support the different combination) as I would not want to have runtime validation done by the client (we could actually do that now if we wanted to).

Looks like we both think we can leave it as is, so I am closing it for now.

[2015-11-19 00:19] #106 closed

[2015-11-19 00:22] aozarov commented on #321
I think we all got into agreement and all actions were taken, right?
Can we close it? @mziccard @ajkannan

[2015-11-19 01:21] ajkannan commented on #321
I made the appropriate changes in resource manager.  In `gcloud-java-datastore`, we still use `update` instead of `replace` for entities.  However, an `Entity` is slightly different than a metadata object like `BlobInfo, Policy, and ProjectInfo`; perhaps that distinction should be made clear in the docs somewhere?

[2015-11-19 01:28] ludoch opened #391 "javadoc issue"
I see:
com.​google.​gcloud.​datastore
public class FullEntity<K extends IncompleteKey> extends BaseEntity<K>
A full entity is a BaseEntity that with a complete set of properties.

Not sure what the last sentence means.

[2015-11-19 01:38] aozarov opened #392 "Add more usage examples to gcloud-java-datastore"
We could copy/modify the usage examples from the new `v1beta3` datastore-api-quickstart site (not published yet) and add them to the datastore modules `README.md`

[2015-11-19 01:38] ludoch commented on #392
+1000

[2015-11-19 02:49] aozarov commented on #384
When doing so we should consider that gRPC supports client-side streaming (so gax would need to support it) and that pubsub is planning to add support for it as well for publishing messages.

[2015-11-19 17:01] garrettjonesgoogle opened #394 "In ServiceApi classes, provide a way to control timeouts."

[2015-11-19 17:14] garrettjonesgoogle opened #395 "In ServiceApi classes, add helper methods to extract variables from fully-qualified resource paths"

[2015-11-19 17:45] #290 closed

[2015-11-19 17:45] #359 closed

[2015-11-19 17:47] aozarov commented on #290
While google/google-api-java-client#937 was not fixed yet we no longer use the `MediaHttpDownloader` and therefore this is not an issue for us anymore.

[2015-11-19 17:59] aozarov commented on #46
All blockers were fixed. Though #365 is not a blocker, the GCS team *highly* recommend that we fix it before announcement. @mziccard do you mind to take it? After that I think we can close this issue.

[2015-11-19 18:08] mziccard commented on #46
@aozarov Sure, I'm on it!

[2015-11-19 18:31] garrettjonesgoogle opened #396 "In ServiceApi classes, consider how to expose the underlying gRPC layer for advanced use cases."
We may want to expose the channel and 1 or more gRPC stubs for advanced use cases not met by the generated methods in the wrapper.

[2015-11-19 18:33] garrettjonesgoogle opened #397 "In ServiceApi classes, consider creating a helper class for each resource path to get and set subvariables"

[2015-11-19 22:24] aozarov commented on #396
I wonder, if we decide to do that, if returning the `ServiceApiSettings` wouldn't be preferred.

As a side not (related to the suggestion), I wonder if in `ApiUtils.settingsWithChannels` we should not configure the newly created channel (if setting didn't include channel) with `settings.getCredentials` if it
is not `null`?

Also, if we decide to return the `ServiceApiSettings` reference that was c

[2015-11-19 22:49] garrettjonesgoogle opened #398 "In ServiceApi classes, follow the google style guide for java"
http://google.github.io/styleguide/javaguide.html

Specifically, wrapping is not done correctly. This may require a fair amount of redesign and refactoring in the code generator, or maybe some kind of post-processing step, because the code generator is language-independent.

[2015-11-20 00:55] #391 closed

[2015-11-20 01:20] garrettjonesgoogle opened #400 "Use pubsub fake written by the pubsub team instead of LocalPublisherImpl"
It isn't available in open source quite yet.

[2015-11-20 01:21] aozarov commented on #400
We could use this in the meantime: https://pantheon.corp.google.com/storage/browser/pubsub/tools/

[2015-11-20 16:59] ajkannan opened #402 "Add step-by-step guide+examples for storage"
The guide would be similar in format to #399

[2015-11-20 17:13] #392 closed

[2015-11-20 18:53] aozarov opened #403 "Remove the HttpIntializer dependency from AuthCredentials"
After we resolve #334 We should also change `AuthCredentials` and replace `protected abstract HttpRequestInitializer httpRequestInitializer` with `public abstract Credentials credentials()` returning `com.google.auth.Credentials.Credentials`.

We should also change `ServiceOptions.httpRequestInitializer` to get the credentials from `AuthCredentials` and wrap them inside `HttpCredentialsAdapter`.

[2015-11-20 22:57] #365 closed

[2015-11-23 19:33] aozarov opened #406 "Update the release process to support releases of individual modules"
Having the option to have a separate version (and release) for each module would be very nice.
This would allow a particular service client to get updated independently (though we should probably
also update the gcloud-java "all" module).

/cc @mziccard

[2015-11-23 19:39] aozarov commented on #403
After we are done with this issue I think we can change our version to `0.1` or higher.

[2015-11-23 19:46] #402 closed

[2015-11-23 19:48] aozarov opened #407 "Add support for Datastore Index management."
Once DatastoreAdmin API is available we should support its functionality (mainly index management).

[2015-11-23 19:51] aozarov commented on #46
#365 was fixed. closing this issues, other non blockers can be tracked independently.

[2015-11-23 19:51] #46 closed

[2015-11-23 21:39] aozarov opened #408 "Provide a pointer for composite index creation"
composite index creation is documented [here](https://cloud.google.com/datastore/docs/tools/indexconfig).
It would be a good to add a reference to it in `Query.java` and [here](https://github.com/GoogleCloudPlatform/gcloud-java/tree/master/gcloud-java-datastore#running-a-query).

[2015-11-23 21:41] aozarov opened #409 "Add to LocalGcdHelper an option to dump the generated indexes"
We should explore to option to configure `LocalGcdHelper` to run with a `datastore-indexes.xml` that is configured with `autoGenerate="true"` and then provide an option to save the generated indexes in a desired place.

For more info see [this](https://cloud.google.com/datastore/docs/tools/indexconfig).

[2015-11-24 01:45] aozarov opened #410 "We should retry on read/connection timeout."
The `ExceptionHandler` of datastore and storage should be configured to retry on read/connection timeouts.

[2015-11-24 03:46] #408 closed

[2015-11-24 10:02] mziccard opened #413 "Move some exception translation logic to BaseServiceException"
In `DefaultStorageRpc` (and also other services as `DefaultBigQueryRpc`) we have code handling the translation of `IOException` to service specific exceptions:
[code]
Part of this logic should be moved to `BaseServiceException`

[2015-11-24 15:37] mziccard opened #415 "blobInfo.toBuilder().build() is not equal to blobInfo"
We have this situation:
[code]
This is due to the fact that `toBuilder` uses builder's setters that initialize (some of them) fields to `Data.nullOf()` if `null` is passed. This can be fixed by checking for `null` before calling setters in `toBuilder()`.

[2015-11-24 16:39] aozarov commented on #415
Good catch. How about adding to `BlobInfo.Builder` a constructor that gets `BlobInfo` and copy the fields value directly? We could also add a static builder method that accepts `BlobInfo`...

[2015-11-24 16:46] mziccard commented on #415
Adding a constructor to the builder that takes `BlobInfo` makes sense to me.

[2015-11-24 17:10] aozarov commented on #413
When we do so, we should probably also add a boolean parameter to indicate if the failed operation is idempotent. The retryable property should be true only if operation is idempotent (passed by the caller to translate) and error code (could be derived from a set passed in the constructor or subclasses) is retryable.

An example of a non-idempotent operation could be pubsub publish as messages do

[2015-11-24 21:36] eamonnmcmanus commented on #415
Have you considered using AutoValue here? It seems as if it would simplify BlobInfo greatly. It would also have a much more performant `equals`

[2015-11-25 14:46] mziccard commented on #353
Just to be sure: the crc32/md5 values should be user provided right? I could not find a way of getting the service's ones when downloading object's data.

[2015-11-25 15:38] Capstan commented on #353
We have an internal bug filed to provide it when downloading via headers. You can also get them via object metadata lookups, but that means a second API call if you don't already have the metadata.

[2015-11-25 15:39] Capstan commented on #353
(The XML API already provides these via headers; it'd be a JSON API improvement to add them.)

[2015-11-25 16:10] mziccard commented on #353
@Capstan Yes I [noticed](https://cloud.google.com/storage/docs/reference-headers#xgooghash) that with the XML API we could access them via headers. However we would [lose some other options](https://github.com/GoogleCloudPlatform/gcloud-java/issues/359#issuecomment-157406180).
We also avoided to do "extra" metadata requests elsewhere in gcloud-java and I think we should stick to this practice.

Ho

[2015-11-25 18:04] aozarov commented on #353
@mziccard I think we should wait with this issue until the Json API supports it.
@Capstan is there a way for us to track it?

[2015-11-25 18:20] #334 closed

[2015-11-25 22:01] Capstan commented on #353
@azarov I don't believe we have an external mirror of Google's internal bug tracking database. If you know otherwise, or some linked db, I'm happy to use that.

@mziccard As for user-provided, we're not necessarily expecting users to have kept track of the hashes of their objects in a local datastore (though they well could), so this is less about specifying them as conditions and more about valid

[2015-11-25 22:13] #410 closed

[2015-11-25 23:03] #415 closed

[2015-11-25 23:18] aozarov opened #418 "Consider using AutoValue for immutable value types."
We should evaluate if using `AutoValue` is a good fit for us.

This will help to eliminate boilerplate code (though IDE's today typically help in the initial part and some
even in the maintenance part).

We should consider IDE support/behavior when the referred auto generated class is missing,
flexibility in copying set values (e.g. passed collection to immutable collection), replacing `null` with

[2015-11-25 23:20] aozarov commented on #415
I think using `AutoValue` is a fine idea that we should considered but tracked and dealt with separately.
Created #418

[2015-11-25 23:24] ajkannan opened #419 "Support parent in Project"
When public documentation is ready for ResourceId and a Project's parent, we should add support for parents.

[2015-11-25 23:31] ajkannan commented on #419
To address when this issue is resolved: parent isn't currently returned in a list response, whether or not the field is specified explicitly.

Parent is returned in a `get` request.

[2015-11-26 00:32] ajkannan opened #420 "Run unit tests for non-master branch PRs"
Right now, we only run unit tests for PRs that are on the master branch.  We should run the unit tests.  We can optionally include a coverage report, but since PRs in other branches tend to be "work in progress" it's not as vital.

[2015-11-26 00:33] ajkannan opened #421 "Support page size and page token"
When the Cloud Resource Manager supports paging, we should add in page size and page token as list options.

[2015-11-26 01:00] ajkannan opened #422 "Should we repackage the spi layer?"
Right now all services' spi layers are bundled into one package (`com.google.gcloud.spi`).  While this provides the convenience of separating the spi javadoc from the api javadoc, the one package may not make sense as we add more and more services.

[2015-11-26 07:54] mziccard commented on #422
@ajkannan Could you please add more details on this? Are you suggesting to add one `spi` package per-service?

[2015-11-26 07:57] mziccard commented on #420
+1 to this! I know that you are very busy with resource manager and authentication changes so if you want to offload this just tell me:)

[2015-11-26 08:25] mziccard commented on #353
@Capstan I see your point. Nevertheless having the user to explicitly provide those values was a way to avoid doing an extra *get metadata* under the hood: the user might have already got metadata or can get them himself before downloading the object.

As @aozarov said we should probably wait for the headers to be supported by the JSON API.

[2015-11-27 17:52] ajkannan commented on #420
@mziccard if you have time today go for it.  I would probably get to it on Monday or Tuesday, so no pressure to take it if you're busy.  I haven't started anything yet on this issue.

[2015-11-27 17:55] ajkannan commented on #422
Yes; we could make one spi package per service, and make sure that they get packaged separately from the api layer services

[2015-11-30 18:41] aozarov commented on #193
I think this issue was fixed, right @mziccard ?

[2015-11-30 18:45] aozarov commented on #19
This issue is covered by #85

[2015-11-30 18:45] #19 closed

[2015-11-30 18:46] aozarov commented on #20
This issue is covered by #82

[2015-11-30 18:46] #20 closed

[2015-11-30 18:48] aozarov commented on #23
This issue is covered by #84

[2015-11-30 18:48] #23 closed

[2015-11-30 18:52] mziccard commented on #193
Yes. Closed with #312

[2015-11-30 18:52] #193 closed

[2015-11-30 18:52] #420 closed

[2015-11-30 18:53] aozarov commented on #14
Closing this issue as all associated issues are closed.

[2015-11-30 18:53] #14 closed

[2015-11-30 23:46] aozarov opened #428 "We should add unit-tests for api-client based spi classes"
spi tests that are based on the api-client can provide an `HttpTransportFactory` with a mock `HttpTransport`.

For more info see [this](https://developers.google.com/api-client-library/java/google-http-java-client/unit-testing).

[2015-12-01 00:40] ajkannan opened #429 "Check retryable exceptions"
There are some exceptions (i.e. 403, with reason "rateLimitExceeded") currently unlisted which may be retryable.  We should check best practices with the Cloud Resource Manager team.

[2015-12-01 16:21] mziccard commented on #413
In [DefaultStorageRpc](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-storage/src/main/java/com/google/gcloud/spi/DefaultStorageRpc.java#L117) to say if an exception is retryable we check whether exception's error code is in `RETRYABLE_CODES`, but we also check whether the error message is `"InternalError"`:
[code]
Looking [here](https://cloud.google.com/storage/docs/js

[2015-12-01 16:59] mziccard commented on #406
I did a bit of research on this and it seems to be doable. Basically this relies un bumping only the version of selected projects keeping in mind:
- When any module's version increases the aggregator module's version has to increase
- When any module's version increases all dependent modules versions must increase

We should be able to release only the modules that changed by using maven's `-pl` o

[2015-12-01 21:34] aozarov commented on #413
see "InternalError" associated with a `403`.

[2015-12-01 21:51] mziccard commented on #413
Oops, sorry I missed that. This 'peculiar' behavior of each service makes hard to move all translation logic to ServiceException (e.g. testing if error code is in a set of retryable codes is not enough for storage as we also need to check the message). Checking for "InternalError" message for services as BigQuery would do no harm but I'm not sure moving such code to ServiceException is the best ch

[2015-12-01 22:01] aozarov commented on #413
There are various ways this could be handled. One option is to make an abstract isRetryable method that accepts a `GoogleJsonError`.  most base service specific implementation would just have
[code]
where as `StorageException` would override it as
[code]

If you were thinking to somehow provide the set of error codes (e.g. by overriding a method `retryableErrorCodes`) then you can also make the co

[2015-12-01 23:23] ajkannan opened #431 "Support UserCredentials"
The `google-auth-library-java` library has a type of credentials called `UserCredentials` which we should wrap in `gcloud-java-core`.  However, this requires [this issue](https://github.com/google/google-auth-library-java/issues/52) to be fixed.

[2015-12-02 01:03] #403 closed

[2015-12-02 20:37] garrettjonesgoogle opened #434 "Put PublisherApi/SubscriberApi classes under a java package path which contains the service version"
We need to distinguish the Service Api classes by the major version of the service, in case multiple versions need to co-exist for situations like migrations.

[2015-12-02 22:54] aozarov commented on #81
Google Cloud Big Table for Java is available using the [HBase API](https://cloud.google.com/bigtable/docs/bigtable-and-hbase)

[2015-12-02 22:54] #81 closed

[2015-12-03 15:45] koleshop opened #436 "gcloud-java not compiling with gradle"
I'm using this line in gradle:
**compile 'com.google.gcloud:gcloud-java:jar:0.1.0'**

It's giving compiling error:
**Error:(35, 13) Failed to resolve: com.google.gcloud:gcloud-java:jar**

I've also created a stackoverflow question
http://goo.gl/9nOA4a

[2015-12-03 16:06] mziccard commented on #436
Hi @koleshop thanks for spotting this. Could you give a try to:
[code]

[2015-12-03 16:17] koleshop commented on #436
thanks!
it solved the problem

[2015-12-03 16:21] mziccard commented on #436
Thanks to you for spotting the error. If you ever have any other issue with gcloud-java please let us know, we are glad to receive some feedbak.

PS: I reopened the issue, I'll close this as soon as we fix the error in our [README](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/README.md)

[2015-12-03 17:34] aozarov commented on #338
@jgeewax can we tag [this](http://stackoverflow.com/questions/34070065/google-cloud-java-client-library-not-compiling-through-gradle) with gcloud-java?

[2015-12-03 17:34] #436 closed

[2015-12-04 12:21] jgeewax commented on #338
Done.

[2015-12-04 16:24] aozarov commented on #338
Great, I think we can mark it as [fixed](http://stackoverflow.com/questions/tagged/gcloud-java).

[2015-12-04 16:24] #338 closed

[2015-12-04 20:51] ajkannan commented on #31
Update on this issue: the [example site](https://github.com/GoogleCloudPlatform/gcloud-java-examples/) is back up with a preliminary example thanks to Ludo.  I will be working on expanding it/adding docs/adding links to it form other sites.

[2015-12-05 01:02] ajkannan opened #439 "Figure out the work needed for IAM Policy Manager service"
https://cloud.google.com/iam/docs/managing-policies

Note: the maven artifact for this service is bundled with the Resource Manager artifact ([com.google.api.services.cloudresourcemanager](https://developers.google.com/resources/api-libraries/documentation/cloudresourcemanager/v1beta1/java/latest/)).

[2015-12-05 01:08] ajkannan opened #440 "Cloud Resource Manager error message swap"
403 forbidden (permission denied) is returned instead of 404 not found when a project doesn't exist.  For the time being, we will assume 403 means the project wasn't found.  We should change back our implementation once this is fixed.

Also, 400 bad request is returned when attempting to perform actions on a project that is in an incorrect lifecycle state.  This may make more sense with error code

[2015-12-08 18:12] garrettjonesgoogle commented on #400
here is the LocalPublisherImpl class: https://github.com/GoogleCloudPlatform/gcloud-java/blob/pubsub-alpha/gcloud-java-pubsub/src/main/java/com/google/gcloud/pubsub/spi/testing/LocalPublisherImpl.java

[2015-12-09 20:09] mziccard opened #444 "Tie BigQueryError to BigQueryException"
`BigQueryError`s are returned as part of a job state, as the result of a [query operation](https://cloud.google.com/bigquery/docs/reference/v2/jobs/query) and as a response to [insert all](https://cloud.google.com/bigquery/docs/reference/v2/tabledata/insertAll). In all the above cases a `BigQueryException` is not thrown.

When a request fails the service returns an error in the form:
[code]
So we

[2015-12-10 00:49] aozarov opened #445 "Figure out the work needed for Container Engine admin"
Based on [this](https://cloud.google.com/container-engine/reference/rest/) api.

[2015-12-10 16:45] mziccard opened #447 "Remove StreamingBuffer filed from ExternalTable"
Streaming inserts to an external table is not supported, we should remove the `StreamingBuffer` field.

[2015-12-10 17:55] aozarov commented on #447
And I assume we can move `StreamingBuffer` from `BaseTableInfo` to `TableInfo`?

[2015-12-10 18:10] mziccard commented on #447
@aozarov yep

[2015-12-11 00:57] ajkannan opened #449 "Figure out if using URLFetch if running on AppEngine is necessary"
If we can always use NetHttpTransport, we can remove the logic in `DefaultHttpTransportFactory.create` (in [`ServiceOptions`](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-core/src/main/java/com/google/gcloud/ServiceOptions.java)) to check if we're running on App Engine.

[2015-12-11 01:25] ajkannan opened #450 "Put test apps in a repository with directions on how to run them"
We should establish a repository of apps used to test `gcloud-java` on App Engine, Compute Engine, and the desktop (for service/build/auth-related testing).  We should also have directions on how to run the apps.  We can use gcloud-devel as our shared project.

[2015-12-11 17:50] ajkannan opened #451 "Synchronize LocalResourceManagerHelper"
Right now, the mock works fine if there's only one connection to it.  However, if there are multiple connections, there are potential race conditions in some of the handler methods (such as `delete`).

[2015-12-14 20:56] aozarov commented on #444
:+1:

[2015-12-15 18:53] ajkannan opened #455 "Add integration tests for Datastore v1beta3"

[2015-12-15 19:38] mziccard opened #456 "Add a common interface for resource field enums"
We should consider creating an interface for all field enums (e.g. `DatasetField` in gcloud-java-bigquery and`BlobField` in gcloud-java-storage).
[code]
Selector's creation code (at least part of it) should be moved to a common static method.

[2015-12-15 21:27] aozarov commented on #456
For background see [this](https://github.com/GoogleCloudPlatform/gcloud-java/pull/454#discussion_r47676271).

[2015-12-15 21:39] ajkannan opened #458 "Should we set a default retry strategy?"
Right now, the default setting when creating a service is to not retry at all.  Should we instead set a default retry strategy?  While retrying is important for some services, setting the default to retry may increase the costs for users.

Alternatively, we could have two shortcut methods to get the options, `defaultInstanceNoRetries` and `defaultInstanceWithRetries`

[2015-12-16 00:29] aozarov opened #459 "Figure out the work needed for Google Translate"
For REST api see [here](https://developers.google.com/resources/api-libraries/documentation/translate/v2/java/latest/).

[2015-12-16 00:30] aozarov commented on #458
And if we don't change the default we should highly encourage it in our documentation **and** examples.

[2015-12-16 07:28] mziccard opened #464 "Add support for BigQuery table templates"
Based on the recent [BigQuery update](https://cloud.google.com/bigquery/docs/reference/v2/tabledata/insertAll#templateSuffix) we should add support for table templates.

More in details we should provide support for the `templateSuffix` parameter in [TableData: insertAll](https://cloud.google.com/bigquery/docs/reference/v2/tabledata/insertAll#templateSuffix).

[2015-12-16 07:45] mziccard opened #465 "Add support for BigQuery query plan explanation"
Based on the recent [BigQuery update](http://googlecloudplatform.blogspot.com/2015/12/BigQuery-cost-controls-now-let-you-set-a-daily-maximum-for-query-costs.html) we should add support for query plan explanation. Plan explanation is contained in the [queryPlan field](https://cloud.google.com/bigquery/docs/reference/v2/jobs#statistics.query.queryPlan) inside query job's statistics.

[2015-12-16 11:41] mziccard opened #466 "Create and get dataset/table return the same resource but different etags"
Creating a dataset returns:

[code]

Getting that same dataset immediately after creation returns:

[code]

As you can see the resources are identical but the etag is different.
This behaviour is unexpected to me and might cause troubles when using the etag value in `etagMatch` or `etagNotMatch` options.

[2015-12-16 18:11] aozarov commented on #466
/cc @jtigani

[2015-12-16 19:50] ajkannan commented on #431
Supporting UserCredentials also depends on giving the users a nice way to generate User Credentials JSON files (tracked by [this issue](https://github.com/google/google-auth-library-java/issues/54)).

[2015-12-16 19:56] ajkannan opened #467 "Write Integration Tests for Resource Manager"
Until issue #431 is solved, we'll have to use a JSON file already generated by the Google Cloud SDK, placed in the proper directory.  Once this issue is resolved, we should fix the CI to user a JSON file from any location.

[2015-12-16 19:57] ajkannan commented on #431
Once this issue is resolved, we should add documentation, especially for services like Resource Manager that need User Credentials.

[2015-12-16 21:14] aozarov commented on #413
As part of this change we could simply (and maybe use a common) the service's  EXCEPTION_HANDLER_INTERCEPTOR Interceptor.

[2015-12-16 21:19] mziccard opened #468 "Dataset.delete, Table.delete and Job.cancel ignore the if-non-match header"
It seems to me that the following apis
- [Dataset.delete](https://cloud.google.com/bigquery/docs/reference/v2/datasets/delete)
- [Table.delete](https://cloud.google.com/bigquery/docs/reference/v2/tables/delete)
- [Job.cancel](https://cloud.google.com/bigquery/docs/reference/v2/datasets/delete)

Ignore the HTTP `if-none-match` header (they fail as expected if `if-match` header does not match).

[2015-12-16 21:25] mziccard opened #469 "Add support for etag checks"
BigQuery supports setting the `if-match` and `if-none-match` headers (see [here](https://cloud.google.com/bigquery/docs/data)) to check for etag match or mismatch when requesting some resource.

We should add support for `etagMatch` and `etagNotMatch` options. This support can be provided once the following issues are closed:
- [ ] #340
- [ ] #466
- [ ] #468

[2015-12-16 22:01] mziccard opened #470 "Figure out how to use RetryHelper in insertAll"
Right now `bigquery.insertAll` does not use `RetryHelper`. Retrying a failed `insertAll` operation might insert duplicates into the table unless an ID is associated to each row.

We have 2 options here:
1. Use `RetryHelper` and document that unless row IDs are used, duplicates might be inserted
2. Use `RetryHelper` and when retrying add a [randomUUID()](https://docs.oracle.com/javase/7/docs/api/ja

[2015-12-17 00:17] pongad opened #471 "Delete Google-internal path from documentation"
Some doc comments pulled from protobuf has references to file paths used at Google. These should go away as Logging API matures, and we will regenerate the libraries.

- [x] gcloud-java-logging/src/main/java/com/google/gcloud/logging/spi/v2/ConfigServiceV2Api.java
- [x] gcloud-java-logging/src/main/java/com/google/gcloud/logging/spi/v2/MetricsServiceV2Api.java

[2015-12-17 00:24] pongad opened #472 "Use Logging emulator to test"
We should move to using emulator for testing. Manually written mocks for client libraries testing do not scale.

[2015-12-17 00:37] pongad opened #473 "Wording for updateSink is confusing"
"If the sink doesn't exist, it is created". This means it's possible to "update" a sink that doesn't exist. The user must still provide the sink to the method.

[2015-12-17 00:42] pongad opened #474 "Better doc for extract functions"
"Extracts the log from the given fully-qualified path which represents a logName resource" is confusing. I am open to any suggestions.

[2015-12-17 00:51] pongad opened #475 "writeLogEntries: what happens if no logName is provided?"

[2015-12-17 00:58] pongad opened #476 "Consider writing names in {@code} block"
A way to do this is to reformat everything in form `foobar` to {@code foobar}

[2015-12-17 01:04] pongad opened #477 "Add throws tag if method throws any known exception"

[2015-12-17 01:11] pongad commented on #477
Closing as duplicate of #385 .

[2015-12-17 01:11] #477 closed

[2015-12-17 02:12] ajkannan opened #478 "Make DatastoreException message more informative"
In `DefaultDatastoreRpc.translate(DatastoreException exception)`, we lose helpful error messages because we only throw a DatastoreRpcException based on the associated `Reason`.  For example, in a malformed query request, the user gets an exception with the message "Invalid request".  The original exception thrown and translated by the method mentioned above may include a message such as "must spec

[2015-12-17 02:19] aozarov commented on #478
:+1: Could be handled by #438.

[2015-12-17 05:05] pongad opened #479 "Consider Suppressing "generated from ...proto" if file doesn't exist"
Some proto files have not been made publicly available. We might want to suppress generating "generated from" comment for them to prevent confusion.

[2015-12-17 05:14] pongad opened #480 "Add auto-generated, params, etc to create/extract path methods"
These are generated separately from other methods, but should contain these comments/tags regardless.

[2015-12-17 05:28] pongad opened #481 "Multiple instances of "all X goes through this method""
This is a protodoc issue.
See writeLogEntries for an example.

[2015-12-17 17:41] ajkannan commented on #467
Because the GOOGLE_APPLICATION_CREDENTIALS are set during Travis CI runs with integration tests, the strategy mentioned above won't work.  As a result, this issue is blocked on #431.

[2015-12-17 18:39] garrettjonesgoogle opened #483 "Add support for adding listeners to the service api class for close()"

[2015-12-17 22:44] ajkannan opened #484 "Remove check for "Unnamed" name in ProjectInfo.fromPb()"
Currently, when using `ListProjects`, projects without a name are given the name "Unnamed" when returned by `ListProjects`.  As a result, we explicitly set the name to null if a project's name is "Unnamed" in `ProjectInfo.fromPb` When this is fixed, we can stop this behavior.

[2015-12-17 22:47] ajkannan opened #485 "Refactor BasePageFetcher"
Some page-based cursor services, such as `gcloud-java-storage` and `gcloud-java-resourcemanager`, currently have duplicated code for the `BasePageFetcher`.  We should refactor the `BasePageFetcher` code to be in `gcloud-java-core`.  We can use Generics for the specific Options type O and provide an abstract method to return the PAGE_TOKEN option.

[2015-12-17 23:26] ajkannan opened #486 "Update gcloud-java-examples apps to use defaultInstance().service()"
This would reflect the most up-to-date way to create the service objects.

[2015-12-18 00:57] ajkannan commented on #360
Fixed by #457

[2015-12-18 00:57] #360 closed

[2015-12-18 04:08] aozarov commented on #486
I am not sure I understand this issue. Storage is using specific retry settings and Datastore needs the project id and set a specific namespace.

[2015-12-18 07:56] mziccard commented on #447
Fixed with #482

[2015-12-18 07:56] #447 closed

[2015-12-18 13:23] mziccard opened #489 "Add format parameter to ExtractJobInfo and LoadJobInfo factory methods"
We have several `of` factory methods for `ExtractJobInfo` and `LoadJobInfo`. All take the id of the table involved and one or more GCS URIs. We should probably add a `format` parameter to make them more flexible. Thoughts?

[2015-12-18 16:05] mziccard opened #490 "Adding functional Dataset, Table and Job to bigquery"
We should add functional classes (`Dataset`, `Table` and `Job`) to gcloud-java-bigquery, to make using the library easier. Functional classes should allow something like:
[code]

Comments are welcome:)
/cc @jtigani

[2015-12-18 16:53] aozarov commented on #489
Sure, but we should consider that this is only a syntactic sugar for `builder` that avoids the need for invoking `build()` for *common*  construction patterns.
Therefore I think we need to verify if that is indeed a common construction pattern...

/cc @jtigani

[2015-12-18 17:11] ajkannan commented on #486
Whoops, didn't notice that, closing issue.

[2015-12-18 17:11] #486 closed

[2015-12-18 19:35] ajkannan commented on #440
The 403 vs 404 is intended behavior, and a check for 404 is added in #491, and the 400 vs 412 isn't a pressing or obvious issue, so I'm closing this issue.

[2015-12-18 19:35] #440 closed

[2015-12-19 21:15] susanlinsfu opened #493 "Async non-blocking call to datastore?"
Will there be any support for async non-blocking calls to the datastore?

[2015-12-20 12:32] mziccard commented on #493
Hi @susanlinsfu thanks for your interest.
I think that support for async non-blocking calls will be added once we migrate to gRPC for the transport layer. But I don't have a date to tell you yet. Maybe @jgeewax and @aozarov have more information than I do.

[2015-12-21 17:24] ajkannan commented on #361
Fixed by #487

[2015-12-21 17:24] #361 closed

[2015-12-21 17:39] aozarov commented on #493
Yes, as @mziccard said, we do plan to provide async calls to the Datastore API but
that would be part of the transition to gRPC which will happen early next year (no exact date yet).

[2015-12-21 18:32] #297 closed

[2015-12-21 22:44] ajkannan commented on #450
If these apps live in another repo by themselves, we can trigger Travis CI builds to deploy these apps using the [Travis API](https://docs.travis-ci.com/user/triggering-builds)

[2015-12-22 00:16] ajkannan commented on #429
Closed by #491

[2015-12-22 00:16] #429 closed

[2015-12-22 01:09] #100 closed

[2015-12-22 07:28] mziccard opened #499 "Make methods that return BaseTableInfo or JobInfo generic"
The following method in `BigQuery` should be made generic:
- `BaseTableInfo create(BaseTableInfo table, TableOption... options)`
- `BaseTableInfo update(BaseTableInfo table, TableOption... options)`
- `BaseTableInfo getTable(String datasetId, String tableId, TableOption... options)`
- `BaseTableInfo getTable(TableId tableId, TableOption... options)`
- `JobInfo create(JobInfo job, JobOption... opti

[2015-12-22 18:48] ajkannan commented on #451
Fixed by #497

[2015-12-22 18:48] #451 closed

[2015-12-22 18:56] aozarov commented on #499
Fixed by #500

[2015-12-22 18:56] #499 closed

[2015-12-22 22:57] ajkannan commented on #82
Closed by #503

[2015-12-22 22:57] #82 closed

[2015-12-22 23:25] ajkannan opened #504 "Speed up ResourceManager tests on Travis"
Tests that use the mock resource manager helper take a relatively long time to complete on Travis.  `LocalResourceManagerHelperTest` takes ~100 seconds and `ResourceManagerImplTest` takes ~45 seconds.  When running locally, these tests only tend to take 3-5 seconds.  This is likely because the `HttpServer` library used for the mock spins up threads and also uses sockets, and Travis probably handle

[2015-12-22 23:57] mziccard commented on #504
Not sure if this is a pattern but the two tests seem to take much less in oraclejdk8 builds:
- `LocalResourceManagerHelperTest` ~ 5 sec
- `ResourceManagerImplTest ` ~ 3 sec

[2015-12-23 00:18] ajkannan commented on #504
Interesting, the faster test runs in version 8 build seem to be a trend.  Perhaps related, `ConcurrentHashMap` (used by the mock) seems to have radically changed in implementation between version 7 and 8.  There must be a lot of lock contention if this is indeed the cause.

[2015-12-23 03:59] aozarov commented on #504
see [this](http://stackoverflow.com/questions/15235075/1s-delay-in-httpserver-since-java-7).

A suggested workaround to add  `exchange.getResponseHeaders().add("Connection", "close");`
just before `exchange.sendResponseHeaders` (line 189) seems to make it much faster.

[2015-12-23 04:01] aozarov opened #505 "create a new release to include resource manager and bigquery"
This should also fix the broken javadoc links for the two.

[2015-12-28 16:05] mziccard commented on #505
Closed with 7a7f698, released [version 0.1.1](https://github.com/GoogleCloudPlatform/gcloud-java/releases/tag/v0.1.1).

[2015-12-28 16:05] #505 closed

[2015-12-28 16:10] mziccard commented on #310
I consider this closed, if anyone feels like this needs further discussion feel free to reopen.

[2015-12-28 16:10] #310 closed

[2015-12-28 17:30] #504 closed

[2015-12-28 18:03] ajkannan opened #511 "Include package info example for BigQuery"
BigQuery is missing a package info example.

The PR that adds this could also fix the weird spacing on the package info examples in general (i.e. at the bottom of the [storage javadoc](http://googlecloudplatform.github.io/gcloud-java/0.1.1/apidocs/com/google/gcloud/storage/package-summary.html)).

[2015-12-28 18:16] mziccard commented on #511
By "weird spacing" you mean the fact that the first line in the snippet seems to be less indented than the other ones? I already struggled a bit to fix that but couldn't come up with a solution that used just one `@code`.

[2015-12-28 18:27] ajkannan commented on #511
I think if we add a space after the `<pre>` in the package info lines that say `<pre>{@code`, we can get the one-character indent that matches the other lines.

[2015-12-29 14:26] mziccard commented on #511
It seems to me that the space after `<pre>` still does not make the indentation match but it's much better!

[2015-12-29 17:12] #511 closed

[2015-12-29 21:21] #464 closed

[2015-12-30 01:06] ajkannan opened #515 "testInsertAllWithSuffix is failing"
The BigQuery integration test for `insertAllWithSuffix` gives the following error in Travis CI:
[code]

[2015-12-30 04:29] aozarov commented on #515
Looks like this is a flaky test.
I managed to get it pass and fail (using different account and on my desktop).

@jtigani Is there an expected delay between the automatic creation of suffixed table and to be able to get information about it?

[2015-12-30 09:21] mziccard commented on #515
Mmmm this is unpleasant. Sorry for pushing it, I did not experience the error locally, I run the test 10 times now and it failed eventually. Should we remove the integration test while we clarify this?

[2015-12-30 19:25] aozarov commented on #515
Did you manage to understand why it failed? Did it fail due to some delay or a failure to insert?
Yes, we should make the test pass (by adding a delay or a retry if helps and if not then disable it for now.)

[2015-12-30 21:05] mziccard commented on #515
I checked and it seems that eventually the table is created. My guess is that this happen with some delay. I could not find any reference to this delay in the docs. I will put the failing code inside a loop+delay and that should do it until we figure out what is going on.

[2015-12-30 23:43] #103 closed

[2016-01-04 14:56] mziccard opened #519 "Remove period (".") from @return, @throws and @param javadoc"
We should take care of removing (and avoid it in the future) the period (".") at the end of `@return`, `@throws` and `@param` paragraphs.

[2016-01-04 17:53] aozarov commented on #156
After this change we should consider setting the version to `1.0.0`

[2016-01-04 19:06] mziccard commented on #515
/cc @jcondit

[2016-01-04 20:40] jcondit commented on #515
Will summon the appropriate experts...

[2016-01-04 21:03] seanchen-google commented on #515
In general table creation should happen O(seconds) after the first insert, but occasionally transient errors will result in O(minutes) delay.

If you're consistently seeing more than a few seconds of delay, then there's likely a bug somewhere. Do you have any statistics on what you're seeing?

[2016-01-04 22:01] mziccard commented on #515
Thanks @jcondit and @seanchen-google for your replies. Just to make sure the scenario is clear, what we do in our test is basically:
[code]
once this request completes we do
[code]
The first POST succeeds and the response contains no `insertErrors`. The following GET happens to return 404 sometimes:
[code]
Checking with the web console I see that after a while the table is created and contains the

[2016-01-04 22:18] seanchen-google commented on #515
It's somewhat loosely documented as part of the "Data Availability" section:

"Streamed data is available for real-time analysis within a few seconds of the first streaming insertion into a table."

Admittedly, that section may not be easily connected to the implications on template tables...

The primary reason we can't get more specific/tight w.r.t. latencies is that we don't perform creation op

[2016-01-04 23:59] aozarov commented on #515
@seanchen-google Thank you for your response.

I think that tying this behavior to the "Data Availability" section is less than "loosely documented" as here we are talking about metadata that is not available and not data.

I understand that this is expected and we can probably close this issue after #521 was merged, however I do think this needs to be described in the documentation associated wit

[2016-01-05 00:49] seanchen-google commented on #515
Fair enough. I've created an internal bug to update the template tables documentation to indicate the potential for delay between insert and table creation.

[2016-01-05 18:10] #515 closed

[2016-01-05 18:29] #490 closed

[2016-01-06 09:24] mziccard opened #525 "Missing configuration for dryRun jobs causes NPE"
A query job created with `dryRun = true` has no `configuration` field. The following is the response I get from [Jobs: insert](https://cloud.google.com/bigquery/docs/reference/v2/jobs/insert).

[code]

While if I create the same job with `dryRun = false` the configuration is present instead:

[code]

While this does not affect the functionality itself I was wondering whether configuration should b

[2016-01-06 18:09] jcondit commented on #525
Yeah, looks like a bug on our end. Thanks for the report!

[2016-01-06 19:14] #489 closed

[2016-01-07 00:07] #465 closed

[2016-01-07 01:01] aozarov opened #530 "Should we merge the functional object with the metadata objects."
Current when possible we use the following pattern for google cloud resource:

XXX resource metadata - An immutable (using the standard builder pattern) and serializable class named XXXInfo with only data accessors.

XXX resource - An immutable, no serializable class pinned to a specific metadata and service implementation.

As both classes are immutable and as service can always be re-created via

[2016-01-07 01:44] #519 closed

[2016-01-07 01:54] ajkannan opened #531 "Provide builder for ProjectListOption.filter()"
Then the user doesn't have to enter large strings that combine multiple filters themselves.

[2016-01-07 02:10] ajkannan commented on #530
I vote for unifying them, because then users would be less likely to get confused over the difference between an xxx and an xxxInfo.

[2016-01-07 15:58] mziccard commented on #530
If we go this way, do we expect the user to always provide a service instance? E.g.:
[code]
This makes:
[code]
A bit redundant don't you think?

I don't think that having `XXX` and `XXXInfo` represents a problem from the usability standpoint but it would be better to have some feedback from the users.

[2016-01-07 17:09] #444 closed

[2016-01-07 17:30] aozarov commented on #530
I don't think the first one should actually send a request to create the blob (hence, calling `blob.exists()` on it should return `false` if did not already exists).
The same way `Blob blob = new Blob(storage, blobInfo)` does not create it.

However, it may be nice to add to `Blob` an explicit `create` method (similar
to the other syntactic sugar method that we have in `Blob`).

I also think that

[2016-01-07 23:16] aozarov opened #532 "Should we use "get" instead of "load" in the functional classes."
This seems to be more consistent with the service API.

[2016-01-08 00:01] aozarov commented on #532
/cc @mziccard @ajkannan @mderka

[2016-01-08 00:03] ajkannan commented on #532
I don't see any problem with using `get` instead of `load`; I'm for switching the name to `get`

[2016-01-08 01:10] mfschwartz commented on #530
My thoughts:
  - There's value in having a separate class for the metadata, because some GCS operations just examine/manipulate metadata without touching the data
  - I don't get the point of shortening "Metadata" to "Info". Sure, it's fewer chars to type but (a) then users need to map (in their minds) between those names and the names we describe in the GCS documentation, and (b) many users devel

[2016-01-08 01:31] aozarov commented on #530
Thanks for your thoughts @mfschwartz.

Even now the functional `Blob` does not hold the content. It has a reference to the info and provides
methods to operate on the (specific) blob, including getting its [content](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-storage/src/main/java/com/google/gcloud/storage/Blob.java#L222).

[2016-01-08 03:22] mfschwartz commented on #530
Let me make the point about shortening "Metadata" to "Info" a bit more forcefully:

I think it makes sense for a library such as this to create new abstractions that make life easier for clients.
In contrast, I think it's a bad idea to use a different name for existing concepts just because you like shorter names or otherwise have a personal preference for the new name, because that negatively imp

[2016-01-08 03:25] #485 closed

[2016-01-08 04:06] aozarov commented on #530
I don't think we picked "Info" just because it is shorter than "Metadata".
In addition to being shorter (which is a plus in my mind) we favored it because:

* There is already "metadata" in the metadata/info for "User-provided metadata".
* For blob this is indeed and strictly metadata but that may not be the case for Bucket
and for sure not the case in other services where that object (e.g. Projec

[2016-01-08 06:25] mziccard commented on #532
Renaming `load` to `get` sounds good to me!

[2016-01-08 16:46] #532 closed

[2016-01-08 17:24] ajkannan opened #537 "Link to SparkJava example from README and website"
https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/managedvms/sparkjava

[2016-01-11 16:56] aozarov commented on #478
We could also set root cause to the original exception (should be useful even after #438).

[2016-01-11 17:06] aozarov commented on #449
I think it should be safe to remove it.

[2016-01-11 17:08] aozarov commented on #458
Considering what we see in integration tests and the added value of retry handling my vote would
be to use the default in the default settings **and** document that we are using a retry handling which could be disable by setting `RetryParams.noRetries()`.

@mziccard what do you think?

[2016-01-11 17:16] mziccard commented on #458
Yes I agree we should retry by default given the amount of requests we see fail in ITs

[2016-01-11 17:40] ajkannan commented on #537
Fixed by #538

[2016-01-11 17:40] #537 closed

[2016-01-11 18:18] pcostell opened #541 "Create snippets for Cloud Datastore page"
The Datastore docs page has a whole new set of snippets for the "getting started" guide and for the concepts snippets.

Can we implement all the necessary snippets (~50) in the [docs github](https://github.com/GoogleCloudPlatform/java-docs-samples)?

Whoever plans on owning this can ping me via email and I can give you all the necessary instructions / access to the staging docs.

[2016-01-11 18:40] ajkannan commented on #541
If I'm understanding correctly, it seems like the Datastore Getting Started guide snippets won't use the gcloud-java API, but rather the Datastore API.  For that reason should this be an issue in the docs github you linked instead of this repo?

Perhaps related, perhaps unrelated: gcloud-java has a couple [snippets](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-datasto

[2016-01-11 18:56] pcostell commented on #541
I think it may make sense to have both libraries listed on Datastore's docs page.

[2016-01-11 21:50] ajkannan commented on #541
A few follow up questions:

1) Are these snippets already written, and you just need them compiled into a program(s) that can easily be downloaded and run by users?  Are the generated api client snippets the main priority, or is it an equal priority to also get some executable code that uses gcloud-java-datastore?

2) If we're also writing these snippets using gcloud-java, we probably want to make

[2016-01-11 22:28] pcostell commented on #541
1). The snippets are already written for some of the libraries. Importantly, they each have specific requirements so that the docs can talk about them in a library-agnostic way.

2). I believe this is the right place. We've put gcloud-node snippets in the node-docs-samples repo.

[2016-01-11 23:16] ajkannan commented on #458
Great, I'll assign this issue to myself then.

[2016-01-12 00:02] #478 closed

[2016-01-12 23:53] #458 closed

[2016-01-13 14:29] clardeur opened #548 "Lazy loading of entities when running a query"
I just want to scroll all entities of a specific kind in a lazy way. I have tried to add a limit but as intended I have only the number of specified results and not the entire dataset.

[code]

How to do it ? Did you plan to add a `fetchSize()` parameter ?

Without `limit()` I have a DatastoreException: Server returned an error INTERNAL 500

[2016-01-13 18:46] garrettjonesgoogle commented on #395
This was taken care of in https://github.com/GoogleCloudPlatform/gcloud-java/commit/add0cc33ec52e228f98ca4a0a1d29ffa3fa5f866 .

[2016-01-13 18:46] #395 closed

[2016-01-13 19:05] ajkannan commented on #548
Hi @clardeur, thanks for reporting this issue.  Query results are already sent in batches, but it looks like the amount of data per batch is still causing you errors.  `gcloud-java` doesn't have control over the batch size; that's decided by Google Cloud Datastore.  Instead, `gcloud-java` could return you a cursor.  The reason `QueryResults.cursorAfter()` isn't already exposed is that it isn't sup

[2016-01-13 22:29] ajkannan commented on #548
This behavior stems from a Google Cloud Datastore issue, which can be tracked [here](https://github.com/GoogleCloudPlatform/google-cloud-datastore/issues/85).

I've edited my comment above to mention that instead of introducing a new cursor, we will set `cursorAfter` to work around this issue.  Note that `cursorAfter` will be null until all the entities from the current `QueryResults` have been co

[2016-01-14 02:08] ajkannan opened #550 "Add unit tests for Query classes"
For example, the builders for `StructuredQuery` don't seem to be tested.

[2016-01-14 09:55] clardeur commented on #548
@ajkannan Thanks for your quick reply and the workaround.

I understand that the batch size is a restriction from Google Cloud Datastore and you don't have the control on it but I think that as an end-user of the `gcloud-java` client, I don't want to add some boilerplate code to iterate over queries, even if it should be possible for keeping a fine-grained control.

What do you think about it ? Co

[2016-01-14 10:46] mziccard commented on #548
@clardeur Thanks for the reply. I think you are right, what we do elsewhere in `gcloud-java` is to also provide an `iterateAll` method that returns an iterator over the whole query result avoiding you to explicitly deal with multiple requests. That way you should be able to do something like:
[code]
How do you see this?
@ajkannan do you think this could be feasible?

[2016-01-14 10:52] clardeur commented on #548
@mziccard the `iterateAll()` is what I need, like this I could build a Java 8 `Stream` on it. :+1:

[2016-01-14 19:25] mderka commented on #530
I am inclined towards unifying them. I agree with @ajkannan that there might be some level of confusion about the differences between the xxxInfo object and xxx itself. I feel that the unified design would be cleaner.

[2016-01-14 23:04] aozarov commented on #548
@clardeur thank you for your input.

@mziccard, I think this case is different from the other `gcloud-java` `list` operations we have so far. Here are some differences:

1) `limit` != `fetchSize` - though they sound and feel similar (and indeed one could achieve the other's goal) they are not *exactly* the same. `limit` is an SQL construct that suggests no more results after that limit are necessa

[2016-01-15 08:00] mziccard opened #552 "Move LoadConfiguration.projectionFields to a FormatOptions subclass"
`LoadConfiguration.projectionFields()` should be moved to a dedicated `DatastoreBackupOptions` class (subclass of `FormatOptions`).

[2016-01-15 12:17] simon-temple opened #553 "storage in 0.1.1: com.google.gcloud.storage.StorageException: Read timed out"
I started getting Read time outs so I looked for a way to increase them via StorageOptions.

According to this: https://github.com/GoogleCloudPlatform/gcloud-java/pull/234/files#r41651397 I see you added readTimeout and ConnectionTimeout methods but I don't think they have not made it into the released 0.1.1

How can I extend readTimeout on the storage API?

[2016-01-15 12:41] simon-temple commented on #553
My bad!  Bad POM file caused me to look at the wrong release.

[2016-01-15 12:41] #553 closed

[2016-01-15 16:56] ajkannan commented on #541
@lesv Should these snippets go in java-docs-samples under a new folders?  There'll be one set of snippets that uses the api client directly (proposed location: java-docs-samples/datastore/api-client) and one set of snippets that uses gcloud-java (proposed location: java-docs-samples/datastore/gcloud-java).

Should that be the directory hierarcy for samples for other services as well?  For example,

[2016-01-15 17:49] lesv commented on #541
We have Java Veneer samples in getting-started-java, gcloud-java/examples, and java-docs-samples.

Typically snippets go in java-docs-samples -- creating a Datastore folder at the top level is probably the best way to go.

[2016-01-15 22:09] aozarov commented on #548
Laving it open at least until the underlying issue is fixed.

[2016-01-20 20:31] aozarov opened #560 "rename Storage apply method (for sending a batch) to submit"
This will make it consistent with Datastore and seems to be the preferred verb.
Same is planned to be done for DNS.

[2016-01-21 10:57] mziccard opened #564 "BaseTableInfo subclasses are missing equals and hashCode methods"
`hashCode` and `equals` methods must be overridden in `TableInfo`, `ViewInfo` and `ExternalTableInfo`.

[2016-01-21 17:14] #564 closed

[2016-01-21 17:24] #560 closed

[2016-01-21 19:13] mziccard opened #566 "Add of() method to Acl for both BigQuery and Storage"
We should use a static factory method `of()` also to create `Acl` in both gcloud-java-storage and gcloud-java-bigquery (now we use a public constructor).

[2016-01-22 16:50] #566 closed

[2016-01-25 15:11] clardeur commented on #548
I have tried the workaround and I get an error with the cursor.

[code]

[2016-01-25 16:51] aozarov commented on #548
Thanks clardeur@

Yes, it seems that in this case the content of the cursor bytes is not a valid UTF-8.
We will remove this restriction and work with the Datastore team to make sure we could
still create a url-safe string value for it.

[2016-01-25 18:36] clardeur commented on #548
@aozarov ok I hope that this problem will be solved soon by the Datastore team or with this workaround because since the migration to the gcloud-java library this is a blocking point for us.

Thanks for your envolvement.

[2016-01-25 22:03] mderka opened #579 "Rename ManagedZone to Zone"
As per suggestion by @jgeewax , we should rename ManagedZone to just Zone. The same thing holds for the metadata object ManageZoneInfo to ZoneInfo. This concern documentation too.

[2016-01-25 22:13] ajkannan commented on #548
Hi @clardeur, we added a fix for the issue (#578).  Do you need us to a new release version on Maven for this change?

[2016-01-25 22:52] ajkannan opened #580 "Move integration tests to different packages"
While keeping unit tests in the same package as code is useful (so that we can test package scope code), this is less important for integration tests.  Moving integration tests to a separate package would provide some benefits, such as allowing us to catch issues related to member variable access.

[2016-01-25 23:16] mderka opened #581 "Change TTL to accept unit"
As per suggestion of @jgeewax, change ttl in DnsRecord to accept duration as a number and TimeUnit. For an example, see e.g. here:

https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-storage/src/main/java/com/google/gcloud/storage/Storage.java#L1475

[2016-01-26 08:41] clardeur commented on #548
@ajkannan yes if it works, thanks.

[2016-01-26 11:16] jgeewax commented on #581
Cool - thanks for looking at this.

I was thinking this might make more sense as taking a number (ie, `123` meaning "123 seconds") as well as a Duration (ie, `Duration.ofSeconds(123)` being "123 seconds").

Does that make sense? @aozarov , @mziccard, thoughts ?

[2016-01-26 11:18] jgeewax commented on #580
The example brings up a fair point -- tough to argue with that. Is this at all standard is other libraries like ours ?

[2016-01-26 14:02] mziccard commented on #581
If I am not mistaken [Duration.ofSeconds](https://docs.oracle.com/javase/8/docs/api/java/time/Duration.html#ofSeconds-long-) is part of Java 8 and now we are sticking to java 7.

As soon as we move to java 8 we should support `Duration` and all of java8's time support.

[2016-01-26 14:16] mziccard commented on #580
I have seen other projects (hibernate?) putting integration tests in a different module and package with respect to the code they test, so this is a good suggestion IMO.

[2016-01-26 18:55] ajkannan commented on #548
Sure thing, I will make a release today.  Before I do this I want to resolve one more issue related to Datastore queries (#585).  Thanks for your patience!

[2016-01-27 09:20] ajkannan commented on #548
Update: version 0.1.3 is now pushed and includes a fix for the `IllegalArgumentException` issue.

[2016-01-27 10:56] clardeur commented on #548
@ajkannan tested and LGTM ;)

You can closed it if you want.

[2016-01-28 23:05] #579 closed

[2016-01-28 23:07] mderka commented on #581
So, for now we have the <code>TimeUnit</code> solution. <code>Duration.ofSeconds</code> should be implemented when moving to Java 8.

[2016-01-29 00:03] mderka opened #593 "Add translation and retry functionality to DnsException"

[2016-01-29 00:09] mderka opened #594 "Add methods to DnsServiceRpc"

[2016-01-29 00:32] aozarov commented on #581
Right, I think #592 is the best we can do for now.

We already have an open issue for changing our API on Java 8 (#108) and we can use that issue as
a laundry list of things that we should change (including this one). In that case, I think we can close
this issue.. @jgeewax ?

[2016-01-29 00:37] mderka opened #595 "Complete implementation of DnsServiceOptions"
As of now, the class is only a stub with the necessary declarations.

[2016-01-29 00:43] mderka opened #596 "Add methods to DnsService interface"
Complete implementation when the options PR is approved.

[2016-01-29 18:01] mderka opened #599 "Make Project.Quota serializable"

[2016-01-29 22:32] ajkannan commented on #450
Closing this issue since the test apps [have been added](https://github.com/GoogleCloudPlatform/gcloud-java-examples).

[2016-01-29 22:32] #450 closed

[2016-01-29 23:14] ajkannan commented on #31
Closing this issue.  gcloud-java samples should go in [java-docs-samples](https://github.com/GoogleCloudPlatform/java-docs-samples), and we have a link to a sample app from our website.  We will add more sample apps as they get created.

[2016-01-29 23:14] #31 closed

[2016-01-30 00:06] mderka opened #602 "Clarify name filters for listing"
In Dns interface, we should provide options for listing zone with a specified domain name only. However, this must be unique within project, so this operation would just become get. Similarly, when listing DNS records, one can specify type which has to be accompanied by a fully qualified domain name, and it turns into get. A question was sent to the service owners. These options should be either i

[2016-01-30 00:10] ajkannan opened #603 "Make storage functional objects a subclass of the metadata objects"

[2016-01-30 01:52] mderka commented on #595
This should now be implemented up to returning new instances of so far missing `DefaultDnsRpc` and `DnsImpl`.

[2016-02-01 22:24] mderka opened #604 "Add sorting options for listing changes when available"
Currently, the service API allows for only one sorting key which is the change sequence (time of the changes being received by the server). When more sorting options become available, they should be implement.

[2016-02-02 00:33] mderka opened #605 "Merge Zone and ZoneInfo"
Similarly to what was done ProjectManager, we will merge the functional and info objects here.

[2016-02-02 17:37] ajkannan opened #607 "Test snippet code"
It would be nice to link the snippets in the READMEs to code that we can test in Travis. That way we'd know our snippets are up to date after changes. As @mziccard points out, it's not easy to do because the snippets that we have now are simple end-to-end usage showcases (e.g. update a blob if it exists or create it if not). On the other hand our examples are more complex and command-line oriented

[2016-02-02 18:41] aozarov opened #608 "Provide a way to create AuthCredentials given an AccessToken"
`GoogleCredentials` supports creating an instance using a temporary [`AccessToken`](https://github.com/google/google-auth-library-java/blob/281d485e679545ed06f46e6090fc5d47f4a140e8/oauth2_http/java/com/google/auth/oauth2/AccessToken.java).

It would be nice to support it.

We could do that by getting the token string and expiration time and adding ourselves as `AuthCredentials.CredentialsChangedLi

[2016-02-02 19:25] mderka opened #610 "Should we overload methods for manipulating managed zone for both id and name?"
The service API allows for identifying managed zones by both unsigned long id and String name. Our original intention was to overload methods for manipulating managed zones to accept both BigInteger id or String name. We are currently leaning towards not doing this, treating id as read-only value and identifying zones by name only for the purposes of manipulation (get, delete, apply change, list c

[2016-02-02 19:26] ajkannan opened #611 "Update api client library for Resource Manager"
We should use the [new revision](http://search.maven.org/#artifactdetails%7Ccom.google.apis%7Cgoogle-api-services-cloudresourcemanager%7Cv1beta1-rev10-1.21.0%7Cjar) of the api client library for Resource Manager.

[2016-02-02 19:49] aozarov commented on #610
+1 for not overloading. My reasons are mentioned [here](https://github.com/GoogleCloudPlatform/gcloud-java/pull/606#discussion_r51618080).

Also, +1 for changing the ID from `BigInteger` to `String` (which is more consistent with other services
that has both internal/read-only id and external id, such as project in resource-manager and bucket in storage).

[2016-02-03 00:05] mderka opened #612 "Include getProjectNumber and getProjectId in Service"
They should be available in ServiceOptions.

[2016-02-03 00:25] mderka opened #613 "Add Page implementation for testing"
Add Page a simple `PageImpl` under https://github.com/GoogleCloudPlatform/gcloud-java/tree/master/gcloud-java-core/src/main/java/com/google/gcloud/testing that gets one or more list of values.

[2016-02-03 01:20] aozarov commented on #610
Also, as part of this change (making dns id read-only) we should mandate that when ZoneInfo is constructed name would never be null. I think this makes sense and would work well with the Zone changes.

[2016-02-03 01:36] #596 closed

[2016-02-03 16:45] mderka opened #615 "Should we move Tuple<X, Y> from Rpc interfaces to common level?"
Whenever we need to retrieve data in pages, the Rpc interface contains a nested class `Tupe<X,Y>` which is afaik used to associate a page token with page iterable data. It is repeated code which I found in `BigQueryRpc`, `ProjectManagerRpc`, and I am now creating another copy in `DnsRpc`. We should consider moving it to the core.

[2016-02-03 16:45] mderka commented on #615
Perhaps could be done together with #613.

[2016-02-03 16:54] jgeewax commented on #581
If it's covered by #108, then sure.

[2016-02-03 16:59] ajkannan commented on #615
It was mentioned in the discussion of #315, but we decided against adding it because we didn't want to expose a Tuple class.

[2016-02-03 17:09] mziccard commented on #615
I am still for not exposing it.

[2016-02-03 17:25] mderka commented on #615
Ok, got it. Then we can close this.

[2016-02-03 17:25] #615 closed

[2016-02-03 18:20] #581 closed

[2016-02-03 18:49] mderka opened #617 "Create integration tests"
This will be calling DefaultDnsRpc methods.

[2016-02-03 22:59] mderka commented on #617
We are also planning to create a local mock service which can and will be used to test DefaultDnsRpc.

[2016-02-04 15:16] mziccard opened #618 "Remove examples if-then-else pattern"
In bigquery example we have the following patttern:
[code]
in storage we have:
[code]
In both cases we should remove the `else` branch and rather execute it after table/blob creation.

Also in datastore we do:
[code]
@ajkannan @aozarov @mderka Do you guys think we should remove the `else` branch also for datastore's example? It makes slightly less sense to me.

[2016-02-04 16:34] ajkannan commented on #618
I agree that the datastore "else" makes a more sense because users typically won't create an entity and right away modify it.

[2016-02-04 17:07] mderka commented on #610
While doing this, add options for zone create method.

[2016-02-04 17:09] mderka opened #619 "Rename getProjectInfo() to getProject()"
Rename getProjectInfo() to getProject() in Dns service class and the entire stack.

[2016-02-04 17:33] aozarov commented on #618
My first reaction was that we should not change the datastore example as it is different from the big query example in that the create (the `then` part of the if~else) also populate the content.

However, this is also true for storage as both parts of the if~else also set the content.
Indeed, the datastore example makes more sense to me as the "else" part
is showing a way to update an entity that

[2016-02-04 17:41] ajkannan commented on #618
I agree with the idea to split "create" and "update" actions in the snippets for storage, datastore, and resource manager.

This is probably slightly more convenient for users as well.  If they run a snippet with create/update combined and creation works, but adding/updating data errors, a user can't simply run the same snippet over again.  They'll have to modify their code because they can't crea

[2016-02-04 18:03] mderka commented on #618
I agree with both @ajkannan and @aozarov, i.e., splitting storage and data store into snippets, and modifying big query to create-if-needed-and-load meaning. All of them make sense. Same for resource manager---short snippets would be my preferred way.

[2016-02-04 22:24] #599 closed

[2016-02-04 22:25] #594 closed

[2016-02-05 10:51] mziccard commented on #618
I agree that we should split create and update, even though I wouldn't expect users to simply copy-paste snippets but rather use them to write their own first simple program.

I will take care of fixing the snippet situation as soon as #614 is merged in. I'll also try to fix #607.

[2016-02-05 17:01] #610 closed

[2016-02-05 18:44] ajkannan commented on #530
Closing this since the functional objects have been made subclasses of the metadata objects in all relevant modules (BigQuery, Resource Manager, and Storage).

[2016-02-05 18:44] #530 closed

[2016-02-05 18:45] ajkannan commented on #603
Closed by #614

[2016-02-05 18:45] #603 closed

[2016-02-05 21:57] ajkannan opened #623 "Add tests for README code in google-cloud-examples/"
It would be nice to test that the commands we run in gcloud-java/gcloud-java-examples/README work.  We could do this by creating a script that runs each command and parses the output looking for errors.

[2016-02-05 23:08] ajkannan opened #624 "ITBigQueryTest failing due to missing query plan for query job statistics"
The BigQuery service response for query jobs is missing the query plan field under job statistics.  `testQueryJob()` and `testQuery()` fail because they contain asserts that the query plan for queries is not null.

For now we will disable the tests that are failing.  This issue should be kept open until the tests are re-enabled.

[2016-02-05 23:51] aozarov opened #626 "Adding checkstyle and other code analysis tools to our PR."
I think that it would be nice if we have more metrics on PR (including threshold that would flag the PR as red if exceeded). Checkstyle is one of these metrics.

I was looking at the checkstyle github [page](https://github.com/checkstyle/checkstyle), just to see
if they checkstyle their own code for PR and I think they do, but I didn't invest more time on it.

I also saw that they integrate with s

[2016-02-06 00:41] ajkannan opened #628 "Should we standardize builder vs toBuilder in Datastore?"
This is a minor issue, but Datastore uses a static "builder" in cases that we would have a non-static "toBuilder" method in other modules.  For example, in Datastore's `Key`, there's [`public static Builder builder(Key copyFrom)`](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-datastore/src/main/java/com/google/gcloud/datastore/Key.java#L185).

Do we care about standard

[2016-02-06 01:05] eamonnmcmanus commented on #628
There's a distinction between a static method that returns a Builder, conventionally called `builder()`, and an instance method that returns a Builder initialized with the values from the current instance, conventionally called `toBuilder()`. That's the convention Guava follows, at least. The method you refer to should indeed be called `builder()`. Do other classes not follow this convention?

[2016-02-06 01:12] ajkannan commented on #628
The classes do indeed follow the static builder/instance `toBuilder` convention.  I think I was unclear in my original post.  I was suggesting that we replace the static builder that takes a (for example) Key object and copies the values with an instance method `toBuilder` that doesn't require that parameter.

@aozarov tells me that he may have tried this a while back but ran into problems, perhap

[2016-02-06 02:13] ajkannan commented on #628
Indeed, because the Builder of Key doesn't extend the Builder of IncompleteKey, both IncompleteKey and Key can't have a toBuilder() method (and the same goes for Entities).  Making the Builder of Key extend the Builder of IncompleteKey is painful and not worth the effort for the gain.  I'll close this issue.

[2016-02-06 02:13] #628 closed

[2016-02-08 18:32] mderka opened #630 "Remove acessors to nameServerSet when creating a managed zone"
Most users do not need this.

[2016-02-08 19:28] mderka opened #631 "Implement serialization test"
Include Zone and ZoneInfo.

[2016-02-09 01:29] #595 closed

[2016-02-09 16:00] mziccard commented on #626
I run codacy on our `gcloud-java`, you should be able to see the report [here](https://www.codacy.com/app/mziccard/gcloud-java/dashboard) so we can decide whether we find it useful.

[2016-02-09 16:26] ajkannan commented on #626
My first impression is that the UI is nice and some of the suggestions are helpful, but I do think there's a lot of irrelevant errors to sift through in order to get the useful tidbits.

[2016-02-09 16:31] #605 closed

[2016-02-09 16:32] #619 closed

[2016-02-09 16:37] aozarov commented on #626
I really like the UI and I think it would be great if we can get the PR summary (https://www.codacy.com/app/mziccard/gcloud-java/pullRequests) as part of the set of PR sets.
I have the feeling that some rules can be disabled (there is a notion of active/non-active) and customize (though I hope the latter does not mean a modified docker).
Also, some of the errors (such as "Enforce the use of explic

[2016-02-09 16:44] mderka commented on #602
Zone allow filter for `dnsName` with selector `dnsName(www.example.com.)`. While `name` is unique within a project, `dnsName` does not need to be. I am adding an option for this.

[2016-02-09 16:54] mderka commented on #602
DnsRecord listing allows filters for both `dnsName` and `type`. We already have them.

[2016-02-09 18:33] mziccard commented on #626
I should have just enabled this feature for PRs against the master branch. Should we enable the tool to run on all branches? (I think we should).

Also, out of curiosity, are you able to modify codacy settings?

[2016-02-09 18:38] aozarov commented on #626
I also think we should.

Didn't try. but looks like it is doable - https://docs.codacy.com/v1.5/docs/code-patterns#2-configure-your-project-patterns no?

[2016-02-09 19:09] #631 closed

[2016-02-09 19:10] #630 closed

[2016-02-09 19:10] #602 closed

[2016-02-10 23:00] aozarov commented on #618
Fixed by #635

[2016-02-10 23:00] #618 closed

[2016-02-10 23:01] aozarov commented on #607
Fixed by #635

[2016-02-10 23:01] #607 closed

[2016-02-10 23:52] ajkannan opened #637 "Support ReadOptions in v1beta3"
Read options for lookups and queries should be disabled within transactions.  Transaction options should only be available when creating a new transaction.

[2016-02-11 01:17] ajkannan opened #638 "Support put for parameters of type FullEntity<IncompleteKey> in v1beta3"

[2016-02-11 02:02] ajkannan opened #639 "Expose consistency setting in LocalGcdHelper"
The default is 0.9, but it's often useful to set it to 1.0 for test utility methods (i.e. clearing all entities using a non-ancestor query in between unit tests).

This can be set in [LocalGcdHelper.startGcd(..)](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-datastore/src/main/java/com/google/gcloud/datastore/testing/LocalGcdHelper.java#L488) using the following option

[2016-02-11 02:08] ajkannan commented on #639
This consistency setting should be used in DatastoreTest, since we use a query to get and delete all entities between tests.

[2016-02-11 02:13] ajkannan opened #640 "Provide methods to set list values of the same type"
For example, we could expose a method:
`set(String value1, String value2, String others...)` to create a `ListValue` of String Values instead of having to write:
`entityBuilder.set("property", StringValue.of("val1"), StringValue.of("val2"), ...)`

[2016-02-11 23:42] ajkannan opened #642 "Provide getter for a key's parent"
The `BaseKey` `parent()` method's return type will be `BaseKey`, and the `IncompleteKey` and `Key` classes can override this method to return a parent of type `Key`.

[2016-02-12 03:28] #580 closed

[2016-02-12 08:34] #624 closed

[2016-02-16 22:37] ajkannan commented on #541
Closing this issue since [this PR in java-docs-samples](https://github.com/GoogleCloudPlatform/java-docs-samples/pull/90) has been merged.

[2016-02-16 22:37] #541 closed

[2016-02-16 22:43] ajkannan commented on #626
Closing since both versioneye and codacy PRs are merged.

[2016-02-16 22:45] ajkannan commented on #626
Reopening since checkstyle isn't yet supported by codacy.

[2016-02-17 03:25] #639 closed

[2016-02-17 03:25] #640 closed

[2016-02-17 03:25] #642 closed

[2016-02-17 22:07] ajkannan commented on #637
Disabling read options from within a transaction is a bit challenging because the `DatastoreImpl` class and the `Transaction` class both implement the `Datastore` interface.  Two ways to solve this to include:

1) Setting read options when creating a `Datastore` service object.  (If users want some actions to use eventual consistency and others to use the default level of consistency, then they co

[2016-02-17 22:34] ajkannan commented on #611
Closing this as #645 took care of the update.

[2016-02-17 22:34] #611 closed

[2016-02-17 22:40] aozarov commented on #637
We should also consider this option:

* Add read-only to `TransactionOption`

* Add a new `ReadOptions` class that only includes ReadConsistency settings.

* Add only to the `Datastore` interface  `get` and `run(Query)` methods that accept `ReadOptions`

* Modify Datastore implementation for runInTransaction to defer transaction creating until the first lookup or query and if none use `CommitReque

[2016-02-17 22:53] ajkannan commented on #455
Closing this since we can use `LocalGcdHelper` like we do in v1beta2.

[2016-02-17 22:53] #455 closed

[2016-02-17 22:55] ajkannan commented on #321
Closing this issue since all necessary changes have been made.

[2016-02-17 22:55] #321 closed

[2016-02-17 23:02] ajkannan commented on #362
Closing this because we don't plan on explicitly barring users from using unsupported member types in gcloud-java's API.  The supported member types are explicitly stated in public documentation and will be linked to in javadoc as needed.

[2016-02-17 23:02] #362 closed

[2016-02-17 23:05] ajkannan commented on #421
Update: Cloud Resource Manager now seems to support paging.

[2016-02-17 23:10] pcostell commented on #637
I agree with Arie's proposal --

transaction options can be made available to the user at the call to `runInTransaction` or `newTransaction`. There isn't a need to expose `TransactionOptions` directly on `get` and `runQuery` calls because it's effectively an optimization that `runInTransaction` should take advantage of to avoid the call  to `beginTransaction`.

[2016-02-18 21:58] #421 closed

[2016-02-19 17:34] mderka opened #655 "Test local service implementation against gcloud-java-dns"

[2016-02-19 17:45] mderka commented on #655
This should include field options.

[2016-02-19 18:40] ajkannan opened #657 "Refactor serialization test code."
There is repeated code to serialize and deserialize arrays of objects in each modules' serialization tests.

[2016-02-22 22:00] jerjou opened #660 "Support signed android api keys"
If you create an android api key in the cloud console, and restrict its usage using your package and sha1 cert, then all calls to google apis using that key need to be signed. It'd be great if gcloud-java could support signing the requests in android, so that it can be used with restricted android api keys.

[2016-02-22 22:53] mziccard commented on #660
Dear @jerjou, thanks for your interest. Could you please provide us with some more details?

What do you mean that all calls to google apis need to be "signed"?

How are you doing this now? Could you share with us a piece of code so that we (or maybe only me as the others might have already understood :) can better understand?

Thank you:)

[2016-02-23 19:26] jerjou commented on #660
Sorry - I assumed that api requests were signed based on the errors I was getting, but after some more investigation, that appears to not be the case.

What I mean is - if you create an android api key in the cloud console and provide it with your package and sha1 cert, then api calls to cloud apis using that key - from an android device - return 403s, saying that the `client app <empty>` is block

[2016-02-24 10:11] mziccard opened #662 "Figure out Compute possible error codes"
I couldn't manage to find a page with all errors codes that the Compute service can return. Possible error codes should be known, in particular we need to identify retryable ones.

[2016-02-24 21:58] aozarov opened #664 "Return an empty collection instead of null."
Some of the the resource metadata properties are collections/maps.

I think currently we are not consistent and in some cases we return `null` if there is no value (e.g.
`BlobInfo` and `BucketInfo`) and in some cases we return an empty collection (e.g. `ProjectInfo`).

My preference would be to never return `null` for a collection as I think the value of being able to
distinct the case of "unassig

[2016-02-24 22:04] ajkannan commented on #664
+1 to never returning null.  Even when users say "get" or "list" and leave out metatdata properties using field options, I think it's reasonable to have empty collections instead of null collections.

[2016-02-24 22:15] mderka commented on #664
Agreed to never returning null.

However, with fields, specification, there is a difference between fields being empty and fields being null. Null means that I did not filter fields. Empty means that I specifically asked for no fields. I believe that services allow this. A reason for asking for no fields is for example to simulate an exist() function. I can want to shoot a request with empty field

[2016-02-24 22:21] mziccard commented on #664
While I agree that in general that we should be consistent and favor empty lists over `null` I would be careful when it comes to fields selection.
For instance in compute a disk has a list of attached instances. An empty list might mean that the disk is not attached to any instance. If the `attachedInstances` field is not selected through the `DiskOption.fields()` option returning an empty list mi

[2016-02-24 23:40] mderka commented on #664
I would actually prefer `null` to empty list in the scenario of attached disks described by @mziccard as the empty list has special and significant meaning.

[2016-02-24 23:48] #400 closed

[2016-02-24 23:49] #398 closed

[2016-02-24 23:49] #394 closed

[2016-02-24 23:49] #383 closed

[2016-02-24 23:54] garrettjonesgoogle commented on #397
After some internal discussion, we realized that this would increase the complexity of the surface too much. The reason is that the "old" way of passing in the String form of resource names would still to be supported, because these resource names can come from other sources, and the proto-generated classes wouldn't provide the helper classes, thus providing an inconsistent surface. Consequently,

[2016-02-24 23:54] #397 closed

[2016-02-25 00:24] aozarov commented on #664
@mderka Yes, I was regarding return values and therefore I think this issue should not affect the way we
currently handle field selection (using vararg). Did I get your comment wrong?

@mziccard You are raising an interesting case of an incomplete resource (due to field selection).
Which is similar (though not identical) to when constructing a source[Info] with partial fields.

However, as you men

[2016-02-25 00:45] mderka commented on #664
@aozarov No, I actually understood @ajkannan's comment wrong. I take this back, all clear.

It probably is a user error. Can you be more specific about how to verifying unpopulated fields. Do you mean something like holding values in `Optional<>` (I guess Guava's since we are not in Java 8)?

[2016-02-25 01:16] aozarov commented on #664
I think there are various ways to achieve that but as it requires even more work than just 'null collection'` to 'empty collection' search and replace I want to make sure we are all on board with that.

One way of implementing that is to make the resource's builder do the bookkeeping of what was set.
This could be done by using Set<field> (where field could be the same enum we use for the resource

[2016-02-25 01:28] mderka opened #665 "List operations do not return nextPageToken which prevents proper paging"
When implementing integration tests for DNS, I noticed that if one restricts the fields to be retrieved for a list operation, `iterateAll()` does not work properly. The following test would always fail:

[code]

This is because the field selector silently prevents the service from returning the `nextPageToken`:

`builder.append("rrsets(").append(DnsRecordField.selector(fields)).append(')');`

inst

[2016-02-25 01:31] ajkannan commented on #665
@mderka do you want to assign yourself this issue and fix it in BigQuery, Storage, and ResourceManager?

[2016-02-25 01:32] aozarov commented on #665
Nice catch!!

[2016-02-25 01:33] mderka commented on #665
I will fix it tomorrow.

[2016-02-25 03:17] aozarov opened #666 "In Channel reader and writer throw ClosedChannelException for validateOpen instead of IOException("stream is closed")"

[2016-02-25 03:31] aozarov opened #667 "Add support for Storage transfer"
see: https://cloud.google.com/storage/transfer/

[2016-02-25 16:40] #666 closed

[2016-02-25 17:59] ajkannan commented on #664
My first choice is to throw an exception on getters for fields that aren't set and have an "isSet" method that people can use to check if a field wasn't set.

I don't think this would lead to too much more checking on the user's side because specifying fields is an optimization, and users who specify fields are likely to also know which fields they're selecting, and thus can avoid lots of isSet ch

[2016-02-25 18:28] mziccard commented on #664
This approach is sound and it's the right one if we want to go this way. My question is: is this worth it? Do we think that this approach is more usable than simple returning `null` for both cases (fields not selected and field not set)? I don't have a strong opinion but I would be careful in going this way as it will probably require a lot of changes.

Also `XXXField` enums we are using now match

[2016-02-25 18:38] mderka commented on #664
The suggested unified approach to returning empty collection instead of does not really make sense to me without IllegalStateException. It probably will be a lot of work but I cannot assess it in its entirety (I have only limited idea about the complexity of BigQuery, Storage and other modules).

I am not sure that I exactly follow the JSON issue. I think that these changes would be on the level o

[2016-02-25 18:59] mderka opened #671 "Clean tests for local DNS helper"
Only keep the RPC ones.

[2016-02-25 21:41] aozarov commented on #664
I do think this would be a better API as it can potentially eliminate user error dealing with wrong data.

However I agree that if we decide not to do it (and I am OK with that) than we should be consistent (which means some change) and in that case I agree that `null` for unassigned collection property is more appropriate.

We should still make sure that any non-getter method that return collecti

[2016-02-25 22:04] mderka opened #672 "LocalDnsHelper does not create a change for new records"
The service does. Add a change.

[2016-02-25 22:12] mderka opened #673 "Make integration tests for creating invalid change request in DNS"
When retry functionality of the `DnsException` is implemented, add this test.

[2016-02-25 22:45] mziccard commented on #664
reason for that, but in general I don't think that is desired).

Consider the bigquery case where we have `TableInfo` which has a `Definition` field. Definition wraps some different JSON fields (e.g. schema, numBytes, numRows, streamingBuffer, etc.). With current `XXXField` enums the user can select only some of the JSON fields (e.g. only the schema) and the definition object will still be created

[2016-02-25 23:50] #665 closed

[2016-02-26 00:13] #387 closed

[2016-02-26 00:14] garrettjonesgoogle commented on #386
We removed the comment on this because it's confusing.

[2016-02-26 00:14] #386 closed

[2016-02-26 00:15] garrettjonesgoogle commented on #382
This is done for pubsub, but not logging yet.

[2016-02-26 00:16] garrettjonesgoogle commented on #385
Comment from @aozarov : I think "generate NOT_FOUND", though maybe better than "return NOT_FOUND", is still not clear. Also, what is NOT_FOUND (which looks like a constant) is not clear and this part from the issue description "Additionally, the documentation needs to make clear how to get the exact error that occurred (specifically, getting the status code)." is not dealt with.

[2016-02-26 16:46] eddiewebb opened #675 "Implement support for alpha features in datastore (geopt)"
https://cloud.google.com/appengine/docs/java/datastore/geosearch is an alpha feature unusable by gcloud library since the GeoPt is not a valid property type.

I was not able to run com.google.appengine.api.datastore locally (using emulator or java-sdk), and found that using com.google.gcloud.datastore work against my gcloud datastore and sdk without hassle.

But now I am stuck unable to implement

[2016-02-26 16:53] eddiewebb commented on #675
Looks like I can accomplish what I need with RawValue -https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-datastore/src/main/java/com/google/gcloud/datastore/Value.java#L32

[2016-02-26 17:10] aozarov opened #676 "Add serialization tests to gcloud-core"
Probably at the same time we do #657 we should also add serialization tests to core classes such as
`IamPolicy`, `PageImpl`, ...

[2016-02-26 17:10] ajkannan commented on #675
Hi @eddiewebb, thanks for creating this issue.

While geospacial queries can be done via the App Engine Datastore API, they aren't yet available via the Cloud Datastore API, which is the API gcloud-java uses.  The next version of the Cloud Datastore API (v1beta3) is supposed to be released sometime soon, and soon after gcloud-java will use it and support geopoints.

The comment you pointed out abo

[2016-02-26 17:18] eddiewebb commented on #675
Awesome, thanks @ajkannan I guess I'll just fudge it with some spherical calculations until its ready to ship.

[2016-02-26 17:44] ajkannan commented on #637
Since transaction options are coming in a later release of v1beta3, I will create a separate issue for transaction options and keep this issue for read options.

[2016-02-26 17:46] ajkannan opened #677 "Support TransactionOptions in v1beta3"
See discussion in #637 for more context.

This is blocked on transaction options being supported in a subsequent release of v1beta3.

[2016-02-26 23:28] mderka opened #678 "Fix codacy issues in DNS"
See [here](https://www.codacy.com/app/mziccard/gcloud-java/dashboard?bid=3123104).

[2016-02-27 10:10] mziccard opened #679 "Create functional class for DNS ChangeRequest"
If this has been already discussed I am sorry for bringing it up again.

A DNS change request is now mapped using a single non-functional class `ChangeRequest`. I see a benefit in having a functional class for change requests as well. It would be cool to be able to write:
[code]
In the same way we do for bigquery's jobs and as I plan to do with compute's operations. What do you think?

[2016-02-27 18:12] aozarov commented on #679
We could (I do not object), however I think in this case it would be much less useful (at least for now) as:
* The proposed `ChangeRequest` will not have any other additional methods other than `isDone`.
* `isDone` is much less useful as, there are no obvious actions to take when `true` (as opposed to BigQuery that you may want to query after a successful upload job).
* I could not find any time c

[2016-02-27 18:22] aozarov commented on #679
I managed to find [this](https://cloud.google.com/dns/monitoring) for propagation time expectation: "You can use this command determine when your authoritative name server picks up your change, which should happen **within 120 seconds**"

[2016-02-27 18:40] mziccard commented on #679
We could add also `reload` but I agree that's almost the same as `isDone` in terms of usage.

You might be interested in the change to be completed to start redirecting traffic or start using records that the change request just created.

[2016-02-27 21:16] dimo414 opened #680 "DefaultCredentialsProvider doesn't respect the CLOUDSDK_CONFIG environment variable"
`ServiceOptions.googleCloudProjectId()` first checks to see if `CLOUDSDK_CONFIG` has been set, and uses that in place of `~/.config/gcloud` if it has. However `DefaultCredentialsProvider.getWellKnownCredentialsFile()` does not, instead only looking in the default directory.

[2016-02-27 23:10] mziccard commented on #680
Hi @dimo414 thanks for the feedback.

Let me be sure I understood correctly. Does this problem cause our `ApplicationDefaultAuthCredentials.credentials()` not to find credentials when CLOUDSDK_CONFIG is set and points to a different location than the default one? (I can't check this now as I don't have access to a laptop).

If this is the case we should probably report this issue at https://github

[2016-02-28 00:16] dimo414 commented on #680
That's correct, here's a sample (in a `gcloud` logged-in shell):

[code]

[2016-02-28 16:56] unitydynamics opened #681 "Error with gcloud-java for datastore access from compute engine: “LookupRequest overrides final method getUnknownFields”"
I started a brand new Java project (Java 8) and used maven to pull down my dependencies:
[code]

I then wrote a very simple test call to write to the datastore... but there seems to be something structurally wrong with the library... here is the exception I ran into:

[code]
I have plenty of jars but my environment is clean... I don't have any of the legacy google.appengine.* jars around. Just to

[2016-02-28 17:08] unitydynamics opened #682 "TaskQueues API Please!"
Is it part of the roadmap to fold in the TaskQueue library?  This is what I see right now...

https://developers.google.com/api-client-library/java/apis/taskqueue/v1beta2

It would great if this was part of gcloud-java.

Update: I noticed gcloud-python as pub/sub API support... which made me think... should I be using pub/sub instead of task queues for new development?

[2016-02-28 19:36] aozarov commented on #681
Looks like you are pulling a version of `com.google.protobuf:protofuf-java` which is not compatible with the underlying datastore-protobuf dependency `google-api-services-datastore-protobuf-v1beta2-rev1-4.0.0`.

Try running `mvn dependency:tree -Dverbose -Dincludes=com.google.protobuf:protobuf-java` to see
where you are pulling it from and exclude it from there.

A similar reported issue discovere

[2016-02-28 20:17] aozarov commented on #682
@unitydynamics The TaskQueue API you are referring to is a REST API to the App Engine Task Queue.

Therefore, I think, will only work if your project is configured with an AE application and configuration of the queues is done via AE deployments.

In `gcloud-java` we started work on adding a Pub/Sub API support (in the pubsub-alpha branch), however though both are messaging APIs Publish/Subscribe

[2016-02-28 20:21] ajkannan commented on #680
Hi @dimo414, thanks for reporting this issue.  I agree with @mziccard's analysis, and I’ve created an issue in that library (issue 58 linked above).  As a work around for now, you can set the environment variable GOOGLE_APPLICATION_CREDENTIALS to the location of the JSON credentials file.  For example, you could try the following with the test case you provided above:

[code]

[2016-02-29 13:17] unitydynamics commented on #681
[code]
Thanks for pointing me in the right direction.... I should have noticed that old version of http-client-protobuf was there.  I moved that to 1.21 and deleted protobuf-java-2.4.1.jar and I'm off to the races now.  Thank you @aozarov

I immediately tested an now I'm getting "not authorized" type of error...
[code]
If I can bug you just one more time... what's the magic I need to add to authen

[2016-02-29 13:32] unitydynamics commented on #682
Thanks for note.  I need to get a handle on how to view Google's milestones.  In my use case I like TaskQueues as a communication between my compute-engine and app-engine code.  So I suppose I should clarify my feature request... if TaskQueues come to `gcloud-java` I would like to interact with app-engine queues and have the seemless authentication that gcloud-java offers.  (and maybe a better API

[2016-02-29 14:44] mziccard commented on #681
@unitydynamics glad you solved your original issue.

For the `401 Unauthorized` error try also adding the "User Info" scope (the first permission in your screenshot) when you create the instance.

[2016-02-29 15:10] unitydynamics commented on #681
You nailed it @mziccard .  I've written my first entity to the datastore with gcloud-java!  Thanks.

I noticed the required permissions are indeed documented...: https://github.com/GoogleCloudPlatform/gcloud-common/blob/master/authentication/readme.md#authentication

but... I'm probably not the last wandering spirit to trip over this... gentle recommendation to clean up the scopes.

[2016-02-29 15:21] unitydynamics commented on #681
On more small comment... Stderr is getting littered with plenty of:
Feb 29, 2016 3:14:07 PM com.google.api.services.datastore.client.BaseDatastoreFactory makeClient
WARNING: Not using any credentials

[2016-02-29 16:03] mziccard opened #683 "Understand possible DiskType.validDiskSize formats"
[DiskType.validDiskSize](https://cloud.google.com/compute/docs/reference/latest/diskTypes#validDiskSize) is documented as:

We should understand the format this field can have so that we can split it into two numbers (e.g. `minSize` and `maxSize`).

[2016-02-29 16:59] aozarov commented on #681
@unitydynamics You can safely ignore this WARNING. It will be gone in the next version of the datastore
(v1beta3). Also, the need to use "User Info" scope is going to be removed by then.

[2016-02-29 18:56] dimo414 opened #684 "Provide an in-memory or local-disk emulator of the storage APIs for testing"
Easy to describe, hard to do :) Presently the only way I can verify my `gcloud-java` code is to run it against a real GCS bucket, which costs money and requires being authenticated.

[2016-02-29 20:43] mderka commented on #679
I think this goes against our decision to make change request a zone-independent struct. Since changes always happen inside zones, you would need `dns.applyChangeRequest(zone, ChangeRequestInfo.builder...);` in which case you can right away query done on the `zone` object. Otherwise, we would need to equip `ChangeRequest` with zone reference.

[2016-02-29 21:34] mziccard commented on #679
Adding `zone` to `ChangeRequest` doesn't seem absurd to me. If you want to keep it independent from the user perspective the `zone` reference could be added as a private field in the functional object, without the user even knowing.

[2016-02-29 21:50] aozarov commented on #684
@dimo414 I completely agree!

It is fairly simple to write something to support basic functionality (get/set/listing without options) but not so if we care about being a 100% (or close to it) compatible.

It is on our road-map and in fact as part of the efforts to add nio.Files facade to GCS in gcloud-java-contrib (currently at the [gcs-nio](https://github.com/GoogleCloudPlatform/gcloud-java/tree/

[2016-02-29 22:31] aozarov opened #687 "Add a flag to enable/disable versioned Blob listing."
see "versions" in [here](https://cloud.google.com/storage/docs/json_api/v1/objects/list).

Also, it looks like the SPI already [sets](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-storage/src/main/java/com/google/gcloud/spi/DefaultStorageRpc.java#L158) this option if provided.

Related StackOverflow [issue](http://stackoverflow.com/questions/35690777/get-archived-versi

[2016-02-29 23:22] dimo414 commented on #684
Thanks @aozarov, an nio.Files facade will be excellent.

[2016-03-01 00:03] mderka commented on #679
As per my discussion with @aozarov, a suitable way of handling this would be treating `ChangeRequestInfo` as zone-independent struct and functional object having zone. We do see value in this, but we also agreed that there are more urgent things to handle. I am assigning this to myself and categorizing as "yes, do it if you have time at the end."

[2016-03-01 00:48] ajkannan opened #689 "Remove user info scope from DatastoreOptions in v1beta3"
The user info scope will not be necessary in v1beta3.  This should be tested against both the local emulator and the actual Datastore.

[2016-03-01 01:30] #681 closed

[2016-03-01 07:44] dimo414 opened #692 "Support the delimiter parameter and prefixes result field for bucket listing"
See [`delimiter`](https://cloud.google.com/storage/docs/json_api/v1/objects/list) - this is necessary to be able to list "directories".

In addition to `BlobListOption.delimiter(String)` it'd be nice if there were an argument-less method that uses `/` as the delimiter, since that's what ~99% of usages will want. I'd suggest `directories()` as that method name, so users can write `bucket.list("..."

[2016-03-01 07:48] dimo414 commented on #692
Actually, I just realized this is what [`BlobListOption.recursive()`](https://github.com/GoogleCloudPlatform/gcloud-java/blob/1583e2c8b8763a003b5d0d16d27cf53a97410603/gcloud-java-storage/src/main/java/com/google/gcloud/storage/Storage.java#L699) (which is, imo, not a very clear name) is supposed to do. However that method treats the `delimiter` argument as a boolean; instead it should be passing i

[2016-03-01 12:14] mziccard commented on #692
Hi @dimo414, thanks again for your feedback.
You can set the delimiter through Storage's global options:
[code]
By default "/" is used.
When you use `BlobListOption.recursive(true)` we take care of setting the `delimiter` option to the `pathDelimiter` you specified when you created the `StorageOptions`.

I agree that the option's name is counter-intuitive. In fact when set to `BlobListOption.recur

[2016-03-01 14:52] dimo414 commented on #692
Playing around with the API Explorer on the list doc page, I see my issue. I am trying to list "directories" which I now see are returned by the API in the `prefixes` field, not as part of the `items` field. I don't see a way to get the `prefixes` (unless, of course, I'm missing something):

Without a delimiter:
[code]

With delimiter `/`:
[code]

Is there a way to get `dir/1/` and `dir/2/` back v

[2016-03-01 15:41] aozarov commented on #692
Yes, I think we got it wrong [here](https://github.com/GoogleCloudPlatform/gcloud-java/blob/1583e2c8b8763a003b5d0d16d27cf53a97410603/gcloud-java-storage/src/main/java/com/google/gcloud/storage/StorageImpl.java#L671), and instead it should set the DELIMITER when "recursive" is `false`.

I am fine with renaming (the name now is consistent with the [appengine_gcs_client](https://github.com/GoogleClou

[2016-03-01 15:42] mziccard opened #693 "Get baseUrl for Compute's identities"
For resource identities we use the following base url in `ResourceId`:

[code]

As noticed by @aozarov this could be derived from service  (e.g. [com.google.api.services.compute.Compute]() has a `getBaseUrl` method).

[2016-03-01 15:57] mziccard opened #695 "Compute's DiskType.id field is never set"
[DiskType.id](https://cloud.google.com/compute/docs/reference/latest/diskTypes#id) is documented but never returned by the service. See for instance the result of a GET:

[code]

[2016-03-01 16:09] #687 closed

[2016-03-01 18:29] mderka opened #698 "What parameters should Zone/ZoneInfo builder require"
There are 3 things mandatory for Zone: name, dnsName and description. In my opinion, it either makes sense to allow for creating zone with name being mandatory and the rest to be part of the builder, or require all three in `ZoneInfo.builder(String name, String dnsName, String description)`. I am inclined to the first option. Should we ask for name only, or for all three?

/cc @ajkannan @aozarov @

[2016-03-01 21:09] aozarov commented on #698
I suggest we start with only providing `ZoneInfo.builder(String name, String dnsName, String description)` if there are no more user setteble values than we could actually have instead `ZoneInfo.of(name, dnsName, String)` which returns full constructed `ZoneInfo`.

[2016-03-01 21:21] mderka commented on #698
Ok. I like the `of()` construct.

[2016-03-02 01:32] tmatsuo opened #701 "Is it possible to use ApplicationDefaultCredentials for SignUrlOption?"
Currently [Storage.SignUrlOption](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-storage/src/main/java/com/google/gcloud/storage/Storage.java#L782) receives `com.google.gcloud.AuthCredentials.ServiceAccountAuthCredentials`, but how to use ApplicationDefaultAuthCredentials with that method? I think we should allow using ApplicationDefaultAuthCredentials if possible.

[2016-03-02 01:33] ajkannan commented on #689
Closed via #690

[2016-03-02 01:33] #689 closed

[2016-03-02 01:34] ajkannan commented on #637
Closed via #691

[2016-03-02 01:34] #637 closed

[2016-03-02 01:37] tmatsuo commented on #701
I think there should be an interface for Credentials and use it as the argument, just my 2 cents

[2016-03-02 01:53] aozarov commented on #701
Indeed as of now you can only explicitly set `com.google.gcloud.AuthCredentials.ServiceAccountAuthCredentials`.

However if you don't specify it `signUrl` may still work based on your service auth config (if it is configured with `AuthCredentials.ServiceAccountAuthCredentials` or using `ApplicationDefaultAuthCredentials` AND the default auth config is associated with a [service account](https://gi

[2016-03-02 03:34] aozarov commented on #692
Yes, we could change blob listing to return a subclass of `Page` that also has an accessor for prefixes.
However, that is not going to play very great with `iterateAll` (maybe we can live with that).

Another, more "extreme" option, would be to create a Blob instance also for prefixes with no other
values than their name (suffixed with the delimiter) and their bucket.

Thoughts? @dimo414 @mziccard

[2016-03-02 05:13] dimo414 commented on #692
Here's my workaround until there's a way to access the `prefixes` field; hopefully this demonstrates why it would be beneficial - without that field it's an O(objects) operation to compute the "subdirectories" in a "directory".

    public static List<String> directories(Bucket bucket, String prefix) {
        checkArgument(prefix.endsWith("/"), "Prefix must end with a '/', was '%s'", prefix);

[2016-03-02 06:19] dimo414 opened #702 "Operations on Buckets should use Storage.*Option types"
Some of the static classes in `Storage`, such as `BlobTargetOption` which is used by `Storage.create()`, are also being erroneously used in `Bucket`. This is problematic because `Bucket` keys of of path `Strings`, not `BlobInfo` instances, and therefore isn't able to extract information like the blob's generation, causing a line like this:

    bucket.create(file, data, null, BlobTargetOption.gene

[2016-03-02 07:32] dimo414 opened #703 "BaseServiceException should not extend RuntimeException"
Maybe this ship has already sailed, but if it's still possible `BaseServiceException` should not extend `RuntimeException`. As is, I can't confidently make *any* calls to a gcloud-java method without wrapping them in a try-catch block, and should I accidentally miss one it could cause my whole application to crash. I would suggest it extend `IOException` instead, but just extending `Exception` wou

[2016-03-02 08:05] mziccard commented on #703
How would this be different if we extended `IOException`? You would still have to catch exceptions...

[2016-03-02 09:01] mziccard commented on #692
This could be a way of doing that but the behavior of `iterateAll` becomes a bit unexpected. Also I did a check with both `prefix` and `maxResults` options set, what happens is that the sizes of `prefixes` and `items` JSON arrays always sum up to `maxResults` (except for the last page) which makes me think they should be iterated as a whole.

values than their name (suffixed with the delimiter) an

[2016-03-02 09:16] BrandonY commented on #692
I lean towards leaving the List() call ignorant of delimiters, since they're a fairly uncommon use case outside of building user interfaces and otherwise exploring bucket structure. It does seem reasonable to expose the functionality, though, so perhaps introduce a `ListDirectory`-type method that assumes a '/' delimiter and returns either a `Page` structure or an Iterator<ListEntry> (where ListEn

[2016-03-02 15:42] mziccard commented on #702
Nice catch!
We should provide dedicated `BlobTargetOption` and `BlobWriteOption` in `Bucket`. I am assigning this to myself and I'll work on it ASAP.

[2016-03-02 18:32] dimo414 commented on #692
But the `list()` call is already aware of delimiters via the `.recursive()` option. Unfortunately it's only half-aware, you can list objects but not directories.

[2016-03-02 18:38] #617 closed

[2016-03-02 20:30] tmatsuo commented on #701
Ok, thanks! I didn't know that you can not use the GCE service account for signing URL. However, isn't it appropriate for that method to receive an interface? Especially if there is a possibility that GCE service account can be used for signing in the future (I'm not sure though).

Related:
http://googlecloudplatform.github.io/gcloud-python/stable/storage-blobs.html#gcloud.storage.blob.Blob.genera

[2016-03-02 21:44] aozarov commented on #692
API will treat it as any other blob, so delete is likely to return false, get would return `null`,...
If using a delimiter is a non common option, maybe a doc on its settings (see bellow) would be sufficient.

If we think that it is uncommon then I suggest to remove it from the storage options, remove "recursive" (which would be the default mode) and replace it with an explicit option for using th

[2016-03-02 22:18] mziccard commented on #692
Yes my doubt was in fact that this might be confusing as we have no way to distinguish between blobs and directories other than the delimiter suffix. If you think that documenting this is enough (I agree since it seems to be an uncommon usage) then we can go with the solution you propose. I'll take care of this change.

[2016-03-02 22:26] aozarov commented on #692
Yes, that would be my vote. @mziccard I take it that is your vote too?

Summary of my reasoning:
1. Not a common setting.
2. *Explicit* and therefore could be well documented setting to enable this mode/behavior.

Do you think otherwise or have a different proposal @dimo414 @BrandonY ?

[2016-03-02 23:28] unitydynamics commented on #682
Not sure where best to put this... so you'll have to excuse me.  I ran into a nasty "bug" which had me pulling out my hair.  Turns out the "https://www.googleapis.com/auth/cloud-platform" scope does NOT include "https://www.googleapis.com/auth/taskqueue"   Is that intentional?  Seems misleading at best.

[2016-03-02 23:38] mziccard commented on #702
#705 adds `BlobTargetOption` and `BlobWriteOption` to `Bucket` and fixes the bug reported by this issue. `Storage.BlobListOption` is still used in `Bucket` as it makes no sense to me to copy-paste the class given that it applies as-is.

[2016-03-02 23:55] mziccard commented on #703
If this is about checked vs unchecked exceptions my (strong) preference is to stick to unchecked. As a reference also AWS uses unchecked exceptions: [AmazonClientException](https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/AmazonClientException.java#L39) extends `RuntimeException` and `AmazonServiceException` extends `AmazonClientException`.

[2016-03-03 00:05] aozarov commented on #701
Yes, we could do something similar to `gcloud-python` and accept `AuthCredentials` instead of the specific `ServiceAccountAuthCredentials` but similar to the Python API this class does not expose
in its API a service-account or private key.

We could still get it and then reject any instances that are not known to us to support the signing.
I don't like that such enforcement is a run-time failure

[2016-03-03 00:17] tmatsuo commented on #701
@aozarov Yeah, that seems a right approach!

[2016-03-03 00:24] ajkannan commented on #701
Sure, I can take this issue.

[2016-03-03 00:25] ajkannan commented on #703
My preference is also to stay with unchecked exceptions.  I do think we should make a pass through the library make sure every method call that can throw an exception has the exception documented with an "@throws" in the javadoc.

[2016-03-03 00:38] ajkannan commented on #682
For Task Queues, you can use the scopes listed on the [Task Queue REST API docs page]( https://cloud.google.com/appengine/docs/java/taskqueue/rest/about_auth).  It's not immediately clear to me why the cloud-platform scope doesn't include Task Queue, but I will ask around for an answer and get back to you on that.

[2016-03-03 00:40] aozarov commented on #703
+1 for unchecked exceptions.
This was discussed early on by various people which all favored or agreed to it.
This is also the path that gRPC (grpc-java) is taking.

[2016-03-03 00:41] #702 closed

[2016-03-03 01:56] dimo414 commented on #703
Well if that's the consensus fair enough; personally it's a much more error-prone experience.

[2016-03-03 01:56] #703 closed

[2016-03-03 02:01] dimo414 commented on #702
You could have `Storage.BlobListOption` and `Bucket.BlobListOption` extend a shared parent. That saves too much typing but makes it much clearer to callers that they're doing the right thing. When I was getting set up the `Storage`/`Bucket` overlap was one of the more confusing parts of the API.

[2016-03-03 02:19] dimo414 commented on #692
Apologies if I'm miss-reading the proposal, but I really don't think `Blob` should be overloaded to represent both actual blobs and path components. That just doesn't make sense, regardless of how easy to implement or rarely used it would be. I also don't agree with your premise that it's rarely used, it seems perfectly reasonable and common to want to inspect the hierarchy of your files.

More pr

[2016-03-03 08:17] mziccard commented on #692
I think this can never happen. Prefixes always finish with the `delimiter` string while blob names do not. For instance consider the case where you have two blobs `test-` and `test-file`. Listing the blobs using `-` as a delimiter will return the following result:
[code]
Which respects the documentation of the `delimiter` option:

@dimo414 To better understand, your preference here would be adding

[2016-03-03 15:53] dimo414 commented on #692
It wouldn't collide with other results from the request, but it would confusingly match both a valid `Blob` *and* a prefix. There's also nothing stopping a caller from storing a fake-`Blob` in a variable or collection intended for actual `Blob` instances and then triggering the wrong behavior. These just seem like totally separate concepts, and treating them as the same type is asking for trouble,

[2016-03-03 18:00] aozarov commented on #692
@dimo414 The "premise that it's rarely used" comes from @BrandonY which I hope could back it up via server-side stats/monitoring.

We are talking about a service that does not have a notion of a folder (as a resource) and therefore I don't think that in the `gcloud-java` level we should deviate from it and create one.

Using `Blob` indeed feels like a "workaround" but on the other-hand it does mak

[2016-03-03 21:50] mziccard commented on #692
I don't like the idea of adding `getPrefixes` to (a subclass of) `Page`.
Adding a special method to list prefixes is not a good idea either (this makes also complex handling pagination and setting maximum number of results as both `currentPage` and `maxResults` refer to the combination of prefixes and actual blobs).

That said I am +1 to the compromise proposed by @aozarov of listing prefixes as `

[2016-03-04 00:14] Capstan commented on #692
First, I think the idea of pagination is an implementation detail that should be entirely hidden away from the users. Unless they are extremely interested in exactly having the data from a single server response, I would hide everything behind `Iterator`s, and hide pages entirely.

I think you would want to have an option that offers iterators that are either backed by:
* a single outstanding requ

[2016-03-04 02:46] ajkannan opened #710 "Auth issue when using revoked Cloud SDK creds with local test helpers."
When running code that uses local service emulators, users that have Google Cloud SDK installed but have out-of-date or revoked credentials (and don't specify other credentials in any other way) will see error messages when making API calls that send requests to the local emulator.  This is because we detect the Google Cloud SDK json credentials file exists, and use those to set credentials in `Se

[2016-03-04 03:28] ajkannan commented on #710
A third option would be to create another subclass of `AuthCredentials` that represents "no auth".  When users set this option, they explicitly say they don't want to use auth.  By contrast, leaving the auth unset (null) in the ServiceOptions builder will use application default credentials.  In the `options` methods for the local service helpers, we can specify "no auth" so users won't see auth e

[2016-03-04 03:32] aozarov commented on #710
+1 for the (3) option (Adding AuthCredentials.noAuth and using it in the Test helpers' returned options).

[2016-03-04 10:20] mziccard opened #711 "Compute's aggregate lists do not support resource's field selection"
Aggregate lists' `fields` option only allows to select the following fields:
[code]
Shouldn't selecting fields of the listed resources be supported as well?
It would be nice to be able to write a `field` option like: `items(selfLink),nextPageToken` that only returns the next page token and the selfLink field for each resource.

[2016-03-04 20:42] thobrla commented on #692
+1 for pagination being opaque and using iterators.

Supporting custom delimiters is not useful based on service usage.  Everyone uses "/".

Supporting collections at a given prefix seems reasonable to me.

Intermingling Blobs and prefixes leads to pain.

[2016-03-04 21:02] thobrla commented on #692
After some offline discussion with @aozarov , I'd clarify by saying that while supporting collections at a prefix seems reasonable to me, I think that "simulating directories" tends to lead to a lot of pain because it's fundamentally a broken abstraction.

Thus, it seems like it should be handled in a layer above gcloud-java, if at all.

[2016-03-07 00:58] sudison opened #720 "storage: "Failed to parse Content-Range header" when chunk-size upload is used"
Here is the log:

Caused by: com.google.gcloud.storage.StorageException: 400 Bad Request
Failed to parse Content-Range header.
	at com.google.gcloud.spi.DefaultStorageRpc.translate(DefaultStorageRpc.java:94)
	at com.google.gcloud.spi.DefaultStorageRpc.write(DefaultStorageRpc.java:499)
	at com.google.gcloud.storage.BlobWriteChannel$1.run(BlobWriteChannel.java:49)
	at java.util.concurrent.Executors$

[2016-03-07 14:29] mziccard commented on #720
Hi @sudison thanks for the report. I managed to reproduce you issue, I will look into this and provide a fix as soon as possible.

[2016-03-07 16:52] unitydynamics opened #721 "DatastoreOptions.defaultInstance().service() fails in static methods."
[code]

Dropping `DatastoreOptions.defaultInstance().service()` into a simple main() method will yield the error.  I'm on 0.1.4.  Inside class instance methods it's working fine.  I'm running outside of App Engine.

[2016-03-07 17:13] unitydynamics commented on #721
Sorry I've got an issue on my machine where multiple libraries are using the same authentication path.  As I pin this one down further I may repost.

[2016-03-07 17:13] #721 closed

[2016-03-07 17:15] #710 closed

[2016-03-07 17:49] ajkannan opened #722 "Determine why create and list permissions causes bad request."
In resource manager, using `resourcemanager.projects.create` or `resourcemanager.projects.list` in a `testPermissions` call leads to a 400 Bad Request error.

[2016-03-07 18:26] jean-philippe-martin commented on #720
PR #714 has a potential fix for that, making a note to try the repro after that request is merged.

[2016-03-07 19:04] sudison opened #723 "storage: read blob in chunk will get exception when reach the end the blob"
Following code is used to read blob chunk by chunk:

[code]

reader.read() will throw exception:

com.google.gcloud.storage.StorageException: java.lang.NullPointerException

	at com.google.gcloud.storage.StorageException.translateAndThrow(StorageException.java:74)
	at com.google.gcloud.storage.BlobReadChannel.read(BlobReadChannel.java:159)

The root cause is, reader is blindly reading chunks from

[2016-03-07 19:14] sudison commented on #720
I tried the fix in https://github.com/jean-philippe-martin/gcloud-java/commit/73b9ef67e4eb01530a315dea74559cb203f7535a, I got

com.google.api.client.http.HttpResponseException: 400 Bad Request
{
 "error": {
  "errors": [
   {
    "domain": "global",
    "reason": "badRequest",
    "message": "Invalid Upload Request"
   }
  ],
  "code": 400,
  "message": "Invalid Upload Request"
 }
}

if length is

[2016-03-07 19:49] unitydynamics opened #724 "Small Blobs silently stored as ShortBlobs - Need option to force full Blob"
Maybe there is an option but someone will have to point it out to me: how can I ensure that my Blobs are stored as full Blob objects and not ShortBlobs?

The issue for me is that I'm writing entities to the datastore using gcloud-java and then reading them with Objectify.  When reading I see the error: `Expected class com.google.appengine.api.datastore.Blob, got class com.google.appengine.api.data

[2016-03-07 19:56] unitydynamics commented on #724
Also just FYI I've posed this as a potential Objectify change: https://github.com/objectify/objectify/issues/284

[2016-03-07 21:10] aozarov commented on #724
From the Google Cloud Datastore perspective there is only one [type](https://cloud.google.com/datastore/docs/concepts/entities#properties_and_value_types) of Blob which is a `Byte String`.

I think Objectify need to map/handle `ShortBlob` in a similar way they do for `Blob`.
BTW, a similar concept should apply to `Text` and `String` (Google Cloud Datastore has only one
field for it, `stringValue`)

[2016-03-07 21:18] aozarov commented on #720
Yes, @sudison thank you. We realized that but unfortunately only added a [comment](https://github.com/GoogleCloudPlatform/gcloud-java/pull/714#discussion_r55251012) in the PR and not here. We are waiting to see if there is a good way to fix that other than applying a workaround to fix it.

[2016-03-07 21:23] unitydynamics commented on #724
Thanks I suppose I just assumed that ShortBlob was a datastore primitive ([this page](https://cloud.google.com/appengine/docs/java/datastore/entities)).  Jeff has very graciously agreed to fix this in Objectify.  I think we can close this out.

[2016-03-07 21:28] sudison commented on #720
My fix for this issue is to add a method:
  void totalLength(long length);
on WriteChannel.
The assumption is that, caller knows the length of the file before uploading to GCS.

[2016-03-07 21:31] aozarov commented on #720
Indeed that is a way, but I don't think we should make knowing the total lengths a requirement (and GCS should be able to support it). There are various cases where one would not know the length and we would like to support them to.

[2016-03-07 21:37] jean-philippe-martin commented on #720
Agreed. Having to specify the length would make Java NIO integration really hard as NIO users don't give the length before starting their writes via e.g. [newOutputStream](https://docs.oracle.com/javase/7/docs/api/java/nio/file/spi/FileSystemProvider.html#newOutputStream(java.nio.file.Path,%20java.nio.file.OpenOption...)).

[2016-03-07 21:38] #724 closed

[2016-03-07 22:07] sudison commented on #720
As a user, if I want to use this library now, what should I do? This is the basic requirement for a library which can upload/download a file.

[2016-03-07 22:09] aozarov commented on #720
We will fix it soon. How big is your `Blob`? Can you apply one of the `create` methods that takes the blob content in the meantime?

[2016-03-07 22:13] sudison commented on #720
Ok, thanks. Blob is around 1 - 20 MB. Is create method ok for such blob?

[2016-03-07 22:18] aozarov commented on #720
20MB is on the bigger side but Yes, and you can use the `create` that accepts `InputStream` if you don't have the content in memory.

[2016-03-07 22:24] sudison commented on #720
ok, thanks. then I'll use create for now.

[2016-03-07 22:31] aozarov commented on #692
@mziccard lets remove the delimiter and recursive options for now (which are broken).

Though we didn't get a consensus I think we got a green light for either of these options:

* Add `currentDirectory` option (hard-coded to '/') that returns `Blob` for prefixes with only bucket, name and a 0 lengths fields populated. Also, consider adding to `Blob` an `isDirectory` method that returns `true` onl

[2016-03-07 23:11] mziccard commented on #723
Hey @sudison thanks for the report. Unfortunately I did not manage to reproduce the error. Which version of gcloud-java are you using? How big is the blob you are trying to read?

Thanks

[2016-03-07 23:25] sudison commented on #723
blob size is 2 x 1024 x 1024, gcloud version is 0.1.4

[2016-03-07 23:34] aozarov commented on #723
FYI, I sent #725 to fix the write issue.

[2016-03-07 23:58] aozarov commented on #723
@sudison Thanks, I can reproduce that and will fix that together with #220

[2016-03-08 01:02] kimsterv commented on #682
Hi, the Task Queue REST API doesn't include the cloud-platform scope because it hasn't been a popular feature request and the REST API is an alpha feature. It's unlikely we will ever add support for it because we will be adding IAM integration which will solve this problem in a better way.

It would be great to hear about your requirements as we're working on IAM integration including defining the

[2016-03-08 01:15] aozarov commented on #723
#725 should fix both issues (waiting for a reviewer before it can get merged).

[2016-03-08 07:40] #720 closed

[2016-03-08 08:22] mziccard commented on #723
@sudison We just merged #725 so this should be fixed in master now. We will release a new version of `gcloud-java` soon to make this fix available through in maven. I'll write here as soon as we release the new artifact.

[2016-03-08 08:22] #723 closed

[2016-03-08 12:15] mziccard opened #727 "Compute's operation.creationTimestamp field is never set"
While [documented](https://cloud.google.com/compute/docs/reference/latest/globalOperations#creationTimestamp) the `operation.creationTimestamp` appears to never be set.

[2016-03-08 18:39] sudison commented on #723
Thanks for the quick fixes. Tested locally, it works.

[2016-03-08 19:29] mziccard commented on #723
@sudison Thanks to you for reporting the issues! Version 0.1.5 is out now and includes the fixes!

[2016-03-09 05:01] dimo414 opened #731 "NPE when generationNotMatch fails"
The following:
[code]
Causes a:
[code]

The `translateAndThrow()` call suppresses the underlying stack trace, but this shouldn't trigger an NPE. I do expect it to fail, but it should fail with a meaningful error message.

[2016-03-09 07:57] mziccard commented on #731
Hi @dimo414 thanks for the report! This error is due to some information that went missing in the response body. We already fixed this in #725, If you update to the latest version of gcloud-java (0.1.5) you should see this exception for your example:
[code]

[2016-03-09 11:54] #692 closed

[2016-03-09 14:45] dimo414 commented on #731
Verified! Apologies for the stale report.

[2016-03-09 14:45] #731 closed

[2016-03-09 16:30] mziccard opened #732 "Image's deprecationStatus can hold wrongly formatted timestamps"
When a Compute Image is [deprecated](https://cloud.google.com/compute/docs/reference/latest/images/deprecate) a [DeprecationStatus](https://cloud.google.com/compute/docs/reference/latest/images/deprecate#request_properties_JSON) must be provided in the request body. Part of deprecation status are 3 timestamps (deprecated, obsolete, deleted) that are documented to be:

However, the service does no

[2016-03-09 18:36] lesv opened #733 "Datastore Javadoc includes example programs and more..."
It's nice to have around, but a clean API for Javadoc is also very useful.

Ideally, you would have just the API JavaDoc as the Reference Doc, and then if you want another doc w/ examples.

[2016-03-09 18:52] aozarov commented on #733
@lesv I am not sure I follow you.

Are you saying that you would like to take examples out of the javadoc (if so, can you point to some places, so we can discuses in more specifics). Also, what "and more..." is referring to?

[2016-03-09 19:19] lesv commented on #733
I'm talking about: http://googlecloudplatform.github.io/gcloud-java/0.1.5/apidocs/?com/google/gcloud/bigquery/package-summary.html

It would be nice if it were missing the examples and testing classes, so all-classes just had classes the developers can call by including the gcloud-java artifact.

[2016-03-09 22:00] aozarov commented on #733
Ah, I see. the packages with the ".test" suffix are not test but rather Test helpers (help the API users to test their code when using `gcloud-java`). I agree that taking out examples (and maybe even spi) from the main javadoc site would be a good thing.

[2016-03-09 23:38] ajkannan commented on #722
Create and list should be tested on an organization rather than on any specific project.  Because organizations are in alpha, are available to very few users, and we have chosen to not yet support it in our API yet, they should be removed from PR #718.

[2016-03-09 23:52] #722 closed

[2016-03-10 00:00] ajkannan commented on #319
As part of organizations support, we should include organization-specific permissions such as "resourcemanager.organizations.create" and "resourcemanager.organizations.list" (mentioned in #722).

[2016-03-10 02:00] #655 closed

[2016-03-10 02:01] ajkannan opened #735 "Should we rename "identity" as "reference" in javadoc?"
In services that have model objects with "id" as a field, we try to differentiate between that "id" field and the "identity" of that object (the information necessary to reconstruct/access that object via the service).  For example, blobs have "id" fields, but `gcloud-java-storage` also has a `BlobId` class that contains the bucket name, blob name, and generation.

In the javadoc, we use "identity

[2016-03-10 02:46] ajkannan opened #737 "Rename Identity's "id" to "value""
In gcloud-java-core, Identity has an ["id" field](https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-core/src/main/java/com/google/gcloud/Identity.java#L104).  We should change this field's name to something else (like "value") to avoid the repeated terminology.

[2016-03-10 14:40] mziccard commented on #735
I agree that reference is more commonly used but also has a different meaning in the context of programming.

[2016-03-10 15:49] OverclockedTim opened #739 "Possible Gcloud Java bug in signurl?"
So I'm using gcloud storage in a managed VM app and generally loving it, but I've hit something that I really think it is a bug so I wanted to throw it out there and see what people think.

I'm doing a few things with Storage and most of them are working perfectly  Reads work perfectly, writes work perfectly, creates work perfectly.  However, when I attempt to sign a URL like so:

Storage storage

[2016-03-10 16:08] mziccard commented on #739
Hi @OverclockedTim thanks for the report and the kind words:)

What `signUrl` does is looking in the credentials you provided to `StorageOptions` for a private key. If you are authenticated with default credentials you provided no private key (because you don't need to) hence the complaint `Signing key not provided`.

To use `signUrl` when authenticated with default credentials you can pass a priv

[2016-03-10 16:17] OverclockedTim commented on #739
Hi @mziccard  - the method you mentioned does in fact work.  If a private key is always required for this function to succeed, why is it not required in the function signature?  (it is optional)

Also, if a private key is always required, is the example in the comment for signURL (https://github.com/GoogleCloudPlatform/gcloud-java/blob/master/gcloud-java-storage/src/main/java/com/google/gcloud/sto

[2016-03-10 16:34] #698 closed

[2016-03-10 16:34] #671 closed

[2016-03-10 16:41] mziccard commented on #739
If you set the `GOOGLE_DEFAULT_CREDENTIALS` variable to point to a JSON key then default credentials you are using detect and use that JSON key to authenticate. In that case providing a key to `signUrl` is not required, it will detect the one used to authenticate requests and use it. Alternatively you could have created your `StorageOptions` by providing some `ServiceAccountAuthCredentials`:
[code

[2016-03-10 17:08] ajkannan opened #740 "Standardize "maxResults"/"pageSize" option terminology"
We use "pageSize" in Resource Manager and "maxResults" in Storage and BigQuery to mean "max results per page".  We should standardize our terminology.  I slightly prefer the term "pageSize" because a user could want some total number of results that's greater than what the service allows as the pageSize.  As a result, the user might set a "maxResults" field, get less results than they asked for, a

[2016-03-10 17:48] aozarov commented on #739
I think we should make that clear in the `Storage.signUrl` javadoc (credentials for signing is needed and will try to get it from the environment unless explicitly provided).  In both method description and `@throws` tag.

Also, FYI #701 plans to make the signing credentials options a bit more flexible and we should be able to support it on AE.

[2016-03-10 17:59] mziccard commented on #739
I agree, this is tricky indeed. I'm assigning this to myself and I'll take care of adding a better javadoc. I'll post back here the PR if @OverclockedTim wants to give us some feedback on the readability of the javadoc.

[2016-03-10 18:03] OverclockedTim commented on #739
@mziccard - Certainly, if that is helpful, I would be happy to!

[2016-03-10 18:04] OverclockedTim commented on #739
@aozarov Just as a heads up, the thing that I did not understand after reading the javadocs was that the key required for signUrl was different than the credentials required for things like Upload or Read.

[2016-03-11 21:54] mderka commented on #740
+1 for unifying on `pageSize`. It seems more intuitive.

[2016-03-11 23:01] mderka commented on #735
-1 for this rename. I have seen "identity" referring to a rather complex compounded object descriptor which is exactly what we are doing in this case. Thus, it seems natural. I would be struggling with understanding the meaning of a "reference".

[2016-03-12 00:59] aozarov commented on #733
@lesv see last image in #738. Changes will be publicly visible in the next release.
Is there anything else that is not covered or can we close the issue?

[2016-03-12 01:02] ajkannan commented on #735
Alright, closing this as it seems like identity is more popular.

[2016-03-12 01:02] #735 closed

[2016-03-12 05:53] lesv commented on #733
LGTM

[2016-03-12 05:53] #733 closed

[2016-03-14 19:27] #740 closed

[2016-03-14 21:13] #593 closed

[2016-03-14 22:51] #672 closed

[2016-03-15 11:51] mziccard opened #751 "Enhance docs with possible values of Compute operation's .error.errors[].code"
We should figure out possible values that can be assumed by [error.errors[].code](https://cloud.google.com/compute/docs/reference/latest/globalOperations#error.errors.code).
The field is only documented as:

[2016-03-15 13:50] mziccard commented on #739
Closed with #743

[2016-03-15 13:50] #739 closed

[2016-03-15 22:58] #439 closed

[2016-03-15 23:01] ajkannan opened #752 "Improve PR coverage tooling"
The Coveralls plugin version 4.1.0 is very slow, much slower than version 3.1.0.  As a result, we don't get coverage results in a timely fashion when reviewing PRs.  Downgrading the Maven Coveralls version to 3.1.0 seems to make the coverage reports appear faster.  Alternatively, we can see whether using a different coverage analysis tool might be faster than using Cobertura.  One possibility is t

[2016-03-15 23:02] ajkannan commented on #737
Closed via #718

[2016-03-15 23:02] #737 closed

[2016-03-15 23:13] #673 closed

[2016-03-15 23:22] ajkannan commented on #439
Update: IAM policy management is not a separate client library in `gcloud-java`, but rather a set of common classes with per-service functionality to get and set policies.  For example, `gcloud-java-resourcemanager` now supports setting IAM policies on the project level (see #718).

[2016-03-16 01:23] mderka opened #753 "Script for updating main README"
While working on the documentation for the DNS, I am realizing that keeping the snippets, module-specific readme, and main readme consistent is quite difficult and time consuming. I wonder if for the future use, we could benefit from a script which would generate the main readme from the module specific ones. The main readme would look somewhat as follows:

[code]

The module specific one:

[code]

[2016-03-16 03:06] aozarov commented on #753
I think this is a fine idea. I also think this relates to #607.

It would be nice if we had a script to re-create the readme files based on readme templates and providing a way to reference/include code and other readme fragments.

It looks like GitHub is not going to enable that anytime soon, so providing a script that one could trigger manually would probably be good enough.

[2016-03-16 16:38] mziccard commented on #753
This sounds like a very good idea!

[2016-03-16 17:55] garrettjonesgoogle opened #756 "Fix coding style problems in gcloud-pubsub-java"
Output from the style checker:

[code]

[2016-03-16 18:15] ajkannan commented on #467
Once we solve the credentials problem, we should also test IAM functions (getting/setting policies)

[2016-03-16 20:36] mderka opened #757 "Migrate DNS to new common serialization"

[2016-03-16 20:37] mderka commented on #757
PR #754

[2016-03-16 23:07] garrettjonesgoogle commented on #382
This is now supported:

* Retryable codes can be customized (but come with defaults), so that the built in retry system will retry only on those codes
* The ApiCallable chain now has https://github.com/googleapis/gax-java/blob/master/src/main/java/com/google/api/gax/grpc/ExceptionTransformingCallable.java , which will convert a StatusRuntimeException into an ApiException, which holds the knowledge

[2016-03-16 23:07] #382 closed

[2016-03-17 09:54] mziccard opened #759 "Both pageToken and startPageToken are used as list options"
As noticed by @mderka we are using `pageToken` in `resourcemanager` while `startPageToken` in `storage` and `bigquery`. We should probably pick a name and stick to it.

My feeling is that `pageToken` is already clear enough so we can go with it and remove all `startPageToken`. What do you guys think?

[2016-03-17 15:58] ajkannan commented on #759
Nice catch @mderka.  I second the vote for `pageToken`.

[2016-03-17 17:14] garrettjonesgoogle commented on #434
Done in #758.

[2016-03-17 17:14] #434 closed

[2016-03-17 23:39] aozarov commented on #288
I think this was fixed and setting content-type is no longer mandatory in any of the rpc calls.

[2016-03-18 17:10] ajkannan opened #763 "Remove reflection to get App Engine credentials and project ID"
In production App Engine (standard runtime), reflection to get project ID and credentials won't work unless the user depends on appengine-api-1.0-sdk, even though the necessary jars are already provided by the runtime.  To get around this, we should declare a "provided"-scoped dependency on that library in `gcloud-java-core` and use the `AppIdentityService` directly instead of through reflection t

[2016-03-20 22:08] #288 closed

[2016-03-21 16:56] shinfan opened #769 "LocalLoggingHelper uses 8080 as default port."
The test could fail if the port is occupied. LocalLoggingHelper should be able to search for available ports.

[2016-03-21 16:57] ajkannan commented on #763
Update: this won't fix the issue.  The SDK dependency is used to set whether the APIs are available on app engine or not in the app.yaml generated for deployment.  Thus, when using App Engine (standard environment), users should include the SDK dependency in their `pom.xml` files.

I'll keep this issue open because we can still implement the suggestion above for minor performance improvements.

[2016-03-21 16:58] aozarov commented on #769
@shinfan also can you provide a reference to the related gax issue (I assume that the delegate test helper in gax would need to be modified as well?).

[2016-03-21 17:04] shinfan commented on #769
Currently this localLoggingHelper does not use the test helper in gax. The test helper in gax has already implemented the port searching functionality.

[2016-03-21 20:33] garrettjonesgoogle commented on #483
@aozarov , it seems like it might be a good idea to wait until an actual need for this feature is demonstrated, what do you think?

[2016-03-21 20:37] garrettjonesgoogle commented on #396
The code has changed a bit since Arie's comment - ApiUtils is now gone, and ServiceApiSettings now handles the population of the default channel itself. I think Arie's concerns are addressed now.

I'm unsure if we currently have a demonstrated need to expose the gRPC layer through the Api classes - it is already accessible from its own package, which is a dependency.

@aozarov , what are your thou

[2016-03-21 20:40] garrettjonesgoogle commented on #384
I think it would be best to support the streaming as a follow-on feature.

[2016-03-21 20:52] garrettjonesgoogle commented on #18
Out of curiosity, what would define this issue as done?

[2016-03-21 20:56] aozarov commented on #18
So far we treated this kind of an issue as "Add support for service X".

We kept this misleading title for consistency though I think we should stop doing that for future services and be more specific (or use this one for only getting the proposed API approved).

[2016-03-21 21:51] shinfan opened #771 "Move field declarations at the top of the class in gcloud-java-logging"
Fields should be declared at the top of the class, before any method declarations, constructors, initializers or inner classes.

[2016-03-21 23:03] ajkannan commented on #431
Removed the "blocked" label.  While waiting for the issue (linked in the original post) would make the user's experience nicer, we don't want to prolong blockage of ITs for resource manager.

[2016-03-22 17:03] #759 closed

[2016-03-22 22:50] jean-philippe-martin opened #778 "Consider running all examples from a jar file"
context: https://github.com/GoogleCloudPlatform/gcloud-java/pull/714#discussion_r55616331

The Stat example uses a jar (that's its raison d'etre). @aozarov suggests we change the other examples to also use a jar.

[2016-03-23 16:01] mderka opened #779 "Rename class DnsRecord"
This was pointed out by the DNS team.

[2016-03-23 16:02] jgeewax commented on #779
Errr - really? I don't love this... can we debate a bit more first.... ?

[2016-03-23 16:05] mderka commented on #779
Oh, I did not realize this. We certainly can. Both Jacob and @aozarov thought that this was a good idea, and I kind of agree. I am restoring the comment in the doc and pausing here.

[2016-03-23 16:12] mderka commented on #779
I renamed the issue. The final name is to be decided after some discussion. The suggestions are DnsRecordSet and ResourceRecordSet.

[2016-03-23 16:24] ajkannan commented on #779
I slightly prefer DnsRecordSet over ResourceRecordSet, but I'm fine with either.  RecordSet would be shorter; do you think it's a clear enough name?

[2016-03-23 17:46] aozarov commented on #779
The issue is that what we call `DnsRecord` does not actually represent **one** DNS record but rather a set of records (and therefore is called in the underlying service API `ResourceRecordSet`).

BTW, it looks like this long name was adopted by gcloud-python though node choose Record (which I personally think is wrong).

I think the main point is to indicate that it is a set rather than an individ

[2016-03-23 20:28] mderka commented on #779
After some discussion both here and internally, including the input from the DNS team, we will rename to `RecordSet`.

[2016-03-23 23:11] #757 closed

[2016-03-24 20:17] #779 closed

[2016-03-25 16:09] mderka opened #788 "Adjust DNS documentation to treat ChangeRequest at functional object."

[2016-03-25 22:50] jean-philippe-martin opened #790 "Update example documentation with correct APIs to enable (if necessary)"
Check whether we need to tell people to enable both"Google Cloud Storage" and "Google Cloud Storage JSON API". If so, update the docs.

Context: [#714 (comment)](https://github.com/GoogleCloudPlatform/gcloud-java/pull/714#discussion_r57408959).

[2016-03-25 22:54] jean-philippe-martin opened #791 "Decide whether to add another NIO example and split into two example jars"
Discussing #714, we considered adding another example that uses NIO in the "normal" way (via Maven), in addition to the unit tests. The downside of doing that is that we'd have to split the examples into two projects, since if we add a gcloud-java-nio dependency to the examples project then the Stat example will become pointless (its purpose is to show how to add GCS support to a project that does

[2016-03-25 23:17] mziccard opened #792 "Make Operation.targetId of ResourceId type"
Compute's operations have a `targetId` field that right now is of type `String`.
As soon as we mapped all possible resource URLs to identity classes we should change `targetId` to `ResourceId` type. Operation class should become:

[code]

This way all methods in `Compute` will return the corresponding operation, eg:

[code]

[2016-03-25 23:34] mderka commented on #679
Before closing this, add `isDone()` and `reload()`.

[2016-03-26 00:09] mderka opened #793 "Merge dns-alpha to master"
Merge dns-alpha to master after #789 is merged.

[2016-03-26 00:15] #788 closed

[2016-03-26 00:38] ajkannan commented on #793
#789 is in, so I'll do this Monday.  After that I'll cut a release.

[2016-03-29 00:14] ajkannan commented on #793
Closed #793 via #795.

[2016-03-29 00:14] #793 closed

[2016-03-29 03:10] ajkannan opened #803 "Add package-info for dns.testing package"

[2016-03-29 03:12] ajkannan opened #804 "Add javadoc bundling step in RELEASING docs"
This is pertinent when releasing a new module.  An example PR is #802 for DNS.

[2016-03-29 15:57] #803 closed

[2016-03-29 16:47] #804 closed

[2016-03-29 17:27] ajkannan opened #808 "Investigate flaky DNS integration test"
[This build](https://travis-ci.org/GoogleCloudPlatform/gcloud-java/builds/119298316) saw the integration test pass in two modules and fail in the third with the following issue:

[code]

[2016-03-29 19:52] jart opened #809 "NIO: Close channels on FS close"
CloudStorageFileSystem#close() should synchronously close all active channels associated with the file system instance, per NIO documentation.

[2016-03-29 19:58] jart opened #810 "NIO: Further research error code translation"
See `CloudStorageFileSystemProvider#asIOException` method.

[2016-03-29 20:00] jart opened #811 "NIO: Support string file attributes"
Implement these method:

[code]

This hasn't been a priority so far, because a type-safe version of this API exists that offers the exact same functionality. We consider that API better. Bet we need to support this too.

[2016-03-29 20:06] shinfan opened #812 "CreateTopic method in pubsub-v1 should not need bundling"
Users probably do not need bundling for createTopic method since it is rare to create many topics at a time.

[2016-03-29 20:16] jart opened #813 "NIO: Implement directory listing"
Implement these methods:

[code]

[2016-03-29 20:27] shinfan opened #814 "Improve the method names in BackoffParams"
Right now method names only fit for retry settings but not the timeout.