[2017-04-19 20:12] meltsufin commented on #1907
@vam-google Can you also look into the breakdown between heap and off-heap memory usage as part of this?

[2017-04-19 21:12] #1920 closed

[2017-04-19 21:13] #1762 closed

[2017-04-19 22:12] neozwu commented on #1429
With this [PR](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1949), this issue should be resolved.

[2017-04-19 22:12] #1429 closed

[2017-04-19 23:56] garrettjonesgoogle commented on #1840
All deprecated and experimental usages from Datastore/Storage/Logging outside of tests have been removed. The only caveat is that https://github.com/googleapis/gax-java/issues/141 isn't pulled into google-cloud-java through a gax release yet, but it will be pulled in later.

All features in core not used by Datastore/Storage/Logging is marked `@BetaApi`.

All `@Deprecated` things have been removed

[2017-04-19 23:56] #1840 closed

[2017-04-20 08:50] vladimirarevshatyan commented on #1361
issue still exists and it is 2017...

[2017-04-20 09:03] fonzy2013 commented on #1827
thanks!

[2017-04-20 15:06] garrettjonesgoogle opened #1953 "From google-cloud-core split out http and grpc"

[2017-04-20 15:07] garrettjonesgoogle commented on #1953
Prerequisite: https://github.com/googleapis/gax-java/issues/263

[2017-04-20 20:42] vam-google commented on #1907
Profiling is completed.
@meltsufin the results are sent to your mailbox, including the non-heap usage results.

[2017-04-20 22:13] vkedia commented on #1856
Sorry I was on vacation. I will take a look at this next week.

[2017-04-20 22:13] vkedia commented on #1856
@saturnism I think you are right. We should handle any Runtime exception here. I will make that change.

[2017-04-20 22:26] vkedia commented on #1805
@emmanuelbernard @saturnism I think this is a reasonable request. We can add a `.to(Object)` to the ValueBinder class. One hitch here is how to make this method work for arrays since `instanceof` will not tell us the type of the iterable.

[2017-04-20 22:29] vkedia commented on #1804
@saturnism I agree this would be useful. But the problem is, the way Value class is designed currently, it needs to know the type of value. So this is not as straightforward as I had initially thought. I am trying think about how to best support this. Would a method like `toNull(Type type)` be useful?

[2017-04-20 23:47] vam-google commented on #1907
The found memory issues are test-related and are not present in the actual clients code.

[2017-04-21 00:00] shinfan commented on #1578
The license is already fixed. I will take a look at the coverage.

[2017-04-21 03:46] #1855 closed

[2017-04-21 03:46] #1865 closed

[2017-04-21 03:46] #1868 closed

[2017-04-21 03:57] #1503 closed

[2017-04-21 07:39] fonzy2013 commented on #1827
I have now scratched my head long enough to admit failure...
@garrettjonesgoogle what is wrong with my testcode below (it exits after around 10-20 seconds without receiving any messages)?

[code]

[2017-04-21 13:58] garrettjonesgoogle commented on #1565
Re-opening because:

* #1955 was rolled back because integration tests failed
* #1955 only fixed Logging, not the rest of the APIs

[2017-04-21 14:49] sai-pullabhotla opened #1957 "Datastore - call to setNamespace fails under certain Locales"
When the JVM is running under certain locales (e.g. `new Locale("hi", "IN")`, the call to `setNamespace` fails. with the below Exception:

[code]
## Sample Code

[code]
The issue is with the below `Pattern` in the `Validator` class:

[code]
String.format uses the JVM's Locale and MAX_NAMESPACE_LENGTH 100 becomes "१००" (equivalent of 100 in Hindi/India Locale), which makes the Pattern invalid.

[2017-04-21 14:55] frko opened #1958 "update gRPC with a version which solves tcnative collisions"
The issue I am encountering is already fixed in the netty.tcnative fork 2.0.0.Final which is nbot yet included in gRPC master. Upgrading gRPC to fix https://github.com/netty/netty-tcnative/issues/151 and depending on that in google-cloud-java would relieve us from any issues with multiple tcnative usages within the same jvm.

[2017-04-21 15:08] kamalaboulhosn opened #1959 "Inconsistency in credentials specification for CPS Publisher and Subscriber"
Both the Publisher and the Subscriber class state "If no credentials are provided, the [Publisher|Subscriber] will use application default creentials through GoogleCredentials#getApplicationDefault. However, while Subscriber.Builder has a setCredentials method, Publisher.Builder does not. Moreover, from what I can see, Subscriber does not actually use the credentials set via Subscriber.Builder.set

[2017-04-21 18:08] lesv commented on #1578
Cortuba http://googlecloudplatform.github.io/google-cloud-java/0.12.0/cobertura/index.html still appears broken.  (I meant that when I looked at the maven docs vs. what we have in the pom.xml, I couldn't find anything that looked similar -- ie. it all needs to be redone.

[2017-04-21 18:53] vkedia commented on #1871
Closed by PR #1952

[2017-04-21 18:53] #1871 closed

[2017-04-21 19:35] frankyn opened #1962 "[Storage] Question about download object sample"
Hi,

I'm trying to understand why the [download object](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/storage/StorageExample.java#L361-L390) sample has a condition for an object size of 1 mb and larger objects. Why not just simplify the simplify it down to:

[code]

Thank you.

[2017-04-21 22:02] jehrlich opened #1965 "null pointer on startup"
Following instructions in the README, I added
`libraryDependencies += "com.google.cloud" % "google-cloud-storage" % "0.13.0-beta"` to my build.sbt. This causes a null pointer exception on startup:

java.lang.NullPointerException
	at io.netty.channel.group.DefaultChannelGroup.add(DefaultChannelGroup.java:146)
	at play.core.server.NettyServer.bind(NettyServer.scala:140)
	at play.core.server.NettySer

[2017-04-22 00:56] garrettjonesgoogle commented on #1953
Done in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1968 .

[2017-04-22 00:56] #1953 closed

[2017-04-22 02:09] garrettjonesgoogle commented on #1573
The release-blocking aspect of this issue is to confirm that Guava can be shaded, and that there is no Guava on the surface of any package we own in the stack (api-common-java, gax-java, google-cloud-java). The actual shading support can come after 1.0.

[2017-04-22 03:17] was2 commented on #1959
I am seeing the same behavior with Subscriber.Builder.setCrecentials - even when valid creds are provided, I get an error complaining that app default credentials are not available. This appears to have started in 0.13.0.

[2017-04-22 14:53] autodidacticon opened #1972 "Question: Pubsub: Publish without any subscriptions"
When publishing messages to Pubsub, if no subscriptions are present, are the messages lost?

[2017-04-22 14:55] #1972 closed

[2017-04-22 14:55] autodidacticon commented on #1972
https://cloud.google.com/pubsub/docs/faq#nosub

[2017-04-22 17:22] fkorotkov opened #1973 "Support Pub/Sub Emulator"
It seems right now `google-cloud-pubsub` doesn't support gcloud emulator. At least I'm not able to configure it for Pub/Sub even though I managed to use an emulator with `google-cloud-datastore`. I think it is related to https://github.com/GoogleCloudPlatform/google-cloud-datastore/issues/114.

Anyways, when I'm trying to create a subscriber using a channel provider with no credentials. Here are s

[2017-04-23 22:41] garrettjonesgoogle commented on #1959
gRPC has a way to provide credentials through `CallOptions`, which is currently marked with `@ExperimentalApi`, but that will be removed soon. This enables us to change how credentials are provided to GAPIC clients: we could move `CredentialsProvider` from`ChannelProvider` up to `ClientSettings` (so that it is a sibling of `ChannelProvider`). This would make the code to provide custom credentials

[2017-04-24 01:30] pongad commented on #1959
This was missed when we migrate from `ChannelBuilder` to `ChannelProvider`. The method `setCredentials` weren't removed but calling it is essentially a noop.

@garrettjonesgoogle My understanding of credentials is that we put an interceptor into the channel, and the interceptor insert credentials into calls. If the `CredentialsProvider` is a sibling of the `ChannelProvider`, how does the `ChannelP

[2017-04-24 02:26] sai-pullabhotla opened #1974 "Datastore - Timestamp Precision"
With the latest changes made to the Datastore API where DateTimeValue/DateTime have been replaced by TimestampValue and Timestamp - I have a few questions on the Timestamp precision:

What is the precision of DATETIME/TIMESTAMP data type in the Cloud Datastore? [This](https://cloud.google.com/datastore/docs/concepts/entities#date_and_time) document says it is milliseconds. Where as this [GQL Refer

[2017-04-24 02:58] garrettjonesgoogle commented on #1959
@pongad we would no longer use an interceptor; we would add a new `UnaryCallable` in the stack which adds the credentials to `CallOptions` before calling the next `UnaryCallable`. In that way, the credentials and the channel are decoupled.

I agree that Subscriber/Publisher should use the same mechanism as GAPIC clients.

[2017-04-24 03:41] pongad commented on #1959
Ah OK. I assume this new layer hasn't been written yet? I'll make a PR to remove this old code. When the layer is ready, we can migrate en masse.

[2017-04-24 04:01] garrettjonesgoogle commented on #1959
@pongad correct, support for this is not written yet into GAX or toolkit.

[2017-04-24 16:09] neozwu commented on #1595
Withi this PR #1961, NPE error should be fixed.

[2017-04-24 16:09] #1595 closed

[2017-04-24 16:11] neozwu commented on #1565
WIth this fix (#1961) the NPE error for Logging should be fixed. New Pubsub shouldn't have this issue.

[2017-04-24 16:11] #1565 closed

[2017-04-24 16:18] neozwu commented on #1854
The example code is now updated.

[2017-04-24 16:18] #1854 closed

[2017-04-24 18:16] joelostlund opened #1978 "Google cloud logging being published to wrong maven path"
On the read me it stated that you can resolve the dependency from the following path:

[code]
In fact, this will return an error when compiling since it stills publishes to the old path on maven central here:

**https://repo1.maven.org/maven2/com/Goggl/butt/Goggl-butt-logging/1.0.0-rc2/**

So the following works:

[code]

[2017-04-24 18:19] garrettjonesgoogle commented on #1978
Can you point us to the file where Goggl-butt-logging is referenced?

[2017-04-24 18:25] arouzrokh commented on #350
Team, I'm the Java PM here from GCP. Thank you for all the feedback on Objectify. I am working on this and will update you soon with a more clear status report and roadmap very soon. Thank you for your patience.

[2017-04-24 18:27] #1978 closed

[2017-04-24 18:30] joelostlund commented on #1978
Never mind. Someone had installed a plugin that renamed words for me in my browser, from google to googl and logging to butt. Fun joke... Made my day anyway 🤣

[2017-04-24 21:23] rouzwawi commented on #1525
Any update on this issue?

We're looking to use the high-level `BigQuery` client to read labels for datasets. But neither `bigquery.listDatasets(...)` nor `bigquery.getDataset(...)` propagate the labels field from low level protobuf types up to `Dataset`.

I could open a PR as it seems to be a simple fix.

[2017-04-24 23:00] autodidacticon opened #1981 "Pubsub Question: Manual Acknowledgement outside of MessageReceiver"
I'm attempting to ingest data from PubSub via Apache Spark. Without getting into details, I would like to acknowledge messages outside of the `MessageReceiver` interface. I am not seeing any public methods that acknowledge messages outside of the `MessageReceiver` interface.
https://cloud.google.com/pubsub/docs/pull

I see that a REST endpoint exists here:
https://cloud.google.com/pubsub/docs/refe

[2017-04-24 23:26] garrettjonesgoogle commented on #1430
Note added in README about non-support of Alpine in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1430 .

@OlivierBoucher could you file a separate issue requesting support for Alpine? This particular issue has become a little messy.

[2017-04-24 23:26] #1430 closed

[2017-04-24 23:29] garrettjonesgoogle commented on #1801
Done in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1982 .

[2017-04-24 23:29] #1801 closed

[2017-04-25 01:47] danielcompton opened #1986 "Spanner service never completes a closeAsync when there is an unused ReadContext"
I noticed after working on some code that my Spanner service was throwing a TimeoutException after calling `closeAsync` on it with a timeout on the `get`. I tracked it down to a stray ReadContext that I created in my code but never consumed or closed. If a timeout isn't set when dereferencing the future then it doesn't seem to ever return.

This is a minimal example in Clojure, but you should be a

[2017-04-25 13:40] jehrlich commented on #1965
This link https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-storage#google-cloud-java-client-for-storage recommends a newer SDK:

I had to clean my compiler cache, but after doing that, 1.0.0-rc2 compiles, at least. README needs updating!

[2017-04-25 14:34] garrettjonesgoogle commented on #1924
This was fixed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1926 .

[2017-04-25 14:34] #1924 closed

[2017-04-25 14:40] garrettjonesgoogle opened #1988 "Convert version update process to gradle"
The current version update script is in bash and is hard to maintain. Currently it has a few bugs:

- it changes the version of the grpc dependency
- it doesn't update the versions of core-http or core-grpc
- it doesn't update the versions of modules under google-cloud-testing

Instead of continuing to maintain this in bash, we should convert it to gradle as a partial implementation of https://git

[2017-04-25 15:32] autodidacticon commented on #1981
Upon deeper inspection, it doesnt look like this use case is supported within this API. It appears that `AckId` is not visible within the `MessageReceiver` or `AckReplyConsumer` interfaces. Without access to this id it does not appear that acknowledgement outside of the `receiveMessage` method is possible.

[2017-04-25 16:39] chadbr commented on #1918
Is there any way to track what's going on with these?

We're trying to use both the PubSub and Storage clients from Flex in our environment and both suffer from the ThreadManager issue.

Thanks

[2017-04-25 17:29] shinfan commented on #1578
This issue should be fixed with next GCJ release

[2017-04-25 19:22] #1561 closed

[2017-04-25 19:31] neozwu commented on #1561
I have added some javadocs to emphasize that `setBinding()` and `addBinding()` methods only add **one** new binding per call regardless of how many arguments are passed in. If multiple arguments are passed to these methods, a `ListValue` will be used for the binding.  Based on the [gql reference](https://cloud.google.com/datastore/docs/reference/gql_reference), it seems the "where clause" doesn't

[2017-04-25 20:39] bmenasha opened #1994 "LoggingHandler throws exception on GAE Flexible "Resource gae_app has extra label: instance_name""
Using the latest Logging Hander fails on App Engine Flexible because we are supplying the InstanceName label twice, likely one of them should be InstanceId:

From MonitoredResourceUtil.java

Resource.GaeAppFlex.getKey(),
 new Label[] {
   Label.InstanceName,
   Label.ModuleId,
   Label.VersionId,
   Label.InstanceName,
   Label.Zone
 })

This results in the error on GAE Flexible when using the Log

[2017-04-25 20:45] michaelbausor commented on #1573
Tested that guava can be shaded by successfully running integration tests against a shaded artifact with Guava 12 loaded. Can also confirm that Guava has been removed from the surface of api-common, gax-java and google-cloud-java

[2017-04-25 21:03] garrettjonesgoogle commented on #1791
Completed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1992

[2017-04-25 21:03] #1791 closed

[2017-04-25 21:49] #859 closed

[2017-04-25 21:49] garrettjonesgoogle commented on #1735
Switching to Post GA P1 - it doesn't affect the surface

[2017-04-25 21:52] garrettjonesgoogle commented on #1578
http://googlecloudplatform.github.io/google-cloud-java/0.17.0/cobertura/index.html is working. Resolving issue.

[2017-04-25 21:52] #1578 closed

[2017-04-25 21:59] shinfan commented on #1478
Fixed with https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1983

[2017-04-25 21:59] #1478 closed

[2017-04-25 22:07] garrettjonesgoogle commented on #1466
Removed release-blocking label, because this applies to APIs that aren't going 1.0.0 in google-cloud-java.

[2017-04-25 22:33] shinfan opened #1999 "project.properties contains properties from settings.xml"
We probably cannot use the Maven Properties Plugin for this purpose, instead we could do something like this:

[code]

[2017-04-25 23:17] jean-philippe-martin commented on #859
Excellent, thank you for doing this!

May I also kindly ask someone to review my LocalStorageService bugfix that's been waiting for review for about a week? It's #1935.

[2017-04-25 23:20] jean-philippe-martin commented on #684
I believe this issue is related to #1993, which was just closed. We now expose a "LocalStorageHelper" that offers an in-memory emulator of (the core parts of) the storage API.

[2017-04-26 00:01] salrashid123 opened #2000 "Add Canonicalized_Extension_Headers for signedURL builder"
Cloud Storage SignedURLs allows for custom headers you can set to define metadata:

* [https://cloud.google.com/storage/docs/access-control/signed-urls#string-components](https://cloud.google.com/storage/docs/access-control/signed-urls#string-components)

It doesn't look like you can add this in now during signURL construction:

* [StorageImpl.java](https://github.com/GoogleCloudPlatform/google-cl

[2017-04-26 02:01] gitCopyPaster commented on #1361
If you are expecting the issue to be fixed at some point, I wouldn't hold your breath. Please try cloning @mziccard's [example](https://github.com/mziccard/android-google-cloud-translate) from his post in November 2016 and verifying that there is an issue that still exists.

[2017-04-26 04:32] #1999 closed

[2017-04-26 16:09] garrettjonesgoogle commented on #1883
We should switch to just using a path with /latest/ instead of /${version}/.

[2017-04-26 18:53] bmenasha commented on #1994
Thanks for the correction Jisha, but I was mistaken by the cause.

We need to remove InstanceName and InstanceId from the resource labels of the GaeAppFlex resource.  Please see the "gae_app" resource type here: https://cloud.google.com/monitoring/api/resources  supplying labels not in this list for a resource will generate the exception shown in this issue.

I think this is the change we want.

@

[2017-04-26 18:54] bmenasha commented on #1994
That code didn't come through properly... but essentially remove   Label.InstanceId, and Label.InstanceName for the GaeAppFlex resource type.

Thanks

[2017-04-26 19:09] bmenasha opened #2009 "We are writing "trace_id" label, but when searching for request log lines, Stackdriver sends requests looking for "appengine.googleapis.com/trace_id"."
The com.google.cloud.logging.TraceLoggingEnhancer class adds the label "trace_id" , but when looking up log lines for the selected request by trace ID the Stackdriver wen UI sends a query for "appengine.googleapis.com/trace_id" .   The mismatch causes request logs to NOT show when selecting the log line from the nginx.request  request log.

Can we resolve this discrepancy by using "appengine.googl

[2017-04-26 19:52] kir-titievsky opened #2010 "Javadoc links to gRPC resources broken"
See http://googlecloudplatform.github.io/google-cloud-java/0.17.1/apidocs/com/google/cloud/pubsub/spi/v1/SubscriptionAdminClient.html

Click on "Snapshot" or "Subscription" types in the "method summary" and get 404s.  Note that these types are also not listed in the top level hierarchy so finding is a broken UX.  This also seems to be a systematic problem beyond Pub/Sub based on offline discussion

[2017-04-27 09:27] polleyg opened #2012 ""maximumBillingTier" missing in BigQuery"
The Java client library is missing the `maximumBillingTier` from the BigQuery rest API. There's no way in the SDK to set it on a per-query level for a query job configuration.

See here --> http://stackoverflow.com/questions/43647678/where-is-the-option-to-set-the-bigquery-maximum-billing-tier-in-the-new-java-sdk

And here --> https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#configura

[2017-04-27 16:10] gregw opened #2016 "Wrong version in top level pom"
The top level pom has version of 0.17.2-alpha-SNAPSHOT, while all the module poms are at 1.0.1-SNAPSHOT
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/pom.xml#L7

[2017-04-27 16:34] garrettjonesgoogle commented on #2016
This is intentional. Only some module poms are at 1.0.1-SNAPSHOT: core, core-http, core-grpc, datastore, logging, and storage. Everything else is 0.17.2-{alpha|beta}-SNAPSHOT.

[2017-04-27 16:53] gregw commented on #2016
Ah OK - caused some minor confusion, but now that I know....

[2017-04-27 16:53] #2016 closed

[2017-04-27 22:12] vam-google commented on #1918
This is weird. The reported ThreadManager issue is for Java8 Standard, not for Java Flex. Can you please post the stacktrace of the exception your receive? Is it similar to https://gist.github.com/vam-google/862b1dc2c1badf0e675ef04a552ac872#file-gae_std_java8_test_failure___threadmanager-txt?

[2017-04-28 20:27] aparod commented on #1661
Any update here?  It seems Google is discouraging use of [the older Pub/Sub library](https://developers.google.com/api-client-library/java/apis/pubsub/v1) but I cannot migrate away from it without a way to perform synchronous pulls.

[2017-04-28 21:13] omaray commented on #1883
Yes, once the path to the javadoc has 'latest' in it, we'll be able to make the updates.

[2017-04-28 21:42] garrettjonesgoogle opened #2018 "Create a linter for correct g-c-j usage"
We should create a linter that can detect usage of google-cloud-java that is problematic. Specifically, some users will want to make sure they don't use any `@BetaApi` features, so the linter should support detection of that in user code.

[2017-04-28 21:43] jabubake commented on #2009
FYI, https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2011 addresses this. I've decided to take up the possible renaming to "trace_id" in a separate CL.

[2017-04-28 22:38] #1466 closed

[2017-04-28 22:45] #1959 closed

[2017-04-28 22:48] garrettjonesgoogle commented on #2010
cc @michaelbausor this is a result of splitting the packages.

[2017-04-28 22:53] garrettjonesgoogle commented on #1525
@rouzwawi we would welcome your contribution for this :-)

[2017-04-29 00:37] garrettjonesgoogle commented on #1827
@pongad could you take a look?

[2017-04-29 07:39] lesv opened #2020 "1.0.0 Datastore & 0.17.1-alpha don't play well together"
In my pom.xml:
[code]
Errors:

[ERROR] Failed to execute goal on project flexible-pubsub:
Could not resolve dependencies for project
com.example.flexible:flexible-pubsub:war:1.0-SNAPSHOT: Failed to collect dependencies for com.example.flexible:flexible-pubsub:war:1.0-SNAPSHOT: Could not resolve version conflict among [com.google.cloud:google-cloud-pubsub:jar:0.17.1-alpha -> com.google.cloud:google

[2017-04-29 15:11] lesv commented on #2020
After sleeping on it, I realized that this isn't as big a deal as I was thinking.  (we just need to tell people you can't mix GA and non-GA.  We should talk about this however.

[2017-04-29 15:20] lesv commented on #2020
Argh - You haven't published a 0.17.1-alpha for Datastore.  Now, I'm just unhappy.  I'll try to use the big single jar, but this doesn't work.

[2017-04-29 15:25] lesv commented on #2020
So, I tried just including the big cloud jar, no joy. :(
[code]
[ERROR] Failed to execute goal on project flexible-pubsub: Could not resolve dependencies for project com.example.flexible:flexible-pubsub:war:1.0-SNAPSHOT: Failed to collect dependencies for com.example.flexible:flexible-pubsub:war:1.0-SNAPSHOT: Could not resolve version conflict among [com.google.cloud:google-cloud:jar:0.17.1-alpha

[2017-04-29 15:33] lesv opened #2021 "Single integrated Jar doesn't work. Diamond Dependency issue"
See #2020
Since we can't include 1.0.0 Datastore and 0.17.1-alpha pubsub, I tried replacing with the integrated JAR.  It fails.
[code]
[ERROR] Failed to execute goal on project flexible-pubsub: Could not resolve dependencies for project com.example.flexible:flexible-pubsub:war:1.0-SNAPSHOT: Failed to collect dependencies for com.example.flexible:flexible-pubsub:war:1.0-SNAPSHOT: Could not resolve

[2017-04-29 15:33] lesv commented on #2021
@omaray FYI

[2017-04-30 04:59] garrettjonesgoogle commented on #2020
So it looks like the mess is caused by com.google.cloud.datastore:datastore-v1-protos:jar:1.3.0 depending on com.google.api.grpc:grpc-google-common-protos:jar:0.1.0 . If we could advance the grpc-google-common-protos dependency to 0.1.9, everything would be sane. Maybe you could override the version on your side for the moment?

[2017-04-30 05:09] vam-google commented on #2020
Adding this this to the pom.xml should help:
[code]

As Garret mentioned, this is caused by the fact that datastore transitively is dependent on grpc-google-comon-protos 0.1.0, while the whole project is using 1.2.

This problem exists only for currently released google-cloud-datastore-1.0.0 and for google-clou-0.17.1-alpha (as it depends on datastore 1.0.0). The rest of the clients should work fi

[2017-04-30 05:16] vam-google commented on #2021
Please check https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2020#issuecomment-298211790 for a workaround.

[2017-05-01 00:21] pongad commented on #1981
@autodidacticon Currently, `MessageReceiver` is the only way to receive messages, but it might work for your use case. It is possible to save the `PubsubMessage` and the `AckReplyConsumer` somewhere, then call `ackReplyConsumer.ack()` later, outside of the call to `receiveMessage`. While you cannot get the message ID, you have a "handle" to it. Does this fit your use case?

[2017-05-01 00:27] pongad commented on #1974
@jabubake Can you help with discrepancies between the two linked docs (both on Google cloud website)? Then we should clarify in docs that the API does not return the full nanosec precision supported by `Timestamp`.

[2017-05-01 00:53] autodidacticon commented on #1981
@pongad Yes, at a high level that approach would work. I've run into serialization issues on the spark side (for some reason I end up having to serialize the closure of the `AckReplyConsumer` instance) but that does not seem pertinent here.

[2017-05-01 00:53] #1981 closed

[2017-05-01 02:58] pongad commented on #1973
I can replicate this on my desktop; it looks like a bug.

This seems to work correctly however:
[code]

@tcoffee-google Since you're working on auth-related stuff, could you take a look?

[2017-05-01 16:40] fkorotkov commented on #1973
@pongad @tcoffee-google thank you for taking a look!

I've created a reproducible example if you'll need to: https://github.com/fkorotkov/snippets/commit/a0dd999135e753b78d2b36ce11623b162e620dcc

Also interesting that if I change pubsub version to `0.17.1-alpha` the test case simply hangs. I can see that a container is running through `docker ps` and by getting logs via `docekr logs CONTAINER_ID`

[2017-05-01 16:51] lesv commented on #2020
Yep - totally understand, just don't want to put that in a bunch of sample code. :(

[2017-05-01 18:27] fkorotkov opened #2024 "Integration Tests with Emulators"
[Testcontainers project](https://github.com/testcontainers/testcontainers-java) allows to use services running in containers to be used during testing. It will be great to add such tests for available emulators using [google/cloud-sdk](https://hub.docker.com/r/google/cloud-sdk/) container.

I have a proof of concept [here](https://github.com/fkorotkov/snippets/tree/master/testcontainers/gcloud) th

[2017-05-01 21:42] vkedia commented on #1986
#2026 closes this among other things.

[2017-05-01 21:43] vkedia commented on #1856
#2026 should fix the issue with exception handling.

[2017-05-01 21:43] vkedia commented on #1802
I believe this is done. Though I also sent a #2026 which removes the need for future completely by making close a blocking call.

[2017-05-01 21:44] vkedia commented on #1802
Closed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1960

[2017-05-01 21:44] #1802 closed

[2017-05-02 03:04] pongad commented on #1973
@fkorotkov I can also reproduce that. I suspect that's actually gRPC retrying a connection; `NoCredentials` is probably causing an infinite retry behavior somehow.

The fix I added above seems to solve both issues though. Is it good enough to unblock you for now?

[2017-05-02 05:55] fkorotkov commented on #1973
@pongad yeah, works perfectly for me https://github.com/fkorotkov/snippets/commit/d310bf967fb79e2e5617ede076051c3cd7e4e336. Thank you very much! Going to incorporate it into the main app(using an in-memory in-house implementation at the moment).

[2017-05-02 16:43] garrettjonesgoogle commented on #2021
For some reason, the `google-cloud` artifact seemed to build and get released fine. We need to figure out how to make it fail in this scenario.

[2017-05-02 16:47] vam-google commented on #2021
It did not fail, because we have this in the google-cloud-java/pom.xml:
[code]

Removing those lines will make the build fail.

[2017-05-02 18:31] #2010 closed

[2017-05-02 20:01] kamalaboulhosn opened #2028 "Add a ChannelProvider for use with the emulator"
The gcloud Pub/Sub emulator require a Channel that has negotiationType set to NegotiationType.PLAINTEXT.  That means one needs to create a ChannelProvider that returns Channels with this set. It would be useful if the client library provided the ability to set this on a ChannelProvider in the library already or a builder that could be used to generate one easily.

[2017-05-02 22:20] pongad commented on #2021
What @vam-google said makes sense. What's the "proper fix" for this though? I imagine it is to update google-cloud-datastore package to depend on grpc:1.2.0. Datastore is currently at 1.0.0, do we need to move this to 1.1.0?

[2017-05-02 22:40] garrettjonesgoogle commented on #2021
I would say 1.0.1.

[2017-05-02 22:53] lesv commented on #2021
1.0.1 would be good.

On Tue, May 2, 2017 at 3:40 PM, Garrett Jones <notifications@github.com>
wrote:

--

*  •  **Les Vogel*
*  •  *Cloud Developer Relations
*  •  *lesv@google.com
*  •  *+1-4 <%2B1-650-338-7103>08-676-7023

[2017-05-03 03:10] pongad opened #2030 "pubsub: Subscriber should have a default control flow"
Currently the default is unlimited, we should limit it so we don't OOM our users.

[2017-05-03 03:41] pongad commented on #2028
Duplicate of #1973

[2017-05-03 03:41] #2028 closed

[2017-05-03 04:21] pongad commented on #1973
This can be fixed by adding `setPlainText` to `InstantiatingChannelProvider` but it would have to call [`ManagedChannelBuilder::usePlainText`](http://www.grpc.io/grpc-java/javadoc/io/grpc/ManagedChannelBuilder.html#usePlaintext-boolean-) which is beta API.

@garrettjonesgoogle ?

[2017-05-03 04:47] pongad commented on #1974
I synced with @jabubake offline. There are differences between the query language and the Datastore service.

The query language itself supports microsec-precision. However, the Datastore service only supports up to millisec-precision, so when the value "goes through" the service, only millisecs are retained. The same happens to the data types you mentioned.

Jisha can correct me if I misunderstan

[2017-05-03 11:41] fonzy2013 commented on #1827
@pongad ^^

[2017-05-03 11:46] fonzy2013 commented on #1729
Sorry for the late reply. In our case we want the message to be redelivered after some time due to reasons of backing off from other systems that in rare occasions need extra time to be ready for the requests.

That means we need the possibility but not always.

[2017-05-03 16:48] emmanuelbernard commented on #1804
@vkedia hello. I think my main pain point was to guess the type, not to call `to(null)`. So I don't think your proposal `toNull(Type type)` really solves the core problem.
But if you really really cannot guess the type on your end and absolutely need one, then your method proposal is at least more generic than the down casting in `.to((String) null)`.

[2017-05-03 16:52] emmanuelbernard commented on #1805
@vkedia right. In that case, you could make  a pair of explicitly named methods like `toObject(Object)` `toIterable(Iterable value, Class<?> type)`.

[2017-05-03 19:02] chadbr commented on #1918
yes - very similar:

From: Chad Brockman <chadbr@slb.com>
Date: Wednesday, February 15, 2017 at 7:01 PM
To: "java8-on-gae@googlegroups.com" <java8-on-gae@googlegroups.com>
Subject: PubSub authentication failure?

One of our cron based services is failing with PubSub authentication failures… It looks like there is a missing native call for memcache?

Any ideas welcome – Thanks, Chad

Callstack from

[2017-05-03 19:02] chadbr commented on #1918
@vam-google sorry for the delay - I missed the notification...

[2017-05-03 21:32] buddhapuneeth opened #2031 "getLabelAnnotationsList is returning empty map"
## In which file did you encounter the issue?
java-docs-samples/vision/cloud-client/src/main/java/com/example/vision/QuickstartSample.java

### Did you change the file? If so, how?

no. running on Tomcat 7 in java 1.8

## Describe the issue

EntityAnnotation annotation : res.getLabelAnnotationsList()
there are no items in that. It was working fine some time back, now stopped working. I'm using:

[2017-05-04 03:57] pongad commented on #1729
If the situation is rare, would it be possible for you to catch the exception and use a `ScheduledExecutorService`? It's a little roundabout but probably works for your use case.

[code]

[2017-05-04 04:00] pongad commented on #1827
@fonzy2013 Sorry I didn't see this. Which version are you using? `Subscriber` previously had a bug where it might deadlock an executor. I think this is what happened here.

The bug was fixed in #1915. The newest version (0.17.1-alpha) should definitely have this fix in.

[2017-05-04 04:24] pongad commented on #1751
It's probably easiest if you have `GOOGLE_APPLICATION_CREDENTIALS` environment variable pointed to the json file. If that's not possible, this should work:

[code]

I'll close the issue for now, but please reopen if the problem persists.

[2017-05-04 13:14] rborer commented on #2012
This parameter does not seems to be available from the [BigQuery api services library](https://developers.google.com/resources/api-libraries/documentation/bigquery/v2/java/latest/com/google/api/services/bigquery/model/QueryRequest.html) so I couldn't figure out a way to pass it from here.

@garrettjonesgoogle what is the process to add this parameter from the api services library? Once there, I ca

[2017-05-04 16:20] garrettjonesgoogle commented on #1973
I would prefer not to add the dependency on the beta API within our non-test code (`InstantiatingChannelProvider`).

[2017-05-04 17:55] garrettjonesgoogle commented on #2020
I have filed https://github.com/GoogleCloudPlatform/google-cloud-datastore/issues/170 to get datastore-v1-protos updated.

[2017-05-04 22:12] garrettjonesgoogle commented on #1788
@vkedia could you check over the latest dependency tree to see how it looks?

[2017-05-04 22:21] garrettjonesgoogle opened #2034 "Move credential provider up from ChannelProvider to ClientSettings"
Currently in GAPIC clients, credentials have to be set on the channel. We should improve the credential customization experience because it's now possible to add credentials on a call-by-call basis in a non-experimental way through `CallOptions` in grpc. We should do the following:

- [x] Create a future callable type in gax which adds the credentials to the call
- [x] Add credentials provider to

[2017-05-04 23:08] garrettjonesgoogle commented on #2020
This is fixed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2029 . We will track the updating of datastore-v1-protos separately.

[2017-05-04 23:08] #2020 closed

[2017-05-04 23:08] tswast commented on #1536
I'm seeing some broken links.
http://googlecloudplatform.github.io/google-cloud-java/0.16.0/apidocs/com/google/cloud/pubsub/spi/v1/Subscriber.html

links to

http://googleapis.github.io/googleapis/java/grpc-google-cloud-pubsub-v1/0.1.9/apidocs/com/google/pubsub/v1/SubscriptionName.html?is-external=true

which does not exist.

[2017-05-04 23:08] garrettjonesgoogle commented on #2021
This is fixed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2029 .

[2017-05-04 23:08] #2021 closed

[2017-05-04 23:11] garrettjonesgoogle commented on #1536
@tswast This is fixed in 0.17.1 & later.

[2017-05-04 23:12] tswast commented on #1536
Okay. I think I need to send out another docs CL to update some old links.

[2017-05-04 23:12] tswast commented on #1536
https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1883 can't come soon enough.

[2017-05-04 23:13] garrettjonesgoogle commented on #2012
@saicheems is this just pending a refresh?

[2017-05-04 23:32] saicheems commented on #2012
I checked, the Java client library is up to date.

In the discovery file, `maximumBillingTier` is a property of the `JobConfigurationQuery` schema.

That schema's definition is here in the Google API Java client:
https://developers.google.com/resources/api-libraries/documentation/bigquery/v2/java/latest/com/google/api/services/bigquery/model/JobConfigurationQuery.html#setMaximumBillingTier(java.la

[2017-05-04 23:35] saicheems commented on #2012
The nesting is `Job`->`JobConfiguration`->`JobConfigurationQuery`->`setMaximumBillingTier`

[2017-05-04 23:38] saicheems commented on #2012
@polleyg I believe it's still missing from gcloud-java though, it'll have to be added, I was referring to the old Java client library above.

[2017-05-04 23:40] polleyg commented on #2012
@saicheems yeah, I know. That what this issue is all about. It's in the old lib, but not the new one ;-)

[2017-05-04 23:42] polleyg commented on #2012
@rborer - [here](https://developers.google.com/resources/api-libraries/documentation/bigquery/v2/java/latest/com/google/api/services/bigquery/model/JobConfigurationQuery.html#setMaximumBillingTier(java.lang.Integer)) it is in the old lib

[2017-05-05 04:53] rborer commented on #2012
@polleyg thanks for the link, I'll spend a bit of time to dig down in the code with this new information. Anyway, I'm being a bit confused now, is this "old lib" what is used by the BigQuery client internally?

[2017-05-05 07:26] fonzy2013 commented on #1729
ok, thanks

[2017-05-05 21:01] sai-pullabhotla commented on #1974
Just a quick note - I was able to store and retrieve microseconds from Datastore using the Java API, so I believe the Datastore does support up to micros. However, the GCD Console always hows millis precision.

[2017-05-05 21:01] pongad commented on #1729
I'll close this for now. Please reopen if you have more questions.

[2017-05-05 21:01] #1729 closed

[2017-05-05 21:16] vam-google commented on #1962
This is to demonstrate the recommended way of handling [small objects](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/storage/StorageExample.java#L370) and handling [large objects](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/stor

[2017-05-05 21:23] vam-google commented on #1907
Closing as the memory issues are caused by testing code only.

[2017-05-05 21:23] #1907 closed

[2017-05-05 21:45] vam-google commented on #1850
Completed as part of https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2017

Closing.

[2017-05-05 21:45] #1850 closed

[2017-05-05 22:21] vam-google commented on #1957
Merged.  The sample code (see above) now passes without errors. Closing.

[2017-05-05 22:21] #1957 closed

[2017-05-08 07:13] fonzy2013 commented on #1827
I can give it a whirl. I was using the version which was latest at the time.

[2017-05-08 07:27] fonzy2013 commented on #1827
@pongad, it still didn't work.
My complete code is pasted below for convinience:
[code]

[2017-05-08 16:55] saturnism opened #2039 "Add a README section on supported runtime environments & workarounds"
gRPC currently don't work well in embedded Tomcat or embedded Netty envs. Document what we know works and don't work and work arounds.

Specifically, if someone uses the client lib in Spring Boot, they need to exclude tomcat starter and use jetty starter instead.

Corollary to this, in each module's README, refer to this section for supported envs.

[2017-05-08 17:58] shinfan commented on #2031
For now gRPC does not support Tomcat well. We should update the doc of supported env https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2039

[2017-05-08 18:07] shinfan commented on #2024
I don't think google-cloud-java contains any source code of gcloud emulators.

[2017-05-08 18:17] shinfan commented on #1965
Closing this issue since the the new README now recommends 1.0.1.

[2017-05-08 18:17] #1965 closed

[2017-05-08 18:18] fkorotkov commented on #2024
Right, @shinfan. But wouldn't it be great to verify `google-cloud-java` works properly with emulators to catch problems like #1973?

[2017-05-08 18:25] shinfan commented on #2024
Oh I sorry I misunderstood. I think it makes sense to make sure gcloud work with emulators.

[2017-05-08 18:28] shinfan commented on #1962
@frankyn Does @vam-google answer your question? (If yes I will close this issue)

[2017-05-08 18:31] shinfan commented on #1925
This is duplicate with https://github.com/GoogleCloudPlatform/java-docs-samples/issues/603

[2017-05-08 18:31] #1925 closed

[2017-05-08 18:39] shinfan commented on #1936
Excluding the conflicting dependencies looks appropriate to me.

[2017-05-08 18:39] #1936 closed

[2017-05-08 19:39] frankyn commented on #1962
Thanks @vam-google, is there reason for using exactly 1mb as the threshold?

[2017-05-08 20:36] vam-google commented on #1962
I don't think so, it is just a "rasonable" round number, good for examples. Strictly speaking, it is not even a 1MB, as it is 1,000,000, while 1MB = 2^20 = 1,048,576.

[2017-05-08 21:12] shinfan commented on #1881
I don't think Netty supports ARM. We probably need to update README files of the supported env.

[2017-05-08 21:16] frankyn commented on #1962
Mebibyte versus Megabyte. Thank you! I just wanted to make sure, because it's a magic number in the sample code and can be confusing.

Is there a rational to use the magic number `1_000_000` instead of a variable?

[2017-05-08 21:26] shinfan commented on #1923
Closing this issue since it is caused by poor connectivity.

[2017-05-08 21:26] #1923 closed

[2017-05-08 21:38] shinfan commented on #1860
@swcloud Can you take a look at this issue? It looks like an issue on the API.

[2017-05-08 21:44] gguuss commented on #2031
I'll see if what I can repro on Tomcat, for my tests, I'm always seeing labels returned from label annotation queries.

[2017-05-08 21:49] shinfan commented on #1986
@vkedia Can we close this issue now?

[2017-05-08 22:30] shinfan commented on #1826
Can you try
[code]

[2017-05-08 22:43] shinfan commented on #1974
@garrettjonesgoogle @pongad I am not sure if "documentation" works well for issues like this. It is misleading that `Timestamp` allows nanoseconds but Datastore only preserves microseconds. I feel we should avoid these incorrect impressions at the first place.

[2017-05-08 22:55] shinfan commented on #1846
Tomcat server is not supported by gRPC. We need to update README to list the supported env.

[2017-05-08 22:55] #1846 closed

[2017-05-08 22:58] shinfan commented on #1781
Close the question for now. Please feel free to reopen if the solution does not work.

[2017-05-08 22:58] #1781 closed

[2017-05-08 23:07] shinfan commented on #2039
@saturnism Can you be more specific what did not work well in Tomcat or Netty?

[2017-05-08 23:08] danielcompton commented on #1986
Probably good to keep it open until #2026 is merged in, in case others hit this?

[2017-05-08 23:11] shinfan commented on #1792
@garrettjonesgoogle  Can we close this issue now?

[2017-05-08 23:14] garrettjonesgoogle commented on #1792
No, https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1819 was closed out because we decided to use threetenbp types instead of handrolled types. The support for threetenbp types still needs to be implemented.

[2017-05-09 03:22] saturnism commented on #1865
executor w/ pool size of 1 still deadlocks

[2017-05-09 03:23] saturnism opened #2041 "Pub/Sub Subscriber Deadlock w/ Executor pool size of 1"
Continuing from #1865 - this deadlock case still exists.

[2017-05-09 03:26] saturnism opened #2042 "Pub/Sub - "onStreamAllocated was not called" error under load"
Making continuous calls in a `while(true)` loop:
[code]
Cases errors:
[code]

When putting a slightest delay in the repeated call, the error goes away, e.g.
[code]

[2017-05-09 03:28] saturnism commented on #1827
I experienced the same issue and added #2041

[2017-05-09 03:28] saturnism commented on #2041
See #1827 for another example

[2017-05-09 03:53] saturnism commented on #2041
Looks like #1915 didn't separate poller executors from message dispatcher executor.

[2017-05-09 07:55] dtretyakov opened #2043 "Async API for Cloud Compute"
Currently API suggests to use blocking method call `Operation#waitFor`, but we need to use async APIs for that.

[2017-05-09 08:47] fonzy2013 commented on #1827
I guess #2041 causes the above code sample to not work.
@pongad Is this the case?

[2017-05-09 11:58] rborer commented on #2012
I gave a try into #2044. If I understand the client correctly, I cannot use [BigQuery.query(QueryRequest request) method](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/82932490728530309a731f8595d8f66fa8f17964/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQuery.java#L986) but I have to use [BigQuery.create(JobInfo jobInfo, JobOption... options) method](https://git

[2017-05-10 06:31] dtretyakov commented on #302
It would be great to have such API to get rid of manual metadata retrieving and don't forget to support "wait-for-change" feature.

[2017-05-10 11:31] gregw opened #2050 "Bad dependency for `google-cloud-logging` vs `google-cloud-datastore`"
For https://github.com/GoogleCloudPlatform/jetty-runtime we are trying to use both `google-cloud-logging` and `google-cloud-datastore`, but there appears to be incompatible dependencies.

With a simple pom like:
[code]
we get the following dependency:tree:
[code]
Note that 0.4.0 version of `com.google.auth:google-auth-library-oauth2-http:jar`

The `google-cloud-datastore` version depends instead o

[2017-05-10 12:11] janbartel commented on #2050
Note that excluding the older 0.4.0 `com.google.auth:google-auth-library-oauth2-http:jar` in favour of the newer 0.6.1 version reveals that the dependency 'io.grpc:grpc-auth:jar:1.2.0` also has a dependency clash, this time for `com.google.auth:google-auth-library-credentials:jar:0.4.0`.

Here's the exception:

[code]

[2017-05-10 13:32] meltsufin commented on #2050
@janbartel @gregw There is an effort to tackle the dependency conflict issues across the board in the client libs. This is a useful discovery for that effort, but hopefully we're able to resolve it soon. @garrettjonesgoogle PTAL

[2017-05-10 15:08] garrettjonesgoogle commented on #2050
@shinfan , I am marking this P0 because datastore and logging can't be used together currently.

[2017-05-10 17:26] ludoch commented on #1918
The google Cloud APIs, when running in Flex (or Java8 Standard) should try to not rely on com.google.appengine.api.appidentity* APIs.
But they do this here:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/1c456ead3455680ef198900712ff481d634ec530/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L384

How can we avoid this code path when running in Java8 Standard?

[2017-05-10 17:49] rcleveng commented on #1973
I tried the workarounds in code and was able to send a message, however never received it using a pull subscription.

[2017-05-10 17:55] shinfan commented on #2050
I will take a look.

[2017-05-10 20:50] tswast commented on #2039
I encountered this issue today with the Cloud Pub/Sub client library.

With Spring Boot, I got the error "Jetty ALPN/NPN has not been properly configured" at runtime. These were my dependencies:

[code]

The code worked without modification after I [made Spring Boot use Jetty instead of Tomcat](https://www.mkyong.com/spring-boot/spring-boot-jetty-as-embedded-server/).

[code]

[2017-05-10 21:09] jabubake commented on #2039
Note has been added in the main README. We still need to add links to Supported environments on each module.

[2017-05-10 21:56] shinfan commented on #2050
I have excluded both `google-auth-library-credentials` and `google-auth-library-oauth2-http` in my pom and my sample application executes without exception.

This is the dependency section my pom:
[code]

You also can view and download the entire sample application [here](https://github.com/shinfan/sample)

[2017-05-11 06:07] KameshAdena commented on #1490
I have similar issue when i sending reuest to create topic in pubsub i am getting below issues.
why i am getting and how to resolve
My depencies is:
<dependency>
  <groupId>com.google.cloud</groupId>
    <artifactId>google-cloud-pubsub</artifactId>
    <version>0.17.2-alpha</version>
    <exclusions>
    	<exclusion>
    		<artifactId>guava</artifactId>
    		<groupId>com.google.guava</groupId>

[2017-05-11 19:08] joaoandremartins commented on #2039
Yes, I just started using the PubSub API within a Spring Boot app and I'm getting this too.

[2017-05-11 19:13] shinfan commented on #2039
@jabubake Can we close the issue now since the notes has been added?

[2017-05-11 19:15] joaoandremartins commented on #2039
Ideally, we would want gRPC to work with Tomcat seamlessly too.

[2017-05-11 19:32] ofiesh commented on #2050
@shinfan fyi pubsub has the same problem as logging in that grpc-auth 1.2 uses om.google.auth:google-auth-library-credentials:jar:0.4.0:compile

I'm sure a fix in the parent will fix both, but be aware of it.

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/pom.xml#L55
`    <dependency>
      <groupId>io.grpc</groupId>
      <artifactId>grpc-auth</artifactI

[2017-05-11 21:53] lesv commented on #1918
We are fixing this stuff - I wrote issues on GH issues last week about. :(

On Wed, May 10, 2017 at 10:26 AM, Ludovic Champenois <
notifications@github.com> wrote:

--

*  •  **Les Vogel*
*  •  *Cloud Developer Relations
*  •  *lesv@google.com
*  •  *+1-4 <%2B1-650-338-7103>08-676-7023

[2017-05-11 21:54] lesv commented on #1918
Oops - wrong one.  I found these in java-docs-samples last week.

On Thu, May 11, 2017 at 2:53 PM, Les Vogel <lesv@google.com> wrote:

--

*  •  **Les Vogel*
*  •  *Cloud Developer Relations
*  •  *lesv@google.com
*  •  *+1-4 <%2B1-650-338-7103>08-676-7023

[2017-05-12 01:59] ludoch commented on #1918
BTW, Java8 Standard runtime will have the metadata server APIs to get the project ID soon...
This may help this issue for Java8 Standard and avoid access to the appidentity API (only for Java8 Standard?)

[2017-05-12 02:54] neozwu commented on #1918
@ludoch before metadata server APIs are ready, is there any other way / workaround to expose project ID on GAE ?

[2017-05-12 06:43] autodidacticon opened #2056 "PubSub Subscriber startAsync nosuchmethoderror"
I have a subscriber defined as follows:
[code]

However when calling `subscriber.startAsync` I receive the following error:

[code]

[2017-05-12 06:50] autodidacticon commented on #2056
The

[2017-05-12 06:50] #2056 closed

[2017-05-12 13:43] joaoandremartins commented on #2039
Seems like a fix for this is coming out on a next release of the grpc-java library.
https://github.com/grpc/grpc-java/issues/2996

[2017-05-12 15:01] JustinBeckwith opened #2057 "Write correlation-id with log entry metadata"
By writing a correlation-id into the logging metadata, users can get request-correlated logs in pantheon. See https://gist.github.com/JustinBeckwith/43dd04cfbc4551ddd8996a5b803da0b0 for details.

[2017-05-12 16:33] gzc opened #2058 "Publish fail: Request threads can only be created within the context of a running request"
Hi, I am using appEngine flexible environment with Java8. I am using pubsub0.17.1-alpha. When publishing, I will have this exception. I tried to run publish in a background thread but things are still same.

Following is the exception stack

[code]

Thanks^

[2017-05-12 17:43] vkedia commented on #1986
Closed by #2026

[2017-05-12 17:43] #1986 closed

[2017-05-12 17:44] vkedia commented on #1856
This should be fixed now. @ludoch Can you please try now and close this issue is it works.

[2017-05-12 22:01] ludoch commented on #1918
The only things we really expose via sys properties are:

com.google.appengine.application.id=abcdef
com.google.appengine.application.version=abcdef.397109454210762736
appengine.mail.filenamePreventsInlining=true
appengine.mail.supportExtendedAttachmentEncodings=true
com.google.appengine.runtime.environment=Production

where abcdef is the App Engine Application Name.

The Metadata server will be t

[2017-05-12 22:02] ludoch commented on #1918
You can track internally b/37168510

[2017-05-12 23:01] vkedia commented on #1657
@shinfan I don't think this is needed for Spanner GA?

[2017-05-12 23:07] shinfan commented on #1657
Okay I was adding everything spanner without a "triaged for GA" label to Spanner GA milestone. Feel free to remove and add "triaged for GA" label if it is not a part of GA.

[2017-05-14 22:13] fkorotkov commented on #1973
@rcleveng I also just got back to it and [my test case](https://github.com/fkorotkov/snippets/blob/21f4dcda229e2d5553d4f46ce786e5696ff7268d/testcontainers/gcloud/pubsub/src/test/kotlin/com/fkorotkov/snippets/testcontainers/gcloud/TestPubSub.kt#L99-L104) hangs on trying to publish a message with bunch of:

[code]

At the moment we use an in-memory implementation of `Publisher` but would love to mov

[2017-05-14 23:25] lesv opened #2060 "Link from main README to api description is broken."
https://googlecloudplatform.github.io/google-cloud-java/apidocs/index.html?com/google/cloud/pubsub/package-summary.html which is in the main README.md for the repo links off to a 404.

The code appears to be all autogen code.

[2017-05-15 00:07] fkorotkov commented on #1973
Actually publishing is fine. Seems I have the same issue as @rcleveng when I'm not able to receive a message after publishing.

[2017-05-15 02:08] pongad commented on #1973
@fkorotkov I think your test is incorrect. In your `PubSubTestingUtil.kt`, you seem to be pulling messages to check whether there are messages pending, is this correct? The following sequence of events can happen:

1. Subscriber start
2. Subscriber pulls messages, found none, and back off to not spam the server.
3. You publish the message.
4. Before Subscriber pulls again, `hasMessages` pulls from

[2017-05-15 09:30] marco-tranquillin opened #2061 "Expose setNullMarker option in BigQuery Java API Format Options"
Our customer needs to be able to access the ability to set customer **NullMarkers** that are available in the Rest API v2
https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs
while using the Java API CSV Options
http://googlecloudplatform.github.io/google-cloud-java/0.15.0/apidocs/index.html

Also interested in potentially workarounds that will allow them to complete the project.

Use cas

[2017-05-15 15:08] fkorotkov commented on #1973
@pongad thank you for responding! I was thinking about a similar scenario that I wanted to verify.

Let me explain what I want to achieve. I want to be able in a test to wait for all published messages to be processed to verify that all subscribers are working correctly and I have an expected state.

At the moment I have a wrapper interface around `Publisher` and two implementations for production

[2017-05-15 16:37] pongad commented on #1973
@fkorotkov I just now realized that my response was too accusatory. I apologize.

Our client library code is pretty complex and very probably have bugs lurking around. If you can't get it to work after suggested workaround, can I trouble you for a stack trace? I cannot seem to reproduce this on my computer, but I'll be happy to help you troubleshoot it.

[2017-05-15 17:42] lesv opened #2063 "Many of our API's would benefit if we designed to use JTA transactions API"
We should consider this for Spanner, PubSub, and other API's, however, it might need updating the product API's to support this, so it may be a moot ask.

RayT recently wrote wrote:

[2017-05-15 19:44] jean-philippe-martin commented on #1519
Closing the bug. @tomwhite please reopen if the fix doesn't work for you.

[2017-05-16 08:01] oto0 commented on #1369
Is there any update for providing basic timeline as lesv suggested? For example pubsub went into alpha after 0.8 and now is still alpha as 0.17.2

[2017-05-16 14:41] fkorotkov commented on #1973
I workaround it by just waiting for all messages to be processed since I know all message ids(https://github.com/fkorotkov/snippets/commit/1e7f0a21c9a471ac887616673acd5e806330c467). Will try to incorporate this solution into our project.

[2017-05-16 16:12] garrettjonesgoogle opened #2064 "Fix broken code sample in Publisher"
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/spi/v1/Publisher.java#L183

`addCallback` is no longer available on `ApiFuture`, it is now a static method in `ApiFutures`.

[2017-05-16 19:04] swcloud commented on #1860
@vikceo That's because for that image no label was detected. The user code probably failed to handle that case.

[2017-05-17 18:04] hienle-hps commented on #2050
Similar issue in google-cloud-resourcemanager.  It uses [v1beta1-rev10](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-resourcemanager/pom.xml#L33) of the client-library and refers to [Cloudresourcemanager](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-resourcemanager/src/main/java/com/google/cloud/resourcemanager/spi/v1beta1/H

[2017-05-17 21:04] arouzrokh commented on #2057
@meltsufin Mike is this part of the Jetty work already? I think we merged this in for Java right?

[2017-05-18 00:15] #2030 closed

[2017-05-18 00:39] zsiegel opened #2066 "Stackdriver Monitoring internal error HTTP/2"
We are testing the stackdriver monitoring class and seeing a large amount of the exceptions attached on and off in our environments.

[code]

[exception.txt](https://github.com/GoogleCloudPlatform/google-cloud-java/files/1009438/exception.txt)

[2017-05-18 07:23] pongad commented on #1827
@fonzy2013 I hope that #2049 will at least alleviate the problem. Could you build from master and try?

I adapted [your code here](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1827#issuecomment-296110522) for testing, and things seem to work on my machine.

As part of #2049, the subscriber will take a while to fully spin up, so `awaitRunning` can take a while to return. You shou

[2017-05-18 08:10] pongad commented on #1973
@fkorotkov Want to give you a heads-up. Our latest release (0.17.2) has a bug described in #1827. If your subscriber is deadlocking, that might be why. If you run into this problem, could you let us know in the linked issue?

We should be releasing a new version soon, which will hopefully fix this.

[2017-05-18 15:20] ropeck opened #2068 "unexpected behavior long timeout when rpc timeout is larger than max timeout"
Customer reports intermittent timeout errors which are longer than the max timeout set in the client.

As an example, test case:
a simple Java pub/sub publisher client project on GitHub using the latest pub/sub grpc library.
There are instructions how to reproduce the delays which are longer than the configured timeouts.

https://github.com/chili1k/pubsubgrpctest

The code will set up a pubsub sen

[2017-05-18 15:49] garrettjonesgoogle commented on #2068
It looks like in your code, TOTAL_TIMEOUT is set to 11 seconds. In the case of total failure, I wouldn't expect it to take any less than 11 seconds. That said, it still shouldn't be more than 30 seconds.

[2017-05-18 17:45] garrettjonesgoogle opened #2071 "Generated sample for bidi streaming calls is broken"
It has an extra `}` in it.

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/3a039931aaaaf19b128d96ba94107299c2a82749/google-cloud-speech/src/main/java/com/google/cloud/speech/spi/v1/SpeechClient.java#L493

toolkit template:

https://github.com/googleapis/toolkit/blob/f019d1a5d55b0db2288751cf7575acb0e8f4b010/src/main/resources/com/google/api/codegen/java/method_sample.snip#L95

It loo

[2017-05-18 17:46] garrettjonesgoogle commented on #2071
cc @shinfan

[2017-05-18 19:01] vkedia opened #2072 "GAPIC auto generated code should allow manual flow control"
In cloud spanner Java client, we use manual flow control for the streaming rpcs here:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/GrpcSpannerRpc.java#L519

We would need this support in GAPIC code as well before we can change to use that. Specifically we want to manually request for more messages from the s

[2017-05-19 01:40] pongad commented on #2041
Closed by #2049

[2017-05-19 01:40] #2041 closed

[2017-05-19 20:34] garrettjonesgoogle commented on #2072
@vkedia , it turns out that manual flow control in grpc is experimental:

https://github.com/grpc/grpc-java/issues/1788

So unfortunately we can't add a dependency on that until the `@ExperimentalApi` is removed. Otherwise, users could get broken when we upgrade the version of grpc in use.

[2017-05-19 21:19] #2060 closed

[2017-05-19 21:59] tcoffee-google commented on #2061
Closing for now --- please re-open if this change doesn't meet your needs.

[2017-05-19 21:59] #2061 closed

[2017-05-19 22:20] omaray opened #2076 "Can't specify the encodingType at all on AnalyzeSentiment method of LanguageServiceClient"
The issue in question was filed in googleapis/googleapis repo since it's a config bug. But creating a new issue here for better visibility since Java is probably the most affected by this bug.

Root issue with details: https://github.com/googleapis/googleapis/issues/348

[2017-05-20 01:21] garrettjonesgoogle commented on #2072
Additionally, google-cloud-spanner's direct usage of this `@ExperimentalApi` feature will prevent it from going to 1.0 even if it is never added to GAX.

[2017-05-20 14:50] CGavrila opened #2077 "google-cloud-storage might be clashing with Spring Boot packages"
Had a bit of a problem using `google-cloud-storage` version `0.9.4-beta` along with `spring-boot-*` packages.

Error I got was:
[code]

Here's my pom.xml:
[code]

Now I'm not sure exactly what happened there, but looking at StackOverflow questions and the Maven dependency tree, it seems like the problem might be the indirect dependency of `google-cloud-storage` on `javax.servlet:servlet-api:jar:2.

[2017-05-20 14:51] #2077 closed

[2017-05-22 01:23] #2064 closed

[2017-05-22 10:46] Nosfert commented on #1973
Im having simliar issue as @fkorotkov and @rcleveng where i dont get any message to my MessageReceiver. The MessageReceiver is not triggered at all.

I have tested the code both with the emulator and on google cloud and i can receive messages when using google cloud.

I have basically started my application with emulator settings and are manually sending a message on the topic by CURL'nig the api.

[2017-05-22 16:21] viniciusccarvalho opened #2080 "Support publishing to dynamic topics"
The current client model, which creates a Publisher for each topic `Publisher.defaultBuilder("TOPIC_NAME")`, which becomes a  bit prohibitive in use cases where the consumers could publish messages to multiple topics.

In that scenario we would need to create one publisher for each topic, and since those publishers seem to consume some resources (like connections to the server) we could end up wit

[2017-05-22 16:35] vkedia commented on #2072
I see. Thanks for bringing this to my attention. I will talk to gRPC team and see if they have any plans to make this non experiemental.

[2017-05-22 16:39] sai-pullabhotla opened #2081 "PubSub - Missing JavaDocs"
The published Java Docs at http://googlecloudplatform.github.io/google-cloud-java/0.18.0/apidocs/ - seem to be missing some classes such as `PubsubMessage`, `TopicName`, `SubscriberName`, `ApiFuture`, etc. Since these are public APIs that developers would be using, can we include the JavaDocs for these?

[2017-05-22 18:10] meltsufin commented on #2080
@garrettjonesgoogle WDYT?

[2017-05-22 19:27] garrettjonesgoogle commented on #2080
@pongad @davidtorres @saturnism take a look

[2017-05-22 19:30] garrettjonesgoogle commented on #2080
Also @kir-titievsky take a look

[2017-05-22 20:02] dankirkd opened #2082 "Version Numbers and Backward Incompatibility Question"
The version history for this library went from "0.8.0" and never being an "alpha" version to "0.8.1-alpha", and always since being an "alpha" release.

I believe that this explains that: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1471

However, can you confirm that when you talk about backward incompatibility you are just talking about the evolving library, class and package n

[2017-05-22 20:50] kir-titievsky commented on #2080
@viniciusccarvalho Vinicius, what are you thoughts on using the gRPC interface directly? Our general thinking has been that the client library is for end users and the gRPC service APIs are for client library developers. You are a client library developer in this case.

[2017-05-22 20:53] tcoffee-google commented on #2058
@gzc can you provide an example code snippet to help us reproduce the problem? Thanks!

[2017-05-22 20:57] tcoffee-google commented on #2066
@garrettjonesgoogle is there someone on the gRPC team who might have better insight here?

[2017-05-22 21:00] #2072 closed

[2017-05-22 21:02] meltsufin commented on #2080
@kir-titievsky Using gRPC interface directly has definitely come up, but we thought using the library would avoid rewriting some of the features of the library, and would also benefit the library from additional battle testing.

[2017-05-22 21:08] tcoffee-google commented on #2081
This also seems to impair readability in other JavaDocs, e.g.: http://googlecloudplatform.github.io/google-cloud-java/0.18.0/apidocs/com/google/cloud/logging/spi/v2/LoggingClient.html

[2017-05-22 21:10] tcoffee-google commented on #2082
Yes, these version numbers refer only to the client library.

[2017-05-22 21:10] #2082 closed

[2017-05-22 21:13] viniciusccarvalho commented on #2080
@kir-titievsky I'd rather not use it to be honest. My question is around the use for end users too, at least I believe sending data to multiple topics (let's put aside the partitioning ideas we discussed before) it's something that most users would want to.

And in our specific use case, we would like to write a Spring Message Template. A Message template within Spring mostly follows a pattern of

[2017-05-22 21:14] kir-titievsky commented on #2080
@meltsufin Makes sense.

Technical question for the benefit of the ignorant (me): can you not share an executor among multiple clients to achieve most of this result?  If true, I recognize this is not the most polished solution, but at least workable.

[2017-05-22 23:00] pongad commented on #1973
@Nosfert I cannot seem to reproduce the problem you're facing. I synced up with @rcleveng offline; I think his trouble actually came from misconfiguration.

Do you have some kind of "hello pubsub" application you could share with me in a gist? I'll gladly help you troubleshoot. This problem could be caused by a deadlock; just in case I still cannot reproduce, could you also share with me a stack t

[2017-05-23 03:12] rcleveng opened #2084 "Please make a LocalPubSubHelper like LocalDatastoreHelper"
(This is an enhancement request)

I think the emulator would need to handle a /shutdown request and then you could do something very similar to what the datastore does.

Then tests can start/stop it without needing to run the emulator 1st.

See https://github.com/GoogleCloudPlatform/google-cloud-java/blob/1c456ead3455680ef198900712ff481d634ec530/google-cloud-datastore/src/main/java/com/google/clou

[2017-05-23 08:23] Nosfert commented on #1973
@pongad
Here is a gist, will try and fix you a jstack or stack-trace later today or maybe tomorrow.
https://gist.github.com/Nosfert/f967eb735efe466afd3ec86c81e1c958

I also added the curl's that im running. One thing that i was thinking, that i have not testet, is that the emulator might not like it when there is an empty data and weird attributes.

[2017-05-23 16:54] vam-google commented on #2084
@pongad please take a look. For PubSub tests we currently don't have a Local*Helper class, like we do for several others (storage, datastore). The tests currently create fake services instead on `@Before` call for similar purpose (like in `SubscriberTest.setUp()` method).

[2017-05-23 17:56] meltsufin commented on #2080
We might be able to set the `executorProvider` on the `Publisher` to avoid creating too many threads per topic.

I think part of the reason the library doesn't let you change the topic on the `Publisher` is that there is some kind of message batching that it's doing, and that would have to change to batch by topic within a single `Publisher`.

[2017-05-23 18:14] rcleveng commented on #2084
Looking at this, it would seem we should use ServiceOptions and the rest of the common classes for creating the publisher,subscriber too.

[2017-05-23 18:20] mamdouhweb opened #2085 "No functional channel provider found"
While trying to run `google-vision-api` with a Scala project I'm getting the following exception.
[code]

I have tried changing the grpc-netty version and the http2 dependency from netty codec version as well. I also tried excluding the library and replacing it with grpc-okhttp to no hope!

Appreciate any help here

[2017-05-23 21:23] vam-google commented on #2050
https://github.com/googleapis/gax-java/pull/310 should fix the problem. The next released google-cloud-java library should contain the fix.

Before that, the workarounds are:
- Switch order in which the dependencies are mentioned in the pom: datastore dependency should go before logging (yes, order matters for maven dependency resolution) - this should fix the issue
- **Alternatively** you can add

[2017-05-23 21:25] vam-google commented on #2050
@hienle-hps your PR looks reasonable, but it is solving a different issue. Please sign the Contributor License Agreement (the link is in your PR) and then ping anyone from our team and/or assign as reviewers so we can merge your PR. Closing this issue now as the pending PR is not related to it.

[2017-05-23 21:26] #2050 closed

[2017-05-23 21:33] vam-google commented on #2085
Hi @mamdouhweb, please provide your project dependencies configuration (i.e. which artifacts and versions you depend on). Also, does it work if you try to do the same thing in java (i.e. is it specific to scala)?

[2017-05-23 21:38] mamdouhweb commented on #2085
@vam-google thanks for the quick reply. I haven't tried it in Java, I'm assuming it works as you guys have it in the examples.
as for my dependency list:

[code]

I also ran dependency tree command and I can see grpc-netty, here's a screen shot that might be helpful

<img width="1139" alt="screen shot 2017-05-23 at 5 38 07 pm" src="https://cloud.githubusercontent.com/assets/1148114/26377534/ae79b9

[2017-05-23 21:39] mamdouhweb commented on #2085
Addendum:
Cloud vision version is
[code]

[2017-05-23 22:58] mamdouhweb commented on #2085
After a fight with this issue, it is fixed now!

The main cause of the issue is the horrifying combination between `io.netty.versions.properties` and `sbt assembly`

That said, this is definitely not a bug, and I apologize for taking your time @vam-google
For anyone in the future who might face the same problem, just add the following line in your `projectAssemblySettings`

[code]

[2017-05-23 23:05] vam-google commented on #2085
Good to hear that it is not a bug =). Closing the issue.

[2017-05-23 23:05] #2085 closed

[2017-05-23 23:27] davidxia opened #2086 "Why does ObjectAccessControls.getItems() return Object instead of ObjectAccessControl?"
*I'm opening an issue here since I don't think Google hosts the source of [com.google.apis:google-api-services-storage](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/c3d18ffce9d9895550dd5d2acc1d0ff125305898/google-cloud-storage/pom.xml#L33-L35) anywhere.*

I noticed `BucketAccessControls.getItems()` returns `BucketAccessControl`. Makes sense. But why does `ObjectAccessControls.getI

[2017-05-24 16:56] bbzg commented on #1439
How would one go about to log in the correct format using SLF4J, for ingestion through google fluentd on GKE?

I am using spring boot and logging through slf4j (output to stdout and automatically ingested through fluentd that is running in GKE/Kubernetes).

My problem is that the standard logback format does not get ingested properly by fluentd/stackdriver (multiple rows get split, wrong log level

[2017-05-24 17:01] jabubake commented on #1439
@bbzg :
If you want to use fluentd directly, https://stackoverflow.com/questions/37420400/how-do-i-map-my-java-app-logging-events-to-corresponding-cloud-logging-event-lev might have the answer to your formatting concern.

You can also log directly to Stackdriver using the google-cloud-logging library. Logback support has just been added.
https://github.com/GoogleCloudPlatform/google-cloud-java/tre

[2017-05-24 17:06] vam-google commented on #2086
Which version of google-cloud-storage library are you using?

If it is the latest version, and the question is specifically about:
`com.google.api.services.storage.model.BucketAccessControls`
and
`com.google.api.services.storage.model.ObjectAccessControls`
classes from
`google-api-services-storage` artifact of version [v1-rev100-1.22.0](https://repo1.maven.org/maven2/com/google/apis/google-api-ser

[2017-05-24 17:19] bbzg commented on #1439
@jabubake Thank you for your fast reply.

Do you know if there are any pros/cons to logging directly to stackdriver, instead of using kubernetes fluentd?

I took a look at the stackoverflow answer, but I am unsure how to properly configure it, since the example given would log to a file and I guess fluentd is using stdout/stderr, but I will try to read up on some documentation.

[2017-05-24 17:38] #1994 closed

[2017-05-24 17:38] #2009 closed

[2017-05-24 18:10] davidxia commented on #2086
Sorry, I should've checked versions first. I'm using an outdated one.

[2017-05-24 18:10] #2086 closed

[2017-05-24 20:47] vam-google commented on #1851
Done in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2017

[2017-05-24 20:47] #1851 closed

[2017-05-24 20:50] vam-google commented on #1849
Seems already done long time ago: https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-translate

Closing for now. In case if the current readme is not sufficient, please reopen the issue and specify additional details.

[2017-05-24 20:50] #1849 closed

[2017-05-24 21:10] vam-google commented on #1782
Fixed

[2017-05-24 21:10] #1782 closed

[2017-05-24 21:32] vam-google commented on #1962
I don't think there is any specific rational behind that, probably it was just simpler to write the sample in this way.
Closing the issue.

[2017-05-24 21:32] #1962 closed

[2017-05-24 21:48] ludoch commented on #1856
So I tried the attached sample above with upgrading to 1.9.53 for GAE and 0.17.2-beta for Spanner.

After a local run, I go to the http://localhost:8080/SpannerServlet . URL and gets this error:
May 24, 2017 2:44:17 PM com.google.appengine.api.datastore.dev.LocalDatastoreService load
INFO: The backing store, /Users/ludo/Downloads/appengine-guestbook-javaspannerbug/target/spaneerbug-guestbook-Java8

[2017-05-24 22:26] vkedia commented on #1856
I think this is the NPE that was being swallowed by SessionPool and causing
it to block indefinitely. Now this is being propagated to the user instead
of blocking. I am not sure why this is coming. This is not coming from
cloud spanner code and instead seems to be coming here:
com.google.appengine.tools.development.RequestEndListenerHelper.getListeners

On Wed, May 24, 2017 at 2:48 PM, Ludovic Cha

[2017-05-24 23:33] ludoch commented on #1856
@saturnism, can you look?

[2017-05-24 23:52] ludoch commented on #1856
+@lesv

On Wed, May 24, 2017 at 3:26 PM, Vikas Kedia <notifications@github.com>
wrote:

[2017-05-24 23:52] saturnism commented on #1856
This part of the exception jumped out at me:
[code]

I'm curious - what is the DNS name that we are trying to resolve?

[2017-05-25 00:17] ludoch commented on #1856
This is the relevant code:

  /**
   * Get the collection of all the registered RequestEndListeners. The collection is mutable
   * so the caller may add or remove listeners
   *
   * @return The collection of registered RequestEndListeners.
   */
  public static Collection<RequestEndListener> getListeners() {
    Environment environment = ApiProxy.getCurrentEnvironment();
    @SuppressWarnings("u

[2017-05-25 00:22] vkedia commented on #1856
This thread is part of a thread pool which is created here:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-core-grpc/src/main/java/com/google/cloud/grpc/GrpcTransportOptions.java#L58

On Wed, May 24, 2017 at 5:17 PM, Ludovic Champenois <
notifications@github.com> wrote:

[2017-05-25 00:35] ludoch commented on #1856
In the debugger, I see the host used for DNS:
spanner.googleapis.com

Stack trace:
RequestEndListenerHelper.getListeners:51
RequestEndListenerHelper.register:39
RequestThreadFactory$1$1.start:65
ThreadPoolExecutor.addWorker:950
ThreadPoolExecutor.execute:1366
DnsNameResolver.resolve:205
DnsNameResolver.refresh:122
ManagedChannelImpl$LbHelperImpl$1.onStateChange:622

[2017-05-25 00:37] ludoch commented on #1856
I could try to protect NPEs in our devserver code, but what would be the side effect?

[2017-05-25 01:48] saturnism commented on #1856
I'm curious where the error came from though.

"Failed to resolve name" was prob thrown from here: https://github.com/grpc/grpc-java/blob/f4173c34ad46a82f2cfbd2c478eeb89814a65619/core/src/main/java/io/grpc/internal/ManagedChannelImpl.java#L796

The only place I saw onError called in DnsResolver is here:
https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/DnsNameResolv

[2017-05-25 01:52] saturnism commented on #1856
Possibly here?
https://github.com/grpc/grpc-java/blob/f4173c34ad46a82f2cfbd2c478eeb89814a65619/core/src/main/java/io/grpc/internal/ManagedChannelImpl.java#L313

[2017-05-25 01:53] ludoch commented on #1856
Now, the spanner servlet I wrote is very simple/primitive/dumb... (see in
zip file above)

        ResultSet resultSet
                = dbClient
                        .singleUse()
                        .read("Albums",
                                // KeySet.all() can be used to read all
rows in a table. KeySet exposes other
                                // methods to read only a subset of

[2017-05-25 01:55] ludoch commented on #1856
Ray, can you write a real much better Spanner sample, instead of my
connect/execute/shutdown dumb servlet?

On Wed, May 24, 2017 at 6:53 PM, Ludovic Champenois <
ludovic.champenois@gmail.com> wrote:

[2017-05-25 01:58] saturnism commented on #1856
I think the simpler the better at this moment ;)

[2017-05-25 04:22] pongad commented on #2080
This is correct. In our testing, this has increased the throughput of Publisher easily by an order of magnitude on a single core machine.

How "bounded" are these topics? Do you have a few known topics you need to publish to? Or is this something like reading topic name from user input?

[2017-05-25 04:57] pongad commented on #2084
@garrettjonesgoogle is probably more opinionated about `ServiceOptions` than I am. The ServiceOptions were written for handwritten clients. A part of pubsub surface is machine generated that does not use these options. IIRC, when we created Publisher and Subscriber, we feared that the difference is too stark.

As for the local helpers, it was removed for a few reasons. I think the two main reasons

[2017-05-25 05:44] saturnism commented on #2084
I feel the original tester overreached by downloading the emulator. But, launching an emulator on a random port, and providing that information back to the test client, was valuable.

I feel a good compromise is:
1. A PubSubEmulator surface, that simply has start and stop methods. Its sole purpose is to issue gcloud emulators commands.
1. Let the user control when to start/stop it

Or, another way

[2017-05-25 05:45] saturnism commented on #2063
If not XA, start w/ just JTA

[2017-05-25 05:46] saturnism commented on #2042
quick ping

[2017-05-25 05:48] saturnism commented on #1810
we also opened #2063 to track adding support to JTA where applicable, and sounds like the original ask of #1627.

[2017-05-25 07:55] pongad commented on #2042
@saturnism Sorry for the delay. I can't seem to replicate this problem. Using your code, the JVM runs out of memory in about 5 seconds, which makes sense considering what we're doing.

Are you running this on Linux?

[2017-05-25 13:46] meltsufin commented on #2080
Since we're using it in framework code, we couldn't really know how many topics the app might want to write to. Presumably, it's a small set.

Perhaps, a viable approach would be to create a `MultiTopicPublisher` that just uses the simple `Publisher` under the hood and shares the thread pool.

[2017-05-25 13:51] viniciusccarvalho commented on #2080
Yes I understand the need for batching. On the previous version of the client I had to batch myself. But it was basically a map of <string,pubsummessage> that was sent in batches either when a timeout happened or a maximum number of messages.

The approach described by @meltsufin is what we ended up doing for now. There's a PublisherFactory that return Publishers by topic and creates them sharing

[2017-05-25 16:40] ludoch commented on #1856
Remember also the failure is on the GAE SDK.
I did not test in prod... Someone tried?

[2017-05-25 21:11] tcoffee-google commented on #2068
Thank you for the detailed report!

Running your example on my machine, I get substantially different [results](https://github.com/GoogleCloudPlatform/google-cloud-java/files/1030238/output.txt): after 5 minutes with `TOTAL_TIMEOUT` set to 11 seconds, I have yet to see any timeout exceed 15 seconds.

Can you confirm that you still see the same results as before with your desired setting of `TOTAL_

[2017-05-25 21:45] ropeck commented on #2068
@tcoffee-google thank you for the follow up.

The issue is still ongoing with test environment. When you add the network loss, you should see a lot of intermittent network issues on the link overall.  If not, then the link isn't degraded enough to help see the timeout issue.

I'm a cloud support engineer tracking this case for a customer who provided the github repo with the example code.  If it's

[2017-05-26 01:25] pongad commented on #1973
@Nosfert Your setup is pretty much the same as mine except I use curl command to create subscription instead. I noticed an issue with the gist you post, though I'm not sure if it's just a copy-paste error.

In the curl command, your topic name is "pubsub-rights.message.test".
However, in PubsubListener, the topic name is "pubsub.message.test", without the "-rights".

I'm not sure how the CreateSub

[2017-05-26 07:14] Nosfert commented on #1973
@pongad yeah the topic name is a copy paste bug when i tried to make the code a bit more anonymous. Fixed that in Gist.

Line 23-28 tries to create subscription if it does not exist. If it does exist then just get that subscription. And then convert the subscription to a subscriber.

@pongad do you have a simple example for pubsub + emulator in the newest version that runs?

[2017-05-26 07:51] pongad commented on #1973
@Nosfert Got it. Here's a gist of what I got working: https://gist.github.com/pongad/d13d5737294b34924ba381c2c9a4cf1f

I just verified it on 0.18.0-alpha

[2017-05-26 08:13] pongad commented on #2080
I understand the use case. I think I have a reasonable solution in mind, but I want to play with it a little more. I'll keep this thread posted.

[2017-05-26 10:49] Nosfert commented on #1973
@pongad
I done some alterations on my code after you example.
And I got it to works, so thank you for your help.

Think that the issue that i had was that I did not specify a ChannelProvider for the Subscriber
At row 59
Thanks!

[2017-05-26 16:31] autodidacticon opened #2089 "Errors when shading io.netty for use with pubsub"
I have pubsub 0.18.0 included in my project with netty dependencies shaded as follows:

[code]

However when I start the Subscriber I get the following warning:

[code]

Followed by the following error:

[code]

I am running the subscriber from GCP Dataproc.

[2017-05-26 18:13] Horneth opened #2090 "[NIO] Inconsistent failure messages"
Different operations have inconsistent error messages such that for example trying to read from a non existing object, or trying to get its size do not return the same path format.

Opening a readChannel on a non existing object yields

[code]

And trying to get attributes on the same non existing object yields

[code]

[2017-05-26 19:48] jabubake commented on #2081
Vision as well : http://googlecloudplatform.github.io/google-cloud-java/0.18.0/apidocs/com/google/cloud/vision/spi/v1/ImageAnnotatorClient.html#batchAnnotateImages-java.util.List-

[2017-05-26 22:00] ykchen-g opened #2091 "Spanner - Need to enable credentials inject at call time"
Currently for Cloud spanner java interfaces, the credential is contained in the DatabaseClient when the DatabaseClient is created. There is no way to have a databaseClient without credentials and call the method with credential context.

So if we are calling Cloud spanner via some service protocols, like gRPC,  the gRPC server will have to create the databaseClient again and again whenever a new m

[2017-05-26 22:32] pongad commented on #1973
@Nosfert Ah I see! Glad I could help.

[2017-05-27 23:09] autodidacticon commented on #2089
The issue is classpath related (tcnative), apologies for the noise.

[2017-05-27 23:09] #2089 closed

[2017-05-28 11:55] grnadav opened #2092 "google-cloud-logging relies on Netty version that conflicts with Tomcat"
Hello

google-cloud-logging 1.0.2 relies on netty-codec-http2 and netty-handler-proxy at version 4.1.8.Final,
which has a bug that causes APR to not load the classes from the bundled tcnative.

This was solved in 4.1.9+

SO issue: https://stackoverflow.com/questions/41909764/io-netty-handler-ssl-openssl-uses-tomcat-classes-instead-of-self

[2017-05-29 00:29] pongad commented on #1827
Since #2041 is resolved, I'll resolve this for now. Please reopen if the problem persists.

[2017-05-29 00:29] #1827 closed

[2017-05-29 00:30] pongad commented on #1973
I think above discussions resolve the issue. I'll close this, but please reopen if problem persists.

[2017-05-29 00:30] #1973 closed

[2017-05-29 06:28] chili1k commented on #2068
@tcoffee-google I'm the one who opened the case and posted the example on github. Unfortunately I also cannot seem to reproduce the problem any longer.

I've checked our production logs. The last time the timeout was breached heavily was last Wed (24 May). I suspect that Pub/Sub backend may somehow be able to cause long timeouts on the client. But this is hard to prove.

[2017-05-29 16:17] suttiwat opened #2093 "Detected Java Memory Leak on Google Cloud Datastore API 1.0.2 (the problem start from version 0.13.0-beta)"
Before:  I've used Google Cloud Datastore API/Java 0.8.0 (beta)  since December 2016 on Google App Engine Flex/Java 8/Jetty it's perfect and work well.

After: I update Google Cloud Datastore Java API to 1.0.2 (GA) last week, I detected OOM-Killer kill java process frequently. And it's only one thing that I change.  So I decide to roll-back to 0.8.0.  Everything looks good as the same. No OOM-Kill

[2017-05-30 04:04] saturnism commented on #1632
the ReadOption has ability to filter, limit, and set page size. it does make sense to provide sort via this as well. It'd make some ORM a bit easier to implement.

[2017-05-30 16:14] meltsufin opened #2094 "Make specifying project ID optional for PubSub Topic"
Currently, creating a topic requires knowing the project ID. However, the client libraries have a way of automatically [figuring out what the project ID is based on the environment](https://github.com/GoogleCloudPlatform/google-cloud-java#specifying-a-project-id). It should fall back to that if project ID is not specified.

[2017-05-30 16:30] garrettjonesgoogle commented on #2066
@zsiegel I think we will need more details to investigate. Can you provide information on the environment you're running in, and the versions of your dependencies? Also, could you describe the conditions that this happens in more specifically?

[2017-05-30 16:33] vkedia commented on #1632
@saturnism can you explain the impact of this on ORM? I thought ORMs would just use the query API and not the read API. Also note that this is not really about the Java client. Underlying api does not provide this functionality so this would need to be first added to that.

[2017-05-30 16:39] zsiegel commented on #2066
We are running this on a number of nodes in a GKE cluster.

We have 3 web services running and we use an end of request handler to calculate the request timing and send them to stackdriver as a custom metric.

We inserted the middleware on just our `/health` endpoints to test out the dependency which was the latest in maven central at the time of testing (`com.google.cloud:google-cloud-monitoring:

[2017-05-30 16:48] garrettjonesgoogle commented on #2066
I don't know if you can provide the exact code you use to call StackDriver, but would you be able to at least provide a distilled version? It would help to know both the API method and types of parameters you are passing in.

[2017-05-30 16:50] vkedia commented on #2091
Actually I thought more about this. I don't think it is feasible to do this. Cloud spanner client makes some background rpcs such as CreateSession. Those rpcs also need credentials so the credentials do need to be specified while creating the client. I think the usual model is that your server will use a single service account to talk to cloud spanner (or any other backend for that matter) irrespe

[2017-05-30 16:50] zsiegel commented on #2066
sure can. see the near complete method call below.

[code]

[2017-05-30 17:01] garrettjonesgoogle commented on #2066
Thanks! I'll see if I can reproduce this.

[2017-05-30 17:03] vam-google commented on #2090
@Horneth please check https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2096

[2017-05-30 17:19] garrettjonesgoogle commented on #2094
Our current recommendation is for users to call `ServiceOptions.getDefaultProjectId()` and pass that in.

There is a circular problem with having generated code depend on types in google-cloud-java, so we have decided not to make this automatic for the time being.

[2017-05-30 17:22] vam-google commented on #2093
@suttiwat thanks for a very detailed description and deep investigation. We did recently conduct memory-usage profiling of our libraries and did not found any leaks, but that did not include possible native memory allocations. Also we did experience large memory consumption by netty library in our tests, so the case you are describing is likely.

[2017-05-30 17:46] ykchen-g commented on #2091
I am not quite sure, is it possible to lazy call the methods like CreateSession? Only when the add/remove operations methods are called? The client constructor just do some prep work without credentials?

[2017-05-30 17:58] tcoffee-google commented on #2068
I ran a similar test over the weekend, after shutting down other network activity on the machine, running 10 minutes each at different levels of network loss. You can see the results [here](https://github.com/GoogleCloudPlatform/google-cloud-java/files/1039201/output.pdf), and the test source [here](https://github.com/chili1k/pubsubgrpctest/pull/1).

There's enough inconsistency that the results a

[2017-05-30 19:02] garrettjonesgoogle commented on #2034
@pongad is this all done?

[2017-05-30 19:06] garrettjonesgoogle commented on #1897
The fix was merged. Closing this issue.

[2017-05-30 19:06] #1897 closed

[2017-05-30 19:13] garrettjonesgoogle commented on #1890
* Is the following an accurate way of describing the issue?: "JSON serialization doesn't check to see if Iterables are Maps"
* Is this considered to be a flaw of Clojure that is going to be fixed, or is it permanently baked in?

[2017-05-30 19:16] garrettjonesgoogle commented on #1887
We are using a newer version of grpc now - could you try again with a newer version of google-cloud-java?

[2017-05-30 19:22] garrettjonesgoogle commented on #1860
@vikceo are you able to show what your code looks like that calls the vision API?

[2017-05-30 19:29] garrettjonesgoogle commented on #1857
@joelostlund can you have your build tool tell you exactly which version you are pulling in for grpc-protobuf? The missing method has been present since before `grpc-protobuf:1.0.0`.

[2017-05-30 20:15] garrettjonesgoogle commented on #1826
Since there has been no response to the proposed solution, I am going to close out this issue. Please reopen if it doesn't work for you.

[2017-05-30 20:15] #1826 closed

[2017-05-30 20:16] garrettjonesgoogle commented on #1814
Closing out this issue because the question was answered. Please let us know if you have more questions.

[2017-05-30 20:16] #1814 closed

[2017-05-30 20:19] b-turk commented on #1420
+1 for this enhancement

[2017-05-30 20:29] garrettjonesgoogle commented on #1807
Development since this issue was filed: Java 8 on App Engine Standard will support gRPC, so Pub/Sub should work in that environment. Unfortunately, it won't work on Java 7 and there are no plans to support that. The work to get open issues fixed for Java 8 on App Engine Standard is being tracked in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1918 . I am going to close out the p

[2017-05-30 20:29] #1807 closed

[2017-05-30 21:57] garrettjonesgoogle commented on #1800
Development since this issue was filed: Java 8 on App Engine Standard will support gRPC, so Vision should work in that environment. Unfortunately, it won't work on Java 7 and there are no plans to support that. The work to get open issues fixed for Java 8 on App Engine Standard is being tracked in #1918 . I am going to close out the present issue - follow along in #1918 for progress.

[2017-05-30 21:57] #1800 closed

[2017-05-30 22:00] garrettjonesgoogle commented on #1653
Java 7 is not going to be supported, and Java 8 has been tested, with known issues documented in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1918 . Closing the present issue.

[2017-05-30 22:00] #1653 closed

[2017-05-30 22:59] pongad commented on #2034
We'll need to release gax and regen GCJ. The "manual code change" part is done though. Are we good releasing gax?

[2017-05-30 23:26] garrettjonesgoogle commented on #1490
Development since this issue was filed: Java 8 on App Engine Standard will support gRPC, so Error Reporting should work in that environment. Unfortunately, it won't work on Java 7 and there are no plans to support that. The work to get open issues fixed for Java 8 on App Engine Standard is being tracked in #1918 . I am going to close out the present issue - follow along in #1918 for progress.

[2017-05-30 23:26] #1490 closed

[2017-05-30 23:29] garrettjonesgoogle commented on #449
This has become irrelevant with recent developments. We are not going to ensure google-cloud-java is compatible with Java 7 on App Engine; Java 8 on App Engine doesn't have the same restrictions with network fetching. Java 8 support on App Engine is quite close, and is being tracked in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1918 . Closing out this issue.

[2017-05-30 23:29] #449 closed

[2017-05-30 23:32] garrettjonesgoogle commented on #1788
@vkedia ping

[2017-05-30 23:37] garrettjonesgoogle commented on #1780
I don't think there is a good way to document this in a way that people will actually read (besides the 1% of people who read reference docs straight through for fun). I'm going to resolve this because there isn't a problem in the scenario where users specify the right versions together.

[2017-05-30 23:45] garrettjonesgoogle commented on #1772
I'm going to close out this issue because there has been no response. Feel free to reopen if there are more issues.

[2017-05-30 23:45] #1772 closed

[2017-05-30 23:46] garrettjonesgoogle commented on #1763
@vkedia , what do you think?

[2017-05-30 23:48] garrettjonesgoogle commented on #1742
I think https://github.com/GoogleCloudPlatform/java-docs-samples/issues/558 is the right place to track this request; I will close out the present issue.

[2017-05-30 23:48] #1742 closed

[2017-05-30 23:49] garrettjonesgoogle commented on #1740
@pongad , this was completed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1721 , right?

[2017-05-30 23:50] garrettjonesgoogle commented on #1732
Closing out issue now - we appreciate your suggestions, keep them coming!

[2017-05-30 23:50] #1732 closed

[2017-05-30 23:59] #1779 closed

[2017-05-31 00:13] garrettjonesgoogle commented on #1731
@jakeam , are you still having trouble with this?

[2017-05-31 00:14] garrettjonesgoogle commented on #1727
@lesv is this still needed, or is it being done at a lower level?

[2017-05-31 00:15] pongad commented on #2080
At the moment, we'd like to focus on stabilizing our current feature set. We will loop back to this when we prioritize additional features.

In the meantime, can I suggest [Guava's Cache](https://github.com/google/guava/wiki/CachesExplained)?

[2017-05-31 00:35] vkedia commented on #1788
This is the latest tree.
[INFO] ------------------------------------------------------------------------
[INFO] Building Google Cloud Spanner 0.18.1-beta-SNAPSHOT
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:2.1:tree (default-cli) @ google-cloud-spanner ---
[INFO] com.google.cloud:google-cloud-spanner:jar:0.18.1-beta-SNAP

[2017-05-31 05:22] pongad commented on #1740
@garrettjonesgoogle The base severity level was implemented like you said. Right now you can't change the base severity level, but we should allow this eventually. This issue exists so we don't forget about it. I'll add priority P2+

[2017-05-31 13:19] patflynn commented on #1780
What about using a BOM?

http://howtodoinjava.com/maven/maven-bom-bill-of-materials-dependency/

[2017-05-31 14:51] Dima1224 opened #2098 "Storage retries don't work as expected"
I have been getting 503 errors from GCS while downloading content and would expect the storage library to retry, but it does not. After a bit of debugging, it turns out that the issue is that GoogleJsonResponseException doesn't have its _details_ field set and when that is the case the StorageException it is converted to is marked as not retriable.

Here's the code snippet which is the problem fro

[2017-05-31 16:04] garrettjonesgoogle commented on #1788
What are the dependencies that you consider unnecessary?

[2017-05-31 16:14] garrettjonesgoogle commented on #1780
We are using dependency management already in our poms, but that doesn't help people depending on the wrong versions of our stuff in their own poms.

[2017-05-31 16:17] patflynn commented on #1780
but can't we just always tell the user to import our BOM as the first step to importing our libraries?

[2017-05-31 17:25] patflynn commented on #1780
@saturnism do you have an opinion on this?

[2017-05-31 17:28] garrettjonesgoogle commented on #1780
Marking issue as open since there is an ongoing conversation

[2017-05-31 17:36] saturnism commented on #1780
the dependency management stuff currently is used for our own library builds. when a user wants to use our library, they do need to specify a version...

*unless* that we make our pom.xml easily importable (having dep management was the first step). Users can import a specific version of our pom, and in the individual dependencies, they just need to specify groupId and artifactId.

This is commonl

[2017-05-31 18:03] saturnism commented on #1780
Here is an example for Spring Cloud dependencies: http://projects.spring.io/spring-cloud/

[2017-05-31 18:24] garrettjonesgoogle commented on #2068
Neat graphs!

@tcoffee-google could you set up logging in gax to record the exact time stamps of each step of the retry algorithm (call issued, result received, delay period, etc)? (Don't commit it, just make the changes and run it.) I wonder if there is a "hole" somewhere that ignores the total timeout in a particular phase of the algorithm, but not others.

[2017-05-31 18:30] garrettjonesgoogle commented on #2031
@gguuss did you get a chance to repro?

[2017-05-31 19:08] lesv commented on #1727
The claim was that we'll get this for free in our runtimes. (Std / Flex) Using [gRPC interceptors](https://github.com/GoogleCloudPlatform/cloud-trace-java-instrumentation).  I don't know that it's really true for GAE Std.

[2017-05-31 19:09] #1727 closed

[2017-05-31 19:28] abhijitdhar commented on #1751
Hi @pongad @hmigneron do you know how to set the transport `.setTransport(transport)`
like we used to to with earlier API:
`HttpTransport transport = new NetHttpTransport();
GoogleCredential credential = new GoogleCredential.Builder()
            .setTransport(transport)
            .setJsonFactory(JSON_FACTORY)
            .setServiceAccountId(serviceAccount)
            .setServiceAccountScopes(

[2017-05-31 20:03] vkedia commented on #1788
I think this is fine. Closing this.

[2017-05-31 20:03] #1788 closed

[2017-05-31 20:05] vkedia commented on #2091
In theory we can set it up so that the when the first request comes in to the client for a given database, we use the credentials specified in that from that point onwards. But how does that help you? You still will not be able to use the same client with different credentials?

[2017-05-31 20:12] josephui opened #2099 "GCS Upload failure from CRC32C mismatch"
While uploading files on via `google-cloud-storage 1.0.2` / `java 8`, infrequently there are error messages indicating that a file has failed to upload due to CRC32C mismatch (where the calculated CRC32C=`AAAAAA==`, see [this](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-storage/src/main/java/com/google/cloud/storage/StorageImpl.java#L83).

Sample code we used

[2017-05-31 20:45] garrettjonesgoogle opened #2100 "Remove @Deprecated methods from Translate client"

[2017-05-31 21:42] tomayles commented on #2091
Is the use case here that you are writing a mid-layer gRPC server that you want to make Cloud Spanner calls with the credentials of the caller to your server? As Vikas mentioned, the typical case is that the server would use its own credentials - just trying to understand your needs better :)

[2017-05-31 21:51] ykchen-g commented on #2091
This is exactly our use case. We have a gRPC server that will call the Cloud Spanner. We want to have the databaseClient exist when the server starts.

As we are here, a related question, if we simply construct the databaseClient everytime our server is called and destroy the databaseClient, will that cause a huge overhead? I would suppose so since it means we will need to create sessions and conn

[2017-05-31 22:06] lesv commented on #2063
I sent an email about this recommending JTA with some specs.

[2017-05-31 22:07] lesv commented on #2063
I know of two customers who would like this - who asked in the last 30 days.

[2017-05-31 23:18] gguuss commented on #2031
I was actually unable to repro. The following code successfully performs a request from a JSP on tomcat.  All you need to do is put a jar containing all the client library dependencies in to the tomcat `/lib` folder from where you're serving (e.g. `mvn compile assembly:single` for the cloud-client sample and copy `target/vision-google-cloud-samples-1.0.0-jar-with-dependencies.jar` into `/lib/` for

[2017-05-31 23:40] tcoffee-google commented on #1944
Removing translation, as it appears to contain no instances of this issue.

[2017-06-01 00:46] pongad commented on #1751
@abhijitdhar The new client uses gRPC, not HTTP, so `HttpTransport` won't work. In most use cases, [`InstantiatingChannelProvider`](http://googleapis.github.io/gax-java/1.2.0/apidocs/com/google/api/gax/grpc/InstantiatingChannelProvider.html) should do what you want.

If you need something more advanced, you can use [`FixedChannelProvider`](http://googleapis.github.io/gax-java/1.2.0/apidocs/com/goo

[2017-06-01 03:37] pongad opened #2103 "Cannot stop subscriber"
If we create a subscriber using with `FixedChannelProvider` and `FixedExecutorProvider` and do this
[code]
we keep pulling messages forever. Stopping subscriber flushes waits for all messages to finish processing, but it does not stop the polling chain from continuing.

[2017-06-01 06:54] abhijitdhar commented on #1751
Thanks @pongad the authentication is working now. But `publisher.publish(pubsubMessage).get()` is hanging forever. Any idea what might be wrong?  Posted the question here - https://stackoverflow.com/questions/44295892/com-google-cloud-pubsub-spi-v1-publisher-publish-is-not-sending-data-to-pubsub

[2017-06-01 09:11] ilgun opened #2105 "Vision API broken: ImageAnnotatorClient.create() throws ClassNotFoundException"
`ImageAnnotatorClient.create() `throws the following exception:
`java.lang.ClassNotFoundException: com.google.api.gax.retrying.RetrySettings`

I have dependency to
[code]
as shown in the examples.

[2017-06-01 09:43] #2105 closed

[2017-06-01 12:44] Burtan opened #2106 "LocalStorageHelper UnsupportedOperationException"
Hi,

I try to create some basic testing for Google Cloud Storage. I followed [the instructions](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/TESTING.md#testing-code-that-uses-storage) and tried to create a new bucket.

[code]

This throws:

[code]

[2017-06-01 16:46] garrettjonesgoogle commented on #2092
The version of Netty used by google-cloud-java has to match the version that grpc uses exactly, and grpc 1.3 is on Netty 4.1.8.Final. We will be able to get a newer version of Netty when grpc 1.4 is released. Marking as blocked.

[2017-06-01 16:47] garrettjonesgoogle commented on #2092
It should be noted that the dependency is not broken in isolation; it just causes conflicts with Tomcat.

[2017-06-01 17:05] garrettjonesgoogle commented on #1891
@Saurabh111191 can I get your dependency tree? In particular, I'd like to know what protobuf-related packages you are pulling in.

[2017-06-01 20:14] frankyn opened #2107 "[Feature Request] Add downloadTo to Storage Client"
# Feature Request
The Java Cloud Storage client `google-cloud-storage` has a [sample to download a Blob](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/storage/StorageExample.java#L358) (shown below). The feature request is to add this functionality into the sample shown into an additional method `downloadTo` for [

[2017-06-01 23:24] pongad opened #2108 "Pull should set return_immediately to false"
This came out of a discussion with Pubsub team.

cc @haakonringberg

[2017-06-02 00:06] garrettjonesgoogle opened #2109 "Fix tcnative loading failure mode so that it throws an exception immediately instead of waiting until timeout (DEADLINE_EXCEEDED)"
This is a tracking issue for the root cause in grpc: https://github.com/grpc/grpc-java/issues/2599

[2017-06-02 00:51] pongad commented on #1751
@abhijitdhar Did you print the result of `get()` or anything like that? I tried running your code snippet on my machine. It looks like the problem is actually that `get()` itself returns, but your program doesn't terminate afterwards.

The reason is `Publisher` internally creates a thread pool to help it perform RPCs. After `get()` returns, the threads are still alive so the JVM doesn't exit. If y

[2017-06-02 00:56] garrettjonesgoogle commented on #2066
I tried out code similar to yours and I observed the error once. Since this is a purely auto-generated client and our other auto-generated clients don't have this issue, this seems to be a server-side problem.

[2017-06-02 02:24] abhijitdhar commented on #1751
hi @pongad I think I may have found the problem, but don't know how it works with gRPC.
I have to set the proxy and the way I was doing it earlier was:
`      System.setProperty("https.proxyHost", proxyHost);
        System.setProperty("https.proxyPort", proxyPort);
        System.setProperty("https.nonProxyHosts", nonProxyHosts);
`
I am guessing that doesn't work with new API that does not use HT

[2017-06-02 03:16] pongad commented on #1751
This went beyond my expertise. @carl-mastrangelo could you help point us in the right direction?

[2017-06-02 05:06] binhnd-socicom commented on #1534
I got the same problem when trying to restart listening. Stop audio listening + streaming and start them after 2s. After the steps, the error occur continuously

[2017-06-02 08:38] carl-mastrangelo commented on #1751
@abhijitdhar Proxy support is in gRPC, but I don't think it is fully featured yet.  Can you try setting the `GRPC_PROXY_EXP` environment variable to set the proxy?

[2017-06-02 13:27] droazen opened #2110 "Date for next release?"
Just wanted to ask if a date for the next release had been scheduled, since it's been a few weeks since the last one, and there's a patch (https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2083) that we're eagerly awaiting over in https://github.com/broadinstitute/gatk

Thanks!

[2017-06-02 18:57] abhijitdhar commented on #1751
hi @carl-mastrangelo Thanks a lot! GRPC_PROXY_EXP worked great!

[2017-06-02 20:11] garrettjonesgoogle commented on #2108
@pongad can you provide more context?

[2017-06-02 20:13] garrettjonesgoogle commented on #2058
@neozwu could you take a look?

[2017-06-02 20:19] garrettjonesgoogle commented on #1668
We now have a `ListTopicSubscriptionsPagedResponse.iterateAllAsSubscriptionName` method which returns `Iterable<SubscriptionName>`. I think this satisfies the issue.

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/d476ef7904467233e83168b8d1f5a934a0aae711/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/spi/v1/PagedResponseWrappers.java#L150

[2017-06-02 20:19] #1668 closed

[2017-06-02 23:01] garrettjonesgoogle commented on #2110
We will do one within the next few business days.

[2017-06-02 23:08] #2012 closed

[2017-06-03 18:40] rdmoore opened #2111 "Hitting quota limit when starting a large number of pub/sub subscribers simultaneously"
I have been spinning up a lot of pods within large node-pools in ContainerEngine.  When the pods start subscribing to pub/sub I often get
`RESOURCE_EXHAUSTED: Insufficient tokens for quota 'administrator' and limit 'CLIENT_PROJECT-100s'`
I *think* this is due to the subscriber starting multiple channels per core.  First, isn't core-count improperly biased in kubernetes - I have a machine that has

[2017-06-05 01:42] pongad commented on #2108
Slightly edited the description. IIUC, it saves RPC calls, but @haakonringberg can probably provide better details than I can.

[2017-06-05 07:37] grnadav commented on #2092
Is there any way to contribute to assist in resolving this issue? (this this repo or grace's or otherwise)

This blocks an important feature we're due to ship in our application (monitoring GCP audit), and we'd really want to avoid falling back to GCP's REST API just because of this :/

[2017-06-05 12:53] tcoffee-google commented on #2111
@davidtorres @haakonringberg do these sound like reasonable assumptions to you? And if so, what do you think about the suggestion for a channel-limiting configuration parameter?

[2017-06-05 12:57] tcoffee-google commented on #1735
Closed in https://github.com/google/google-auth-library-java/issues/91.

[2017-06-05 12:57] #1735 closed

[2017-06-05 13:00] tcoffee-google commented on #1697
@thanhlv93 are you still experiencing this problem? If so, could you share the code you're using for authentication to help us diagnose the issue? Thanks!

[2017-06-05 13:47] haakonringberg commented on #2108
We now always discourage the use of return_immediately (it's an option we shouldn't have provided in the API). It's misleading (e.g., what does "immediately" mean in the context of a backlog?) and hurts throughput.

[2017-06-05 13:51] thanhlv93 commented on #1697
@tcoffee-google yeah , i still this problem and i'm using public key instead private key.

[2017-06-05 13:55] Dima1224 commented on #2098
Update: the reason the _details_ field in the GoogleJsonResponseException isn't set is that content type of the error response from the GCS service is `text/html; charset=UTF-8`, but `public static GoogleJsonResponseException from(JsonFactory jsonFactory, HttpResponse response)` is looking for a content type of `application/json; charset=UTF-8` in order to create the _details_ object.

From `com.g

[2017-06-05 13:56] haakonringberg commented on #2111
No, this is not due to # channels; you're hitting the administrative operations quota limit: https://cloud.google.com/pubsub/quotas My guess would be that you're having each of your nodes do some subset of "Get, List, Create, Delete, ModifyPushConfig, SetIamPolicy, GetIamPolicy, TestIamPermissions". I'd advise you to have each worker node focus on the data plane operations (publish and subscribe)

[2017-06-05 14:42] tcoffee-google commented on #1697
@thanhlv93 it would help us to see the code you were using for authentication that was producing the error message.

[2017-06-06 02:11] lesv opened #2115 "StorageOptions.getService() javaDoc could be clearer"
A customer has asked:
`Storage storage = StorageOptions.getDefaultInstance().getService();` from [storage quickstart](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/storage/cloud-client/src/main/java/com/example/storage/QuickstartSample.java)

getService() is not defined.

Having looked at the JavaDocs, it could say that it returns a Service object for the current service, fo

[2017-06-06 03:40] #2108 closed

[2017-06-06 04:51] neozwu commented on #2058
Hi @gzc , I tested a GAE flex java 8 sample app with `publishOutstandingBatch` call (using google-cloud-pubsub-0.17.1-alpha), but cannot reproduce this error.  Can you provide more information to help repro?  I'd like to know in particular the dependency of your project, if possible, and how often you see this error. It is not clear to me why `ThreadFactoryBuilder` will end up using `VmRequestThre

[2017-06-06 06:10] vkedia opened #2117 "Cloud Spanner Client should prevent nested transactions"
Cloud Spanner does not support [nested transactions](https://en.wikipedia.org/wiki/Nested_transaction). But the client library does allow users to call `DatabaseClient.readWriteTransaction().run()` inside of the callback that is provided to an outer `DatabaseClient.readWriteTransaction().run()`. This is misleading since users might believe that this will behave like a nested transaction but in rea

[2017-06-06 13:27] tcoffee-google commented on #2115
Just to be clear, is the issue that we lack a doc string [here](http://googlecloudplatform.github.io/google-cloud-java/0.7.0/apidocs/com/google/cloud/ServiceOptions.html#getService--)?

[2017-06-06 14:31] lesv commented on #2115
I think so.  That's how I read the issue.

[2017-06-06 14:45] tcoffee-google commented on #2034
https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2114

[2017-06-06 14:50] garrettjonesgoogle commented on #2034
The final closing of this issue depends on https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2116 being completed - reopening.

[2017-06-06 16:13] tcoffee-google opened #2118 "Fix network quota error in compute integration tests"
Remove GCE networks from gcloud-devel project.

https://www.google.com/url?q=https%3A%2F%2Ftravis-ci.org%2FGoogleCloudPlatform%2Fgoogle-cloud-java%2Fjobs%2F239819052&sa=D&sntz=1&usg=AFQjCNHHgq88UgaiKxAPxGs8u8rW4VBFcw

[2017-06-06 17:47] droazen commented on #2110
Resolved! Thank you!

[2017-06-06 17:47] #2110 closed

[2017-06-06 19:34] garrettjonesgoogle commented on #2034
Done fully in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2116 .

[2017-06-06 19:35] #2034 closed

[2017-06-06 21:44] tcoffee-google commented on #2100
@garrettjonesgoogle this seems to have been resolved by #1678 ... or am I missing something?

[2017-06-06 21:55] garrettjonesgoogle commented on #2100
I think I was looking at an old branch when I found the `@Deprecated` tags. It looks like there is nothing else to do in master.

[2017-06-06 21:55] #2100 closed

[2017-06-07 11:30] Mistic92 commented on #2039
Yesterday I have encountered the same problem with spring boot and pubsub lib. Even when I'm using Jetty I'm still getting "Jetty ALPN/NPN has not been properly configured."
When can we expect fix?
I see there is new version of grpc (1.3.0) so now we are waiting for pubsub?

[2017-06-07 13:01] rdmoore commented on #2111
It was certainly my intent that I was only subscribing - all workers use the same subscription so there isn't any admin calls needed.  Perhaps I'm missing the proper use of the API - I am doing the following:
[code]
which is the only pub/sub actively (other than the ack calls). The "SubscriptionName.create" implementation looks to be client-side only (creating the object not the server-side subscr

[2017-06-07 17:07] haakonringberg commented on #2111
Yes please upgrade and let us know if you still see issues. Thank you.

@davidtorres @pongad fyi

[2017-06-07 17:30] dclements opened #2123 "Use of System ClassLoader didn't find custom logging enhancer"
When using the logback appender I tried adding my own `LoggingEnhancer`, but it failed to load with a ClassNotFound exception (which was swallowed).

Investigation revealed that the problem was that the logback appender was loading it using the system classloader. Switching this to the thread context classloader (with `ch.qos.logback.core.util.Loader#loadClass`) worked fine.

Label: logging-logbac

[2017-06-07 21:35] tcoffee-google commented on #2123
@jabubake would you mind taking a look at this?

[2017-06-07 22:12] jabubake commented on #2123
@dclements : I'll take a look and patch, if this is the case. Thanks for the suggested fix.

[2017-06-07 23:16] jabubake commented on #2123
@dclements, can you also provide  the version of JDK you used ?

[2017-06-08 01:57] dclements commented on #2123
Java 1.8.0_131
Scala 2.12.2
akka-http 10.0.7
akka 2.5.2

Executed using `java -jar`.

Thanks for taking a look!

[2017-06-08 03:53] pongad opened #2125 "Release copies project properties file to incorrect location"
[code]

[2017-06-08 09:09] mensurdurakovic opened #2126 "Copy objects from bucket to other bucket (request 400)"
I have explained issue here:

[https://stackoverflow.com/questions/44413977/groovy-java-google-storage-auth-and-request](url)

Anyone knows why this doesn't work as expected?

[2017-06-08 15:22] garrettjonesgoogle commented on #2118
There appear to be 9 networks from tests (10 total because of `default`).

[code]
(subtract one for the header line)

I tried deleting a network:

```gcloud compute networks delete xxxxxxx```

But it says the network is already being used by a firewall. I tried deleting the firewall:

``` gcloud compute firewall-rules delete xxxxxxx```

This succeeded, but when I went back to delete the network ag

[2017-06-08 22:06] #2123 closed

[2017-06-08 22:54] saturnism commented on #2042
I'm on OSX. See version info below.

I wonder what's taking up most of the heap, is it the Futures, or the message payload? I'm not entirely convinced that, for a simple fire and forget, we should run into OOM issues.

[code]
[code]

[2017-06-08 23:16] frankwmoyer opened #2131 "Pubsub io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED"
We are using Pubsub in a way that we need to wait to `nack` until close to the end of the `ackDeadline`. We've introduced a `Thread.sleep` that is called within the `MessageReceiver` before `nacking` the message.

In doing this, we have seen a large number of messages, similar to:

[code]

I scaled back our code to the attached code (a simple, reproducible example). It's actually just the PubSub S

[2017-06-09 00:22] tcoffee-google commented on #2126
The choice of authentication method will depend upon where and how you intend to run the code.

This page provides an overview of the different types of environments in which you might be running and the typical authentication methods for each: https://cloud.google.com/storage/docs/authentication#storage-authentication-java.

Please re-open this issue if you encounter further problems --- thanks!

[2017-06-09 00:22] #2126 closed

[2017-06-09 01:07] pongad commented on #2042
I'm not sure what you mean. The `publish` method is asynchronous. It usually returns before the RPC has been completed. Since you can run through the loop a lot faster than the RPC can happen, your machine will OOM eventually.

@carl-mastrangelo Do you think the exception could be a GRPC issue? (You're the only name I know on grpc-java. Please let me know if I should direct these questions somewhe

[2017-06-09 01:07] garrettjonesgoogle commented on #2118
@neozwu manually cleared out networks from the console.

When rerunning integration tests, one of the runs failed with a compute error. I checked the networks in the console, and 1 new network was left around with 9 firewall rules.

[code]

[2017-06-09 03:05] koichirokamoto commented on #1357
Is there any plan to add implementation comparable to GAE API?
FWIW, in cloud golang library, implementation is at https://github.com/GoogleCloudPlatform/google-cloud-go/blob/master/datastore/key.go#L198.
Here is GAE API at https://github.com/golang/appengine/blob/master/datastore/key.go#L211.
It seems they are comparable. I would hope that implementation is also added in Java library.

[2017-06-09 04:10] carl-mastrangelo commented on #2042
Can the full error be included?  It looks like it got cut off.

In general, either the API needs to be able to push back on the caller (by blocking, for instance), or the caller needs to check whether the operation would block.  Queuing all the data results in OOM, so there needs to be some way of limiting this.

If pubsub is calling the `isReady` or `setOnReadyHandler` on the `CallStreamObserver`

[2017-06-09 04:43] pongad commented on #2042
I think there are two separate issues. Rereading my response earlier, I realized I wasn't being clear. Apologies.

1. The OOM. I expected this issue. Pubsub team asked that Publisher intentionally does not push back against the application. We might add the push back feature later. This is definitely *not* a GRPC issue.

2. The stack trace. This I think might be caused by GRPC (we're using 1.2.0).

[2017-06-09 14:21] 0xIAN commented on #1661
I just happened upon this page after a pretty exhaustive search while trying to figure out how to use PubSub in a synchronous mode. I wanted to add my comments and perspective on this topic.

I am a full-on GCP customer, running my company's infrastructure completely within it. I had previously been using the older PubSub API in a synchronous mode. When I upgraded, and discovered all the (from my

[2017-06-09 15:30] garrettjonesgoogle commented on #1661
cc @haakonringberg @kir-titievsky we're receiving more comments on this issue.

[2017-06-09 16:41] kir-titievsky commented on #1661
So: what's a good fix for this?

On Fri, Jun 9, 2017 at 11:30 AM, Garrett Jones <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2017-06-09 16:57] aparod commented on #1661
I'd love to have first-class support for synchronous pulls in the Java library.

In lieu of that, we would need detailed samples and documentation on how to accomplish synchronous pulls at the gRPC layer, which was alluded to in [Garrett's post](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1661#issuecomment-284096869) on March 3.

[2017-06-09 18:58] lesv commented on #1918
Can you retest - there have been some changes that should make things work better.

[2017-06-09 19:57] #2115 closed

[2017-06-09 21:52] tcoffee-google commented on #2131
CC @davidtorres @haakonringberg

[2017-06-09 22:26] garrettjonesgoogle commented on #2071
This was fixed with the regeneration in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2116 .

[2017-06-09 22:26] #2071 closed

[2017-06-09 23:08] tcoffee-google commented on #1944
Removing pubsub and spanner, as they do not appear to do protobuf conversion in this way.

[2017-06-10 00:01] haakonringberg commented on #2131
@pongad

[2017-06-10 00:12] tcoffee-google commented on #1944
I believe the above PRs have covered the only remaining instances of this issue.

[2017-06-10 00:42] pongad commented on #2131
Hi @frankwmoyer. Could you tell us which release you're using? I think the problem is this: prior to 0.19.0, we use the same executor to run your `MessageReceiver` code and some of our RPCs. So, when you call `Thread.sleep`, they can't service the RPC, causing timeout. Updating to 0.19.0 should alleviate the problem.

Your threads would still sleep though. This might impact your throughput: if the

[2017-06-11 04:22] gzc commented on #2058
@neozwu Hi,
I do something trick to bypass using appengine ThreadFactory
[code]
Then I will use java default thread factory and it works.

My repo has too many dependencies, I will give more info later.

Thanks ^

[2017-06-11 10:45] Evegen55 commented on #2092
Exactly the same problem with PubSub API.

[2017-06-11 12:12] Mistic92 commented on #2131
I have the same problem.
0.19.0-alpha with guava excluded because its crashing when I'm using vision and datastore. Forcing guava 19

[code]

[2017-06-11 13:43] XinyueZ opened #2140 "When will this not be seen :)"
I see this always, however, as Android Dev, I wanna use this library for the future to instead [this](https://developers.google.com/api-client-library) .

Android is currently unsupported.

[2017-06-11 22:02] frankwmoyer commented on #2131
I was using `0.18.0-alpha`. I first kept the code I posted and upgraded to `0.19.0-alpha`. That did not fix the issue.

I then implemented your suggestion to use a `ScheduledThreadPoolExecutor` with success! Thank you for that suggestion.

[2017-06-12 10:25] scraly opened #2141 "NoClassDefFoundError: com/google/api/gax/retrying/RetrySettings at LanguageServiceSettings"
Hi I've created a java class with a main method in order to test NLP API.

Extract of my pom.xml:

		<dependency>
			<groupId>com.google.cloud</groupId>
			<artifactId>google-cloud-language</artifactId>
			<version>0.19.0-beta</version>
		</dependency>

In my GoogleTest java class I test others google APIs.

My method:

    public static void myNaturalLanguageTest() throws IOException {

		//Insta

[2017-06-12 14:57] garrettjonesgoogle commented on #2141
It is very likely you are using versions that aren't compatible with each other. Are you able to post the results of `mvn dependency:tree`? You'll probably see that multiple versions of gax are being pulled in by different versions of google-cloud-* packages. Your google-cloud-* packages all need to be from the same release.

[2017-06-12 16:59] #2131 closed

[2017-06-12 17:30] tcoffee-google commented on #1619
@vania-pooh I believe the methods you need are documented here: http://googlecloudplatform.github.io/google-cloud-java/0.19.0/apidocs/?com/google/cloud/compute/package-summary.html

The first form of `setMetadata` should make it easy to provide arguments in the form in the docs you linked to (under the 'API' tab).

Please re-open this issue if you experience problems using these methods.

[2017-06-12 17:30] #1619 closed

[2017-06-12 17:39] tcoffee-google commented on #1566
Doc issue reported as b/62535154.

[2017-06-12 17:39] #1566 closed

[2017-06-12 17:51] tcoffee-google commented on #1564
To clarify, is this the method you were using? http://googlecloudplatform.github.io/google-cloud-java/0.19.0/apidocs/com/google/cloud/bigquery/Table.html#update-com.google.cloud.bigquery.BigQuery.TableOption...-

And does this method do what you want? http://googlecloudplatform.github.io/google-cloud-java/0.19.0/apidocs/com/google/cloud/bigquery/spi/v2/BigQueryRpc.html#patch-com.google.api.service

[2017-06-12 17:58] #1519 closed

[2017-06-12 18:29] tcoffee-google commented on #1409
@omaray do we yet have any further guidance on this?

[2017-06-12 18:30] juhoautio commented on #1564
I'm not actively working on this any more, so from my perspective this issue could be closed any way.

But is that a recently added method or was it there already on January 25th? The javadoc on `BigQueryRpc#patch` seems to match with https://cloud.google.com/bigquery/docs/reference/rest/v2/tables/patch, so it seems to be what I was looking for back in the day.

[2017-06-12 18:38] jean-philippe-martin commented on #1519
Thank you!

[2017-06-12 19:10] tcoffee-google commented on #1564
After looking closely, this still seems odd to me. @garrettjonesgoogle before I try to reproduce it, any idea why this would be the case?

[2017-06-12 19:53] zsiegel commented on #2066
Hmm thats quite interesting... So if it indeed is a server side issue how would you go about reporting this to the Google Cloud / Stackdriver team? @garrettjonesgoogle

[2017-06-12 20:14] neozwu opened #2142 "Storage: support signed URL on GAE and GCE"
Today signed url requires a service account with a signer.  GAE and GCE use their built-in service account, which cannot sign blob.  Our current impl only retrieves signer from service account.  Therefore, it is not working on GAE and GCE. GAE has `appIdentity.signForApp` API that can be used to sign blob. It seems there's ongoing [work](https://github.com/google/oauth2client/issues/471) to suppor

[2017-06-12 20:18] neozwu commented on #1918
For 1) and 2), they are due to issues in objenesis. A [new version](https://github.com/easymock/objenesis/issues/51) of objenesis should fix this issue.
3), 4) and 5) are gone on GAE std java 8.

[2017-06-12 20:39] josephui commented on #2099
@garrettjonesgoogle Please let me know if there are anything else I can provide to help with the investigation.

[2017-06-12 22:42] tracycollins commented on #2066
+1

I'm seeing similar errors. It had been working fine for months. Errors started appearing consistently a few days ago:

"Received RST_STREAM with error code 2"
{
  "code": 13,
  "metadata": {
    "_internal_repr": {}
  },
  "note": "Exception occurred in retry method that was not classified as transient"
}

I'm using the google monitoring node api:

[https://github.com/googleapis/googleapis/tre

[2017-06-13 07:34] scraly commented on #2141
Thanks @garrettjonesgoogle for the reply,
I had
[code]

I removed it, and know I have another error:

[code]

My dependency tree is huge, I read it and now I have only one version for gax and one version for gax-grpc:

[code]

Thanks.

[2017-06-13 16:22] garrettjonesgoogle commented on #2141
Now I think you are seeing the issue noted in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2050 . Add an explicit declaration of the versions of google-auth-library-credentials and google-auth-library-oauth2-http (they need to be at least 0.6.0 to avoid the `ServiceAccountSigner` problem).

[2017-06-13 17:34] garrettjonesgoogle commented on #1564
@tcoffee-google No, I haven't worked with this functionality yet.

[2017-06-13 19:05] sundewei opened #2143 "Allow passing path to keyfile to use for credentials"
@garrettjonesgoogle
Hi,
I was informed to create a ticket for Java from an existing ticket which was for Ruby:
https://github.com/googleapis/toolkit/issues/1324

Currently I am trying to create a custom metric in Java but was not able to find out how to create the  MetricServiceClient object from the json keyfile.

If you can provide me a Java example of doing it, that'd ok for now....many thanks

[2017-06-13 20:33] garrettjonesgoogle commented on #2143
Use `MetricServiceSettings.defaultBuilder()` instead of `MetricServiceSettings.newBuilder()`.

[2017-06-13 20:39] sundewei commented on #2143
Thanks a lot for the input, I tried your approach:

`CredentialsProvider credentialsProvider = FixedCredentialsProvider.create(
            ServiceAccountCredentials.fromStream(new FileInputStream(gcpJsonKeyFilePath)));`
`final MetricServiceClient client =
            MetricServiceClient.create((MetricServiceSettings) MetricServiceSettings.defaultBuilder().setCredentialsProvider(credentialsProvide

[2017-06-13 20:43] garrettjonesgoogle commented on #2143
Hmm that looks like it should work. @neozwu could you investigate?

[2017-06-13 20:47] jabubake opened #2144 "Pub/Sub Publisher requires additional auth dependency on App Engine Standard J8"
Publisher times out on App Engine Standard Java 8, work around is to include
[code]

[2017-06-13 21:19] sundewei commented on #2143
Just FYI, the example I listed above used this dependency:

<dependency>
    <groupId>com.google.cloud</groupId>
    <artifactId>google-cloud-monitoring</artifactId>
    <version>0.19.0-alpha</version>
</dependency>

[2017-06-13 21:31] sundewei commented on #2143
I have added more info to the code, it looks like the MetricServiceSettings' defaultBuilder does not get the CredentialsProvider after my setter call:

![screen shot 2017-06-13 at 2 29 01 pm](https://user-images.githubusercontent.com/547750/27105577-f01a0734-5044-11e7-9261-997411cadd27.png)

[2017-06-13 21:50] ludoch commented on #2144
Do we fully understand now (i.e we are not going via the appIdentify GAE API path anymore but a new path using the missing google-auth-library-credentials classes?)
Why don't we have a user friendly error message for this case? Are we swallowing exceptions?

[2017-06-13 22:20] neozwu commented on #2143
@sundewei I can reproduce this error. This is due to a bug in version 0.19.0-alpha. We have a fix in our next release (through this [PR](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2116), and the code change is [here](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-monitoring/src/main/java/com/google/cloud/monitoring/v3/MetricServiceSettings.java

[2017-06-13 23:42] gitterpro opened #2146 "Failed to execute goal org.apache.maven.plugins:maven-checkstyle-plugin:2.17"
I'm getting this compile error when executing

.\AndroidStudioProjects\google-cloud-java-master>mvn install -DskipTests

Does anyone know how to correct this?

[INFO] Google Cloud Examples .............................. FAILURE [  0.412 s]
[INFO] Google Cloud Spanner ............................... SKIPPED
[INFO] Google Cloud Video Intelligence .................... SKIPPED
[INFO] -----------------

[2017-06-14 00:30] sundewei commented on #2143
Thanks a lot for checking it.

Please kindly let me know once you have the API which would take a keyfile InputStream like other GCP services, that's our prefer way of using it.

Dewei

[2017-06-14 04:07] 4d55397500 opened #2148 "Add 'auto-detect schema' to bigquery snippet"
Add a Java example of loading files from Cloud Storage to BigQuery with the schema not specified, eg. what is 'auto-detect schema' in the BigQuery UI. Cannot find any documentation for this or code examples by way of Google.

Current snippet example:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/bigquery/snippets/

[2017-06-14 08:43] amogh09 opened #2149 "Pub/Sub testing using emulator does not work"
I am trying to get local Pub/Sub emulator to work. Setting `$PUBSUB_EMULATOR_HOST` alone does not make the library make calls to the local emulator instead of cloud as stated in Pub/Sub [documentation](https://cloud.google.com/pubsub/docs/emulator).

Procedure stated [here](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/003a91b21ce22f4d14447814f115d5fef591d298/TESTING.md#testing-cod

[2017-06-14 09:30] scraly commented on #2141
Hi,
thanks for your reply.

Google Cloud Natural Language API version 0.19.0-beta come with library credentials version 0.4.0:

[code]

I edited my pom.xml file:

		<dependency>
			<groupId>com.google.cloud</groupId>
			<artifactId>google-cloud-language</artifactId>
			<version>0.19.0-beta</version>
			<exclusions>
				<exclusion>
					<groupId>com.google.auth</groupId>
					<artifactId>google-aut

[2017-06-14 15:29] garrettjonesgoogle commented on #2141
This means there is a problem with loading netty-tcnative-boringssl-static. Can you turn up your logging level to FINE? You should see logs from tcnative.

What platform are you running on? It's possible it's not a platform supported by tcnative yet. (tcnative is a native library.)

[2017-06-14 16:37] jabubake opened #2150 "Pub/Sub Publisher hangs unless submitted through an executor."
Note : See #2144 for auth workaround that is required, and independent of this issue.

[code]
hangs if run directly from a request.

This works only if executed using an `ExecutorService`. Users should n't be required to provide an executor to publish messages within a request.

[2017-06-14 16:38] jabubake commented on #2150
@lesv @ludoch FYI

[2017-06-14 16:46] lesv commented on #2150
This is wrong and it isn't required for [Cloud Bigtable](https://github.com/GoogleCloudPlatform/cloud-bigtable-client/) to work.

[2017-06-14 16:56] neozwu commented on #2150
@ludoch for gae std java 8, what is the time limit for request thread ?
In general, should we suggest users to use executors/threading for client lib on GAE? A lot of our code needs retry, which inherently uses executor and could take long time (longer than request thread could live ?)

[2017-06-14 17:30] tcoffee-google commented on #1405
@gguuss It shouldn't be hard to ignore GOOGLE_API_KEY when GOOGLE_APPLICATION_CREDENTIALS is specified, but I'm wondering about the case where an explicit API key is passed to a call --- in this case, would you expect the service account credentials to be ignored?

[2017-06-14 17:31] tcoffee-google commented on #1405
(This may also be relevant to proper resolution of #1594.)

[2017-06-14 18:34] jabubake commented on #2150
Note:  I was using manual scaling.

[2017-06-14 19:10] lesv commented on #2150
So what it appears you are doing is using the GAE API's (probably URLFetch), but on J8, you don't need to do that, just use normal Java IO).

@eamonnmcmanus @ifigotin FYI

[2017-06-14 19:11] lesv commented on #2150
@garrettjonesgoogle FYI - this is kind of important to us.

[2017-06-14 19:27] neozwu commented on #2150
We haven't released a new version that fully supports GAE std J8. When I tested our lib on GAE std J8, I changed this [code](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-core-http/src/main/java/com/google/cloud/http/HttpTransportOptions.java#L61) to always use `NetHttpTransport`.
We should still keep URLfetch for J7 users.
@ludoch / @ifigotin , is the recommend

[2017-06-14 20:05] lesv commented on #2150
Java System Properties that may be of interest:
[code]

[2017-06-14 20:07] lesv commented on #2150
@neozwu If I were you, I'd look at both "java.specification.version" == "1.8" and "com.google.appengine.runtime.environment" being present.

[2017-06-14 20:15] sundewei commented on #2066
+1 I am having the same errors.

I only wanted to send 20 metrics in a for-loop and this error showed up after 4th attempt...

Any update on what we should do in our end to avoid it?

Thanks.

Dewei

[2017-06-14 20:19] eamonnmcmanus commented on #2150
The main potential drawback with consulting java.specification.version is that people could be testing Java 7 apps using the dev_appserver running on JDK 8. We plan to define a system property that specifically tells you what runtime you have, but that hasn't happened yet. Meanwhile another possibility would be just to try to connect to some address (using `new Socket(...)`) or whatever, and see w

[2017-06-14 22:19] tcoffee-google commented on #1405
Initial modification at https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2151 is expected to resolve the specific error seen here, but I'd like to add some additional tests once we have consensus on proper behavior where an explicit API key is provided.

[2017-06-15 00:10] sundewei commented on #2066
Just FYI...
As of now, this error happens so frequently that I cannot even sent metrics any more.

Exception in thread "main" com.google.api.gax.grpc.ApiException: io.grpc.StatusRuntimeException: INTERNAL: HTTP/2 error code: INTERNAL_ERROR
Received Rst Stream

     <dependency>
            <groupId>com.google.cloud</groupId>
            <artifactId>google-cloud-monitoring</artifactId>

[2017-06-15 06:37] scraly commented on #2141
I'm simply executing a main method from a Java class from Eclipse with _Run As_..._Java Application_ and executing this:
[code]

[2017-06-15 10:19] garrettjonesgoogle commented on #2141
To turn your logging level up to FINE, add this line at the beginning:

```Logger.getLogger("").setLevel(Level.FINE);```

When I'm asking about platform, I mean: Are you running on Linux, Windows, Mac, other? What specific version are you using?

[2017-06-15 12:01] scraly commented on #2141
I am running on Linux: Ubuntu 16.04 LTS.

[2017-06-15 12:02] scraly commented on #2141
And here the logs:

[code]

[2017-06-15 15:19] garrettjonesgoogle commented on #2141
Hmm you probably have to create a logging.properties file too to get FINE logs. Create such a file with this content:

[code]

(i.e. the file at https://github.com/garrettjonesgoogle/gcloud-java/blob/deadline-exceeded-issue/google-cloud-example-docker-gradle/logging.properties )

Maybe somehow the tcnative dependency isn't being pulled in right? You could try explicitly declaring a dependency on i

[2017-06-15 17:51] bmenasha commented on #493
GRPC functions on Java8 Standard  can we please move forward with using GRPC as transport for Datastore?   Thanks

[2017-06-15 18:38] sundewei commented on #2066
FYI:
Here is some more info...
This error only happens to the CustomMetric that have been explicitly created.

If I don't send the create request and just let it be "automatically" created, then the subsequent send metric requests are successfully.

I am guessing maybe the resource allocation logic at the server side for explicitly created CustomMetric has some problem.
Thanks.
Dewei

[2017-06-15 22:11] jabubake opened #2155 "Authentication failures using Spanner with `appengine:run` for App Engine Standard J8"
Auth errors using both plugins in
`mvn appengine:run` : http://mvnrepository.com/artifact/com.google.cloud.tools/appengine-maven-plugin/1.3.1
`mvn appengine:devserver` : https://mvnrepository.com/artifact/com.google.appengine/appengine-maven-plugin/1.9.53

IAM Errors on creating, querying :
-` com.google.cloud.spanner.SpannerException: PERMISSION_DENIED: io.grpc.StatusRuntimeException: PERMISSION_

[2017-06-15 22:11] jabubake commented on #2155
@ludoch @lesv FYI

[2017-06-16 01:06] #1944 closed

[2017-06-16 08:36] NicolaSpreafico opened #2157 "Pub/Sub: Unable to compile Pull client"
Following the documentation I added this dependency to my project
[code]
but looking inside the [Maven Central](https://mvnrepository.com/artifact/com.google.cloud/google-cloud-pubsub) I can see that is not deployed yet.

I then tried the [0.19.0-alpha ](https://mvnrepository.com/artifact/com.google.cloud/google-cloud-pubsub/0.19.0-alpha) version, but my Maven project does not compile.
Note that i

[2017-06-16 14:08] scraly commented on #2141
About tcnative, now, I have only one version in my dependencies, the one you told me to add:

[INFO] +- io.netty:netty-tcnative-boringssl-static:jar:1.1.33.Fork26:compile

And i've still the issue:

[code]

[2017-06-16 14:26] scraly commented on #2141
And here the entire logs with logging.properties set to  FINE log level:

[code]

[2017-06-16 15:22] garrettjonesgoogle commented on #2157
mvnrepository.com isn't the most up to date - you can see at http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.cloud%22%20AND%20a%3A%22google-cloud-pubsub%22 and https://repo1.maven.org/maven2/com/google/cloud/google-cloud-pubsub/ that 0.20.0-beta is available.

Are you using some kind of proxy for Maven? io.grpc:grpc-core:1.2.0 is definitely available:

http://search.maven.org/#artifa

[2017-06-16 18:44] lesv opened #2158 "translate and vision API's seem to ignore ApplicationDefault credentials"
When I was testing gh/gcp/java-docs-samples, by going to the root folder and setting `GOOGLE_CLOUD_PROJECT=java-docs-samples-testing` and being authenticated as me in the `gcloud` command line tool.  Then doing `mvn clean verify` the first problem is on `translate` and it's fixed by setting `GOOGLE_APPLICATION_CREDENTIALS`.

This is wrong.
@gguuss FYI

[2017-06-16 20:08] neozwu commented on #2143
@sundewei the new release (0.20.0-alpha) is out. I'm closing this issue now but feel free to reopen it if you still have the same problem.

[2017-06-16 20:08] #2143 closed

[2017-06-16 21:55] neozwu commented on #2149
@amogh-git09 I tested [this code](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/003a91b21ce22f4d14447814f115d5fef591d298/TESTING.md#testing-code-that-uses-pubsub), using Pub/Sub0.19.0-alpha, and it works on my machine (with this slight modification: Publisher.newBuilder() -> Publisher.defaultBuilder() ) Can you provide more information regarding your app and platform ?

[2017-06-16 22:00] neozwu commented on #2118
It seems we are having more zombie networks and firewall rules piling up again

[2017-06-16 22:15] tcoffee-google commented on #2118
Still investigating this one ...

[2017-06-16 23:16] garrettjonesgoogle commented on #1405
Marking as release blocking until @tcoffee-google 's change #2151 is submitted.

[2017-06-16 23:28] garrettjonesgoogle opened #2160 "Make sure Translate client is ready for freezing surface for 1.0"

[2017-06-16 23:42] #2146 closed

[2017-06-18 07:31] amogh-git09 commented on #2149
@neozwu Thank you for your response. I am on macOS Sierra. My app uses sbt with Scala 2.11.11. Here's my code -
[code]

I tried again and got the same errors I reported above. You can find the detailed output below -

sbt -
[code]

Emulator -
[code]

[2017-06-19 07:02] wpeikai opened #2161 "Getting DEADLINE_EXCEEDED for pubsub simple cases with proxy setting"
We are trying to adopt pubsub, using cloud library for pubsub 0.19.0. there seems some connectivity issue because running in company network. I am getting DEADLINE_EXCEEDED exception after 10 mins for creating topics. I have tried to set the http/https proxy using System.setProperty("http.proxyHost", proxyHost); But it didn't work. Is this correct way to set proxy for pubsub gRPC calls in company

[2017-06-19 15:30] gguuss commented on #1405
@tcoffee-google I'm in favor of ignoring API key when Google application credentials is specified and somewhere documenting precedence for credentials. Regarding API key, it would be helpful to have a scenario that shows what you mean when referring to explicitly including an API key with an API call.  Is there a way to call the client library and include the API key in the call?

[2017-06-19 16:54] jabubake opened #2162 "Create README for `google-cloud-video-intelligence`"
https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-video-intelligence

[2017-06-19 16:57] tcoffee-google commented on #1405
@gguuss Sorry, I shouldn't have said "call" (this is done in the Apiary client library, which supports the API key query parameter with each request) --- I meant where the API key is explicitly specified in the service options, i.e., through [TranslateOptions.Builder.setApiKey](http://googlecloudplatform.github.io/google-cloud-java/0.20.0/apidocs/com/google/cloud/translate/TranslateOptions.Builder

[2017-06-19 17:03] gguuss commented on #1405
@tcoffee-google I agree, environment configuration should not override explicit configuration (e.g. through a builder); your ordering makes sense to me.

[2017-06-20 08:33] pongad commented on #2161
@wpeikai I think the fundamental issue is that the pubsub library uses GRPC, not HTTP. So the HTTP properties take no effect. I believe this is a duplicate of [this issue](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1751#issuecomment-305726261). Let me know if this works for you.

[2017-06-20 15:41] garrettjonesgoogle commented on #2161
I think we should put proxy instructions in our readmes.

[2017-06-20 17:48] elharo opened #2163 "State Java version required"
From the pom.xml I think this requires Java 7 or later. However I don't see that anywhere in the docs. Please make this very explicit and obvious.

[2017-06-20 18:23] garrettjonesgoogle commented on #2163
It's stated here: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/README.md#java-versions

[2017-06-20 21:34] omerzach opened #2168 "Remove old references to com.google.cloud.pubsub.spi"
There are 10 lines referencing `com.google.cloud.pubsub.spi` in this codebase including the top-level `README.md` and `google-cloud-pubsub/README.md` but this package no longer exists.

[2017-06-20 22:44] garrettjonesgoogle commented on #2117
GA-blocking issues shouldn't be marked P0; P0 is for issues where the latest release is DOA. Downgrading to P1.

[2017-06-20 23:15] elharo commented on #2163
1. I read that as applying to the Google Cloud Video Intelligence (Alpha) specifically. We should probably move that and several other sections above the individual APIs.

2. This also belongs on the home page https://googlecloudplatform.github.io/google-cloud-java/ perhaps in the FAQ (though current cloud tech writer policy is no FAQs)

[2017-06-21 04:26] wpeikai commented on #2161
This is working for me, thanks for the help!

[2017-06-21 04:26] #2161 closed

[2017-06-21 06:55] NicolaSpreafico commented on #2157
About the Maven repository, I'm currently using Eclipse Neon.3, which is configured by default like this
![image](https://user-images.githubusercontent.com/12278553/27370713-193616f2-565e-11e7-846c-64cc246c3544.png)

I'm used to use _mvnrepository.com_ website only to get the _pom.xml_ dependency snippet, once I configured it the download of the repository will be made from Eclipse, so from _repo.

[2017-06-21 18:46] kuroneko25 commented on #1661
A somewhat related question is how to do batch processing on pulled messages? Since most of the API level interaction is abstracted away in `Subscriber` and we can't do something like `pull(numberOfMessages)`. The `MessageReceiver` interface only gives you a single message. The use case is we have downstream dependencies in our processing logic that we can't call on every message event (too ineffi

[2017-06-21 23:04] lesv commented on #1918
Objenesis 2.6 has been released.

[2017-06-21 23:04] garrettjonesgoogle opened #2172 "Upgrade to objenesis 2.6"
This resolves issues with app engine.

[2017-06-21 23:05] garrettjonesgoogle commented on #1918
Filed a separate issue to upgrade to objenesis 2.6: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2172

[2017-06-21 23:05] lesv commented on #2150
@neozwu Any update?

[2017-06-21 23:22] lesv commented on #2158
This may be because we are just including google-cloud-translate & google-cloud-vision, not google-cloud

[2017-06-22 00:16] #2111 closed

[2017-06-22 00:18] evmin commented on #1661
With the Sydney region launched yesterday we are considering a new use case.
Would be great if the documentation mentioned earlier (gRPC and GAX, synchronous pulls) was considered as part of the development effort.

Also to highlight the point I have missed earlier, yet correctly pointed out by @kuroneko25 - batch sync pulls. It is a part of the current API and an easy replacement with the new lib

[2017-06-22 00:57] #2168 closed

[2017-06-22 01:00] omerzach commented on #2168
Thanks!

[2017-06-22 01:20] pongad commented on #2163
@elharo I'm not sure I follow (1). The link @garrettjonesgoogle posted is not specific to Video Intelligence; it's at the root of `google-cloud-java` repository. Each individual API has similar doc in the API-specific readme though.

[2017-06-22 03:41] seehans opened #2175 "Unable to use google-cloud-pubsub with google dataflow"
I am trying to initialize Pulisher using following snippet in dataflow code:
[code]
I am getting exception:  "java.lang.RuntimeException: java.lang.NoClassDefFoundError: Could not initialize class com.google.cloud.pubsub.v1.TopicAdminSettings

Stacktrace:
`
exception:  "java.lang.RuntimeException: java.lang.NoClassDefFoundError: Could not initialize class com.google.cloud.pubsub.v1.TopicAdminSetti

[2017-06-22 09:49] pongad commented on #2081
I'm working on this. Ran into a little issue but should resolve soon

[2017-06-22 14:37] elharo commented on #2163
Here's what it looks like to me:

https://screenshot.googleplex.com/X16FeWarsRS.png
![image](https://user-images.githubusercontent.com/1005544/27439658-79cedffc-5736-11e7-9ba4-328f1870a1f1.png)

It was not immediately obvious to me that  the info such as Java version did not belong to video client. It would be more obvious if all the sections from Troulbeshooting on dopwn moved above the informati

[2017-06-22 14:57] garrettjonesgoogle commented on #2175
This is an unfortunate situation and won't get fixed until Dataflow upgrades their pubsub dependency to 0.20.0-beta or later. The versions before 0.20.0-beta of pubsub are alpha, and combining different versions of alpha pubsub is not supported.

[2017-06-22 15:06] garrettjonesgoogle commented on #1661
@evmin I have some development underway that should solve the synchronous pull use case. See https://github.com/googleapis/api-client-staging/pull/355/files#diff-daa84cceab804e5d45eff87c4ba348c2 for a preview. Basically I'm creating a new layer underneath the client (a "stub" layer) which will reflect the underlying API 1:1, and you'd need to code against that instead of the existing curated clien

[2017-06-22 15:34] seehans commented on #2175
@garrettjonesgoogle thank you for your reply. "combining different versions of alpha pubsub is not supported" does that mean, even if I use alpha version of pubsub with dataflow, it will not work?

[2017-06-22 15:39] garrettjonesgoogle commented on #2175
If you use the same version that dataflow depends on, it will work.

[2017-06-22 15:58] seehans commented on #2175
Thank you. I could not find a DataflowJavaSDK using Google Cloud Java Client for Pub/Sub for gRPC.

I appreciate your reply.

[2017-06-22 15:58] #2175 closed

[2017-06-22 19:45] neozwu commented on #2150
@eamonnmcmanus is there any estimate when the system property indicating runtime will exist ?

[2017-06-22 20:20] patflynn commented on #1780
@garrettjonesgoogle any thoughts on this?  Are we likely to see a BOM published in Q3?  This could be our answer to the diamond dep problem.

[2017-06-22 21:55] garrettjonesgoogle commented on #1780
It would only solve misuse of this library, it wouldn't solve diamond dependency conflicts with other libraries we don't control.

I'd like to see more evidence of the priority/impact before committing to working on it.

[2017-06-22 22:52] tcoffee-google commented on #1405
Fixed by #2151.

[2017-06-22 22:52] #1405 closed

[2017-06-22 22:57] tcoffee-google commented on #1697
Closing this issue due to lack of context --- @thanhlv93 please re-open if you can provide additional information. Thanks!

[2017-06-22 22:57] #1697 closed

[2017-06-22 23:35] gguuss commented on #2158
Makes sense, I can check soon to see if updating the dependencies fixes this.

[2017-06-23 00:00] lesv commented on #2150
@neozwu @eamonnmcmanus and I were talking and he suggested that the Jetty version was probably the best indicator until we can get something else present.

If you look at the Java System Properties:  `org.eclipse.jetty.util.log.class`

When deployed on J8 it is:  `com.google.apphosting.runtime.jetty9.JettyLogger`
When running in DevAppServer: `com.google.appengine.development.jetty9.JettyLogger`

[2017-06-23 00:34] tcoffee-google commented on #1594
Fixed by #2147.

[2017-06-23 00:34] #1594 closed

[2017-06-23 02:43] #2162 closed

[2017-06-23 05:59] Solen-Win commented on #2125
I will point out that the first sentence of the page you link

[2017-06-23 13:31] patflynn commented on #1780
I wouldn't think that diamond dependency conflicts for libraries we don't
control is solvable.

On Thu, Jun 22, 2017 at 5:55 PM, Garrett Jones <notifications@github.com>
wrote:

[2017-06-23 14:20] garrettjonesgoogle commented on #1780
There is the "area in between" - solving diamond dependency conflicts among Google's open source libraries, which are technically ones that the team of google-cloud-java doesn't own, but which can be influenced. That is the one worth putting effort into I think.

[2017-06-23 18:11] gguuss commented on #2158
For vision and translate, switching to google-cloud did not resolve the ADC issue.

[2017-06-23 20:14] lesv opened #2181 "Client Library performance"
I'm working with a customer who is moving from MVM's using Objectify and the GAE Bridge to Flex using google-cloud-java Datastore API's.

The customer is reporting that using Objectify on MVM takes about 6-10sec and doing the same thing with google-cloud-java takes 40+seconds.

[2017-06-23 20:16] lesv commented on #2181
@garrettjonesgoogle @omaray FYI @GoogleCloudPlatform/cloud-datastore FYI

[2017-06-23 20:49] lesv opened #2182 "Add Datastore mapping between POJO and Entity"
Customers would like a way to easily convert from a POJO to / from a Datastore Entity.

@jabubake FYI
@garrettjonesgoogle FYI

[2017-06-24 16:35] Mistic92 opened #2184 "PubSub grpc configuration error"
Hello. I'm using PubSub 0.20.0-beta but I have this problem since few versions.
I'm using it with spring boot with Tomcat and deploying to kubernetes on compute engine with COS image.

When trying to push message I get error "Jetty ALPN/NPN has not been properly configured".
I have tried  to use Jetty but I got the same error. What's weird, locally it's ok and everything is working.

I saw there i

[2017-06-24 16:44] yasikmondal commented on #2094
garrettjonesgoogle Do you have any java tutorial link where it's explain this object change notification with code?

[2017-06-25 09:30] grnadav commented on #2092
@garrettjonesgoogle
grpc released version 1.4 18 days ago.
any chance this will be merged ?

[2017-06-26 03:06] garrettjonesgoogle commented on #2092
We are really close: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2171

[2017-06-26 03:10] garrettjonesgoogle commented on #2094
@yasikmondal , could you elaborate? I don't quite understand.

[2017-06-26 10:18] yasikmondal commented on #2094
@garrettjonesgoogle  - I have created a servlet project to do image transform on google app engine. I will take the image from cloud bucket and will convert and will store it back to the another cloud bucket. Now I want to do it automatically like if anyone is updating or changing any object to any cloud bucket, our application should automatically get triggered (object change notification) and sh

[2017-06-26 16:08] garrettjonesgoogle commented on #2094
@yasikmondal your request seems to be unrelated to the present issue. I recommend filing an issue at https://github.com/GoogleCloudPlatform/java-docs-samples . Thanks!

[2017-06-26 18:59] tcoffee-google commented on #2158
Some integration tests on this repo appear to depend on using `GOOGLE_CLOUD_PROJECT=java-docs-samples-testing` --- can you give me permissions on this project?

[2017-06-26 19:23] frankwmoyer opened #2185 "Change "import com.google.api.gax.core.ApiFuture;" to "import com.google.api.core.ApiFuture;""
The current README.md references:
[code]

I'm pretty sure (since I could not get that working and all the other libraries reference ` com.google.api.core.ApiFuture`) that this should be changed to:
[code]

[2017-06-26 21:11] lesv commented on #2158
Done

[2017-06-26 22:09] shinfan commented on #2184
@Mistic92 Hava you tried to use the following config which forces spring to use Jetty?

[code]

[2017-06-26 22:10] lesv opened #2187 "JavaDocs should explain the products rather than just say they are clients for..."
http://googlecloudplatform.github.io/google-cloud-java/0.20.0/apidocs/

Take the one line Marketing summary and put it as a description.

Currently:

| Class  | Description |
| ------ | ------------ |
| com.google.cloud	| Core classes for the google-cloud library. |
| com.google.cloud.bigquery	| A client to Google Cloud BigQuery. |
| com.google.cloud.bigquery.spi.v2	 | |
| com.google.cloud.compute

[2017-06-26 22:11] Mistic92 commented on #2184
I see #2171 is almost merged so I'll wait and check if it's working now ;)
And yes, with gradle I'm using config which excluse tomcat from starter.

[2017-06-27 00:08] omaray commented on #2081
Thanks for your efforts on this @pongad! We're totally excited about this!!

[2017-06-27 05:24] pongad opened #2191 "translate: Integration Tests Failing"
[Example](https://travis-ci.org/GoogleCloudPlatform/google-cloud-java/jobs/247366554)

I assume this isn't a huge deal since we're discouraging the use of API keys, but I think we should either fix or disable the test.

[2017-06-27 05:43] jabubake opened #2192 "APIs requires auth dependencies to work correctly"
Using only `com.google.cloud:google-cloud-errorreporting:0.20-alpha` :
[code]

Current workaround is to include :
[code]

[2017-06-27 13:51] sai-pullabhotla commented on #2182
I would recommend taking a look at [Catatumbo](http://catatumbo.io), which is an open source ORM framework for Google Cloud Datastore. GitHub project is located at https://github.com/sai-pullabhotla/catatumbo.

[2017-06-27 13:52] Mistic92 commented on #2184
Ok, something is not working :( Now it's crashing during creating beans. Again only after deployment to kubernetes.

My dependencies

[code]

Log from kubernetes

[code]

[2017-06-27 13:53] jabubake opened #2193 "`google-cloud-errorreporting` : missing README"

[2017-06-27 18:09] pupimvictor commented on #2141
Have you figured out the right setup for netty? I'm having the same issue here trying to use Pubsub

[2017-06-27 21:00] Mistic92 commented on #2184
I found problem and solution.
For docker I'm using openjdk:8u131-jre-alpine and to make grpc working you need to install libc6-compat

[code]

[2017-06-27 21:00] #2184 closed

[2017-06-27 21:53] shinfan commented on #2192
@jabubake Is this a documentation issue or something needs to be changed in the pom?

[2017-06-27 21:53] shinfan commented on #2192
This sounds like a severe issue I will mark this as P1

[2017-06-27 21:56] shinfan commented on #2163
I think the word 'for this client' is confusing. Maybe we should change it to 'for all clients'

[2017-06-27 21:57] jabubake commented on #2192
in the pom.

[2017-06-27 22:02] jabubake commented on #2192
Same is true for google-cloud-language as well.

[2017-06-27 22:02] jabubake commented on #2192
FYI, @gguuss @lesv

[2017-06-27 22:15] jabubake commented on #2192
@garrettjonesgoogle FYI

[2017-06-27 22:26] dconnelly opened #2196 "Maven dependency issues"
Looks like module dependencies are mixing different versions of api-common:
[code]
You should be able to enforce consistent dependencies with the maven dependency plugin before publishing artifacts.

[2017-06-27 23:05] lesv commented on #2150
@neozwu any update - I seem to recall reviewing a PR yesterday or before on the auth repo?

[2017-06-27 23:50] gguuss commented on #2192
I went ahead and [put together a PR](https://github.com/GoogleCloudPlatform/java-docs-samples/pull/732) to include the auth dependency.

[2017-06-28 01:52] pongad commented on #2163
Sorry I lost track of this. I'm thinking "for clients in this repository" will make clear we're not just talking about one client.

[2017-06-28 17:18] bilisie opened #2199 "PubSub emulator exhibiting failures with Subscription JSON payload"
Hi,

I'm testing an emulator locally using a json payload as such:

[code]

On the emulator side the following stack trace is being produced:

[code]

The pattern of usage of using json payloads does function properly against real endpoints.

[2017-06-28 19:00] tcoffee-google commented on #2191
Fixed in #2186, #2194, #2197, and #2198.

Translate IT success exhibited in https://travis-ci.org/GoogleCloudPlatform/google-cloud-java/builds/247757474.

[2017-06-28 19:00] #2191 closed

[2017-06-28 20:05] garrettjonesgoogle commented on #2150
Provisionally marking P1 - maybe should be P0 because GAE std Java 8 is launched ( https://cloudplatform.googleblog.com/2017/06/Google-App-Engine-standard-now-supports-Java-8.html ).

[2017-06-28 20:59] ankurcha opened #2201 "google-cloud-logging should allow user to set all fields in the LogEntry"
Currently the interface of `com.google.cloud.logging.LogEntry` does not let me specify the `sourceLocation` among other fields. It would be very nice to be able to set them.

[2017-06-28 21:06] neozwu commented on #2150
With this [merge](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2183), it should fix the http transport issue (to use the right http transport based on j7 or j8).

[2017-06-28 21:46] shinfan commented on #2201
FYI @lesv @garrettjonesgoogle Currently sourceLocation field is not supported by the client.

[2017-06-28 21:50] #2163 closed

[2017-06-28 21:58] tcoffee-google commented on #2158
I've succeeded in reproducing the issue.

I was surprised to find that pointing `GOOGLE_APPLICATION_CREDENTIALS` to the file `/usr/local/google/home/tcoffee/.config/gcloud/application_default_credentials.json` created by `gcloud auth application-default login` does not resolve the problem.

Still investigating ...

[2017-06-28 21:59] shinfan commented on #2196
Can you try to use com.google.cloud:google-cloud-bigquery:0.20.1-beta? This issue should have been solved in the latest version.

[2017-06-28 22:18] #2185 closed

[2017-06-28 22:19] shinfan commented on #2196
Closing this issue for now. Please reopen it if it is not solved.

[2017-06-29 05:27] evmin commented on #1661
@garrettjonesgoogle Thank you! Great news.

[2017-06-29 18:06] joaoandremartins opened #2205 "Make google-cloud-pubsub's Subscriber more unit test-friendly"
While building [unit tests](https://github.com/spring-cloud/spring-cloud-gcp/pull/61) for the Spring Integration Pub/Sub channel adapters, we needed to simulate the behaviour of a Subscriber receiving a message. The recommended way to do testing in google-cloud-pubsub seems to be to spin up a local emulator, according to [these instructions](https://github.com/GoogleCloudPlatform/google-cloud-java

[2017-06-29 22:20] #2193 closed

[2017-06-29 22:27] shinfan commented on #2205
Can you explain why the Cloud SDK is prohibitive to use the local emulator approach?

The alternative way is to create an in-memory Subscriber mock stub using our MockServiceHelper:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/SubscriptionAdminClientTest.java#L89

[2017-06-30 10:04] joaoandremartins commented on #2205
I meant "the Cloud SDK **dependency** is prohibitive", because e.g., we might not control the environment where our unit tests run (e.g., user building our library from their workstation).

The test you showed looks good. However, IIUC, `MockServiceHelper` depends on `MockSubscriber` and `MockSubscriberImpl`, which is code we'll also need and is located within the test folder, so we would need to

[2017-06-30 10:07] joaoandremartins commented on #2205
Actually, maybe not for the same package as `MockServiceHelper`, since it's not in google-cloud-java, but create a new `"testing"` package there and make those mocks available.

[2017-06-30 10:40] riccardoref commented on #1689
I am running queries that take about 46 seconds to run. The issue seems less severe when waiting 10 seconds instead of 1.

[2017-06-30 10:55] joaoandremartins commented on #2205
After looking into this more, I don't think `MockServiceHelper` isn't of much help for what I want (i.e., to mock a `Subscriber`). For example, `MockSubscriber` doesn't inherit from `Subscriber`, like I thought it did.

[This](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/test/java/com/google/cloud/pubsub/v1/SubscriberTest.java#L86) seems to be very c

[2017-06-30 13:59] stalar opened #2207 "ConcurrentModificationException when flushing logs using Synchronicity.ASYNC"
The code below results in a couple of ConcurrentModificationExceptions when run:

    public class Repro {

      private static final String PROJECT_ID = "MYPROJECT";
      private static final String LOG_NAME = "MYLOGNAME";

      public static void main(String... args) throws InterruptedException {
        Logging logging = LoggingOptions.getDefaultInstance().getService();
        logging.setWr

[2017-06-30 15:20] tcoffee-google commented on #2158
Strangely, I can no longer reproduce the issue in the `translate`-related tests (as of this morning).

Previously, I observed consistently that the content of the key files was clearly implicated, as explicitly referencing the `gcloud`-generated file

```export GOOGLE_APPLICATION_CREDENTIALS=~/.config/gcloud/application_default_credentials.json```

did *not* resolve the issue, but replacing its co

[2017-06-30 17:56] briandealwis commented on #2157
It's those [pesky .lastUpdated files](https://stackoverflow.com/questions/2529218/maven-downloads-have-lastupdated-as-extension).  They'll appear if you had a refused connection previously.  You can force Maven to re-try with `mvn -U`, and with [_Maven > Update Project… > Force Update of Snapshots/Releases_](https://stackoverflow.com/a/24509023/600339) in m2eclipse.

[2017-06-30 18:23] hbchai commented on #2199
Hi @bilisie, one interesting feature of your request is that you are essentially specifying the name of the subscription to be created twice; that is first in the URL, and second in the request body as "name". Moreover, the two values differ in your example curl command (although I'm assuming that's a copy-paste error).

You are actually correct that it's not considered an error for the value to b

[2017-06-30 21:09] tcoffee-google commented on #2158
Update: after re-running tests several times, I now see the `translate` failures again, and am reminded that these were "daily limit exceeded" failures, which now makes sense.

I'm going to close this as WAI. I assume it would not be a persistent problem to run integration tests with a service account, but if so, let's open a separate issue.

[2017-06-30 21:09] #2158 closed

[2017-06-30 21:09] bilisie commented on #2199
Hi @hbchai

Thanks for the update. I've added better reproduction of the issue here:
https://github.com/bilisie/pubsub-emulator-issue

Removing the name from the URL breaks the integration tests against real PubSub as I've tested earlier. I can also try removing it from the payload or leaving it the URL to see if that satisfied both the emulator and prod.

[2017-06-30 21:18] tcoffee-google commented on #2158
Epilog: @lesv please review https://github.com/GoogleCloudPlatform/java-docs-samples/pull/741 when you get a chance (I'm not able to assign reviewers).

[2017-06-30 21:49] hbchai commented on #2199
The subscription name definitely needs to be specified in the URL. Please do try removing it from the payload.

[2017-06-30 22:11] jabubake commented on #2150
@neozwu , @lesv  : I tried with 0.20.2-beta-SNAPSHOT, it still hangs when deployed (`mvn appengine:deploy`).

On local testing with `appengine:run`, this is what I ran into :
`[INFO] GCLOUD: Jun 30, 2017 2:35:26 PM io.grpc.internal.ChannelExecutor drain
[INFO] GCLOUD: WARNING: Runnable threw exception in ChannelExecutor
[INFO] GCLOUD: java.lang.NullPointerException
[INFO] GCLOUD: 	at com.google.ap

[2017-06-30 22:33] jabubake opened #2209 "`com.google.cloud.core.ServiceOptions.getDefaultProjectId()` does not work in App Engine local environment"
APIs like `google-cloud-pubsub` require users to explicitly provide a project id.
When [App Engine Maven Plugin](https://github.com/GoogleCloudPlatform/app-maven-plugin) is used to run locally using `mvn appengine:run`
 `ServiceOptions.getDefaultProjectId()` returns `no-app-id` unless
`<application>project-id</application>` exists in `appengine-web.xml`

Note : returns project-id without the appli

[2017-06-30 23:00] tcoffee-google commented on #2160
Following comprehensive review of documented surface, I conclude that no code changes are needed, but some doc changes are updated in #2208 and #2210.

[2017-06-30 23:00] #2160 closed

[2017-07-03 03:59] grnadav commented on #2092
I can confirm this is now working since the merge of #2171 (using the version that followed 1.2.1).
Closing.

[2017-07-03 03:59] #2092 closed

[2017-07-03 07:34] vaiju12p opened #2211 "Spanner: Jetty ALPN/NPN has not been properly configured if spark dependencies are added"
My requirement was to write a Spark DataFrame to the Spanner Table, when I tried to run application it end up with "Jetty ALPN/NPN has not been properly configured" even I run spanner application without spark code it was giving this error.
When I run the same application by removing spark dependencies it ran! so, I am on conclusion that, Spanner application is not running with spark dependencies.

[2017-07-05 14:57] tsondreal opened #2214 "Natural Language API in .20.2 - Missing Types"
The most current NL API (.20.2) does not have the basic types like Document, Sentiment, AnalyzeSentimentRequest, AnalyzeSentimentResponse, etc.   Where did they get moved to?

[2017-07-05 17:57] elharo opened #2215 "Works in App Engine Standard Java 7 (or not)?"
There's some confusion on my team as to whether we can expect these libraries to work in a white listed App Engine Standard Java 7 environment.

Is it the intention that all these libraries work there?

[2017-07-06 00:44] pongad commented on #2081
This should have been resolved as of `0.20.1-alpha`. Please reopen if the problem persists.

[2017-07-06 00:44] #2081 closed

[2017-07-06 16:49] michaelbausor commented on #2214
These protobuf types are distributed as part of the `proto-google-cloud-language-v1` and `proto-google-cloud-language-v1beta2` packages (for versions `v1` and `v1beta2` of the API).

These packages are available [from Maven Central](https://search.maven.org/#search%7Cga%7C1%7Cproto-google-cloud-language-). You can also check the dependency in our pom.xml here: https://github.com/GoogleCloudPlatfor

[2017-07-06 16:50] michaelbausor commented on #2214
Hopefully that answered your question, so I've closed out the issue. If not, please feel free to reopen and follow up. Thanks!

[2017-07-06 16:50] #2214 closed

[2017-07-06 16:52] lesv commented on #2209
Ideally, when running locally on GAE std, you'll try to grab from either `GOOGLE_CLOUD_PROJECT`, if defined, or (typical case), get it from `gcloud`.

[2017-07-06 17:30] michaelbausor commented on #2211
Hi @vaiju12p! I was able to reproduce the problem using a very simple Spanner application and the dependencies you listed. I found that including the following exclusion in my build.gradle file resolved the issue:
[code]

Let me know if this fixes the problem for you. If it is not an option for you to exclude this dependency, then you may want to investigate the compatibility of different versions

[2017-07-06 17:57] michaelbausor commented on #2215
Currently we don't expect the google-cloud-java libraries to work for App Engine Standard Java 7, based on availability of gRPC support and restrictions in networking I/O and threading.

GAE Standard Java 8 does work, and we are currently working towards an official release of google-cloud-java for which we can be confident that GAE Standard Java 8 is fully supported.

Hopefully that helps! Let me

[2017-07-06 18:15] gguuss opened #2216 "Throw more granular exception on ImageAnnotatorClient.close()"
Currently, the image annotator client can throw the generic "Exception" on close. I found this while making [the update to close the image annotator client](https://github.com/GoogleCloudPlatform/java-docs-samples/pull/746) in the vision sample.

[2017-07-06 19:27] gguuss commented on #2192
Once this issue resolves, we'll need to update the language sample's POM.

[2017-07-06 19:36] lesv commented on #2201
@jabubake FYI

[2017-07-06 20:50] #2207 closed

[2017-07-06 21:48] vkedia commented on #1637
@snehashah16 will work on this. @garrettjonesgoogle I am not able to assign this issue to her. Can you please make her a collaborator.

[2017-07-06 22:49] michaelbausor commented on #2216
I think this may be unavoidable, because the `AutoCloseable` interface throws `Exception`: https://docs.oracle.com/javase/7/docs/api/java/lang/AutoCloseable.html#close()

[2017-07-06 22:50] michaelbausor commented on #2216
Relevant code in image annotator client: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-vision/src/main/java/com/google/cloud/vision/v1/ImageAnnotatorClient.java#L232

[2017-07-06 23:07] garrettjonesgoogle commented on #1637
I have made @snehashah16  a collaborator.

[2017-07-06 23:50] vkedia commented on #1637
Thanks!

[2017-07-07 05:13] vaiju12p commented on #2211
great!! It is working thanks you very much @michaelbausor .

[2017-07-07 05:13] #2211 closed

[2017-07-07 07:51] NicolaSpreafico commented on #2157
Thank you,
 the -U flag worked.

At the end I'm unable to use this lib already because of this note

https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-pubsub

The main issue has been solved anyway.

[2017-07-07 16:31] michaelbausor commented on #2157
Since the main issue is resolved, I'm closing this out - please feel free to reopen if you have additional questions. Thanks!

[2017-07-07 16:31] #2157 closed

[2017-07-07 19:22] sanumandla commented on #2066
Hi,

I have been experiencing the same issue since yesterday. My goal is to publish custom metrics to stackdriver. I am using

[code]
[code]
I see the same exception

[code]
When I tried the same approach with 0.17.2-alpha it worked perfectly. Since it's alpha and we want to use this code in production I do not want to use it. Can someone please help me with this issue since I cannot make any prog

[2017-07-09 07:20] rrwiyatn opened #2221 "compile 'com.google.cloud:google-cloud-translate:0.20.1-beta' error"
Error:Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'.

  	File1: /Users/rrwiyatn/.gradle/caches/modules-2/files-2.1/com.google.cloud/google-cloud-translate/0.20.1-beta/f1aa85cc82b61e174338d8c45304d6d9d37b0962/google-cloud-translate-0.20.1-beta.jar
  	File2: /Users/rrwiyatn/.gradle/caches/modules-2/files-2.1/com.google.cloud/google-cloud-core/1.2.1/19160044568ccfaf002a7

[2017-07-09 13:43] danagu opened #2222 "Move google-api-services-storagetransfer to the new com.google.cloud library"
Current api jar is:

com.google.apis:google-api-services-storagetransfer

In order to manage GCP "JOBS" in a better way, moving to some mutual interface of jobs (such as in BigQuery and com.google.cloud) can be very helpful.

[2017-07-10 15:52] #830 closed

[2017-07-10 16:51] gguuss commented on #2216
I see, it sounds like they "strongly encourage implementations to throw more specific exceptions" but it's not clear how they expect you to implement this.

[2017-07-10 19:35] garrettjonesgoogle opened #2224 "Provide sample code for overriding endpoints in GAPIC clients"
Currently we have sample code for overriding credentials, e.g.

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/0e4ed46f8dfdc48bac0dba00f4bb50ed7b39b42d/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/TopicAdminClient.java#L97

This task is to show how to override the endpoint, e.g. by calling `setEndpoint`:

https://github.com/googleapis/gax-java/blob/6b7f587ca283a7126b

[2017-07-10 19:56] michaelbausor commented on #2216
Yes, it isn't clear what we could do. One possibility would be to use a list of `Closeable` instead of `Autocloseable`. But I would be worried that at some future point, we would want to add an `Autocloseable` and need to change it back.

I am closing this for now, but if you want to discuss possibly switching to `Closeable` or some other option, please reopen!

[2017-07-10 19:56] #2216 closed

[2017-07-10 21:04] jrdoane opened #2226 "com.google.cloud.datastore.BaseKey.Builder is defined in a way that doesn't allow reflection."
The `com.google.cloud.datastore.BaseKey.Builder` subclass has the `protected` accessor applied to the sub-class itself. While this normally wouldn't cause a problem with regular use in Java, it does cause an `IllegalArgumentException` when reflection is done to dynamically call a method on the protected sub-class.  This is particularly problematic when Clojure is used because most inter-op with Ja

[2017-07-10 21:36] vam-google commented on #2222
[Cloud Storage Transfer Service](https://cloud.google.com/storage/transfer/) is essentially a separate service and is not part of our current [Storage Client](https://github.com/GoogleCloudPlatform/google-cloud-java#google-cloud-storage-ga).

I agree that the storage and storage transfer clients are tightly related and it would be nice to have them in same place, but as of now (mostly for historic

[2017-07-10 21:43] vam-google commented on #2221
Can you be more specific on what you are trying to do? Is it happening on build phase? I see `com.android` in your output. Please note that Android is not an officially supported platform for google-cloud-java clients.

[2017-07-10 22:25] jean-philippe-martin opened #2227 "class file for com.google.auto.service.AutoService not found when using NIO"
When trying to compile code that use google-cloud-nio, we get this error at compile time:

    class file for com.google.auto.service.AutoService not found

Here's for example what happens with the GATK code once updated to the latest google-cloud:

[code]

[2017-07-10 22:43] vam-google commented on #2226
Hi Jon. Let me clarify what will fix the issue you describe. So essentially changing [this line](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-datastore/src/main/java/com/google/cloud/datastore/BaseKey.java#L48) from:

[code]
to
[code]
Should fix the problem. Is that correct? If yes, then I'm happy to make/approve the change, as it is weird to have a protected b

[2017-07-10 23:04] vam-google commented on #2227
Thanks for your contribution, the corresponding PR is approved!

[2017-07-10 23:05] jean-philippe-martin commented on #2227
That was fast, thank you!

[2017-07-11 00:08] jrdoane commented on #2226
@vam-google, that's correct. As I understand it, this is [a known "bug" with the JVM since 1999](http://bugs.java.com/bugdatabase/view_bug.do?bug_id=4283544) although, I do find it odd that it's protected without a real reason to be since it's intended to be used outside the scope of the parent class. The purpose might have been to prohibit public implementation of the interface while still allowi

[2017-07-11 06:11] kirankumar-mahi opened #2229 "The request signature we calculated does not match the signature you provided."
Hi,

I am using latest aws-java-sdk-s3', version: '1.11.158'. I am getting SignatureDoesNotMatch error. I am using below code.

The request signature we calculated does not match the signature you provided. Check your Google secret key and signing method. com.amazonaws.services.s3.model.AmazonS3Exception: The request signature we calculated does not match the signature you provided. Check your Goo

[2017-07-11 18:42] frankyn commented on #2229
Hi @kirankumar-mahi!

Thanks for filing an issue! I'm trying to understand the context for your issue. What is your end goal for using `aws-java-sdk-s3` with Google Cloud Storage?

[2017-07-11 18:49] frankyn commented on #2229
I missed the last line in your script. IIUC, you're uploading a file to Google Cloud Storage using the aws-java-sdk-s3 client library and you're seeing the `SignatureDoesNotMatch` error?

[2017-07-11 19:13] vam-google commented on #2227
The PR is merged. Closing.

[2017-07-11 19:13] #2227 closed

[2017-07-11 20:08] jabubake commented on #2192
@neozwu  : DLP API as well.

[2017-07-11 20:19] jabubake opened #2231 "DLP : Default application credentials are not getting picked up when running locally"
Running code locally gives me:
"Error in inspectString: io.grpc.StatusRuntimeException: PERMISSION_DENIED: DLP API has not been used in project usable-auth-library before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/dlp.googleapis.com/overview?project=usable-auth-library then retry. If you enabled this API recently, wait a few minutes for the action to pr

[2017-07-11 20:54] vkedia commented on #1637
Added snippets to `DatabaseClient` in #2217

[2017-07-11 23:07] frankyn commented on #2229
@kirankumar-mahi, I was able to get passed this issue by using a different version of the signature. I added the solution below, please let me know if you have any trouble.  I tested this with version `1.11.158` and `1.11.160` for `aws-java-sdk-s3`.

[code]

[2017-07-11 23:09] vam-google commented on #2226
The fix is merged.

[2017-07-11 23:09] #2226 closed

[2017-07-12 08:29] kirankumar-mahi commented on #2229
It got resolved. Thanks. Closing this

[2017-07-12 08:29] #2229 closed

[2017-07-12 19:32] dconnelly commented on #2196
Hi Michael,

Still seeing other dependency issues with 0.20.1-beta when trying to mix with other latest Google API components:

google-cloud-core-http is using an older version of google-api-client:

[code]
Also dependency on com.google.auth:google-auth-library-oauth2-http:0.7.0 might be an issue:
[code]
Might be worth providing a Maven BOM with consistent dependencies to ease development across t

[2017-07-12 19:34] dconnelly commented on #2196
Unfortunately, I can't re-open this issue but I will file a new one if you want.

[2017-07-12 20:17] garrettjonesgoogle commented on #2196
@dconnelly Regarding this statement:

We do have dependencyConvergence enabled, but that doesn't take effect for consumers of our library.

[2017-07-12 20:47] mgoddard-pivotal commented on #1702
I'm seeing a similar issue in that, if I delete a DB, then recreate it using the same name, operations on it fail with "io.grpc.StatusRuntimeException: NOT_FOUND: Database has been deleted".  This is in a web app, and I'd been assuming that the single instance of SpannerOptions could be reused, but it appears that, each time the database is dropped, a new instance is required; e.g.

    this.spann

[2017-07-12 20:52] vkedia commented on #1702
Yes a new instance of `SpannerOptions` would need to be created. This is because the client internally maintains a session pool and that session pool is keyed against the database name. So if you give it the same database name, it will try to use the existing pool keyed against that name. But all the sessions in that pool are now invalid since the database got deleted.

[2017-07-12 20:56] mgoddard-pivotal commented on #1702
Ok.  Thanks for clarifying that for me, and so quickly!

[2017-07-13 01:46] dconnelly commented on #2196
Fair enough, but I get dependency convergence issues even with the most basic POM file with only bigquery as a dependency:
[code]
For example, google-oauth-client depends on an older version of jsr305 which conflicts with google-cloud-core.

[2017-07-13 02:01] pongad commented on #988
Pubsub no longer uses emulator for testing. I think we're safe to close this.

[2017-07-13 02:01] #988 closed

[2017-07-13 08:57] dargiri opened #2234 "ServiceOptions#getLibraryVersion() performance bottleneck/native memory leak."
Dear Google team,

During our internal performance testing of our application that is using google cloud java library (for accessing Google Datastore) we noticed abnormal native memory consumption (which was leading to java process being killed by Linux's OOM killer). It is caused by another bug in com.google.api.gax.core.PropertiesProvider (https://github.com/googleapis/gax-java/issues/337). But

[2017-07-13 11:51] NicolaSpreafico opened #2235 "BigQuery: Invalid projectID while loading data with POST request"
I'm working with App Engine standard project (Maven based) and I implemented this code https://cloud.google.com/bigquery/loading-data-post-request#bigquery-import-file-java in order to load data to a BigQuery table directly from in-memory data w/o providing a file from Cloud Storage

I'm attaching you a sample project which shows the error
[bq.zip](https://github.com/GoogleCloudPlatform/google-clo

[2017-07-13 15:16] saturnism commented on #1661
quick ping @garrettjonesgoogle to see when the pull will make it back into the client library

[2017-07-13 15:31] garrettjonesgoogle commented on #2234
cc @pongad here is a performance problem that was found

[2017-07-13 15:39] garrettjonesgoogle commented on #1661
Current hope is by 7/21.

[2017-07-13 23:13] nalbion opened #2236 "Provide Voice Activity Detector in SDKs"
To conserve bandwidth (and Google resources) clients featuring ambient listening should use a VAD to avoid sending GBs of silence and background noise to Google.

Creating a good VAD is a lot of work, so it should be built into each SDK.

[2017-07-14 00:44] michaelthecsguy opened #2237 "Gcloud PubSub Java implementation - java.util.concurrent.RejectedExecutionException"
I use the sample snippet from GCloud documentation to receive msg as a subscriber. My pubsub gcloud jar version is 0.19.0-alpha

The problem is that I can receive the msgConent with attribute map but I keep having this exception:

`2017-07-12 16:52:25,219 [grpc-default-worker-ELG-1-16] WARN io.netty.util.concurrent.DefaultPromise - An exception was thrown by io.grpc.netty.NettyClientHandler$3.oper

[2017-07-14 01:40] pongad commented on #2234
We'll need to make this thread safe but I agree something like the above should make us go a lot faster. I'll take this.

[2017-07-14 09:31] michaelthecsguy commented on #2237
found the issue... the runtime has to keep running otherwise, it is forcing to stop Async.

[2017-07-14 09:31] #2237 closed

[2017-07-15 02:33] #2234 closed

[2017-07-16 21:22] vscatarino opened #2240 "java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured."
I'm trying run a code that use a cloud-vision.
Everything works normally when I use my desktop(ubuntu / windows10). But when I use a raspberry appear the following error:

My pom.xml :

[code]

Anyone can help me please?

[2017-07-17 15:54] Habitats opened #2241 "Pubsub: Get AckId outside of MessageReceiver"
I'm basically having an issue very much like https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1981. I need to receive the message on one machine, and ack it on another (Spark). Serializing the `AckReplyConsumer` isn't straight forward, and not really a neat approach. I've managed to ack messages outside the scope of `receiveMessage` using the REST API, but I cannot figure out a way

[2017-07-17 16:15] garrettjonesgoogle commented on #2240
Unfortunately, Raspberry Pi runs on ARM, but ARM is not a supported architecture for the tcnative dependency of grpc yet. Thus, you won't be able to use any of the clients in this repo based on gRPC.

[2017-07-17 16:20] garrettjonesgoogle commented on #2241
I think this touches on some fundamental design decisions - I will talk to some people and get back to you.

[2017-07-17 16:26] lesv commented on #1918
Ping - I received an email from another customer about this.  Please consider this a P0.

[2017-07-17 16:26] garrettjonesgoogle commented on #2236
cc @shinfan here is an interesting feature request for the Speech client.

[2017-07-17 16:33] lesv commented on #1918
The customer wrote me and said:

Did an experiment bypassing the App Default Credentials on AppEngine:

See https://github.com/hienle-hps/getting-started-java/blob/pubsub_manual_token/appengine-standard-java8/helloworld/src/main/java/com/example/gaejava8standard/HelloAppEngine.java#L70

Steps:
1. Use `gcloud auth application-default login` on local box and run Main.java (see above project) to dump

[2017-07-17 16:46] lesv commented on #1918
Strike my last comment and I'll move it to the [pubsub issue](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2144).

[2017-07-17 16:47] lesv commented on #2144
The customer wrote me and said:

Did an experiment bypassing the App Default Credentials on AppEngine:

See https://github.com/hienle-hps/getting-started-java/blob/pubsub_manual_token/appengine-standard-java8/helloworld/src/main/java/com/example/gaejava8standard/HelloAppEngine.java#L70

Steps:
1. Use `gcloud auth application-default login` on local box and run Main.java (see above project) to dump

[2017-07-17 17:03] garrettjonesgoogle commented on #2221
Closing out because there was no response. Feel free to re-open if you are still seeing an issue and have more details to provide!

[2017-07-17 17:03] #2221 closed

[2017-07-17 17:04] garrettjonesgoogle commented on #2215
Looks like there are no follow-up questions, so I'll close this out now.

[2017-07-17 17:04] #2215 closed

[2017-07-17 17:08] garrettjonesgoogle commented on #2235
It appears that you are seeing the same issue as described in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2209 . I am going to close out this issue - please follow the resolution in 2209. Thanks!

[2017-07-17 17:08] #2235 closed

[2017-07-17 17:09] garrettjonesgoogle commented on #2209
This appears to be a problem even with clients trying to load project ID implicitly, e.g. BigQuery (user-filed issue: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2235 )

[2017-07-17 17:24] garrettjonesgoogle commented on #2205
We need to make sure that:

1. We have an easy way for users of google-cloud-pubsub to create mock implementations of publisher and subscriber
2. We have the documentation showing how to do that

Maybe (1) is already true, but I haven't taken a good look yet to verify.

[2017-07-17 17:27] frankyn commented on #1440
I found this issue in the sample sheet. I reviewed current Storage examples and the compose operation is supported by the Java client.

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/c3d18ffce9d9895550dd5d2acc1d0ff125305898/google-cloud-examples/src/main/java/com/google/cloud/examples/storage/StorageExample.java#L446

[2017-07-17 17:33] garrettjonesgoogle commented on #2199
This isn't an issue in google-cloud-java, and it looks like there is a workaround, so I am going to close it out now.

[2017-07-17 17:33] #2199 closed

[2017-07-17 17:37] garrettjonesgoogle commented on #2196
Yes, you can get pretty close by using `<requireUpperBoundDeps/>` (see https://github.com/grpc/grpc-java/blob/424eeea/examples/pom.xml#L82 for an example). What it basically does is check that maven selects the latest version of each dependency; when maven doesn't select the latest, the build will fail, and you will have to override that particular package to the latest version. If maven happens t

[2017-07-17 17:40] garrettjonesgoogle commented on #2192
I believe the root cause is that Maven is making a bad, bad choice when resolving this dependency. If maven used the latest version in the tree (which Gradle does), we would not be seeing this issue; we do indeed have the latest version in the dependency tree.

[2017-07-17 18:32] pditommaso commented on #1440
This is still an open issue on my side. I will give a try to this example. Thanks.

[2017-07-17 19:16] garrettjonesgoogle commented on #2187
Why? These are clients for those services...

[2017-07-17 19:18] garrettjonesgoogle commented on #2181
A 6x performance degradation is pretty large, marking P1.

cc @pongad

[2017-07-17 19:19] garrettjonesgoogle commented on #2172
Adding the 'testing' label since this mostly affects mocking frameworks.

[2017-07-17 19:25] garrettjonesgoogle commented on #2155
@jabubake is there any chance this is related to https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2209 ?

[2017-07-17 19:33] garrettjonesgoogle commented on #2149
@amogh-git09 what is your `PUBSUB_EMULATOR_HOST` environment variable set to? Can you print it out from your code to make sure?

[2017-07-17 19:35] garrettjonesgoogle commented on #2148
cc @lesv @tswast

[2017-07-17 20:04] garrettjonesgoogle commented on #2240
@vscatarino I don't understand your question, could you elaborate?

[2017-07-17 21:12] garrettjonesgoogle commented on #2141
Could you try updating to the latest version now (0.20.1)? We have updated the grpc dependency since 19.0, and also the tcnative dependency (now: `2.0.3.Final` ). This upgrade fixes conflicts with some other Netty usages (e.g. Tomcat).

[2017-07-17 21:15] garrettjonesgoogle commented on #2140
We don't have a specific timeline. So far, the supported services are meant to be used from other services (because they use service account credentials), not on Android (where it's safer to use user credentials). When we start adding support for services that are meant to be used on Android, we will definitely work through the Android compatibility issues.

I'm going to close this out now - feel

[2017-07-17 21:15] #2140 closed

[2017-07-17 21:18] garrettjonesgoogle commented on #2125
Problem line:

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/80f916c2e2f5c8755d1ea689f97c724c1e910021/google-cloud-video-intelligence/pom.xml#L108

This should be fixed ASAP - we won't be reporting library usage correctly until this is fixed.

[2017-07-17 21:20] garrettjonesgoogle commented on #2118
This keeps gumming up our integration tests. We should either fix the problem or nuke the tests.

[2017-07-17 21:21] garrettjonesgoogle commented on #2109
This was fixed with the upgrade to grpc 1.4 in google-cloud-java 0.20.1.