[2018-03-26 15:23] garrettjonesgoogle opened #3084 "javadoc takes a long time to generate"
Sometimes it takes 2-ish hours to do a release, most of which is javadoc. We need to speed this up for agility. Currently javadoc generation only uses one core; maybe we can parallelize this somehow.

[2018-03-26 21:53] j256 commented on #3044
Ok.  Swapping this back in.  Thanks for the help @prayagupd .  I'm getting the following from the compatibility checker which seems to match your's.

[code]

However, when I go to run your program I get similar errors to mine and I'm seeing the following in my logs.

[code]

I'm running on a:

[code]

Looks like none of the shared libraries load for me.  I see a bunch of log messages like:

[code]

[2018-03-26 22:22] j256 commented on #3044
Oh and @prayagupd , when I run your eventstream, I get: the following exception.  That's similar to mine.  This is with the `-javaagent:jetty-alpn-agent-2.0.7.jar` argument.

`Caused by: javax.net.ssl.SSLHandshakeException: No appropriate protocol (protocol is disabled or cipher suites are inappropriate)
`

[2018-03-27 00:38] jabubake commented on #3031
https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2912#issuecomment-369552213

[2018-03-27 00:39] jabubake commented on #2912
@dzlier-gcp : we might want to update the Java logging setup page to include this information.

[2018-03-27 06:47] pongad commented on #3056
I think this is the same problem I sent you an email about. Let's discuss there first.

I'm not totally sure. The `Subscriber` class uses [`Runtime::maxMemory`](https://docs.oracle.com/javase/7/docs/api/java/lang/Runtime.html#maxMemory()). Could it be that GKE creates the JVM will a lot more memory than it's prepared to give?

Sorry to keep giving work to you, would it be possible make your instan

[2018-03-27 13:34] radkomateusz opened #3087 "Ability to list projects with BigQuery"
Hello,

I would like to have ability to list all projects where BIgQuery is enabled and I (as a user or service account) have required permissions.
This functionality corresponds with biqquery.projects.list api call.

I have an use case, when I want to perform some actions on tables in all projects accessible for me.
Ability to create BIgQuery services for each accessible project would be great.

[2018-03-27 19:58] hzyi-google commented on #3064
This seems to be a dup of #3030

[2018-03-28 12:48] marcin-kolda opened #3097 "[BigQuery] Add possibility to list partitions"
It would be great if java version of bq library would have the similar method for listing partitions as it's in Python version:
https://github.com/GoogleCloudPlatform/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/client.py#L1336-L1357

[2018-03-28 16:19] samtstern opened #3098 "[Firestore] Need unit testing guidelines"
In the `google-cloud-firestore` package, many of the public API classes are `final`.  In the Android SDK we explicitly made these classes non-final to enable unit testing, with a big warning saying that general purpose subclassing is not supported.

For server-side Java we should do one of:

1. Un-`final` the classes
2. Recommend users to try Mockito 2.0 or PowerMock
3. Adopt some other method ...

[2018-03-28 19:01] ggprod opened #3099 "google-cloud-logging-logback: NoSuchMethodError with 0.42.0"
java.lang.NoSuchMethodError: com.google.protobuf.AbstractMessageLite$Builder.addAll(Ljava/lang/Iterable;Ljava/util/List;)V at com.google.logging.v2.WriteLogEntriesRequest$Builder.addAllEntries(WriteLogEntriesRequest.java:1818) at com.google.cloud.logging.LoggingImpl.writeLogEntriesRequest(LoggingImpl.java:511) at com.google.cloud.logging.LoggingImpl.writeAsync(LoggingImpl.java:593) at com.google.c

[2018-03-28 21:10] iozozturk commented on #493
Hey team, any news?

[2018-03-29 08:34] lboudard opened #3105 "gax conflict dependency"
Hi,

I'm trying to use google cloud storage client along with apache beam/dataflow.
Though I'm having some runtime dependency conflicts problems with java-gax library instanciating gcs client.
[code]
Below the code calling storage service
[code]

I've tried adding multiple versions of java-gax, excluding it from apache beam dependencies.

[code]
But still having those dependencies issues :(.

Belo

[2018-03-29 17:33] ocervell commented on #3099
Encountering the same issue.

[2018-03-29 17:41] andreamlin commented on #3105
The stack trace says the ClassNotFound error happens in BaseService.java, which is in google-cloud-core package. Your dependency tree output has the google-cloud-core dep at version com.google.cloud:google-cloud-core:jar:1.0.2.
Would you be able to update it to the latest, at 1.24.0?

[2018-03-29 20:27] dclements opened #3108 "[BigQuery] Is there a way to specify QueryResultOptions from query()"
Sometime after 0.32.0-beta the method of querying changed such that it is no longer obvious that there is a way to specify either `QueryResultsOption.maxWaitTime` or `QueryResultsOption.pageSize` when using `BigQuery.query`. All of the examples seem to use `BigQuery.query` but none seem to cover the case of controlling the page sizes or altering the timeouts.

Is there a way to do this now?

[2018-03-29 22:03] ocervell opened #3109 "Severity is always set to INFO when using logging logback plugin"
I use the google-cloud-logging-logback plugin and the logs are forwarded properly to the ingestion agent (fluentd).
However, the log level seems to not be picked up and the 'severity' field always shows as 'INFO' in Stackdriver, and this for any logs no matter their original level.
Any idea how to configure the logback.xml so that the severity is correctly reflected in Stackdriver Logging ?

[2018-03-29 22:07] ocervell commented on #2912
+1 I'm running into the same and opened a separate issue #3109 because the docs are incomplete. Having the log level in Stackdriver is essential if you want to make log-based metrics based on the 'severity' field.

[2018-04-01 17:06] ChengyuanZhao opened #3114 "Struct has only getStructList, no get single Struct"
I'm working on our GCP Spring Data integration for Spanner (https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-data-spanner), and noticed that Struct has getter methods for singular or array for all types other than Struct.

I know that STRUCTs can only be created in SQL queries and that STRUCTs are only allowed as ARRAYs of STRUCTs at the root level of the query. This l

[2018-04-02 07:12] credi-himanshu commented on #2276
@nitishgargiitd Were you able to resolve it? If yes, please let me know how.

[2018-04-02 16:43] jadekler commented on #3056
Hey @pongad, I get `940703744`. Assuming that's bytes, I think that's about 1gb. What do you reckon is going on here - why is the program going above 1gb in memory?

[2018-04-02 19:48] vkedia commented on #3114
@ChengyuanZhao Nested structs are currently not supported in cloud spanner that is why we do not expose getStruct type of method.

[2018-04-02 19:48] #3114 closed

[2018-04-03 13:08] ravindu opened #3119 "What would be the correct import? com.google.cloud.speech.v1 or com.google.cloud.speech.v1beta1"
Hi All,
I'm having doubt that what would be the correct import to be used in google-clould-java streaming because i found some examples which have used both **com.google.cloud.speech.v1** and **com.google.cloud.speech.v1beta1** imports. Looking forward for  to hear your valuable suggestions.

Thanks in advance

[2018-04-04 05:52] NicolaSpreafico opened #3122 "Bigquery com.google.api.gax.retrying.PollException"
I have an App Engine Standard project, which is performing query jobs on BigQuery

This is the library version
[code]

This is the code
[code]

I got this error on `waitFor` method call, but I'm unable to understand the cause
[code]

[2018-04-04 21:38] pongad commented on #3122
@NicolaSpreafico I think this is caused by a timeout: the operation didn't complete in 1 min. We should probably make this more clear though.

[2018-04-04 21:41] pongad commented on #3119
@ravindu I'd use `v1`. We created `v1beta1` when the API was not yet stabilized. Now that it has, I think we should use v1 for production.

[2018-04-04 21:41] #3119 closed

[2018-04-04 22:22] garrettjonesgoogle opened #3124 "Reduce size of gh-pages"
Probably just retain latest/ instead of every single version every generated.

[2018-04-04 22:23] garrettjonesgoogle opened #3125 "Remove coverage analysis from release process"
Prefer moving coverage analysis to a nightly build or something of the like. Currently coverage analysis makes the release process take a long time.

[2018-04-04 22:38] pongad opened #3126 "bigquery: allow specifying job id when calling write()"
From #3121

[2018-04-05 06:34] NicolaSpreafico commented on #3122
Thank you, after seeing logs I think you are right.

Job started: 2018-04-03 18:00:06.199
Error thrown: 2018-04-03 18:01:12.490

This job perform a query on a Google Spreadsheet federated source, so maybe sometimes can take longer than 1 minute to access data. I will now raise the timeout for avoid future problems

[2018-04-05 13:58] garrettjonesgoogle commented on #1573
I separately filed another issue: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3049 "Make google-cloud-java forward compatible with Guava 23+" which I think will help anyone who's trying to use google-cloud-java with the latest version of Guava. I'm doubtful that we will actually produce a variant of google-cloud-java with Guava shaded - there are a lot of problems with having m

[2018-04-05 14:35] #3105 closed

[2018-04-05 14:42] lndbrg commented on #1573
@garrettjonesgoogle no, i have since moved on from that project, that current instance was jenkins, but since they can do magic with classpaths it was fine. it's a microservice pulling in different dependencies, no hadoop in this case but it's still unmanageable, the moment you depend on something more than the google cloud libraries, you can expect to get sad and spend a coupe of hours on trying

[2018-04-05 14:56] garrettjonesgoogle commented on #1573
@lndbrg are you able to list any of the other products that google-cloud products are conflicting with?

[2018-04-05 23:56] wathsala-w commented on #3119
@pongad if we are to get latest bug fixes (RC version), is it good enough to experiment with com.google.cloud.speech.v1p1beta1.* ? Below example also use that package, with last update 8 days back.

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/speech/cloud-client/src/main/java/com/example/speech/Recognize.java

[2018-04-06 07:52] jontejj opened #3133 "Publish javadocs to maven central"
Javadocs are published to [http://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/](http://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/) but not to
[http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.appengine%22%20AND%20a%3A%22appengine-api-1.0-sdk%22](http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.appengine%22%20AND%20a%3A%22appengine-a

[2018-04-06 14:54] j256 opened #3134 "Pub/Sub Subscriber.stopAsync() is not asynchronous"
The javadocs for `Subscriber.stopAsync()` (really from `AbstractApiService`) read:

This does not seem to be how it is implemented.  The `doStop()` calls into the `MessageDispatcher.stop()` then into the `MessageWaiter.waitNoMessages()`, etc..

Maybe the method name needs to be changed or the functionality updated?  What I've had to do outside is to fork a thread that calls `stopAsync()`, dequeue

[2018-04-06 20:55] pongad commented on #3119
All the speech clients are generated with the same mechanism, so using `v1p1beta1` probably won't fix any bugs client-side. That said, if the RC version have a feature you want to experiment with, I think using it is the right choice.

[2018-04-09 04:53] talonx opened #3135 "PubSub : Internal Error while creating subscription"
I keep getting this intermittently while creating subscriptions
[code]

The code is as follows (exception handling etc omitted)

[code]
I am using pull subscribers.

PubSub library version in use is 0.26.0-beta . I am unable to try this with a newer version of pubsub due to dependency conflicts with the bigtable-hbase-1.x library which is used in the same application.

[2018-04-09 19:03] andreamlin opened #3136 "Fix ITStorageTest credentials"
When a user runs `ITStorageTest.testGetServiceAccount()`, they fail with the message
[code]

Deliverables:
1. Remove the `gcloud-devel` hardcoded project value from the test file.
2. Project ID needs to be configurable for this test, perhaps via [GOOGLE_APPLICATION_CREDENTIALS](https://cloud.google.com/docs/authentication/production).

[2018-04-09 20:25] tswast commented on #3070
In addition to clearing this up / de-duplicating, I'd the solution to show how to provide arbitrary credentials, such as end-user credentials via a 3-legged OAuth2 flow.

[2018-04-09 20:31] moshevi opened #3137 "Allow adding google credentials through logback appender code or xml configuration"
Any reason why the only option to inject credentials to google-cloud-logging-logback is through the GOOGLE_APPLICATION_CREDENTIALS environment variable?
Any option to add it to the appender configuration file or code?
Thanks.

[2018-04-10 11:33] yogeshpatilcrest opened #3140 "should be able to change hostname of generated URL"
We are facing google storage access issue in China. We have a kind of proxy controller at our CDN (Fastly) which will serve files from google storage to avoid Chinese blockage of Google hostnames.
So I need CDN's host in resource URL instead of `storage.googleapis.com`. I checked code and found it is currently hardcoded in `StorageImpl.signUrl(...)`. So it would be good if it is possible to config

[2018-04-10 14:05] sduskis opened #3141 "Bigtable: Admin should have proto utility methods"
There are some complex protobuf objects.  Here are some possibilities where utilities might come in handy:

- any message with "oneof" gets confusjng, since users set multiple values (`AppProfile`, `DropRowRangeRequest`, `ModifyColumnFamiliesRequest`)
- `Instance` messages are complex
- `PartialUpdateInstanceRequest` use `google.protobuf.FieldMask` which is quite confusing
- `CheckConsistency` is

[2018-04-10 17:44] pongad commented on #3081
Resolved by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3093

[2018-04-10 17:44] #3081 closed

[2018-04-10 17:48] pongad commented on #3108
Hmm, that change might have been a mistake.
However, you should be able to do `bigquery.create(queryJobConfiguration).getQueryResults(QueryResultsOption.pageSize(n))`

I'll take this as a feature request to document tis.

[2018-04-10 18:21] pongad commented on #3099
@ggprod Which version of protobuf are you using? I believe the latest library uses protobuf version `3.5.1`.

[2018-04-10 18:52] pongad commented on #3135
@talonx Are you still running into the issue? This exception indicates that we received a failure response from the server. If you still see this problem, I'll loop in the server team.

[2018-04-10 20:30] #3084 closed

[2018-04-10 23:01] #3126 closed

[2018-04-10 23:51] jadekler commented on #3056
ping @pongad - is this release blocking?

[2018-04-11 00:48] pongad commented on #3056
Sorry I lost track of this. I think the fix is easy enough that we might as well consider it release blocking.

[2018-04-11 06:44] talonx commented on #3135
@pongad It's happened once in the past week, haven't seen it since. I'll update this ticket if it happens again. If it helps, the last timestamp when it happened is 2018-04-06 13:24:56 UTC.

[2018-04-11 10:17] stianlagstad opened #3145 "google-cloud-pubsub 0.21.0-beta: `RejectedExecutionException` when publishing new messages"
We're seeing exceptions from `com.google.cloud.pubsub.v1.Publisher.publish` when trying to publish many messages quickly.

[code]
which I believe comes from:
[code]

In addition, we're also seeing this one:
[code]

I just realized that version `0.43.0-beta` is out, but the code dealing with executorprovider doesn't look to be changed since `0.21.0-beta`. Is the right solution here just to provide

[2018-04-11 11:28] wathsala-w commented on #3119
Thanks @pongad. Where can i find the release notes on SDK release versions?

[2018-04-11 14:17] JHiggins26 commented on #3030
I am also experiencing this issue. Any workarounds?

[2018-04-11 18:10] #3122 closed

[2018-04-11 18:13] pongad commented on #3119
Does [this](https://github.com/GoogleCloudPlatform/google-cloud-java/releases) have what yo need?

[2018-04-11 22:32] kir-titievsky opened #3146 "Pub/Sub: Mitigate message duplication to due stuck stream-close signal"
As documented offline, Pub/Sub streamingPull may result in a high duplicate rate because the server terminates a streamingPull connection by sending a signal down the stream. This signal is delivered to the client after the messages already in the stream buffer are processed. As a result, the client may send acks and modifyAckDeadline's up a stream that has already been broken, leading to their lo

[2018-04-12 03:42] wathsala-w commented on #3119
@pongad oh ok, it's for the suite. Thanks.

[2018-04-12 05:48] aakash-fk commented on #3030
@JHiggins26 What worked for me: manually go through all dependencies of the google cloud library, and for every io.grpc:*:1.9.0 package that you find, add a dependency on version 1.9.1 of that package to your project.

[2018-04-12 10:48] stianlagstad commented on #3145
Sorry, this was not caused by the fact that messages were created too fast. This was caused by kubernetes shutting down our application and thus shutting down the executor. Sorry about the noise.

[2018-04-12 10:48] #3145 closed

[2018-04-12 19:56] pongad commented on #3056
This should have been fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3147

[2018-04-12 19:56] #3056 closed

[2018-04-12 21:01] pongad commented on #3146
The reference implementation in Java is already completed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3123

[2018-04-13 15:18] j256 opened #3149 "Performance tests in pub/sub show that the publisher is using 50-100x more CPU than subscriber"
I've been running performance tests with Pub/Sub trying to find the right combination of threads, memory, buffer sizes, etc..  I'm seeing that the Publisher taking ~500% CPU versus 5-8% for the Subscriber running on the same server, simultaneously handling the same message throughput.  Does that surprise anyone?  In looking at the running threads I see that a number of them have the following stac

[2018-04-13 15:42] lvh opened #3150 "Mysterious "Repeated record added outside of an array" error when inserting BigQuery records including Clojure/Scala Lists"
Oops! Pressed RET to fast. Sorry, I'm writing up a description!

[2018-04-13 17:32] vkedia commented on #1810
Closed by #2776

[2018-04-13 17:32] #1810 closed

[2018-04-13 18:32] lvh commented on #1890
Hi! I filed an identical issue here: #2432 .

It is definitely not a flaw of Clojure's builtin maps, they are simply both Iterable (producing their pairs) and java.util.Map; so Clojure won't be fixing that.

I have a totally gross workaround that creates a proxy type: an object that holds the object implementing multiple interfaces and instead exposing only one. It's awful but it works. I've added

[2018-04-13 18:34] lvh commented on #2432
FWIW, it's not clear why this is marked as a feature request. I'm asking for the code to work correctly with the standard data structures of at least Clojure and possibly Scala -- but it's not a Clojure/Scala specific issue, that's just an obvious place where you'd hit it. See also #1890, #3150 (unrelated except "nasty surprise for people using Clojure data structures").

[2018-04-13 18:36] lvh commented on #2432
FWIW I used this gross hack to get around the problem: https://github.com/latacora/unsiemly/blob/master/src/unsiemly/xforms.clj#L97

Basically I had to create a proxy type that implements Map but no other interfaces, takes a Map that is also e.g. Iterable, and then only exposes a Map interface.

[2018-04-13 20:01] lvh commented on #3150
I started writing a minimal reproducer and figured out that it wasn't BigQuery anyway. Sorry :)

[2018-04-13 20:01] #3150 closed

[2018-04-13 21:05] j256 commented on #3044
Wow, this just came up again.  Related to https://github.com/grpc/grpc-java/issues/3025
What a mess.  So frustrating.

[2018-04-13 21:17] kir-titievsky opened #3152 "Pub/Sub: messages stuck in buffer, preventing proper load balancing"
Repro:
1. Publish 60 messages, with numbers 1 through 6 as message content.  Observe the total backlog for a subscription reach 60 messages and 23 bytes.
2. Start an instance of a subscriber client, with a single-threaded executor and FlowControl set to 1 message per buffer (see code below).  The subscriber takes 10 second to process each message.
3. Observe that the subscriber processes messages,

[2018-04-13 23:51] garrettjonesgoogle opened #3155 "Add circle job to generate javadocs"
So that we don't have releases blocked all the time by silly mistakes.

[2018-04-13 23:51] neozwu opened #3156 "Spanner: javadoc error"
Generating spanner javadoc throws following error. It seems a code block with `@Override` is not correctly parsed.

[ERROR] .../github/google-cloud-java/google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseClient.java:241: error: unterminated inline tag
[ERROR]    * <pre> {@code
[ERROR]            ^
[ERROR].../github/google-cloud-java/google-cloud-spanner/src/main/java/com/google/cl

[2018-04-14 01:14] vkedia commented on #3156
Closed in this commit
https://github.com/GoogleCloudPlatform/google-cloud-java/commit/0e910f51d108377773bccbc7c8a9d3247aff55f2

This is really a bug in the tool that adds the snippet. It uses `{@code` block for the snippet but that block cannot contain `@`. See this
https://bugs.openjdk.java.net/browse/JDK-8130754

[2018-04-14 01:14] #3156 closed

[2018-04-15 02:12] mikekap commented on #1890
@garrettjonesgoogle Sorry I missed the request for information. To answer:
 - Yes - "JSON serialization doesn't check to see if Iterables are Maps" is a valid way of describing the issue.
 - This is not considered a flaw in Clojure. It's arguable whether a Map should be iterable or not, Java certainly doesn't prevent you from doing so. Unfortunately even if we all agreed that a Map shouldn't be it

[2018-04-15 21:17] saturnism opened #3157 "com.google.cloud.Date has no interop w/ java.util.Date"
It's very hard to convert c.g.c.Date to j.u.Date. Can c.g.c.Date add something similar to `toDate`, `fromDate` method?

[2018-04-16 17:45] #3065 closed

[2018-04-16 17:45] #3134 closed

[2018-04-17 17:09] ihsanhaikalz opened #3164 "IAM is not included in google-cloud-java project?"
I was wondering whether google-cloud-java  includes IAM service as I found out that it is provided separated from this project based on https://developers.google.com/api-client-library/java/apis/iam/v1. I think it will be helpful for user to have centralized project for all of the services

[2018-04-18 00:42] Dan-Ostrowski-CK opened #3167 "Accumulating io.grpc.netty....MpscArrayQueue objects using google-cloud-monitoring 0.40/0.41"
I'm not sure if this is a bug or not, but the behavior is strange and I'm not sure if it's me misusing a library but I have a Spring scheduled task that runs periodically on a GCE instance.

When `google-cloud-monitoring` was added (version `0.40.0-beta` initially but later `0.41.0-beta`) we began making calls to write timeseries data.

This results in a large pile up over time of `io.grpc.netty.s

[2018-04-18 06:53] idoshamun opened #3168 "Pub/Sub: When returnImmediatly is set to false in a PullRequest it sometimes ignores messages"
I use this snippet for implementing sync pulling:
https://cloud.google.com/pubsub/docs/pull#synchronous-pull

Sometimes when there is a few minutes gap between messages, this snippet doesn't return `PullResponse` and hangs on the request call.

I ended up doing something like this in the meantime which works perfectly but I don't like the implementation (scala):
[code]

[2018-04-18 15:37] garrettjonesgoogle commented on #3044
@j256 , the real error that is relevant is "gRPC doesn't work on Google App Engine Standard under Java 1.7". The easiest way to fix this is to upgrade to Java 1.8 on App Engine, which should work fine.

[2018-04-18 15:38] garrettjonesgoogle commented on #3044
This applies to @prayagupd 's case too.

[2018-04-18 17:55] pongad commented on #3149
Yes, this is extremely surprising. When we [load-tested](https://github.com/GoogleCloudPlatform/pubsub/tree/master/load-test-framework) pubsub client, we usually observe that subscribers take a little more CPU than publisher. Our load tests run in GCE though. Could you share how you're authenticating the client?

[2018-04-18 18:08] pongad commented on #3167
Hi @Dan-Ostrowski-CK . I think there are a couple of things you can change.

1. You seem to not be closing out the clients. We tear down gRPC connections and things like that when you call `client.close()` so not calling it is probably the cause of the memory consumption. I recommend
[code]

2. The `client` is safe for concurrent use, so maybe a more effective way is to create the client only once

[2018-04-18 18:08] #3167 closed

[2018-04-18 18:12] pongad commented on #3152
This should have been alleviated by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3147 since we'd only open 1 connection by default and fewer messages should get stuck in buffer.

[2018-04-18 19:29] kir-titievsky commented on #3152
Not quite enough, since the buffer per 1 connection is still 10MB.  So in
my case of < 1000 messages, the behavior still looks ... surprising.

On Wed, Apr 18, 2018 at 2:12 PM Michael Darakananda <
notifications@github.com> wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2018-04-18 20:01] HendPro12 commented on #3030
@JHiggins26 @aakash-fk This workaround of adding dependencies for io.grpc:*1.9.1 did not work for me.

[2018-04-18 20:06] HendPro12 commented on #3064
@pkoetzmv Did you find a solution?

[2018-04-18 21:27] zero-master opened #3169 "[BigQuery] Allow to stream compressed data into BigQuery"
How can I turn on compression in BigQuery's Java driver?
I found here that the API supports gzip: https://cloud.google.com/bigquery/docs/api-performance

I need it for my streaming inserts which have very high compression ratio:
https://cloud.google.com/bigquery/streaming-data-into-bigquery#bigquery-stream-data-java

[2018-04-19 11:15] petergeneric opened #3170 "Stackdriver logging - setCredentials not working, getting "PERMISSION_DENIED: The caller does not have permission""
I'm trying to use setCredentials in LoggingBuilder, however if I supply my key.json file from code I'm getting PERMISSION_DENIED on my logging call.

If I instead populate the environment variable GOOGLE_APPLICATION_CREDENTIALS with the same /path/to/key.json it works.

My main method is:
[code]

My only dependencies:
[code]

[2018-04-19 17:14] willy2706 commented on #3152
@pongad I agree with @kir-titievsky. This issue occurred in my production when there are lots of messages published to a topic.

At last, I downgraded to v0.39.0-beta and used PollingSubscriberConnection

[2018-04-19 18:56] archiecobbs opened #3172 "[Spanner] TransactionManager.close() not idempotent; API doc example is broken"
I am using the new `TransactionManager` API and am getting mysterious `"rollback can only be called if the transaction is in progress"` exceptions.

I think I've tracked down the problem...

The API docs example shown with `DatabaseClient.transactionManager()` is this:
[code]
However, this example usage is actually wrong.

The reason is that the implementation returned from `DatabaseClient.transac

[2018-04-20 07:38] pkletsko opened #3175 "Publishing to pub/sub works unstable"
I am using exact example of publish message to pub/sub from https://cloud.google.com/pubsub/docs/publisher

with only one small modification
my loop looks like :   ` for (i in 1..1000000)`
and the message has 16kb of text from Wikipedia

If loop is 1000 I see console output of ids (workds fine)
but with 10000 I already got error:

[code]

If I decrease message size to 16 byte I can send successful

[2018-04-20 10:54] PrashSi commented on #3083
I am also facing the same problem in production and with selective hosts. I am using the same JSON(service account credentials) on 30 different hosts and 3 of them have reported this error. This is a runtime error with a generic message. Please suggest a way to debug it.

[2018-04-20 20:38] alixhami opened #3178 "BigQuery: Cannot list jobs when there has been an invalid job request"
I recently ran an invalid job outside of the Java BigQuery client library, and when I try to list jobs when running the BigQuery samples tests with the Java client library, I get an error:

[code]

This error comes from from the Java BigQuery client library when it attempts to build an invalid job ([error defined here](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/b7b3f21b784a3524f

[2018-04-20 20:38] alixhami commented on #3178
cc @tswast

[2018-04-20 20:45] tswast commented on #3178
Presumably Java will need a slightly different solution, as it is statically typed and can't really delay when it attempts to parse the various properties from the API response (or maybe I'm wrong about that?).

The Job resource provides a [status.errors[]](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs#status.errors) list (exposed in Java as [JobStatus.getExecutionErrors()](https:/

[2018-04-20 22:15] #3178 closed

[2018-04-21 21:28] rafaelsf80 opened #3182 "Dependency conflicts between Vision client library and Apache Beam Cloud Dataflow runner"
Hi,

I am creating a **Google Cloud Dataflow pipeline** that collects data (like image URLs) from a CSV and calls the **Google Cloud Vision service** using client libraries for image detection.

I create a maven project with the beam libraries. Problems appear when adding the [java vision client library](https://cloud.google.com/vision/docs/libraries?hl=es#installing_the_client_library), looks lik

[2018-04-23 11:59] j256 commented on #3044
Moving to Java 7 just isn't possible given my corporate software requirements.

[2018-04-23 12:11] sangamangreg commented on #3083
I am also facing the same issue. Are you able to solve this?

[2018-04-23 13:16] garrettjonesgoogle commented on #3044
That is very unfortunate - the Java 7 runtime of App Engine will be entirely shut down in January next year (2019): https://cloud.google.com/appengine/docs/deprecations/java7

[2018-04-23 14:46] agzamovr commented on #3083
No, we have decided to use RabbitMQ instead.

[2018-04-23 20:27] vkedia commented on #3172
@archiecobbs Thanks for reporting this. Your patch looks good. Do you want to send a PR for that?

[2018-04-23 20:29] j256 commented on #3044
Noted.

[2018-04-23 21:41] archiecobbs commented on #3172
Sure, added #3183.

[2018-04-23 22:11] vkedia commented on #3172
Thanks. Closing this issue now.

[2018-04-23 22:11] #3172 closed

[2018-04-23 23:55] lesv opened #3186 "Local Datastore API's"
App Engine standard has [API's](https://cloud.google.com/appengine/docs/standard/java/tools/localunittesting#high-replication-datastore) to support unit testing in customers app's.

[2018-04-24 00:04] jabubake commented on #3186
@jba FYI

[2018-04-24 03:20] henrik-io opened #3187 "OpenSSL exception with google-cloud-dlp 0.44.0-beta on OpenJDK 8"
I'm using Google DLP through the Google Cloud Java client library, and when I upgraded to the latest version, 0.44.0-beta, I started getting the CertificateException shown below. This runs fine when I run it on my Mac with the Oracle JDK 8, but when run in OpenJDK 8 in a Docker instance, I'm seeing the exception. I have to have this running on OpenJDK. I'm guessing that the certificate is signed b

[2018-04-24 10:01] pkoetzmv commented on #3064
@HendPro12 Sry, i've found no workaround at all. Its just broken right now if you are forced to use a proxy. The workaround from #3030 didn't helped, but maybe you could give it a try.

[2018-04-24 15:08] goxr3plus opened #3188 "How to pass Audio from Microphone to Google Speech To Text?"
I can't find any example for this functionality on the repository :

https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-clients/google-cloud-speech

Is it supported at all ?

[2018-04-24 20:28] j256 commented on #3149
I'm not sure what you mean.  I'm using something like:

	credentialsProvider =
		FixedCredentialsProvider.create(GoogleCredentials.fromStream(jsonFileInputStream))
	...
	Publisher.Builder publisherBuilder = Publisher.newBuilder(googleTopicName);
	publisherBuilder.setCredentialsProvider(credentialsProvider);
	publisherBuilder.setRetrySettings(buildRetrySettings());
	publisherBuilder.setBatchingSett

[2018-04-24 21:47] patflynn opened #3190 "Update all Maven and Gradle based library import instructions to use BOM"
all the specific API readme's instruct the user to directly import the versioned dependency using
`<dependency>
  <groupId>com.google.cloud</groupId>
  <artifactId>google-cloud-translate</artifactId>
  <version>1.27.0</version>
</dependency>`

This is setting users up for diamond dep conflicts as soon as they choose to import another library in the catalog.

Instead we should always instruct the u

[2018-04-25 09:35] timothyBrake opened #3191 "Unclear in docs if config can be reused and relevant classes are thread safe."
E.g.: Can I reuse parts spanding more requests like the response of the getServcie() and have that injected in another class? Are these classes thread safe or should a developer always create a new Translate object?

[code]

[2018-04-25 12:09] elharo opened #3192 "Dependency convergence errors in datastore"
It's not immediately obvious to me why I see this and the checks in this project's own pom.xml don't; but I definitely see this in a project that does nothing but import the datastore dependency from the google-cloud-java BOM and check dependency convergence:

[code]

[2018-04-25 14:42] j256 commented on #3044
Ok.  I think I've finally figured this out.  We run with a lot of different JREs on our servers supporting various Java variants and I believe this is a 32bit/64bit issue and _not_ a Java7 versus 8 issue.  I'm going to mark this closed but I'll add some details here as I get more details.  Thanks for all of the help.

[2018-04-25 14:42] #3044 closed

[2018-04-25 14:47] elharo commented on #3192
This probably has something to do with it:

[code]

[2018-04-25 17:55] elharo commented on #3192
see https://issues.apache.org/jira/browse/MENFORCER-285

Moving the <configuration/> outside <executions/> seems to solve the problem.

https://stackoverflow.com/a/7431860/1506545

[2018-04-25 20:09] elharo commented on #3192
May just need to bind the plugin to the validate phase.

[2018-04-25 23:51] garrettjonesgoogle commented on #3187
This doesn't have the feel of something caused by google-cloud-java itself. What was the prior version you were using?

[2018-04-26 00:09] henrik-io commented on #3187
Hi Garrett. I literally have made no other change than upgrade the DLP jar from `0.34.0-beta` to `0.44.0-beta`. There are no code, JRE/JDK, or deployment changes, etc. It's super reproducible in my case. By reverting back to `0.34.0-beta` it worked fine again.

[2018-04-26 00:28] henrik-io commented on #3187
OK, will do. I'm tied up with other stuff at the moment, but I may get some time early next week to try it. Thanks.

[2018-04-26 13:58] hmigneron opened #3194 "PubSubPublisher : High CPU usage"
We use PubSub in a fairly conventional way :
[code]
Our infrastructure is on google cloud (and we use k8s). For a steady ~3000 messages / second, 6 pods with the following config are enough and work at around 80% CPU

[code]

We would like to use the message in different ways and move towards something like :

[code]

The only modification we made to the code is creating a new PubSubPublisher and

[2018-04-26 16:55] neozwu commented on #3155
Done.

[2018-04-26 16:55] #3155 closed

[2018-04-26 17:52] pongad commented on #3149
I think I found the issue. From the stack trace, you seem to be using JWT for auth. Until recently JWT tokens aren't cached so you were doing expensive auth negotiation every single call to publish RPC. The subscribe side wasn't affected because it uses long-running streaming call.

This was fixed in https://github.com/google/google-auth-library-java/commit/664754ee1208fe17472e41d10aa752851f610e7e

[2018-04-26 18:35] schmidt-sebastian commented on #3098
Fixed with #3176

[2018-04-26 18:35] #3098 closed

[2018-04-26 18:56] elharo opened #3198 "com.google.cloud:google-cloud-core:jar:tests:1.27.1"
Locally at master I'm seeing:

[code]

Looks like an artifact that isn't in Maven Central yet? Can anyone suggest how I should proceed?

[2018-04-26 19:25] #3149 closed

[2018-04-26 22:14] j256 commented on #3149
Wow.  Huge win with 0.38.0 for example.  I still see the Publisher use more CPU than the Subscriber but the difference now is like ~3x instead of 50-100x.  Throughput seems to have increased so that my program is now hitting other limits.  Thanks much @pongad.

For those who don't want to wait, it's an easy pom.xml exclusion stanza:

 	<dependency>
		<groupId>com.google.cloud</groupId>
		<artifact

[2018-04-27 04:23] dan-j opened #3203 "Firestore runTransaction doesn't propagate java.lang.Error"
If a `Transaction.Function<T>` lambda throws an instance of `java.lang.Error`, the returned `ApiFuture<T>` doesn't trigger the listeners registered through `apiFuture.addListener(Runnable, Executor)`.

I'm wrapping all `ApiFuture<T>` instances into a `Mono<T>` from project reactor, and because the listeners don't get fired on Errors my application is just hanging.

As a workaround I've had to wrap

[2018-04-27 10:00] elharo commented on #3198
Are their instructions for this somewhere? My efforts to build google-cloud-core in isolation hit other errors.

[2018-04-27 10:19] elharo opened #3205 "Reporting configuration should be done in <reporting> section, not in maven-site-plugin <configuration> as reportPlugins parameter."
While building google-cloud-bom

[code]

[2018-04-27 10:25] elharo commented on #3198
FYI it looks like I need to pre-install google-cloud-bom & google-cloud-core but not google-cloud-core-grpc. I also need to run

[code]

[2018-04-27 10:57] elharo commented on #3198
BigTable tests are failing. Is there some additional setup for this?

[code]

[2018-04-27 11:01] elharo opened #3206 "Merge without code review allowed"
See https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3193 for example.

"Review has been requested on this pull request. It is not required to merge."

I suspect the repo should be configured to require review before merge.

[2018-04-27 12:27] elharo commented on #3192
I have a hypothesis as to what's happening here. The `dependencyManagement` section of the root google-cloud-java pom.xml explicitly declares all these dependencies. These versions then override the versions selected in the transitive dependency graph, at least as far as the maven enforcer plugin is concerned.

*However* this version override does not extend to projects that themselves depend on g

[2018-04-27 13:59] garrettjonesgoogle commented on #3192
That was my understanding of dependency convergence, which is why I was actually somewhat confused about this issue, and why I think dependency convergence is not really useful in general.

As for including versions of libraries outside google-cloud-java, we used to do that, but @joaoandremartins in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2781 said that that was a bad pract

[2018-04-27 14:03] joaoandremartins commented on #3192
Absolutely do not add Guava to the BOM. That's a breeding ground for diamond dependency issues.

If anything, add Guava to the internal `pom.xml` (as I suspect is already the case with `google-cloud-java`).

[2018-04-27 14:50] elharo commented on #3192
Suppose we don't add Guava et al to the BOM. The same dependency convergence issues from #2781 still exist. They're simply not noticed by the enforcer plugin.

@joaoandremartins It sounds we should include you in the code hygiene meetings with @loosebazooka and @paflynn

[2018-04-27 19:35] hmigneron commented on #3149
Thank you both, the improvement is HUGE for us as well with this solution.

[2018-04-27 19:38] hmigneron commented on #3194
Huge thanks to @pongad, the solution offered in #3149 worked for us : updating `google-auth-library-oauth2-http` to >= `0.9.1`.

About the numbers I gave, after updating the auth lib, what  20 pods @ 100% could not handle is handled perfectly well by 7 of those pods that hover around 100%.

[2018-04-27 20:38] pongad commented on #3194
@hmigneron I'm glad that worked for you. Are more actions required to resolve this issue?

[2018-04-27 20:43] hmigneron commented on #3194
No, that should be it !  Thanks again

[2018-04-27 20:43] #3194 closed

[2018-04-28 12:46] willedwards commented on #3186
Thanks for clarifying this. I find it bizarre there is no equivalent way to unit test like LocalDataService in the std version. Not what I'd expect from google.

This is a big enough reason to stick with java8 + std version for me.

[2018-04-29 13:19] bhagyas opened #3213 "ThreadManager not available on Google Cloud Java"
It is available in AppEngine SDK, but not on Google Cloud Java. This limits applications from being ported over to the new SDK.

[2018-04-30 11:44] pkletsko commented on #3175
I have found an answer on my question. I have used wifi (200 Mbit) on my mac which obviously have limits how fast and how much it is possible to send. Just one try with 1Gbit cable showed that it is possible to send fast and stable of course batch strategy and retry mechanism should be applied. But over all it is clear what was wrong. I think it would be nice to see some benchmarks in documentatio

[2018-04-30 11:44] #3175 closed

[2018-04-30 13:52] garrettjonesgoogle commented on #3198
@igorbernstein2 do you have any insight into the test failure that @elharo is seeing here? (Note: integration tests seem to be working on master fine)

[2018-04-30 14:04] elharo commented on #3213
Not sure this is a google-cloud-java issue. Google Cloud Java is not a replacement for the App Engine Java SDK. Can you elaborate? Did you mean the Cloud SDK?

[2018-04-30 14:28] igorbernstein2 commented on #3198
I haven't been able to replicate this on linux nor os x.

@elharo, can you share some more details about your setup?
- The output of `mvn -version`
- The output of `gcloud components list --format=json`
- The output of `git rev-parse HEAD`
- The output of `git status`
- The exact command that you used to start the integration tests

Thanks

[2018-04-30 14:50] edmonddc commented on #1573
@garrettjonesgoogle OpenTSDB uses guava version 18.

I'm getting this error during runtime:

java.lang.NoClassDefFoundError: Could not initialize class com.google.pubsub.v1.PubsubMessage$AttributesDefaultEntryHolder

[2018-04-30 15:18] elharo commented on #3198
[code]

[2018-04-30 15:19] elharo commented on #3198
[code]

[2018-04-30 16:02] elharo commented on #3198
May be a flaky test. It just passed for me.

[2018-04-30 16:16] igorbernstein2 commented on #3198
That's odd, the test should be deterministic. If it's flaky, then it means that there might be an issue in our emulator.

I'm having a hard time finding commit `51eba4e14c39df7dc97778ca7af36774ebbaf6cf`. Can you see if you can reproduce the issue against the current HEAD of master (`b559d674b14169487b34c68bf10160af8b1887b7`)

[2018-04-30 17:53] igorbernstein2 commented on #3198
Ok, I found the underlying issue. It's a bug in the emulator that I'll try to get to this week.

[2018-04-30 17:53] #3198 closed

[2018-05-01 09:45] moshevi opened #3215 "Injecting google cloud credentials instead GOOGLE_APPLICATION_CREDENTIALS environment"
Please provide a way to inject google credentials information for the stackdriver logger by means of public method/property instead of placing a private key file on machine and refer it from the GOOGLE_APPLICATION_CREDENTIALS environment variable.

Thanks.

[2018-05-01 10:09] bhagyas commented on #3213
T
hank you.
This was resolved by adding Google AppEngine API as a dependency.

[2018-05-01 10:09] #3213 closed

[2018-05-01 21:16] papudesi commented on #2401
Upgrading our dependencies from grpc-core-1.7 to grpc-core-1.11.0, and grpc-netty-1.7.0 to grpc-netty-shaded-1.110, we get this exception:
[code]

Also want to throw in that the root handler doesn't work for us, our logging.properties looks like this:
[code]

[2018-05-01 21:22] papudesi opened #3219 "Issue upgrading grpc logger"
Upgrading our dependencies from grpc-core-1.7 to grpc-core-1.11.0, and grpc-netty-1.7.0 to grpc-netty-shaded-1.110, we get this exception:
[code]
netty-shaded appears to have a `io.grpc.netty.shaded.io.grpc.netty.NettyChannelProvider.`

[2018-05-01 21:25] papudesi opened #3220 "Logging to root handler doesn't work"
We use [tomcat-runtime](https://github.com/GoogleCloudPlatform/tomcat-runtime), and our logging.properties looks like this:

[code]

Adding something like `org.apache.handlers` works, just not for the root handler.

[2018-05-01 21:35] garrettjonesgoogle commented on #2401
@papudesi could you please open a new issue?

[2018-05-01 21:47] papudesi commented on #2401
@garrettjonesgoogle created #3219 and #3220, thanks.

[2018-05-01 21:54] Horneth opened #3221 "Requester Pays on NIO"
There is an option on `BlobSourceOption` and `BlobWriteOption` to specify the billing project to use when accessing a requester pays bucket, but there doesn't seem to be a way to wire that through NIO.
Am I missing it ? And if not is this something that could be considered ?

[2018-05-02 00:37] pongad commented on #3206
This sounds like a good idea. I don't have the powers to do this, but I'll assign @garrettjonesgoogle .

[2018-05-02 00:40] pongad commented on #3168
@mdietz94 I think this might be a server issue?

[2018-05-02 01:51] pongad commented on #3220
I'm unable to reproduce this. Could you try doing this at startup?
[code]
On my machine, this properly prints `com.google.cloud.logging.LoggingHandler@6b0d80ed` signifying that the handler is registered. (The `6b0d80ed` is irrelevant here.)

[2018-05-02 07:18] orinoco opened #3223 "Error: ... virtual machine instance does not have permission scopes specified."
I have a relatively straight forward cloud datastore app, deployed on appengine. I'm using Objectify 6. I am getting this error when running unit tests against the local datastore, on travis-ci.

`java.io.IOException: Error code 404 trying to get security access token from Compute Engine metadata for the default service account. This may be because the virtual machine instance does not have permis

[2018-05-02 12:02] mdietz94 commented on #3168
It's WAI. When return immediately is false we may hang up until the max rpc deadline so that we get as many messages as possible. Lowering max messages or reducing the RPC deadline will change the behavior.

[2018-05-02 12:35] idoshamun commented on #3168
I see, thanks. I thought it should not hang up until messages arive

[2018-05-02 12:35] #3168 closed

[2018-05-02 15:49] garrettjonesgoogle commented on #1573
@edmonddc on the surface that doesn't seem related to Guava - could you give a more extended stack trace?

[2018-05-02 15:56] edmonddc commented on #1573
@garrettjonesgoogle, I'm not really sure if it is really guava. But I got the idea that it might be guava from this:

[https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/TROUBLESHOOTING.md](url)

This is the stacktrace:
`
018-04-30 07:55:14,813 ERROR [OpenTSDB I/O Worker #3] ConnectionManager: Unexpected exception from downstream for [id: 0x7ec44c51, /172.18.0.14:59892 :> /172.18

[2018-05-02 16:01] garrettjonesgoogle commented on #1573
I don't see Guava anywhere in the stack trace... I do see that your jar is named `GCloudPublisher-0.1.0-jar-with-dependencies.jar`, implying you have done some shading. Maybe your shading configuration isn't quite right?

[2018-05-02 16:04] edmonddc commented on #1573
@garrettjonesgoogle I haven't done any shading yet. But I might do that to fix the runtime issue. I made GCloudPublisher for OpenTSDB as RT plugin.

[2018-05-02 21:39] orinoco commented on #3223
I eventually figured this out. Turns out, mvn was not getting the proper authentication, even though logged in with a service account. I was able to fix it by adding:

where key.json is created in IAM -> Service Accounts ->App Engine default service account (ie. the same account being used to login with gcloud).

[2018-05-02 21:39] #3223 closed

[2018-05-02 22:12] coryan opened #3227 "List links to other language doc pages in alphabetical order (and add link to C++)"
Please update drop down menu of [Java docs page(s)](https://googlecloudplatform.github.io/google-cloud-java/0.46.0/index.html)

### Expected Behavior

.NET, C++, Go, Java, Node.js , PHP, Python, Ruby

### Actual Behavior

.NET, Go, Java, Node.js, PHP, Python, Ruby

![image](https://user-images.githubusercontent.com/6241635/39551793-7475a7c0-4e34-11e8-8324-230e378af87b.png)

[2018-05-03 01:13] ymcjava opened #3228 "unable do junit testing of TableResult outside of package"
I am using table to result to get the result from query job and then using a FieldValueList to iterate the list of row and is working fine, However when I do the junit testing for this code , I tried the TableResultTest and getting error that TableResult() not available publicly. Is there any way I can populate the FiledValueList in TableResult and do the unit test on different package

 TableResu

[2018-05-03 12:16] edmonddc commented on #1573
Just dropping this here... I was able to fix the issue on my build. The issue is on protobuf and not on guava. The runtime enviroment on OpenTSDB is using an older version of protobuf. After shading the protobuf on the pom file, I was able to connect to google cloud pubsub.

[2018-05-03 18:27] neeleym commented on #3099
I, too, am having the same result with this dependency. My dependency tree does show 3.5.1 of protobuf being used. I am using this in conjunction with google-cloud-dlp release 0.46.0-beta.

[2018-05-03 19:27] LiviuArln opened #3230 "import com.google.pubsub.v1.ProjectTopicName cannot be resolved"
So I am using Gradle to build the project and implicitly get your library. If you have some other dependencies with the same packages names inside, the dependency is not grabbed by Gradle. Otherwise the class is missing even from your sources here.

I see "mvn compile " fails for pubsub ... Not expecting this kind of issues here ...

Please advise

[2018-05-03 21:05] papudesi commented on #3220
@pongad verified there are no root loggers:
[code]
And from the logs:
[code]

[2018-05-03 21:55] pongad commented on #3099
@neeleym This is very surprising. Protobuf 3.5.1 [source file](https://github.com/google/protobuf/blob/v3.5.1/java/core/src/main/java/com/google/protobuf/AbstractMessageLite.java) suggests that this dependency should exist. Could you share your `pom.xml` file? I can try to figure out what's going on.

[2018-05-04 08:48] gaurav-m opened #3233 "java.net.UnknownHostException: accounts.google.com"
Hi

I am trying to setup a server for a firebase based project.
When I run the sever(spring boot based sever) on my machine. I get the following issue

[code]

Same thing happens with my firebase project url. As following
`java.net.UnknownHostException: xxxxxx-xxxxx.firebaseio.com: nodename nor servname provided, or not known`

Notes
1. If I start another terminal windows with 'ping accounts.googl

[2018-05-04 18:53] neeleym commented on #3099
@pongad I agree that the dependency as suggested does exist, so unsure how this is not succeeding. Below is my pom file. I am using this in conjunction with Flume, so you will see that in the pom file. I am excluding guava from Flume because it is using a very old version and I am letting the DLP guava version take over ( 0.20.0 ). I got passed that collision and now have the error originally post

[2018-05-04 21:26] papudesi commented on #3219
looks like spanner is the only offender: https://github.com/GoogleCloudPlatform/google-cloud-java/search?utf8=%E2%9C%93&q=%22import+io.grpc.netty.shaded.%22&type=

[2018-05-04 21:45] papudesi commented on #3219
however, using `grpc-netty` fixed my issue with gcloud logging. 🤷‍♂️

[2018-05-06 22:58] carlzogheib opened #3235 "SessionPool logging is using wrong object string to replace"
Class: `com.google.cloud.spanner.SessionPool`
Function: `PoolMaintainer.closeIdleSessions(Instant currTime)`

`logger.log(Level.FINE, "Closing session %s", sess.getName());`
Should instead be
`logger.log(Level.FINE, "Closing session {0}", sess.getName());`
to replace `{0}` with `sess.getName()`, otherwise all it's logging is `Closing session %s`

[2018-05-07 11:05] praveenatsolartis commented on #2740
Can anyone please help me with this.

**Application error message:**

16:27:39,275 ERROR [org.hyperledger.fabric.sdk.Channel] (ServerService Thread Pool -- 146) Jetty ALPN/NPN has not been properly configured.: java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured.
        at io.grpc.netty.GrpcSslContexts.selectApplicationProtocolConfig(GrpcSslContexts.java:162) [grpc

[2018-05-07 16:56] henrik-io opened #3236 "Google DLP broken with 0.46.0-beta: Caused by: io.grpc.StatusRuntimeException: UNIMPLEMENTED: Method not found"
Ever since the Google DLP service went from V2Beta to GA, my production code is broken. I'm getting an exception with a message like this:

`Caused by: io.grpc.StatusRuntimeException: UNIMPLEMENTED: Method not found`

I'm stepping through the execution in the debugger, and I can see what looks like a URL referencing the old service:
`google.privacy.dlp.v2beta1.DlpService/RedactContent`. See attach

[2018-05-07 18:21] pongad opened #3238 "Update Redis doc link when available"

[2018-05-07 20:31] meltsufin commented on #3220
Just to make sure, are you both running the same version of the `google-cloud-logging` library?

[2018-05-07 20:36] pongad commented on #3236
Hi @henrik-io . I don't think this is an issue with the client lib. According to the DLP team, the beta endpoint has just been turned down. Could you migrate to `com.google.cloud.dlp.v2` package instead?

[2018-05-07 20:36] #3236 closed

[2018-05-07 20:50] henrik-io commented on #3236
Hi @pongad and thanks for your response. It never struck me to check the imports as I didn't realize there were package paths with specific Beta versions. Maybe I missed something or didn't get the memo, but I don't recall reading about package path changes for the GA migration. If the Beta API has been retired, I'd suggest removing those packages altogether from the jar files going forward. I'd r

[2018-05-07 20:55] pongad commented on #3236
I can completely understand the confusion. We're actually planning to remove the beta package this week.

[2018-05-07 20:57] henrik-io commented on #3236
Awesome. Did the V2Beta types RedactContentRequest/RedactContentResponse disappear? What's the V2 equivalents? Thanks.

[2018-05-07 20:58] pongad commented on #3220
@meltsufin Thank you for taking a look. I am running `1.28.0`. I'm confused how this is happening though, since IIUC the logic to read and logging configuration file isn't in `google-cloud-logging`. My current suspicion is that the tomcat runtime is doing something funny, but I'm completely willing to be told I'm wrong.

[2018-05-07 21:11] meltsufin commented on #3220
@pongad The logging configuration is loaded by Tomcat itself. The runtime is not really doing anything with it. We do have a [sample app](https://github.com/GoogleCloudPlatform/tomcat-runtime/blob/master/tests/test-war-integration/src/main/resources/logging.properties) that actually registers a root handler that may aid with debugging.

[2018-05-07 21:13] papudesi commented on #3220
@meltsufin @pongad I'm using `1.14.0` (on account of #3219) :)

[2018-05-07 21:25] henrik-io commented on #3236
@pongad it seems like quite a bit has changed between the V2Beta1 and GA versions. Is there a migration guide? I looked in the examples section, but it seems like `https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/dlp/src/main/java/com/example/dlp/Redact.java` only deals with redacting images. It would be very helpful with a real example for redacting text and maybe a migration

[2018-05-07 21:52] pongad commented on #3236
I also cannot seem to find a migration guide, but [this](https://cloud.google.com/dlp/docs/deidentify-sensitive-data) might help you. I believe text redaction functionality has been moved to `deidentifyContent`.

[2018-05-08 00:12] pongad commented on #3235
Closed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3224

[2018-05-08 00:12] pongad commented on #3235
Sorry closed wrong issue :cry:

[2018-05-08 00:13] pongad commented on #3203
Closed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3224

[2018-05-08 00:13] #3203 closed

[2018-05-08 00:14] pongad commented on #3146
From meeting today, this was closed by #3123

[2018-05-08 00:14] #3146 closed

[2018-05-08 00:16] pongad commented on #3233
I think this issue is for https://github.com/firebase/firebase-admin-java, not this repo. @schmidt-sebastian can you confirm?

[2018-05-08 00:34] pongad commented on #3135
@talonx Since it's unlikely that this is caused by the client lib, I'll close this for now. Please let us know if you're still seeing this problem.

[2018-05-08 00:34] #3135 closed

[2018-05-08 00:35] pongad commented on #3051
Everything is up to date now.

[2018-05-08 00:35] #3051 closed

[2018-05-08 05:51] Mahawbc opened #3244 "Not able to run this sample project"
I have created new json with new google console project but its not working. when i going to run project its giving error like "Failed to obtain access toke com.fasterxml.jackson.core.JsonParseException:Unexpected character ('H' (code 72)): expected a valid value (number, String, array, object, 'true', 'false' or 'null')" and
"java.lang.NullPointerException: Attempt to invoke virtual method 'java.

[2018-05-08 18:17] #3235 closed

[2018-05-08 18:54] #3228 closed

[2018-05-09 17:11] songy23 opened #3250 "Stackdriver Trace: com.google.api.gax.rpc.NotFoundException: io.grpc.StatusRuntimeException: NOT_FOUND: Requested entity was not found."
Hi there,

One of our customers got a exception when exporting via the v2 `TraceServiceClient`:

[code]

He tried with version `0.42.0-alpha` and `0.34.0-beta`, but got this exception in both cases. He could also see this in Stackdriver trace view in the Google Cloud Console:
![image](https://user-images.githubusercontent.com/187029/39799419-70c7bfd4-5364-11e8-9a38-e18399ddf58d.png)

Any idea how

[2018-05-09 19:55] papudesi commented on #3220
@meltsufin @pongad seeing the same thing with `1.28.0` as well.

[2018-05-10 00:15] jackbarantee commented on #3228
Thanks a lot a for fixing this issue

[2018-05-10 00:17] ymcjava commented on #3228
Thanks for fixing this issue

[2018-05-10 11:05] muzuro commented on #3083
We have same issue, weird that some messages is received - some failed

[2018-05-10 16:51] droazen commented on #2453
@hzyi-google Unfortunately this issue still persists for us running on Google Dataproc using the latest `google-cloud-java` release (`0.47.0-alpha:shaded`) and the latest Dataproc image (`1.2.34`). Could you please re-open this issue? I don't think the compatibility issues between `google-cloud-java` and Google Dataproc have been resolved. Our project is stuck on an ancient fork of `google-cloud-j

[2018-05-10 17:05] pongad commented on #3219
@papudesi Which version of logging did you see this problem on? Newer logging versions use grpc-netty-shaded so I'm a little confused how changing dependencies of grpc-netty could affect its behavior.

[2018-05-10 17:56] pongad commented on #3219
@papudesi I assume you're seeing this on the Tomcat runtime? For my own sanity, I checked `google-cloud-logging` locally and, by itself, it seems to work OK. If this occurs only on Tomcat, I think we should loop in Tomcat folks and figure out how to version sustainable :/

[2018-05-10 18:38] jphalip opened #3252 "NLP example doesn't work in Cloud Shell"
I'm getting this error:

[code]

The project I'm using does have the API enabled. I have no idea what project `618104708054` is — that is not the project I'm using.

I've tried setting the `GOOGLE_CLOUD_PROJECT` environment variable to my project ID, but I still get the same error.

Any idea what might be causing this?

[2018-05-10 18:52] jphalip commented on #3252
I'm getting the same error with the Translation API as well:

[code]

[2018-05-10 18:57] jphalip commented on #3252
Steps to reproduce:

1. Open Cloud Shell

2. `git clone https://github.com/GoogleCloudPlatform/java-docs-samples`

3. cd `java-docs-samples/translate`

4. `mvn package`

[2018-05-11 05:19] albertzaharovits opened #3254 "Batched Requests don't honor the host setting"
Batch endpoint always hits `www.googleapis.com` irrespective of the `host` setting on the `StorageOptions` that built the storage client.
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/52b727aef88ae76984aa3c02b4d7067e198d34b7/google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java#L191

[2018-05-11 05:44] albertzaharovits opened #3255 "File upload connections are over fixed ports and path"
If one uses `StorageOptions.Builder#setHost` with a value such as `http://proxy.url.local:8888/somepath`, builds the storage client using this `StorageOptions`, *most* connections generated by the client use these values (scheme, host, port, path), eg when listing and deleting blobs, but the file upload connection does not:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/52b727aef88a

[2018-05-11 09:28] praveenatsolartis opened #3256 "java.lang.ClassNotFoundException: org/eclipse/jetty/alpn/ALPN"
Can anyone please help me with this. Getting this exception when deploying in Jboss

**Application error message:**

[code]

**My maven dependency tree**
[code]

**My Compat checker result:**

[code]

[2018-05-11 11:18] anamika-papajohns opened #3257 "Batch acknowledgement is not working in asynchronous call"
We are having the requirement of creating a batch of messages on every one minute.
Once batch is processed and return success in response, we need to acknowledge all the messages which were present in that batch.
If batch process response is failure , we need to unacknowledged the messages.

Current functionality given by pub/sub library: In asynchronous call, we can ack/nack message one by one, i

[2018-05-11 20:04] matthewayne opened #3260 "All README links to specific products (i.e. Datastore, Dialgoflow, etc.) are broken"
All README links that point to a specific product i.e. Datastore, Dialogflow, etc. are broken

Example: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-datastore

[2018-05-11 20:13] Mistic92 commented on #3260
I see everything was moved to https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-clients

[2018-05-11 20:55] hzyi-google commented on #2453
Apologies that the issue still exists. I'll take a look again.

[2018-05-11 21:14] #3191 closed

[2018-05-11 21:35] hzyi-google commented on #2453
Here is what Dataproc team mentioned from an internal thread:

Please let me know if this helps.

[2018-05-11 23:12] ejona86 commented on #2740
I see you're using io.netty:netty-tcnative-boringssl-static:jar:2.0.5.Final:compile and io.grpc:grpc-netty:jar:1.7.0:compile. I suggest using tcnative 2.0.6.Final with grpc 1.7.

See the table in https://github.com/grpc/grpc-java/blob/master/SECURITY.md#netty

[2018-05-14 05:31] praveenatsolartis commented on #2740
@ejona86 thanks for your suggestion, but no luck ! throws the same exception :(

[2018-05-14 09:53] einevea opened #3263 "Unit test firestore: Mocking DocumentReference and CollectionReference"
We are trying to test classes with dependencies on firestore and we found we cannot mock these classes because their constructors are internal. Is it possible if the following methods return interfaces instead of classes:

val collectionReference:CollectionReference = db.collection(collectionName)
val document: DocumentReference = collectionReference.document(docId)

[2018-05-14 18:19] ejona86 commented on #2740
@praveenatsolartis, it seems you're having a different problem than discussed in this issue. Please open a separate issue to avoid confusing this issue further.

[2018-05-14 20:26] danoscarmike opened #3265 "Links from README to specific client directories 404"

[2018-05-14 20:41] patflynn commented on #3190
@GoogleCloudPlatform/cloud-tools-for-java

Garrett is accepting PRs. :)  Anybody got the bandwidth to work on updating these docs?

[2018-05-14 21:02] pongad commented on #3219
@papudesi The Tomcat runtime has never been stabilized and now deprecated, which explains why their dependencies are so far out of date. Is it possible for you to migrate to [Jetty](https://github.com/GoogleCloudPlatform/jetty-runtime)?

[2018-05-14 21:32] etanshaul opened #3267 "Background task always pops up on app engine task"
This happens even if there are no long running Cloud SDK related background tasks;

![image](https://user-images.githubusercontent.com/1735744/40024576-bd0ca36e-579c-11e8-8ed3-e0e3ee0feb6c.png)

[2018-05-14 21:32] etanshaul commented on #3267
sorry wrong repo

[2018-05-14 21:38] droazen commented on #2453
@hzyi-google Thanks for the suggestion. I tried running with the updated GCS connector version by creating a Dataproc cluster using the following command:

[code]

I then built a version of our toolkit that depends on `com.google.cloud:google-cloud-nio:0.47.0-alpha:shaded` (the newest release of google-cloud-java, which is what we're trying to update to). I still got an error, but it's different f

[2018-05-15 15:06] elharo opened #3268 "Open repo to GoogleCloudPlatform members"
so we can push branches. It's annoying having to fork all the time.

[2018-05-15 15:36] elharo opened #3270 "google-cloud-redis docs point to https://cloud.google.com/"
should be more specific; maybe https://cloud.google.com/memorystore/

[2018-05-15 15:53] elharo opened #3271 "Bigquery Datatransfer and Redis use GRPC but set language level to 1.7"

[2018-05-15 15:54] garrettjonesgoogle commented on #3271
What's the problem with this?

[2018-05-15 16:55] elharo commented on #3271
My understanding was that gRPC required Java 1.8.

[2018-05-15 17:02] garrettjonesgoogle commented on #3271
gRPC requires Java 1.6. https://github.com/grpc/grpc-java/blob/master/build.gradle#L57

[2018-05-15 17:39] Greenbones commented on #3083
Same problem here.

The publish role isn't sufficient to publish. The Subscriber role isn't sufficient to subscribe. Even the pub sub admin role isn't sufficient to publish or subscribe.

The only way we've been able to get this working is to use a service account with the owner role, which is obviously not acceptable.

There's clearly a privilege missing from all those pub sub roles. Even if this

[2018-05-15 18:34] Horneth commented on #3221
A more specific suggestion would be to add the relevant options for `userProject`: [`BlobSourceOption`](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/92a07265ed884a7f772146739684fc12d7e2ff56/google-cloud-clients/google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java#L640), [`BlobGetOption`](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/92a07265ed88

[2018-05-15 22:16] pongad commented on #3270
Ah thank you!

[2018-05-15 22:34] pongad commented on #3230
@LiviuArln I think we need more details or reproduction step. If I create a new Gradle project and add
[code]
everything works fine. Perhaps you're not pulling dependencies pubsub library neds?

[2018-05-15 22:34] #3270 closed

[2018-05-15 22:38] pongad commented on #3250
@songy23 I think we need more details here. What were you trying to do when this happens? The stack trace suggests that the server creates a failure that is propagated here by an exception. I don't think this is a client lib issue.

[2018-05-15 22:56] songy23 commented on #3250
At first we suspect this is due to a dependency conflict. We used cloud client version `0.34.0-beta` in our library, while our user used client version `0.42.0-alpha`. However this issue persist even if the user updated his binary to use a consistent version for client.

@johanhaleby could you share more details about the the trace you want to send?

[2018-05-15 23:14] #3260 closed

[2018-05-16 06:12] AdamSHurwitz opened #3275 "Failed to deploy - FileNotFoundException"
## Expected
JAR deployment to AppEngine instance for Kotlin app.

## Actual
During deployment to my AppEngine instance I am receiving the following **FileNotFoundException**. This error is not logical because the same built **JAR** runs the app successfully via IntelliJ prior to the deploy attempt.

Here is the Kotlin app file hierarchy which runs as expected both as an IntelliJ Application and JA

[2018-05-16 06:33] AdamSHurwitz commented on #3275
I just ran the command **gcloud components update** and upgraded to the following:

[code]
I'll attempt redeploying the same AppEngine build configuration.

[2018-05-16 06:54] johanhaleby commented on #3250
Yes it's very simple. I just do this:

[code]

[2018-05-16 12:00] ensonic opened #3276 "datastore emulator sometimes crashes, which causes test flakyness"
We're using bazel to build our software. At the Ci we noticed test flakyness. When I run the tests localy like:

    bazel test --runs_per_test=10000 //src/java/com/example/foo:FooTest

I get about 5 failures that look like this:

[code]

Right now we're using a helper like this to mitigate it a bit
https://gist.github.com/ensonic/a1b64be415f537b59bcc951883b29596
but of course this won't help test

[2018-05-16 13:43] mandeep1443 opened #3277 "Exception in thread "grpc-default-executor-1" java.lang.IllegalArgumentException : Jetty ALPN/NPN has not been properly configured. at io.grpc.netty.GrpcSslContexts.selectApplicationProtocolConfig(GrpcSsl Contexts.java:153)"
May 16, 2018 11:43:39 AM com.example.flexible.speak.TranscribeSocket onWebSocket
Text
INFO: Got sampleRate: 48000
May 16, 2018 11:43:39 AM io.grpc.internal.ManagedChannelImpl <init>
INFO: [ManagedChannelImpl@117866a] Created with target speech.googleapis.com:443

Exception in thread "grpc-default-executor-1" java.lang.IllegalArgumentException
: Jetty ALPN/NPN has not been properly configured.

[2018-05-16 13:49] mandeep1443 commented on #3277
Dear All,

I have been struggling to solve this issue for past few days .Please see the logs in my previous comment.

I have downloaded code from : https://github.com/googlecodelabs/speaking-with-a-webpage/tree/master/04-speech

Steps followed -
1> Build project with command : mvn clean jetty:run
2>After server successfully started accessing the application using  : https://localhost:8443/
3>After

[2018-05-16 13:56] MMMarcy commented on #3087
Having a go at this.

I have a working implementation (see [this commit](https://github.com/MMMarcy/google-cloud-java/commit/7af53237cc11b3a37ba46500ece58884c1be7f63)) that follows the format of ```listDatasets```.

If you think it's valid, feel free to assign to me and I will finalize the Project class following the Dataset.java (and DatasetId, DatasetInfo) format and add tests.

[2018-05-16 14:13] garrettjonesgoogle commented on #3277
Have you seen https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/TROUBLESHOOTING.md#alpn-is-not-configured-properly yet?

[2018-05-16 14:33] etanshaul commented on #3275
thanks for details @AdamSHurwitz

in that error, could you possibly paste in all the way up the stack? It looks like you provided only the end. I'm wondering if there is anything there that can help us debug.

[2018-05-16 14:35] etanshaul commented on #3275
and also, just to avoid further back and forth: could you also provide the contents of your `app.yaml` file (removing any personal info)?

[2018-05-16 14:38] etanshaul commented on #3275
I just realized, this is on the wrong repo. could you please migrate this to https://github.com/GoogleCloudPlatform/google-cloud-intellij

[2018-05-16 17:31] schmidt-sebastian commented on #3263
Thanks for sending this over. I filed an internal issue and will update you as we make progress.

[2018-05-16 18:32] dgay42 opened #3279 "google-cloud-datastore Java library exposes too little of the information in query results"
In particular, this makes it impossible to implement a more efficient implementation of counting query results, as that requires the values from the skipped_results and more_results fields.

See https://groups.google.com/forum/#!topic/gcd-discuss/wH8lVOA-a8Y for an in-depth discussion of what's needed from query results to implement that.

Generally, skipped_results, more_results and snapshot_vers

[2018-05-16 20:57] joaoandremartins opened #3280 "TraceLoggingEnhancer sets trace ID in the wrong field"
The trace ID of a log entry is being set [in the wrong field](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-logging/src/main/java/com/google/cloud/logging/TraceLoggingEnhancer.java#L61) (label).

In order for the log entries to be linked to the trace, the `TraceLoggingEnhancer` needs to look something like [this](https://github.com/spring-cl

[2018-05-17 04:25] AdamSHurwitz commented on #3275
@etanshaul - Unfortunately I cannot provide the full log as I've re-created my Google Cloud and AppEngine Project in order to follow the recommendation for #3 under the potential issues above. I can re-do the original implementation if the following does not work.

**Potential Issues**
1. The service account key is not stored in version control history. I'm adding it locally to the project and ign

[2018-05-17 10:12] MMMarcy commented on #3073
Marcin, it is now possible by using:
[code]

Also, while investigating this I found that [TableId.setProject](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/TableId.java#L113) has an unexpected and undocumented behavior of not updating the project is the projectId is already set to a non-null v

[2018-05-17 10:20] MMMarcy opened #3283 "[BigQuery] TableId.setProjectId ignored if non-null value exists"
As per the title, calling [setProjectId](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/TableId.java#L113) to an existing tableId instance is ignored if the existing projectId is not null.

Suggested changing this to:
[code]

[2018-05-17 13:31] garrettjonesgoogle commented on #3277
Great to hear! It looks like we should update the troubleshooting guide to point people to the compat checker.

[2018-05-17 13:31] #3277 closed

[2018-05-17 13:33] garrettjonesgoogle opened #3284 "In troubleshooting guide, add link to compat checker"
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/TROUBLESHOOTING.md#alpn-is-not-configured-properly needs to point people to https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-util/google-cloud-compat-checker , because it's much easier to have a tool tell you what's not compatible than to have to look through the whole list of possible incompatibi

[2018-05-17 13:33] garrettjonesgoogle commented on #3277
Filed https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3284

[2018-05-18 15:04] etanshaul commented on #3275
@AdamSHurwitz I'm glad using the default credentials worked for you.

Yes. That auth code can live in your vcs. Presumably you needed to authenticate in order to deploy your app in the first place to your GCP account. Only apps running on your account should have access via your application default credentials. Maybe I misunderstood the concern?

Regarding the Firebase billing concern, I'll defer

[2018-05-18 16:42] hzyi-google commented on #3265
@danoscarmike
Hi Dan, it seems to be working fine from my side. Can you point out which specific link is broken?

[2018-05-18 17:08] hzyi-google commented on #3254
Hi @albertzaharovits ,
IIRC batch requests of all google apis have to hit "https://www.googleapis.com/batch/[api_name]/[endpoint]". Is there a reason you want to change the batch URL?

[2018-05-18 17:14] hzyi-google commented on #3252
Hi @jphalip ,
Just want to have a quick check with you before I investigate further, did you set up the API key as is mentioned [here](https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/translate#authentication)?

[2018-05-18 18:38] marcin-kolda commented on #3073
Thanks @MMMarcy. I guess this issue can be closed now

[2018-05-19 00:35] jphalip commented on #3252
Hi @hzyi-google, if I create an API key and set the `GOOGLE_API_KEY` variable, I'm now seeing this:

[code]

... followed by the same error as originally reported, i.e. that the API isn't enabled for project `618104708054`. I'm still not sure what project that number refers to.

[2018-05-19 05:44] zenfenan opened #3289 "Google Cloud Javadoc reference page doesn't work anymore"
The API reference (Javadoc) site for Google Cloud doesn't work anymore. I have seen it working yesterday. And the link to access the site is http://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/index.html

[2018-05-19 15:15] AdamSHurwitz commented on #3275
@etanshaul - My concern is if I shared my GitHub repository publicly someone would be able to run the authentication portion of code in order to interact with my Firebase database.

Thank you for directing my Firebase/GCP project linking bug to @garrettjonesgoogle.

[2018-05-19 20:16] dinvlad commented on #3099
Similar issue here. We're using an outdated version of `google-cloud-java` (0.20.3-alpha) for compatibility reasons, and yesterday our services started to fail trying to communicate with Logging API. Now we have no choice but to attempt an (expensive) upgrade.

[2018-05-20 07:06] kevmo314 commented on #2890
Any update on this? Both https://github.com/apache/beam/pull/4707 and https://github.com/apache/beam/pull/4727 seem to have stalled.

As much as I enjoy spending 50% more on Dataflow to negotiate HTTPS requests over and over again, it would be nice to uh, not.

[2018-05-21 04:38] garrettjonesgoogle commented on #2890
We haven't been pursuing anything on google-cloud-java's side - this seemed to be more in BEAM's court since they're the ones with versions that are so far behind (grpc 1.2 is > 1 year old now).

[2018-05-21 09:04] creativcoder opened #3291 "Exception while writing to stackdriver"
Version for stackdriver in build.gradle:

`compile 'com.google.cloud:google-cloud-logging:1.7.0'`

Hi our logging calls to stackdriver in our service is facing this exception since morning:

com.google.api.gax.batching.FlowController$FlowControlRuntimeException: The maximum number of batch bytes: 10485760 have been reached.

	at com.google.api.gax.batching.FlowController$FlowControlRuntimeExceptio

[2018-05-21 10:29] elharo opened #3292 "redirect JavaDocs"
Not very old javadoc links such as https://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/com/google/cloud/bigquery/package-summary.html are now 404.

https://googlecloudplatform.github.io/google-cloud-java/latest should redirect to https://googlecloudplatform.github.io/google-cloud-java/google-cloud-clients

ObReference: https://www.w3.org/Provider/Style/URI

[2018-05-21 14:31] herki01 commented on #2374
It is not possible to query "bigquery-public-data" project?

[2018-05-21 16:40] songy23 commented on #3250
Closing - this particular error is due to authentication (bad project id format).

[2018-05-21 16:40] #3250 closed

[2018-05-21 18:07] hzyi-google commented on #3252
@jphalip thanks for the update. I'll keep investigating.

[2018-05-21 18:09] hzyi-google commented on #3292
This is a known issue and we are working on it. Thanks for pointing that out.

[2018-05-21 18:13] hzyi-google commented on #3289
Thanks for pointing this out. We are working on it right now.
This is a dup of #3292, I'll close it here and please follow up in the other issue.

[2018-05-21 18:13] #3289 closed

[2018-05-21 18:15] realjordanna opened #3293 "Generated javadoc missing for most of the dlp v2 api"
https://googlecloudplatform.github.io/google-cloud-java/google-cloud-clients/apidocs/com/google/cloud/dlp/v2/package-summary.html

This page has only a couple methods, but is missing content for many parts of the api - deidentifyContent, inspectContent, redactImage, etc.

[2018-05-21 18:31] andreamlin commented on #3244
Hello! What does this json file describe? Is the json file the service account credentials file? Otherwise, if it isn't sensitive info, can you attach the json file?

[2018-05-21 18:44] andreamlin commented on #3137
Closing this issue because it is similar to https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3215. Please continue discussion there.

[2018-05-21 18:44] #3137 closed

[2018-05-21 18:55] andreamlin commented on #3291
@pongad Would you know anything about batching maximums in regards to this scenario?

[2018-05-21 22:07] pongad commented on #3291
This has already been fixed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2741. Would it be possible for you to update the dependency?

The root cause is that the application is logging more quickly than we can send the logs. Before the fix we throw an exception, now we block the application until we can keep up instead.

[2018-05-21 22:07] #3291 closed

[2018-05-21 22:31] pongad commented on #3238
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3272

[2018-05-21 22:31] #3238 closed

[2018-05-21 22:32] pongad commented on #3279
@wsh Could you take a look?

[2018-05-21 22:34] pongad commented on #3265
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3273

[2018-05-21 22:34] #3265 closed

[2018-05-21 22:48] pongad commented on #3257
@anamika-papajohns Let's see if I understand this right:

You want to pull many messages, process all of them, and either ack or nack all messages you pulled, is this right?

I don't think this use case is well-supported by pubsub. The reason is that pubsub guarantees "at least 1 delivery". If you ack 10 messages, sometimes some of the acks will be lost and some messages will get redelivered.

Is

[2018-05-21 22:54] pongad commented on #3220
@papudesi From investigating this, I don't think the problem is with the client lib. Does this problem occur in any other runtime? (Tomcat was never GA and now deprecated; the runtime team encourages you to move to Jetty runtime.)

[2018-05-21 22:54] #3219 closed

[2018-05-21 23:05] pongad commented on #3254
@hzyi-google I think we should fix this. For example, the user could be pointing the client to a test instance when integration testing. Right now, everything will hit the test instance, but batches will get to the real one, which is probably really confusing.

[2018-05-21 23:30] pongad commented on #3170
Hmm! Assuming you're on Unix-like environment, could you run
[code]
?

The JSON files have two different kinds, "service_account" and "authorized_user". If the type is authorized_user, that'd explain why you're seeing this problem.

To fix, you could use `com.google.auth.oauth2.GoogleCredentials.fromStream` instead. I believe that method is used to read GOOGLE_APPLICATION_CREDENTIALS file behind t

[2018-05-22 03:48] moshevi commented on #3215
Thanks @andreamlin
Can it be implemented directly in the logback appender (https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/logging/logback) which uses only default credentials?

Thanks.

[2018-05-22 07:48] albertzaharovits commented on #3254
Hi @hzyi-google ,

I was expecting that `StorageOptionsBuilder.setHost` be consistent across APIs. It is impractical if only certain APIs follow this setting.

As @pongad hinted, our usecase is in the scope of integration testing. Specifically the GCS repository plugin for elasticsearch. The mock integ server is here: https://github.com/elastic/elasticsearch/blob/master/plugins/repository-gcs/qa/g

[2018-05-22 09:29] petergeneric commented on #3170
`"type": "service_account"`

Same issue with ServiceAccountCredentials.fromStream and GoogleCredentials.fromStream, also updated the test against version 1.30.0 and no change. Still works perfectly if I set an environment variable instead.

I poked around inside the library by setting a breakpoint at `ClientCalls.onClose` - looking at the callOptions of the call, credentials appeared to be set up

[2018-05-22 15:25] elharo opened #3295 "Include project ID in validation failure"
This code from com.google.cloud.datastore.Validator recently triggered in a user project:

[code]

It's a little harder to debug the user error than I'd like because the actual project ID does not appear in the exception message. Something like this would be nice:

[code]

Here's the actual trace:

[code]

[2018-05-22 16:16] hzyi-google commented on #3254
@pongad @albertzaharovits Thanks for pointing this out. I'll work on this.

[2018-05-22 19:45] henrik-io opened #3300 "RFE: provide a method that adds all InfoTypes without having to specify them"

[2018-05-22 20:17] andreamlin commented on #3283
Hi MMMarcy, would you like to submit a Pull Request for this?

[2018-05-22 20:58] henrik-io opened #3302 "Only the first of several US phone numbers in the same input gets de-identified"
I'm sending an input string with several phone numbers to the DLP service, and it seems like only the first occurrence gets de-identified. My input looks like this: `"My phone number is 408.867.5309 or 650.867.5309"`. My config is:

- Using all available InfoTypes. PHONE_NUMBER is definitely in there.
- The string gets set as one single Row in a Table which is added to a ContentItem.

The request

[2018-05-23 00:04] naderz opened #3305 "EnvironmentSessionName defaults to draft"
What is the current default value to EnvironmentSessionName? How can i default to Draft?

It doesnt seem to be possible at the moment to fallback to draft and i cant find any documentation around that.

[2018-05-23 00:08] andreamlin commented on #3280
Pull request: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3301

[2018-05-23 00:11] andreamlin commented on #3305
Hello,

Is this regarding dialogflow.v2beta1 class [EnvironmentSessionName](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/ae3638af5b764f1f63b523ac0a21093d396bdf10/google-api-grpc/proto-google-cloud-dialogflow-v2beta1/src/main/java/com/google/cloud/dialogflow/v2beta1/EnvironmentSessionName.java)?

What do you mean by "Draft"?

[2018-05-23 00:16] naderz commented on #3305
Yes it is and Draft is the draft State as in not pointing to any
environment but just the draft version.

On Wed, 23 May 2018 at 12:11 PM, Andrea Lin <notifications@github.com>
wrote:

--
Regards,
*Nader Ayyad*

[2018-05-23 00:31] andreamlin commented on #3302
Calling the redaction method with a raw REST call
[code]
also fails, so this error is likely an API error rather than the Java client library error.

An internal bug will be filed for this issue.

Thanks for bringing it to our attention!

[2018-05-23 00:59] andreamlin commented on #3302
If you call `setMinLikelihood(VERY_UNLIKELY)` on the `inspectConfig`, the result will be `"My phone number is  or "`

The heuristic for phone numbers just didn't conclude, with a high enough confidence, that the second phone number was a phone number.

Hope that solves the problem!

[2018-05-23 00:59] andreamlin commented on #3302
Closing the issue for now. Feel free to reopen or recomment if there are further related problems.

[2018-05-23 00:59] #3302 closed

[2018-05-23 06:46] kevmo314 commented on #2890
Ah, sounds good, I'll check in with them, thanks!

[2018-05-23 16:06] ocervell commented on #3099
It also seems like the link to the [google-cloud-logging-loback repository](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-contrib/google-cloud-logging-logback) doesn't exist anymore. Actually the whole 'google-cloud-contrib' seems to have vanished. @pongad Any idea what happened here ?

[2018-05-23 19:02] andreamlin commented on #3305
Hello Nader,

One way to instantiate an `EnvironmentSessionName` is through a static constructor
[code]

Can you explain what a Draft object is? What are you trying to do with your draft object?

[2018-05-23 20:03] kurtisvg commented on #3252
Hi @jphalip,

It looks like you are having issues with authentication. There is a detailed breakdown [here](https://cloud.google.com/docs/authentication/production#providing_credentials_to_your_application), but the quick version is that the client library is inspecting the `GOOGLE_APPLICATION_CREDENTIALS` variable for some credentials (this variable supersedes the `GOOGLE_API_KEY` variable, which

[2018-05-23 20:58] pongad commented on #3083
This sounds bad. Am I understanding correctly that this issue is intermittent? Our authentication lib has to refresh credentials every hour or so. I suspect that the bug could creep in there.

[2018-05-23 21:00] naderz commented on #3305
I know how to initialize an environment and point to one but what if i dont
want to point to any environment? Just the currently being editted agent(
which in dialogflow is being called draft thus im using the term draft) Do
i still need to use just SessionName or i can use EnvironmentSessionName
and not specifiy the environment? My current solution is if else and either
use one of those but id ra

[2018-05-24 00:53] wsh commented on #3279
Sure, though I'm not sure what you'd like me to look for/at. [QueryResultsImpl](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/a9f3af8413813efc394356918bd6b1c1ecdad999/google-cloud-clients/google-cloud-datastore/src/main/java/com/google/cloud/datastore/QueryResultsImpl.java#L78) already uses the `more_results` field. I think this is a question of taking the info from the existing pr

[2018-05-24 09:28] PrashSi commented on #3083
@vchudnov-g  Single host sometimes succeeds and sometimes fails. We have also observed that only these 4 to 5 hosts which are ideal(haven't published a single message)for a day or more throws this exception. So maybe there is a problem in refreshing the credentials?

[2018-05-24 11:55] rjangala02 opened #3308 "PubSub subscription messages are not getting acknowledged properly"
I am new to google cloud, first tried with available code snippets. Able to read from subscription successfully, after that messages are not getting cleared off from subscription, there is no change in depth of subscription when I monitored on stack driver.
[code]

[2018-05-24 12:53] nbali commented on #2629
should be solved by https://github.com/google/google-auth-library-java/pull/150

[2018-05-24 14:13] garrettjonesgoogle commented on #3275
The firebase billing thing is outside of the scope of my knowledge - sorry!

[2018-05-24 16:48] elharo opened #3309 "Likely Copypasta on https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-clients/google-cloud-websecurityscanner"
You will need a Google Developers Console project **with the Text-to-Speech API** enabled. Follow these instructions to get your project set up. You will also need to set up the local development environment by installing the Google Cloud SDK and running the following commands in command line: gcloud auth login and gcloud config set project [YOUR PROJECT ID].

Does cloud security scanner really re

[2018-05-24 18:04] jean-philippe-martin commented on #3221
That's a good idea, I would welcome a PR yes. Make sure to mention me in it so I can find it easily!

[2018-05-24 19:41] hzyi-google commented on #3252
Hi @jphalip,

The [service account set up](https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/language) in README under language samples should be able to fix the auth issue for both language and translate. Please let us know if that works for you. `GOOGLE_API_KEY` did not work for me either, I'll follow up with cloud shell team on that.

[2018-05-24 19:49] andreamlin commented on #3305
It depends on what dialogflow RPC method you are calling. The `EnvironmentSessionName` will format strings as an endpoint path `projects/{project}/environments/{environment}/users/{user}/sessions/{session}", which points to a specific resource.

What method, and on what resource, are you calling?

[2018-05-24 21:46] naderz commented on #3305
I am calling the EnvironmentSessionName method.

​let me try to clarify what I'm trying to do more, I have the following method:

[code]

<img width="790" alt="screen shot 2018-05-25 at 9 39 36 am" src="https://user-images.githubusercontent.com/1401928/40515090-984552b8-5fff-11e8-979b-6a5cff8bb393.png">

As the screenshot depicts i have 2 environments and a draft.

The way we used to connect to th

[2018-05-25 05:28] danoscarmike commented on #3293
@garrettjonesgoogle can you please take a look at this?  Something not right.

[2018-05-25 18:18] garrettjonesgoogle opened #3312 "Compute integration tests are failing"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/6716?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2018-05-25 19:03] garrettjonesgoogle commented on #3293
There is no problem here - the "methods" you are seeing are actually the List* types used to return list method results. To see the full method list, click through to https://googlecloudplatform.github.io/google-cloud-java/google-cloud-clients/apidocs/com/google/cloud/dlp/v2/DlpServiceClient.html and scroll down to the method list.

[2018-05-25 19:05] garrettjonesgoogle commented on #3268
I don't know if I want to add the entirety of GoogleCloudPlatform for write access - I have added you in particular.

[2018-05-25 19:05] #3268 closed

[2018-05-27 09:58] Kool-Koder opened #3314 "GoogleCredentials Deprecated but is still used as an example for authentication"
Hi Admin,

GoogleCredentials has already been deprecated but is still being used as an example in the Authentication using OAuth2. Would like to use the more updated version. Hope there will be some update. Thanks! :)

If you already have an OAuth2 access token, you can use it to authenticate (notice that in this case, the access token will not be automatically refreshed):
[code]

[2018-05-28 03:39] sgammon opened #3315 "Firestore should accept Protobuf and Firestore Value(s)"
Currently, the Firestore SDK provides the following interfaces for `set(`/`update(`/etc, w.r.t. write batches and writing in general (parameters irrelevant to this ticket omitted):

- Add via Java: `set(..., Map<String, Object> fields, ...)`
- Add via POJO: `set(..., Object pojo, ...)`

These are great for a lot of use cases. But, those underlying methods immediately serialize everything to `com.g

[2018-05-28 03:41] sgammon commented on #3315
To the Firestore SDK authors - in general, it's rather difficult to find quick-start docs for the gRPC client. I wasn't able to get it to work. I find it's hard to work with Google tech when using Protobuf which is strange - surely there must be an easy way to take a `Message`/`GeneratedMessage` and store it in Firestore?

[2018-05-28 14:29] bud4 opened #3316 "longRunningRecognizeAsync return SpeechRecognitionResult whit Alternatives different from first have word list empty"
[code]

[2018-05-29 20:21] nahuellofeudo opened #3319 "Please support HTTPS proxies and self-signed certificates"
When these libraries try to connect to googleapis.com through HTTPS proxies, they use to validate the server's certificate a cacerts file embedded in google-client-api-x.y.z.jar itself.

The file is src/main/resources/com/google/api/client/googleapis/google.jks. Because this file is packaged in the same jar as the client code, it's not possible to override it or inject the CA's certificates to mak

[2018-05-29 20:22] #3319 closed

[2018-05-29 23:43] neuromantik33 opened #3321 "BigQuery insertAll always retries operation"
Hi. First time reporter here.
I wanted to report a small but perhaps inconvenient bug in BigQuery, specifically regarding streaming inserts using an `InsertAllRequest`. It seems for some reason unknown to me that inserts are retried using the client's `RetrySettings` whenever row ids are supplied for deduplication.
When the current implementation always attempts a retry (which I discovered during

[2018-05-30 04:56] realjordanna commented on #3293
Still seems broken ...Why do we only see List methods at
https://googlecloudplatform.github.io/google-cloud-java/google-cloud-clients/apidocs/com/google/cloud/dlp/v2/package-summary.html?
We have other methods that don't have corresponding List methods and those
get buried (like inspectContent) and we have gotten several users
complaining about this.

Regards,

Jordanna Chord
https://www.linkedin.

[2018-05-30 10:44] gaurav-m commented on #3233
@schmidt-sebastian @pongad Thanks for quick revert.
Will do that.
Btw there was something wrong with my router. Got fixed when I changed it.
I never found the root cause though.

[2018-05-30 11:58] gaschler commented on #2106
https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-contrib/google-cloud-nio/src

Same here, it would be great to find an example unit test that uses fake or in-memory storage.

[2018-05-30 17:22] j256 commented on #3065
I sort of wonder if this was fixed by #3123 instead of #3144.  Just FYI.

[2018-05-30 18:44] #3314 closed

[2018-05-30 19:12] pongad commented on #3170
I am not able to reproduce the original issue. In all cases, setting the env var and using `ServiceAccountCredentials` behave the same way. If they are set to the same file, they either both work or both fail.

@petergeneric Is there any change you have `gcloud` installed on your machine? For some reason, the gcloud command seems to confuse the auth lib. I had to `gcloud auth revoke` before things

[2018-05-30 20:33] droazen commented on #2453
@hzyi-google Any updates from the Dataproc team on this issue?

[2018-05-30 21:04] petergeneric commented on #3170
Aha! I figured out what is going on - `gcloud auth revoke` didn't work, but when I blew away `~/.config/gcloud` it started complaining about a Project ID not being set - when I set it on the LoggingOptions.Builder everything worked... so I think what was happening is that the default project was being implicitly picked up from `~/.config/gcloud/configurations/config_default` and used with the cred

[2018-05-30 21:13] hzyi-google commented on #2453
@droazen They are working on fixing what you were seeing in the previous comment since I last heard from them. I'll follow up with them and get back to you. Really appreciate your patience.

[2018-05-30 22:31] #3000 closed

[2018-05-30 23:48] hzyi-google commented on #3083
@PrashSi Am I understanding correctly that the failure is on the subscriber side and happens intermittently during streaming calls (pulling messages)?
Also are you running on any Google Cloud machines(GCE, GAE, GKE) or local machines?

[2018-05-31 00:01] hzyi-google commented on #3083
Also, it would be great if any of you could do the following to help debug if you have cloud-debugger available:

[2018-05-31 05:22] sebright opened #3325 "google-cloud-logging LogEntry is missing a "spanId" field."
I'm writing a LoggingEnhancer for OpenCensus (https://github.com/census-instrumentation/opencensus-java/pull/1212).  I noticed that the Stackdriver LogEntry has a "spanId" field in https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry, but the google-cloud-logging LogEntry class does not ([LogEntry.java](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-clou

[2018-05-31 11:25] mohamedazouz opened #3326 "Pubsub.Publisher: Failed to submit a listener notification task. Event loop shut down?"
I'm Receiving the following exception:  Failed to submit a listener notification task. Event loop shut down?

[code]

here's how i configure publisher and how I publish:

[code]

This is how i publish: I'm receiving batches contains maximum of 2 messages so publishing whenever new messages comes

[code]
I don't know why I'm receiving above exception.

So I think it's related to concurrency issue I

[2018-05-31 17:36] pongad commented on #3170
@petergeneric I would actually classify this as bug for "unnecessary confusing auth behavior", but I'll lower this down to P2.

[2018-05-31 19:03] hzyi-google commented on #3206
Seems like this is done. Please reopen if it's not.

[2018-05-31 19:03] #3206 closed

[2018-05-31 19:10] hzyi-google commented on #3325
That sounds quite reasonable to me. Please feel free to send over pull requests.
(I don't know a lot about logging so @garrettjonesgoogle @pongad please share your inputs if you see a problem here)

[2018-05-31 19:20] #3292 closed

[2018-05-31 19:22] #3255 closed

[2018-05-31 21:01] TobsCore opened #3329 "Update library dependencies to avoid sbt eviction warnings"
Using the latest `0.49.0-alpha` version results in the following warning using sbt.

[code]
Adding the following line to any project's `build.sbt`, will cause the above warnings.
[code]
I also tested this in a bare project with no other dependencies but this one.

[2018-06-01 05:59] solatis opened #3331 "Logging - no public API to create SourceLocation.Builder"
It appears there is no public API to create a new `com.google.cloud.logging.SourceLocation.Builder` object, thus I am unable to append this metadata to the log entries.

Expected API would be to have a public `com.google.cloud.logging.SourceLocation.newBuilder()` function, but this is not there.

[2018-06-01 08:01] sebright commented on #3325
Thanks!  I made a PR: #3332

[2018-06-01 09:08] radkomateusz commented on #3087
Hello, my apologies for the slow reply.

For me it looks good, the usage mentioned in javadoc in your commit:
`Page<Project> projects = bigQuery.listProjects();
for (Project project: projects.iterateAll()) {
     // do something with the project
}`
 is exactly what I'm looking for.

[2018-06-01 09:16] radkomateusz commented on #3087
I'm just wondering:
maybe it will be good to have possibility to list dataset also from project level:
` Project gcpProjectWithBQ = <project object>;
Page<Dataset> datasets = gcpProjectWithBQ.list()
`
next to current option `biqQuery.listDatasets(projectId)`.

It would be consistent with Dataset implementation which allows me to call `Page<Table> tablePage =         dataset.list()`

[2018-06-01 09:31] DylanMeeus opened #3333 "Pubsub exception refers to faulty URL"
When I try to use ApiFutures.allAsList(messageIDFutures).get() it raises an exception when the resource name is wrong:

[code]

However, the URL: https://cloud.google.com/pubsub/overview#names is of no help, as it just points to: https://cloud.google.com/pubsub/docs/overview#names which has no "Overview#names" and thus is of little help in resolving this issue.

[2018-06-01 09:42] DylanMeeus opened #3334 "Pubsub: Invalid resource name given"
When I try to follow the example code as given [here](https://cloud.google.com/pubsub/docs/publisher):

(NOTE: I altered the hardcoded strings here to match the ones I need)
-------
[code]

It raises an exception on:

`ApiFutures.allAsList(messageIdFutures).get();`

Exception:
[code]

When I publish a message through the web console, it works as intended and my code (based on the example subscribe

[2018-06-01 17:09] saturnism opened #3336 "Document how to add custom outbound headers"
This issue came up a number of times already, where users need to add custom headers when using w/ their own proxy server for outbound calls.  Should document how to do this for both HTTP and gRPC  clients.

[2018-06-01 17:30] hzyi-google commented on #3329
@andreamlin you could probably solve this issue along with the release as well?

[2018-06-01 17:40] hzyi-google commented on #3331
Sounds reasonable.
(While before the method is added, you should be able to use `new SourceLocation.Builder()` to create a builder. It is not optimized but should work, as is used in [tests](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/89436180eb6dabd90bbc38c5600d00f5b262cc36/google-cloud-clients/google-cloud-logging/src/test/java/com/google/cloud/logging/LogEntryTest.java#L53))

[2018-06-01 17:54] hzyi-google commented on #3333
The error message seems to come from server side. @pongad do you have any ideas who we can talk to?

[2018-06-02 05:26] solatis commented on #3331
The problem is that the `SourceLocation.Builder` constructor is also private. This works from the tests because they share the same namespace, but doesn't work others.

[2018-06-02 05:28] solatis commented on #3331
The problem is that the SourceLocation.Builder constructor is also private, as seen here:

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/89436180eb6dabd90bbc38c5600d00f5b262cc36/google-cloud-clients/google-cloud-logging/src/main/java/com/google/cloud/logging/SourceLocation.java#L45

The reason this works in the tests is that they share the same package/namespace, but it doesn't wor

[2018-06-02 23:35] hzyi-google commented on #3331
Oh sorry I missed that. Working on that soon.

[2018-06-04 09:15] mohamedazouz commented on #3326
With the same code: we're receiving `com.google.api.gax.rpc.DeadlineExceededException: io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED: deadline exceeded `

[2018-06-04 09:19] mohamedazouz commented on #3326
I was using
[code]
Same issue happened with the newer version
[code]

[2018-06-04 10:53] PrashSi commented on #3083
@hzyi-google Running on local machines.

[2018-06-04 17:53] #3331 closed

[2018-06-04 18:14] andreamlin commented on #3329
@TobsCore thanks for filing this issue! Would you mind using the latest 0.50.0 version? That hopefully would solve the jsr dependency issue.

[2018-06-04 18:47] andreamlin commented on #3316
Hello,

Would you mind providing more clarification on the exact nature of the problem, where it fails, and what `ParolaTrascrizione` is?

[2018-06-04 19:17] andreamlin commented on #3321
Hi @neuromantik33,

Thanks for catching this issue! Would you mind turning your commit into a pull request? For testing, one option could be to add a unit test to `BigQueryImplTest.java`, set a spy on the `BigQueryOptions options` (see line 274), and assert that `getRetrySettings()` is called on that spy object when `BigQueryImpl.insertAll` is run or not run.

[2018-06-04 21:06] andreamlin commented on #3333
@DylanMeeus would https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1 be more helpful? If so, we can change the server side error message to return that URL instead.

[2018-06-04 22:11] #3254 closed

[2018-06-04 23:03] hzyi-google commented on #3334
Hi @DylanMeeus Sorry I wasn't able to repro this issue.
Can you make sure in this case, your `topicName` is created by:
[code]
If that still does not help, can you try
[code]
and see if that works?

[2018-06-04 23:49] #3325 closed

[2018-06-04 23:53] hzyi-google commented on #3252
An internal bug has been filed to track the issue that `GOOGLE_API_KEY` does not work. Closing it here. Feel free to ask for reopen is there are still problems.

[2018-06-04 23:53] #3252 closed

[2018-06-05 00:06] andreamlin commented on #3333
Submitted an internal bug and bug fix.

[2018-06-05 03:58] SachithW opened #3343 "ResourceExhaustedException"
Hello,

I am reading a pubsub subscription queue length and publish rate continuously using a Timer. But I am getting this exception time to time.

 my code is as follows.
[code]

[2018-06-05 09:05] martinstuder opened #3344 "[BigQuery] Streaming insert drops records?"
I'm facing an issue with BigQuery streaming inserts (`Table.insert(...)`, specifically `insert(Iterable<InsertAllRequest.RowToInsert> rows, boolean skipInvalidRows, boolean ignoreUnknownValues)` with `skipInvalidRows = false` and `ignoreUnknownValues = false`) where (sometimes) records don't seem to be available after one or more insert requests. The `InsertAllRequest`s complete successfully, i.e.

[2018-06-05 12:52] martinstuder commented on #3344
On https://cloud.google.com/bigquery/troubleshooting-errors#streaming it says: "Certain operations in BigQuery do not interact with the streaming buffer, such as table copy jobs and API methods like tabledata.list". So I guess this includes `Table.list(...)`. Is this also true for the BigQuery Web UI? Is there any other means in the API of paging through a table that does consider the streaming bu

[2018-06-05 15:39] TobsCore commented on #3329
@andreamlin hey, i just checked and it still showed the warning. I pushed [my example project](https://github.com/TobsCore/google-cloud-sbt-warnings) to github, so you can try it yourself/reproduce. It's just a simple Hello World project, but still. Here's the warning using the lates 0.50.0 version:

[code]

[2018-06-05 15:40] TobsCore commented on #3329
As you can see, i ran these commands from the sbt shell, but after cloning it, simply running `sbt evicted` in the console should display the same output.

[2018-06-05 17:37] droazen commented on #3221
@Horneth Do you have a PR for this feature ready to go, or could you easily make one?

[2018-06-05 17:47] hzyi-google commented on #3326
Hi @mohamedazouz ,
Sorry I was not able to repro this bug. Can you try it on v1.32.0 and let me know which line throws the exception? Also if it's possible can you try leaving everything for `Publisher` default (i.e. `Publisher publisher = Publisher.newBuilder(topicName).build();`) and see what happens?
[code]

[2018-06-05 18:17] andreamlin commented on #3333
The error message will now point to https://cloud.google.com/pubsub/docs/admin#resource_names.
The fix has been submitted internally. I do not know when PubSub releases to production, but I think at the latest it will release in a week. Closing this issue for now.

[2018-06-05 18:17] #3333 closed

[2018-06-05 18:28] andreamlin commented on #3344
Hi @martinstuder,

The lack of streaming on certain BigQuery methods is a limitation of the API itself, so the problem would persist using the Web UI or HTTP REST requests.

An internal bug will be filed for this question.

[2018-06-05 18:32] andreamlin opened #3345 "Document in javadoc that certain BigQuery methods do not interact with streaming buffer"
So issues like https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3344 can be immediately be avoided by users.

[2018-06-05 18:33] rjangala02 commented on #3308
Thank for the reply. My problem got resolved, i didn’t realize about the auto refresh option on stack driver initially. Now my issue got resolved.

[2018-06-05 18:33] #3308 closed

[2018-06-05 18:44] andreamlin commented on #3329
Hi @TobsCore , are these just warnings or is this a blocker that prevents building your project? There are plans to resolve these dependency discrepancies.

[2018-06-05 18:55] DylanMeeus commented on #3333
@andreamlin That is a much more useful page to point to, thank you!

[2018-06-05 19:19] andreamlin commented on #3305
@naderz

Ah thanks for clarifying your question! Yes it seems that you can explicitly specify the environment to be the string "draft", which represents a draft environment.

[2018-06-05 19:28] mohamedazouz commented on #3326
@hzyi-google I will try the new version but I can't use the default publisher as i'm loading the cred. as well as the integration test, I will let you know if i got the same issue after upgrading version

[2018-06-05 19:29] #3305 closed

[2018-06-05 19:46] andreamlin commented on #3344
@martinstuder Would you mind checking response status code in addition to checking for errors presence? The request might fail even before reaching streaming system, due to quota exceeded, for example. In this case 503 would be returned instead of 200.

[2018-06-05 19:47] #3280 closed

[2018-06-05 19:54] andreamlin commented on #3302
Just a follow up, the DLP team responded to the bug saying that they are looking to adjust their heuristics to have higher confidence on that second phone number in the example you provided.

[2018-06-05 20:21] MrThreepwood commented on #3334
I am getting the same issue. I think it's when I end up pulling.

[code]

`TopicAdminClient.create().createTopic(topicName)` topicName is Test
`ProjectTopicName.of(ServiceOptions.getDefaultProjectId(), topic)` again, topic is Test
`SubscriptionAdminClient.create().createSubscription(name, topicName, PushConfig.getDefaultInstance(), 0)` name is apparently random

It kinda sorta seems to imply that

[2018-06-05 20:38] DylanMeeus commented on #3334
@hzyi-google I will test this asap.
@MrThreepwood Names do have to adhere to a certain format. As you have no doubt experienced as well, the URL the exception refers you to is useless. (for which I have made #3333 , which was swiftly resolved so props for that!)

The URL you should be looking at, as it turns out, is this one: https://cloud.google.com/pubsub/docs/admin#resource_names

Neither "rand

[2018-06-05 21:04] henrik-io commented on #3302
Awesome! Meanwhile, I followed the suggestion in the previous response and set the min likelihood to VERY_UNLIKELY and it seemed to get me past my issue.

[2018-06-05 21:06] MrThreepwood commented on #3334
I figured out what my actual issue was. I was accidentally passing the string "random" to `Subscriber.newBuilder() rather than he ProjectSubscriptionName.`

I now have it up and working. So obviously the full name should end up being something along the lines of projectId/name. If using the builder with the string name parameter it's not obvious what the actual issue is by the error provided.

Tha

[2018-06-05 23:09] andreamlin commented on #3312
@garrettjonesgoogle
Can we `@Ignore` the 2 failing tests?

[2018-06-05 23:22] #3227 closed

[2018-06-05 23:24] andreamlin opened #3349 "Compute: diskTypes.aggregateList retruns region scope instead of zone scope"
[code]

Those two tests fail because diskTypes.aggregateList returns diskTypeIds in the form
[code]
instead of the expected
[code]

[2018-06-05 23:27] andreamlin commented on #3312
The two failing tests' errors:
[code]

Those two tests fail because diskTypes.aggregateList returns diskTypeIds in the form
[code]
instead of the expected
[code]

[2018-06-05 23:27] #3349 closed

[2018-06-05 23:36] hzyi-google commented on #3136
@andreamlin Are you ok if I make the test checks the return value is not null?

I am observing the following behavior which makes this tests a little tricky:
If I am using a personal google cloud project, the service account returned is the `client_email` specified in the json file.
However if I am using the `gcloud-devel` project, the service account returned is the hard-coded value. (I guess bec

[2018-06-05 23:40] hzyi-google commented on #3244
Closing it due to not hearing back from customer. Please ask for reopen if the issue still exists.

[2018-06-05 23:40] #3244 closed

[2018-06-06 04:12] SachithW commented on #3343
According to the API dashboard my requests/sec is always under 8 requests/sec. And in my project
Requests per day quota is set to unlimited. Anyway I will further reduces the timer frequency and let you know.

By the way with the above exception there is another exception throws.

        at com.google.api.gax.rpc.ApiExceptionFactory.createException(ApiExceptionFactory.java:67)
        at com.goog

[2018-06-06 06:04] TobsCore commented on #3329
@andreamlin, these are actually just warnings but this might still cause errors with certain flags set. But as there are plans to resolve this issue in the long run, this should be covered then.

[2018-06-06 08:56] DylanMeeus commented on #3334
@hzyi-google
I have tried it with the second builder you suggested - which worked.

After that, I have also found the problem with my original code.. rather than using the "topic name" I had used the "topic id" in this line: `publisher = Publisher.newBuilder(topicName).build();`.

:man_facepalming:

Thanks for the alternative method, that eventually led me to the solution!

[2018-06-06 08:56] #3334 closed

[2018-06-06 09:19] mohamedazouz commented on #3326
@hzyi-google Here's the stack trace:
[code]

[2018-06-06 16:19] hzyi-google commented on #3334
Glad it helped.

[2018-06-06 17:39] elharo opened #3350 "Programmatically Consumable Metadata about clients"
Cloud Tools for Java has been maintaining a JSON file with info about the client libraries that we can consume in our products:

https://github.com/GoogleCloudPlatform/appengine-plugins-core/blob/master/src/main/resources/com/google/cloud/tools/libraries/libraries.json

We also have Java code for consuming and validating this file.

Any interest in moving this into google-cloud-java so everyone ca

[2018-06-06 17:56] hzyi-google commented on #3083
I had a publisher and a few subscribers set up on my local machine and had them running for about 12 hours but could not reproduce this problem. The publisher publishes every 2 seconds. Anything different I can do to help increase the frequency of the bug?

[2018-06-06 18:30] andreamlin commented on #3350
Are the existing pom.xmls sufficient?

[2018-06-06 18:30] garrettjonesgoogle commented on #3350
We definitely wouldn't want to manually maintain that - it looks like it reflects data that is present in various places:

1. versions.txt (maven coordinates)
2. Derivable from versions in versions.txt (launchStage)
3. service config (name, serviceName)
4. README.md files (transport)
5. ??? (serviceRoles)

If your concern is the effort to manually maintain it yourself, then I can definitely see wh

[2018-06-06 18:51] andreamlin commented on #3329
@garrettjonesgoogle leaving this issue open to track the dependency management work

[2018-06-06 18:54] pongad commented on #3326
I think there are two different issues at play here. The `UnsupportedOperationException` seems like a gRPC bug. Could you let us know which version of gRPC you're using?

The deadline exceeded happened because the RPC has been pending for ~10 seconds, much longer than we'd expect. How busy is the server? It's possible that the network is congested. Another possibility is that the executor that the

[2018-06-06 19:07] andreamlin commented on #3343
Is the INTERNAL error intermittent also? Does it only happen when the RESOURCE_EXHAUSTED error is also thrown?

[2018-06-06 19:12] hzyi-google commented on #3316
Hi, in order for the `alternatives` in `SpeechRecognitionResult` to include a list of `WordInfo`, please enable it in `RecognitionConfig`:

[code]
I am closing this issue, but feel free to let us know if you have further questions.

[2018-06-06 19:14] hzyi-google commented on #3230
The issue seems to have been resolved here. Please ask for reopen if not.

[2018-06-06 19:14] #3230 closed

[2018-06-06 19:28] hzyi-google commented on #3188
Hi @goxr3plus ,
Can you provide more context? What is the major difference here between audio from microphone and audio produced otherwise?
If you are looking for a streaming call, Speech can take `StreamingRecognizeRequest`. More information about streaming calls can be found [here](https://cloud.google.com/speech-to-text/docs/basics#streaming-requests).

[2018-06-06 19:53] bud4 commented on #3316
ParolaTrascrizione iis my class. it is not relevant.
I enable WordTimeOffsets in RecognitionConfig .
the problem is that the word list is only present in the first occurrence of the cycle not in the successive ones.
Please reopen
example :
//index 0 ok
result.getAlternativesList().get(0).getTranscript()  // String is not empty ok
result.getAlternativesList().get(0).getWordsList(); // list is not e

[2018-06-06 19:56] bud4 commented on #3316
Please reopen ..
ParolaTrascrizione iis my class. it is not relevant.
I enable WordTimeOffsets in RecognitionConfig .
the problem is that the word list is only present in the first occurrence
of the cycle not in the successive ones.

example :
//index 0 ok
result.getAlternativesList().get(0).getTranscript() // String is not empty
ok
result.getAlternativesList().get(0).getWordsList(); // list is no

[2018-06-06 19:57] andreamlin commented on #3312
The CI build for the linked PR passed: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/7353#artifacts/containers/0 passed; although it didn't run ITComputeTest...

[2018-06-06 20:15] hzyi-google commented on #3316
Hi,
Thanks for clarifying that. However it seems `speech` only provides time offset information for the top result according to [this](https://cloud.google.com/speech-to-text/docs/reference/rest/v1/RecognitionConfig). This seems to be an intended behavior of the server side.

[2018-06-06 21:33] bud4 commented on #3316
Thanks. I see now

Il mer 6 giu 2018, 22:15 Hanzhen Yi <notifications@github.com> ha scritto:

[2018-06-06 21:51] danoscarmike commented on #3001
Downgrading priority until plan is locked for this work.

[2018-06-06 21:53] danoscarmike commented on #2999
@garrettjonesgoogle as a priority: p1 we need to assign this work. Is it related to the general body of work including #3001?  If yes, then suggest we downgrade and manage as a cohesive plan rather than individual issues. WDYT?

[2018-06-06 21:57] danoscarmike commented on #2871
Removing priority label as this is not a bug. Let's triage feature requests separately and prioritize appropriately in development backlog.

[2018-06-07 00:00] #3316 closed

[2018-06-07 00:00] garrettjonesgoogle commented on #2999
Yes, this falls under the work of #3001 . It makes sense to remove "p1", although work is actively in progress by @hzyi-google .

[2018-06-07 00:05] garrettjonesgoogle commented on #2871
This is a potential security concern. Removing the feature request label.

[2018-06-07 01:00] parkjam4 opened #3355 "Add dependency management section for Gradle in README"
In the Quickstart section of the README file, need steps similar to the Maven instructions.

[2018-06-07 01:04] SachithW commented on #3343
Yes

On Thu, 7 Jun 2018, 00:37 Andrea Lin, <notifications@github.com> wrote:

[2018-06-07 08:48] mohamedazouz commented on #3326
@pongad
For the `UnsupportedOperationException`: I'm using `google-cloud-pubsub` with V: 1.32.0 which uses gRPC and it has the following dependency tree:
[code]
For the deadline exception: We're receiving at random times not only the peak times as We're receiving events to be pushed around ~2K/min with single message  in each event. For the executor: I'm using the default `Publisher` settings besi

[2018-06-07 08:48] mohamedazouz commented on #3326
@hzyi-google I have tried the new version and i'm still receiving the same exceptions: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3326#issuecomment-395003522

[2018-06-07 12:11] goxr3plus commented on #3188
Thanks for replying :) . I need to stream audio from computer microphones . I am doing it with another library which supports only Google Cloud Speech Private , though i can't find out how to with your official library in Java .

https://github.com/goxr3plus/java-google-speech-api

[2018-06-07 15:49] martinstuder opened #3356 "[BigQuery] FieldValue.getTimestampValue returns incorrect microseconds"
I have a BigQuery table with a timestamp column where some values are '9999-12-31 23:59:59.999 UTC' (no microseconds; i.e. `TIMESTAMP_TO_USEC` of that timestamp gives 253402300799999000). Retrieving such a timestamp using the Java BigQuery API (via `FieldValue.getTimestampValue`) results in 253402300799999008 being returned, i.e. with an additional 8 microseconds. I haven't seen this for other tim

[2018-06-07 17:29] hzyi-google commented on #3188
I am not aware of the private repo for speech as you mentioned, would you mind sharing it? Although I do believe under most circumstances features in a private repo are usually under development and should become public in the future.

[2018-06-07 19:17] pongad commented on #3326
Sorry I didn't realize this before. This might actually be the problem. The server imposes some limits on how many connections you can have open at once etc. It's possible you're running up against this limit: new messages can't be published because it's waiting for old connections to close -> it waits too long -> times out.

Is it possible for events to share one (or a few) `Publisher`? The `Publ

[2018-06-07 22:45] andreamlin commented on #3344
@martinstuder Fair point :) I'll just keep this issue updated while they're working on it.

[2018-06-08 08:13] hibou107 commented on #3064
I've got the same issue. Very sad that there is no work around for it

[2018-06-08 10:18] mohamedazouz commented on #3326
@pongad Unfortunately, No i can't share one or few publisher.
I think for this case i have to use http API instead?  What do you think?

[2018-06-08 16:37] hzyi-google commented on #3030
gRPC has been [updated](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-api-grpc/pom.xml#L102) in the latest version of google-cloud-java. Please bump the version of google-cloud-java and see if it helps.

[2018-06-08 16:38] hzyi-google commented on #3064
gRPC has been [updated](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-api-grpc/pom.xml#L102) in the latest version of google-cloud-java. Please bump the version of google-cloud-java and see if it helps.

[2018-06-08 16:59] pongad commented on #3326
Hmm. In that case I think it depends on why publisher can't be shared. If it's because you're publishing to many topics, maybe [PublisherStub.publishCallable](https://googlecloudplatform.github.io/google-cloud-java/google-cloud-clients/apidocs/com/google/cloud/pubsub/v1/stub/PublisherStub.html#publishCallable--) will help. You can create [`TopicAdminClient`](https://googlecloudplatform.github.io/g

[2018-06-08 17:57] #3309 closed

[2018-06-08 18:16] mohamedazouz commented on #3326
@pongad I will try to implement it using HTTP calls here, also i want to ask you if it's right thing to get the authentication heaer for each http requst from [GoogleCredentials.getRequestMetadata()](https://google.github.io/google-auth-library-java/releases/0.9.1/apidocs/com/google/auth/Credentials.html#getRequestMetadata--) after getting Google as follows:
[code]

Please correct me what's the be

[2018-06-08 19:29] pongad commented on #3326
That way of creating the credentials should be right. The [`getApplicationDefault`](https://google.github.io/google-auth-library-java/releases/0.7.1/apidocs/com/google/auth/oauth2/GoogleCredentials.html#getApplicationDefault()) method might be easier however.

[2018-06-08 20:01] mohamedazouz commented on #3326
@pongad Yes, I know but my question was this method [GoogleCredentials.getRequestMetadata()](https://google.github.io/google-auth-library-java/releases/0.9.1/apidocs/com/google/auth/Credentials.html#getRequestMetadata--) after getting Google as follows: is the correct way to retrieve   credentials Oath2 token?

[2018-06-08 22:36] j256 commented on #3044
For the record, I continue to have problems with this on older build boxes running older variants of LibC, mismatched 32-bit and 64-bit JREs, and mismatched JRE versions. It's tricky.  Older servers are especially susceptible to this.

[2018-06-10 10:21] martinstuder commented on #3356
Ok, that does explain what's going on. It seems odd to me though to serialize a TIMESTAMP that way. Is there any particular reason for not serializing the usec directly and doing `Long.valueOf(getStringValue()).longValue()`?

[2018-06-11 05:48] talonx opened #3363 "Dependency issues with PubSub and beam-sdks-java-io-google-cloud-platform"
I have just introduced Beam libraries along with the GCP I/O (for the PubsubIO unbounded source) jar into my existing project which has Bigtable and PubSub.

My pom dependencies look like this

[code]
The beam-sdks-java-io-google-cloud-platform dependencies seem to cause a conflict, and maven does not even resolve the dependencies correctly due to conflicting versions. The error message is

[code]

[2018-06-11 16:31] shollyman commented on #3356
This does seem an odd representation in hindsight, which comes from BigQuery's initial public release period back in 2012 when this was a more common way of representing timestamps in web APIs.  Its remained in this form to maintain compatibility for existing callers, as we'd want to change something like this with a major API revision, which hasn't occurred since that period.

[2018-06-11 23:02] hzyi-google commented on #2453
This is from the dataproc team:

[2018-06-12 03:55] koncha99 opened #3367 "[IoT] IoT client got Internal error HTTP/2. Received Rst Stream."
Hi,

When I use the client library for IoT, I got a HTTP/2 internal error with message, "Received Rst Stream".
In here, I used listDevicesCallable() , but also got a same error for simpler call, listDevices().
Does anyone has an insight for this error?

Thank you.

### Java version
1.10

### API Version
0.51-beta (also tried 0.48-beta and 0.50-beta)

### Stacktrace
[code]

[2018-06-12 07:29] talonx commented on #3363
Should I raise this against Beam? They have an ongoing discussion about managing dependencies better in their dev mailing list, but this is a blocker for me until they upgrade their dependencies.

[2018-06-12 12:34] mrietveld opened #3368 "`IntentsClient.listIntents(...)` in the google-cloud-dialogflow library does not retrieve the training phases of an Intent"
When using the following method:
`com.google.cloud.dialogflow.v2.IntentsClient#listIntents(com.google.cloud.dialogflow.v2.ProjectAgentName)`, the training phrases are not being returned to the client.

Locally tested with 0.51.0-alpha

[2018-06-12 21:58] thangbn opened #3369 "SSL error"
Hi Google Cloud team,
Tried the BigQuery code sample from here:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/3ebebd0b12c12d6a1c70db54c7f416ea0e70c2a1/google-cloud-examples/src/main/java/com/google/cloud/examples/bigquery/snippets/InsertDataAndQueryTable.java
I've set up the GOOGLE_APPLICATION_CREDENTIALS point to the key per instruction from here: https://cloud.google.com/bigquery

[2018-06-12 22:11] georgevad opened #3370 "Transitive dependency conflict - com.google.api:api-common"
For `com.google.cloud:google-cloud-spanner` versions `0.51.0-beta` and `0.50.0-beta` there is a conflict in transitive dependencies - it depends on both versions `1.6.0` and `1.5.0` of library `com.google.api:api-common`.

Here's the `gradle dependencyInsight` for more details :
[code]

[2018-06-12 22:53] thangbn commented on #3369
the problem only occurred with JDK10, after switching to JDK8 its working fine.

[2018-06-12 22:53] #3369 closed

[2018-06-12 22:56] yonran commented on #2465
We ran into this issue on our [GCS Object Change Notification](https://cloud.google.com/storage/docs/object-change-notification) (very small messages) subscribers and repeated it in a [test program](https://github.com/yonran/pubsubfallingbehindbug/). After upgrading google-cloud-java from before 0.21.1-beta to after 0.42.0-beta, the subscriber works fine until it falls behind. Once it falls behind

[2018-06-13 00:24] maria-pacana-ck opened #3371 "datastore.run can't be used without ReadOptions"
I want to be able to call `run` without specifying any ReadOptions: `Option(datastore.run[Entity](query)`. If I don't pass in any ReadOptions, I get this error:
[code]

...because `run` is defined both on the `Datastore` interface and the `DatastoreReader` interface, which `Datastore` inherits from.

What's worse, the *only* ReadOption is `EventualConsistency`. So it's currently impossible for me

[2018-06-13 12:01] sachinstar2010 opened #3372 "Unable to set credentials explicitly for GC Natural Language API"
The library for Google Cloud Natural Language library allows only to set credentials via the environment variable. Is there a way to set this in code or even if it is an environment variable, is there a way to set it without using gcloud?

[2018-06-13 12:57] #3372 closed

[2018-06-13 14:16] garrettjonesgoogle opened #3373 "Upgrade to latest grpc"
We currently depend on 1.10.1, but 1.12.0 is available now.

[2018-06-13 15:03] kir-titievsky commented on #2465
Yonatan, You can find an example of using a synchronous pull here:
https://cloud.google.com/pubsub/docs/pull .

That said, you say that messages get re-delivered every hour. This suggests
a pattern we have not considered. Might you say why you take more than an
hour to acknowledge a message once you get it?

On Tue, Jun 12, 2018 at 6:56 PM Yonathan Randolph <notifications@github.com>
wrote:

--
Ki

[2018-06-13 15:55] sduskis commented on #3363
Please upgrade Bigtable to 1.4.0.  We started pegging Cloud Bigtable's grpc version to what ever is in google-cloud-java.

[2018-06-13 15:58] ejona86 commented on #2871
It's also a compatibility concern. Any environment actually using one of the additional ciphers chosen here (like if running on JDK 7 with Jetty ALPN) is unsupported and can break at any time.

[2018-06-13 16:00] hzyi-google commented on #3373
@garrettjonesgoogle Can I just bump it manually or should this be done by codegen?

[2018-06-13 16:01] garrettjonesgoogle commented on #3373
Bump it manually, and run integration tests locally to make sure they pass (since CI doesn't run integration tests on PRs)

[2018-06-13 16:49] sduskis commented on #3363
@talonx, there's a long standing Beam issue to upgrade grpc.

In the short term,  can remove the explicit `google-cloud-pubsub` dependency and use what ever version `beam-sdks-java-io-google-cloud-platform` uses for `googl-cloud-pubsub` instead?

[2018-06-13 20:15] #3373 closed

[2018-06-13 20:17] hzyi-google commented on #3064
Hi all,

grpc version has been bumped to 1.12.0. I'll close it here. Please feel free to ask for reopening if you still see a problem.

[2018-06-13 20:17] #3064 closed

[2018-06-13 20:18] hzyi-google commented on #3030
Hi all,

grpc version has been bumped to 1.12.0. I'll close it here. Please feel free to ask for reopening if you still see a problem.

[2018-06-13 20:21] #3030 closed

[2018-06-13 21:59] hzyi-google commented on #3257
It seems the problem is solved here. Please ask for reopening if not.

[2018-06-13 21:59] #3257 closed

[2018-06-13 22:19] hzyi-google commented on #3367
Hi koncha99,

I'll try to see if I can reproduce. But just wondering if you are seeing this error all the time or intermittently?

[2018-06-13 22:19] hzyi-google commented on #3367
Whoops, hit the wrong button

[2018-06-13 23:49] hzyi-google commented on #3368
Hi @mrietveld,
I wasn't able to repro what you described. Can you provide more context like, how you set up the agent, what's your sample code and what's your result? Thanks!

[2018-06-14 00:59] yonran commented on #2465
@kir-titievsky, thank you for the synchronous pull sample using the Pull GRPC API directly. However, we have written a number of `MessageReceiver`/`Subscriber`s which used to work and we want to avoid rewriting them.

My client-side code acknowledges all messages in a matter of seconds (In my RawPubSub.java version, I [`request`](https://github.com/yonran/pubsubfallingbehindbug/blob/b925d3a217487c

[2018-06-14 04:55] koncha99 commented on #3367
Hi,
Thanks for help. It occurs all the time in my code.

[2018-06-14 13:16] mohamedazouz commented on #3326
After implementing custom http client, it worked fine.
I will close the ticket and thanks for your support.

[2018-06-14 13:16] #3326 closed

[2018-06-14 17:46] hzyi-google commented on #3367
Sorry I wasn't able to reproduce this issue. My code looks like:
[code]
And the response object is successfully received. Can you share your repro code and your environment (local machine, gae/gce, etc.)?

[2018-06-14 18:25] andreamlin opened #3377 "Update README for Compute"
Fix links on https://cloud.google.com/compute/docs/api/libraries#google_apis_java_client_library.

Update google-cloud-compute/README.rst with correct links.

Regenerate the gh_pages branch, and ensure that https://googlecloudplatform.github.io/google-cloud-java/google-cloud-clients/apidocs/index.html?com/google/cloud/compute/v1/package-summary.html returns a 200.

[2018-06-14 19:08] andreamlin opened #3378 "Ignore failing deprecated Compute IT test methods"
CircleCI failure log: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/7756?utm_campaign=build-failed&utm_content=failing-command&utm_medium=email#tests/containers/0/actions/103

[2018-06-14 19:29] hzyi-google commented on #3170
Seems the problem has been fixed here. @petergeneric I believe you can also use `gcloud config set project` to change projects if that's what is causing conflicts in your case. To folks who may see this issue in the future: we strongly encourage everyone to use the environment variable `GOOGLE_APPLICATION_CREDENTIALS` instead of `gcloud auth login` for authentication.

[2018-06-14 19:29] #3170 closed

[2018-06-14 19:49] kir-titievsky commented on #2465
That sounds like a bug somewhere.  The re-delivery after an hour, in particular, makes me suspicious.  If you could, might you file a separate bug with a reproduction?  If not,
1. Might you open a support case with GCP support, if you have a support plan, detailing when you observed this on what project and subscription?
2. If not, could you send the same to cloud-pubsub@google.com?  No guarantees

[2018-06-14 20:17] hzyi-google commented on #3355
Hi @parkjam4 ,

Instructions for gradle is here in the [README](https://github.com/GoogleCloudPlatform/google-cloud-java#quickstart) file. Is there any specific information you want to be included here?

[2018-06-14 20:57] garrettjonesgoogle commented on #3377
gh_pages is generated now, the link works.

[2018-06-14 21:54] andreamlin opened #3381 "Increase Java memory for Circle CI build"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/7773?utm_campaign=build-failed&utm_content=failing-command&utm_medium=email#tests/containers/0/actions/103

[2018-06-14 21:59] yonran opened #3383 "Pub/Sub `StreamingPull` receives many duplicates when there is a backlog"
The Pub/Sub `StreamingPull` API gives many duplicates when the messages are small and there is a backlog. This is a difference from `Pull`, which does not exhibit this behavior. After a while, more than 50% of messages can be duplicates. This makes it very hard to process a backlog. @kir-titievsky [suggested](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2465#issuecomment-3974172

[2018-06-14 22:01] andreamlin opened #3384 "Decouple non-dependent client libraries"
Releasing one Java client triggers releasing all client libraries in this github repo. This makes for  unnecessary hassle when it comes to refreshing a single client.

Also, because the entire maven project needs to be built at once, CircleCI is running out of memory during the CI build: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/7773?utm_campaign=build-failed&utm_content=failin

[2018-06-15 00:09] dfuentes77 opened #3385 "How to use google application credentials json file with 12factor app on heroku or elsewhere?"
We like to stick to the [12factor best practices](https://12factor.net/config) of using environment variables for any credentials.   Using Heroku, we don't want to commit this file to our repo, but we can't include the whole file as an env variable.

Is there an option using this SDK that allows us to authenticate with only the necessary values from the provided json file, set only as environment

[2018-06-15 04:06] jabubake opened #3386 "`ServiceOptions.java`: Extract projectId from credentials when provided via .setCredentials`"
Handwritten clients that use `ServiceOptions`:

when `.setCredentials` is used, the project id is not extracted from the service account.
This behavior is different when  service account credentials are supplied via `GOOGLE_APPLICATION_CREDENTIALS` env var (project id is extracted)

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-core/src/main

[2018-06-15 04:07] jabubake commented on #3386
@hostirosti FYI

[2018-06-15 06:58] koncha99 commented on #3367
Sorry, I need to modify my comment before. It occurs intermittently.
I tried again from local machine with the code which is same with yours.
Code: https://github.com/koncha99/cloud-iot-api-sample
Region: asia-east1

But, it sometime succeeded and sometime failed with same errors before.
Although I suspected my network environment, but situation didn't change even when I tried from another network

[2018-06-15 15:39] hostirosti commented on #3386
Example:

[code]

[2018-06-15 16:36] hzyi-google commented on #3386
`ServiceOptions` sets `projectId` and `credentials` separately. It would first look for `projectId` in [this](https://github.com/GoogleCloudPlatform/google-cloud-java#specifying-a-project-id) sequence, and then look for `credentials` in [this](https://github.com/GoogleCloudPlatform/google-cloud-java#authentication) sequence. The reason you have the same `projectId` when you set the credentials thr

[2018-06-15 16:53] hzyi-google commented on #3385
Hi @dfuentes77,

[ServiceAccountCredentials.newBuilder()](https://github.com/google/google-auth-library-java/blob/master/oauth2_http/java/com/google/auth/oauth2/ServiceAccountCredentials.java#L561) might be helpful. With this you should be able to build a `ServiceAccountCredentials` after setting all the entries in the json files pointed by `GOOGLE_APPLICATION_CREDENTIALS` to envrionment variables

[2018-06-16 09:15] talonx commented on #3363
@sduskis - I'll try using whatever pubsub version the Beam library uses, however that might cause other conflicts with Bigtable.

In the meantime, I've gotten around this problem temporarily by building Beam 2.4.0 from scratch using the newer libraries.

[2018-06-16 13:38] zenfenan opened #3390 "Java docs for Google Cloud Java clients for older versions are not accessible"
Recently, changes were done to migrate the Java doc page for Google Cloud client libraries. The latest version of the client libraries' API details can be found at https://googlecloudplatform.github.io/google-cloud-java/google-cloud-clients/apidocs/index.html However earlier we could just play with the version on the URL and get the API reference for a particular version like https://googlecloudpl

[2018-06-18 13:48] garrettjonesgoogle commented on #3390
The space taken up by storing all versions was too high and it wasn't scalable to keep every prior version.

Note that we generate a javadocs jar for every build and that is available on maven; for example, you can get the javadocs for every previous version of spanner by doing a search on search.maven.org:

http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.cloud%22%20AND%20a%3A%22goog

[2018-06-18 17:41] #3390 closed

[2018-06-18 21:29] #3386 closed

[2018-06-18 21:29] #3385 closed

[2018-06-19 06:24] Louisepower opened #3393 "can't import the com.google.api.services.bigquery.Bigquery"
when I ready to export data from BQ  to GCS, there always have errors that
can't import the com.google.api.services.bigquery.Bigquery;
com.google.api.services.bigquery.model.Job;

[2018-06-20 06:56] talonx commented on #3363
Also, using bigtable-hbase-beam is not possible for me as that library is Beam-oriented, meaning I need to use the pipeline APIs, which is not my requirement for reading from Bigtable.

[2018-06-20 09:06] weiganglin opened #3396 "Unknow topic of "_deleted-topic_" in the list"
when listing all the topics, the topic of "_deleted-topic_" is returned on the list, which is  not created by user, and cause issue to parsing the topic
`com.google.api.pathtemplate.ValidationException: ProjectTopicName.parse: formattedString not in valid format: Parameter "_deleted-topic_" must be in the form "projects/{project=*}/topics/{topic=*}"
	at com.google.api.pathtemplate.PathTemplate.val

[2018-06-20 09:37] weiganglin opened #3397 "Bigquery list projects"
I would like have new feature of listing projects.
The old bigquery library support to list projects, any reason the new library does not support that?

[2018-06-20 12:38] sduskis commented on #3363
Got it.  I'm Cloud Bigtable developer, so my guidance will be geared more towards Bigtable.  Please consider using `bigtable-hbase-1.x-shaded` which does package renaming on critical dependencies like the grpc dependencies.

[2018-06-20 13:03] talonx commented on #3363
Thanks for the `bigtable-hbase-1.x-shaded` suggestion - that worked for me when I ran the job on Dataflow - it was failing with `bigtable-hbase-1.x`.

[2018-06-20 15:32] shollyman commented on #3397
I'd recommend against this, actually.  bigquery.projects.list is an old API method that was created before project metadata was made available directly to users.

These days, resource manager gives you the same information, but with more functionality.  See https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-clients/google-cloud-resourcemanager#listing-all-projects fo

[2018-06-20 16:28] hzyi-google commented on #3397
Using google-cloud-resourcemanager would be the recommended way to manage projects.

[2018-06-20 16:30] hzyi-google commented on #3396
Hi @weiganglin ,

Can you give us a repro sample?

[2018-06-20 16:37] hzyi-google commented on #3002
@pongad assigning this to you to remove the triage me label.

[2018-06-20 16:42] hzyi-google commented on #2871
Migrating to Gapics would remove ssl context customization.

[2018-06-20 17:02] hzyi-google commented on #3186
This looks like a feature request. Feel free to change the labels if not.

[2018-06-20 17:08] hzyi-google commented on #3182
Hi @rafaelsf80 , can you dump your dependency tree here?

[2018-06-20 17:16] hzyi-google commented on #3141
I'm not sure about priority. Feel free to bump if necessary.

[2018-06-20 18:59] hzyi-google commented on #3133
@garrettjonesgoogle Do you think this is what we should do?

[2018-06-21 00:39] garrettjonesgoogle commented on #3133
We do already push artifact-specific docs to maven, e.g. http://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.google.cloud%22%20AND%20a%3A%22google-cloud-spanner%22

We just don't have a top-level target that makes a jar with all javadocs under google-cloud-java. I think we're doing the right thing from a bundling perspective.

[2018-06-21 07:38] weiganglin commented on #3396
[code]

[2018-06-21 07:40] weiganglin commented on #3397
Thanks, that would be useful

[2018-06-21 07:40] #3397 closed

[2018-06-21 15:51] luann-trend commented on #2465
We have experienced similar kind of issue here with the java google-cloud-pubsub lib GA version 1.31.0. We don't get the duplicate messages but the messages seem stuck in the queue even though we send ack back. After restarts the clients, the stuck messages got cleared up.

[2018-06-21 18:15] pongad commented on #2465
@luann-trend What does "stuck" here mean? Are new messages not being processed?

[2018-06-21 18:32] hzyi-google commented on #3393
Hi @Louisepower ,

are the errors about importing the java packages? If you are using the Bigquery library in this repo, I believe you should do:

[code]

[2018-06-21 18:51] hzyi-google commented on #3396
Thanks for the response.
`subscription.getTopic()` would return `_deleted-topic_` if the topic has been deleted according to [here](https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#subscription). If that's the case for you, I believe it would be OK to just deleted the subscription.

[2018-06-21 21:20] goxr3plus commented on #3188
@hzyi-google What i need is plug-in the microphone to the computer and 10 lines of Java code to get the audio from Microphone and do Speech Recognition with google-cloud-java library ?

How can i do that in Java Code ? I know how to capture audio from the Microphone .

How can i call StreamingRecognizeRequest with your current Java Library , can we have an example please ?? :)

[2018-06-21 21:21] goxr3plus commented on #3188
This is the repository i am talking about : https://github.com/goxr3plus/java-google-speech-api

[2018-06-21 21:22] goxr3plus commented on #3188
I don't need to recognize audio from .flac files etc .... just raw data from Microphone  how i can do it ?

[code]

[2018-06-21 22:42] hzyi-google commented on #3370
@garrettjonesgoogle proto-google-iam-v1 seems to be generated. Shall we fix this in gapic generator?

[2018-06-21 22:43] hzyi-google commented on #3363
@sduskis Thanks for answering this issue!

[2018-06-21 22:43] #3363 closed

[2018-06-21 22:57] hzyi-google commented on #3188
If your question is how to capture audio from outside the computer using java, [this](https://docs.oracle.com/javase/tutorial/sound/capturing.html) might be what you want to refer to.

[2018-06-22 02:33] goxr3plus commented on #3188
Thank you, but my question is let's say i capture the audio from the
Microphone, how to pass the Audio to the Google Text To Speech Library so
it returns text,  in real time.

I need to do Real Time Speech Recognitom from 🎤 microphone using your
library how i can do it?

On Fri, Jun 22, 2018, 01:57 Hanzhen Yi <notifications@github.com> wrote:

[2018-06-22 06:46] Pankajbhalekar93 commented on #2548
@pongad
I am getting the same here cannot find symbol for
"TranslateOptions.getDefaultInstance().getService();"

Please help

Thanks

[2018-06-22 08:28] weiganglin commented on #3396
@hzyi-google Thanks for you reply,  if I create a top "test_topic", and create a subscription "test_sub" listen to the "test_topic", if I delete the "test_topic", and recreate a new "test_topic", if the old "test_sub" will listen to the new created "test_topic"? I thought delete a topic will remove all the subscriptions that listen to that topic.

[2018-06-22 09:36] changemyminds opened #3400 "[google-cloud-java][Text-to-Speech][Android] want to use api key"
I use the [Text-to-Speech Java Library](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-clients/google-cloud-texttospeech) on my Android app.
I want to use google cloud api-key to use the Text-to-Speech Java Library.

On my android. If I did the following code, it got the error message.
[code]
So I read the [Authentication API Keys document](https://cloud.google.c

[2018-06-22 13:32] luann-trend commented on #2465
@pongad The new messages still being processed, only there couple hundreds message keep get redelivered but not able to process for some reason. We have experienced the same issues on 2 different cluster environments after about 4-5 days start using the new Java Google-pubsub client GA version.

[2018-06-22 17:10] pongad commented on #2465
@luann-trend This is interesting. Is it possible that the messages are causing you to throw exception? We catch exception and nack messages automatically, assuming that user code failed to process it. Do you know the duration of time between redelivers?

[2018-06-24 09:45] changemyminds commented on #3400
I use http method to use the API_KEY on Android and it work fine for me.

The example is [here](https://github.com/changemyminds/GCP_TTS_APIKEY_Android).

If the [Text-to-Speech Java Library](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-clients/google-cloud-texttospeech) can support the API_KEY, please let me know. Thanks.

[2018-06-25 10:59] swatijain1101 opened #3402 "StorageException: 404 Not Found"
We make use of Google's JAVA client library to create storage client using which we get a particular blob by: storageClient.get(blobId).

We are facing an issue - calling the above method intermittently leads to "StorageException: 404 Not Found". Even when the objects exists and can be seen from console.

Below is the stack-trace:
[code]

Can there be anything that we might be missing? or is it an

[2018-06-26 17:21] ChengyuanZhao opened #3405 "User reports it takes 5 seconds to start gRPC connection for Cloud Spanner"
https://stackoverflow.com/questions/50861577/spring-boot-gcp-data-spanner-latency-issues

The user here is using the cloud spanner client lib and reports that it takes him 5 seconds to start the connection to Cloud Spanner and then he is getting slow performance out of each query and read operation. There is sample code in there as well.

[2018-06-26 19:13] hzyi-google commented on #3402
Hi Swati,

Can you provide a brief repro snippet?

[2018-06-26 19:21] hzyi-google commented on #3396
@weiganlin This is intended behavior as listed in [here](https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#google.pubsub.v1.Publisher)(under `DeleteTopic`).

[2018-06-26 19:23] hzyi-google commented on #3368
Close it due to inactivity. Please feel free to ask for reopen if the issue still exists.

[2018-06-26 19:23] #3368 closed

[2018-06-26 20:08] hzyi-google commented on #3220
It seems the issue has been resolved here. Please ask for reopen if not.

[2018-06-26 20:08] #3220 closed

[2018-06-26 20:44] goxr3plus commented on #3188
@hzyi-google  My dear friend i am waiting an answer on this , it is very important :) .

[2018-06-26 21:20] hzyi-google commented on #3188
Here comes the answer my dear friend :-) Sorry I was quite busy in the past few days.

Suppose your microphone has an interface similar to `Iterable`:
[code]

Then you could use `splitCall` in [`BidiStreamingCallable`](https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/rpc/BidiStreamingCallable.java) this way:

[code]

Is this what you want?

[2018-06-27 15:23] rockwotj commented on #2816
This should be fixed now.

[2018-06-27 17:07] hzyi-google commented on #3402
That seems to be the correct way to retrieve an object. I just noticed that this error happens intermittently. Can you provide more information to help debug? Thanks!

- How intermittent it is?
- Is the error that occurs at `blob.getContent()` always a `NOT_FOUND` or would it be `NullPointerException` or other type of errors in any case?
- Is there another client reading from or writing to the sam

[2018-06-27 17:19] hzyi-google commented on #3400
Thanks for the information. Currently there probably won't be a better way, but we are working on an authentication approach for android right now. Please stand by.

[2018-06-27 17:19] #3400 closed

[2018-06-27 18:29] #3345 closed

[2018-06-27 19:01] #3284 closed

[2018-06-28 06:46] swatijain1101 commented on #3402
- As per our observation, it happens for the **first time after a long gap** (of may be 24 hours). After it fails, if we make the call again, it works fine.
- Also, what we observed is that the exception occurs when for the first time we do following operations one after the other as part of our use-case in a matter of few seconds-

1. create the blob
2. update the blob
3. fetch the blob again
4.

[2018-06-28 09:15] SampoDev commented on #1514
I'm trying to execute apache beam sdk 2.4 and the libraries  com.google.cloud.bigquery but thow exception

Exception in thread main java.lang.NoSuchMethodError com.google.api.client.googleapis.services.json.AbstractGoogleJsonClient$Builder.setBatchPath(LjavalangString;)LcomgoogleapiclientgoogleapisservicesAbstractGoogleClient$Builder;
	at com.google.api.services.bigquery.Bigquery$Builder.setBatchP

[2018-06-28 11:23] prismec opened #3410 "Problems uploading files to Cloud Storage: com.google.cloud.storage.StorageException: Error writing request body to server"
We randomly get the exception stated below when uploading files to Cloud Storage. The file size does not seem to be the relevant factor - the files where we see the problems are in the range between 25MB and 22GB.

[code]

We already had a look at the integrated retry handling and it looks like that exceptions of this kind are not retried when sending a chunk to Cloud Storage. Unfortunately it's v

[2018-06-28 12:37] prismec commented on #3410
Access to Cloud Storage is done from outside of Google Cloud. Maybe this information helps in analysis.

[2018-06-28 13:53] nitishkumar71 commented on #3410
I don't think this is an issue of access within google cloud or outside of it. because in case of stackoverflow question, access was being done from Google Cloud itself.

[2018-06-28 16:28] hzyi-google commented on #3402
So is the error happening in 3. fetch the blob again? Can you please describe what is updated during step 2? `storage.update()` can only update the metadata of a blob, but if the operation isn't finished on the server side yet, fetching the blob again might cause a 404.

[2018-06-28 18:11] bshaffer opened #3412 "Question: Kotlin Interopability"
It would be great to have this library follow the [Kotlin Interoperability Guide](https://android.github.io/kotlin-guides/interop.html).

I would love to submit a PR to fix any of these interoperability issues in this library, in the downstream [gapic-generator](https://github.com/googleapis/gapic-generator), and also in the [apiary client](https://github.com/google/google-api-java-client).

Of co

[2018-06-28 22:14] guess-burger opened #3414 "[PubSub][Question] DEADLINE_EXCEEDED after 60s for sending acks/modacks"
We've recently added a new feature which involves a new topic and subscriptions using google-cloud-pubsub version 1.35.0.

However, we noticed warning logs for `DEADLINE_EXCEEDED` over a number of days all stating a 60 second deadline like the following:

[code]

We had set a 300 second Ack Deadline on topic creation but investigating the code reveals instead a default of 60 seconds is used since

[2018-06-29 04:37] Rajind commented on #3410
We are experiencing the same issue randomly and our file sizes are less than 1MB. @prismec were you able to find a solution to this?

[2018-06-29 06:10] prismec commented on #3410
No update on our side but it happens so frequently that we had to rollback to another storage engine until a solution for this problem ist available.

[2018-06-29 17:51] hzyi-google commented on #3410
This sounds bad. I'll see if can dig up something wrong.

[2018-06-29 17:59] hzyi-google commented on #3412
This would be non-trivial work for current libraries. We always welcome PRs but I'll let @garrettjonesgoogle decide whether we can do this at this moment.

[2018-06-29 20:33] lbergelson commented on #2453
@hzyi-google

I tried creating a cluster with the initialization action:

[code]

The error that @droazen saw is gone, but the 404 error has returned.

[code]

[2018-06-29 20:44] hzyi-google commented on #2453
Ack.

[2018-06-29 21:13] gdeliaesgine commented on #3082
+1 on this

[2018-06-29 23:46] medb commented on #2453
@lbergelson may you provide up to date `pom.xml` and `mvn dependency:tree` output?

Also, you may try to create cluster with latest GCS connector version - 1.9.0

[2018-06-30 00:51] hzyi-google commented on #3393
Close the issue due to inactivity. Please ask for reopen if the issue still exists.

[2018-06-30 00:51] #3393 closed

[2018-06-30 00:53] #3396 closed

[2018-07-01 07:23] raliste opened #3416 "Any plans to setup as a Bazel workspace?"

[2018-07-01 11:12] MMMarcy opened #3417 "Includes the .proto files in generated jars"
Right now the proto-google-cloud-xxx dependencies (eg [dialogflow](https://search.maven.org/#artifactdetails%7Ccom.google.api.grpc%7Cproto-google-cloud-dialogflow-v2%7C0.18.0%7Cjar) ) only include the generated source files. This makes impossible to import the source protos in your protos in an easy way.

For instance, the workaround for using [protobuf-maven-plugin](https://www.xolstice.org/proto

[2018-07-01 21:18] goxr3plus commented on #3188
The code produces no errors except the credentials .

[code]

Is there any tutorial on how to provide the credentials , i have already setup projects on Google Cloud Engine , i have Client ID and Secret Key , Access Tokens etc for Google Speech Recognition , how though i can provide them from the Java code :)

Thank you very much for helping me , all these will become tutorials on youtube by me fo

[2018-07-02 00:06] goxr3plus commented on #3188
@hzyi-google In attempts of improvements i tried to modify the code to use .FLAC encoding because it is better , so added this on pom.xml

[code]

`.setEncoding(RecognitionConfig.AudioEncoding.FLAC)`

But getting the below error :

[code]

[2018-07-02 04:07] AnkushNakaskar commented on #2496
After adding
	compile group: 'com.google.api', name: 'gax', version: '1.8.1'

I am getting error with
ClassNotFoundException: com.google.api.gax.rpc.HeaderProvider

[2018-07-02 11:52] himanshujain18 commented on #3402
Hi @hzyi-google
As mentioned by @swatijain1101 , by "updating the blob", we mean that we override the content of the blob by calling `storage.put()`  and not `storage.update()`. So, we are not updating the metadata of a blob, instead, we call `storage.put()` on the same blob and then call the `storage.get()` . This is where (step 3) as mentioned above, we get the 404.

[2018-07-02 18:07] hzyi-google opened #3420 "Fix url in pom.xml for each google-cloud-client"
Change `<url>` in pom.xml for each client in `google-cloud-clients/` to `.../google-cloud-clients/google-cloud-xxx`

[2018-07-02 18:15] hzyi-google commented on #3402
Hi @himanshujain18 ,
I don't see a `storage.put()` method in the current version of `google-cloud-storage`. Which version is the client library your are using?

[2018-07-02 18:53] hzyi-google commented on #3188
`OutOfRangeException`: speech currently [limit the streaming request to 1 minute](https://cloud.google.com/speech-to-text/quotas). Probably you could follow the discussions [here](https://github.com/GoogleCloudPlatform/python-docs-samples/issues/807) and see if you could work around it in java.

`CancelledException`: You wouldn't need another artifact just to `setEncoding(RecognitionConfig.AudioEn

[2018-07-03 05:20] himanshujain18 commented on #3402
Hi @hzyi-google , I am sorry for the confusion. I mistakenly mentioned `storage.put()` method above. Its actually `storage.create()` method that we are using , which is for uploading a blob in the bucket. I have updated my earlier comment.

[2018-07-03 12:32] surabhikannan opened #3424 "Type: Bug Not Streaming Null Values"
Bigquery insertAll operation is checking for a field in the inserted Row which is not present in the schema. I have set setIgnoreUnknownValues to true and also set setSkipInvalidRows to true.

Here is the exception Trace,
[code]

After looking at the code for InsertAll, it seems like some Preconditons call is performed on the row to be inserted. But why is the same performed on a data not provided

[2018-07-03 15:59] martinstuder opened #3425 "[BigQuery] There are no column descriptions provided for table"
When trying to import a CSV file into BigQuery from GCS using
[code]
I get the error "There are no column descriptions provided for table [table_name]". Loading the same file via the BigQuery web UI using the same options works fine. The CSV file is available at https://storage.googleapis.com/miraisolutions/public/macbeth.csv

[2018-07-03 18:07] hzyi-google commented on #3402
Hi @himanshujain18 ,

Thanks for the update. There are a few things I can think of that might be causing the 404:

- Please make sure you are not using an outdated `blob` when calling `blob.getContent()`. i.e.,
[code]

- If the size of the contents is quite large, consider using [`blob.writer()`](https://googlecloudplatform.github.io/google-cloud-java/google-cloud-clients/apidocs/index.html) inste

[2018-07-03 18:09] hzyi-google commented on #3416
Hi @raliste , are you referring to using bazel for building the project instead of maven?

[2018-07-03 18:11] hzyi-google commented on #3424
Would you mind give us a short repo snippet?

[2018-07-03 20:39] andreamlin opened #3426 "Drop support for Java 7"
Clients won't be able to fetch dependencies from Maven due to Java 7 not supporting TLS 1.2 by default
[Sample failed CI build](https://ci.appveyor.com/project/googlejavacloud/google-cloud-java-v0gf7/build/3082), note the "Received fatal alert: protocol_version" message:
[code]

This will continue to break any CI builds that use Java 7, e.g. in google-cloud-java.

This can be mitigated by https://

[2018-07-03 20:43] garrettjonesgoogle commented on #3426
But what about https://tonyyan.wordpress.com/2015/07/17/enabled-tls-1-2-and-tls-1-1-on-java-7/ ?

[2018-07-03 21:08] andreamlin commented on #3426
I've spent a couple days trying to apply fixes to enable TLS 1.2 on Java 7 without any luck, but if someone else can do it that would be great!

[2018-07-03 21:09] andreamlin commented on #3426
Also even if we enable TLS 1.2 on Java 7, users would have to do the same thing.

[2018-07-03 21:10] andreamlin opened #3427 "Enable TLS 1.2 for Java 7 builds"
https://tonyyan.wordpress.com/2015/07/17/enabled-tls-1-2-and-tls-1-1-on-java-7/

[2018-07-04 07:45] pimotte commented on #3083
I have observed this issue once in the following situation:
- Spring boot application
- Running in Google Container Engine
- Application listening to 6 subscriptions
- One of the subscribers stopped with this error about 4 days and 9 hours after launching the application
- Between the application starting and the error occurring 1 message was published to a topic not connected to the erroneous sub

[2018-07-04 08:44] surabhikannan commented on #3424
[InsertAllRequest](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/71637ce831ced5208af752d4e02bafeb4212e51c/google-cloud-clients/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/InsertAllRequest.java#L286)

[2018-07-04 14:44] matjazs opened #3429 "Timestamp.of(java.util.Date) fails for pre-epoch dates not truncated to seconds"
com.google.cloud.Timestamp.of(Date) fails with IllegalArgumentException if the given date is before epoch and not truncated to seconds, in the concrete example, one millisecond before epoch was used.

google-cloud-core version: 1.35.0

Stacktrace fragment:
[code]

Unit test (the variant with seconds and nanos succeeds, the variant with Date fails for the same instant in time):

[code]

[2018-07-05 04:46] himanshujain18 commented on #3402
Hi @hzyi-google ,
Thanks for clarifying above. But in our case we are not accessing an outdated blob. Once, the two steps are done as mentioned by you -

    Blob blob = storage.create(blobInfo);
    Blob updatedBlob = storage.create(blobInfo, byteArray);

We perform `storage.get()` and then perform `blob.getContent()` to get the content of the blob. So, the flow is like this -

    Blob blob = st

[2018-07-05 12:43] goxr3plus commented on #3414
@guess-burger  Found any solution bro :) ?

[2018-07-05 12:51] goxr3plus commented on #3188
I see from description that  , LINEAR16 is at least double size of FLAC and that affects the speed of sending audio to Google Servers and getting back response :

[code]

Have you any way in mind that i can support FLAC Encoding :) ?

[2018-07-05 15:32] shubham-pandey95 opened #3430 "Dialogflow Error: Permission Denied"
I have created a Dialogflow agent with some intents. However, when I try to integrate it into my java backend, it seems to be accessing the wrong application default credentials.

I can confirm that it is verifying authentication is successful because the console logs the correct project ID (weather-checker-50074) when I run this code:

        // Set the session name using the sessionId (UUID) an

[2018-07-06 14:16] #3430 closed

[2018-07-07 09:56] minherz commented on #2702
client library does not [support it][1] for all platforms. For example, `StorageClient` class for .NET does not have method `SignUrl`.

[1]: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2702#issuecomment-351551565

[2018-07-09 12:08] elharo opened #3431 "Report slow zipping to maven"
In the BOM I find this comment:

Could someone who understands it report this upstream to Maven so it can be worked on and tracked? This may not be on their radar.

[2018-07-09 14:37] akauppi opened #3432 "Writing to a bucket should be possible without 'storage.buckets.get'"
I wish to have a service account be able to write, read, read metadata and read history of objects in a pre-defined and existing bucket. It does not need to be able to do anything about the bucket, itself.

From the [Cloud Storage IAM Roles](https://cloud.google.com/storage/docs/access-control/iam-roles) page..

|Role|Description|Permissions|
|---|---|---|
|`roles/storage.objectAdmin`|Full control

[2018-07-09 15:00] prismec commented on #3410
Any updates available on this issue ?

[2018-07-09 17:05] akauppi commented on #3329
In case this helps you, there are at least two sbt plugins to help see whether fresher dependencies are available:

- https://github.com/aiyanbo/sbt-dependency-updates
- https://github.com/rtimush/sbt-updates

[2018-07-09 19:02] hzyi-google commented on #3188
This is beyond the code in google-cloud-java and beyond the scope of my knowledge, sorry. You could probably share your question in their repo. I would still be happy to help you with questions related to speech api.

[2018-07-09 19:29] hzyi-google commented on #3402
Hi @himanshujain18 ,

In this case can you try changing the second `create` to use `blob.writer()`? I'll check with the server side if that does not help. Thanks!

[2018-07-09 19:43] jean-philippe-martin commented on #3221
Code is now in, the feature should be available. Let me know how it goes, and mention me in a new bug if you run into any difficulty!

[2018-07-09 23:20] andreamlin commented on #3432
Hello, would it be possible to skip the bucket fetch `sto.get(bucketName)` call, and instead use `sto.create(blobinfo, options)`?

[2018-07-10 02:47] medb commented on #2453
Looking into provided repro: https://github.com/jean-philippe-martin/nio-auth-repro

[2018-07-10 11:49] davidrabinowitz opened #3436 "Add support to Dataproc workflows"
Dataproc has a new workflow implementation (https://cloud.google.com/dataproc/docs/reference/rpc/google.cloud.dataproc.v1beta2#google.cloud.dataproc.v1beta2.WorkflowTemplateService). Is it possible to add a Java client for it?

[2018-07-10 16:23] JustinBeckwith commented on #3377
We also need to call out that this library is un-deprecated :) .

[2018-07-10 16:47] akauppi commented on #3432
@andreamlin That seems to help - thanks. :)

Also, your suggestion answered another question I had, about how to write custom metadata with the Java client.

[2018-07-10 16:47] #3432 closed

[2018-07-10 17:09] garrettjonesgoogle opened #3437 "Bigtable integration tests are failing consistently"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/8457?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-07-10 17:10] JustinBeckwith commented on #3437
@sduskis can you please take a look?

[2018-07-10 17:35] sduskis commented on #3437
I'm seeing things like this:

The account / project that runs the test needs Bigtable admin permissions.  I don't know which project and account that is, so I can't do much myself, but I'm happy to work with someone who has owner access.

[2018-07-10 18:12] pongad commented on #2413
Should be fixed by #2838.

[2018-07-10 18:12] #2413 closed

[2018-07-10 18:20] jean-philippe-martin commented on #3221
@hzyi-google, would you mind please closing this issue? I am not able to do it myself.

[2018-07-10 18:32] andreamlin commented on #3437
@sduskis How do we add the IAM permission to the service account used for running the integration tests? The service account has Owner role on the test project.

[2018-07-10 18:42] andreamlin commented on #3437
I added the Bigtable Admin permission to the service account.

[2018-07-10 19:03] sduskis commented on #3437
@andreamlin, did that fix the test?

[2018-07-10 19:57] andreamlin commented on #3437
@garrettjonesgoogle Can you rerun the CI build?

[2018-07-10 20:00] andreamlin commented on #3436
Hello,

The Java clients are refreshed weekly, and the newest client may be out by the end of the week.

[2018-07-10 20:01] andreamlin commented on #3431
Bumped the source plugin to 3.0.1.

[2018-07-10 20:01] #3431 closed

[2018-07-10 20:04] garrettjonesgoogle commented on #3437
Restarted.

[2018-07-10 20:11] andreamlin commented on #3437
@sduskis No, https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/8495 is still failing due to the missing IAM permission.

[2018-07-10 20:15] #3377 closed

[2018-07-10 20:32] hzyi-google commented on #3221
Sure. Thanks for contributing!

[2018-07-10 20:39] jean-philippe-martin commented on #3221
Thank you, @hzyi-google !

[2018-07-10 20:54] andreamlin commented on #3437
Internal bug 111314727 filed.

[2018-07-10 21:12] JustinBeckwith commented on #3377
Thank you for the quick turn around!

[2018-07-10 21:20] andreamlin commented on #3426
We should get sign-off from the DPE, LOL, and Java gRPC teams.

[2018-07-10 23:06] hzyi-google commented on #3410
I suspect this is a network issue and retrying the request would fix the issue. However I need to double check with the server side and waiting for their confirmation. Once they are on the same page the above PR can be merged.

[2018-07-10 23:07] #3429 closed

[2018-07-10 23:09] #3427 closed

[2018-07-10 23:12] andreamlin commented on #3426
Apiary libraries have yet to turn down Java 5 support, so this issue won't be resolved for a long time. Closing for now.

[2018-07-10 23:12] #3426 closed

[2018-07-11 04:31] davidrabinowitz commented on #3436
Notice that workflows are ay the v1beta2 api, is it generated as well?

[2018-07-11 06:42] guess-burger commented on #3414
@goxr3plus, we didn't. We had all sorts of problems with high duplication of messages even though items were handled in a few seconds.

In the end we just stopped using the Async Stream Pull consumer. Even flow control setting of max 1 outstanding still produced issues. We started to synch-pull one item at a time and duplicates stopped and so did these error messages.
Although now we occasionally

[2018-07-11 07:34] mustafaakin commented on #3263
We need them too for unit testing purposes

[2018-07-11 14:17] sduskis opened #3443 "Please upgrade grpc 1.13.1"
grpc 1.13.1 was released in June 20.  Please upgrade to the latest.

[2018-07-11 18:20] lbergelson commented on #2453
@medb @jean-philippe-martin Thank you both.

[2018-07-11 18:28] hzyi-google commented on #3221
@jean-philippe-martin There are integration tests failing. Can you double check?

[2018-07-11 18:36] jean-philippe-martin commented on #3221
Yes I can look into it @hzyi-google . Do you have something a bit more specific? Do you mean the `ITStorageTest` test suite?

[2018-07-11 18:40] hzyi-google commented on #3221
From my side, `testCantCreateWithoutUserProject`, `testCantReadWithoutUserProject`, `testCantCopyWithoutUserProject` and `testFileExistsRequesterPaysNoUserProject` are failing (the last one is an error).

[2018-07-11 20:58] andreamlin commented on #3443
@garrettjonesgoogle @pongad Are there any issues to doing this?

[2018-07-11 21:15] garrettjonesgoogle commented on #3443
Not that I'm aware of - you would just need to run integration tests locally before pushing the PR.

[2018-07-11 21:18] hzyi-google commented on #3221
@jean-philippe-martin Yes you are right. Our testing project do have the permission to the method in resourcemanager api. And the test with errors is for the same reason. I'll create a separate github issue for this and ignore the tests for now. Thanks for the clarification :)

[2018-07-11 21:18] #3221 closed

[2018-07-11 21:29] hzyi-google opened #3448 "Figure out permission settings for requester pays bucket integration tests"
`testCantCreateWithoutUserProject`, `testCantReadWithoutUserProject`, `testCantCopyWithoutUserProject` and `testFileExistsRequesterPaysNoUserProject` (https://github.com/GoogleCloudPlatform/google-cloud-java/blob/92b87dc9dd28fdaa523ecca0dfce02514a2c7297/google-cloud-clients/google-cloud-contrib/google-cloud-nio/src/test/java/com/google/cloud/storage/contrib/nio/it/ITGcsNio.java) are failing becaus

[2018-07-11 21:58] jean-philippe-martin commented on #3221
@hzyi-google great, I'm glad the mystery is solved!

Hopefully there is some way you can use a project without these permissions, so you can restore the tests on your side. Or split the integration tests into two parts, one with that permission and one without.

[2018-07-11 22:09] #3443 closed

[2018-07-11 22:12] taylor-rolison commented on #3344
Are there any updates on this issue?

We have a relatively complex Dataflow pipeline where we are streaming data from Pubsub and writing to GCS, Azure, and BiqQuery. We are seeing a small number of dropped rows in BiqQuery but no missing data in the other destinations. All the writers use the same pubsub code and we are sure the issue is in the BiqQuery writer. The insertAll response does no conta

[2018-07-11 22:34] #3410 closed

[2018-07-12 00:12] stetra opened #3455 "Netty crashes when LoggingAppender is configured in logback.xml"
I am trying to use [com.google.cloud.logging.logback.LoggingAppender](https://cloud.google.com/logging/docs/setup/java) to send logs to Stackdriver. However, when I add the appender to `logback.xml`, Netty crashes upon initialization. It's strange that this only occurs when the appender is configured in logback.xml. If I instead manually instantiate the logger within application code, logging work

[2018-07-12 15:33] andrewparmet opened #3458 "FirestoreOptions .setCredentials() seems to be ignored"
I recently upgraded Firestore from version 0.51.0-beta to 0.52.0-beta, which allows overriding of various options. My instantiation broke and now throws this exception:
`
com.google.cloud.firestore.FirestoreException: java.io.IOException: The Application Default Credentials are not available. They are available if running in Google Compute Engine. Otherwise, the environment variable GOOGLE_APPLICA

[2018-07-12 17:24] andreamlin opened #3461 "javadoc_test CI build does not run mvn javadoc target"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/8882?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link should have failed on making the javadoc (https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3459 fixes the javadoc error)

We should ensure that the CI build for javadoc_test does indeed run the javadoc target and throw an exception if th

[2018-07-12 19:57] andreamlin commented on #3437
@sduskis Seems like https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/8939?utm_campaign=build-failed&utm_content=failing-command&utm_medium=email#tests/containers/0/actions/103 is failing on TableAdminClientIT.java, which doesn't use "glcoud-devel" as I had thought, but rather project "sduskis-hello-shakespear". Are all the permissions correct there?

[2018-07-12 20:03] sduskis commented on #3437
Good catch.  Someone hardcoded my project.  I'm assigning this to @igorbernstein2, who knows more about the test setup than I do.

[2018-07-12 22:53] frankyn opened #3466 "Unable to set destinationDefaultAcl for copied objects"
GCS client library doesn't support ACL properties when performing a copy/rewrite operation.

[code]

Issue is predefinedAcl isn't being set in rewrite request.
Ref: [HttpStorageRpc.java#L797](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java#L797)

[2018-07-13 06:15] surabhikannan commented on #3424
@hzyi-google is there any updates on the same.

[2018-07-13 17:11] hzyi-google commented on #3424
Oh sorry about a typo in the former comment - I was asking if you could share a repro code?

[2018-07-13 17:20] #3466 closed

[2018-07-14 21:36] philkrie opened #3470 "NoSuchMethod Error in gax core"
Here is my pom file

	<dependencies>

		<dependency>
			<groupId>com.google.appengine</groupId>
			<artifactId>appengine-api-1.0-sdk</artifactId>
			<version>1.9.49</version>
		</dependency>
		<dependency>
			<groupId>com.google.apis</groupId>
			<artifactId>google-api-services-pagespeedonline</artifactId>
			<version>v2-rev13-1.22.0</version>
		</dependency>

		<dependency>
			<groupId>javax.serv

[2018-07-14 22:20] philkrie commented on #3470
Looks like the guava dependency was changed, I switched it back to an earlier commit, which uses the following.

[code]

After running mvn clean install, error was gone.

Why do I have to use guava-jdk5? Would prefer to use the latest library, the app is running on java 8

[2018-07-15 00:19] medb commented on #2453
This is not a Dataproc specific issue, it is reproducible on vanilla GCE VM too.

Presumably issue is caused by bug in shading configuration in newer versions of the `google-cloud-nio` library.

Issue is not reproducible locally, because locally it uses client authentication, not a service account.

Fix is here: https://github.com/jean-philippe-martin/nio-auth-repro/pull/1

[2018-07-16 16:42] hzyi-google commented on #3458
@chingor13 Jeff, this seems to be related to the changes you made to `ServiceOptions`. Would you mind taking a look?

[2018-07-16 16:52] andrewparmet commented on #3458
From my investigation this was caused by a change in GrpcFirestoreRpc; I've opened a PR #3460  that does "the minimal thing" to get correct overriding behavior if that's the direction y'all want to go.

[2018-07-16 17:22] hzyi-google commented on #3458
cc/ @schmidt-sebastian

[2018-07-16 17:57] hzyi-google commented on #3410
The change was included in the latest release 0.54.beta. Please update to the latest version of google-cloud-storage and let us know if the problem continues.

[2018-07-16 18:03] jabubake commented on #2629
@jadekler @garrettjonesgoogle @ludoch : has anybody diagnosed what the issue is ? It seems like `ComputeEngineCredentials` does implement `ServiceAccountSigner` now ?  [google/google-auth-library-java#150](https://github.com/google/google-auth-library-java/pull/150)

[2018-07-16 18:32] jadekler commented on #2629
cc @chingor13, who dealt with the linked CL

[2018-07-16 21:18] #3437 closed

[2018-07-16 21:21] #3458 closed

[2018-07-17 15:28] ryan-williams opened #3475 "Setting userProject from NIO FileSystemProvider"
I'm happy to see that [requester-pays support was just added](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3221)!

afaict, I can't set the `userProject` in a `CloudStorageFileSystemProvider` that gets instantiated via the Java NIO `FileSystemProvider` machinery, which uses `Class.newInstance()` to invoke the nullary constructor:

[code]

throws:
[code]

Is there a way to set the

[2018-07-17 16:36] tmoliveira opened #3476 "RetrySetting problem with google storage java api"
Hello,

I am trying to understand how my application runs if it goes out of internet. However I am facing a behavior that I am sure that is not correct.

I am setting the RetrySettings to "1" when creating the Storage client (google-cloud-storage, version 1.36.0) of google storage, however, the library perform always 10 attempts and then it blocks without returning to the client.

This is how I am

[2018-07-17 17:14] hzyi-google commented on #3475
You could set the `userProject` in `CloudStorageConfiguration` as is in the [tests](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/ab575d0eaf987cbc04f715310b4f23277bd84b9c/google-cloud-clients/google-cloud-contrib/google-cloud-nio/src/test/java/com/google/cloud/storage/contrib/nio/it/ITGcsNio.java#L639). Please let us know if that's not what you want.

[2018-07-17 21:15] nbali commented on #2629
nothing magical here, the version hasn't been bumped to the new version of the related library

current master:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/ab575d0eaf987cbc04f715310b4f23277bd84b9c/google-cloud-clients/pom.xml#L160

[2018-07-17 21:15] nbali commented on #2629
(the linked PR has been released in https://github.com/google/google-auth-library-java/releases/tag/v0.10.0)

[2018-07-17 22:41] stetra opened #3478 "LoggingAppender failure"
I am using [com.google.cloud.logging.logback.LoggingAppender](https://cloud.google.com/logging/docs/setup/java) to send logs to Stackdriver. I have configured the logger in `logback.xml`. Earlier today, [Stackdriver had an outage](https://status.cloud.google.com/incident/google-stackdriver/18008), and the throughput of my service stopped. Turns out the logger was unable to write logs due to the ou

[2018-07-17 23:13] hzyi-google commented on #3188
I'm going to close it here but feel free to ask for reopen if you still have problems with speech api.

[2018-07-17 23:13] #3188 closed

[2018-07-18 13:49] garrettjonesgoogle commented on #2629
@pongad Let's bump auth to 0.10.0 for the next release

[2018-07-18 15:01] kir-titievsky commented on #3383
@yonran  thank you for the excellent bug and your patience.  We have a theory: by default, the thread pool used to for message processing has 5 threads, while you are trying to process 20 messages at the same time. This might mean you never have enough threads to actually do the processing. You might try two different thing:
A: --concurrent-messages=5 to match the number of existing threads
B: Pro

[2018-07-18 20:39] kir-titievsky commented on #2622
@pongad, @danoscarmike  -- I think this might be obsolete by now.

[2018-07-19 00:01] danoscarmike commented on #2622
@hairybreeches I'm going to close this one out but please reply if you are still experiencing the issue.

[2018-07-19 00:01] #2622 closed

[2018-07-19 13:56] meltsufin opened #3479 "Pub/Sub access to message ack id in the subscribe use case"
When pulling messages, we get `ReceivedMessage` that contains the ack id that can then be used to ack multiple messages at once using the `ModifyAckDeadlineRequest`.

However, on the subscribe side all we get is `PubsubMessage` and `AckReplyConsumer`, without access to the ack id of the message. So, this means that we cannot ack messages in batch.

@garrettjonesgoogle

[2018-07-19 17:25] elharo opened #3480 "Upgrade opencensus"
0.15.0 is current

[2018-07-19 17:31] elharo commented on #3470
You have lots of out of date dependencies there. E.g.

appengine-api-1.0-sdk should be about 1.9.64
Objectify should be around 5.1.25
servlet-api should not be alpha

There are likely others. It's hard to tell exactly which one is at fault here.
For Guava try 20.0.0

[2018-07-19 18:14] garrettjonesgoogle commented on #2890
https://github.com/apache/beam/pull/5988 will bring Beam up to date, and it has passed tests.

[2018-07-19 18:16] garrettjonesgoogle opened #3482 "Remove last usages of Joda"
Migrate usages to threetenbp to remove any possibility of conflicts with other versions of Joda.

[2018-07-20 01:13] hzyi-google commented on #3476
This is not caused by the retry logics in the client library but (probably) how java does network connections. I tried remove `runWithRetries` from creating a blob and then test this method with Internet turned off, but I still received multiple warnings.

[2018-07-20 01:14] #3476 closed

[2018-07-20 01:22] hzyi-google commented on #3436
@danoscarmike Can you verify whether dataproc v1beta2 is ready to be generated?

[2018-07-20 06:09] ankit-joinwal commented on #2276
We are also facing this issue .
Out of 50 requests, we receive below error for 45 images:
**We can not access the URL currently. Please download the content and pass it in**

Any help is highly appreciated.

[2018-07-20 13:47] absin1 commented on #3188
I tried this code. But the
`public void onResponse(StreamingRecognizeResponse response) {
		System.err.println("REAL Time Response >>" + response);
}` takes a long time to respond. It's not realtime at all. I know streaming speech to text should be near realtime, it works on all android devices and on web ([here](https://www.google.com/intl/en/chrome/demos/speech.html)).
What can be the issue. My

[2018-07-20 17:04] kansuke231 opened #3488 "Getting `com.google.common.util.concurrent.MoreExecutors.directExecutor` for using BigQuery"
Hi all.

I am getting `java.lang.NoSuchMethodError: com.google.common.util.concurrent.MoreExecutors.directExecutor`for a line:

[code]

Here is the part of stacktrace:
[code]

I have investigated this error and it seems that this is usually caused by the old version of guava leaking into the dependency. However, it does not seem to be the case here. Below are snippets of `pom.xml` and the result o

[2018-07-20 18:11] hzyi-google commented on #3488
Hi @kansuke231 ,

I used exactly the same pom you provided and in my main function I did:

[code]
and the build was successful. Could you please double check on your side?

[2018-07-20 21:18] kansuke231 commented on #3488
Hi @hzyi-google.

Thanks for the response. This was caused in runtime so the compilation was successful. I put the print line as you did in my code too. The IDE did not complain, it compiled well but I got the same error message for that print line. I suspect some sort of reflection is used in the code, so the compilation cannot catch the exception.

[2018-07-21 02:54] goxr3plus commented on #3188
Also a good think is to send FLAC audio to the server,that's why i asked it
before :)

On Fri, Jul 20, 2018, 21:27 Hanzhen Yi <notifications@github.com> wrote:

[2018-07-21 03:02] absin1 commented on #3188
As it happens, I am accurately aware of the exact nature of my stream. It's coming from a VoIP call. The bitrrate is 16, 8000 frames per second and mono channeled raw pcm. It comes encoded in u law, but that is taken care of before forwarding it to google asr. Every byte array I add to the client stream is 320 in length. Should I accumulate it before sending it to google? Is it too small to be sen

[2018-07-21 03:50] absin1 commented on #3188
"Can you change the 10 above to probably 1000 or larger to see if that solves your problem?" Thanks a lot for responding promptly. I am actually using a sip client. I have redirected the stream meant for speakers to the clientstream object. At a time 320 sized byte array.

[2018-07-21 07:17] hzyi-google commented on #3488
Sorry I didn't make myself clear - I was able to build AND run successfully. I am most probably not familiar with the IDE you are using, but could you try removing any possible cached packages and do a clean build?

[2018-07-21 07:23] hzyi-google commented on #3188
In that case can you share how you redirected the stream? And can you estimate how long the delay is?

[2018-07-23 05:11] absin1 commented on #3188
Hi I was AFK over the weekend. I am using an SIP client called peers. I get the incoming audio as a byte array. For brevity take a look [here](https://github.com/absin1/peersNew/blob/master/peers-demo/src/main/java/net/sourceforge/peers/demo/StreamSoundManager1.java). The `init()` method gets called when the java VOIP client receives the call. Here I inititalize the stream etc. The `writeData(byte

[2018-07-23 16:42] deepakstriim opened #3492 "Could not initialize class com.google.cloud.bigquery.datatransfer.v1.stub.GrpcDataTransferServiceStub"
I'm trying to use BQ Data transfer client just to list supported data sources as an example but I'm seeing this error:
"java.lang.NoClassDefFoundError: Could not initialize class com.google.cloud.bigquery.datatransfer.v1.stub.GrpcDataTransferServiceStub"
This is my pom:
        <dependency>
            <groupId>com.google.cloud</groupId>
            <artifactId>google-cloud-bigquerydatatransfer</a

[2018-07-23 17:34] #3480 closed

[2018-07-23 17:38] hzyi-google commented on #3492
`DataTransferServiceClient.create(transferServiceSettings)` throws an `IOException`. You would need to either catch or propagate the exception.

[2018-07-23 17:45] deepakstriim commented on #3492
my main method propogates Exception:
    public static void main(String[] args) throws Exception {

[2018-07-23 17:54] hzyi-google commented on #3492
Can you share your entire file? I have a repro program the same as your code and my main method throws IOException, but I can't the the issue you have.

[2018-07-23 20:53] sduskis opened #3496 "Update google.auth.version to 0.10.0"
There were some critical enhancements in the `google-auth-library-oauth2-http` library.  Please upgrade from 0.9.1 to 0.10.0.

[2018-07-23 21:40] danoscarmike commented on #3436
@hzyi-google as discussed offline - I have added this version to the batch whitelist so it may be included in this week's release.

[2018-07-24 07:20] kaus22 commented on #1133
@mziccard which package did you get your Storage class from?
I'm using com.google.api.services.storage.Storage and BucketGetOptions.fields() is not getting resolved.

[2018-07-24 10:13] angadn commented on #2622
Sorry to reopen this discussion - does this mean https://godoc.org/cloud.google.com/go/pubsub#ReceiveSettings has a now redundant comment, and that 30 minutes is not effectively the ceiling for this value anymore?

[2018-07-24 18:19] pongad commented on #2622
I think the very long running messages described there is still an issue. I'll open a separate bug for this.

[2018-07-24 18:20] pongad opened #3500 "bring back polling pull"
streaming pull, while very fast, has the problem that very long running messages (> 30min) might duplicate.

[2018-07-24 18:21] #3420 closed

[2018-07-24 18:44] angadn commented on #2622
Can confirm it is still there

Sent from my iPhone

[2018-07-24 19:20] #3496 closed

[2018-07-24 19:21] pongad commented on #3383
@kir-titievsky I might be missing something, but it seems like the fix for this is just to bring back the "polling pull" right?

[2018-07-24 19:30] pongad commented on #3414
I can confirm these stack traces are related to sending ack/modacks timing out.

Could you let us know how you're setting up the executor? We've seen problem in the past where all threads in executor are busy with messages that they cannot service an RPC. With flow control at 1, this seems unlikely unless you have a single-threaded executor?

[2018-07-24 19:34] pongad commented on #3424
@surabhikannan which version of BigQuery are you using? I believe this should have been fixed by #2798.

[2018-07-24 19:46] hzyi-google opened #3502 "Speech is taking a long time to respond"
The customer is using a sip client called peers to redirect stream from a VoIP call to speech API but the customer is seeing a latency of approximately 8 seconds before they can receive the first response from the server. This is their [code](https://github.com/absin1/peersNew/blob/master/peers-demo/src/main/java/net/sourceforge/peers/demo/StreamSoundManager1.java). The method `writeData(byte[] bu

[2018-07-24 20:19] wonja opened #3503 "cannot import important Classes used in usage documentation"
Using the latest version, `1.37.1`, I cannot import certain classes, only the ones listed here: https://googlecloudplatform.github.io/google-cloud-java/google-cloud-clients/apidocs/index.html?com/google/cloud/pubsub/v1/package-summary.html

I am calling the Java methods from Clojure. I tried all the `1.x.y` packages and they all show the same behavior.

In all of the documentation of how to use th

[2018-07-24 21:13] surabhikannan commented on #3424
@pongad

[2018-07-24 21:13] #3424 closed

[2018-07-24 21:14] surabhikannan commented on #3424
@pongad I am using v0.22.0, also thanks I was able to solve this issue.

[2018-07-24 21:34] BrandonY commented on #3402
Hi @himanshujain18,

Is it possible that you have more than one process simultaneously operating on this object? If you were to call storage.get(), and then a second process deleted the object, and then the first process called getContent(), that first process could get a 404.

[2018-07-25 01:57] ryan-williams commented on #3475
Thanks for that pointer @hzyi-google; that helped, but I still needed #3504.

`CloudStorageFileSystemProvider` [checks its instance var `userProject`](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/f7ed77f677db6de8e5d7805170673eed4cd57fac/google-cloud-clients/google-cloud-contrib/google-cloud-nio/src/main/java/com/google/cloud/storage/contrib/nio/CloudStorageFileSystemProvider.java#

[2018-07-25 06:41] maros7 commented on #3414
We are seeing the same behaviour with v1.37.1. We are creating an executor provider with ```FixedExecutorProvider.create(Executors.newScheduledThreadPool(4))``` and using the default ```FlowControlSettings```.

[2018-07-25 07:02] pongad commented on #3414
@maros7 How long running are your tasks? Eg, does each message take 1 second of executor's time? 10 seconds? etc. I might be onto something but would like to understand this better first.

[2018-07-25 07:22] maros7 commented on #3414
@pongad Our ```MessageReceiver``` creates a Spring Integration Message including the ```AckReplyConsumer``` as a message header and puts the message on a Spring Integration channel. This takes less than 1 second. Processing is done by the consumer of the Spring Integration Channel.

[2018-07-25 09:43] guess-burger commented on #3414
@pongad, we were using the default executor provided by the Subscription.Builder which looks like [5 * Num available Processors](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/v0.51.0/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java#L420).

[2018-07-25 16:03] LukeDefeo opened #3505 "google cloud big query does not have badRecords field for LoadJobStatistics"
It is in the generated model classes, this field would be nice

[2018-07-25 18:22] hzyi-google commented on #3475
Thanks for the clarification and contribution! I added a few comments in the pull request, can you take a look please?

[2018-07-25 23:21] deepakstriim opened #3508 "Can't find the library for the Pubsub class"
Hi, I'm trying to replicate the functionality in java similar to the google-dts repo here (which is written in python): https://github.com/mtai/bq-dts-partner-sdk  to be able to listen to pub-sub messages from DTS and send a response. However I can't find the code required in  <artifactId>google-cloud-bigquerydatatransfer</artifactId> library. Searching a little bit I found this library: https://g

[2018-07-26 03:21] andreamlin commented on #3508
Hi, the latest google-cloud-pubsub pom is hosted at  https://repo.maven.apache.org/maven2/com/google/cloud/google-cloud-pubsub/1.37.0/google-cloud-pubsub-1.37.0.pom, and you can find it in this repo at https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-clients/google-cloud-pubsub/pom.xml.

[2018-07-26 11:23] ghost opened #3509 "null returned when calling field.getMode()"
Hello,
when calling ` field.getMode()` in the com.google.cloud.bigquery.Field, I got null returned when I creating field by
[code]
which only set the name and type, do you think this should set the default mode of `nullable` when not specified a mode

[2018-07-26 16:34] deepakstriim commented on #3508
Thanks @andreamlin
This is what I gathered from the pom:
    <dependency>
      <groupId>com.google.cloud</groupId>
      <artifactId>google-cloud-pubsub</artifactId>
      <version>1.37.2-SNAPSHOT</version>
    </dependency>
but it didn't download any dependency for me. Let me know if it looks incorrect.