[2017-07-17 21:21] #2109 closed

[2017-07-17 21:24] Safyia opened #2243 "Copying large object to a different bucket always times out"
I am trying to copy a 2GB blob from one bucket to another, using the `copyTo` method of the blob. This always fails with the following exception:
[code]
Copying within the same bucket works as expected.  I am using the `0.20.1-alpha` version of the google cloud library.

[2017-07-17 21:28] garrettjonesgoogle commented on #2058
I am going to close this issue because it appears that @gzc has a work around. Feel free to open if there are further issues.

[2017-07-17 21:28] #2058 closed

[2017-07-17 22:38] garrettjonesgoogle commented on #2057
@JustinBeckwith your gist link is broken...

[2017-07-17 22:41] garrettjonesgoogle commented on #2039
We have upgraded to grpc 1.4 which removes the conflict with Tomcat. Since the underlying issue should be fixed, I'm going to close this out.

[2017-07-17 22:41] #2039 closed

[2017-07-18 00:59] vscatarino commented on #2240
Ok!
I need to use Cloud Vision on Raspeberry.
Is there any way to do this?

[2017-07-18 02:12] frankyaorenjie commented on #2141
try to remove unused dependencies in pom, such as those artifactId is google-cloud and guava

[2017-07-18 04:27] pongad commented on #2181
@lesv Do we know what operations are involved? I can try looking into benchmarking this, but it's difficult to do in the abstract.

[2017-07-18 05:39] volgin opened #2247 "Second query within query ignores filter"
The following code produces totally unexpected results.

[code]

Originally the second query was supposed to retrieve kind "Recording". After I have encountered this weird behavior, I changed the kind to "Release", so that the first and the second queries are identical. Still, the first query works as expected, while the second query ignores the property filter completely.

I hope I am missing som

[2017-07-18 05:42] volgin commented on #2247
Sorry, found the cause of the problem in my code.

[2017-07-18 05:42] #2247 closed

[2017-07-18 05:55] sarelp opened #2248 "Provide a ChannelProvider which can connect to the PubSub emulator"
With the rest api it was possible to connect to the PubSub emulator by specifying the address
of the emulator with no additional configuration.

With the gRPC api it is no longer possible. It can be done by creating a PlainText negotiated
channel but that requires us to create our own `ChannelProvider`.

The gax libraries provide a `LocalChannelProvider` which creates a PlainText channel but it is

[2017-07-18 06:08] evmin commented on #2248
+1

[2017-07-18 06:15] NicolaSpreafico opened #2249 "BigQuery: obscure exception when writing 0 bytes"
I wrote this code in an App Engine standard (Java7) application which writes a set of rows in a BigQuery table

My code started from here: https://cloud.google.com/bigquery/loading-data-post-request#bigquery-import-file-java

[code]

In localhost works fine, w/o problems. All the rows are written and no errors raised.

But after I ran this code online I got this error

[code]

**Can this library b

[2017-07-18 09:57] mpartel opened #2250 "Please support multiple network interfaces for compute instances"
If I try to attach multiple network interfaces to a compute instance, I get an `Invalid value for field 'resource': ''. Expected one network interface.`. Please add support for this.

This was already mentioned in #915 (#916 is also related), but those were closed after filing a bug (internally I assume) about documenting the limitation.

[2017-07-18 12:53] NicolaSpreafico commented on #2249
Found the main problem: I didn't noticed that for some resources I got 0 results from DB, so the write operation ended with writing 0 bytes.

For the moment I skip the load operation if 0 results found, but I'm wondering if this matter of 0 bytes can be handled internally by the client.

[2017-07-18 13:12] meltsufin commented on #2057
There's support through a [JUL Logging Appender](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-contrib/google-cloud-logging-logback/src/main/java/com/google/cloud/logging/logback/LoggingAppender.java) and [Logback Appender](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-contrib/google-cloud-logging-logback). Currently, we [docu

[2017-07-18 16:17] garrettjonesgoogle commented on #2031
Closing out since we are unable to repro.

[2017-07-18 16:17] #2031 closed

[2017-07-18 16:19] garrettjonesgoogle commented on #1958
We have upgraded gRPC to 1.4 and are using the 2.x series of tcnative now, so I'm going to close this out.

[2017-07-18 16:19] #1958 closed

[2017-07-18 16:22] garrettjonesgoogle commented on #1891
No response, so I'm going to close out this issue. Feel free to re-open if you have more details to provide.

[2017-07-18 16:22] #1891 closed

[2017-07-18 16:23] garrettjonesgoogle commented on #1887
No response, so I'm going to close out this issue. Please re-open if you are still having problems.

[2017-07-18 16:23] #1887 closed

[2017-07-18 16:27] garrettjonesgoogle commented on #1860
No response, so I'm going to close this out. Feel free to re-open if you're able to provide more information.

[2017-07-18 16:27] #1860 closed

[2017-07-18 16:29] garrettjonesgoogle commented on #1857
No response, so I'm going to close this out. Feel free to re-open if you can provide more information.

[2017-07-18 16:29] #1857 closed

[2017-07-18 16:37] garrettjonesgoogle commented on #1836
Could you try with the latest version of google-cloud-monitoring? We have upgraded to a more recent grpc + tcnative that 1) throws an up-front error when tcnative loading fails, and 2) reduces the number of cases where there are tcnative conflicts.

[2017-07-18 16:40] garrettjonesgoogle commented on #1811
This has been fixed - all clients are now in the API Packages sections.

[2017-07-18 16:40] #1811 closed

[2017-07-18 16:42] garrettjonesgoogle commented on #1798
I think this issue has been addressed, closing it out.

[2017-07-18 16:42] #1798 closed

[2017-07-18 16:45] garrettjonesgoogle commented on #1797
Since we don't have a repro case, I'm going to close this out. If the issue is still happening on the latest google-cloud-java (note: we are on grpc 1.4 now), please re-open.

[2017-07-18 16:45] #1797 closed

[2017-07-18 16:53] garrettjonesgoogle commented on #1777
`PubSubHelper` has been deleted completely since this issue was filed. The recommended way to use the Pub/Sub emulator is documented at https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/TESTING.md#testing-code-that-uses-pubsub .

I'm going to close out this issue now - feel free to contact us again if you have more concerns.

[2017-07-18 16:53] #1777 closed

[2017-07-18 16:56] garrettjonesgoogle commented on #1731
No response, so I'm going to close this out. Feel free to re-open if there are still issues.

[2017-07-18 16:56] #1731 closed

[2017-07-18 17:47] garrettjonesgoogle commented on #1666
@shinfan ping - I suspect this is fixed and I'd like to close it out if that is true.

[2017-07-18 17:56] garrettjonesgoogle commented on #1462
@mvipat could you try with a more recent version of google-cloud-pubsub? A lot has changed since your last message in December.

[2017-07-18 17:58] lesv commented on #2192
`mvn dependency:tree -Dverbose`
https://maven.apache.org/plugins/maven-dependency-plugin/examples/resolving-conflicts-using-the-dependency-tree.html

It sounds like something is listed twice and picking the wrong one.

[2017-07-18 18:00] garrettjonesgoogle commented on #1409
I'm going to close this out because it doesn't seem clear that we know what we want to do. We can file a new issue when we know.

[2017-07-18 18:00] #1409 closed

[2017-07-18 18:08] shinfan commented on #1666
No this is not resolved. I will send a separate fix.

[2017-07-18 18:31] garrettjonesgoogle commented on #1052
Requests for supporting new clients are tracked internally. I'm going to close out this issue.

[2017-07-18 18:31] #1052 closed

[2017-07-18 18:33] garrettjonesgoogle commented on #989
This is already being tracked at the source so I'm going to close out this issue.

[2017-07-18 18:33] #989 closed

[2017-07-18 18:43] garrettjonesgoogle commented on #815
I don't think this is important to anyone. Closing out.

[2017-07-18 18:43] #815 closed

[2017-07-18 18:45] garrettjonesgoogle commented on #813
It looks like #1469 solved this issue, so closing it out.

[2017-07-18 18:45] #813 closed

[2017-07-18 18:50] garrettjonesgoogle commented on #811
cc @jean-philippe-martin

[2017-07-18 18:51] garrettjonesgoogle commented on #810
@jean-philippe-martin this issue is more than a year old, can you comment on the need to address it?

[2017-07-18 18:51] garrettjonesgoogle commented on #811
@jean-philippe-martin this issue is more than a year old, can you comment on the need to address it?

[2017-07-18 18:52] garrettjonesgoogle commented on #809
@jean-philippe-martin this issue is more than a year old, can you comment on the need to address it?

[2017-07-18 18:54] garrettjonesgoogle commented on #684
This is done, so closing out the issue.

[2017-07-18 18:54] #684 closed

[2017-07-18 18:57] garrettjonesgoogle commented on #667
This is a distinct service from Storage.

Someone filed an issue much more recently for this: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2222

New client requests are being tracked internally now. I'm going to close this out.

[2017-07-18 18:57] #667 closed

[2017-07-18 19:11] garrettjonesgoogle commented on #680
This work was done in https://github.com/google/google-auth-library-java/pull/63 . Closing this out.

[2017-07-18 19:11] #680 closed

[2017-07-18 19:15] garrettjonesgoogle commented on #613
It's not clear what the need is. This seems like something that can just be done when it's actually needed. Closing this out.

[2017-07-18 19:15] #613 closed

[2017-07-18 19:18] garrettjonesgoogle commented on #664
This seems like a design discussion that doesn't need to stick around as an issue any more; changes along the lines described here would likely be breaking changes for GA libraries. Closing it out.

[2017-07-18 19:18] #664 closed

[2017-07-18 19:28] garrettjonesgoogle commented on #608
Some analysis would need to be done to see if this is still relevant.

[2017-07-18 19:30] garrettjonesgoogle commented on #604
This is a speculative issue for API options that may or might not exist in the future; I feel like we should only file issues for work we know needs to be done. Closing this out.

[2017-07-18 19:30] #604 closed

[2017-07-18 20:15] garrettjonesgoogle commented on #302
Requests for new clients are being tracked internally. Closing out this issue.

[2017-07-18 20:15] #302 closed

[2017-07-18 20:16] garrettjonesgoogle commented on #418
This is something we can consider opportunistically - we already use it a bit in gax-java. I don't think it's worth retaining an issue for it, though.

[2017-07-18 20:16] #418 closed

[2017-07-18 20:19] garrettjonesgoogle commented on #406
We are currently using three "version tracks" - GA clients, Beta clients, and Alpha clients. We updated our release scripts a while back to support this. We don't currently have any plans for completely independent versions.

There isn't anything additional in this issue that we intend to support, so I'm going to close it out.

[2017-07-18 20:19] #406 closed

[2017-07-18 20:21] garrettjonesgoogle commented on #493
I have removed the blocking label since grpc can be used on GAE Java 8 standard.

[2017-07-18 20:23] garrettjonesgoogle commented on #476
Related issue that applies to all languages: https://github.com/googleapis/toolkit/issues/331

[2017-07-18 20:28] garrettjonesgoogle commented on #431
Well, the work in google-auth-library-java is done, but I don't think the work on ITs for resource manager has been done.

[2017-07-18 20:31] garrettjonesgoogle commented on #388
This would be a breaking change to GA clients at this point, so we aren't going to do it. Closing out the issue.

[2017-07-18 20:31] #388 closed

[2017-07-18 20:34] garrettjonesgoogle commented on #349
We have a performance test initiative in progress; I don't think it makes sense to track it in this issue, so I'm closing it out.

[2017-07-18 20:34] #349 closed

[2017-07-18 21:22] lesv commented on #682
We should discuss this later in the week.  There might be a gRPC api soon.

[2017-07-18 21:32] tcoffee-google commented on #2118
It appears to me that these networks are being generated by tests for Node.js: https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/compute/system-test/compute.js

The Compute tests in Node.js use a non-standard setup to minimize resource creation, which removes previously-created objects after all tests have finished running. The idea appears to be that, even if a test ru

[2017-07-18 21:44] stephenplusplus commented on #2118
@tcoffee-google thanks for the initial investigation. The networks created by our system tests are done through the project "gcloud-node-regression-tests (ID: long-door-651)"-- how are resources from that project showing up for the Java project?

[2017-07-18 22:06] stephenplusplus commented on #2118
In the Node before/after hooks, we delete all resources. One of [those functions that executes is](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/425701b9f67885763f22f1547955fbd83a754bcf/packages/compute/system-test/compute.js#L1399):

[code]

These fire in order, so firewalls are deleted before networks. If a deletion of any of these resource types fails, the system tests will exit

[2017-07-19 03:20] tcoffee-google commented on #2118
I'm fairly sure that the orphaned networks in the `gapic-test` project are coming from these tests, since the particular naming pattern appears to result from the (presumably unintended) behavior of https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/compute/system-test/compute.js#L1378 , which I don't see occurring anywhere else. These show up at bottom in the list below

[2017-07-19 05:44] #2125 closed

[2017-07-19 05:49] pongad commented on #476
@garrettjonesgoogle Do you object to closing this as dup?

[2017-07-19 11:07] kirankumar-mahi opened #2255 "Not receiving GCS Cloud Pub/Sub Notifications."
Hi There,

- I am not getting object change notification using pub/sub.

I created topic and sub and associated it to bucket notification as below and
gsutil notification create -f json -t projects/syncdemo/topics/filesync gs://mybucket

I wrote code to receive the notifications as below.

            subscriptionName = SubscriptionName.create("syncdemo", "filesyncsub");

            MessageReceiv

[2017-07-19 11:07] cmaan opened #2256 "NullPointerException in TransactionExceptionHandler"
Starting with `google-cloud-datastore:1.2.1`, a user exception thrown within a datastore transaction (`runInTransaction`) triggers a `NullPointerException` in `com.google.cloud.datastore.TransactionExceptionHandler`. The original exception is swallowed.

For reference, a minimal `build.gradle` which triggers the problem on `gradle run` is:
[code]

[2017-07-19 15:22] garrettjonesgoogle commented on #476
Hmm I think it might make sense to keep this open, because it is likely for someone else to file a new issue against google-cloud-java not knowing there is a cross-language issue filed in toolkit.

[2017-07-19 17:27] stephenplusplus commented on #2118
It's definitely possible, and apparently the case, since I agree that those networks must have come from our tests.

As far as who ran them: @lukesneeringer any ideas? It's not from myself, Dave (@callmehiphop), or the system tests (AppVeyor and Circle). We don't have access to the `gapic-test` project.

As far as how it happened: if the tester aborted the process in the middle of the test run, th

[2017-07-19 18:23] kimsterv commented on #682
Sign up for the Cloud Tasks Alpha here:

https://goo.gl/Ya0AZd

It's a new RESTful API for the existing Task Queue service accessible from Flex apps (and any compute environment).

[2017-07-19 18:46] lesv commented on #2187
It helps people discover that we have those services.  (They might not have found it otherwise)

[2017-07-19 18:49] lesv commented on #2148
@tswast Can you do this?

[2017-07-19 18:54] lesv commented on #2181
gRPC Java 1.5 library was released claiming a 2x performance improvement.  Not sure if it a disappointment that Datastore isn't gRPC or not.

Reading a lot of data.  (i'll find something and send it to you.)

[2017-07-19 18:58] tswast commented on #2148
Added to my backlog.

The gist is to set the `autodetect` parameter on the LoadJobConfiguration. http://googlecloudplatform.github.io/google-cloud-java/0.20.2/apidocs/index.html

P.S. The autodetect parameter is no longer "experimental" in the REST API. The JavaDocs should get updated.

[2017-07-19 19:04] skrulcik opened #2257 "Mutation.WriteBuilder.build() does not check state"
It is possible to "build" a Cloud Spanner mutation with invalid internal state, specifically with multiple values bound for the same column name. Using the mutation later on (e.g. in [DatabaseClient#write](http://googlecloudplatform.github.io/google-cloud-java/0.20.2/apidocs/?com/google/cloud/spanner/package-summary.html)) will result in a SpannerException. Duplicate bindings should be detected du

[2017-07-19 20:31] tcoffee-google commented on #2118
Since it sounds like there's not a legitimate use case for running these tests on the `gapic-test` project, I've modified our integration test setup to remove them, which I expect will avoid the recurring problem. If someone is running the Node.js integration tests on `gapic-test` while our CI build begins, this could cause their tests to fail, but that seems preferable to the present issue.

[2017-07-19 20:49] vkedia commented on #2257
That is a reasonable expectation. @skrulcik would you like to send a PR to fix this :)

[2017-07-19 20:58] neozwu commented on #2118
If you search the logging using the network-id, it should be able to tell you the service account that creates the network - that might be useful information.

[2017-07-19 21:48] tcoffee-google commented on #2118
The networks I just removed must be old enough that they no longer show up in the logs.

[2017-07-20 00:40] skrulcik commented on #2257
Sure! Should be able to send one tomorrow

- Scott
________________________________
From: Vikas Kedia <notifications@github.com>
Sent: Wednesday, July 19, 2017 4:49:15 PM
To: GoogleCloudPlatform/google-cloud-java
Cc: Scott Krulcik; Mention
Subject: Re: [GoogleCloudPlatform/google-cloud-java] Mutation.WriteBuilder.build() does not check state (#2257)

That is a reasonable expectation. @skrulcik<htt

[2017-07-20 00:40] vkedia commented on #2257
Thanks!

[2017-07-20 03:19] #2172 closed

[2017-07-20 04:05] neozwu commented on #1918
The issues listed here are resolved, so close this issue.

[2017-07-20 04:05] #1918 closed

[2017-07-20 06:49] kirankumar-mahi commented on #2255
Its my bad. I made a mistake. closing.

[2017-07-20 06:49] #2255 closed

[2017-07-20 17:03] elmer-garduno commented on #1918
QQ, how does the error on https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1918#issuecomment-299004772 gets fixed?

There's an other report of the same issue here:

[2017-07-20 17:17] neozwu commented on #1918
It seems to me those errors are due to the fact appengine APIs were used. For flex and j8 standard, one shouldn't rely on those APIs anymore. J8 standard supports native I/O and threading.

[2017-07-20 17:36] elmer-garduno commented on #1918
Thanks for the prompt response, the problem I'm having right now is that in addition to my google-cloud-java dependencies (com.google.cloud.bigtable/bigtable-hbase-1.2) I also depend on the Google client APIs (com.google.apis/google-api-services-ml) which requires `AppIdentityCredential` from the appengine APIs.

Any insights on how to handle this?

[2017-07-20 19:16] garrettjonesgoogle commented on #2187
I don't think it's the responsibility of the client libraries to tell people what GCP services are available...

[2017-07-20 19:21] jabubake commented on #2187
Agree with Les on making these more informative.  To the user who arrives at the page, it is our opportunity to inform users of the existing services without bouncing off to search for what that is.

[2017-07-20 19:34] lesv commented on #2187
Let's talk about this - this afternoon.

[2017-07-21 08:09] Habitats commented on #2241
I can understand that this conflicts with the design, but I think it's unfortunate if it's impossible circumvent it.

Is the design aimed at actor based systems where the same node both receives and handles the message? I would assume the Spark Streaming context, where you receive at a master, and process on another node, isn't that unique.

Looking forward to feedback!

[2017-07-21 16:22] elmer-garduno commented on #1918
I see the old API is in maintenance mode, are there guidelines on how to use the google-cloud-java APIs to invoke non built-in APIs like CloudML? (Basically to get the authentication and basic REST support in place)?

[2017-07-21 23:28] tcoffee-google commented on #2118
Still seeing some similar errors despite apparent non-existence of orphaned networks: https://www.google.com/url?q=https%3A%2F%2Ftravis-ci.org%2FGoogleCloudPlatform%2Fgoogle-cloud-java%2Fjobs%2F255764601&sa=D&sntz=1&usg=AFQjCNGYPTkzJ0WPOIccAmP18KjzK3ExwA

Also need to install `gcloud` on Travis for this script to work properly.

[2017-07-23 20:02] ryan-williams opened #2265 "Credentials/Account is picked up on one machine but not another"
google-cloud-nio loads my credentials on one machine, but treats me as anonymous and rejects reads/writes on the other.

I must have some state set on the former but not the latter that is causing this, but I can't figure out what.

`gcloud config list` gives identical output on both:

[code]

Simple file to test reading a GCS path, `Test.java`:

[code]

Compile it:

[code]

Get latest google-clou

[2017-07-23 21:31] naushad97 opened #2266 "Error: Jetty ALPN/NPN has not been properly configured."
I am getting the below exception when running the sample "speech" application as a plain java application. I have not run it on any server as of now.

Sample application can be found at- https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/speech/cloud-client.

Exception in thread "main" java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured.
	at io.grp

[2017-07-24 15:47] garrettjonesgoogle commented on #2118
Installing `gcloud` seems like really high overhead when we are just using it to call cloud services... and that's what our client library is for, calling cloud services.

[2017-07-24 18:05] trunganh39 commented on #350
Is there a status on this?

[2017-07-24 18:39] tcoffee-google commented on #2118
I was concerned about using our library to set up tests for itself, and it seems [fairly simple](https://stackoverflow.com/a/38776394) to install `gcloud` for the Travis build. Do you think we should clean up the networks internally as part of the integration tests?

[2017-07-24 19:07] garrettjonesgoogle commented on #2118
Ok - is it known how long the installation takes (since it will add that time onto every integration test run in Travis)?

[2017-07-24 19:17] tcoffee-google commented on #2118
It takes ~10 sec on my local machine. The installation portion may be slower on Travis, but I'd imagine well under a minute.

[2017-07-24 19:20] garrettjonesgoogle commented on #2118
Alrighty, that should be fine I think.

[2017-07-24 19:22] neozwu commented on #2118
Would it be possible to 'curl' a http request to delete the networks ?

[2017-07-25 01:02] tcoffee-google commented on #2118
Probably, but it's more complicated and doesn't seem to save that much overhead. As the `gcloud` solution is already tested and not too bad, I'm inclined to go with it for now. Any objections?

[2017-07-25 14:56] bullet-tooth opened #2270 "Spanner: Convenient way to read Object/Objects from db."
It would be great to have a convenient way to retrieve the data as pojos from Spanner database.
For example `com.google.cloud.spanner.ReadContext` interface could be expanded with such methods for this purpose:

[code]
Where `StructMapper` is an interface that can be implemented by users for custom pojos. Also it is a reason to create default implementation that covers conversion for common types,

[2017-07-25 18:28] jonparrott opened #2272 "Auth: stop reading gcloud's configuration directly"
Instead, use `gcloud config config-helper`:

Instead, we should subprocess out to `gcloud config config-helper --format json`

Example output:

[code]

Context: https://github.com/GoogleCloudPlatform/google-auth-library-python/issues/146

[2017-07-25 21:38] joelostlund opened #2274 "BigQuery: Can't create a table with a expirationtime"
Hello,
I am trying to create a table using the bigquery API in the following way:

[code]
This gives me the following message:
com.google.cloud.bigquery.BigQueryException: Not found: Table entity-dev:joel_daily.user_daily_20170718

Doing the same without .setExpirationTime(expirationTime) works fine. I don't see why I should get an issue Not found when setting the ExpirationTime.

Can you please h

[2017-07-25 21:48] garrettjonesgoogle commented on #2150
@tcoffee-google this is another important issue to look at.

[2017-07-25 21:50] garrettjonesgoogle commented on #2192
Potentially we could subvert Maven's dependency choice by putting the google-auth-library-java dependency in google-cloud-core-grpc. We would have to experiment and see if that fixes the problem.

[2017-07-25 21:56] garrettjonesgoogle commented on #2187
Resolved offline: the longer descriptions are fine, but retain the "A client for" at the beginning.

[2017-07-25 22:19] neozwu commented on #2192
I'm working on migrating from maven to gradle. This would be something the migration should take care of.

[2017-07-25 22:33] garrettjonesgoogle commented on #2192
Consumers of google-cloud-java using Maven will likely still hit this issue even if we are using Gradle.

[2017-07-26 02:15] jbaldassari opened #2275 "PubSub: NullPointerException at com.google.apphosting.runtime.ApiProxyImpl$CurrentRequestThreadFactory.newThread(ApiProxyImpl.java:1267)"
After upgrading my PubSub client to ```0.20.3-beta``` (as well as a few other Google dependencies) and switching from the Java8 flexible environment to the Java8 standard environment I'm no longer able to publish messages to my PubSub topic.  I'm seeing this error in the logs for my AppEngine standard Java8 environment after publishing a message and ```get()```ing the ```Future```:

[code]

I'm us

[2017-07-26 04:15] jbaldassari commented on #2275
After rolling back to the ```0.11``` dependencies I'm now getting an error about not being able to authenticate.  This may be due to differences between the flex and standard java8 environments because I never had this issue in the flex environment:

[code]

[2017-07-26 09:37] yamennassif opened #2276 "We can not access the URL currently. Please download the content and pass it in."
When working on the remote label detection i get this message on many (like really many) accessible and existing images.
e.g. http://heizung-dinges.de/assets/images/Koebig2.jpg
Also some other times i will get the message Bad image data. On different existing and accessible images.  Re-requesting the API is not working, same exact errors will occur.

[2017-07-26 12:09] jbaldassari commented on #2275
In the end I wasn't able to find a workaround, so I had to revert all my recent changes.  In a separate test environment (Java 8 standard) I noticed a few other errors that may be relevant in addition to the original ```NullPointerException```:

[code]

[code]

[code]

[code]

[code]

[2017-07-26 14:47] jbaldassari commented on #2275
Also posted this to StackOverflow: https://stackoverflow.com/questions/45330377/pubsub-in-app-engine-standard-java-8-nullpointerexception-at-apiproxyimplcurre

[2017-07-26 15:03] jbaldassari commented on #2275
Found a mention of a similar problem here:

https://groups.google.com/d/msg/google-appengine/2UTg4Eqskyk/PbqYEK3GAAAJ

I tried the work-around suggested there (https://gist.github.com/cmaan/7752e3c4fd0b1ba90a745cb6db232206)  and the NPE has stopped happening. But  now I'm back to the other ```UNAUTHENTICATED``` error:

[code]

[2017-07-26 15:25] jabubake commented on #2192
@neozwu : +1 to what @garrettjonesgoogle just said.

[2017-07-26 15:27] cmaan commented on #2275
I see you found my crazy workaround in https://gist.github.com/cmaan/7752e3c4fd0b1ba90a745cb6db232206

We stumbled upon the same `UNAUTHENTICATED` issues, as the automagic GAE authentication does not work anymore in a plain java thread pool. To deal with those you can use a PubSub client with explicit credentials, e.g.:
[code]

This way, we got Spanner and PubSub to work on java8.

[2017-07-26 18:15] jbaldassari commented on #2275
Thanks for the tip, @cmaan.  I'm still having some trouble getting it working, though.  What credentials provider did you use?  Did you have to pass it in a file?

What I tried to do was to get the default credentials from AppEngine before applying the work-around, kind of like this:

[code]

That didn't seem to work, though.  I'm still getting the same ```UNAUTHENTICATED``` error with the message

[2017-07-26 18:41] tcoffee-google commented on #2118
I've set it up to cache the SDK to avoid a download and install unless updates are available.

[2017-07-26 19:41] haakonringberg commented on #2241
@Habitats is it possible to have every node subscribe?

[2017-07-26 20:31] kir-titievsky commented on #2275
@garrettjonesgoogle @pongad Do you two see any reason why this might happen?

[2017-07-26 20:33] Habitats commented on #2241
That doesn't make much sense in my context. The thing is that I'm pulling it from pubsub, and putting it on the Spark Streaming queue.

I managed to workaround this issue by just using the REST API for both subscriptions and acking -- all the other client libraries seems to inherit this functionality as well though. What is the reasoning behind this for the Java library?

[2017-07-26 20:39] pmkc commented on #2241
I think there are valid reasons to want to ACK a message at a later point, and that this client may not easily support that.

However I believe the suggested pattern of a [Reliable Receiver](https://spark.apache.org/docs/latest/streaming-custom-receivers.html#receiver-reliability) in Spark Streaming is to ACK the message immediately after storing it, which seems to get around serializing the `AckR

[2017-07-26 21:10] jbaldassari commented on #2275
The issues discussed in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1918 seem relevant FWIW

[2017-07-26 21:41] tcoffee-google commented on #2118
@garrettjonesgoogle noticed that these tests are running not on the `gapic-test` project, but on the `gcloud-java` project, to which I'd previously not had access. The orphan networks on this project do look to be remnants from interrupted Compute integration tests on google-cloud-java. As my #2251 already filled in the gaps I found in testing removal, I suggest the remedy should be the same.

[2017-07-26 21:45] garrettjonesgoogle commented on #2066
@sundewei is the value of `metricType` different for every call to your method `sendDataPoints`? My understanding is that the failure will only occur on the first call for any particular value of the metric type, and I just want to make sure.

[2017-07-26 21:47] sundewei commented on #2066
The metricType is the same throughout my calls...

Thanks,

Dewei

On Wed, Jul 26, 2017 at 2:45 PM, Garrett Jones <notifications@github.com>
wrote:

--
Dewei

[2017-07-26 21:51] garrettjonesgoogle commented on #2066
@sundewei we have upgraded grpc from 1.2 to 1.4 as of version 0.20.1 - could you update to the latest version (0.20.2) and see if it still happens? (I just want to make sure I don't chase down a bug that doesn't exist any more)

[2017-07-26 22:44] neozwu commented on #2209
Our current approaches to retrieving project/application id fail when using gcloud sdk maven plugin and when application id is not specified in appengine-web.xml.  I have filed an [issue](https://github.com/GoogleCloudPlatform/app-maven-plugin/issues/202) to app-maven-plugin. On a different note, based on appengine runtime contract, both `GCLOUD` (deprecated) and `GOOGLE_CLOUD_PROJECT` Env Vars sh

[2017-07-26 22:51] neozwu commented on #2150
Another report of this problem https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2275. It seems there are more investigations [here](https://groups.google.com/forum/#!msg/google-appengine/2UTg4Eqskyk/PbqYEK3GAAAJ), and it indeed suggests running in requestThread causes this issue.

[2017-07-26 23:28] chanseokoh commented on #2209
This happens regardless of the maven plugin. For example, where and how will you get an application ID if a project doesn't use any build system? In such a case, users will run the local server directly at the command-line (which is what [the Eclipse plugin](https://github.com/GoogleCloudPlatform/google-cloud-eclipse) does, for example.)

I also left some comment in the maven plugin issue: https:/

[2017-07-27 01:55] neozwu commented on #2209
@chanseokoh thank you for your reply on this.  The information (project/application id) is actually there (in gcloud sdk). Since this is a gcloud sdk-based plugin, I thought it would retrieive a project id when running "mvn appengine:run".  I think "mvn appengine:deploy" by default does this - using the project id set by "gcloud init" as the `project` property. What is the design idea behind this

[2017-07-27 02:15] chanseokoh commented on #2209
The Maven plugin is not the only tool that is Cloud SDK-based. For example, the Eclipse plugin and the IntelliJ plugin run "gcloud app deploy" (under the hood) like this:

$ gcloud app deploy app.yaml ... --project &lt;project ID where you want the app to be deployed> ...

As you can see, the project ID does not come from "gcloud init" but from the argument explicitly given. In other words, the pr

[2017-07-27 02:36] chanseokoh commented on #2209
Also, don't forget the case where users don't use any tool (not even gcloud) but directly invoke the dev server at the command-line.

`$ java ... -Dappengine.sdk.root=... -cp .../appengine-tools-api.jar com.google.appengine.tools.development.DevAppServerMain --port=8080 <some app directory>`

We need a solution to avoid the problem in this case too.

[2017-07-27 04:13] neozwu commented on #2275
@jbaldassari One possible workaround is to use executor for Pub/Sub, as mentioned in #2150 . I think when gRPC request is initiated through executor (i.e., not in request thread), GrpcUtils will pick the right threadFactory. My guess is right now it picks requestThreadFactory, and new threads generated by this factory will be scoped to the request. So it will throw NPE.

[2017-07-27 08:50] cmaan commented on #2275
@jbaldassari

There might be a better way, but that's exactly what we currently do

[2017-07-27 13:32] jbaldassari commented on #2275
@neozwu I tried the workaround suggested in #2150, but I'm still getting the same NPE at ```ApiProxyImpl.java:1267```.  Specifically I'm now doing this:

[code]

Am I supposed to be using a normal Java ```ExecutorService``` here, or is there some special way that I need to construct it?

[2017-07-27 13:56] jbaldassari commented on #2275
Update on workaround testing:
* Publish message only in thread created by normal Java ```Executorservice```: NPE at ```ApiProxyImpl.java:1267```
* Create ```PubSubQueuePublisher``` _and_ publish message inside thread created by ```ExecutorService```: No NPE, but it still doesn't work because the AppEngine automatic authentication stuff doesn't work, and I just get an ```UNAUTHENTICATED``` error

[2017-07-27 14:48] jbaldassari commented on #2275
I just tried another workaround which got me past both the ```ApiProxyImpl:1267``` NPE _and_ the ```UNAUTHENTICATED``` error, but now I'm stick again with a ```PERMISSION_DENIED``` error.  What I did was to first obtain App Engine credentials from within an AppEngine request thread, and then I passed those credentials into a ```ExecutorService``` thread to perform the actual RPC.  The trick was to

[2017-07-27 14:57] chanseokoh commented on #2231
AFAIK, `usable-auth-library` is an internal project assigned to gcloud, and there may be a reason that the Cloud SDK team did not enable the DLP API. I know the team cannot enable APIs if the APIs end up charging the internal project.

BTW, The DLP quickstart does not list Cloud SDK as a requirement, and it should work without gcloud installed: https://cloud.google.com/dlp/docs/quickstart-cli. May

[2017-07-27 17:15] garrettjonesgoogle commented on #2118
So I looked at the test runs on the latest commit (with @tcoffee-google 's two fixes), and the gcloud commands still didn't work (project wasn't set). I tried fixing this in a PR, but then I ran against a problem with account not being set.

At this point I just decided to run the commands manually because I want to get a release out. The commands didn't work though, so I had to use a command-line

[2017-07-27 17:48] tcoffee-google commented on #2118
The debug cycle with Travis has been annoying. I'd considered trying to use [`travis-build`](https://github.com/travis-ci/travis-build) to test locally, but it didn't seem worth the trouble.

What happened when you ran the `gcloud` commands? For the other problems, it looks to me like the fix is to set the environment variables in `integration_test_env.sh` at the beginning and do `gcloud auth appl

[2017-07-27 17:53] garrettjonesgoogle commented on #2118
When I ran the `gcloud` commands, it only deleted the first firewall. I think this has to do with handling of newlines in variables. That particular item is probably an easy fix, and maybe is purely due to the script using a different shell than the one I use.

You can't do `gcloud auth application-default login` remotely because that requires browser interaction.

If we replace the current google

[2017-07-27 17:59] tcoffee-google commented on #2118
Probably.

Yes, just realized that.

I was concerned that other resources could end up hitting quota in the same way if Compute ITs are interrupted. Were you thinking we'd just disable the network tests and see how it goes?

[2017-07-27 18:01] garrettjonesgoogle commented on #2118
Yeah, just see how it goes. Other resources have had quota problems in the past, but they haven't shown up again after being fixed. The network quota seems to consistently come back, though.

[2017-07-27 20:54] #2192 closed

[2017-07-27 20:57] neozwu commented on #2118
I agree that we should delete those tests .   Regarding the issue of using `gcloud auth application-default login`,  I think gcloud can get credential from a service account key.json file, which supposedly is silent. I haven't tried it though.

[2017-07-27 21:37] tcoffee-google commented on #2276
@yamennassif could you provide more detail about what API and method you are using? Sample code would be helpful to figure out what may be causing the problem.

[2017-07-27 21:41] tcoffee-google commented on #2265
@ryan-williams just to rule it out, are there any differences in your environment variable settings such as `GCLOUD_PROJECT` or `GOOGLE_APPLICATION_CREDENTIALS`?

[2017-07-27 21:46] tcoffee-google commented on #2270
@bjwatson can you comment on including a feature like this in the Spanner client?

[2017-07-27 21:57] bjwatson commented on #2270
@vkedia What do you think?

[2017-07-27 21:59] tcoffee-google commented on #2272
Looks like we should change [this method](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/313a16ca610b822d750b8c02255fdac985e37b0b/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L330).

[2017-07-27 22:06] tcoffee-google commented on #2274
@joelostlund can you check to make sure the expiration time you're passing is not in the past?

[2017-07-28 03:47] garrettjonesgoogle commented on #1661
I have made a release of google-cloud-java which contains the new stub layers which makes synchronous pull accessible. It is available by using https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/stub/GrpcSubscriberStub.java . I can post an example for how to use it tomorrow, but I thought I would let everyone know it's

[2017-07-28 10:31] TheSkripterDK opened #2289 "Google Translate api ClassNotFoundException/NoClassDefFoundError errors"
Hello so when i try using the google translate api i get this errors

java.lang.ClassNotFoundException: com.google.cloud.ServiceOptions
java.lang.NoClassDefFoundError: com/google/cloud/translate/TranslateOptions
java.lang.NoClassDefFoundError: com/google/cloud/ServiceOptions

i use
google-cloud-translate-1.2.3.jar
![screenshot_18](https://user-images.githubusercontent.com/29629145/28713734-a71513b

[2017-07-28 10:42] yamennassif commented on #2276
@tcoffee-google i am using the example provided here

https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/vision/cloud-client/src/main/java/com/example/vision/Detect.java

detectLabelsGcs

with a small change :
replaced : `ImageSource imgSource = ImageSource.newBuilder().setGcsImageUri(gcsPath).build();`
with : `ImageSource imgSource =ImageSource.newBuilder().setImageUri(gcsPath).

[2017-07-28 14:17] chanseokoh commented on #2209
Have you reached any resolution? I am very curious. If not, please update later when you come up with one. Whatever it will be, I can anticipate many problems as long as the dev server wants to know some project ID. Ideally, the dev server should just not need it.

[2017-07-28 15:06] dargiri opened #2290 "ServiceOptions#getApplicationName() - performance issue"
Dear Google Team,

During our company internal performance testing we found that there are some places for improvement (although it's not critical but very nice to have). Method com.google.cloud.ServiceOptions#getApplicationName() is used with each request (for example from code of method com.google.cloud.datastore.spi.v1.HttpDatastoreRpc#getHttpRequestInitializer() )
. This method is used each ti

[2017-07-28 15:11] garrettjonesgoogle commented on #2290
cc @pongad another perf issue

[2017-07-28 16:21] garrettjonesgoogle commented on #1661
Code sample:

[code]

So I realized when typing up this code sample that it's a little bit awkward for the stub to use the settings class that has the renaming rule applied (i.e. Subscriber -> SubscriptionAdmin). Maybe I should do some more work to add a stub settings layer like so, so that the API methods hidden on the client class can also be hidden on the main settings class:

SubscriptionAdmin

[2017-07-28 16:57] mkrufky commented on #2099
I am seeing this same issue in the golang client client library `cloud.google.com/go/storage` . I believe this issue is cloud-side raher than sdk-side

[2017-07-28 18:24] tcoffee-google commented on #2289
@TheSkripterDK this sounds like a dependency issue --- can you provide more detail about your development environment and the steps you took?

[2017-07-28 20:10] joelostlund commented on #2274
@tcoffee-google yeah it worked, thanks. Must say that this is a little bit confusing this you specify the days from now when you create a dataset and now+the days from now when creating a table.

[2017-07-28 20:10] tcoffee-google commented on #2276
From https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2215, this appears to be a problem with the backend API, which can be worked around by fetching the image data independently.

The issue has been recently [posted on StackOverflow](https://stackoverflow.com/questions/45119587/we-can-not-access-the-url-currently), where it should be picked up by the API team.

[2017-07-28 20:10] #2276 closed

[2017-07-28 20:13] tcoffee-google commented on #2266
@naushad97 per https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2240, could you confirm you're running on a supported architecture for gRPC?

[2017-07-28 20:40] tcoffee-google commented on #2275
@rrch per your https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1752#issuecomment-292677737, is there any update on thread execution in GAE standard?

[2017-07-28 20:58] neozwu commented on #2275
In grpc, it seems it returns `currentRequestThreadFactory` ([link](https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/GrpcUtil.java#L482)), which is from [guava](https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/MoreExecutors.java#L722).  But maybe `backendThreadFactory` should be returned instead ?
/cc @ejona86 @ludoch

[2017-07-28 21:04] tcoffee-google commented on #2099
I was not able to reproduce the problem from @josephui 's example, using random data files of similar size. This suggests to me the problem may be data-dependent.

Per @mkrufky 's https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2099#issuecomment-318707288, I suggest opening an issue [tagging the API on StackOverflow](https://stackoverflow.com/questions/tagged/google-cloud-storage).

[2017-07-28 21:08] tcoffee-google commented on #2274
@joelostlund I agree that in the context of an "expiration time" that is a bit confusing. I'll pass this along to the API team.

[2017-07-28 21:08] #2274 closed

[2017-07-28 23:18] cmaan commented on #2275
@neozwu It seems some shared grpc thread factories are actually decided by classloading side effects. I guess that's the reason why this demo [1] works on GAE j8, while almost every other realistic setup won't.
To replicate the classloading effect on static globals (similar to `GrpcUtil.SHARED_CHANNEL_EXECUTOR`), I've created a small toy project [2].

Regarding `backgroundThreadFactory`, this woul

[2017-07-29 11:32] naushad97 commented on #2266
@tcoffee-google I have run this as simple Java application on Jdk1.7. and 1.8 and on Windows 7 and 10 and. I have not tried on any container like tomcat etc.

[2017-07-29 18:42] dminkovsky commented on #63
Has this been addressed elsewhere? I'm not finding another issue with this topic.

What is currently the best way to stream a file from storage with Netty? As in https://github.com/netty/netty/blob/60250f3795d4082e59df6806dade2966ec583859/example/src/main/java/io/netty/example/http/file/HttpStaticFileServerHandler.java#L188-L202.

[2017-07-29 19:36] dminkovsky commented on #63
The way I have this working now is:

[code]

I send the `HttpChunkedInput` stream through the Netty `ChuckedWriteHandler` writes it out.

I wonder, though: the ReadChannel reader, is it non-blocking?

[2017-07-30 15:33] ryan-williams commented on #2265
@tcoffee-google both of those env vars are empty on both machines :-\ thanks for having a look!

[2017-07-31 00:53] pongad commented on #2290
This looks like https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2234. I thought I fixed this, but apparently not. I'll look into it.

[2017-07-31 09:33] TheSkripterDK commented on #2289
@tcoffee-google I use IntelliJ and i added the code
`Translate translate = TranslateOptions.newBuilder().setApiKey("myKey").build().getService();
        Translation translation = translate.translate("World",
                TranslateOption.sourceLanguage("en"),
                TranslateOption.targetLanguage("da"));

        Bukkit.getLogger().info(translation.getTranslatedText());
        return

[2017-07-31 11:47] Habitats commented on #2241
Acking messages immediately after storing it does not fit in our case, as the Spark processing bit may or may not complete for a number of reasons. I could solve this by republishing failed messages on another topic (original format is lost so I cannot use the same), but this seems like an unnecessary complication.

But, the REST API seems to be working fine, so I'll just stick to that for now.

[2017-07-31 17:15] garrettjonesgoogle commented on #2118
This was fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2285 .

[2017-07-31 17:15] #2118 closed

[2017-07-31 17:18] garrettjonesgoogle commented on #1883
This was implemented in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2267 . If there are problems, we can open a new issue to track it.

[2017-07-31 17:18] #1883 closed

[2017-07-31 18:57] neozwu commented on #2275
@cmaan thank you for your investigation, and your demo project. Let me summarize what I understand, and please feel free to correct me. So it seems

(1) when a Grpc call is initiated in an appengine request, the underlying grpc library will pick up `currentRequestThreadFactory` (by consulting the guava code) for its threading facilities, as demonstrated in your toy project.  This could potentially

[2017-07-31 20:10] jbaldassari commented on #2275
@neozwu sure, I can give you a couple of examples.  First, some context.  We have an interface called ```QueuePublisher``` with two implementations: ```InMemoryQueuePublisher``` and ```PubSubQueuePublisher```.  For local testing we use ```InMemoryQueuePublisher``` which is backed by a simple Java blocking queue, and for deploying to AppEngine we use ```PubSubQueuePublisher```.  The implementation

[2017-07-31 20:23] jabubake commented on #2144
Fixed via #2284

[2017-07-31 20:23] #2144 closed

[2017-07-31 20:35] jabubake commented on #2150
@neozwu :  [Pub/Sub on App engine](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/appengine-pubsub/appengine-java8/pubsub/src/main/java/com/example/appengine/pubsub/) shows submission using an executor

[2017-07-31 22:25] #2290 closed

[2017-07-31 22:26] lesv commented on #2275
Take a look at https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/appengine-java8/gaeinfo (enable TOKEN) and you can get a token using the Metadata server from any thread.

[2017-07-31 22:28] lesv commented on #2275
https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/appengine-java8/gaeinfo/src/main/java/com/example/appengine/standard/GaeInfoServlet.java#L49-L58

and
https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/appengine-java8/gaeinfo/src/main/java/com/example/appengine/standard/GaeInfoServlet.java#L211-L218

[2017-07-31 22:48] jabubake opened #2295 "Make `google-cloud-java` API exception handling easier"
Users should have clear access to exceptions and their status codes in a transport (gRPC/HTTP) agnostic way, so that they may be handled appropriately in the client.

Currently, there is an inconsistent surface.
Libraries like Spanner provide [SpannerException](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerEx

[2017-07-31 23:15] ejona86 commented on #2275
In gRPC, `IS_RESTRICTED_APPENGINE == false` [on GAE Java 8](https://github.com/grpc/grpc-java/blob/883a85e/core/src/main/java/io/grpc/internal/GrpcUtil.java#L60-L62).

[2017-08-01 00:35] neozwu commented on #2275
@ejona86 I'm not very familiar with gRPC codebase, but it seems to me regardless of `IS_RESTRICTED_APPENGINE`, the [threadFactory](https://github.com/grpc/grpc-java/blob/883a85e/core/src/main/java/io/grpc/internal/GrpcUtil.java#L487) will always be `currentRequestThreadFactory` when running in a request thread on GAE J7, or J8 .

[2017-08-01 04:05] theotheradam opened #2296 "Add Support for Specifying Min CPU Platform"
Hi,

I would like to be able to specify the [minimum CPU platform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform) (e.g. Intel Skylake) for a VM, but I don't see where I can specify it. I would expect a method like `setMinCpuPlatform` on `InstanceInfo`. If it is not supported, do you plan on supporting it?

Thanks

[2017-08-01 15:53] ejona86 commented on #2275
@neozwu, ah, you're right. However, `IS_RESTRICTED_APPENGINE` other behavior. gRPC assumes it can have background threads when not restricted and so it [shares threads across requests](https://github.com/grpc/grpc-java/blob/v1.4.0/core/src/main/java/io/grpc/internal/SharedResourceHolder.java#L142).

[2017-08-01 17:08] neozwu commented on #2275
@ejona86 Yes, the restricted behavior for request threads makes sense. However, [`"AppEngine must immediately release shared resources, particularly executors which could retain request-scoped threads which become zombies after the request completes"`](https://github.com/grpc/grpc-java/blob/v1.4.0/core/src/main/java/io/grpc/internal/SharedResourceHolder.java#L143) applies to both GAE J7 and J8. Wh

[2017-08-01 17:46] ejona86 commented on #2275
@neozwu, because GAE Java 8 didn't have that restriction. If it has that restriction, then at some point that changed. At the very least, we know it isn't as restricted as J7 because in J8 you can load binaries where in J7 you couldn't. Is there some documentation that describes the current limitations across all the GAE varieties?

[2017-08-01 20:16] neozwu commented on #2296
Hi @theotheradam , I think this is what you can use: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-compute/src/main/java/com/google/cloud/compute/Instance.java#L169 .

[2017-08-01 20:28] neozwu commented on #2275
@ejona86 :  confirmed with @ifigotin offline, on GAE J8, threads created by `currentRequestThreadFactory` still cannot outlive the request. This behavior is the same on J7 & J8.  So I think at least [here](https://github.com/grpc/grpc-java/blob/v1.4.0/core/src/main/java/io/grpc/internal/SharedResourceHolder.java#L142) the `IS_RESTRICTED_APPENGINE` part should apply to both J7 & J8 (not sure about

[2017-08-01 20:52] lesv commented on #2275
But if you create them as a normal java thread, they will. (at least on Java 8)

[2017-08-01 21:04] tcoffee-google commented on #2289
As I'm away, I'll pass this off to @neozwu who's supporting new issues this week.

[2017-08-01 21:04] neozwu commented on #2275
@lesv exactly, I think that's why using ExectuorService will work - a normal java thread cannot access appengine api, so the underlying [guava code](https://github.com/google/guava/blob/master/guava/src/com/google/common/util/concurrent/MoreExecutors.java#L744) thinks it's not on appengine, and dispatches to gRPC a [defaultThreadFactory](https://github.com/google/guava/blob/master/guava/src/com/go

[2017-08-01 21:05] tcoffee-google commented on #2265
As I'm away, I'll pass this off to @neozwu who's handling new issues this week.

[2017-08-01 21:06] tcoffee-google commented on #2266
As I'm away, I'll pass this off to @neozwu who's handling new issues this week.

[2017-08-01 21:20] neozwu commented on #2289
Hi, @TheSkripterDK,  google-cloud-translate depends on other libs. What build tool do you use ?  You can use maven or gradle to pull in transitive dependency, or you need to put all dependency jars in your classpath.

[2017-08-01 21:24] lesv commented on #2275
Why not use normal threads, and use the metadata server to get tokens?  The ExecutorService really looks bad and isn't easy.

[2017-08-01 21:29] neozwu commented on #2266
@naushad97 can you try add netty-tcnative as a dependency to your project ? This is a recommended way of using GRPC over TLS, and windows should be supported (see [here](https://github.com/grpc/grpc-java/blob/master/SECURITY.md#openssl-statically-linked-netty-tcnative-boringssl-static) for details).

[2017-08-01 22:28] remi commented on #2295
Could you provide code snippets demonstrating the friction currently encountered when handling exceptions?

It would be useful to provide at least 2 samples showing how to currently handle different common exceptions users want to catch. For each snippet, provide a second snippet with your *ideal* interface.

This will really help to define changes the generated exception interface

[2017-08-01 22:37] jabubake commented on #2295
Here is an example on the current friction :
Example : User tries to create a Pub/Sub topic using a topic ID that already exists.
[code]

Currently, the output of
- `e.getStatusCode()` is `com.google.api.gax.grpc.GrpcStatusCode@43e8b753`
- `e.isRetryable()` false
- `e.getMessage()` : io.grpc.StatusRuntimeException: ALREADY_EXISTS: Resource already exists in the project (resource=my-new-topic).

Th

[2017-08-01 22:38] jabubake commented on #2295
@remi I believe the interface correctly exists, its just not been hooked up to deliver the right status codes to the client in case of an API exception.

[2017-08-02 02:06] gyamxxx opened #2297 "How can I set bigquery streaming insert timeout?"
I caused Error.
How can I set timeout (read timeout?)?
[code]

[2017-08-02 09:35] danielkp1234 commented on #2289
@neozwu i use Gradle here is my build.gradle https://pastebin.com/X2hERqRv
i use the build artifact button in IntelliJ i posted above a screenshot of what is in my build artifact

[2017-08-02 09:36] TheSkripterDK commented on #2289
@neozwu i use Gradle here is my build.gradle https://pastebin.com/X2hERqRv
i use the build artifact button in IntelliJ i posted above a screenshot of what is in my build artifact

[2017-08-02 16:55] neozwu commented on #2272
@jonparrot, thank you for pointing this out.  I agree that the current approach is not elegant. But I have some concerns about relying on `gcloud`:
* Google-cloud-java is not supposed to have any dependency on gcloud sdk.
* "Subprocess" may not be feasible when running in some sandbox JVM environment.

[2017-08-02 16:58] jonparrott commented on #2272
In both of those cases the Python library just returns `None` for the project. That's totally fine.

[2017-08-02 16:59] neozwu commented on #2265
@ryan-williams, can you try "gcloud init" to refresh the configs/credentials ?

[2017-08-02 17:04] neozwu commented on #2256
fixed in #2256

[2017-08-02 17:04] #2256 closed

[2017-08-02 17:08] theotheradam commented on #2296
Hi @neozwu, thanks for the quick reply. That method isn't public, so I don't see how I could use it to set the minimum CPU platform. Looks like it is used to set the actual platform that was used when the instance was created.

[2017-08-02 17:16] neozwu commented on #2272
Google-cloud-java checks project-id following a sequence of steps. One step is to check "gcloud sdk project-id". This is different from "calling gcloud sdk to get project-id".

[2017-08-02 17:18] jonparrott commented on #2272
I'm not sure I understand what you mean.

[2017-08-02 17:56] neozwu commented on #2296
@theotheradam , I think you are right - you cannot use it, plus it appears to be used to set actual platform (although the doc suggests one can only set minimum cpu: https://cloud.google.com/compute/docs/cpu-platforms) .

[2017-08-02 19:18] naushad97 commented on #2266
@neozwu I tried by adding dependency -
  <dependency>
      <groupId>io.netty</groupId>
      <artifactId>netty-tcnative-boringssl-static</artifactId>
      <version>2.0.3.Final</version>
    </dependency>
 but still the same issue.

[2017-08-02 20:07] naushad97 commented on #2266
I also added alpn-boot-7.1.0.v20141016.jar (as I am executing on jdk1.7.0_51, OS- Windows 7) in Bootstrap entries (described [here](https://github.com/grpc/grpc-java/blob/master/SECURITY.md#openssl-statically-linked-netty-tcnative-boringssl-static)) and run the application from Eclipse IDE- It is throwing the below error -

[code]
[code]

Java Class - >

[code]
Without alpn-boot-7.1.0.v20141016.ja

[2017-08-02 20:20] hienle-hps commented on #2150
@jabubake Is this Executor usage a temporary workaround or is it the idiomatic recommendation?

[2017-08-02 20:22] jabubake commented on #2150
It is not a workaround or an idiomatic recommendation. Just providing @neozwu the actual code for troubleshooting.

[2017-08-03 15:18] ifigotin opened #2300 "GAE Java8 Standard, BigQuery API throws "Invalid Project Id""
Environment: App Engine Standard Java 8.
In pom.xml I have the following:
<dependency>
  <groupId>com.google.cloud</groupId>
  <artifactId>google-cloud</artifactId>
  <version>0.21.0-alpha</version>
</dependency>
<dependency>
  <groupId>com.google.cloud</groupId>
  <artifactId>google-cloud-bigquery</artifactId>
  <version>0.21.1-beta</version>
</dependency>

My app has this example in a servlet:

[2017-08-03 15:20] ifigotin commented on #2300
I also tried a Logging API example in my Java8 GAE Standard app:
    LoggingOptions options = LoggingOptions.getDefaultInstance();
    try(Logging logging = options.getService()) {
      MetricInfo metricInfo = MetricInfo.newBuilder("test-metric", "severity >= ERROR")
          .setDescription("Log entries with severity higher or equal to ERROR")
          .build();
      logging.create(metricInfo

[2017-08-03 15:35] ifigotin opened #2301 "google-cloud-storage README example is incorrect"
We have the following example:
`Iterator<Bucket> bucketIterator = storage.list().iterateAll();`

However, storage.list().iterateAll() does not return java.util.Iterator<Bucket>, instead
java.lang.Iterable<Bucket> is returned.

Consider changing the example to a 'for' loop, e.g.:
[code]

[2017-08-03 18:06] NagarajP opened #2302 "Reading the logs from StackDriver Logging"
Hi All,

I am using  following dependency to interact with GCP StackDriver Logging.
<dependency>
    <groupId>com.google.cloud</groupId>
    <artifactId>google-cloud-logging</artifactId>
    <version>1.0.1</version>
</dependency>

Java Code:
Page<LogEntry> entries = logging.listLogEntries(EntryListOption.filter(filter));
		    for (LogEntry entry : entries.iterateAll()) {
		      System.out.printl

[2017-08-03 18:36] irwen opened #2303 "Launch GCE instance with GPU support"
Seems like specifying `AcceleratorConfig` is supported in the latest version of _google-api-services-compute_ [version: _v1-rev151-1.22.0_]. Any plans of enabling this SDK to utilize that and launch a GCE instance with _K80_ or P100 GPUs? Thanks.

[2017-08-04 20:08] jbaldassari opened #2305 "CloudStorage: ApiProxy$RPCFailedException: The remote RPC to the application server failed for the call urlfetch.Fetch()."
In a Java 8 flexible environment I'm trying to retrieve a file from cloud storage like this:

[code]

This worked fine for me in the J8 standard environment, but in the flexible environment the ```Storage.get(BlobId)``` call fails with:

[code]

It doesn't say _why_ the ```urlfetch``` call failed, unfortunately.  This was built from a Gradle project with the following dependencies:

[code]

[2017-08-04 20:22] neozwu commented on #2305
It shouldn't call urlfetch. We have logic in our code to dispatch urlfetch only for GAE J7, but normal http transport for GAE J8. I think this logic must have been broken for GAE flex.

[2017-08-04 20:23] ifigotin opened #2306 "Spanner API NPE on Java8 GAE Standard"
I'm using Spanner API from Java8 GAE Standard App's http servlet, and when I try to execute a query in response to a GET request, I see the following exception in the logs, after which my request seem to hang

[code]

The test code I'm using is taken from the Spanner examples:
[code]

[code]

Sample code within http servlet's doGet method:
[code]

I believe the exception is thrown within `dbClient

[2017-08-04 20:25] neozwu commented on #2306
This appears to be the same issue as #2150 and #2275 . We are currently working with grpc-java (https://github.com/grpc/grpc-java/issues/3296) to investigate the root cause.

[2017-08-04 21:13] jabubake commented on #2306
@ifigotin : we do have a sample here that works, please let me know if you run into issues with it : https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/appengine-java8/spanner

[2017-08-04 21:29] kuroneko25 commented on #1331
So if we want to shade ourselves what is the best example that we can look at? What are the artifacts/classes that need to be shaded? (we use maven)

[2017-08-04 21:36] ifigotin commented on #2306
@jabubake
I tried the example, and after fixing the permissions, it didn't work for me. I.e. my requests just hanged.
I also tried an individual task, 'createDatabase'.

[2017-08-04 23:20] garrettjonesgoogle opened #2307 "Create BOM for google-cloud-java"
Example BOM:

https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-dependencies/pom.xml

Here is how Spring Cloud uses the BOM for their dependencies:

https://spring.io/blog/2016/09/26/spring-cloud-camden-release-and-brixton-sr6-are-available

The work for us is the following:

1. Extract dependencyManagement and pluginManagement to a dedicated pom.xml (e.g., artifact: go

[2017-08-04 23:21] garrettjonesgoogle commented on #1780
Closing out this issue - filed a new issue to introduce a BOM: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2307

[2017-08-04 23:21] #1780 closed

[2017-08-04 23:31] saturnism commented on #2307
@meltsufin @joaoandremartins who's implemented for spring-cloud-gcp

[2017-08-05 20:59] esanchezros opened #2308 "Provide a way to create a TableDefinition from a schema file"
It would be useful to have a way to create a TableDefinition from a schema file. For example something like:

[code]

[2017-08-06 07:30] JoshuaFox opened #2309 "Datastore Cloud Emulator refuses connections"
Running unit tests from Maven, my code starts `DatastoreCloudOnTestHelper`. All connections to the Datastore emulator are refused. Stacktrace below.

Notes:
- Everything works OK when running tests from TestNG plugin in Eclipse.
-- Using detailed logs in the Google Cloud code, I learned that the reason is this: In Eclipse, `GcloudEmulatorRunner`  silently fails to start, so that the test-helper fa

[2017-08-07 14:54] NagarajP opened #2310 "java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured."
Hi,

I am trying to read the content of StackDriver Logging . It is standalone java program.

However getting the following exception:

java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured.
	at com.google.cloud.logging.LoggingOptions$DefaultLoggingRpcFactory.create(LoggingOptions.java:66)
	at com.google.cloud.logging.LoggingOptions$DefaultLoggingRpcFactory.create(Log

[2017-08-07 16:12] garrettjonesgoogle commented on #2302
Could you provide your dependency tree? (If you are running maven, run `mvn dependency:tree`). I suspect that you are using a version of Guava that is too old.

[2017-08-07 16:25] garrettjonesgoogle commented on #2249
I have renamed the issue to reflect the current status.

[2017-08-07 16:29] garrettjonesgoogle commented on #2240
There is not a known way to do this, unfortunately.

[2017-08-07 16:39] garrettjonesgoogle commented on #1536
@tswast , https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1883 has been resolved.

[2017-08-07 17:06] frankyn commented on #2107
@garrettjonesgoogle is this being prioritized this quarter?

[2017-08-07 17:24] garrettjonesgoogle commented on #2107
@frankyn i'm not sure if you are asking whether we will decide on the prioritization this quarter (maybe) or whether we are scheduling it for this quarter (not yet).

[2017-08-07 17:26] vam-google commented on #2301
Documentation updated, closing.

[2017-08-07 17:26] #2301 closed

[2017-08-07 17:31] frankyn commented on #2107
I mean, is it scheduled for this quarter. This issue will help the developer experience when using the Java Client library to download a blob. Thanks @garrettjonesgoogle

[2017-08-07 18:32] vam-google commented on #2297
The `HttpTransportOptions` class allows to set read and connect timeouts. Please check [RemoteBigQueryHelper](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/testing/RemoteBigQueryHelper.java#L117) code of an example how it can be done:

[code]

Please let us know if it resolves your issue.

[2017-08-07 18:34] saturnism commented on #2076
encountered this issue myself

[2017-08-07 18:47] vam-google commented on #2181
Hi @lesv, do you have any update on this (i.e.whic operations are involved)?

[2017-08-07 19:01] vam-google commented on #2243
It seem like the request times out because the blob is big and it takes a lot of time to transfer it. I believe copying within the same bucket consumes less resources, is faster on the backend an that is why the request does not timeout.

Please try to increase timeout limit (20000 milliseconds is the default one) and execute the operation again. The [RemoteStorageHelper](https://github.com/Google

[2017-08-07 19:24] NagarajP commented on #2302
Thanks for your response @garrettjonesgoogle .
Here is the dependency tree from my app

`
C:\mycompany\SourceCode\GoogleStackDriver\StackDriver>mvn dependency:tree
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building StackDriver 1.0-SNAPSHOT
[INFO] ---------------------------------------------------------------------

[2017-08-07 19:31] vkedia commented on #2270
@bullet-tooth You can always invoke the mapper yourself on the returned Structs. So I am not convinced that adding this shortcut gives that much value.

[2017-08-07 20:18] garrettjonesgoogle commented on #2187
@lesv : what about auto-generated clients? We don't have these descriptions in config anywhere, so we'd have to add it upstream and regenerate.

[2017-08-07 20:38] lesv commented on #2187
Yes - I think that's what we should do.  Ideally we can ask that the eng's do that in their Proto's. (or some config file)

[2017-08-07 20:48] garrettjonesgoogle commented on #2302
This is honestly a little perplexing - you seem to have the minimum version of Guava required for the missing method (which is 18.0, you have 19.0) . Can you check what version of Guava you're actually loading in your VM somehow?

Also, you are a few versions behind - maybe consider upgrading to 1.3.1 of google-cloud-logging.

[2017-08-07 20:55] garrettjonesgoogle commented on #2141
No response from the issue filer (after 3 weeks), so I'm going to close this out. I am going to consolidate issues related to the Jetty ALPN/NPN error in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2266 .

[2017-08-07 20:55] #2141 closed

[2017-08-07 20:57] garrettjonesgoogle commented on #2310
This is likely the same issue as https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2266 . I'm closing out the present issue; follow in #2266 .

[2017-08-07 20:57] #2310 closed

[2017-08-07 20:59] garrettjonesgoogle commented on #2266
@NagarajP , your pom declares a dependency on `2.0.5.Final` of netty-tcnative-boringssl-static , could you try `2.0.3.Final` instead to match grpc 1.4's dependency exactly?

[2017-08-07 21:14] NagarajP commented on #2302
Thanks for your comments @garrettjonesgoogle . When i upgrade google-cloud-logging version to 1.3.1, then ending up with "java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured." problem #2310  ( Now I noticed your comments also that it is duplicate of #2266. As per your suggestion , changed the version number of netty-tcnative-boringssl-static -2.0.3.Final, still same

[2017-08-07 21:55] garrettjonesgoogle commented on #2302
Well I think you have indeed ended up in the same state as https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2266 , so I'm going to close this out and direct you over there so that we can track the resolution in one place.

[2017-08-07 21:55] #2302 closed

[2017-08-07 22:36] lesv commented on #2181
I will forward you the conversation.

[2017-08-07 22:48] garrettjonesgoogle commented on #2240
I am going to add a special comment about Raspberry in the README (since this has been asked more than once), then I'll close out this issue. Sorry that we can't be of more help in the near future!

[2017-08-07 22:50] neozwu commented on #2150
This problem is also reported in #2275 (Pub/Sub API) and #2306 (Spanner API).  I'm going to close this issue and use #2275 to update status.

[2017-08-07 22:50] #2150 closed

[2017-08-07 22:52] neozwu commented on #2306
This appears to be the same issue as in #2275. I'm closing this one and update the status in #2275.

[2017-08-07 22:52] #2306 closed

[2017-08-07 23:10] jabubake commented on #2306
@neozwu : this issue was resolved, FYI : Spanner does work fine on App Engine Standard J8

[2017-08-07 23:21] garrettjonesgoogle commented on #2196
In version 0.21.0-beta of google-cloud-bigquery, I fixed the set of versions pulled in, and added `<requireUpperBoundDeps/>` to our own repo, so this should be fixed now.

[2017-08-07 23:21] #2196 closed

[2017-08-07 23:43] garrettjonesgoogle commented on #2240
Note added to the README, so closing this issue now.

[2017-08-07 23:43] #2240 closed

[2017-08-07 23:52] garrettjonesgoogle commented on #1881
I have updated the README to note that Raspberry Pi is not supported. Closing out this issue.

[2017-08-07 23:52] #1881 closed

[2017-08-07 23:54] garrettjonesgoogle commented on #1836
No response from issue filer, so I'm closing this out. We are currently tracking issues with making calls in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2266 - please follow along there if you are still having problems.

[2017-08-07 23:54] #1836 closed

[2017-08-07 23:59] garrettjonesgoogle commented on #1462
No response after 3 weeks, so I'm going to close this out. Please re-open if you get a chance to try again, and there are still problems.

[2017-08-07 23:59] #1462 closed

[2017-08-08 00:01] garrettjonesgoogle commented on #1369
So I understand the value of this, but in practice, even dates we broadcast internally don't always stick. I'm going to close out this issue now - sorry that we can't be more helpful w.r.t. this!

[2017-08-08 00:01] #1369 closed

[2017-08-08 00:03] garrettjonesgoogle commented on #1305
We are tracking requests to support new APIs internally now. Closing this out.

[2017-08-08 00:03] #1305 closed

[2017-08-08 01:37] ericandrewschmidt commented on #1788
I'd like you to reconsider re-opening to  specifically upgrade your **Apache HTTP client reference**. 4.0.1 is 8 years old.  This is stomping over the latest version  of the client which includes URIBuilder which is a super common reference.  Help prevent dependency hell in maven :-)

     <dependency>
            <groupId>org.apache.httpcomponents</groupId>
            <artifactId>httpclient</art

[2017-08-08 01:50] gyamxxx commented on #2297
@vam-google
Thanks you very much !
It fixed the exception, but new exception was happened like this...
[code]
My code is:
[code]

[2017-08-08 04:11] ericandrewschmidt opened #2315 "JVM Hangs on gRPC if you don't close Spanner Object"
I ran across a path with the Java Spanner client that if you create several Spanner instances and do not explicitly close them the JVM will hang (it will not terminate it's process after code execution).

To reproduce the behavior create an object that wraps Spanner creation. Create the object several times in a loop. Then execute some additional code.

You can see the hanging wait on KQueueArrayW

[2017-08-08 04:51] ifigotin commented on #2306
Regarding the Spanner issue, the issue is not fully resolved yet. At least, the example I tried did not work in standard app engine app (no GAE for businesses). It may be a different issue though, because I don't see the exact exception.

The other example that @jabubake provided did work for me.

[2017-08-08 07:26] RedShift1 commented on #1751
@pongad Code sample doesn't work. "defaultChannelProviderBuilder" method on TopicAdminSettings doesn't exist (using version 0.21.1-alpha).

[2017-08-08 14:22] garrettjonesgoogle commented on #1788
@ericandrewschmidt , the Apache HTTP version is unrelated to the present issue (trimming dependencies) - could you file a new issue?

[2017-08-08 15:42] NagarajP commented on #2266
@garrettjonesgoogle , even after changing the version ( from 2.0.5.Final to 2.0.3.Final), still i am getting the same error. Please find below. Thanks.

[code]

[2017-08-08 16:16] lesv opened #2316 "MVM GAE Compat -> Flex conversion Datastore w/ Objectify faster than g-c-j API's"
Customer is doing a single read:
* Task: read 20,000+ entities
* Using Objectify on MVM-Java-Compat: 6 seconds to fetch (old api's)
* Using google-cloud-storage on Flex: 40 seconds to fetch

[2017-08-08 18:22] garrettjonesgoogle commented on #2076
It turns out that `encoding_type` affects offsets in the output, but AnalyzeSentiment currently doesn't populate any offsets in the response. So while this is obviously a gap, it doesn't mean that any functionality is actually impeded. Consequently, downgrading to P2+.

We can keep discussing the automated logic necessary to populate `encodingType` in googleapis/googleapis#348 .

[2017-08-08 18:52] vam-google commented on #2307
`google-cloud-pom ` itself can be used as BOM. Added documentation in main README.md about how it can be done. Closing this issue.

[2017-08-08 19:06] #2249 closed

[2017-08-08 19:08] vam-google commented on #2297
This must be authentication related issue now. Are you sure that you are using a valid json service account key? Which `httpTransportFactory` are you using in this example (`ProductionHttpTransportFactory` looks like an external class)? Please check [Authentication](https://github.com/GoogleCloudPlatform/google-cloud-java#authentication) section and try other ways of authentication. If other ways

[2017-08-08 19:14] vscatarino commented on #2240
thanks!

[2017-08-08 19:22] jabubake opened #2319 "Create README files for all APIs"
Few that I found :

- https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-dep-verification
- https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-trace

[2017-08-08 21:24] jabubake opened #2321 "DLP should use default Java `java.awt.Color` class and not redefine a `Color` class with limited functionalities"
[code]

`setRedactionColor` takes in a custom `com.google.privacy.dlp.v2beta1.Color.class` : requiring the use of builders to set RGB values :
This is a painful user experience.

[2017-08-08 23:53] #1895 closed

[2017-08-09 01:44] gyamxxx commented on #2297
oops, ```ProductionHttpTransportFactory ``` is:
[code]

[2017-08-09 03:18] pongad commented on #1751
Ah! It looks like the gax-http refactoring broke us. The following code should work now though.

[code]

We should probably put this in an example Java file somewhere so it actually gets compile checked.
@garrettjonesgoogle I have my hands a little full on Go fixit week. Could someone on Java fixit pick this up? If not, I can loop back to this a little later.

[2017-08-09 04:43] saicheems commented on #2224
So... this is a change to the templates in toolkit?

Is changing the sample you linked to from

[code]
to
[code]
enough to resolve this?

[2017-08-09 09:31] mrunesson commented on #2066
I get this error in 0.21.1-alpha too:

[code]

My class for sending metrics looks like this:
[code]

[2017-08-09 14:18] garrettjonesgoogle opened #2322 "Add code sample to Publisher for customizing credentials"
This should work:

[code]

[2017-08-09 14:18] garrettjonesgoogle commented on #1751
We shouldn't keep reopening old issues whenever there are breaking changes with the code in them. I have opened a new issue https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2322 to add a sample for this use case. Closing the present issue.

[2017-08-09 14:18] #1751 closed

[2017-08-09 14:26] NagarajP commented on #2266
Hi @garrettjonesgoogle ,  Any updated resolution for this issue? Thanks

[2017-08-09 14:37] garrettjonesgoogle commented on #2224
That won't work, because the Builder for https://github.com/googleapis/gax-java/blob/master/gax-grpc/src/main/java/com/google/api/gax/grpc/GrpcTransportProvider.java doesn't have a `setEndpoint` method.

And anyway, since setting credentials and setting endpoints are somewhat independent, I might like to have both as self-contained samples.

[2017-08-09 16:17] garrettjonesgoogle commented on #2266
@naushad97 , @scraly , @pupimvictor , @jonathanbl - all of you have filed issues (one of them the present one) related to this issue. I have bootstrapped a compatibility checker:

https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-util/google-cloud-compat-checker

Please run it and paste the output here. This will tell me which of you still need more investigation fo

[2017-08-09 16:18] garrettjonesgoogle commented on #2266
Oh and @NagarajP also, please try the compatibility checker.

[2017-08-09 16:18] saicheems commented on #1689
So I can see where the issue is...

2 things:

1. What's the expected result? What should the client do if it gets a response with `errors` but no `jobReference` field?
2. Is there a query on a public dataset that replicates this issue?

[2017-08-09 16:42] #2201 closed

[2017-08-09 17:07] vam-google commented on #2297
You are using proxy in your configuration and I believe the exceptions you encounter are related to that. It is hard to tell more as there is too many unknown things:

1) your lib versions,
2) the actual proxy you are using and its configuration (honestly, I'm not even sure that using proxies is supported)
3) the request you are trying to make
4) the https.protocols you are using
5) have you ensur

[2017-08-09 18:28] NagarajP commented on #2266
Hi @garrettjonesgoogle , Please find the required info from my machine:

OS details:
  os.detected.name: windows
  os.detected.arch: x86_64
  os.detected.classifier: windows-x86_64
  os.detected.release: null
  os.detected.release.version: null
Checking compatibility...
  This OS + architecture is supported by Forked Tomcat Native.
Result: UNKNOWN (checker implementation not complete)

[2017-08-09 18:35] garrettjonesgoogle commented on #2224
This can't be closed until the clients have been regenerated.

[2017-08-09 18:47] vam-google commented on #2098
@Dima1224, thanks for your investigation! If you still have it, can you please post the actual response you got from the server (that one with "test/html" content-type), and, ideally, the corresponsing request.

[2017-08-09 18:57] Dima1224 commented on #2098
@vam-google - sorry but I don't have those details anymore, nor do I have the setup I used to reproduce this issue. At a high level, I simply made requests to GCS in an infinite loop, set a few breakpoints, and waited for an error. Hope this helps!

[2017-08-09 20:29] danoscarmike commented on #1370
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog.  This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 20:29] #1370 closed

[2017-08-09 20:31] danoscarmike commented on #1486
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 20:31] #1486 closed

[2017-08-09 20:31] omaray commented on #2236
Hello @nalbion . Thanks for using the Speech API. I'm the PM for the SDKs and I would love to ask you a couple of questions. Would you be willing to chat offline?

[2017-08-09 20:59] danoscarmike commented on #753
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 20:59] #753 closed

[2017-08-09 21:04] danoscarmike commented on #1209
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 21:04] #1209 closed

[2017-08-09 21:10] danoscarmike commented on #1190
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 21:10] #1190 closed

[2017-08-09 21:25] danoscarmike commented on #1064
Thank you for filing this issue. We asked some clarifying questions a week or more ago and never heard back from you. We are unable to proceed with this issue until then, so we are closing it. Please feel free to re-open this issue with more information.

[2017-08-09 21:25] #1064 closed

[2017-08-09 21:28] danoscarmike commented on #920
This issue may no longer be relevant due to its age. Feel free to re-open.

[2017-08-09 21:28] #920 closed

[2017-08-09 21:33] danoscarmike commented on #1458
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 21:33] #1458 closed

[2017-08-09 21:35] danoscarmike commented on #1265
@lesv @bjwatson any action remaining to be taken here?

[2017-08-09 21:37] danoscarmike commented on #1130
@jabubake is this being actively worked on or still in 'nice-to-have' bucket?  If latter, I'd like to move to our feature backlog and close this issue.  Thanks!

[2017-08-09 21:41] danoscarmike commented on #1420
@BrandonY, as we are tracking all GCS feature requests internally I will add it to the feature backlog page in the repo wiki: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 21:41] #1420 closed

[2017-08-09 21:42] jabubake commented on #1130
@danoscarmike : 'nice-to-have'

[2017-08-09 21:46] danoscarmike commented on #1357
@garrettjonesgoogle have you had a chance to check if Go can achieve this compatibility why Java cannot?

[2017-08-09 21:49] danoscarmike commented on #1130
Thanks @jabubake!

This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 21:49] #1130 closed

[2017-08-09 22:01] danoscarmike commented on #1232
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 22:01] #1232 closed

[2017-08-09 22:03] danoscarmike commented on #1061
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 22:03] #1061 closed

[2017-08-09 22:09] danoscarmike commented on #810
This issue may no longer be relevant due to its age.  If you are still experiencing this issue and are reasonably certain that it is a bug, please feel free to re-open this it with enough information to help us reproduce it.

[2017-08-09 22:09] #810 closed

[2017-08-09 22:09] danoscarmike commented on #811
This issue may no longer be relevant due to its age.  If you are still experiencing this issue and are reasonably certain that it is a bug, please feel free to re-open this it with enough information to help us reproduce it.

[2017-08-09 22:09] #811 closed

[2017-08-09 22:09] danoscarmike commented on #809
This issue may no longer be relevant due to its age.  If you are still experiencing this issue and are reasonably certain that it is a bug, please feel free to re-open this it with enough information to help us reproduce it.

[2017-08-09 22:09] #809 closed

[2017-08-09 22:11] danoscarmike commented on #792
This issue may no longer be relevant due to its age.  If you are still experiencing this issue and are reasonably certain that it is a bug, please feel free to re-open this it with enough information to help us reproduce it.

[2017-08-09 22:11] #792 closed

[2017-08-09 22:13] danoscarmike commented on #695
This issue may no longer be relevant due to its age.  If you are still experiencing this issue and are reasonably certain that it is a bug, please feel free to re-open this it with enough information to help us reproduce it.

[2017-08-09 22:13] #695 closed

[2017-08-09 22:13] danoscarmike commented on #693
This issue may no longer be relevant due to its age.  If you are still experiencing this issue and are reasonably certain that it is a bug, please feel free to re-open this it with enough information to help us reproduce it.

[2017-08-09 22:13] #693 closed

[2017-08-09 22:20] Horneth commented on #1343
@jean-philippe-martin that does work, the problem is now that it's not possible to get back a gcs path as a `String` (`gs://bucket_with_underscore/myfile.txt`) from this path using `toUri`, indeed it is not a valid URI because of the underscore in the bucket..
Any idea how to work around that ?
It seems like some kind of `toGcsString` method would be very useful to be able to roundtrip `gs://bucke

[2017-08-09 22:20] danoscarmike commented on #677
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 22:20] #677 closed

[2017-08-09 22:23] danoscarmike commented on #683
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 22:23] #683 closed

[2017-08-09 22:23] danoscarmike commented on #662
This issue may no longer be relevant due to its age.  If you are still experiencing this issue and are reasonably certain that it is a bug, please feel free to re-open this it with enough information to help us reproduce it.

[2017-08-09 22:23] #662 closed

[2017-08-09 22:24] danoscarmike commented on #608
This issue may no longer be relevant due to its age.  If you are still experiencing this issue and are reasonably certain that it is a bug, please feel free to re-open this it with enough information to help us reproduce it.

[2017-08-09 22:24] #608 closed

[2017-08-09 22:27] danoscarmike commented on #531
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 22:27] #531 closed

[2017-08-09 22:34] danoscarmike commented on #493
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-09 22:35] danoscarmike commented on #470
This issue may no longer be relevant due to its age.  If you are still experiencing this issue and are reasonably certain that it is a bug, please feel free to re-open this it with enough information to help us reproduce it.

[2017-08-09 22:35] #470 closed

[2017-08-09 22:43] bjwatson commented on #1265
Documenting in http://googlecloudplatform.github.io/google-cloud-java/0.3.0/apidocs/com/google/cloud/bigquery/BigQuery.DatasetOption.html the options that @lesv itemized in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1265#issuecomment-283158294 would be sufficient.

[2017-08-10 00:24] garrettjonesgoogle commented on #1357
Theoretically Java could, it would just require duplicating code instead of reusing it.

[2017-08-10 02:10] gyamxxx commented on #2297
1. ```com.google.cloud:google-cloud-bigquery:0.21.1-beta```
 2. I can't confirm proxy setting, but I know this proxy is Apache HTTP server.
 3. streaming insert. It retry succeeded to send data when this error was occured.
 4. I don't know how to check https.protocols.
 5. I confirmed that service account json file(using for ```Files.newInputStream(path)```) of the GCP IAM page exists.

Timeout pr

[2017-08-10 16:46] garrettjonesgoogle opened #2326 "Spanner integration tests failing with internal error "Invalid query plan""
See https://ci.appveyor.com/project/googlejavacloud/google-cloud-java-v0gf7/build/682#L5892

Two tests failed - `analyzePlan` and `analyzeProfile`. The trace for `analyzeProfile` is below.

[code]

cc @vkedia

[2017-08-10 16:54] #1588 closed

[2017-08-10 18:53] garrettjonesgoogle commented on #525
I have verified it by writing a new integration test in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2328 .

Closing this issue now.

[2017-08-10 18:53] #525 closed

[2017-08-10 20:31] garrettjonesgoogle commented on #2326
Tests turned off in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2327 - resolving this issue now.

[2017-08-10 20:31] #2326 closed

[2017-08-10 20:40] garrettjonesgoogle commented on #1890
No response from filer, so closing this out. Please re-open if you still need a resolution to this problem.

[2017-08-10 20:40] #1890 closed

[2017-08-10 20:42] garrettjonesgoogle commented on #466
Closing stale issue

[2017-08-10 20:42] #466 closed

[2017-08-10 20:52] garrettjonesgoogle commented on #2042
Closing out because the requester has not provided the extra details necessary to investigate this problem, and also this is a "toy" problem (publishing the current time in a tight loop).

[2017-08-10 20:52] #2042 closed

[2017-08-10 20:55] garrettjonesgoogle commented on #2266
I am working on getting a Windows machine procured in order to investigate. @NagarajP , which version of Windows exactly are you using?

In the meantime, are any other requesters able to provide the compat-checker output for their environments?

[2017-08-10 20:57] garrettjonesgoogle commented on #2265
The requester hasn't responded in a week, and the last correspondence implies the issue is fixed for them. Closing this out; please re-open if I interpreted incorrectly.

[2017-08-10 20:57] #2265 closed

[2017-08-10 21:09] garrettjonesgoogle commented on #1537
@elharo Do we know that the encoding of the configuration files will always be the same?

[2017-08-10 21:09] NagarajP commented on #2266
Hi @garrettjonesgoogle , it is windows 7 Enterprise Service Pack 1. It is just my development environment. My production environment is Google Cloud Platform, most likely  OS will be Ubuntu.  if you feel that, this code work in Mac, i can test there also. Thanks.

[2017-08-10 21:11] garrettjonesgoogle commented on #2266
This code should work on Ubuntu & Mac. For that matter, it should work on Windows too - I have no idea if it is because you're on Windows 7 and not Windows 10.

[2017-08-10 21:12] garrettjonesgoogle commented on #2315
We may creating non-daemon threads somewhere.

[2017-08-10 21:14] garrettjonesgoogle commented on #2321
This this defined at a language-independent level (proto), this isn't surprising to me. Would it be sufficient to provide a converter utility method?

[2017-08-10 21:20] garrettjonesgoogle commented on #2289
@TheSkripterDK , one example dependency that @neozwu means is com.google.cloud:google-cloud-core:0.20.3-alpha . This dependency should automatically be cached by gradle when you do a gradle build. It will not be part of the google-cloud-translate jar. If you only add the google-cloud-translate jar, you will be missing google-cloud-core, along with many other jars. You have to add the entire set of

[2017-08-10 21:23] garrettjonesgoogle commented on #2272
I think it's preferable to not execute other processes from google-cloud-java. @jonparrott why is it necessary to make this change?

[2017-08-10 21:24] jabubake commented on #2321
I guess that would suffice

[2017-08-10 21:25] garrettjonesgoogle commented on #2222
We are handling requests for supporting additional APIs with an internal mechanism. Closing out this issue.

[2017-08-10 21:25] #2222 closed

[2017-08-10 21:27] garrettjonesgoogle commented on #2149
No response from requester, so closing this out. Feel free to re-open if there is still a problem.

[2017-08-10 21:27] #2149 closed

[2017-08-10 21:29] elharo commented on #1537
The problem is that you can't assume it is the native encoding of the platform. I.e. there is no guarantee that FileReader() does the right thing.

You'd have to ask gcloud what file encoding they use.

[2017-08-10 21:34] garrettjonesgoogle commented on #2094
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 21:34] #2094 closed

[2017-08-10 21:36] garrettjonesgoogle commented on #2068
Given that there is no more activity on this issue and the actual problem seems to have gone away, I'm going to close this out.

[2017-08-10 21:36] #2068 closed

[2017-08-10 21:41] vam-google commented on #2297
Yes, feel free to open a new issue (putting a ling to this one). Closing this issue as resolved. If you choose to open a new issue, please clarify if you always receive this SSL error, or only sometimes (i.e. is it sporadic or no). If it is sporadic, I suspect the actual proxy you are using may be the problem, not the bigquery service or the client libraries.

[2017-08-10 21:41] #2297 closed

[2017-08-10 21:45] garrettjonesgoogle commented on #2043
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 21:45] #2043 closed

[2017-08-10 21:49] garrettjonesgoogle commented on #2091
@ykchen-g will you have an unbounded number of clients, or a more limited set of clients? If it's unbounded, I don't know if there's much you can do. If it's limited, couldn't you create a mapping of caller -> spanner client and keep them around?

[2017-08-10 21:51] garrettjonesgoogle commented on #2148
Closing this out since @tswast is tracking it on his own backlog.

[2017-08-10 21:51] #2148 closed

[2017-08-10 22:02] garrettjonesgoogle commented on #2084
@saturnism , #1 still implies doing process control, and lifecycle issues around starting and stopping the emulator. @pongad 's recommended solution of starting and stopping the emulator in a shell script that also invokes the tests gives the users the control they need.

[2017-08-10 22:08] garrettjonesgoogle commented on #2080
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 22:08] #2080 closed

[2017-08-10 22:08] jonparrott commented on #2272
Because gcloud's configuration files are considered implementation details and are not subject to any deprecation policy - essentially, reading them is dangerous as there's no guarantee they'll be there or in the format you expect. `gcloud config config-helper` is a GA surface and is subject to their deprecation policy. It's also what they told us to use. :)

[2017-08-10 22:10] garrettjonesgoogle commented on #1892
This was incidentally completed as part of https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2323 .

[2017-08-10 22:10] #1892 closed

[2017-08-10 22:16] garrettjonesgoogle commented on #1689
Downgrading to P2 because this issue is hard to reproduce.

[2017-08-10 22:34] garrettjonesgoogle commented on #1679
Since we aren't blocking anything on this any more, I'm going to close it out, since the real resolution will be tracked on https://github.com/google/google-auth-library-java/issues/89 itself.

[2017-08-10 22:34] #1679 closed

[2017-08-10 22:37] garrettjonesgoogle commented on #1646
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 22:37] #1646 closed

[2017-08-10 22:39] garrettjonesgoogle commented on #1628
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 22:39] #1628 closed

[2017-08-10 22:42] garrettjonesgoogle commented on #1612
Closing out - see the Stack Overflow question.

[2017-08-10 22:42] #1612 closed

[2017-08-10 22:46] garrettjonesgoogle commented on #1439
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 22:46] #1439 closed

[2017-08-10 22:51] garrettjonesgoogle commented on #1542
I'm going to close this out - I don't see any external demand here; if we feel we need to implement this later, we can track it differently.

[2017-08-10 22:51] #1542 closed

[2017-08-10 22:56] garrettjonesgoogle commented on #1440
Closing this out because the compose operation is supported in google-cloud-storage.

[2017-08-10 22:56] #1440 closed

[2017-08-10 23:01] garrettjonesgoogle commented on #469
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog. This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion .

Special note: even if the listed issues are "closed", that doesn't mean that they got implemented, so they would need to be individually checked.

[2017-08-10 23:01] #469 closed

[2017-08-10 23:02] garrettjonesgoogle commented on #468
Closing because https://github.com/GoogleCloudPlatform/google-cloud-java/issues/469 is being tracked on the backlog instead of in an open issue.

[2017-08-10 23:02] #468 closed

[2017-08-10 23:08] garrettjonesgoogle commented on #353
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 23:08] #353 closed

[2017-08-10 23:24] garrettjonesgoogle commented on #660
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 23:24] #660 closed

[2017-08-10 23:27] garrettjonesgoogle commented on #2231
We need to update the error we are seeing about the project project usable-auth-library, and guide people to use service account credentials instead.

[2017-08-10 23:36] vam-google commented on #2243
Closing as there was no response for 3 days. Hopefully increasing the timeout helps. If no, please feel free to reopen the issue.

[2017-08-10 23:36] #2243 closed

[2017-08-10 23:44] garrettjonesgoogle commented on #2182
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 23:44] #2182 closed

[2017-08-10 23:49] garrettjonesgoogle commented on #2142
@neozwu there are two tasks in here: 1) GAE, 2) GCE. Could you split this apart?

[2017-08-10 23:53] garrettjonesgoogle commented on #2063
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-10 23:53] #2063 closed

[2017-08-10 23:57] garrettjonesgoogle commented on #2057
@meltsufin It isn't clear to me - is the requested functionality supported?

[2017-08-11 00:01] garrettjonesgoogle commented on #2024
It's not clear what this request is for currently. Our current stance is for users of google-cloud-java to start emulators themselves, and then customize the API clients in google-cloud-java to use the running emulator instead of the real service. What else is needed?

[2017-08-11 00:07] garrettjonesgoogle commented on #2018
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 00:07] #2018 closed

[2017-08-11 00:08] garrettjonesgoogle commented on #1988
I'm actually going to close this out because it's a subset of #1587 .

[2017-08-11 00:08] #1988 closed

[2017-08-11 00:11] garrettjonesgoogle commented on #1974
@shinfan I think documentation is the best we can do here if we are using a shared type.

[2017-08-11 00:15] garrettjonesgoogle commented on #1763
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 00:15] #1763 closed

[2017-08-11 00:19] garrettjonesgoogle commented on #1676
@jabubake how would we implement the validation? Duplicate the code from the backend?

[2017-08-11 00:22] garrettjonesgoogle commented on #1669
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 00:22] #1669 closed

[2017-08-11 00:25] fkorotkov commented on #2024
The problem I've seen before that `google-cloud-java` stopped working with emulators. It will be nice to make sure changes to `google-cloud-java` are not breaking it ability to talk to emulators.

[2017-08-11 00:29] #2098 closed

[2017-08-11 00:29] fkorotkov commented on #2024
It might be fine to not have them since `google-cloud-java` is getting more and more stable. 🤷‍♂️

[2017-08-11 00:39] seongyeolpark commented on #2266
I got same error message when running the sample "speech" application as a plain java application.
how can I fix this problem? T.T

Exception in thread "main" java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured.
	at io.grpc.netty.GrpcSslContexts.selectApplicationProtocolConfig(GrpcSslContexts.java:174)
	at io.grpc.netty.GrpcSslContexts.configure(GrpcSslContexts.java

[2017-08-11 01:00] vam-google commented on #2090
Please check https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2330 (a duplicate PR, since travis cannot build the original PR).

[2017-08-11 13:33] meltsufin commented on #2057
Yes it's supported now. You can close this issue.

[2017-08-11 13:37] garrettjonesgoogle commented on #2057
Thanks!

[2017-08-11 13:37] #2057 closed

[2017-08-11 14:27] garrettjonesgoogle commented on #2024
We intend on continuing to support the special functionality necessary for emulators (plain text, no credentials). With that, I don't think emulators would generally break. It's a challenge to verify emulators in google-cloud-java because that requires extra dependencies that are problematic (either the python-based gcloud utility, or downloading the emulator from the internet). I think I'll close

[2017-08-11 14:27] #2024 closed

[2017-08-11 15:24] balopat opened #2331 "chatty API"
Why is the python code so much smaller than the Java/C#? We should have similar (small) verbosity on all the platforms. I see no good reason not to create a nice DSL on top of the more verbose builders.

Example:
[python code to read timeseries](https://cloud-dot-devsite.googleplex.com/monitoring/custom-metrics/reading-metrics#monitoring-read-timeseries-fields-python):
[code]
vs
[java code to read

[2017-08-11 15:39] meltsufin commented on #2331
@garrettjonesgoogle @jabubake PTAL

[2017-08-11 15:43] garrettjonesgoogle commented on #2331
@balopat this is a matter of trade-offs. The Python client here has hand-written code to make common tasks easier. The Java client is purely auto-generated with no such helpers. The Python client is more expensive to maintain; the Java client is much cheaper - we just have to regenerate anytime the protos change. So that's the basic reason: available resources to work on it.

[2017-08-11 16:01] vam-google commented on #2090
Merged.

[2017-08-11 16:01] #2090 closed

[2017-08-11 16:04] garrettjonesgoogle commented on #72
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 16:04] #72 closed

[2017-08-11 16:09] garrettjonesgoogle commented on #289
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 16:09] #289 closed

[2017-08-11 16:19] garrettjonesgoogle commented on #319
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 16:19] #319 closed

[2017-08-11 16:42] garrettjonesgoogle commented on #1525
We have a project to prepare BigQuery for GA, and this feature is part of the list (P0 for dataset labels, P2 for table labels). I'm going to close this out and let the feature be tracked internally.

[2017-08-11 16:42] #1525 closed

[2017-08-11 16:46] garrettjonesgoogle commented on #476
I have changed my mind. I am going to close this out and let it be tracked on the all-language issue ( oogleapis/toolkit#331 ).

[2017-08-11 16:46] #476 closed

[2017-08-11 16:57] saturnism commented on #2307
i know it can _also_ be used as a BOM, but it's not necessarily the best practice. I don't feel we should ask people to import from a parent POM.  Parent POM is meant to be the parent of our projects.

[2017-08-11 17:04] jabubake commented on #2331
That being said : I still think its worth thinking of how we could simplify some of the generic statements here, which might be applicable across multiple libraries.

Constructing a resource  `ProjectName` with the projectId : comes up for Pub/Sub as well.
It would be good to users to provide projectId if required, and allow for the generated code to autodetect projectId with `ServiceOptions.getDe

[2017-08-11 17:08] garrettjonesgoogle commented on #1564
I'm going to close this since the requester has stated they don't need it.

[2017-08-11 17:08] #1564 closed

[2017-08-11 17:17] garrettjonesgoogle commented on #1661
I'm going to close this out now that synchronous pull has been exposed. The update to the settings design will be tracked internally.

[2017-08-11 17:17] #1661 closed

[2017-08-11 17:25] garrettjonesgoogle commented on #49
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 17:25] #49 closed

[2017-08-11 17:34] garrettjonesgoogle commented on #216
This issue is a nebulous design issue that I don't think should be tracked in github any more, so I'm going to close it out.

[2017-08-11 17:34] #216 closed

[2017-08-11 17:34] vkedia commented on #2270
I am closing this since I am not convinced of the value of this feature. Please reopen if you disagree.

[2017-08-11 17:34] #2270 closed

[2017-08-11 17:36] garrettjonesgoogle commented on #300
Correction to @lesv 's note - gRPC works on GAE Standard J8, but not J7.

[2017-08-11 17:37] garrettjonesgoogle commented on #300
This is redundant with https://github.com/GoogleCloudPlatform/google-cloud-java/issues/493 , which we have added to https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . Closing this issue out.

[2017-08-11 17:37] #300 closed

[2017-08-11 17:39] vam-google commented on #2093
The corresponding netty memory leak issue https://github.com/netty/netty/issues/6221issue was fixed by https://github.com/netty/netty/pull/6252 and should be present in netty starting from version netty-`4.1.8.Final`. google-cloud-java currently depends on a newer `4.1.11.Final`.

Also specifically the google-cloud-datastore module does not depend on netty libraries anymore (though many other modu

[2017-08-11 17:39] #2093 closed

[2017-08-11 17:40] GabiAxel commented on #216
Where else can this be tracked?

[2017-08-11 17:41] garrettjonesgoogle commented on #350
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 17:41] #350 closed

[2017-08-11 17:47] garrettjonesgoogle commented on #419
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 17:47] #419 closed

[2017-08-11 17:49] garrettjonesgoogle commented on #484
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 17:49] #484 closed

[2017-08-11 17:52] garrettjonesgoogle commented on #216
@GabiAxel is there a specific scenario you are interested in?

[2017-08-11 18:07] balopat commented on #2331
@garrettjonesgoogle thank you for the response. I think that it would be very beneficial to invest into this extra layer:
* we can fine tune for better user experience and achieve greater adoption
* if the protos change, that doesn't necessarily mean that the API has to change! the current way means that introducing a typo change or rename in a proto field will definitely generate breaking changes

[2017-08-11 18:10] GabiAxel commented on #216
I am working on an GAE app with one standard service with Objectify and one flexible service with the Datastore Java library with some of the same Datastore entities, and as far as I understand this is pretty much impossible to do locally.

[2017-08-11 18:17] vam-google commented on #2309
Hi @JoshuaFox, can you be more specific on what you are trying to do?

What is `DatastoreCloudOnTestHelper` class? I cannot find it neither in google-cloud-java nor in its dependencies. Is it from gcloud tool? The only other place I could find DatastoreCloudOnTestHelper on the internet was this other [post](https://groups.google.com/forum/#!topic/gcd-discuss/IPT7tLqgdX0). It mentions in stacktrace

[2017-08-11 18:18] garrettjonesgoogle commented on #2331
* It is true that we can fine tune APIs, but the maintenance burden is 10x that of auto-generated libraries. I'd rather look at what kind of specialized code generation we could do to reduce the pain some, even if it isn't completely solved.
* Our policy is to count proto field renames as breaking changes. API owners need to take that into account and not rename fields after their API has become G

[2017-08-11 18:22] jabubake commented on #2331
@garrettjonesgoogle : I agree, that's why I think its worth investing into efforts that span multiple APIs (possibly @ code generation) : time interval concept should not be so complicated to the end user, user's code should n't have to be littered with project-name based resource objects. See issue on Color [here](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2321).

[2017-08-11 18:40] vam-google commented on #2106
Hello @Burtan, unfortunately the "in-memory" storage configuration for testing does not support many methods. More specifically it does not support:

- bucket create
- bucket get
- bucket delete
- list all buckets
- generations
- file attributes
- patch
- continueRewrite
- createBatch
- checksums, etags
- IAM operations

In your example you are trying execute the create bucket operation, which is

[2017-08-11 18:52] balopat opened #2333 "custom metrics API: simplification suggestion"
Suggestion:

Remove the Metric class and have MetricDescriptor settable on CreateTimeSeriesRequest - or something similar.

Background:

Based on [the user guide](https://cloud.google.com/monitoring/custom-metrics/creating-metrics) to create custom metrics, I have to create a MetricDescriptor:

[code]
Great, now I have a metricDescriptor. What can I do with it? Nothing really.
In order [to write d

[2017-08-11 18:58] balopat commented on #2331
Okay, thanks for the input, I'll try to think about it in automation ways then when I run into inconvenient APIs. I put in another example issue #2333 where the protobuf driven API is a bit confusing for a new user.

[2017-08-11 19:20] garrettjonesgoogle commented on #2331
So with there being two issues now (the present one and #2333 ), what should be the focus of the present one?

[2017-08-11 20:57] garrettjonesgoogle commented on #751
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 20:57] #751 closed

[2017-08-11 20:58] garrettjonesgoogle commented on #958
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 20:58] #958 closed

[2017-08-11 21:02] garrettjonesgoogle commented on #431
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 21:02] #431 closed

[2017-08-11 21:09] vam-google commented on #2106
Updated the documentation. Closing this issue.

[2017-08-11 21:09] #2106 closed

[2017-08-11 21:27] vam-google commented on #2322
The sample is already present in google-cloud-examples module: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/pubsub/snippets/PublisherSnippets.java#L136

[2017-08-11 21:39] #2322 closed

[2017-08-11 23:41] garrettjonesgoogle commented on #924
I'm going to reclassify this as an enhancement. The error returned from a retry isn't technically "wrong", it's just maybe not really what the user would want.

[2017-08-11 23:44] garrettjonesgoogle commented on #924
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 23:44] #924 closed

[2017-08-11 23:47] garrettjonesgoogle commented on #1357
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2017-08-11 23:47] #1357 closed

[2017-08-11 23:53] garrettjonesgoogle commented on #1745
I don't think it's necessary to keep an issue around for this... the code isn't incorrect.

[2017-08-11 23:53] #1745 closed

[2017-08-12 09:39] agsola opened #2339 "Impossible to publish message into a topic (using Google App Engine and Java) using Google PubSub"
I'm trying to make **Google PubSub** work, but it seems impossible.

I'm just trying to publish a message into a topic, with the code quite similar to this one:
https://github.com/GoogleCloudPlatform/java-docs-samples/blob/master/flexible/pubsub/src/main/java/com/example/flexible/pubsub/PubSubPublish.java

Something like this:
[code]

After that, when accessing the Servlet it seems to work.
But I

[2017-08-12 10:52] TheSkripterDK commented on #2289
@garrettjonesgoogle added compile group: 'com.google.cloud', name: 'google-cloud', version: '0.20.3-alpha' to the build.gradle and added the google-cloud-0.20.3-alpha extracted jar to build artifact it still does not work

[2017-08-12 13:43] agsola commented on #2339
A few bits of information.

I'm using standard environment (not flexible) and my pom.xml includes (mainly) appengine, datastore and obviously Google PubSub.

[2017-08-13 11:07] birender-s commented on #1319
I am still getting this error, any update on this thread ? Please advise. Thanks.

[2017-08-13 13:37] JoshuaFox commented on #2309
Nothing special about `gails` -- it is simply an internal library at my company (despite the `org`) prefix.  My mistake in mentioning the `DatastoreCloudOnTestHelper`. That's just our class that launches the emulator and in the stack comes above the stacktrace you see.

[2017-08-13 13:38] JoshuaFox commented on #2309
For both me and my colleage
- Google Cloud SDK 164.0.0
- Apache Maven 3.3.9
- Also
`<dependency>
<groupId>com.google.cloud</groupId>
<artifactId>google-cloud-datastore</artifactId>
<version>1.3.1</version>
</dependency>`
- and this plugin for launching
`<groupId>com.google.cloud.tools</groupId> <artifactId>appengine-maven-plugin</artifactId>`

[2017-08-13 15:02] JoshuaFox commented on #2309
`gcloud 166` just came out. Upgraded and bug still occurs.

Note the difference between `GcloudEmulatorRunner` and  the downloaded runner as in the body of the ticket. I believe that the problem lies there.

[2017-08-14 16:36] garrettjonesgoogle commented on #2339
@agsola , Which runtime are you using - Java 7 or Java 8?

[2017-08-14 16:54] garrettjonesgoogle commented on #2289
This is in the realm of standard java stuff and outside of anything specific to google-cloud-java.

I recommend you create a "fat jar", which is a jar that contains your code plus all of your dependencies in a single jar. One gradle plugin that can help with this is the `shadow` plugin. Add the following to your build.gradle file:

[code]

Then on the command line, use the following command:

[cod

[2017-08-14 16:56] garrettjonesgoogle commented on #2266
@seongyeolpark I suspect that netty-tcnative doesn't work on Windows 7, but I don't have access to Windows 7 to verify. Do you have any way of trying your code on Windows 10?

[2017-08-14 16:59] garrettjonesgoogle commented on #2241
@Habitats you could also consider using the new stub classes that have been added for Pub/Sub, which allow you to access all API methods. See https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1661 for example code.

Since this seems to be resolved for the requester, I'm going to close it out.

[2017-08-14 16:59] #2241 closed

[2017-08-14 17:05] garrettjonesgoogle commented on #1700
The short response to this issue is that I don't think we want to simply do a redirect. We have an internal discussion on how to reduce the confusion of multiple client libraries for trace. I'm going to close out this issue for now; when we come to a decision, we'll get it sorted out on github.

[2017-08-14 17:05] #1700 closed

[2017-08-14 17:05] naushad97 commented on #2266
@garrettjonesgoogle I got the same error in Windows 10 as well.

[2017-08-15 06:22] BondolTuon opened #2340 "Error build gradle for Android Project"
![screen shot 2017-08-15 at 1 21 37 pm](https://user-images.githubusercontent.com/4638285/29304367-c958166e-81bc-11e7-9f03-e1020d9e9d8e.png)

[2017-08-15 11:18] nalbion commented on #2236
@omaray sure

[2017-08-15 14:08] phanikumarmss opened #2341 "Getting No functional channel service provider found error for Google Cloud Pub/Sub"
I am trying to implement java code with service-account credentials but when I am running the application, I am getting **No functional channel service provider found. Try adding a dependency on the grpc-okhttp or grpc-netty artifact** error. I even added **grpc-okhttp and grpc-netty artifact** as individual and as both. but nothing worked fine for me. Any help is really appreciated. I am getting

[2017-08-15 14:10] garrettjonesgoogle commented on #2340
Android is not currently supported by google-cloud-java.

[2017-08-15 14:12] garrettjonesgoogle commented on #2341
Can you provide your dependency tree? If you are using maven, you can get that by running

`mvn dependency:tree`

[2017-08-15 14:15] phanikumarmss commented on #2341
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Miracle GCP Pub/Sub Plugin 1.0
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] --- maven-dependency-plugin:2.3:tree (default-cli) @ gcppubsub-plugin2 ---
[INFO] gcppubsub-plugin2:gcppubsub-plugin2:hpi:1.0
[INFO] +- com.

[2017-08-15 14:22] garrettjonesgoogle commented on #2341
I see that you have 1.4.0 for most of your grpc dependencies, but 1.5.0 for grpc-protobuf. Could you make that match? (use 1.4.0)

[2017-08-15 14:38] phanikumarmss commented on #2341
Even after downgrading the grpc-protobuf to 1.4.0,  I am facing the same issue.

[2017-08-15 14:47] garrettjonesgoogle commented on #2341
I suspect it might be your runtime environment, because you seem to have all the right dependencies. Also, the specific error you are seeing is coming from grpc, so you would have to file an issue against grpc-java for deeper investigation.

[2017-08-15 14:49] phanikumarmss commented on #2341
Do Pub/Sub client libraries depend on Google SDK by any chance

[2017-08-15 15:07] garrettjonesgoogle commented on #2341
I'm not sure exactly what you mean by "Google SDK" (is it https://cloud.google.com/sdk/ ?), but we don't depend on anything by that name.

[2017-08-15 15:40] hmigneron opened #2342 "Publisher : Lifetime of the publisher object (Pubsub)"
When using the pubsub java client, how long should a [Publisher](http://googlecloudplatform.github.io/google-cloud-java/0.21.1/apidocs/index.html) object live for ?

In a scenario where we get frequent HTTP requests that get translated into Pubsub messages, doing

[code]
each time seems inefficient. I couldn't find any documentation on the expected lifetime of the object.

How often should the pub

[2017-08-15 15:47] garrettjonesgoogle commented on #2342
We recommend keeping it around for the lifetime of your process since it has non-trivial startup overhead.

[2017-08-15 15:50] hmigneron commented on #2342
OK thank you. Considering the process might live for a very long time in our case (multiple days), should we schedule period shutdowns to keep things safe or is that not even necessary ?

[2017-08-15 15:51] garrettjonesgoogle commented on #2342
You shouldn't have to schedule periodic shutdowns - we would consider it a bug if that was necessary.

[2017-08-15 15:52] hmigneron commented on #2342
Thank you very much for your answers !

[2017-08-15 16:13] phanikumarmss commented on #2341
Yes, it is what you referred to. Because I haven't installed SDK in the environment where I am running the application. I am assuming that it could be the culprit.

[2017-08-15 16:22] garrettjonesgoogle commented on #2341
The Cloud SDK isn't a requirement for google-cloud-java.

[2017-08-15 16:24] phanikumarmss commented on #2341
Ok, Thank you.

[2017-08-15 21:38] BrandonY opened #2343 "Storage::writer() provides no way to see metadata after writing."
Here's an example of using the Storage::writer method to write a blob from the documentation:

[code]
This works well and makes it easy to write data to a GCS object with a WriteChannel. However, when the operation finishes, GCS returns the metadata of the new object, most importantly including the generation number of the newly-created object. The writer() method provides no way of accessing this

[2017-08-15 21:39] shinfan commented on #2343
cc/ @garrettjonesgoogle

[2017-08-15 23:04] jean-philippe-martin commented on #829
Actually this issue was fixed with commit #2232, so closing it was the right thing to do.

[2017-08-15 23:16] jean-philippe-martin commented on #811
ReadAttributes is still unimplemented to this day. It's not critical, but certainly would be nice to have.

[2017-08-15 23:18] jean-philippe-martin commented on #809
close() is still a no-op, in violation of the NIO documentation. It hasn't been an issue but would be nice to have. I would argue we should keep this issue open.

[2017-08-15 23:28] jean-philippe-martin commented on #1343
@Horneth this functionality is already available, though not packaged in a single function: given a path `p`, you can assemble the GCS path as follows:

    String gcsString = "gs://" + p.bucket() + p.toAbsolutePath();

[2017-08-16 01:35] BondolTuon commented on #2340
Ohhh! I see. thank you for your answer.

[2017-08-16 14:53] TheSkripterDK commented on #2289
@garrettjonesgoogle I know that does not work for me but is there a way i can do it the way i do and why won't i get the same error

[2017-08-16 15:37] garrettjonesgoogle commented on #2289
Add this to your build.gradle:

[code]

Then run this from the command line:

[code]

Then add every jar from the output into your classpath.

[2017-08-16 17:44] garrettjonesgoogle commented on #2340
No problem. I'm going to close out this issue now. Thank you for your interest in google-cloud-java!

[2017-08-16 17:44] #2340 closed

[2017-08-16 17:46] garrettjonesgoogle commented on #2333
@balopat could you update this issue with your current thoughts (given that we have had some internal discussions)?

[2017-08-16 18:14] phanikumarmss commented on #2341
OS details:
  os.detected.name: windows
  os.detected.arch: x86_64
  os.detected.classifier: windows-x86_64
  os.detected.release: null
  os.detected.release.version: null
Checking compatibility...
  This OS + architecture is supported by Forked Tomcat Native.
Result: UNKNOWN (checker implementation not complete)

[2017-08-16 18:15] garrettjonesgoogle commented on #2341
Ok, it looks like the ALPN failures so far have all been on Windows.

[2017-08-16 19:32] jbrew138 commented on #2266
For all those having trouble, make sure that you're running the 64-bit version of Java and not the 32-bit version. That was my problem, independent of running Windows 10 64-bit.

You can also check for yourself if OpenSSL is available with: io.netty.handler.ssl.OpenSsl.isAvailable()
And if not, then print the reason with: io.netty.handler.ssl.OpenSsl.unavailabilityCause().printStackTrace();

[2017-08-16 21:59] garrettjonesgoogle commented on #2266
Thanks @jbrew138 ! I will be adding these checks to google-cloud-compat-checker.

[2017-08-16 22:10] jabubake opened #2348 "Make exception more informative when using FACE_DETECTION in `Feature` list for Video Intelligence API"
v0.21.1-alpha

[code]

is the  non-informative response.
[Here](https://github.com/GoogleCloudPlatform/java-docs-samples/blob/patch-video/video/cloud-client/src/test/java/com/example/video/DetectIT.java#L58) is the code used to test.

I noticed [REST API reference](https://cloud.google.com/video-intelligence/docs/reference/rest/v1beta1/videos) does not list FACE_DETECTION.

@lesv @gguuss

[2017-08-16 22:22] jabubake commented on #2348
It seems this feature requires being whitelisted. It would be great if we could provide a more informative exception here or document this given `Feature.FACE_DETECTION` is in the library.

[2017-08-16 22:41] garrettjonesgoogle commented on #2348
So is the server itself returning INVALID_ARGUMENT with the message "Request contains an invalid argument."? If so, we don't have much information to work with at the client library level.

[2017-08-16 22:43] jabubake opened #2349 "Release notes : no easy way for users to find latest versions @ a glance"
Given the alpha/beta/GA status, it would be good to provide a way to clearly state the client libraries part of a release.

Right now [pom.xml](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/pom.xml#L146) lists versions of libraries and dependencies like `gax` without any consistent prefix to distinguish them from client libraries.

[2017-08-16 22:45] garrettjonesgoogle commented on #2349
Could you make your request more specific?

[2017-08-16 22:49] jabubake commented on #2349
[code]

No distinction from core dependencies and client libraries. Some kind of parseable prefix would be useful. We talked of creating a separate file for releases,  but if this is already available in the `pom.xml`, it might be worth just cleaning up to include a prefix tag on client libraries ?

[2017-08-16 22:52] garrettjonesgoogle commented on #2349
But these will almost always be SNAPSHOT versions, and we want to publish non-SNAPSHOT versions that people can use in their own pom.xml files. So, we would need to generate some content off of these versions at release time. In a way, we do that already - there are maven/gradle snippets all over the place with the current version in them (updated during the release process). Do you want a file co

[2017-08-16 22:55] jabubake commented on #2349
Wrong paste there, I meant picking them up from the release tagged version from the [Release Notes](https://github.com/GoogleCloudPlatform/google-cloud-java/releases), so they will not have the `-SNAPSHOT`.
https://github.com/GoogleCloudPlatform/google-cloud-java/releases/tag/v0.21.1

[2017-08-16 22:56] jabubake commented on #2349
But to your question :  Do you want a file containing these snippets for all of the APIs for easy reference?

I think that would be really useful.

[2017-08-16 23:04] jabubake commented on #2349
That would actually be really great, we could easily embed that in the cloud docs just like we do for snippets.

[2017-08-16 23:58] garrettjonesgoogle commented on #2099
According to b/64605503 , when retrying 503 errors, sometimes 0 bytes are sent instead of the original set of bytes. Re-opening to investigate.

[2017-08-17 00:08] vam-google commented on #2099
This comment https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2099#issuecomment-318707288 implies that there is similar behavior for golang client. Seems suspicious that 2 different clients have same bug.

Also, regarding Storage retries on 503, there was a recent bug about retrying on 503 not working at all in java client library https://github.com/GoogleCloudPlatform/google-cloud-

[2017-08-17 01:36] #1683 closed

[2017-08-17 02:35] chamikaramj opened #2351 "Add ability to batch Storage.create() requests"
Seems like current batching API [1] does not support batching create [2] requests. Batching create requests might be needed for some use cases; for example, if a user needs to create a large number of small files.

If this is already supported it might be good to add an example.

[1] https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-storage/src/main/java/com/google/

[2017-08-17 02:36] chamikaramj commented on #2351
cc: @garrettjonesgoogle

[2017-08-17 11:58] afornie commented on #1325
Thanks @sai-pullabhotla , but with your solution it works in the sense that it ends up storing the value, but there is no way to force it to be a Text type, right? What if there is an appengine app reading these entities and because of the code it uses it will be mandatory that the property is indeed a Text?

[2017-08-17 14:42] sai-pullabhotla commented on #1325
@afornie  - it is just a terminology difference between the AppEngine and google-cloud APIs. From the Datastore server point of view, String/Text are same. Strings with more than 1500 byes cannot be indexed. So, you should be able to access the data fine from all APIs.

[2017-08-17 15:50] balopat commented on #2333
@garrettjonesgoogle, of course! Let me recap:

From the underlying API perspective there is not much that's expected to happen, and here are the summarized explanations (feel free to edit if I'm still missing something):

1.  **Metric vs MetricDescriptor** After reading the docs a bit further, the difference between Metric vs MetricDescriptor is clearer. MetricDescriptor is to class what Metric is

[2017-08-17 19:06] #2319 closed

[2017-08-17 19:49] jabubake commented on #2348
That is unfortunate, should I move this issue to googleapis ?

[2017-08-17 19:59] bisws007 opened #2353 "Subscription processes hangs forever"
Hi,
Publish process publishes only 2 messages. Ran subscription process on my local and messaged processed successfully. 2nd time I ran the subscription process once again on my local and there is no messages but the subscription process hangs forever. Can you please explain why?
I am using google pub-sub version 0.21.1-beta.

[2017-08-17 20:13] garrettjonesgoogle commented on #2348
googleapis probably isn't quite the right place - we may have a platform-wide issue with out whitelisted features are treated. I've seen other whitelisted APIs throw uninformative exceptions too.

[2017-08-17 21:44] garrettjonesgoogle commented on #2266
I have added additional checks to the google-cloud-compat-checker. For anyone who is still having issues, please sync to the latest version and re-run it. I'm interested in hearing both 1) when the checker finds the problem someone is having, (yay, you know what to fix now!) and 2) when the checker still isn't finding anything wrong (we need to figure out other potential causes).

[2017-08-17 21:45] garrettjonesgoogle commented on #2341
@phanikumarmss could you sync to the latest google-cloud-compat-checker and run it again? (I have added a bunch more checks)

[2017-08-17 23:11] garrettjonesgoogle commented on #2275
@ejona86 , we need some kind of resolution for thread treatment by grpc in GAE J8.

[2017-08-18 11:12] Syed-SnapLogic opened #2357 "Invalid Statistics type for Load job"
Hi,
  I have following code snippet in my project.
 `Credentials c = new ServiceAccountCredentials();  // hiding credentials here
  BigQueryOptions options = BigQueryOptions.newBuilder().setCredentials(c).setProjectId('id').build();
  BigQuery bq = options.getService();
  TableId id = TableId.of('project id', 'dataset id', 'table id');
  Table t = bq.getTable(id);
  t.load(FormatOptions.csv(), "gs

[2017-08-18 18:49] trebon opened #2358 "PubSub Subscriber requires pubsub.subscriptions.get permission"
The current IAM role for Subscriber only gives the following permissions:
- pubsub.subscriptions.consume
- pubsub.topics.attachSubscription

This library uses pubsub.subscriptions.get when [constructing the subscriber](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/v0.21.0/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java#L302). This causes a permission de

[2017-08-18 21:18] garrettjonesgoogle commented on #2266
There have been no new responses in the last 4 days from anyone having trouble, so I'm going to close this out now. If anyone is having trouble that is still undiagnosed, feel free to reopen.

[2017-08-18 21:18] #2266 closed

[2017-08-18 21:22] garrettjonesgoogle commented on #2099
Fixed by https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2359 . We will make a release for this soon.

[2017-08-18 21:22] #2099 closed

[2017-08-18 23:55] phanikumarmss commented on #2341
OS details:
  os.detected.name: windows
  os.detected.arch: x86_64
  os.detected.classifier: windows-x86_64
  os.detected.release: null
  os.detected.release.version: null
JVM details:
  Java version: 1.8.0_121
  Java specification version: 1.8
  JVM bit mode: 64
OpenSSL details:
  open ssl is available: true
  ALPN is supported: true
Checking compatibility...
  [PASS] This OS + architecture is su

[2017-08-18 23:57] garrettjonesgoogle commented on #2341
@phanikumarmss I assume it's still not working for you?

[2017-08-19 00:06] phanikumarmss commented on #2341
Yes, I am still facing issue with Windows @garrettjonesgoogle

[2017-08-19 16:01] aandreakis commented on #1810
+1 for this change request

We are integrating Spanner into our code base and it would be very convenient if we are able to start a Spanner read-write transaction and commit / rollback explicitly and without relying on the current callback approach.

[2017-08-19 18:51] olavloite commented on #1810
As mentioned earlier in this thread: [This JDBC driver for Google Cloud Spanner](https://github.com/olavloite/spanner-jdbc) supports 'normal' transactions and other standard JDBC functionality (including DDL- and DML-statements).
This sample project shows a (simple) example how you could use it in combination with JPA/Hibernate: https://github.com/olavloite/spanner-jpa-example

[2017-08-21 16:56] lesv commented on #2209
I asked for a feature in GoogleCloudPlatform/appengine-plugins-core#439 to set it.  It would still be nice if you picked up GOOGLE_CLOUD_PROJECT or .config/gcloud/configurations/config_[.config/gcloud/active_config] and grab "project = " from it.

[2017-08-21 18:28] derekhh opened #2363 "Does there exist a function to parse gs url into a bucket part and a blob part?"
If I understand correctly, the way to fetch blob content from Google Cloud Storage, as suggested by the [google-cloud-java](http://googlecloudplatform.github.io/google-cloud-java/0.21.1/apidocs/index.html) API, right now is using something like:

[code]

This requires us to pass in two arguments: `bucket` and `blob_name`, but normally what we would want to pass in, originally, would be a `gs://` u

[2017-08-21 18:58] garrettjonesgoogle commented on #216
@lesv do you have any thoughts on @GabiAxel 's situation?

[2017-08-21 19:07] garrettjonesgoogle opened #2364 "Fix Travis run on Mac"
The build of google-cloud-java is consistently failing on Mac:

[code]

This should be fixed.

[2017-08-21 19:14] michaelbausor commented on #2363
I am not aware of this existing currently, and a quick search of the code didn't turn anything up.

It seems to me that [`BlobId`](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-storage/src/main/java/com/google/cloud/storage/BlobId.java) would benefit from having `fromStorageUrl` and `toStorageUrl` methods - would that address the use case you are looking at?

[2017-08-21 19:16] MingweiSamuel commented on #1689
I'm consistently hitting this issue when drying to run a `DELETE` statement

[2017-08-21 20:25] derekhh commented on #2363
@michaelbausor - Thanks for your reply! That would definitely help. :)

Sorry if you don't mind me asking another question that is relevant to this topic. While reading the JavaDoc, I've also found something like [CloudStoragePath](http://googlecloudplatform.github.io/google-cloud-java/0.21.1/apidocs/com/google/cloud/storage/contrib/nio/CloudStoragePath.html) that appears to be relevant but then I

[2017-08-21 21:36] michaelbausor commented on #2363
The google-cloud-nio package is not the recommended approach, the [google-cloud-storage](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-storage) package is the best place to start.

But it is possible that the google-cloud-nio package might be useful for you - it is an implementation of the Java 7 java.nio.file.FileSystem for storage, see the [README](https://git

[2017-08-22 00:33] lesv commented on #216
Yes - different versions of the emulator.

@GabiAxel Do you need to run them both locally at the same time?  It might be possible to share the local_db.bin file.

[2017-08-22 05:33] ericandrewschmidt commented on #2158
I can hit this consistently:  RESOURCE_EXHAUSTED: Insufficient tokens for quota 'DefaultGroup' and limit 'CLIENT_PROJECT-100s' of service 'language.googleapis.com'

Using: gcloud auth application-default login

What is the correct path to authenticate and not hit this error?

Needless to say this is super frustrating and a few externals are hitting this. Please advise - thanks!

[2017-08-22 05:58] GabiAxel commented on #216
@lesv yes - both services access the same entities in some flows.

[2017-08-22 14:15] garrettjonesgoogle commented on #2158
@ericandrewschmidt Could you please open a new issue? The present issue is already closed, and your problem might not be related.

[2017-08-22 17:21] vkedia commented on #2315
@ericandrewschmidt Does this only happen if you create multiple instance of Spanner object?
Also are you creating multiple `SpannerOptions` or are you creating a single `SpannerOptions` and multiple Spanner instances from that?
It will be useful if you can put a short code snippet showing exactly how you are creating the spanner objects.
@garrettjonesgoogle Only explicit thread we create in spanne

[2017-08-22 17:24] vkedia commented on #2063
@saturnism I was looking at the JTA [transaction](https://docs.oracle.com/javaee/7/api/javax/transaction/Transaction.html) interface. There are methods there which are needed for supporting distributed transactions which Spanner does not support.

Does it still make sense to implement this interface and just implement the commit and rollback functionality and throw UnsupportedException for other m

[2017-08-22 17:28] vkedia commented on #2091
@ykchen-g For your question about creating/destroying database client on every request, yes it will add a significant overhead which would include connection setup time, session creation time and then the actual work that you need to do.
I guess you can have some sort of cache keyed on called and whose value would be DatabaseClient.
I am not sure if there is much that can be done here in the clien

[2017-08-22 17:28] #2091 closed

[2017-08-22 17:48] vkedia commented on #1856
I believe @jabubake Was able to get this to work on App Engine Prod. So this must be an issue on the SDK only.

[2017-08-22 18:31] #2257 closed

[2017-08-22 19:09] lesv commented on #216
@GabiAxel I think what I'm asking is, could you run your tests serially for example, GAE Std app first using the GAE Datastore emulator, then run your flex app using the Datastore emulator.

The other option is to use a real datastore instance (probably on a test project) and for your Flex app, just write to it directly.  On your J8 Std app, use the [remote api](https://cloud.google.com/appengine/

[2017-08-22 19:51] GabiAxel commented on #216
@lesv specifically for the tests, if both GAE devserver and the Datastore emulator use the same filesystem storage format, I suppose it could work, but for properly setting up a local environment in which I could run the application, it's not practical to constantly stop and start the devserver/emulator when switching between the cases where I need each of them.

I am familiar with the remote API

[2017-08-22 20:22] agsola commented on #2339
Java 8.

[2017-08-22 23:47] lesv commented on #216
Yep - that's being worked on, I was trying to get you up and running now.  I'm meeting with the team tomorrow to discuss.

[2017-08-22 23:57] lesv commented on #2063
Odds are that if we don't do a bunch of other stuff, this isn't helpful by itself.  In looking at SpringBoot, it appears to support jta w/ XA in a [few](https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-jta-jndi) [cases](https://github.com/spring-projects/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-jta-atomikos) [more](https://stac

[2017-08-23 00:03] GabiAxel commented on #216
@lesv Thanks, much appreciated.

[2017-08-23 07:26] Electricks94 opened #2370 "How can I receive Data from Google BigQuery with Eclipse and Java?"
I’m trying to receive some Data from google BigQuery and show the result in my eclipse console to get started with BigQuery and Java. Basically, I followed the Instructions provided by google, which I found here: https://cloud.google.com/bigquery/docs/reference/libraries

So my example Java Code looks like the quick start example from google:

[code]
But when I run this Code I get the following er

[2017-08-23 14:00] meltsufin commented on #2063
@lesv I'm not sure what you mean by "if we don't do a bunch of other stuff, this isn't helpful by itself". Distributed transactions are very commonly used in the enterprise, especially for things like read a message from a queue (think Pub/Sub) and update a database (think Cloud SQL). I think Cloud SQL is covered with the JDBC driver, but I don't think there is currently a way for Pub/Sub to parti

[2017-08-23 14:50] meltsufin opened #2371 "SQLAdmin.Builder wants application name"
If you create a `SQLAdmin` with the builder, without setting application name by calling `SQL.Builder(...).setApplicationName("app-name")`, you'll see a warning coming from `AbstractGoogleClient` saying:

"Application name is not set. Call Builder#setApplicationName."

What's the purpose of setting application name? I don't see it being documented? If it's not needed, the warning should be removed

[2017-08-23 17:15] saturnism commented on #2341
@phanikumarmss could i trouble you to describe more of the environment? e.g., what application server does it run it?  did you shade anything? etc.  thanks!

[2017-08-23 18:02] michaelbausor commented on #2370
Hi @Electricks94,

It looks like you are trying to fetch an existing dataset, but your code is creating it. Can you try the following code to see if you get the same problem?

[code]

[2017-08-23 18:09] vkedia commented on #1810
@aandreakis Do you care if we implement a standard interface like [UserTransaction](http://docs.oracle.com/javaee/6/api/javax/transaction/UserTransaction.html) or it does not really matter for you as long as we have some way of doing explicit commit/rollback?

[2017-08-23 18:16] lesv commented on #216
@GabiAxel Can you write me `@google.com`

[2017-08-23 19:16] michaelbausor commented on #2371
Do you mean this code: https://github.com/google/google-api-java-client/blob/dev/google-api-client/src/main/java/com/google/api/client/googleapis/services/AbstractGoogleClient.java#L86

If so, this issue should be moved to https://github.com/google/google-api-java-client

[2017-08-23 19:28] meltsufin commented on #2371
The warning is coming from the file you pointed to, but part of the problem is that it's not clear what is the purpose of `SQL.Builder#setApplicationName`, which is a method provided by this project. That's why I posted it here initially.
@jabubake @lesv

[2017-08-23 19:35] Electricks94 commented on #2370
Thank you very much! This worked well.

Just that I understand correctly. What I did with the code I posted was creating a new table in bigquery, but what I really wanted to do was to fetch data from bigquery and that’s why the code didn’t work?

[2017-08-23 19:43] michaelbausor commented on #2370
Yes, I think so. Your code was trying to create a dataset in the public `bigquery-public-data` project. The code I suggested did the following:
- Set the project ID before creating the `BigQuery` object
- Get the dataset, instead of creating it

I am closing this issue now, but if you have any more problems, please feel free to reopen it!

[2017-08-23 19:43] #2370 closed

[2017-08-23 20:09] Electricks94 commented on #2370
Thanks again for your help.

Now I can receive some basic Information about my tables. I tried to run this code to get started with BigQuery and Java.
What I really want to do is get complete rows as arrays and show the information in Chars.
I did not find options to get complete rows in the methods of the BigQuery object.
So, my Questions are:

- Do I need to set up a Pipeline or is there an easi

[2017-08-23 20:11] michaelbausor commented on #2371
AFAICT the SQLAdmin class is coming from this package, which isn't part of this library: https://search.maven.org/#search%7Cga%7C1%7Ca%3A%22google-api-services-sqladmin%22

Is this the right class?
https://developers.google.com/resources/api-libraries/documentation/sqladmin/v1beta4/java/latest/com/google/api/services/sqladmin/SQLAdmin.html

[2017-08-23 20:17] michaelbausor commented on #2370
No worries!

I would try working through some of the How-To guides for Bigquery, available here: https://cloud.google.com/bigquery/docs/how-to

You should find something there that can help - if you want all of the data in a table, take a look at the Using Tables how-tos: https://cloud.google.com/bigquery/docs/tables

If you have other problems, it is best to open another issue, rather than commen

[2017-08-23 20:19] Electricks94 commented on #2370
Thank you very much!

[2017-08-23 20:23] jabubake opened #2373 "Pub/Sub API docs needs cleanup"
I am fine with minimal information here, but I think its important that it states accurate information.
[Pub/Sub API reference](http://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/index.html?com/google/cloud/pubsub/v1/package-summary.html)

states `TopicAdminClient` is used to send messages to a topic.
`SubscriptionAdminClient` is used to pull messages : Both not true.

[2017-08-23 20:27] garrettjonesgoogle commented on #2373
This is... difficult to fix. We get those descriptions from the protos. We can do one of these things:

1. No change (leave the docs wrong)
2. Delete the descriptions (poor result for other APIs)
3. Add functionality to override client descriptions on a language-by-language basis (requires codegen work)

We'll probably have to do (3).

[2017-08-23 20:37] jabubake commented on #2373
Hmm..so in this case given the description in the protos are incorrect : Can we not fix the root cause ?

[2017-08-23 20:37] meltsufin commented on #2371
Ah you're right! I thought the code was hosted in this project. My mistake, sorry.
Thanks for pointing to the right place to post this issue.

[2017-08-23 20:37] #2371 closed

[2017-08-23 20:43] jabubake commented on #2373
Also, looks like we provide snippets for the autogen clients, but Publisher / Subscriber are mentioned here without any snippets. Lets keep this consistent please :)

[2017-08-23 20:45] meltsufin commented on #2371
https://github.com/google/google-api-java-client/issues/1062

[2017-08-23 21:20] garrettjonesgoogle commented on #2373
The root cause is that the scope of the generated clients doesn't match the `service` declarations at the proto level; essentially we have "redefined" their meaning. Thus, I think the only thing that actually makes sense is to require that a new doc be written in any language that the scope of a client doesn't match the scope of its corresponding `service` definition. So, the root cause can't real

[2017-08-24 00:07] garrettjonesgoogle commented on #2331
I looked at the Java code in more detail, and there are some places where the sample itself is more verbose than necessary, which exaggerates the differences between Python and Java. I think the following Java sample makes a fairer comparison:

[code]

[2017-08-24 09:58] Electricks94 opened #2374 "Querying Public Data set"
I’m trying to run a Query trough the public Data in BigQuery using Java and Eclipse.
When I run my code, I get:

[code]

I the IAM my Mail Address has the Owner Role for BigQuery.

What I’m worried about is my BigQuery Console. The Public Data is not listed in my Project but separately and I can’t click on "copy table" to copy it to my Project because it says: "Required parameter is missing".

Isn

[2017-08-24 15:12] droazen opened #2375 "Write unit tests for the CloudStorageRetryHandler class"
We recently extracted a simple `CloudStorageRetryHandler` class to keep track of retries/reopens in `google-cloud-nio`. This class needs unit tests, as per the discussion in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2281

[2017-08-24 15:12] droazen commented on #2375
@jean-philippe-martin or myself can take this on when we have time.

[2017-08-24 15:27] michaelbausor commented on #2374
This is the key part of the error: `The user MyAdress@gmail.com does not have bigquery.jobs.create permission in project bigquery-public-data.`

You will not be able to run a `create` query on the project `bigquery-public-data`. The user at `MyAdress@gmail.com` will have the Owner Role for BigQuery in your project, but not the public `bigquery-public-data` project. Try changing the project id set

[2017-08-24 16:06] NagarajP commented on #2266
Hi @garrettjonesgoogle , Sorry for the delay. Now i am trying in Mac. The above said problem is gone. However getting
`com.google.cloud.logging.LoggingException: io.grpc.StatusRuntimeException: PERMISSION_DENIED: The request is missing a valid API key.` error. Not sure , what is the special permission i should have to read the logs through API as i am able to read it through console. Please clarif

[2017-08-24 18:11] ericandrewschmidt commented on #2158
Will do - thanks.

[2017-08-24 19:10] garrettjonesgoogle commented on #2266
@NagarajP could you file a new issue? The present one is already closed, and your new issue is a different problem.

[2017-08-24 20:29] Electricks94 commented on #2374
Thanks again!

I took the name public data a little bit to literally.
I ran the query over my own data and everything worked fine.

[2017-08-24 20:47] michaelbausor commented on #2374
No worries! I'll close this out now.

[2017-08-24 20:47] #2374 closed

[2017-08-24 21:43] NagarajP commented on #2266
Sure, will do. @garrettjonesgoogle. Thanks

[2017-08-24 22:01] monofuel opened #2378 "TESTING.md refers to non-existant method setChannelProvider for PubSub"
TESTING.md refers to a method that no longer exists in 0.22.0-beta.

The example for creating a pubsub topic admin client:
[code]

uses `.setChannelProvider()`, which no longer exists. It's not clear what the new approach for testing is.

[2017-08-24 22:03] NagarajP opened #2379 "Reading Stack Driver Logging - java.lang.IllegalArgumentException: A project ID is required for this service but could not be determined from the builder or the environment"
Hi,
I am trying to read logs from Stack Driver Logging. I have logged into gccloud.
Below is my program to read:
`public class App
{
	Logging logging = LoggingOptions.getDefaultInstance().getService();

	public static void main( String[] args ){
        System.out.println( "Hello World!" );
        App obj = new App();
        obj.run();
    }

    private void run() {

	    	try {

	    		Logging

[2017-08-24 22:12] michaelbausor commented on #2379
This is happening because you are not setting the project ID on the `LoggingOptions.Builder`, and there is no default project id set in your environment.

Try replacing the line creating the `logging` object with this:
[code]

[2017-08-25 16:22] NagarajP commented on #2379
Thanks @michaelbausor . This problem is solved now and ending up other issue(io.grpc.StatusRuntimeException: PERMISSION_DENIED: The request is missing a valid API key) . You want me to create to new issue for this problem?

My updated Code is:
`private void run() {
    		try {

	    		LoggingOptions.Builder optionsBuilder = LoggingOptions.newBuilder();
	    		System.out.println("optionsBuilder:::"

[2017-08-25 17:02] michaelbausor commented on #2379
@NagarajP We can try to solve it here, as it looks related.

Have you tried running the following gcloud command:
`gcloud auth application-default login`

This will create the application default credentials file that will be used. If you have done this and are still getting the same error, I would check to make sure that whichever user account you are using has permission to write to the project

[2017-08-25 18:03] NagarajP commented on #2379
Hi @michaelbausor , Thanks for your input. Could you please tell me what is the exact permission( or role/policy/access) i needed, so that i can read  ( and request to admin to tag with my account)Stack Driver logging using my corporate account?

[2017-08-25 20:34] michaelbausor commented on #2379
Looking at the available roles under Logging, there are three that you might need, depending on what you need to do:
- Logs viewer (you will definitely need this)
- Private logs viewer (if you need to view logs containing private content)
- Logs writer (if you need to write logs)

[2017-08-25 22:33] michaelbausor commented on #2364
The error shown above can be fixed/mitigated using `travis_retry`, as per this PR: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2384

However, this is not the only cause of build failure on OSX. So far I have identified that the Spanner suite seems to be the cause of the problem, but have not found a more specific reason yet.

[2017-08-26 01:14] GEverding commented on #2353
I think I've been seeing this issue in production as well. Same version as above. However it's only in one of our services. How can I help debug this issue? I've seen similar behaviour? And it happens 1-5 times per day.

[2017-08-28 15:26] michaelbausor commented on #2364
See below for the truncated output of a [failed Travis build on OSX](https://travis-ci.org/GoogleCloudPlatform/google-cloud-java/jobs/268543637). The build appears to hang after the Spanner SessionPoolStressTest. The next test is the SessionPoolTest.

[code]

[2017-08-28 15:47] Electricks94 opened #2385 "Querying Data with timestamps in BigQuery with Java"
Hello,
I simply want to run this Query in Java.

`SELECT Leistung FROM [myprojekt-111111:SimTestdaten] Where TIMESTAMP between TIMESTAMP("2016-08-28")  AND TIMESTAMP("2016-08-29")`

I searched for a conclusion to work for me, but I couldn’t really understand all the explanations I found.
Here is a little bit of the Java Code I wrote so you can understand how I think and where exactly my Problem is

[2017-08-28 18:58] vam-google commented on #2385
Hi @Electricks94, can you post the error you are receiving? Also, can you please do `System.out.println(queryString)`, so we can check the actual composed query string and ensure that it is a valid SQL query?

Also, since you are using standard SQL in your query `(.setUseLegacySql(false))`, I believe you should use dot `.` instead of colun `:`.

Please also try to run the exactly same query (the o

[2017-08-28 20:34] garrettjonesgoogle opened #2386 "Create a CODEOWNERS file"
See Python for an example: https://github.com/GoogleCloudPlatform/google-cloud-python/pull/3887

[2017-08-28 20:59] vam-google commented on #2357
Hi @Syed-SnapLogic, I don't think you are doing anything wrong. I tried to reproduce your issue and I have exactly same result: insert a load job, but receive CopyStatistics.

What happens here is the following: on the moment when the job statistics object should be created, there is statistics type info missing (either it is not returned from the server or is lost somewhere in between), and when

[2017-08-28 21:55] Electricks94 commented on #2385
With system.out.println Java gives me this for queryString:
[code]
The Error Message from Eclipse is:

[code]

When I uncheck `Use Legacy SQL` in BigQuery, then the Query I posted, which I ran in WebUI doesn’t work anymore.

[2017-08-28 23:07] shinfan opened #2389 "Confusing Translation sample code"
[code]

It makes more sense to me if the source language is assigned with the `detected language` instead.

[2017-08-28 23:16] vam-google commented on #2385
So it complains about your timestamp format (`2017-08-10T00:00:00.000Z`). The timestamp should be in a format `YYYY-MM-DD HH:MM:SS` according to the [documentation](https://cloud.google.com/bigquery/data-types).

You used `DateTime` in your example. Is it `org.joda.time.DateTime`? In any case, this [stack overflow answer](https://stackoverflow.com/questions/20331163/how-to-format-joda-time-datetim

[2017-08-29 15:07] jabubake opened #2391 "Add `RequesterPays` as `BucketField` entry"
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java#L95

Currently, if I retrieve by `ID`, I receive null on `requesterPays` even when it has been enabled on a bucket.
Please add `RequesterPays` as `BucketField` entry (unless there is another recommended approach to querying `requesterPays` status of a bucket

[2017-08-29 15:14] jabubake opened #2392 "Add `.userProject()` method to `Blob.BlobSourceOption` to allow using Requester Pays feature on `Blob.reader()`"
Add support in [Blob.BlobSourceOption](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-storage/src/main/java/com/google/cloud/storage/Blob.java#L83) similar to [Storage.BlobSourceOption](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-storage/src/main/java/com/google/cloud/storage/Storage.java#L637) to set the billing project ID.

[2017-08-29 19:17] NagarajP commented on #2379
Thanks @michaelbausor . This issue got resolved now after associating proper permissions. Hence i will close this issue.

[2017-08-29 19:17] #2379 closed

[2017-08-29 20:47] bjwatson commented on #2117
@vkedia @garrettjonesgoogle I added the `Release Blocking` label to ensure this is fixed before GA.

[2017-08-30 00:20] #2386 closed

[2017-08-30 05:31] Syed-SnapLogic commented on #2357
Hi @vam-google, I found the resolution.  You can still keep your hunt if you wish.
If I say,
  '''Job loadJob = table.load(...);
  System.out.println(loadJob.getStatistics());
  '''
then certainly it would give copy statistics.  However, doing
  '''Job loadJob = table.load(...);
   loadJob = loadJob.waitFor();
  System.out.println(loadJob.getStatistics());
  '''
 is giving load statistics.

[2017-08-30 14:44] JoshuaFox commented on #2309
It just got worse.  Failure now occurs not only in Maven but even in Eclipse, 90% of the time.

Yet there is success 10% of the time in Eclipse, there is success. In these cases , I note `DownloadableEmulatorRunner downloadZipFile...  Using cached emulator... Unzipping emulator` in the logs. On August 2, this apparently succeeded every tme (in Eclipse).

I now have gcloud 168.0.0 instead of 164.0.

[2017-08-30 15:55] vam-google commented on #2357
Thanks for the update! It is good that it works for you now, but in that case you are dealing with an already completed job. In other words if the job is completed, it returns the proper statistics type, if it is in progress it returns a wrong one. This is still not good.

[2017-08-30 19:59] #2389 closed

[2017-08-30 20:49] michaelbausor opened #2397 "Add fromStorageUrl and toStorageUrl methods to BlobId"
See this issue for context: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2363

[2017-08-30 20:50] vam-google commented on #2378
Merged

[2017-08-30 20:50] michaelbausor commented on #2363
I am going to close this out - I have opened a new issue to track creating fromStorageUrl and toStorageUrl methods here: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2397

[2017-08-30 20:50] #2363 closed

[2017-08-31 19:25] sceee opened #2398 "java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured. when trying to use PubSub"
Hi,

I am trying to use the google cloud libraries to connect to PubSub but I am getting the following exception when trying to execute the following code:

[code]

[code]

The last line in my code (`subscriber.startAsync().awaitRunning();`) is the position where the upper exception origines from.

Am I using something wrong or is this a bug?
I am using `compile group: 'com.google.cloud', name: 'g

[2017-08-31 21:13] jabubake commented on #2391
@garrettjonesgoogle : this blocks the samples, unless there is another preferred way to retrieve the `requesterPays` status.

[2017-08-31 23:45] garrettjonesgoogle opened #2399 "Upgrade to grpc 1.6.1"
We are currently on 1.4 .

[2017-09-01 16:03] #2378 closed

[2017-09-01 16:04] vam-google commented on #2385
Closing as there were no response after 3 days. Please feel free to reopen if the issue is still not resolved.

[2017-09-01 16:04] #2385 closed

[2017-09-01 16:13] vam-google commented on #2398
Hi @sceee, can you please post your dependency tree output? (run `gradle dependencies` from your project directory). Specifically how does your `io.netty:netty-tcnative-boringssl-static` dependency look like (if you have it)?

[2017-09-01 17:45] monofuel commented on #2378
Sweet! thanks a bunch!

[2017-09-01 18:11] lesv opened #2400 "googlecloudplatform.github.io/google-cloud-java seems badly formatted"
![screen shot 2017-09-01 at 11 09 12 am](https://user-images.githubusercontent.com/1136014/29982369-4385acca-8f06-11e7-9c0b-3407c6c987cd.png)

[2017-09-01 18:15] vam-google commented on #2400
I think it is a screeen width problem (I can reproduce it only when I make my browser window very narrow).

[2017-09-01 19:20] meltsufin opened #2401 "JUL LoggingHandler issues"
There are a couple of issues in the `com.google.cloud.logging.LoggingHandler`

- Unused private methods: `getLoggingHandlers`, `hasLoggingHandler`
- Assigning the handler to a specific logger, rather than the root, doesn't work.
`com.example.handlers=com.google.cloud.logging.LoggingHandler`

The second one needs to be investigated a bit more.

@jabubake FYI

[2017-09-02 16:50] sceee commented on #2398
Hi @vam-google ,

the one's with the `io.netty:netty-tcnative-boringssl-static` dependency look like this in my own library (where I am using pubsub):
[code]

Do you need the complete dependency tree, too?
Do you need the complete dependency tree from the full application using my library that's using pubsub, too?

Please let me know if you need something else and thanks in advance!

[2017-09-02 17:32] Electricks94 commented on #2385
Thanks for your answer. I had no time to test it until today.
It works fine now.

[2017-09-03 15:40] Mistic92 commented on #2398
What system are you using? I had similar problem but because of alpine linux

[2017-09-03 15:41] sceee commented on #2398
@Mistic92 this happened on my development machine which is Windows 10 x64, latest update.

[2017-09-03 15:55] Electricks94 opened #2404 "How to get the names of all accessible Datasets?"
Hello,
I got a small problem. Basically, I just want to receive the names of all the datasets which I can access. My code looks like BigQuery API described how to do it:

[code]
But I cannot compile the code because I get this message from eclipse:
`Type mismatch: cannot convert from Iterable<Dataset> to Iterator<Dataset>`
I tried a lot of things but nothing worked for me yet. Does anyone know how

[2017-09-04 17:48] TheSkripterDK commented on #2289
@garrettjonesgoogle made it maven
pom.xml
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <modelVersion>4.0.0</modelVersion>

    <groupId>me.danilkp1234</groupId>
    <artifactId>aq

[2017-09-05 11:58] ahzamfarhan opened #2405 "Pub/Sub give problem in AppEngine with Standard Environment with Java 7"
Pub/Sub give problem in AppEngine with Standard Environment with Java 7

Hi, I have created Google PUB/SUB using topic. I get error in my Subscriber code. my code works on my local tomcat server but when I deployed it on Google cloud AppEngine with standard environment. It gives following error.
**Could not initialize class com.google.cloud.pubsub.v1.Subscriber**

Initialization of Subscriber inst

[2017-09-05 13:31] Andy2003 opened #2406 "[0.22.0-beta] StreamingSubscriberConnection unlimited increasing the channelReconnectBackoff duration"
The Pub/Sub Subscriber of version 0.22.0-beta uses streaming as its subscription connection by default. This setting cannot be changed, because of the default access of the Subcriber.Builder#setUseStreaming method.
The Problem with the StreamingSubscriberConnection is, that on each re-connection (which occurs quite often) the channelReconnectBackoff duration is doubled. There is no upper limit, no

[2017-09-05 21:02] michaelbausor commented on #2405
@neozwu can you comment on this?

[2017-09-05 21:06] michaelbausor commented on #2404
`Iterator` and `Iterable` are two different Java interfaces, so they cannot be used interchangeably. In particular, you cannot assign the return value of `iterateAll` (an `Iterable`) to your variable, which is an `Iterator`. Try changing the line:
`Iterator<Dataset> datasetIterator = datasets.iterateAll();`
to:
`Iterable<Dataset> datasetIterator = datasets.iterateAll();`

[2017-09-05 21:34] sanumandla opened #2407 "com.google.cloud.logging.LoggingException: io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED while using Stackdriver logging library"
Hi,

I have been experiencing an issue which is blocking me from writing logs to Stackdriver. I see an exception saying "SEVERE: RuntimeException while executing runnable com.reltio.gcp.google.common.util.concurrent.Futures$6@7a04e1cd with executor MoreExecutors.directExecutor()
java.lang.RuntimeException: com.google.cloud.logging.LoggingException: io.grpc.StatusRuntimeException: DEADLINE_EXCEEDED

[2017-09-05 23:46] lesv commented on #2398
@sceee Could you ask about this in grpc/grpc-java - They may be able to suggest something.  It sounds like your TMPDIR isn't set or writeable.

[2017-09-06 01:45] pclair commented on #2184
I am running into same issue on mac, spring boot with jetty container. is there a solution ?

[2017-09-07 08:04] RaiYogesh opened #2411 "project.properties duplicate conflict b/w google-cloud-core & google-cloud-pubsub"
I am using duplicate-finder-maven-plugin in my project which has started complaining for duplicate project.properties b/w  google-cloud-core & google-cloud-pubsub

`[INFO] Checking test classpath

[WARNING] Found duplicate and different resources in [com.google.cloud:google-cloud-core:1.2.1, com.google.cloud:google-cloud-pubsub:0.20.1-beta]:
[WARNING]   project.properties
[WARNING] Found duplicate

[2017-09-07 09:06] jakub-bochenski commented on #2411
I think better place for this `project.properties` would be under `META-INF`.

In fact version is stored there already in `MANIFEST.MF` and in Maven descriptor.

[2017-09-07 12:04] Electricks94 commented on #2404
Thank you for your answer. It works fine now!

[2017-09-07 13:24] manuellazzarijr commented on #2066
Getting the same

com.google.api.gax.grpc.GrpcApiException: io.grpc.StatusRuntimeException: INTERNAL: HTTP/2 error code: INTERNAL_ERROR

with 0.22.0

[2017-09-07 15:36] michaelbausor commented on #2404
Great! I'll close this out.

[2017-09-07 15:36] #2404 closed

[2017-09-07 18:32] michaelbausor commented on #2411
I think this is something we should investigate - it may be that `META-INF` is better than what we do at the moment. I will file a separate issue to track that.

As a temporary workaround: I am not familiar with the plugin, but have you looked at using the `ignoredResourcePatterns` setting (seen on this page: https://github.com/basepom/duplicate-finder-maven-plugin/wiki). That might help unblock o

[2017-09-07 18:35] michaelbausor opened #2412 "Reconsider project.properties and META-INF"
Our current use of project.properties is the cause of this issue: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2411

It seems like the way we are using project.properties may be unnecessary, or otherwise we may be able to use `META-INF`, which would be a cleaner/more idiomatic solution.

[2017-09-07 18:35] jakub-bochenski commented on #2411
Yes, we do that already but it's bad practice to have conflicting entries on classpath anyway
[code]

[2017-09-07 19:21] michaelbausor opened #2413 "Adding Snippets has errors"
script: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/utilities/add_snippets_to_file.py

1. Method signature with @Nullable does not work.
Fix:
At this line in add_snippets_to_file.py#L99, replace the existing:
    ',\s+'.join(['(final\s+)?{}\s+{}'.format(
with this:
    ',\s+'.join(['(@Nullable\s+)?(final\s+)?{}\s+{}'.format(

2. for all single line comments, the script eit

[2017-09-07 21:47] Berg3 opened #2414 "java.lang.NoClassDefFoundError: org/spark-project/jetty/alpn/ALPN$Provider when instantiating MetricServiceClient"
When trying to instantiate a MetricServiceClient in order to perform Google Stackdriver Monitoring using the following code in a DataProc cluster image 1.0:

[code]

I get the following stack trace:

[code]

This is the dependency in the pom.xml file (spark version 1.6.3):

[code]

Any advice as to how to resolve this issue would be appreciated. Thanks.

Edit: I have no issue when running my progr

[2017-09-07 22:41] frankyn commented on #2392
@vam-google I have updated the description of this issue.

[2017-09-08 03:32] #2406 closed

[2017-09-08 04:05] pongad commented on #2103
The polling implementation is being removed in favor of streaming, and streaming shouldn't have this problem.

[2017-09-08 04:05] #2103 closed

[2017-09-08 09:35] Nosfert opened #2417 "Unaware if Null on set Timestamp"
Hi
Im trying to use Timestamp when set'ing the Entity that im saving.
But if the code send in null then i only get an exception back.
I can manually say that the Key should be null but then i need to know beforehand that the value im sending in is null....
I think this needs to be fixed.
`
Timestamp timestampThatCanBeNull = getTimestampOrNull();
Entity.newBuilder(keyFactory.newKey()).set("Timestam

[2017-09-08 11:08] Nosfert commented on #2417
i solved it by creating a convinience method to take builder property key/value and then do a lookup.
But feels weird that it's not supported in the framework.

[2017-09-08 18:30] #2107 closed

[2017-09-08 19:01] patmagee opened #2418 "BiQuery query method results in java.lang.NoSuchMethodError"
I am creating a simple Query against a big query table, however I cannot seem to actually send the query due to an issue with `QueryJobConfiguration` throwing a `java.lang.NoSuchMethodError` when it tries to use `getQueryParameters()`. In fact, looking at the downloaded sources, there seems to be missing dependencies, with my IDE not being able to find `com.google.api.services.bigquery.model.Query

[2017-09-08 19:16] chanseokoh opened #2419 "Clarify requirement instructions for App Engine"
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/APPENGINE.md

says to add appengine-api-1.0-sdk for App Engine. This should emphasize that it is only needed for local dev appserver1 (not sure about dev appserver2). The instructions mislead people to believe the dependency is required on prod too.

Also, it says

However, I verified that dev appserver emulating the Java 8 runti

[2017-09-08 22:21] michaelbausor commented on #2418
Hi @patmagee, can you provide a bit more info about how to reproduce the issue? When I create a new project using maven and depend only on the `google-cloud-bigquery:0.22.0-beta` package I am not seeing a `NoSuchMethodError`.

Thanks!

[2017-09-09 18:32] frantello opened #2421 "GCStorage - Handle extension headers on signUrl generation"
More advance configuration and validations of sign URLs require extension headers [https://cloud.google.com/storage/docs/xml-api/reference-headers](extension headers).

Opened this ticket to track my commits.

I'm working on a pull request that will coming soon.

[2017-09-11 03:03] saturnism opened #2423 "Clients / Stubs cannot be mocked"
E.g., `TraceServiceClient` has all of the methods marked as final. Thus it's impossible to use with Mockito. There is no interface to mock either.  This makes it hard to test higher level libraries that needs to consume our client/stubs.

[2017-09-11 07:53] SJAnderson commented on #2066
Getting this error on a dataflow job
[code]

[2017-09-11 10:35] Electricks94 opened #2424 "Best Practice for uploading data to BigQuery in Java?"
Hello,

I want to upload data to an existing table in BigQuery. Therefore I looked in the docks and found `bigquery.insertAll` which works fine but it takes very long to execute my code. I think it´s because I upload my data row by row and every row takes about a second. In the docs I read about 10.000 rows per second but I don`t see a way to change my code in a way so that it can do so.

Is there

[2017-09-11 10:58] halilduygulu opened #2425 "Spanner - Insert_Or_Update does not work as documented ?"
Hi,
I have a use case that requires to update just one column of a table. To do that, i tried to use insert_or_update as documentation says it will update some columns and preserve others' values. But i get an error below, says i am trying to insert new row without not null columns? Why does not it checks row already exist ?

What am i missing here ? Here is my mutation build code too. I get prima

[2017-09-11 13:27] karikalankumaresan opened #2426 "Publish does not work when credential JSON is provided"
The following code works fine when deployed to the app engine flexible environment and calls the relevant /push endpoint.

[code]

However, when changed the "publisher" instantiation to the following (using the JSON), the publish code executes fine, but the /push endpoint is not called.

[code]
Any idea on why this is the case?

[2017-09-11 14:07] ahzamfarhan commented on #2405
I did not get the answer of my question. I once again describe  my problem in short. I have AppEngine with Standard Environment. Whenever I deploy my web app on AppEngine on standard environment. It  gives me as Error "java.lang.NoClassDefFoundError: Could not initialize class com.google.cloud.pubsub.v1.Subscriber". But same webapp application run fine on my local tomcat server. I want to know if

[2017-09-11 14:47] patmagee commented on #2418
@michaelbausor this only seems to be an issue when I am NOT using a Legacy SQL query (Ideally i was hoping to used parameterized queries). It appears I can use legacy queries. Right now I am using the `QueryRequestBuilder` to create a new request (without the parameters). I am doing something similar to the following:

[code]

[2017-09-11 14:59] tejpratap46 opened #2427 "DataSore does not return any result when cursor pointing to entity gets updated but retains its position in list"
I'm using google datastore to get data of a user:

This is what i'm trying to do:

 1. When data is updated, its `updated_at [indexed]` property gets set to current timestamp.
 2. I query data on `updated_at` in ***ascending order*** and **store cursor** returned for later use.
 3. Now user has updated the last entity (which cursor points currently) and **no other data is added or updated**.
 4. N

[2017-09-11 15:39] michaelbausor commented on #2405
We do not expect PubSub (or other gRPC-based APIs) to work with Java 7 on AppEngine Standard. (See for example [this comment](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1807#issuecomment-304998685)).

It should work using Java 8 on AppEngine Standard.

It doesn't look like you have a direct dependency on the google-cloud-pubsub package (see here on github: https://github.com/G

[2017-09-11 16:12] ahzamfarhan commented on #2405
Thanks michaelbauso,
AppEngine Standard by default uses jdk 7. I want to know to change AppEngine Standard to use jdk 8.

[2017-09-11 16:13] michaelbausor commented on #2405
No worries! For Java 8, take a look at the documentation here: https://cloud.google.com/appengine/docs/standard/java/runtime-java8

[2017-09-11 18:32] ahzamfarhan commented on #2405
I have followed the steps specified on URL  https://cloud.google.com/appengine/docs/standard/java/runtime-java8. I am getting following error file fire 'mvn appengine:update command.

java.io.IOException: Cannot run program "C:\jdk1.8.0_144\jre\bin\java.exe": Crea
teProcess error=206, The filename or extension is too long
Unable to update app: Cannot run program "C:\jdk1.8.0_144\jre\bin\java.exe":

[2017-09-11 20:23] patmagee commented on #2418
This was a dependency issue. Someone was using an old version of the API elsewhere that was not documented

[2017-09-11 20:23] #2418 closed

[2017-09-11 21:49] etrottier opened #2428 "BigQuery.getQueryResults throws NPE on 404"
it looks like https://github.com/GoogleCloudPlatform/google-cloud-java/commit/e3a99c2f9314f938bafd9fd5d19a98a43335bd98 changed BigQueryRpc.getQueryResults to return null on 404 without adjusting BigQueryImpl to handle that.

[2017-09-12 00:18] lvh opened #2432 "Logging Structs should prefer map over iterable when serializing"
The [current serialization code](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-logging/src/main/java/com/google/cloud/logging/Structs.java#L142) looks like this at time of writing:

[code]

I think it would be better if the check for `instanceof Map` happened before `instanceof Iterable<?>`. It's true that Maps in the stdlib are generally not iterable, but third

[2017-09-12 13:59] elharo opened #2433 ""High performance" is incorrect."
The Javadoc for the compute API says: "A client for Google Compute Engine – High-performance, scalable virtual machines."

"High performance" is incorrect. The point of scalable here is that you may choose low performance VMs for less cost if that suits your needs better.

[2017-09-12 20:07] shinfan commented on #2427
`updated_at` does not look like a Java variable name. Can you provide more information? (A sample code to demonstrate your use case, which method you called etc)

[2017-09-12 20:11] vkedia commented on #2315
@ericandrewschmidt Ping!

[2017-09-12 21:29] pongad commented on #2407
For `v1.6.0`, could you try updating the tcnative dependency to `2.0.3-Final` like we did [here](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-core-grpc/pom.xml#L25)?

You said adding dependency worked until a few days back. Did it stop working after changing version? It seems unlikely that the same build randomly breaks.

[2017-09-13 01:02] sanumandla commented on #2407
@pongad Thanks for your inputs. Yes, I tried 2.0.3.Final. Actually, I haven't changed anything. But my guess is there are lot of google dependencies that are being pulled into the project as transitive dependencies. Something in the downstream project changed which is affecting it. Before when I encountered this issue I noticed that netty-tcnative-boringssl-static is being excluded. After adding i

[2017-09-13 07:27] pongad commented on #2407
I see. I'll work to reproduce this.

[2017-09-13 08:07] pongad commented on #2407
@sanumandla I unfortunately cannot reproduce this issue. I created a fresh maven package and added dependency

[code]

I then copied [this sample code](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/logging/snippets/WriteAndListLogEntries.java) and executed it. It executed successfully and I can see the log "messag

[2017-09-13 17:01] michaelbausor opened #2438 "Logging CI failing due to too many sinks"
See e.g. this build: https://travis-ci.org/GoogleCloudPlatform/google-cloud-java/builds/275116102?utm_source=email&utm_medium=notification

[2017-09-13 17:27] sanumandla commented on #2407
@pongad Yes, my suspicion is it's interfering with some other libraries. Couldn't figure out what it could be. Some more context
1. When I run this code from tests everything works fine. The issue happens when I deploy to tomcat. Tried both tomcat 7 and 8
2. When I created a sample maven project with SpringBoot and embedded tomcat, initially I saw the same issue. But some online post recommended t

[2017-09-13 17:53] shinfan commented on #2309
@JoshuaFox

As you mentioned the setup works okay on the other machine so it looks like an environment issue.

You also mentioned that running emulator directly from command line works which indicates the emulator itself has no problem running on your machine. On the other hand, things failed with your custom Java test runner class (`DatastoreCloudOnTestHelper`) and Maven setup. It would be helpfu

[2017-09-13 18:03] JoshuaFox commented on #2309
`DatastoreCloudOnTestHelper` is nothing special. It just launches the test helper. Here is the essential code.  I will mail you this and the `pom.xml`, though there is not much of interest there.

`helper = LocalDatastoreHelper.create(0.77d);
helper.start();
DatastoreOptions dsOptions = DatastoreCloudOnTestHelper.helper.getOptions();
CrossAppKeysGCloud.getInstance().setOrigAppId(proj);
ds = dsOpti

[2017-09-13 18:55] tejpratap46 commented on #2427
`updated_at` is not java variable it is a indexed property in DataStore Kind.
I'm closing this issue because i asked same [question on stackoverflow.com](https://stackoverflow.com/q/46158662/4751441) and got an answer.

[2017-09-13 18:55] #2427 closed

[2017-09-13 21:05] michaelbausor commented on #2414
Hi @Berg3, a couple of things you could try:
- Upgrade to the latest release (0.23.1) and confirm you are still seeing the same issue
- Have a look at https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2266 - it doesn't seem like exactly the same issue, but it does relate to Jetty.
- Let us know what platform you are running on

[2017-09-13 22:55] frankyn opened #2439 "[Storage] Add Requester Pays support to Blob.downloadTo."
Issue:
`Blob.downloadTo` doesn't support requester pays buckets as a blob source.

Noted solution in [PR#2393](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2393):

Add parameter `BlobSourceOption` to `Blob.downloadTo` to support Requester Pays when downloading a Blob to a local file.

[2017-09-13 23:53] pongad commented on #2407
I have the following suspicion:

The error "Jetty ALPN/NPN has not been properly configured" is usually caused by gRPC not being able to find SSL libraries. Our libraries declare dependency on boringssl to satisfy this. This explains why you don't see it during tests.

Maybe that dependency gets removed from the classpath when you deploy to tomcat?

@vam-google You're more knowledgeable than I am

[2017-09-14 16:08] michaelbausor commented on #2414
Something else you could try is to check and compare what version of netty is installed locally and on the Dataproc cluster. You can use the command `mvn dependency:tree` to get a list of dependencies for your project. You can see only the netty dependencies with `mvn dependency:tree | grep io.netty`

If you find a difference in the netty version, you make want to try explicitly specifying depende

[2017-09-14 17:44] shinfan commented on #2426
@neozwu Looks like an issue running on GAE. Can you take a look?

[2017-09-14 17:55] shinfan commented on #2425
The error is complaining the following columns are required but not set:
AccountTransactionTypeId, CalculatePrice, CreatedDateTime, DecreaseInventory, DepartmentId etc...

[2017-09-14 17:59] halilduygulu commented on #2425
Yes, but i am trying to update a row which already have these column values
in database. So i just want to update one column by using compound primary
key.
Do i have to get and set all not null fields for every update on that row
even i just want to set a boolean column to false. This is impractical.

14 Eyl 2017 20:55 tarihinde "Shin Fan" <notifications@github.com> yazdı:

[2017-09-14 18:12] shinfan commented on #2425
@vkedia This looks like a potential bug. Can you take a look? (since you implemented the Spanner client)

[2017-09-14 18:15] vkedia commented on #2425
This error message indicates that the row does not exist with the given primary keys so it is trying to insert a new row. Are you sure this row exists?
Can you try just using update and see what error do you get?

[2017-09-14 18:16] shinfan commented on #2423
I think this is an issue affecting all auto-gen clients.

@vam-google What are your thoughts on this?

[2017-09-14 18:31] vam-google commented on #2423
Personally I'm not a big fan of final methods and classes. So I would be fine with removing `final` from our generated clients, and I support the mocking argument. I don't know why it was decided to make a non-final class with all-final methods in it (does it even make sense?).

Adding an interface to the client so the interface can be mocked is also fine, but it will be more work and more complex

[2017-09-14 18:37] vam-google commented on #2423
I think not allowing to mock our clients is a big issue (mocking networking part is a very often case in unit testing, so our current situation means that everybody who is using our clients will not be able to write proper unit tests for their code). Changing priority from P2+ to P1.

[2017-09-14 21:03] shinfan commented on #2309
Thanks for the code, I think the `DatastoreCloudOnTestHelper` looks fine.

The `GcloudEmulatorRunner` does not do anything special other than executing the exact command `gcloud beta emulators datastore start` so it should not cause the issue here.

The only difference between a downloaded emulator and the emulator from the gcloud command is the minor version --- the downloaded emulator is `1.2.0`

[2017-09-14 22:23] Berg3 commented on #2414
As I did some more digging, I simplified what I was trying to do to try to isolate the issue since my program was running in a much larger established codebase, and it turns out that I am having I think essentially the same issue as was in the post you mentioned: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2266 So I looked at the post and on the dataproc cluster I followed the

[2017-09-15 03:37] sai-pullabhotla opened #2440 "Datastore - Datastore object creation fails with version 1.5.1"
I'm trying to upgrade from version 1.2.3 of the Datastore API to the latest version, 1.5.1. The below sample code fails creating the Datastore object/service.

[code]

Tests are running on my laptop with gcloud installed. Version 1.2.3 works fine by fetching the defaults (e.g. project/credentials) from Google Cloud SDK. Version 1.5.1 is producing the below exception:

[code]
I have traced it down

[2017-09-15 08:21] halilduygulu commented on #2425
Hey vkedia,

I tried again now. If I just change newInsertOrUpdateBuilder to newUpdateBuilder it works. So the row exists in the database and finalprice column is updated correctly. But i do not understand why insert_or_update does not work on the same row.
[code]

Using insert_or_update gives same error.

[2017-09-15 09:28] munasinghecm opened #2441 "Cloud Pub/Sub Client Error when publishing data"
0down votefavorite | I have followed following example that described Cloud PubSub (gRPC) with Android.https://github.com/rafaelsf80/cloud-pubsub-grpc-android. It works fine alone. But when I add the same code and dependencies to my existing project got following error.
-- | --

`09-15 11:36:14.812 31956-32764/com.example.stl.sciocardioapp E/art: Verification failed on class com.google.pubsub.v1.P

[2017-09-15 13:38] sai-pullabhotla commented on #2440
Running the same code with 1.5.1 on a different network/ISP works fine. The lookup of project ID from the Metadata Server fails as expected with -

[code]
and continues on with the subsequent searches - finds google cloud SDK's configuration file (`config_default`) and finds the correct project ID.

Looks like this is an issue with some ISPs? My ISP at home is Cox and there we are getting a 200 OK

[2017-09-15 14:05] sai-pullabhotla commented on #2440
This is perhaps a classic example of DNS Hijacking by my ISP? Cox is listed on the page below.

https://en.wikipedia.org/wiki/DNS_hijacking#Manipulation_by_ISPs

[2017-09-15 16:01] sai-pullabhotla opened #2442 "DatastoreException - Error Code/Reason are inconsistent when working with Emulator"
I'm trying to implement https://github.com/sai-pullabhotla/catatumbo/issues/172 to throw specialized exceptions in certain cases, more specifically, for `NOT_FOUND` and `ALREADY_EXISTS` errors.

As per this [page ](https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto)-

[code]
This works well and get the expected codes when working with the **real/live GCD**, but when using t

[2017-09-15 18:10] Berg3 commented on #2414
After doing a little more digging, I decided to make sure that OpenSSL is available directly in my project, so I added the following check:

[code]

directly before I instantiate the metric service client. Locally, I get the following print statements printed to console:
[code]

however, despite passing the google-cloud-compat-checker as I mentioned in the previous comment, when I run my program o

[2017-09-15 18:19] salrashid123 opened #2443 "Allow setting ApplicationName/user-agent"
[ServiceOptions](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L75) seems to use a static ApplicationName which gets baked into the user-agent string on the request.

at the moment its

[code]

FR to allow a user to set it ...the useragent string make it all the way into the audit logs:

eg.
[code]
gives

[

[2017-09-15 18:58] kvncp opened #2444 "Add BigQuery API for labelling datasets and tables"
The BigQuery interface currently lacks support for adding labels to datasets and tables:
https://cloud.google.com/bigquery/docs/labels#bigquery-dataset-set-label-java

[2017-09-15 19:26] Berg3 commented on #2414
The issue was because I was running the job as a spark-submit job without specifying:

[code]
so the wrong io.netty jar files were used

[2017-09-15 19:26] #2414 closed

[2017-09-15 21:11] Mistic92 commented on #2398
I just get the same error with Spring Boot 2 M4 release using Jetty or Tomcat. At 1.5.6 its ok.

[2017-09-15 21:13] Mistic92 commented on #2398
I just get similar error with Spring Boot 2.0.0.M4. On 1.5.6.RELEASE its ok

[code]

[2017-09-16 01:10] vkedia commented on #2425
@halilduygulu This is actually working as intended. InsertOrUpdate mutation must satisfy the constraint of Insert therefore you need to provide values for all non null columns. I will update the documentation.

[2017-09-16 14:57] sai-pullabhotla commented on #2440
I changed my DNS at home to Google Public DNS and the issue is resolved. Not sure if there is anything that could be done in the API, like, check the returned string from the metadata server and make sure it is even a valid (length, the characters in the string, etc) project ID.

[2017-09-17 12:24] JoshuaFox commented on #2309
Thank you, running
   `gcloud components remove cloud-datastore-emulator`

allows the unit-tests to pass.

But then, I cannot run our application on the dev machine.   Although our unit tests use the unit-test-oriented `com.google.cloud.datastore.testing.LocalDatastoreHelper`, our application in development runs the command  `gcloud beta emulators datastore start` .

I see this message
`You need t

[2017-09-18 06:59] halilduygulu commented on #2425
Thank you.
Then i should use "update" instead of "insert_or_update" to update only one or two columns right ?
https://cloud.google.com/spanner/docs/reference/rpc/google.spanner.v1#google.spanner.v1.Mutation

[2017-09-18 16:49] vkedia commented on #2425
That's correct.

[2017-09-18 18:09] shinfan commented on #2309
@JoshuaFox I don't think the `beta` does anything here. Both beta and non-beta use the same emulator which is `1.2.1`.

@vam-google @michaelbausor  Can anyone of you take a look at this customer issue? It looks like the 1.2.1 emulator has some regression which caused the connection refused exception. Thank you!