[2018-01-03 20:58] fmatar commented on #2740
@n0mer I had the same issue as well with 0.30 and 0.31

[2018-01-03 20:58] pongad commented on #2714
@JasonNTMK From the issue description, the exception thrown was "The maximum number of batch bytes". This can mean either that you're trying to send too many small logs or some of your logs are large.

It should never be the case that we block permanently. For example, if your byte-limit is 10 bytes but your log is 12 bytes, the flow controller will treat the log is 10 bytes large. It might cause

[2018-01-03 21:04] neozwu commented on #2746
Thank you for your feedback. assigned to @pongad to take a look into this.

[2018-01-03 21:06] neozwu commented on #2745
Hi, thank you for your feedback. Assigned to @garrettjonesgoogle to take a look at this.

[2018-01-03 21:07] neozwu commented on #2744
@mdietz94 thank you for your feedback. Assigned to @pongad to take a look into this.

[2018-01-03 21:10] neozwu commented on #2736
@pongad could you take a look at this? Thanks.

[2018-01-03 21:14] neozwu commented on #2733
@pongad could you help take a look at this ?

[2018-01-03 21:18] neozwu commented on #2737
Looks like the issue is related to GAX. @garrettjonesgoogle @vam-google @pongad can you help take a look and/or triage this ?

[2018-01-03 21:55] jean-philippe-martin commented on #2453
For what it's worth, I also reran the [repro from this thread](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2453#issuecomment-337074454) and ran into the same issue: "com.google.cloud.storage.StorageException: Error code 404 trying to get security access token from Compute Engine metadata for the default service account. This may be because the virtual machine instance does not

[2018-01-03 22:13] mdietz94 commented on #2744
It looks like we do for acks vs. message processing, but that we use the message processing one for recreating StreamingPull connections here: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/431a69f9ad63df8cadcdb480f837e34e123a353f/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/StreamingSubscriberConnection.java#L249

[2018-01-03 22:23] pongad commented on #2731
Some history: we thought it was somewhat dangerous to do this. For example, a small mistake like `PUBSUB_EMULATOR_HOTS=1.2.3.4 delete-all-topics` might delete a bunch of your production topics. It's a judgement call whether the benefits outweighs the risk, but I sympathize with the view that auto-detecting the env var is a bit of a foot-gun.

I think we should go with @jba's suggestion: we'll add

[2018-01-03 22:28] kir-titievsky commented on #2731
I think that would work, with couple questions:
1. Could we name the variable something more generic than "emulator": e.g. detectServiceHost?
2. Is there any special machinery required to make this work with both IP addresses and hosnames?  For example, if a user might want to set the emulator to point to pubsub.googleapis.com explicitly, using the environment variable when testing multiple scenar

[2018-01-03 22:50] n0mer commented on #2740
HTH - "canonical" related issue: https://github.com/grpc/grpc-java/issues/3025

[2018-01-04 00:35] pongad opened #2748 "make standard sql the default"

[2018-01-04 00:36] #2720 closed

[2018-01-04 01:01] n0mer commented on #2740
@garrettjonesgoogle @fmatar in my case problem was in the OS itself. Once i changed OS from `java:8-jre-alpine` to `openjdk:8-jre-slim`, problem disappeared.

[2018-01-04 03:29] pongad commented on #2737
It looks like the problem is that Apache Beam depends on google-cloud-core v1.0.2, but BigQuery v0.32 requires a newer version. Could you try delcaring dependency on
[code]
?

[2018-01-04 07:29] #2744 closed

[2018-01-04 08:07] pongad commented on #2736
The primary problem is that when we generated the docs for the clients, we didn't generate the docs for the protobuf types. I generated the docs for protobuf types, but they don't properly link anything either.

See also: https://github.com/googleapis/api-client-staging/pull/505

[2018-01-04 11:46] JasonNTMK commented on #2714
@pongad Thanks for your help, thats answers all my questions.

[2018-01-04 16:08] garrettjonesgoogle commented on #2731
I second @kir-titievsky 's suggestion of a more general approach.

[2018-01-04 21:41] pongad commented on #2731
@kir-titievsky I'll answer in reverse:

This is a little difficult. The emulator "speaks" plain text and doesn't do SSL encryption. So, either the method automatically sets plain text, assuming that the host in an emulator, or we'll need more than one method.

I have a few designs in my head:

1.
[code]
where `detectEmulator` reads the env var. If the env var isn't empty, we turn off encryption an

[2018-01-04 23:33] hzyi-google commented on #2453
Hi @jean-philippe-martin Thanks for the information.

One thing is if your project uses [dataflow-java-sdk](https://github.com/GoogleCloudPlatform/DataflowJavaSDK), please stick to google-cloud-java 0.22 for the moment. The reason is that google-api-services, a library both DataflowJavaSDK and Google-cloud-java have dependencies on, currently have compatibility issues between two versions. Dataflo

[2018-01-04 23:52] jean-philippe-martin commented on #2453
Thank you @hzyi-google! We are not using dataflow, we're using [Google Cloud Dataproc](https://cloud.google.com/dataproc/) instead but given what we're seen, the same compatibility issue may also appear between these two Google products. I suggest your team contacts their team to address the issue.

For the repro, did you start a dataproc cluster? You have to go to cloud.google.com, click on "data

[2018-01-04 23:55] pongad commented on #2714
Let's keep the issue open until the change lands.

[2018-01-05 01:06] pongad commented on #2722
@kir-titievsky You said in our meeting that it was possible to achieve higher QPS on an older client. I don't think this is possible. The client hasn't actually changed since June. There was a minor update in October, but it changed how channels were constructed, not channels themselves. Load test on the latest release confirms it still pulls ~300MB/s on 8-core GCE instance.

As mentioned in the m

[2018-01-05 03:19] pongad commented on #2721
I don't think it's possible to turn this into compile time error, but the linked PR should help.

[2018-01-05 16:07] NicolaSpreafico opened #2753 "BigQuery: Create new Table using schema from json file"
I have an App Engine Standard Maven project, where a procedure need to create a Table on BigQuery.
[code]

I'm using the sample code provided here https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-bigquery#creating-a-table
[code]

The difference with my need, compared to this example, is that I have a json file which contains the schema. Here is an example:
[code]

[2018-01-05 17:50] kir-titievsky commented on #2721
Compile time errors was indeed a silly request, but I think we could do much better by changing the set of parameters users actually set like so:

Given this clause:
[code]
I propose we deprecate ```setTotalTimeout``` and replace it with ```setTotalTimeoutPadding``` which sets the private total timeout to MIN_TOTAL_TIMEOUT + PAD.

Similarly, given
[code]
we replace setInitialRpcTimeout with setIni

[2018-01-05 18:53] mdietz94 commented on #2722
Ah yes, actually I forgot these settings were not the default, with these and a 50ms timeout for batching I would expect much better results.

[2018-01-05 19:33] pongad commented on #2721
@kir-titievsky I think the problem is that `RetrySettings` isn't specific to pubsub, it is shared with many other  clients where the pad might not make sense. So while I think your proposal make things less error prone, the API might not work.

It also doesn't help with the case where you forget to set a value. In the linked PR, a new method makes it so you can't forget.

[2018-01-06 02:22] int08h commented on #2735
I ran into this too. Stacktraces do not get logged, nor does Stackdriver Error Reporting receive them.

Docs say otherwise: from [Setting Up Stackdriver Error Reporting for Java](https://cloud.google.com/error-reporting/docs/setup/java)
[code]

May be a dupe of #2587.

[2018-01-06 02:23] int08h commented on #2587
See also #2735

[2018-01-06 04:11] #2714 closed

[2018-01-06 20:08] NicolaSpreafico commented on #2753
This is a "homemade" deserializer I made for this need. Wondering if there is already something built-in
[code]

[2018-01-07 09:47] NicolaSpreafico commented on #2553
While the question seems to be unchanged since 27 Oct, I wrote a custom deserializer which allow to deserialize a json schema to` com.google.cloud.bigquery.Schema` object

You can find the source here
https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2753

[2018-01-07 09:48] NicolaSpreafico commented on #2308
While the question seems to be unchanged since 7 Aug, I wrote a custom deserializer which allow to deserialize a json schema to` com.google.cloud.bigquery.Schema` object

You can find the source here
https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2753

[2018-01-08 00:49] pongad commented on #2668
Due to both age and the fact that this is almost definitely a GRPC problem, I'll close this for now. Please reopen if required.

[2018-01-08 00:49] #2668 closed

[2018-01-08 00:50] pongad commented on #2644
Resolved by the aforementioned PR

[2018-01-08 00:50] #2644 closed

[2018-01-08 00:52] pongad commented on #2622
I synced up with Kir a while back and this seems to have been resolved. Please reopen if required.

[2018-01-08 04:16] pongad commented on #2479
The exception is created from the lower-level autogenerated client. The problem seems to be that API definition requires that the field be set, but the server isn't setting it. I reached out to the BigQuery team to see what the intended behavior is here.

[2018-01-08 04:31] pongad commented on #2746
@meltsufin This might be a stupid question, but is there actually a difference?

At the implementation level, IIUC, after you call `threadLocal.remove()`, the next call to `threadLocal.get()` will return whatever `threadLocal.initialValue()` returns. In this case, `initialValue` returns `null`. So I don't think you can tell the difference between `set(null)` and `remove()`, can you?

[2018-01-08 08:23] hairybreeches commented on #2622
@pongad I wasn't aware that this issue had been fixed - has it been fixed now or are you saying it's not a priority to be fixed right now?

[2018-01-08 11:04] bitkid opened #2756 "CloudStorageFileSystem: can not list content of root directory"
[code]
println(Files.list(it.getPath("/")).toList().size) throws an exception
java.lang.IllegalArgumentException: I/O not allowed on empty Google Cloud Storage object names.

[2018-01-08 15:32] meltsufin commented on #2746
@pongad It's not a stupid question, but yes, there is a slight difference. The `remove()` deletes the whole thread-local map entry, whereas `set(null)` leaves the entry hanging with a `null`, "polluting" the thread in a way.
This is relevant in scenarios where threads get reused from a pool, and we need to clean up the threads before returning to the pool.
Indeed, the next call to `get()` will cre

[2018-01-08 17:25] hzyi-google commented on #2453
@jean-philippe-martin Thanks for the repro steps. The Dataproc team has been notified.

[2018-01-08 19:04] garrettjonesgoogle commented on #2732
I'm not really sure what to call a release level for a client that is no longer receiving updates - do we have precedent anywhere? It's potentially a different dimension from release level - for example, you could have a GA client that is no longer receiving updates. Even if we added some kind of note, "alpha" may still be appropriate.

As for misleading: Yes, google-cloud-java is the preferred cl

[2018-01-08 19:38] Ronpgo commented on #1810
Hi, any updates on this?
We would love to use it soon.

[2018-01-08 22:39] #2636 closed

[2018-01-08 23:03] stickfigure commented on #2629
I can successfully sign urls with the default storage options (on Java8 GAE Standard) using google-cloud 0.20.3-alpha. When I upgrade to 0.32.0-alpha I see this error.

I've reverted to the old version.

[2018-01-08 23:16] pongad commented on #2622
I must have misunderstood Kir earlier. I'll reach back out to make sure.

[2018-01-08 23:18] #2733 closed

[2018-01-08 23:24] pongad commented on #2722
Since the underlying problem and mitigation is well understood, I'll go ahead and close this. Please reopen if required.

[2018-01-08 23:24] #2722 closed

[2018-01-09 01:43] jean-philippe-martin commented on #2453
Thank you! You say they found the problem and have a fix already for the next version? Wow that's fast!

[2018-01-09 01:58] pongad opened #2758 "all: license headers shouldn't have "All rights reserved""
Originally reported by @tswast

Per https://opensource.google.com/docs/releasing/preparing/#include-license-file-and-source-code-headers the top line should be Copyright 2017 Google LLC (no All rights reserved.)

[2018-01-09 02:00] AgentME opened #2759 "Spanner: Add API for binding lists of tuples into queries"
Spanner supports queries with lists of tuples: `SELECT * FROM Foo WHERE (a, b) IN (("x", 1), ("y", 2))`. The Spanner API library's Statement builder seems to not support any way of binding the tuple list dynamically into the query. As far as I can tell, there's no way to give it a string like `SELECT * FROM Foo WHERE (a, b) IN @var` and construct a query like the one above. (I imagine that value w

[2018-01-09 03:08] pongad commented on #2746
I see. So the difference is memory consumption. I'll make this change.

[2018-01-09 05:12] pongad commented on #2591
Everything done now. We're going to merge back to master.

[2018-01-09 05:12] #2591 closed

[2018-01-09 17:17] kir-titievsky commented on #2622
So, I think the root of the issue is that streamingPull connections get closed after something like 30 seconds of inactivity and can't survive for longer than 30 minutes.  Re-building the connections will lead to elevated duplicate message delivery.  The fixes to mitigate that server-side are rolling out in the next couple weeks.

This has two possible implications for the client library:
- If we

[2018-01-09 17:28] hzyi-google commented on #2453
Closing it for now since nothing needs to be fixed in the repository. Feel free to comment and ask for reactivating if there are other problems related to this issue.

[2018-01-09 17:50] lbergelson commented on #2453
Thanks you for the help!

[2018-01-09 21:35] pongad commented on #1381
I'll fix the emulator.

[2018-01-10 00:52] #2758 closed

[2018-01-10 03:23] pongad commented on #2735
Sorry for the delay, I just got cycles to investigate this.

Investigation so far: I was able to do this
[code]
and the stack seems to be logged OK.

This problem is probably with the logback appender, not with logging proper. I'll continute investigating this, but also assigning to @jabubake who has more context.

[2018-01-10 05:23] igorbernstein2 commented on #2671
FYI, the changes have been merged and will be available in the next gax release

[2018-01-10 21:45] kir-titievsky commented on #2731
Fix post GA.

[2018-01-10 23:30] pongad commented on #2737
Since this thread is quiet, I'll close this for now. Please reopen if this doesn't fix your issue.

[2018-01-10 23:30] #2737 closed

[2018-01-10 23:32] pongad commented on #1381
Emulator fix landed in Google internal repo. I'll leave this open until the change made its way out.

[2018-01-10 23:36] hzyi-google commented on #428
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-10 23:38] hzyi-google commented on #467
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-10 23:39] hzyi-google commented on #550
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-10 23:39] hzyi-google commented on #623
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-10 23:42] pongad commented on #2479
This is a problem with BigQuery API description itself. I'll downgrade this to P2, since BQ team is tracking it at P2.

[2018-01-10 23:42] #682 closed

[2018-01-10 23:46] hzyi-google commented on #1343
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-10 23:46] #1343 closed

[2018-01-10 23:47] hzyi-google commented on #1431
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-10 23:48] hzyi-google commented on #1445
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-10 23:48] #1445 closed

[2018-01-10 23:52] hzyi-google commented on #1518
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1445). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-10 23:52] #1518 closed

[2018-01-11 00:02] hzyi-google commented on #1559
This is added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 00:02] #1559 closed

[2018-01-11 00:04] hzyi-google commented on #1573
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 00:04] hzyi-google commented on #1609
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 00:04] #1609 closed

[2018-01-11 00:06] hzyi-google commented on #1629
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 00:06] #1629 closed

[2018-01-11 00:10] hzyi-google commented on #1974
This has been added to the feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 00:10] #1974 closed

[2018-01-11 00:19] vam-google commented on #2308
Closing this as a duplicate of https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2553 (which was created later, but has a wider scope, that is why keeping it).

[2018-01-11 00:19] #2308 closed

[2018-01-11 00:27] vam-google commented on #2753
Hi @NicolaSpreafico,
Unfortunately there is currently no way to import a json schema in bigquery java client (as you discovered, there are already pending feature requests for it).

Thanks a lot for the custom deserializer sample, I looks like a good workaround for now.
I'll have to close this one as a duplicate of https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2553 (keeping only

[2018-01-11 00:27] #2753 closed

[2018-01-11 00:52] vam-google commented on #2759
Hi @AgentME,

To the best of my knowledge it is currently not implemented. Please check some (weak) reasoning below.

It looks like you are encountering a common nuisance for "querying" clients/apis. A similar issue exist in relational DBs world, where a prepared statement (a precompiled SQL statement) can have various number of scalar params (i.e `?` signs (or named `@vars`) in the query), but ca

[2018-01-11 01:08] vam-google commented on #2756
Hi @bitkid,

Can you please post a more comprehensive example (preferably in Java).
According to the provided description: `it.getPath(".")` is used, but the exception is thrown for `it.getPath("/")` (different path, which is odd).

In any ways seems like a bug, since yes, an `IllegalArgumentException` will be thrown at [CloudStoragePath.java#L143](https://github.com/GoogleCloudPlatform/google-clo

[2018-01-11 01:23] AgentME commented on #2759
Thanks for the response! I'm reassured to know I'm not committing too terrible of a sin by constructing the query string dynamically myself.

Does the spanner client library have any utility functions I should be making use of for escaping strings?

[2018-01-11 07:46] NicolaSpreafico commented on #2753
Thank you, I subscribed to the still open issue

[2018-01-11 17:32] hzyi-google commented on #2224
Move this feature request to [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. The issue can continue to be used for comment and discussion.

[2018-01-11 17:32] #2224 closed

[2018-01-11 17:35] hzyi-google commented on #2205
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 18:18] hzyi-google commented on #2187
Move this issue to feature backlog:  https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog and close it here. The issue can continue to be used for comment and discussion.

[2018-01-11 18:18] #2187 closed

[2018-01-11 18:22] hzyi-google commented on #2181
This has been added to the feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 18:22] #2181 closed

[2018-01-11 18:28] hzyi-google commented on #2117
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 18:28] #2117 closed

[2018-01-11 18:43] #2084 closed

[2018-01-11 18:46] hzyi-google commented on #2076
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 18:46] #2076 closed

[2018-01-11 18:47] hzyi-google commented on #2000
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 18:47] #2000 closed

[2018-01-11 19:47] hzyi-google commented on #1874
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 19:47] #1874 closed

[2018-01-11 19:50] hzyi-google commented on #1839
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 19:50] #1839 closed

[2018-01-11 19:53] hzyi-google commented on #1838
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 19:53] #1838 closed

[2018-01-11 19:57] hzyi-google commented on #1837
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 19:57] #1837 closed

[2018-01-11 20:03] hzyi-google commented on #1804
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:03] #1804 closed

[2018-01-11 20:07] hzyi-google commented on #1810
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:08] pmkc opened #2769 "it's very difficult to unit test with non-publicly-constructable data types"
I am writing a small wrapper around google-cloud-bigquery that is illustrated by

[code]

When I go to unit test this method I have to mock out `Table` and `StandardTableDefinition`, because `Table` doesn't have a public builder and `StandardTableDefinition`'s public builder does not have a public `setNumRows`.

This less usable than the underlying generated library where I can construct all the m

[2018-01-11 20:10] hzyi-google commented on #1805
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:10] #1805 closed

[2018-01-11 20:12] hzyi-google commented on #1792
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:12] #1792 closed

[2018-01-11 20:13] hzyi-google commented on #1786
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:13] #1786 closed

[2018-01-11 20:13] hzyi-google commented on #1778
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:14] #1778 closed

[2018-01-11 20:19] hzyi-google commented on #1740
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:19] #1740 closed

[2018-01-11 20:20] hzyi-google commented on #1676
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:20] #1676 closed

[2018-01-11 20:21] hzyi-google commented on #1657
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:21] #1657 closed

[2018-01-11 20:22] hzyi-google commented on #1643
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:22] #1643 closed

[2018-01-11 20:22] hzyi-google commented on #1637
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 20:22] #1637 closed

[2018-01-11 20:53] danoscarmike commented on #2503
@garrettjonesgoogle ping.  What's the strategy here?  do we need to update Datastore dependencies?  Or perhaps we have already?

[2018-01-11 20:59] danoscarmike commented on #2411
Ping @michaelbausor - what are next steps here?

[2018-01-11 21:02] hzyi-google commented on #1610
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:02] #1610 closed

[2018-01-11 21:06] hzyi-google commented on #1537
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:06] #1537 closed

[2018-01-11 21:11] hzyi-google commented on #1265
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:11] #1265 closed

[2018-01-11 21:12] garrettjonesgoogle commented on #2503
An update will be coming today.

[2018-01-11 21:15] hzyi-google commented on #1238
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:15] #1238 closed

[2018-01-11 21:41] hzyi-google commented on #1603
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:41] #1603 closed

[2018-01-11 21:42] michaelbausor commented on #2411
@garrettjonesgoogle Are we planning on kicking off work to migrate from Maven to Gradle soon? (https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1587) If so, this issue may be best handled as part of that transition.

[2018-01-11 21:48] jakub-bochenski commented on #2411
I just found this has been fixed in db0fdb18a562b1f11c06839fd1b2f677d197cb00#diff-c7d3811896974c0e04fd2160fb779ad0

I see it removed the offending sections from multiple poms, though the commit message makes no mention of it

[2018-01-11 21:49] hzyi-google commented on #2248
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:49] #2248 closed

[2018-01-11 21:50] hzyi-google commented on #2250
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:50] #2250 closed

[2018-01-11 21:51] hzyi-google commented on #2295
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:51] #2295 closed

[2018-01-11 21:55] hzyi-google commented on #2296
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:55] #2296 closed

[2018-01-11 21:55] hzyi-google commented on #2236
The feature request is added to the [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). The issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-11 21:55] #2236 closed

[2018-01-11 23:46] samtstern opened #2771 "Firestore: DocumentReference#getCollections() should be async"
Most of the Firestore operations return `ApiFuture<T>`.  The method `DocumentReference#getCollections()` returns an `Iterable<CollectionReference>` but it should probably return `ApiFuture<Iterable<CollectionReference>>` since it calls over the network.

[2018-01-11 23:46] samtstern commented on #2771
cc @schmidt-sebastian

[2018-01-12 00:47] schmidt-sebastian commented on #2771
The ApiIterable class opens a network connection only when you first ask for data and not when the method executes. This behavior is similar to calling .get() on an ApiFuture.

[2018-01-12 00:50] samtstern commented on #2771
Should we explicitly return `ApiIterable` to indicate that?  Or is that not the normal style?

[2018-01-12 01:08] nfallen commented on #2479
Hi, Big Query API team member here. The API description and the autogenerated client are working as intended. The root cause is that [BigQuery.query calls getQueryResults whether or not the query is a dry run.](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryImpl.java#L599) A dry run does not actually execut

[2018-01-12 02:09] schmidt-sebastian commented on #2771
The Iterable is extracted from the `UnaryCallable` that the generated layer returns. It's signature is ` UnaryCallable<ListCollectionIdsRequest, ListCollectionIdsPagedResponse>`, which is not something I would like to impose on our users.

In the first pass of the review for this client, the method did in fact return an `ApiFuture<Iterable>`, but we changed it to just return an Iterable after init

[2018-01-12 04:09] pongad commented on #2479
@nfallen You're right. I wasn't looking closely enough. Created PR to fix this.

[2018-01-12 15:59] rcoy-v commented on #2588
@pongad Is there a timeframe when this fix will be available? `1.16.0` of gax-java is still not used in a released version of pubsub, unless I'm mistaken. It seems I should not explicitly use a different version of gax-java that is out of step with google-cloud-java either.

[2018-01-12 16:13] garrettjonesgoogle commented on #2503
The update was merged yesterday: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2770

We still need to publish a release to include it.

[2018-01-12 21:00] hzyi-google commented on #2303
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:00] #2303 closed

[2018-01-12 21:02] hzyi-google commented on #2316
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:02] #2316 closed

[2018-01-12 21:05] hzyi-google commented on #2321
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:05] #2321 closed

[2018-01-12 21:06] hzyi-google commented on #2333
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:06] #2333 closed

[2018-01-12 21:07] hzyi-google commented on #2343
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:07] #2343 closed

[2018-01-12 21:09] hzyi-google commented on #2348
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:09] #2348 closed

[2018-01-12 21:12] hzyi-google commented on #2349
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:12] #2349 closed

[2018-01-12 21:14] lesv opened #2775 "FR: support for HTTP proxy & SOCKS proxy"
Many corporate networks require the use of either a [HTTP Proxy](https://en.wikipedia.org/wiki/Proxy_server) or a [SOCKS](https://en.wikipedia.org/wiki/SOCKS) proxy.  Our client libraries should support this.

@bullet-tooth in google/google-auth-library-java#127 asked that we support both an `HTTP_PROXY` and `SOCKS_PROXY` in our auth libraries.  We need to also support through all the client libra

[2018-01-12 21:14] lesv opened #9099 "FR: support for HTTP proxy & SOCKS proxy"

[2018-01-12 21:14] hzyi-google commented on #2351
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:14] #2351 closed

[2018-01-12 21:17] hzyi-google commented on #2397
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:17] #2397 closed

[2018-01-12 21:19] hzyi-google commented on #2432
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:19] #2432 closed

[2018-01-12 21:21] jonparrott commented on #2775
Does gRPC work over proxy as well? (I assume so)

Most HTTP clients respect the `http_proxy` and `https_proxy` environment variables (originated from CURL), could we do similar here?

[2018-01-12 21:23] hzyi-google commented on #2444
This has been added to our feature backlog: https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog . This issue will be closed but is linked in the backlog and can continue to be used for comment and discussion.

[2018-01-12 21:23] #2444 closed

[2018-01-12 21:41] lesv commented on #2775
Apparently gRPC does (or will) support HTTP_PROXY grpc/grpc#9561, but not SOCKS grpc/grpc-java#2193.

[2018-01-12 21:48] bullet-tooth commented on #2775
My case was with using [Spanner Client](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-spanner) that works over gRPC and netty. And yes, you can configure proxy environment variable that should be visible for netty:
`export HTTP_PROXY=<host>:<port>` or `export HTTPS_PROXY=<host>:<port>`

[2018-01-12 22:46] garrettjonesgoogle commented on #2411
Correct, this is fixed now. Closing issue.

[2018-01-12 22:46] #2411 closed

[2018-01-12 23:39] vkedia commented on #1810
I am working this now so reopening. Sent an initial #2776 for the interface. Anyone interested feel free to leave comments on that.

[2018-01-14 15:00] mt3593 commented on #2740
In mine the fix was to add an extra jar to the `boot dependency` the https://mvnrepository.com/artifact/org.mortbay.jetty.alpn/alpn-boot.
It's not a normal dependency this needs to be added to the bootclasspath (this is a javac command line)

I use Clojure with lein so the bit I needed to add to the project.clj was:
[code]

Don't really know allot about the bootclasspath but from my reading this i

[2018-01-16 12:32] gokulakannanm opened #2777 "Record leaf types are not supported.repeated"
I am trying to stream data using _insertAll_ API to a column with type **Record** which has a **Nested Record** with **Repeated** mode.

But the insert failed with message:
Record leaf types are not supported.repeated

[2018-01-16 18:34] vchudnov-g commented on #2687
@ihsanhaikalz  Is `CustomRole341` defined? Did you go through the procedure in https://cloud.google.com/iam/docs/creating-custom-roles#creating_a_custom_role to create it before trying to use it? Do you get the same error if you use one of the pre-defined roles?

[2018-01-16 18:42] vam-google commented on #2769
I agree that being able to construct model objects has value and it would make the google-cloud-java clients more usable and testable.

For your particular case, I believe the problem is in the overall approach chosen for the manual portion of google-cloud-java clients (BigQuery is one of them). It uses "thick" objects, which not only represent model, but also encapsulate the actual client. I.e. w

[2018-01-16 19:08] vam-google commented on #2759
To the best of my knowledge it does not. I'm not en expert on the Spanner client, but it seems the only thing which marginally facilitates dynamic query creation is `Statement.Builder.append(String)` method, which allows to append stuff to the query, but it does not escape but only checks for non-null. In other words escaping should be done manually.

@vkedia Please advice on what we can do here.

[2018-01-16 19:41] lesv commented on #2687
@ihsanhaikalz Where are you running this?
@jabubake PTAL

In general, default service accounts are provided to GCP and GAE to run your code, you need to add whatever scope is needed beyond the `https://www.googleapis.com/auth/cloud-platform` scope to your default service account using Cloud Console IAM & admin > IAM

You can also provide a custom service account json file and use that instead of t

[2018-01-16 19:47] joaoandremartins opened #2778 "Integration tests stall when installing locally"
I followed the instructions in https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/CONTRIBUTING.md, but all the integration tests got stuck indefinitely, some throwing error messages and either resuming or staying stalled.

I eventually had to use the -DskipTests flag to install.

[2018-01-16 19:49] garrettjonesgoogle commented on #2778
I personally use -DskipITs when I install.

[2018-01-16 20:04] adirastogi commented on #2759
@AgentME  It's ugly but you can rewrite your query to join over array parameters for individual columns using the offset and then join it against the table, like so:
[code]

[2018-01-16 20:59] pmkc commented on #2769
I'm not sure how dangerous adding `@VisibleForTesting` and public to `Table.Builder`'s internal constructor, would be, but I understand it exposes implementation details of a thick object albeit one that just delegates to a `BigQuery` object.

Making all fields of the pure datatype `StandardTableDefinition.Builder` settable on the other hand, would not in anyway expose implementation details.

[2018-01-16 21:18] vkedia commented on #2759
Thanks @adirastogi . Since this is a limitation of the underlying API and not really of the java library, I will close this issue.

[2018-01-16 21:18] #2759 closed

[2018-01-16 22:08] wsh commented on #2621
I believe #2770 fixed this. :)

[2018-01-16 23:19] pongad commented on #2479
It's not possible to get rows from a dryrun, but the PR will make it more clear why it doesn't work.

[2018-01-16 23:19] #2479 closed

[2018-01-17 06:05] #2748 closed

[2018-01-17 16:26] joaoandremartins opened #2781 "Don't set versions of external dependencies in BOM"
For example, in https://github.com/GoogleCloudPlatform/google-cloud-java/blob/184c219c7a7d38bd8146e3a4d35f0972a1d24a10/google-cloud-bom/pom.xml#L136 we're setting the version of `netty-tcnative-boringssl-static`. This conflicts with the version we're using in [spring-cloud-gcp](https://github.com/spring-cloud/spring-cloud-gcp).

If users build their application, they get

[code]

Ideally, BOMs onl

[2018-01-17 16:41] garrettjonesgoogle commented on #2781
One of the biggest benefits people get from the google cloud BOM is gettings the correct tcnative dependency. If it conflicts with what you're using, then it probably conflicts with google-cloud-java at large (well, through grpc).

Now you say that BOMs should only export the versions of the modules the project implements, but doesn't spring-cloud-gcp export a bunch of dependencies not in spring-c

[2018-01-17 17:51] mataide commented on #2577
The documentation still not yet updated. https://firebase.google.com/docs/firestore/query-data/listen
Have anyone tried how to implement this?

[2018-01-17 18:14] schmidt-sebastian commented on #2771
This works as intended. Closing.

[2018-01-17 18:14] #2771 closed

[2018-01-17 20:34] joaoandremartins commented on #2781
Who is causing the tcnative issue -- google-cloud-java or netty? If the former, I understand google-cloud-java must add it until the issue is fixed on their side. If netty, then you should probably only recommend the usage of a specific version of tcnative and not put anything on the bom.

We're facing a similar question on our end -- you are providing tcnative's version that is incompatible with

[2018-01-17 22:58] hzyi-google commented on #1485
Hi @sai-pullabhotla

Not sure if you still have the issue but hope this is helpful to you. For now datastore does not support GQL queries which take an entity as a parameter according to [Datastore GQL reference](https://cloud.google.com/datastore/docs/reference/gql_reference).

Datastore does provide several ways to query entities depending on what you want to get for the query. If you would like

[2018-01-18 00:18] pongad commented on #2231
Is there an action item here? IIUC, setting `GOOGLE_APPLICATION_CREDENTIALS` is recommneded per [auth documentation](https://cloud.google.com/docs/authentication/getting-started)

[2018-01-18 00:40] pongad commented on #2426
I verified that this works as intended as of latest release.

The `publish` method returns `Future<String>` without actually waiting for the message to be published. You can try calling `publish(pubsubMessage).get()` which will wait for the message to be published and return the message ID or throws an exception explaining why the message cannot be published. That should give us more information t

[2018-01-18 00:40] #2426 closed

[2018-01-18 00:44] pongad commented on #1522
I'll consider this duplicate of #1331. Please reopen if you believe otherwise.

[2018-01-18 00:44] #1522 closed

[2018-01-18 00:57] samtstern opened #2788 "[Firestore] Permission denials different when using `GOOGLE_APPLICATION_CREDENTIALS` versus setCredentials"
I've got the following piece of code in the Firestore snippets:

[code]

I can initialize Firestore in two ways:

**Option 1: Environment var**

[code]

[code]

**Option 2: Explicit**

[code]

In both cases **most** of my API calls work (read, write, update, etc).  However in the case of using the `GOOGLE_APPLICATION_CREDENTIALS` environment variable I get failures when running transactions and ca

[2018-01-18 00:59] pongad commented on #1689
I'm sorry I didn't see this earlier. `v0.33.0` have changed a lot of BigQuery internals to reduce the number of RPC calls and the like. This should have made the problem outlined in [this comment](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1689#issuecomment-290241141) go away. Due to that and the age of this issue, I'll close this for now. Please file a new issue if this persi

[2018-01-18 00:59] #1689 closed

[2018-01-18 01:03] pongad commented on #2788
This sounds like a Firestore-specific problem. Sebastian, can you take a look?

[2018-01-18 01:19] samtstern commented on #2788
@pongad I kind of suspect it's related to application default credentials in general.  Sebastian has not been able to reproduce on his machine.

[2018-01-18 01:31] schmidt-sebastian commented on #2788
I suspect that this might be a threading issue in GRPC itself, since it's actually the `DocumentSnapshot snapshot = transaction.get(docRef).get()` call that is failing. When run inside a transaction, this call is (by default) running on the GRPC executor thread and somehow not picking up the right credentials. Even with Sam's exact setup, I am not able to reproduce this.

Can you route this over t

[2018-01-18 01:38] #2650 closed

[2018-01-18 01:39] #2746 closed

[2018-01-18 04:08] chanseokoh commented on #2231
One action item I suggest: make DLP not pick up the gcloud application default credential. The confusing error message about the gcloud project is because of this.

BTW, DLP is probably not the only API that is disabled in the gcloud project.

[2018-01-18 19:15] hzyi-google commented on #2423
Moving this issue to feature request [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog).

[2018-01-18 19:15] #2423 closed

[2018-01-18 19:30] hzyi-google commented on #2621
Close the issue since it's fixed. Please reopen if there still is work to be done.

[2018-01-18 19:30] #2621 closed

[2018-01-18 22:36] wsh commented on #2442
Hey there @sai-pullabhotla! This has been fixed with the latest emulator release, version 1.4.0. This change hasn't been released to the gcloud SDK component (it should be there next week) but, if you'd like a preview, you can [download the emulator stand-alone from here](https://storage.googleapis.com/gcd/tools/cloud-datastore-emulator-1.4.0.zip). Thanks for your patience and help here. :smile:

[2018-01-19 00:12] pongad commented on #2231
@garrettjonesgoogle I believe the gcloud default credential is automatically looked up by `GoogleCredentials.getApplicationDefault` which also looks up `GOOGLE_APPLICATION_CREDENTIALS` env var right?

@chanseokoh To make sure I understand you right, we should ignore the gcloud default (set on gcloud command) but continue to look up the env var?

[2018-01-19 00:13] pongad commented on #1331
According to @garrettjonesgoogle , the latest release should shade netty and this should no longer be a problem.

Due to age of issue, I'll close this, but please either reopen or open a new issue if you continue to experience problems.

[2018-01-19 00:13] #1331 closed

[2018-01-19 00:17] pongad commented on #2587
I believe this is duplicate of #2735 like @int08h said. IIUC, the "standard" google-cloud-logging does not have this issue. I'll close as duplicate, but please reopen if I misunderstand.

[2018-01-19 00:17] #2587 closed

[2018-01-19 00:18] pongad commented on #2499
Looks like the issue has been resolved. I'll close this.

[2018-01-19 00:18] #2499 closed

[2018-01-19 00:19] pongad commented on #2503
The release was cut yesterday and this issue should be resolved. Please reopen if you continue to see this problem with latest release.

[2018-01-19 00:19] #2503 closed

[2018-01-19 00:22] pongad commented on #2315
I'll close this due to inactivity. Please reopen if you are still seeing this problem.

[2018-01-19 03:44] pongad commented on #2567
Loading from the machine does work. It is in [`table.insert`](https://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/index.html?com/google/cloud/bigquery/package-summary.html). It does not handle JSON though and you need to create rows explicitly.

One way to help with this is creating a json->Iterable<RowToInsert> converter. I've added this to [feature wiki](https://github.com/Goo

[2018-01-19 03:44] #2567 closed

[2018-01-19 10:16] ensonic opened #2793 "LocalDatastoreHelper uses org.threeten.bp.Duration instead of the jdk version"
Could you please use java.time.Duration? Any reason for why to use the backport?

[2018-01-19 14:54] garrettjonesgoogle commented on #2793
We are still Java 7 compatible - java.time.Duration was added in Java 8.

[2018-01-19 15:18] chanseokoh commented on #2231
@pongad yeah, I think that is ideal, for APIs like DLP for which the internal gcloud project specifically disables. It should of course be able to get a credential through the env var.

[2018-01-19 18:22] santhh opened #2794 "Error with spring boot in app engine java 8 standard"
Hello: I was trying to configure my first spring boot project in app engine.  As soon as I add the dependancy, I get this error below. Any idea what may be causing this?

Suppressed:
[INFO] GCLOUD: 	|java.lang.RuntimeException: Error scanning entry autovalue/shaded/com/google$/common/collect/$Maps$FilteredEntrySortedMap$SortedKeySet.class from jar file:///Users/masudhasan/Documents/workspace-sts-3

[2018-01-19 23:51] hzyi-google commented on #2467
Move this feature request to [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can continue to be used for discussion.

[2018-01-19 23:51] #2467 closed

[2018-01-20 00:14] songy23 opened #2795 "monitoring.v3.MetricServiceClient throws StatusRuntimeException: UNAVAILABLE: HTTP/2 error code: NO_ERROR"
Hi,

I have an exporter that repeatedly call MetricServiceClient.createTimeSeries() and upload data. Occasionally, after running for some time, the MetricServiceClient will throw a StatusRuntimeException saying:

[code]

Any idea why this happens? Does this have any impact on the uploaded data?

[2018-01-20 18:02] sparhomenko opened #2796 "LoggingHandler hangs the thread"
Our application is running on Google Kubernetes Engine using `gcr.io/google-appengine/jetty` image and used `com.google.cloud.logging.LoggingHandler` to publish logs on Stackdriver. We noticed some worker threads becoming unresponsive over time. When the pod is shutting down we can see the following exception for each:
[code]
We'll try to extract a thread dump to see why the future never completes

[2018-01-21 13:07] JoshuaFox opened #2797 "ConcurrentModificationException in Google Cloud Logging"
Getting this exception in the `LoggingImpl`. Using  Flexible Environment
Using  `commons-logging:commons-logging` version  1.2
[code]

See also https://issuetracker.google.com/issues/72150069

[2018-01-21 13:19] JoshuaFox commented on #2797
[This seems related (search for ConcurrentModificationException)](http://googlecloudplatform.github.io/google-cloud-java/0.20.3/changelog.html), but is fixed in an *earlier* version of Gogle Cloud Logging

[2018-01-21 13:21] #2797 closed

[2018-01-21 19:10] garrettjonesgoogle commented on #2231
@pongad I believe your understanding is correct.

[2018-01-22 00:23] pongad commented on #2398
As of the latest release, we've begun shading netty. As I understand this, this should now be solved. I'll close this but please reopen if issue persists.

[2018-01-22 00:23] #2398 closed

[2018-01-22 00:25] pongad commented on #2727
Issue seems to already been resolved.

[2018-01-22 00:25] #2727 closed

[2018-01-22 00:25] #2735 closed

[2018-01-22 00:38] pongad commented on #2796
This seems related to #1795. The underlying client provides no way to initiate a flush.

@sparhomenko Do you have a sense of how long we're waiting? The above bug might cause us to wait a few seconds, but it shouldn't cause a prolonged hang. I agree that the wait with no timeout is a problem, but I want to understand the problem better before sending fixes.

[2018-01-22 00:44] pongad commented on #2793
Since we need Java 7 compatibility, I'll close this as infeasible. We'll migrate to `java.time.*` when we're able to drop Java 7 support.

[2018-01-22 00:44] #2793 closed

[2018-01-22 02:19] pongad commented on #2486
@asuresh4 This is because you are using the `listDatasets` method. The method can only populate some fields (see [doc](https://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/com/google/cloud/bigquery/BigQuery.html#listDatasets-com.google.cloud.bigquery.BigQuery.DatasetListOption...-)) since many fields are not populated by the [BigQuery API](https://cloud.google.com/bigquery/docs/r

[2018-01-22 02:19] #2486 closed

[2018-01-22 04:41] pongad commented on #2672
IIUC, Storage objects cannot be "renamed". To rename, you must copy to the new place and delete the original. This [doc](https://cloud.google.com/storage/docs/renaming-copying-moving-objects) provides some code samples.

[2018-01-22 04:41] #2672 closed

[2018-01-22 04:43] pongad commented on #2654
I'll close this since it has not been updated for a while. Please reopen if required.

[2018-01-22 04:43] #2654 closed

[2018-01-22 06:27] pongad commented on #2289
I tried out the `pom.xml` you pasted. The exception is `java.lang.NoClassDefFoundError: com/google/common/base/MoreObjects`.

This is caused by Spigot and Bukkit import Guava version 17, but Translate requiring 19. If a newer version of Spitgot/Bukkit that uses newer Guava is available, using that should solve the problem. Otherwise, you could try adding

[code]

[2018-01-22 06:27] #2289 closed

[2018-01-22 06:29] pongad commented on #2491
@garrettjonesgoogle Since we're already shading netty, is there anything stopping us from shading guava too?

[2018-01-22 06:35] pongad commented on #2576
I'll close this due to inactivity. Please reopen if required.

[2018-01-22 06:35] #2576 closed

[2018-01-22 06:36] pongad commented on #2655
@wsh Can you help?

[2018-01-22 06:42] pongad commented on #2699
I'll close this for inactivity. That said, I believe the classes are in the JAR as of the latest release. I downloaded the JAR from [Maven](https://mvnrepository.com/artifact/com.google.cloud/google-cloud-translate/1.15.0) and

[code]

[2018-01-22 06:42] #2699 closed

[2018-01-22 13:43] sai-pullabhotla commented on #2442
@wsh - Thanks for the update. I will check it out and let you know.

[2018-01-22 14:08] sai-pullabhotla commented on #1485
My understanding is that the methods in question are primarily for embedded entities (e.g. an Address inside a Customer entity). It is evident that such queries are not allowed/supported by the Datastore. If that's the case, the corresponding methods should be removed from the public API, or throw an UnsupportedOperationException rather than sending the query to Datastore and then fail.

[2018-01-22 14:34] bigunyak commented on #2735
Hm, I've just tried to install `google-cloud-logging-logback-0.33.0-alpha` but see no difference...
[code]
Still sends only `Error message` to Stackdriver with no trace included.
Or am I doing something wrong?

[2018-01-22 15:04] garrettjonesgoogle commented on #2793
We shouldn't necessarily promise that we'll migrate to `java.time.*` - that's a breaking change, which we want to minimize.

[2018-01-22 15:09] garrettjonesgoogle commented on #2491
gRPC is the layer shading netty, not google-cloud-java. We would need separate shading work to shade guava in google-cloud-java.

[2018-01-22 15:14] garrettjonesgoogle commented on #2735
@bigunyak , the fix has been merged to master, but it has not been included in a release yet - it was merged after 0.33.0 was released.

[2018-01-22 15:19] joaoandremartins commented on #2672
I understand that renaming is currently impossible.
This issue is a feature request to have it implemented eventually -- why are you closing it?

[2018-01-22 15:48] ensonic opened #2800 "improve LocalDatastoreHelper docs."
It would be nice to improve the javadocs for
http://googlecloudplatform.github.io/google-cloud-java/0.9.2/apidocs/com/google/cloud/datastore/testing/LocalDatastoreHelper.html

Especially the docs for reset look like generated docs string :). Please tell when one would call reset.

E.g. Does this setup for junit make sense? What bout including the code snippet into the docs?
[code]

For start()/sto

[2018-01-22 16:39] Stono commented on #2687
I have this exact problem too!

[code]

[code]

[2018-01-22 19:15] egortsaryk9 opened #2802 "firestore.googleapis.com:443 was not shutdown properly"
Hello, we're using java client `google-cloud-firestore 0.32.0-beta` library in our backend app for pushing records into a Firestore instance.
Here is a java code snippet that reflects our processing flow:

`
FirestoreOptions firestoreOptions =
                    FirestoreOptions.getDefaultInstance().toBuilder()
                            .setProjectId(projectId)
                            .setC

[2018-01-22 21:57] joaoandremartins commented on #2672
Thanks a lot for the explanation @hzyi-google

If it's impossible to rename things by design in GCS, then feel free to do however you like with this issue. Having to pay for operations just to rename an object doesn't feel right, though.

[2018-01-22 22:31] wsh commented on #2655
No? What does this have to do with Datastore?

[2018-01-22 22:52] danawillow commented on #2687
Just updating here too- I posted in https://github.com/terraform-providers/terraform-provider-google/issues/993 that the reason this is happening is that the name of custom roles has to be in the form `projects/{project-id}/roles/{role-id}`- omitting the project will cause it to fail, just as it would fail if you typo-ed the name of the role.

[2018-01-22 23:31] #2468 closed

[2018-01-22 23:31] hzyi-google commented on #2468
Move this to feature request [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). This place can continue to be used for discussion.

[2018-01-22 23:34] hzyi-google commented on #2472
Move this issue to feature request [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog)and close it here. This place can continue to be used for discussion.

[2018-01-22 23:34] #2472 closed

[2018-01-23 06:10] ValdasK commented on #2629
Same issue is present in flexible runtime too?

[2018-01-23 09:24] ensonic commented on #2106
Is there is single example somewhere what should actually work? It would be awesome to expand
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/TESTING.md#on-your-machine-2 a bit. I don't understand how I will be able to get any object, if I can get the bucket first.
Typical code is:
[code]
Having an example or a test for this under
https://github.com/GoogleCloudPlatform/google-

[2018-01-23 20:52] bogdandrutu opened #2803 "Avoid exporting multiple versions of the same dependency."
This is a good practice to do in general, opencensus tried to enable Maven Enforcer's dependencyConvergence and we found some issues (same issues apply for the trace library as well), see the bolded targets as an example:

+--- com.google.cloud:google-cloud-monitoring:0.33.0-beta
|    +--- io.netty:netty-tcnative-boringssl-static:2.0.7.Final
|    +--- com.google.cloud:google-cloud-core:1.15.0
|

[2018-01-23 20:54] bogdandrutu commented on #2803
/cc @ejona86 - I know you have better experience with this and probably can provide more feedback, but I think it is important for the this project to be dependencyConvergence-clean.

[2018-01-23 20:56] garrettjonesgoogle commented on #2803
This is not a problem with google-cloud-java. google-cloud-java imports newer versions of certain things (e.g. grpc, protobuf) than its dependencies do (google-http-client, gax, proto-google-common-protos). Dependencies converge within google-cloud-java itself (we have dependency convergence enforcement on); we have no control over the fact that there is not convergence at a level above us.

[2018-01-23 21:22] ejona86 commented on #2803
@bogdandrutu, I don't see anything wrong with google-cloud java with your output there. It seems like google-cloud-monitoring problem. For convergence you get to exclude transitive dependencies that you update.

[2018-01-23 21:26] ejona86 commented on #2803
As an example, consider these lines from that output:
[code]

Taking a [look at google-cloud-core's POM](http://search.maven.org/remotecontent?filepath=com/google/cloud/google-cloud-core/1.15.0/google-cloud-core-1.15.0.pom) shows the jsr305 dependency is already excluded, so this shouldn't trigger convergence issues:
[code]

[2018-01-23 21:36] bogdandrutu commented on #2803
@ejona86 thanks for the answer and clarification.

@garrettjonesgoogle I think the problem is in google-cloud-monitoring which

My error was this:
[code]

[2018-01-23 21:41] pongad commented on #2793
Edited

[2018-01-23 21:49] pongad commented on #2672
@joaoandremartins I'm sorry I didn't communicate clearly. The Storage API itself provides no way to rename objects. @hzyi-google Thank you for adding this to feature backlog.

[2018-01-23 22:11] pongad commented on #2655
@wsh Sorry for the noise. I must have had too much coffee.

@avallfox I believe the contexts have been moved under "query parameters".  For example, [`DetectQueryIntent`](https://dialogflow.com/docs/reference/api-v2/rpc/google.cloud.dialogflow.v2beta1#google.cloud.dialogflow.v2beta1.DetectIntentRequest) has [`QueryParameters`](https://dialogflow.com/docs/reference/api-v2/rpc/google.cloud.dialogflo

[2018-01-23 22:50] egortsaryk9 commented on #2802
We concluded that internal Firestore RPC service doesn't release connections channels properly. Here is what we do as a quick fix:

` try (FirestoreRpc rpc = (FirestoreRpc) firestoreOptions.getRpc();) {
            Firestore db = firestoreOptions.getService();
            // send transactions

} catch (Exception ex) {
}`

After we've added this trick we don't see failures and errors in our logs.

[2018-01-24 00:30] cobookman opened #2804 "Bigquery 0.32.0-beta - Needs new guava version"
Getting the following error w/bigquery 0.32.0-beta when doing dataset.exists()

[code]

[2018-01-24 00:31] garrettjonesgoogle commented on #2804
Which version of Guava is your dependency tree resolving to?

[2018-01-24 00:33] cobookman commented on #2804
Not sure how to check. But adding this to my `pom.xml` resolved the error:

[code]

Let me know what maven commands to run and I'll run them.

[2018-01-24 00:35] garrettjonesgoogle commented on #2804
Well I was going to see if you had 19.0 or earlier and suggest a higher version if so, but it looks like a higher version already solved your problem.

For maven, I like to use:

```mvn dependency:tree```

[2018-01-24 00:54] lesv commented on #2629
@vchudnov-g FYI
@jabubake FYI
@garrettjonesgoogle FYI

[2018-01-24 03:18] wsh opened #2805 "PlatformInformation.isOnGAEStandard7 returns erroneous false positive"
Seen from a Java 8 app in Flex. (Discovered because it's trying to construct a URLFetch transport for API clients.) Can provide further details, of course, but tbh I think there are better ways to detect this information than what that class does right now.

[2018-01-24 05:54] pongad commented on #2802
@schmidt-sebastian Can you take a look?

[2018-01-24 07:46] pongad commented on #2800
@ensonic I believe `LocalDatastoreHelper` has been deprecated. My reasoning (others might have different opinions) was that it's difficult to managed the emulator process, especially dealing with its I/O.

That said, the emulator isn't very well documented. @jabubake Do you happen to know who owns the [emulator's documentations](https://cloud.google.com/sdk/gcloud/reference/beta/emulators/datastor

[2018-01-24 07:53] pongad commented on #2788
It's possible that this is a problem in codegen or gax. I'll try to track this down.

[2018-01-24 08:57] #2482 closed

[2018-01-24 10:27] ensonic commented on #2800
Is there a replacement for LocalDatastoreHelper? I found this quite useful (together with the LocalStorageHelper) to run unit tests not against real instances.
You say the 'emulator process is difficult to manage', what are the issues. If you deprecate this helper, people will attempt to replicate the code and run into the same issues, right? At some point one needs to setup the emu.

An alternati

[2018-01-24 18:14] schmidt-sebastian commented on #2802
I filed an internal issue to track this work. Will keep this issue updated.

[2018-01-24 18:28] hzyi-google commented on #1485
@sai-pullabhotla Thanks for the thoughts. cc'ing @wsh for more information.

[2018-01-24 18:37] hzyi-google commented on #2462
@frantello  Thanks for the pull request. Close the issue now. @salrashid123 please share your thoughts here if you have more questions.

[2018-01-24 18:40] hzyi-google commented on #2000
This feature request is finished.

[2018-01-24 18:48] hzyi-google commented on #2421
@frantello it seems the PR this issue tracks is merged. Can I close it now?

[2018-01-24 20:06] frankyn commented on #2687
Thanks @danawillow and @Stono, I tried using the correct Role resource form with the client and I'm still seeing the same issue. Reviewing implementation of [class Role](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/b7b3f21b784a3524f7830f34148abfd3e39677d4/google-cloud-core/src/main/java/com/google/cloud/Role.java#L91), the Rule.of() expects roles prefixed with `roles/` which doesn

[2018-01-24 20:33] frantello commented on #2421
@hzyi-google yes, job is done. Thanks!

[2018-01-24 20:53] #2421 closed

[2018-01-24 22:50] #2505 closed

[2018-01-24 23:30] garrettjonesgoogle commented on #2740
As a final follow up, I want to recommend 0.33.0 or later, which bumps the grpc dependency to 1.9; this version of grpc shades tcnative, so there shouldn't be tcnative conflicts any more.

@n0mer yes, alpine is known not to work (this is noted in the main README).

[2018-01-24 23:34] garrettjonesgoogle commented on #2551
Closing this out given we have no response. Feel free to re-open if you would like us to take a look again.

[2018-01-24 23:34] #2551 closed

[2018-01-24 23:37] hzyi-google commented on #2517
Close this issue since #2000 is fixed.

[2018-01-24 23:37] #2517 closed

[2018-01-24 23:39] garrettjonesgoogle commented on #2686
Without checking, probably a library issue.

Anyway, the current Compute surface is going to be deprecated soon and be replaced with a completely difference surface. Accordingly, I am going to close out this issue.

[2018-01-24 23:39] #2686 closed

[2018-01-24 23:42] garrettjonesgoogle commented on #2698
@andreamlin can you verify if this is done now? (#2517 is closed)

[2018-01-24 23:43] #2442 closed

[2018-01-24 23:50] garrettjonesgoogle commented on #2804
Closing out issue because the filer's problem is resolved.

[2018-01-24 23:50] #2804 closed

[2018-01-24 23:53] hzyi-google commented on #2543
Move this issue to feature request backlog and close it here.

[2018-01-24 23:53] #2543 closed

[2018-01-24 23:54] garrettjonesgoogle commented on #2778
We should adjust the instructions.

[2018-01-24 23:54] hzyi-google commented on #2546
Move this issue to feature request [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can continue to be used for discussion.

[2018-01-24 23:54] #2546 closed

[2018-01-25 00:04] hzyi-google commented on #1536
@garrettjonesgoogle is there still work to do for this issue? I am moving this to backlog and closing it, but if everything is resolved I will remove it from backlog then.

[2018-01-25 00:04] #1536 closed

[2018-01-25 00:09] andreamlin commented on #2698
This is done. See `StorageImplTest.testSignUrlWithExtHeaders()` for an example of signing headers.

[2018-01-25 00:09] #2698 closed

[2018-01-25 00:10] garrettjonesgoogle commented on #1536
The crux of this issue is that the requesters want the table of contents for the javadocs of google-cloud-java to include the proto-generated classes. I don't think this is really feasible, but the requesters really want it...

[2018-01-25 00:14] hzyi-google commented on #2586
Move this issue to feature request [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can still be used for discussion.

[2018-01-25 00:14] #2586 closed

[2018-01-25 00:17] hzyi-google commented on #2555
Move this issue to feature request [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can still be used for discussion.

[2018-01-25 00:17] #2555 closed

[2018-01-25 00:24] hzyi-google commented on #2620
Move to backlog.

[2018-01-25 00:24] #2620 closed

[2018-01-25 00:31] wsh commented on #2805
For Googlers: b/64313434 has better information for us to use in detecting GAE and runtime details.

For other users who might encounter this before we fix it: my temporary workaround was to explicitly specify:

[code]

in my app.yaml. (Other values would work, too, the important part is that the property is non-null so that [this line](https://github.com/GoogleCloudPlatform/google-cloud-java/blob

[2018-01-25 03:30] pongad commented on #2800
@garrettjonesgoogle for visibility.

It's possible to start the emulator process yourself with `gcloud beta emulators datastore start`.

I'll explain my reasoning a little more.

In the current implementation, the helper tries to find the emulator installed on your machine. Failing that, it downloads the emulator itself and runs it. I humbly opine it reaches uncomfortably far behind the user's bac

[2018-01-25 04:44] pongad commented on #1534
I don't think either codegen or bitrate is the problem. I believe the sample is we're sending the bytes too fast.

I created a reproduction below, where I throttle the sound upload (search for "throttle"). If we comment out that line, the stream fails with the "stream too fast" error. If I leave the line there, everything seems to work as intended.

It is strange that this could be happening with

[2018-01-25 04:44] #1534 closed

[2018-01-25 04:50] pongad commented on #2795
I think this is a dup of (or at least a really similar problem with) #2066. I'll close this as duplicate. Please reopen if you disagree.

[2018-01-25 04:50] #2795 closed

[2018-01-25 04:57] pongad commented on #1666
I believe this is closed by #2304. At the very least, we're not dynamically loading classes anymore.

[2018-01-25 04:57] #1666 closed

[2018-01-25 05:02] jabubake commented on #2800
@pongad : I agree, it would be good if the Datastore library could be dependent on an environment variable consistent w/ the Pub/Sub emulator support in `google-cloud-java`.
I'll look into updating the emulator docs. Un-assigning myself from this ticket.

[2018-01-25 05:26] jabubake commented on #2629
@frankyn FYI

[2018-01-25 06:07] pongad commented on #2666
@vkedia Has this been worked on?

[2018-01-25 06:19] pongad commented on #2796
@sparhomenko Yikes! 2.5 hours is WAY beyond reasonable. I now suspect some kind of propagation problem somewhere. Maybe we don't properly complete the future for something. I'll try to dig into this as well, but a repro would be greatly appreciated.

[2018-01-25 07:00] pongad commented on #2066
@garrettjonesgoogle Have we ever reached out to API team about this? I have been able to publish about 1000 times with no error.

[2018-01-25 17:33] #2802 closed

[2018-01-25 17:35] vkedia commented on #2666
Not yet.

[2018-01-25 23:15] bogdandrutu commented on #2803
We were able to fix this issue on our side. I think this can be closed.

[2018-01-26 10:30] ensonic commented on #2800
Thanks for all the explanations. I agree that there is no easy solutions. From the users perspective I am looking for an 'easy' way to run tests on a developer machine and on CI. On CI it is realative easy to bring up the emulators, since one usually runs the CI actions as a script. For developers right now it is `bazel test /...` and so far the LocalDatastoreHelper served us well.

[2018-01-26 12:51] nicolasoge opened #2810 "ProviderNotFoundException while using Pub/Sub and BigTanle on DataProc"
Hi everybody,

I am trying to build an application with both Pub/Sub and BigTable on top of Dataproc cluster with Spark.

However while connecting to BigTable, this line throw an exception:
`BigtableConfiguration.connect(projectId, instanceId)`

[code]

My SBT dependencies are listed below:
[code]

and assembly rules:
[code]

The first strange thing is that `grpc-netty-1.7.0` is on the classpath.

[2018-01-26 14:31] garrettjonesgoogle commented on #2810
Try using grpc 1.9 instead - you might have a problem with tcnative, which in 1.9 is shaded into grpc itself.

[2018-01-26 16:00] nicolasoge commented on #2810
Thanks for your reply.
The exception is still there with gRPC 1.9.
In fact I have already been testing with 1.9 as it comes with pubsub 0.33.
I had just updated from 0.32 to 0.33 before writing this issue, and forgot to update the gRPC version from 1.7 to 1.9.

Thanks for your help

[2018-01-26 17:14] nicolasoge commented on #2810
Could it be related to my fat-jar assembling `META-INF` discard policy ?
With another policy (keep first) I get another error message:
[code]

Thanks for your help

[2018-01-26 17:40] hzyi-google commented on #2629
It seems #2504 can also be solved by this.

[2018-01-27 05:29] cobookman opened #2812 "1st party - Composite GCS Uploads"
It'd be great to have first party support for GCS composit uploads of large files / streams. While technically possible the SDK now, its not nearly as easy as using gsutil:
`gsutil -o GSUtil:parallel_composite_upload_threshold=150M cp bigfile gs://your-bucket`

Thinking something like this would be great:
[code]

[2018-01-28 21:06] playtowork opened #2813 "Compatibility Issue with Play 2.5.9"
I have a Play framework project (version 2.5.9).

I append the following in its `build.sbt`'s `libraryDependencies`:
"com.google.cloud"        % "google-cloud-vision"      % "1.15.0"

Then I run `sbt clean && sbt "project frontend" run`. Instead of the app starting, it errors with the following:

--- (Running the application, auto-reloading is enabled) ---

java.lang.NoSuchFieldError: DEFAULT_MAX_

[2018-01-29 00:42] pongad commented on #2813
@garrettjonesgoogle Looks like problem with Netty dependencies. IIUC, we need to change from `grpc-netty` to `grpc-netty-shaded` right? I *think* we need to change this in gax too?

[2018-01-29 02:50] playtowork commented on #2813
FYI, I also tried adding this library to the dependencies for a Play framework (version 2.6.10) project. It had the same issue.

[2018-01-29 05:11] pongad commented on #2655
Due to age, I'll close this for now. But please reopen if you still have questions.

[2018-01-29 05:11] #2655 closed

[2018-01-29 06:50] pongad commented on #2794
I believe the main problem is a corrupted JAR file. Could you delete the offending file and try again.

I think this is happening during compilation, not when running your program right? If the problem persists, would it be possible for you to share your dependency manifest (pom.xml, build.gradle, etc)? Then we can see if we can repro this.

[2018-01-29 06:58] pongad commented on #2732
@garrettjonesgoogle Is there a concrete action to take here? I suppose we could put it under "deprecated" header?

[2018-01-29 13:36] santhh commented on #2794
thanks for looking at this. Yes I resolved it already. Please close.

[2018-01-29 14:12] Klabauterman opened #2816 "Firestore Query: unsupported FieldFilter value type: 6"
Hello,
I was using a filter like this on a firestore collection:
`whereEqualTo("access", emptyMap<String, Any>())`
I want to find all documents, where all users stopped using them and hence delete them afterwards.

After setting up the listener I get the correct result, but directly after that I get the following error:
`com.google.cloud.firestore.FirestoreException: Backend ended Listen stream: U

[2018-01-29 18:20] garrettjonesgoogle commented on #2732
I think we should wait until the new generated client is out and we move the old code under a .deprecated java package; at that point we should create a new Deprecated header.

[2018-01-29 19:39] hzyi-google commented on #2812
Move this issue to feature request [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can continue to be used for discussion.

[2018-01-29 19:39] #2812 closed

[2018-01-29 19:40] hzyi-google commented on #2417
Move this issue to feature request [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can continue to be used for discussion.

[2018-01-29 19:40] #2417 closed

[2018-01-29 19:52] hzyi-google commented on #2440
@pongad I believe we decided not to check if we are running in the cloud [from this issue](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2683) since there aren't a way to decide if we are running on GCE unless we hit the metadata server. Does that apply to this issue as well?

[2018-01-29 23:20] #2745 closed

[2018-01-30 00:09] garrettjonesgoogle commented on #2813
Looks like we need to make the switch to `grpc-netty-shaded` everywhere.

[2018-01-30 00:09] #2794 closed

[2018-01-30 00:20] garrettjonesgoogle commented on #2670
This has been created: https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-container

[2018-01-30 00:20] #2670 closed

[2018-01-30 00:23] garrettjonesgoogle commented on #2412
Closing this issue because https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2411 is closed - we aren't using project.properties any more.

[2018-01-30 00:23] #2412 closed

[2018-01-30 00:24] pongad commented on #2497
Closed by #2807.

[2018-01-30 00:24] #2497 closed

[2018-01-30 00:45] hzyi-google commented on #1587
Move this issue to feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here.

[2018-01-30 00:45] #1587 closed

[2018-01-30 00:50] hzyi-google commented on #2272
Move this to the feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can continue to be used for discussion.

[2018-01-30 00:50] #2272 closed

[2018-01-30 00:55] hzyi-google commented on #2491
Move this issue to feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can continue to be used for discussion.

[2018-01-30 00:55] #2491 closed

[2018-01-30 00:59] hzyi-google commented on #2589
Move this issue to feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. The place can continue to be used for comments and discussion.

[2018-01-30 01:00] hzyi-google commented on #2669
Move this issue to feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. The place can continue to be used for discussion.

[2018-01-30 01:00] #2669 closed

[2018-01-30 01:02] hzyi-google commented on #2693
Move this issue to feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can continue to be used for discussion.

[2018-01-30 01:02] #2693 closed

[2018-01-30 01:03] hzyi-google commented on #2702
Move this issue to feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can continue to be used for discussion.

[2018-01-30 01:03] #2702 closed

[2018-01-30 01:07] hzyi-google commented on #2624
Move this issue to feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. @vkedia I'm not sure if you are working on this but if you are feel free to reopen.

[2018-01-30 01:07] #2624 closed

[2018-01-30 01:09] wsh commented on #350
This is coming with the next version of Objectify (v6). cc @stickfigure

[2018-01-30 01:11] wsh commented on #2589
...since this is being closed and moved, do we have any indication when it might be _acted_ upon? cc @dmcgrath

[2018-01-30 01:12] stickfigure commented on #350
It's in alpha right now. For people asking - please try out objectify-6.0a1. Feedback will help accelerate the release process! Thanks.

[2018-01-30 01:23] hzyi-google commented on #2553
Move this issue to feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog) and close it here. This place can continue to be used for discussion.

[2018-01-30 01:23] #2553 closed

[2018-01-30 01:41] pongad commented on #2800
An update. Here's is my current thinking, it's not an official plan yet. cc @igorbernstein2

I'll treat this is documentation bug. We'll fix the docs, but won't stabilize the surface of the emulator helper yet.

BigTable also needs an emulator. Igor, let's iterate on the emulator design. I hope we can decide on one that works for both APIs.

[2018-01-30 04:50] schmidt-sebastian commented on #2816
This is a known issue and we are currently prioritizing this work. Thanks for your report! For now, we recommend that you use the non-streaming `Query.get()` API endpoint.

[2018-01-30 05:39] ryankillory commented on #1639
Given that https://github.com/GoogleCloudPlatform/google-cloud-java/pull/1645 appears to have been reverted, I was wondering whether this should be reopened.

Thanks!

[2018-01-30 07:02] pongad commented on #2066
@SJAnderson @manuellazzarijr @mrunesson @zsiegel
Could you provide us with some additional information?
1. Are you creating time series close to metric creation? If so, we might encounter error since the metric hasn't been fully created yet.
2. Could you give us your project ID and some of your `CreateTimeSeriesRequest`? This will help the monitoring team debug this.

[2018-01-30 13:42] Sampath-Lokuge commented on #1356
I can see that where I have to face Maximum size for an entity limit mentioned on the doc. Could you tell me what they mean here an entity? Is that `projects`(this is the entity which it shows the above error) `with collections` or `without collections`? How can I avoid this issue? I'm using `firestore`.

![Alt Text](https://i.stack.imgur.com/kSMWD.png)

[2018-01-30 15:31] MSimsekYildirim opened #2820 "can not set fieldDelimiter and encoding at load job configuration java client"
Hi,

I want to load tab separated file from bucket to BiqQuery table.
Unfortunately, there is no option to set delimiter type and encoding at LoadJobConfiguration at Java client.

[2018-01-30 17:36] igorbernstein2 commented on #2800
I'll send over a design doc by early next week

[2018-01-30 17:41] hzyi-google commented on #2756
#2809 fixes this.

[2018-01-30 17:41] #2756 closed

[2018-01-30 23:10] pongad opened #2823 "bigquery: should retry on 502 status code"
Not a "bug", but easy to do.

[2018-01-30 23:14] #2732 closed

[2018-01-31 02:07] #2769 closed

[2018-01-31 02:51] pongad commented on #2823
Already done. See https://github.com/GoogleCloudPlatform/google-cloud-java/blob/b7b3f21b784a3524f7830f34148abfd3e39677d4/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQueryException.java#L39

[2018-01-31 02:51] #2823 closed

[2018-01-31 02:56] pongad commented on #2820
@MSimsekYildirim The option exists but a little hidden. You can use [`setFormatOptions`](https://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/com/google/cloud/bigquery/LoadJobConfiguration.Builder.html#setFormatOptions-com.google.cloud.bigquery.FormatOptions-) to set [`CsvOptions`](https://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/com/google/cloud/bigquery/Cs

[2018-01-31 02:56] #2820 closed

[2018-01-31 03:05] pongad commented on #2805
@wsh @neozwu IIUC, it should be sufficient to say `System.getenv("GAE_RUNTIME").equals("java7")` right?

I must admit I don't understand the runtime very well.

[2018-01-31 03:54] neozwu commented on #2805
@pongad I'm not exactly sure since some env vars and sys props could have been changed/added/removed since I wrote the original method. IIRC, at the time, we decided to use jetty logger env var to identify a GAE 7 app deployed on J8 dev server.  @lesv can comment more on this.

[2018-01-31 03:55] pongad commented on #2401
@jabubake @meltsufin  I just tried this a moment ago.

I set the config file to
[code]

and ran Java code
[code]
Everything seems to work OK. Are you still experiencing the problems?

I'll send PR to delete private methods.

[2018-01-31 09:31] ensonic commented on #2800
Thanks. Better docs are always a good step. I'd welcome, discussing the future testing support in a ticket to give others a chance to comment too.

[2018-01-31 13:35] Klabauterman commented on #2816
Cool, thanks for the information.

[2018-01-31 14:23] meltsufin commented on #2401
I don't think it's an issue anymore. We can close it for now.

[2018-01-31 14:23] #2401 closed

[2018-01-31 15:46] sduskis commented on #2810
On the Bigtable side, use `bigtable-hbase-1.x-hadoop` instead of `bigtable-hbase-1.x`

[2018-01-31 15:55] sduskis commented on #2810
Here's a bit more information on the Cloud Bigtable artifact.  Hadoop and Spark have different versions of guava, protobuf and netty than grpc.  That causes major "diamond dependency" problem between any gcp grpc client and the Big Data framework.  Cloud Bigtable gets around this problem by shading and repackaging the dependencies in question in the `bigtable-hbase-1.x-hadoop` artifact.

I don't k

[2018-01-31 15:56] sduskis commented on #2810
@garrettjonesgoogle, FYI, this is a "diamond dependency" problem related issue.

[2018-01-31 19:52] nicolasoge commented on #2810
Thanks for your help.

I had already tested with both the `bigtable-hbase-1.x-hadoop` and `bigtable-hbase-1.x-shaded` version of bigtable client and had the same issue.

I have not found any shaded version of Pub/Sub client.

Thanks for your help

[2018-01-31 20:12] igorbernstein2 commented on #2810
I'm a little concerned about your assembly rules:
[code]
Renaming netty is non-trivial due to thenative jni libs shippped in tcnative. Please remove the netty rename. Instead try this:

1. Provide us with a dependency graph using something like https://github.com/jrudolph/sbt-dependency-graph
2. netty, tcnative & grpc-netty from the com.google.cloud.* dependencies
3. add io.grpc:grpc-netty-shaded

[2018-01-31 21:35] pongad commented on #2810
Looks like issue persists, similar to #2813. I'll reopen.

[2018-01-31 22:39] #2803 closed

[2018-02-01 00:56] garrettjonesgoogle commented on #2740
It turns out that we needed to switch from depending on grpc-netty to grpc-netty-shaded, which we haven't done yet. I am going to reopen this issue to track the re-fix.

[2018-02-01 04:34] pongad commented on #2731
This feature request is already in the feature backlog wiki. I'll close this for now.

[2018-02-01 04:34] #2731 closed

[2018-02-01 04:35] pongad commented on #2721
Moved to feature wiki.

[2018-02-01 04:35] #2721 closed

[2018-02-01 04:36] pongad commented on #2671
Fixed by #2825

[2018-02-01 04:36] #2671 closed

[2018-02-01 04:46] pongad commented on #2740
I've been using #2813 as a canonical issue for the netty version conflict problem. Let's move further discussions there instead.

[2018-02-01 04:46] #2740 closed

[2018-02-01 04:48] pongad commented on #1795
I'll resolve this as duplicate of #2796.

[2018-02-01 04:48] #1795 closed

[2018-02-01 04:49] pongad commented on #2810
@igorbernstein2 Is there any action item for this beyond moving to `netty-grpc-shaded` that's already tracked in #2813? If not, can we resolve this as dup?

[2018-02-01 04:52] pongad commented on #2781
@garrettjonesgoogle Is there any action item required to resolve the problem other than moving to `netty-grpc-shaded`? If not, I think we should resolve this as dup of #2813.

[2018-02-01 05:10] pongad commented on #2544
I'll close this due to inactivity. @ifigotin please reopen if required.

[2018-02-01 05:10] #2544 closed

[2018-02-01 10:42] MSimsekYildirim commented on #2820
Thanks for the quick response!

[2018-02-01 14:40] garrettjonesgoogle commented on #2364
We're moving integration tests to Circle. If we decide to switch unit tests to Circle too, then this would not be relevant any more.

[2018-02-01 14:41] garrettjonesgoogle commented on #2781
There are a bunch of other external packages that we set versions for also.

[2018-02-01 16:42] igorbernstein2 commented on #2810
Nope, can be closed

[2018-02-01 16:42] #2810 closed

[2018-02-01 17:19] hzyi-google commented on #2440
#2822  fixes this.

[2018-02-01 18:55] playtowork commented on #2813
Cool. What's the ETA for fixing this bug? Would I have to wait to consume the next minor version release?

[2018-02-01 22:26] wsh commented on #2805
@pongad that should be correct for any currently deployed GAE Java 7 app.

[2018-02-01 22:32] wsh commented on #2440
What @lesv describes here is true for App Engine, but not for GCE/GKE. Ideally we would fix this no matter where a user is running. @hzyi-google's work in validating the response from the metadata service is a good start. If we were to check [the Metadata-Flavor header](https://cloud.google.com/compute/docs/instances/managing-instances#runninggce) we could cover GCE cases easily, and for App Engin

[2018-02-01 23:22] garrettjonesgoogle opened #2834 "Dns integration tests are failing"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/105?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

First of the test failures:

[code]

[2018-02-01 23:24] garrettjonesgoogle opened #2835 "Logging integration tests are failing"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/100?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

First failure:

[code]

[2018-02-02 00:31] pongad commented on #2813
We're working on this in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2832. You have to wait for next release though, unless you want to build it from source.

[2018-02-02 03:23] pongad commented on #2438
Duplicate of #2835

[2018-02-02 03:23] #2438 closed

[2018-02-02 15:16] ihsanhaikalz commented on #2687
Sorry for the late reply.

@lesv I run this using google-cloud-storage version 1.12.0 and google-api-services-iam v1-rev220-1.23.0

@vchudnov-g I created the custom role from the Console as well as from the IAM Java API using something like this
[code]

Assigning the service account with pre-defined roles gave no error but with custom role gave error. I am not sure if what I did was right or wrong

[2018-02-02 18:25] hzyi-google commented on #2413
@pongad It seems your PR will resolve this issue, so I am giving this to you.

[2018-02-02 20:16] lesv commented on #2805
We have a bunch of issues around this in other repo's as well:
google/google-api-java-client#1089
google/google-auth-library as well  -- probably a few others

[2018-02-02 20:18] lesv commented on #2805
google-cloud-java can be made to support Java7 grpc, it doesn't now, but why?
Most users should be on Java8 if they are using this library.

[2018-02-02 20:43] wsh commented on #2805
@lesv where does gRPC come into this?

[2018-02-02 20:56] lesv commented on #2805
@wsh Many of the GA'd services google-cloud-java services are gRPC only.  Datastore is one that isn't currently.

[2018-02-02 21:17] wsh commented on #2805
[Cloud Storage](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-storage) appears to use HTTP, as does [Cloud Translate](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-translate). Both of those are GA, too. Isn't that orthogonal to this, though? When the App Engine Standard Java 7 runtime is decommissioned, we don't have to worry

[2018-02-02 21:19] lesv commented on #2805
@jonparrott FYI

@wsh You may be right - Jon now owns this, so I'll let him weigh in.

[2018-02-03 02:39] fkorotkov opened #2847 "Support for Container Builder"
It will be nice to have a library to work with [Container Builder](https://cloud.google.com/container-builder/) API

[2018-02-04 14:01] sebasao commented on #2483
I ran into the same error. Following previous Troubleshooting guide, indeed I had a dependency conflict. As the io.netty library was imported by another maven artefact not related to google. So I disabled temporarily the oldest one and left only the google cloud one. It all worked fine afterwards.

[2018-02-05 00:40] #2800 closed

[2018-02-05 00:54] pongad commented on #2483
An update: We have a [PR](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2832) to shade netty. Hopefully this means the problem will go away the next release.

[2018-02-05 04:54] pongad commented on #2847
@fkorotkov I don't think this is in our roadmap yet, but I've put this into our feature wiki for you, since we're tracking longer-term work items there.

[2018-02-05 04:54] #2847 closed

[2018-02-05 05:23] pongad commented on #2788
I looked through codegen and gax layer. Almost everything is sequential, so I don't think it can cause this kind of working-sometimes problem. We haven't ruled out the possibility that this is caused by the auth lib itself though.

@ejona, do you have a sense of how we could approach this problem?

[2018-02-05 06:22] pongad commented on #2231
I did some more digging. We are discouraging people and APIs from using `gcloud auth application-default login` and intend to deprecate this mechanism. Setting the env var is the preferable method.

I'll close this as wontfix. cc @vchudnov-g

[2018-02-05 15:58] ensonic commented on #2106
Answering my own question:
[code]

[2018-02-05 16:07] jabubake commented on #2231
@pongad  : fine with this not working, but can we provide a better error message to the user here to ask them to set GOOGLE_APPLICATION_CREDENTIALS or link them to the right auth docs ?

[2018-02-05 17:24] igorbernstein2 opened #2852 "Generalize Bigtable's regenerate scripts to applicable to other clients"
The new Bigtable client has 2 scripts to help test GAPIC config changes. The scripts allow the developer to make a change in a local googleapis checkout and see how the changes will look in `api-client-staging` and `google-cloud-java`. It would be nice to open these scripts to other clients.

Also, the update script is currently pretty careless about overwriting local changes, this will need to na

[2018-02-05 17:37] igorbernstein2 opened #2853 "Consider using partial builds for PRs"
It would be nice to narrow PR builds to just the clients/modules that that PR affects while it's open. And a run the full test suite less frequently: either on merge, daily or when cutting a release.

To limit the affect modules, something like https://github.com/lesfurets/partial-build-plugin can be used.

[2018-02-05 17:53] jonparrott commented on #2805
Sounds reasonable?

[2018-02-05 18:39] vchudnov-g commented on #2231
@jabubake Internally, b/64388723 tracks the implementation of the better error message. I've added you to the cc list on that.

[2018-02-05 19:00] saturnism opened #2855 "ServiceOptions.getDefaultProjectId() in Cloud Shell picks up "no-project-id" from metadata server"
In Cloud Shell, where a project ID is properly configured in gcloud:
`gcloud config list --format 'value(core.project)'` shows the project ID, and
`echo $CLOUDSDK_CONFIG` shows the configuration directory.

Run a Java application that uses `ServiceOptions.getProjectId()` in cloud shell. It picks up `no-project-id` from the metadata server.

[2018-02-05 19:34] #2231 closed

[2018-02-05 20:18] hzyi-google commented on #2855
Hi @saturnism, can I confirm with you about the environment of the project? Is it running on GAE, GCE or anywhere else?

[2018-02-05 22:25] wsh commented on #2855
@hzyi-google It sounds like @saturnism is running this code in [Cloud Shell](https://cloud.google.com/shell/). I don't think that the metadata service is supported there.

@saturnism do you have [application-default credentials](https://cloud.google.com/sdk/gcloud/reference/auth/application-default/) set up? [ServiceOptions](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/b7b3f21b784

[2018-02-05 22:39] #2834 closed

[2018-02-05 22:46] #2805 closed

[2018-02-05 23:03] pongad commented on #2552
@NicolaSpreafico I tried to reproduce this issue and got slightly different error. I got `Not found: Files /gdrive/id/XXXXXXX`.

How are you authenticating? If you're authenticating with a service account key (like [this](https://cloud.google.com/docs/authentication/getting-started#setting_the_environment_variable)), I believe you have to give access to the email associated with the account key `n

[2018-02-06 01:03] pongad commented on #2589
@wsh How much/urgently do you want this? @hzyi-google and I are working to burn down "granular" bugs in the queue. That's taking a little longer than we anticipated.

My current plan is to get to longer-term requests like this one after the granular bugs are burned down. If you'd like to keep this open to make sure we don't lose it, that's fine with me.

Does this sound OK to you?

[2018-02-06 01:08] #2835 closed

[2018-02-06 01:21] wsh commented on #2589
@pongad it _is_ a high priority for us (our most important ask for google-cloud-java, at least), but I can't speak to how that balances with the other priorities you all have. Keeping this open would be nice for tracking.

[2018-02-06 08:10] saturnism commented on #2855
@wsh this is in cloud shell, which sets up the credentials automatically.  It's still retrieving project ID from metadata server even after explicitly setting up app default credentials.

In Cloud Shell, you can retrieve Project ID from metadata server, which is always `no-project-id`. It's clear that the logic in `ServiceOptions.getProjectId()` is would simply return that rather than continuing t

[2018-02-06 08:16] saturnism commented on #2855
This is causing trouble practically for all of our Java code labs that runs in Cloud Shell. Can the priority be raised?

[2018-02-06 12:38] ImranArtwel commented on #2548
I am also having the same problem. Running on android studio
`final Translate translate = TranslateOptions.getDefaultInstance().getService();`

[2018-02-06 14:32] garrettjonesgoogle opened #2864 "Storage integration test intermittently failing"
Storage integration tests are failing intermittently with an "Invalid argument" failure. The tests will pass after they are rerun.

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/343
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/311

[code]

[2018-02-06 14:55] LukeDefeo opened #2865 "BigQuery table info is missing Labels"
The big query table info is missing the labels map

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/b7b3f21b784a3524f7830f34148abfd3e39677d4/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/TableInfo.java

It is present on the dataset and on the underlying model object so it seems to just have been missed out on the mapping

[2018-02-06 16:35] choenden opened #2866 "BigQuery: Add support for BigQuery customer-managed encryption keys"
BigQuery customer-managed encryption keys allow users to specify a Cloud KMS key to protect their BigQuery table.

API:
Jobs: https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs
In a job, there is a destinationEncryptionConfiguration field, which indicates which Cloud KMS key should be used for the destination.

Tables: https://cloud.google.com/bigquery/docs/reference/rest/v2/tables
In a

[2018-02-06 17:23] NicolaSpreafico opened #2867 "BigQuery: Job already exists, probably for internal backoff or something"
Hi,
I'm currently using library 0.33.0-beta for an App Engine Std project,

When I need to execute a QueryJob, I have this method
[code]

You can see from the code itself the JobID is unique, due it has a random part and a time part.

But sometimes I get this error:
[code]

and here is the stacktrace
[code]

Because I'm sure that my code generates every time a random/unique JobId (even if i Try mu

[2018-02-06 21:20] loosebazooka opened #2869 "Google cloud java package summary is unreachable."
This URL is unreachable?
https://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/com/google/cloud/compute/package-summary.html

This is breaking tests that depend on it (not sure if it affects customers), for example: https://travis-ci.org/GoogleCloudPlatform/appengine-plugins-core/builds/338186738#L1512

Has this page moved? Or is it just down?

[2018-02-06 21:23] garrettjonesgoogle commented on #2869
It's at https://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/com/google/cloud/compute/deprecated/package-summary.html now. It is because of https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2819 .

[2018-02-06 21:42] garrettjonesgoogle opened #2871 "Remove ssl context customization in Spanner"
Specifically, ciphers should not be set to null:

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOptions.java#L311

Then this line can be removed, which is netty specific:

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/main/java/com/google/cloud/spanner/SpannerOp

[2018-02-06 21:42] garrettjonesgoogle commented on #2871
cc @vkedia @pongad @ejona86

[2018-02-06 22:23] wsh commented on #2855
As you can see, it first looks to the environmental variables, in particular `GOOGLE_CLOUD_PROJECT`. I'm surprised that Cloud Shell doesn't set that. What would you suggest the fix is here: trying to check the Cloud SDK credentials first? Or is this a question of making the metadata service work for Cloud Shell?

[2018-02-06 23:37] pongad commented on #2548
@ImranArtwel We don't currently support Android. Please see the list of supported platforms [here](https://github.com/GoogleCloudPlatform/google-cloud-java#supported-platforms).

[2018-02-07 00:33] pongad commented on #2552
I see. I'll keep investigating. Could you let us know if you're using Standard or Flexible?

[2018-02-07 00:43] #2869 closed

[2018-02-07 00:51] pongad commented on #2867
@NicolaSpreafico I believe you're understanding this right.

@tswast I vaguely remember us talking about this. I *think* the recommendation is that users can catch this error can call `bigquery.getJob(jobId)` right? I must admit the "already exists" code is a little mysterious. Should we continue to retry `create`? I'll assign this to you to confirm, but please assign it to me if we need code chan

[2018-02-07 00:52] #2813 closed

[2018-02-07 01:01] tswast commented on #2867
Yeah, probably has to do with retry logic. The trouble is that we don't know if the "already exists" is because someone else has created the job or if it was us and our previous create request just had a hiccup.

If the client library has generated the ID, I suppose we have a pretty good idea that it was the latter (just a hiccup), but we can't know this is the case when the user supplies it.

[2018-02-07 01:15] tswast commented on #2867
To summarize the action items here:
- @NicolaSpreafico since you are generating your own job ID, there's not much the client library can do to help in this case. You'll need to catch the "already exists" errors and call get yourself.
- We should document this failure case and the workaround of calling get()
- In the case where the job ID is generated by the client library we can catch this error a

[2018-02-07 03:43] pongad commented on #2867
@tswast I agree with documentation. I started to look into automatically call `get()`; we have a few options.

1. Keep current behavior; user catches exception and call `get()`
    * Understandably annoying.
2. Hard-code `query(QueryJobConfiguration)` to catch and call `get()`
    * This will help some users but won't solve this specific problem, since @NicolaSpreafico used `create`, not `query`.

[2018-02-07 04:15] pongad commented on #2736
Root cause should have been fixed by #2862 and take effect the next release. I'll resolve this for now.

[2018-02-07 04:15] #2736 closed

[2018-02-07 04:30] pongad commented on #2855
Alternatively, can we just `if ("no-project-id".equals(result)) return null;`? For these methods, null means "don't know; go ask the next person".

That way we treat "no-project-id" as a sentinel error, much like how we treat `String.indexOf` returning -1.

[2018-02-07 06:40] NicolaSpreafico commented on #2552
I'm using App Engine Std Java8

[2018-02-07 06:57] wsh commented on #2855
Sure. (The risk, of course, is that the sentinel value changes.) I wonder if the response code is non-200 for this case? That would be less brittle.

[2018-02-07 09:32] ihsanhaikalz opened #2874 "Could not get list of permissions from pre-defined roles using IAM API"
I am not sure if this issue should be put in this repo but I could not find the correct responding github for IAM API.

So I was using google-api-services-iam library ver v1-rev231-1.23.0 and I would like to get list of permissions from certain roles using code like this:

[code]

So it works for custom role with the format like projects/projectName/roles/SecurityReviewer but when I try to use pre

[2018-02-07 12:34] #2874 closed

[2018-02-07 14:38] rschildmeijer opened #2875 "Expose a true asynchronous DatabaseClient"
Deep inside (google.cloud.spanner.SpannerImpl) the client library grpc is used. Grpc enables non-blocking/asynchronous paradigms.
So it should be possible to expose a real asynchronous api. With real I mean a true event-driven approach and not just wrap the current blocking DatabaseClientImpl using a thread pool.

[2018-02-07 16:33] garrettjonesgoogle opened #2876 "Spanner unit tests timing out intermittently in Windows"
- https://ci.appveyor.com/project/googlejavacloud/google-cloud-java-v0gf7/build/1785
- https://ci.appveyor.com/project/googlejavacloud/google-cloud-java-v0gf7/build/1803

The build gets stuck on Spanner tests, and AppVeyor kills it after 60 minutes. It's not clear from the log which test is getting stuck.

[2018-02-07 17:50] #2864 closed

[2018-02-07 19:22] tswast commented on #2867
(1) Annoying for sure. Feels like a failure on our part, since even though we have a handwritten library, with automatic retries, we don't handle a known failure case for them.

(2) Won't work, because the same problem applies to other kinds of jobs: load, copy, extract.

(3) I don't like having a `random` field of JobId, either. Both options feel bad, though making `random` not affect `equals` or

[2018-02-07 21:15] garrettjonesgoogle commented on #2876
The Spanner unit tests also fail on Circle intermittently, under both linux & mac.

- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/399
- https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/402

I am seeing "Received 'killed' signal" at the end of the log.

(The "leaked session" logs are a red herring, for anyone who looks at the build log - they occur on successful build

[2018-02-07 21:22] hzyi-google commented on #2855
The response code is 200/OK when I run a `curl -i http://metadata.google.internal/computeMetadata/v1/project/project-id` from cloud shell.

[2018-02-07 21:46] garrettjonesgoogle opened #2878 "Convert resource name one-of types to use inheritance"

[2018-02-07 21:47] garrettjonesgoogle opened #2879 "Add String-based overloads for flattened methods using resource name types"

[2018-02-07 22:32] ericjohnston1989 opened #2880 "FieldValue.of is not public"
For some reason FieldValue "of" method is not "public static" which means I can't create an instance of FieldValue. I can create instances of other, similar objects like Field, Schema, etc. though.

This is major problem, because it means you can't create bigquery result objects for things like testing. Could we please make this available?

[2018-02-07 22:34] ericjohnston1989 commented on #2880
The exact import is com.google.cloud.bigquery.FieldValue

[2018-02-08 04:25] pongad commented on #1381
Change pushed. Run `gcloud components update` to pick it up!

[2018-02-08 04:25] #1381 closed

[2018-02-08 05:17] #2364 closed

[2018-02-08 15:26] ihsanhaikalz commented on #2687
@pongad could you update to this issue once your commit has been pushed to master? hopefully your commit could solve my issue

[2018-02-08 16:16] garrettjonesgoogle opened #2882 "Perform snapshot releases after successful builds to master"
We lost releases of snapshot versions when we turned off the oraclejdk7 build on Travis (since the after_success.sh script only performed releases for that build variant).

Now that we are using Circle, we should add a step in the CircleCI workflow to perform a snapshot release after all jobs finish (operating systems + integration tests).

[2018-02-08 20:19] wsh commented on #2855
This is being addressed with `GOOGLE_CLOUD_PROJECT`. @saturnism, I've CC'd you on the internal bug (73092008).

[2018-02-08 21:40] #2778 closed

[2018-02-08 22:54] garrettjonesgoogle opened #2884 "Fix Storage integration test failures"
It turns out that the failures in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2872 were intermittent because of a change being rolled out to Storage. Storage tests are now failing reliably on one case that wasn't updated: https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/563 . We should update the integration tests to expect Invalid Argument and fail if anything else

[2018-02-08 23:49] pongad commented on #2855
Internal bug is fixed but not rolled out yet. I'll leave this open until then.

[2018-02-09 05:21] #2884 closed

[2018-02-09 07:22] pongad commented on #2867
@tswast You're right about (4). I misread the current implementation. Sent out a PR to fix this.

[2018-02-10 20:16] ad1269 opened #2888 "Firestore Realtime Listener Timing Out"
I'm trying to use Firestore in order to set up realtime listeners for a collection. Whenever a document is added, modified, or deleted in a collection, I want the listener to be called. My code is currently working for one collection, but when I try the same code on a larger collection, it fails with the error:

`Listen failed: com.google.cloud.firestore.FirestoreException: Backend ended Listen st

[2018-02-11 01:36] tamersaleh commented on #2796
Hi @pongad, Im now about to use google cloud logging API for logging in a multiThreaded java app, it'll be having near to 5k threads running concurrently, so any updates plz?

[2018-02-11 06:35] tamersaleh opened #2889 "java.lang.ClassNotFoundException: com.google.api.gax.rpc.StubSettings"
java.lang.ClassNotFoundException: com.google.api.gax.rpc.StubSettings
I just "exactly" followed this [link](https://cloud.google.com/logging/docs/reference/libraries)

[2018-02-11 06:38] tamersaleh commented on #2889
I just have a simple questions, why almost "all" google APIs are not even working?

[2018-02-11 06:52] kevmo314 opened #2890 "Dependency conflicts with Apache Beam Cloud Dataflow runner"
Hi, I'm running into the following exception when using Firestore:
[code]

My pom.xml file:

[code]

and output of `mvn dependency:tree`

[code]

It looks like this is due to Beam pulling in old dependencies that aren't sufficient for `firebase-admin`, so I tried pinning

[code]

which resulted in #2496:

[code]

so I tried adding

[code]

but this results in

[code]

at which point I'm sort of st

[2018-02-11 07:12] kevmo314 commented on #2890
For posterity, if I put `firebase-admin` first, then I end up with a conflict on `io.grpc:grpc-core` as Beam seems to require 1.5.0. Pinning that to 1.9.0 as requested by `firebase-admin` results in

[code]

[2018-02-11 15:08] PandaMonkey commented on #2890
Hi, @kevmo314 , I have carefully reviewed your issue and spend some energy to analyze your dependency tree.
For the first issue "java.lang.NoSuchMethodError: java.lang.NoSuchMethodError: com.google.auth.oauth2.ServiceAccountCredentials.getProjectId()",
it caused by the duplicate library "com.google.auth:google-auth-library-oauth2-http". Your project introduced three versions of this library, i.e.,

[2018-02-11 16:38] kevmo314 commented on #2890
I tried pinning to the versions you suggested and received the same exception

[code]

I don't think pinning minor versions would solve the issue either, as minor versions are supposed to be backwards-compatible with semantic versioning. If they're not, then that suggests a more systemic problem in the Google Java APIs...

[2018-02-11 17:10] kevmo314 commented on #2890
Okay, so it turns out that there are substantial differences between [1.9.0](http://googleapis.github.io/gax-java/1.9.0/apidocs/com/google/api/gax/grpc/package-tree.html) and [higher versions](http://googleapis.github.io/gax-java/1.18.0/apidocs/com/google/api/gax/grpc/package-tree.html).

That's insane, that completely goes against the point of using semantic versioning. I'm going to echo the sent

[2018-02-12 02:52] pongad commented on #2796
@tamersaleh I unfortunately don't have concrete progress to share yet. We plan to simplify the batching logic. The simplification should let us smoke out many of these bugs.

[2018-02-12 02:54] pongad commented on #2889
@tamersaleh Could you share your `pom.xml` or `build.gradle`? This is most likely caused by dependency conflicts.

[2018-02-12 03:20] tamersaleh commented on #2889
@pongad  thanks a lot for your prompt response :)
I actually found Im using Firebase Admin dependence and it includes (by default) gaz, io.netty, google client api, I'd prefer that this firebase or any dependences to be stand alone, no need to include other depends unless it really cant even work without it

After I exclude these dependencies from firebase it works :)

[2018-02-12 03:25] pongad commented on #2889
@tamersaleh I'm glad this is working for you. The problem is similar to #2890. Since the immediate problem is resolved, I'll close this issue and track further action items there.

[2018-02-12 03:25] #2889 closed

[2018-02-12 03:28] pongad commented on #2855
Env var `GOOGLE_CLOUD_PROJECT` is set in cloud shell. We should be good now. I'll close this; please reopen if the problem persists.

[2018-02-12 03:28] #2855 closed

[2018-02-12 04:18] PandaMonkey commented on #2890
@kevmo314 , Sorry, my mistake.
The missed class com/google/api/gax/grpc/GrpcTransport is in com.google.api:gax-grpc 0.25.1. This library is not be loaded. You can upgrade com.google.cloud:google-cloud-firestore:0.25.0-beta to 0.34.0-beta. In this way the missed class is not really needed.
So adding this patch may work:

                <dependency>
			<groupId>com.google.cloud</groupId>
			<artifa

[2018-02-12 04:34] kevmo314 commented on #2890
Thanks for the help, but that just leads me to yet another exception:

[code]

I also had to refactor some of my code because apparently the API around collections is different between `0.25.0-beta` and `0.34.0-beta`, which is certifiably crazy.

[2018-02-12 04:51] pongad commented on #2890
@PandaMonkey Thank you for the analysis!

@garrettjonesgoogle My understanding: we are (were?) using unstable surfaces to implement stable ones. I believe this works OK if the two surfaces are in the same Maven package. In this case, they're not. BEAM depends on Spanner `0.20.0-beta`, which depends on an older GAX. Now @kevmo314 is trying to use Firestore which wants new GAX.

[2018-02-12 09:54] ensonic opened #2892 "documentation issues: for transaction.update()"
https://googlecloudplatform.github.io/google-cloud-java/0.34.0/apidocs/com/google/cloud/datastore/DatastoreWriter.html#update-com.google.cloud.datastore.Entity...-

the methods return value is void and it is documented to not throw anything. Still the documentation says "The operation will fail if an entity with the same key does not already exist.".

How will it fail?

[2018-02-12 12:38] sabarivs opened #2893 "Table-valued functions are not supported when SQL query which has JS based function"
Hi Team,
         I have included the below dependency in my java app
**<dependency>
  <groupId>com.google.cloud</groupId>
  <artifactId>google-cloud-bigquery</artifactId>
  <version>0.34.0-beta</version>
</dependency>**

i am trying to execute below sql

**SELECT COUNT(*) as adj_count, adjective
FROM
 JS(
 (SELECT tokens FROM pcf_sb_1_1517930560980472067.pcf_gcp_twitter_ds_table ),
 tokens,
 "[{

[2018-02-12 15:26] saturnism commented on #2855
Thanks. Just caught up. However, the current logic will always ping metadata server first rather than checking gcloud SDK credentials first, right? This is contrary to the doc, and can be inefficient. Is there a way to restore the behavior of using metadata server as the last resort?

[2018-02-12 17:05] schmidt-sebastian commented on #2888
@ad1269 Thanks for sending this over. This sounds like something that our backend team should take a look out. You shouldn't need to do anything special to work with larger collections.

Can you let us know what collection sizes you are working with?

[2018-02-12 18:10] vkedia commented on #2890
cc @mairbek
We actually want to upgrade Beam to use the latest version of spanner as well. But Beam also depends on really old versions of grpc and possibly some other things like gax etc( irrespective of spanner). So it has been a challenge to do so.
We might want to release shaded artifacts of Spanner and Firestore so that they can be used with Beam at arbitrary versions.

[2018-02-12 18:48] kevmo314 commented on #2890
Is there a short term workaround (eg can I force maven to shade Firestore or Beam)? I'm blocked at the moment due to this incompatibility, but currently my only practical option seems to be to remove the `firebase-admin` dependency and manually issue GRPC calls. Or I guess manually find versions that are compatible with both. The former seems less painful, actually. :)

[2018-02-12 19:30] #2867 closed

[2018-02-12 19:40] pongad commented on #2893
@tswast This looks like https://github.com/GoogleCloudPlatform/google-cloud-python/issues/3606. Can you comment?

[2018-02-12 20:39] tswast commented on #2893
@sabarivs Are you able to execute this SQL from the web interface, but not the Java client?

The BigQuery client library uses standard SQL syntax by default. I believe the SQL you provided is using legacy SQL syntax.

Standard SQL syntax for UDFs is documented at https://cloud.google.com/bigquery/docs/reference/standard-sql/user-defined-functions

Alternatively, you can set the query syntax to leg

[2018-02-12 20:52] #2880 closed

[2018-02-12 21:00] ad1269 commented on #2888
My collection is quite large. It consists of about 100,000 documents, with each document containing about 40 fields.

I've found a work around for my problem by introducing a "Last_Updated" timestamp field, and only querying documents that have been updated within the last few days. Whenever my app changes a document, I also update the Last_Updated field.

I'm happy to provide more information if

[2018-02-12 22:40] #2892 closed

[2018-02-12 23:05] sparhomenko commented on #2796
@pongad I'm afraid we are not able to reproduce the issue anymore. The only useful thing we found was that on the pods where this was reproducible `LoggingHandler` actually stopped providing any logs after this exception occurred:
[code]

These might have been caused by us producing too many logs, which we are not doing anymore.

One other suspicious thing is that latest version of `google-appengi

[2018-02-12 23:34] dansomething commented on #2796
FWIW, we have experienced similar issues using both JUL and Logback as our client for google-cloud-logging. The hangs seem to correlate with GRPC connection issues. We have sadly never been able to reliably reproduce the issue. We eventually had to give up on using the "Enhanced Stackdriver Logging" feature of the [jetty-runtime](https://github.com/GoogleCloudPlatform/jetty-runtime#enhanced-stackd

[2018-02-13 01:52] tamersaleh commented on #2796
my experience with cloud logging is just that, when I'm trying to call logging.write(Collections.singleton(logEntry)), it doesn't seem like its called asynchronously, and it makes 90% of my threads in a BLOCKED state

[2018-02-13 07:38] anuraaga opened #2895 "BaseWriteChannel.setChunkSize rounds down to the nearest kilobyte instead of up"
Currently, when a user sets a chunk size, the channel rounds this down to the nearest multiple of `MIN_CHUNK_SIZE` (256K)

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-core/src/main/java/com/google/cloud/BaseWriteChannel.java#L106

This does not seem to be consistent with its javadoc, which says it sets the minimum amount of data sent in an RPC
https://github.c

[2018-02-13 07:46] anuraaga opened #2896 "WriteChannel.capture surprisingly may do I/O"
`WriteChannel.capture` as implemented by `BaseWriteChannel` flushes the buffer before capturing. While this seems reasonable to reduce the size of the captured state, it is surprising since the javadoc doesn't mention this at all - intuitively, it does not seem like a method that just captures `RestorableState` would do blocking I/O, so the javadoc should be extended to clarify this point or the f

[2018-02-13 10:39] ardias opened #2897 "Why is Compute going away in favor of Compute Engine Client Libraries?"
Compute Engine Client Libraries are in maintenance mode and not receiving any updates as stated in its github project page (https://github.com/google/google-api-java-client), so why is the Compute library going away in favour of that?
What are the plans for Compute support? Is it going away completely at some point? Is it going to be replaced with something else?

Thanks in advance

[2018-02-13 11:57] sabarivs commented on #2893
@tswast  i set the query syntax to use legacy sql as you suggested and was able to get response without exception. thanks for your support.

[2018-02-13 16:19] #2893 closed

[2018-02-13 18:59] zfoster commented on #2385
Curiously, the documentation for both SQL formats specifies that a `T` is accepted instead of a space, yet BigQuery reports an error. Of course not an issue with `google-cloud-java` but I found this issue because of the same "Missing whitespace between literal and alias at" error. Replacing `T` in my timestamp with ` ` fixed it

[2018-02-13 19:57] starsandskies opened #2899 "External user feedback regarding the GCS Download Object sample"
This feedback came to the GCS Docs as bug 68217327.

The feedback applies to the Java sample for downloading objects from GCS, found at https://cloud.google.com/storage/docs/object-basics#download

The body of the feedback was:
"The example to download an object already has a populated blobId. What is a blobId? How do I make one?"

I believe they're referring to the fact that the download sample t

[2018-02-13 20:34] pongad commented on #2899
Makes sense. We should probably show `BlobId id = BlobId.of(bucketName, objectName)`. @hzyi-google can you take this on?

[2018-02-13 21:44] pongad commented on #2896
I actually find it unreasonable. It is far too surprising that `capture` might throw an exception.

[2018-02-13 21:56] stickfigure opened #2901 "DatastoreReader missing method overloads with the ReadOption parameter"
`Datastore` has `Entity get(Key key, ReadOption... options);` but this method is missing from the `DatastoreReader` interface.

[2018-02-13 22:02] pongad commented on #2796
The method taking 1min to timeout is curious. That's the deadline we set on our RPCs but Logging shouldn't take that long. This might be related to threads being in BLOCKED state; if threads are blocked, they can't service RPC.

Could you share with us the stack trace of the BLOCKED threads?

[2018-02-13 22:33] pongad commented on #2901
@wsh Correct me if I'm wrong. IIUC, `DatastoreReader` is purposefully missing the `ReadOption` since the reader can be used in contexts where the options don't make sense, like in a transaction?

[2018-02-13 23:48] #2440 closed

[2018-02-14 01:04] nomcopter commented on #1381
@pongad When will the update make it in to https://hub.docker.com/r/google/cloud-sdk/ ? Thanks!

[2018-02-14 01:10] wsh commented on #2901
:/ Honestly, I don't know. What you've said makes sense given that `Transaction` implements `DatastoreReader` (and the only `ReadOption` defined is for eventual consistency, which wouldn't make sense in that context as you note), but I wasn't around for its design so I can't say for certain that its omission was intentional. @lesv? @jabubake?

[2018-02-14 01:14] tamersaleh commented on #2796
some of them BLOCKED, and others are WAITING (parking)

sample of "WAITING (parking)":

[code]

sample of "BLOCKED":

[code]

[2018-02-14 01:45] pongad commented on #2901
What I got out of it: `ReadOption` can be used to tweak the read consistency. In transactions, it's not useful for a read to be eventually consistent. I might be missing something though.

[2018-02-14 03:12] stickfigure commented on #2901
Presumably it was named the generic-sounding ReadOption because there might be other options in the future, which may or may not apply within transactions?

[2018-02-14 03:59] pongad commented on #2796
@tamersaleh Both of these are somewhat expected.

For WAITING, the thread seems to be waiting to lock a shared structure. I'd expect the number to be relatively small though, since the threads should update the structure then unlock quickly.

For the BLOCKED, that's caused by Logging throttling the application because there are too many logs waiting to be sent. This usually happens when the logs a

[2018-02-14 04:07] tamersaleh commented on #2796
@pongad
yes thats exactly what I'm facing now, logs are generated in a speed > 100,000 entries / sec

[2018-02-14 04:09] tamersaleh commented on #2796
right now I did some changes I let threads send all logs to a ConcurrentLinkedQueue then a single thread polling logs from there and posting them in chunks of 4k entry by calling logging.write(entries) and the thread scheduled to run every 2 sec but even thought this is not fast enough

[2018-02-14 07:51] tamersaleh commented on #2796
@pongad I've got an idea,
what about I call POST https://logging.googleapis.com/v2/entries:write directly ?
can I post concurrent calls and batches calls faster than the client lib ?

[2018-02-14 10:53] norbjd opened #2902 "Method listing the contents of a bucket in FakeStorageRpc does not use bucket name"
Hello,

The implementation of the method `list(String bucket, Map<Option, ?> options)` in `FakeStorageRpc` does not use `bucket` parameter to retrieve the files inside the bucket passed as parameter (see [FakeStorageRpc.java](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/v0.34.0/google-cloud-contrib/google-cloud-nio/src/main/java/com/google/cloud/storage/contrib/nio/testing/FakeSto

[2018-02-14 15:49] egortsaryk9 commented on #2802
@schmidt-sebastian @pongad  Hello, thank you for making `Firestore` type `AutoClosable`, this provides more intuitive interface for resources releasing. However, I want to add some more details. After I fetched the latest firestore version (which is `0.34.0-beta` at the moment) and tried to wrap the above code into a try-catch block like:

[code]

I'm still getting this:

 `2018-02-02 17:32:17,275

[2018-02-14 18:00] jabubake commented on #2901
@wsh @pongad  I don't know either, but it does seem like poor naming by assuming that all ReadOptions (current /future ) are not transaction safe.

[2018-02-14 19:43] hzyi-google commented on #2899
This doesn't look like an easy fix but please correct me if I am wrong.

The examples actually work in command line like this: `DownloadAction` extends `StorageAction<Tuple<BlobId, Path>>`, and when running from command line, `DownloadAction` will first call `parse(String... args)` to parse command line arguments into an instance of `Tuple<BlobId, Path>`,  and then call `public void run(Storage st

[2018-02-14 20:45] pwliwanow opened #2904 "Logging - HttpRequest is missing latency field"
According to [LogEntry documentation](https://cloud.google.com/logging/docs/reference/v2/rest/v2/LogEntry#httprequest) `latency` field should be present, however it's not (https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-logging/src/main/java/com/google/cloud/logging/HttpRequest.java).

Is that on purpose and I should create custom field when logging response time

[2018-02-14 20:51] hzyi-google commented on #2902
Hi @norbjd ,

I believe the behavior is on purpose but the documentation does indeed cause confusion.

This class is used to help test `CloudStorageFileSystem`. The [cloud storage file system](https://cloud.google.com/storage/docs/gcs-fuse) has similar behaviors as a file system whose root directory is a bucket. In this sense, it become much less important for the `FakeStorageRpc` class to support

[2018-02-14 21:40] pongad commented on #2802
The channel is connected to "logging.googleapis.com:443". Are you using the logging client somewhere else? I don't think Firestore can be connecting to that endpoint.

[2018-02-14 21:58] pongad commented on #2899
Correct me if I'm wrong. The `DownloadAction.run` itself isn't in the example. So we can make the first `run` extract the project and object IDs from `BlobId`, then pass them on to the second right?

[2018-02-14 22:00] #2895 closed

[2018-02-14 22:00] #2896 closed

[2018-02-14 22:03] hzyi-google commented on #2899
Yes, that should work. Working on it.

[2018-02-14 22:23] pongad commented on #2902
I believe @hzyi-google is right (I'm not super familiar with this class myself). The `FakeStorageRpc` behaves as if it is bound to one bucket.

We should definitely document this. We can treat the ability to properly handle buckets as a feature request.

[2018-02-14 23:35] pongad commented on #2901
I agree that the name is rather poor. Unfortunately, we can't change the name without breaking users now.

I motion that we close this for now. If we need the consistency option, it's possible to either use `Datastore` instead of `DatastoreReader` or do something like
[code]
if we need the consistency option when out of transactions.

This is something we should revisit if/when we add more `ReadOp

[2018-02-15 01:11] pongad commented on #2897
@ardias We are working to auto-generate a Compute client that's more idiomatic than the one in google-api-java-client. Once in place, it will be the recommended client to use. The auto-generation will also mean it'll be easily updated when new Compute features release.

I'll close the issue for now, but please reopen if you have further questions.

[2018-02-15 01:11] #2897 closed

[2018-02-15 09:34] ihsanhaikalz opened #2911 "Bucket logging configuration using library"
I was wondering whether it is possible to set the bucket logging in the target bucket with the access logs are then stored in the bucket log as it is explained here https://cloud.google.com/storage/docs/access-logs but this is only possible using gsutil. There is the option for XML API here https://cloud.google.com/storage/docs/xml-api/put-bucket-logging but not sure if there is one in this google

[2018-02-15 11:09] egortsaryk9 commented on #2802
@pongad Yeah, you are right. I missed that the error now is about `logging.googleapis.com`, not `firestore.googleapis.com`. And yes, we also use `google-cloud-logging-1.16.0` lib to push log entries to GCP StackDriver. Both firestore and logging libs are updated to the latest versions. However, I still don't understand why adding of `Thread.sleep(10000);` line in firestore processor (code) prevent

[2018-02-15 12:23] tamersaleh commented on #2796
@pongad  thanks alot, so when this new change can be in maven repository?

[2018-02-15 14:02] norbjd commented on #2902
Thanks for your replies @hzyi-google @pongad

It's all clear now, in fact I was just confused because the `bucket` parameter is not used in the implementation of `list` method in `FakeStorageRpc`.

I looked to tests in `google-cloud-storage` as you suggest ([BucketTest.java](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-storage/src/test/java/com/google/cloud/sto

[2018-02-15 15:25] chbatey commented on #493
Any update on when this will be implemented?

[2018-02-15 17:22] yanns opened #2912 "Logging with google-cloud-logging-logback on K8S: resources.labels are empty"
I'm trying the used structured logging with `google-cloud-logging-logback` on Kubernetes.
Most of the resource labels are empty, except `project_id` and `zone`:
[code]
I guess the reason for this is that only `project_id` and `zone` are configured for resource of type `container`:

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/937e49d7159c9327255e167f6339c51bb7372c37/google-cloud-l

[2018-02-15 19:05] hzyi-google commented on #2902
I believe you are right. Let's treat this as a feature request.

[2018-02-15 23:04] #2904 closed

[2018-02-16 00:00] #2899 closed

[2018-02-16 00:14] pongad commented on #2901
From lack of objection, I'll close this for now. Please reopen if there's an action item we should tackle.

[2018-02-16 00:14] #2901 closed

[2018-02-16 02:23] pongad commented on #2066
I'll close this for now due to inactivity. Please reopen if the issue persist.

[2018-02-16 02:23] #2066 closed

[2018-02-16 02:44] #2687 closed

[2018-02-16 02:56] pongad commented on #2865
Dataset doesn't handle labels properly. This is a bug now.

[2018-02-17 00:04] igorbernstein2 opened #2916 "bigtable: rename the `wrappers` package to something more meaningful"
See discussion in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2861#discussion_r168528478

[2018-02-17 00:06] igorbernstein2 opened #2917 "bigtable: rename convenience client methods to end with Async"
https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2861#discussion_r168898288

[2018-02-17 00:06] jbaldassari opened #2918 "Eliminate all transitive guava-jdk5 dependencies"
Google Cloud dependencies are pulling in multiple incompatible versions of Guava.  Most depend on newer versions of Guava like ```com.google.guava:guava:20```, but others are pulling in ```com.google.guava:guava-jdk5:17.0```.  When I miss excluding that ancient jdk5 version from somewhere I end up with a bunch of classloader issues like:

[code]

For some reason I see this mostly with Cloud KMS (`

[2018-02-17 00:14] garrettjonesgoogle commented on #2918
This has been done in code (https://github.com/google/google-api-java-client/commit/1b35470936c83622167733b0c010a8321b03e3ab) but hasn't been released yet from google-api-java-client.

[2018-02-17 00:18] jbaldassari commented on #2918
Great to hear!  Thanks for the quick reply.

[2018-02-18 09:47] redserpent7 opened #2921 "Vision API creating Annotator client"
Hi,

I am trying to find a documentation for how to create an annotator client with a credentials file. I do not want to use goolge default credentials. When using the translate API, I load my credentials file like so:

[code]

What is the equivalent way in Vision?

[2018-02-18 10:02] #2865 closed

[2018-02-18 22:46] pongad commented on #2552
I think I found the issue. `createScoped` only attaches the scope "if the credentials support scopes". Turns out, when we run to App Engine, the implementation of Credentials (`ComputeEngineCredentials`) does not support scopes.

@neozwu Do you know if there's a way around this?

[2018-02-18 22:51] pongad commented on #2921
@redserpent7 The way to load credentials is a little different. There is an example [here](https://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/com/google/cloud/vision/v1/ImageAnnotatorClient.html). Search for "To customize credentials".

I'll close this for now, but please reopen if you still need help.

[2018-02-18 22:51] #2921 closed

[2018-02-18 22:53] pongad commented on #2918
I'll add the "blocked" status since we're waiting for release.

[2018-02-18 22:58] pongad commented on #2911
I don't believe this feature is available here yet. @hzyi-google can you confirm? If it is unavailable, let's turn it into feature request.

[2018-02-18 23:02] pongad commented on #2912
@yanns Are you looking for something like #2669? If so, we're not supporting the feature yet, but we're tracking it in feature backlog wiki.

[2018-02-18 23:32] pongad commented on #2504
@DazWilkin @brugz I am unable to reproduce this. Code and `mvn dependency:list` pasted below.

Since this issue is quite old, I suspect that the fix might have landed between then and now. So, I'll close the issue for the time being. Please reopen if you're still seeing the problem and we can help investigate more.

[code]

[code]

[2018-02-18 23:32] #2504 closed

[2018-02-19 04:40] pongad commented on #1381
@nomcopter I believe a new one has already been pushed.

[2018-02-19 05:01] pongad commented on #2802
@egortsaryk9 Are you using `LoggingHandler`? I believe the issue could be the following. The `LoggingHandler` has a close method that shuts down the gRPC connection but it doesn't wait for the connection to terminate. Sleeping for 10s gave the connections enough time to terminate and so you no longer see the issue.

@jabubake I'm not sure what the right answer here is. Should we call `awaitTermina

[2018-02-19 05:55] garrettjonesgoogle commented on #2890
Hi everyone, I think it would be good to set expectations correctly around versioning.

- Spanner and Firestore are both 0.x versions and accordingly are marked beta, so you will have to expect some breaking changes when using them, especially together.
- In order to promise stability as early as possible for basic cases, we had to do a "partial stability" approach. This means that core things in

[2018-02-19 08:19] yanns commented on #2912
@pongad no, I'm speaking about the information that should be read from the environment.
For ex, in K8S, the library should automatically read the namespace ID, the pod ID...

https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2669 is about user defined labels AFAIU.

[2018-02-19 10:18] kevmo314 commented on #2890
Thanks @garrettjonesgoogle for the tip about google-cloud-bom, I'll give that a shot and see if that works.

As @pongad mentioned, I'm using neither Spanner nor Firestore directly, but rather I'm depending on Apache Beam and `firebase-admin`, both of which should be "stable" as they have versions >=1.0.0. I've come to realize that `firebase-admin` is nothing more than a thin wrapper around the 0.x

[2018-02-19 13:10] kevmo314 commented on #2890
It looks like `google-cloud-bom` doesn't pin the version for `io.grpc:grpc-core`, so Maven still complains about not being able to resolve the version correctly. :(

[2018-02-19 15:13] sai-pullabhotla commented on #2442
@wsh  - I've verified this and here is what I found:

After upgrading my locally installed **gcloud CLI**, the issue is fixed. However, the builds on Travis CI are failing as I use **LocalDatastoreHelper** to run the tests. The LocalDataStoreHelper is still using version **1.2.0** of the DatastoreEmulator, where as the latest is **1.4.0**.

Is there a reason why the LocalDatastoreHelper is set to

[2018-02-20 00:57] pongad commented on #2912
@yanns I see. I must admit I'm not super familiar with this part of the code base.
@jabubake There are a couple things I'm quite confused by; could you help clarify?

1. `http://metadata/computeMetadata/v1/instance/cluster-name` seems to not exist. At least it's not documented on [this page](https://cloud.google.com/compute/docs/storing-retrieving-metadata). Should it be removed?

2. How are the e

[2018-02-20 14:47] garrettjonesgoogle commented on #2890
Ahh, I think `grpc-core` slipped through the cracks - we never had an explicit dependency on grpc-core because the other grpc packages pull it in, so it didn't make it into the bom either. We should add it in. You can set the version of that package manually though, so that it uses 1.9.0 like the rest.

In my scan through this issue I didn't notice before that `firebase-admin` was a package outsid

[2018-02-20 14:54] garrettjonesgoogle opened #2924 "Add grpc-core to google-cloud-bom"
This should be added, as per https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2890#issuecomment-367000167 .

[2018-02-20 17:39] hzyi-google commented on #2853
Move this issue to feature [backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). This place can continue to be used for discussion.

[2018-02-20 17:39] #2853 closed

[2018-02-20 17:41] #2866 closed

[2018-02-20 17:47] hzyi-google commented on #2875
Move this issue to [feature backlog](https://github.com/GoogleCloudPlatform/google-cloud-java/wiki/Feature-backlog). Discussions and comments are still welcome here. Please feel free to reopen if there has been work in progress.

[2018-02-20 17:47] #2875 closed

[2018-02-20 18:05] igorbernstein2 commented on #2852
This came out of discussion in #2841. I was planning on generalizing the scripts once the bigtable client stabilizes. Should I not be planning to do this?

[2018-02-20 18:43] hzyi-google commented on #2852
Sorry I thought this issue was used to track the merged PR.

[2018-02-20 18:44] hzyi-google commented on #2911
I don't think there is either.

[2018-02-20 20:43] etanshaul opened #2926 "Add IntelliJ plugin steps to the README"
@garrettjonesgoogle, as mentioned:

We've recently added support for the google-cloud-java libraries in IntelliJ via the [Cloud Tools for IntelliJ plugin](https://github.com/GoogleCloudPlatform/google-cloud-intellij) (sample screenshot below). This includes:

- Discovering available Java client libraries and adding them to the project (Maven)
- Enabling GCP APIs from the IDE
- Managing service acc

[2018-02-20 23:39] saturnism opened #2928 "Document gRPC and common classpath conflicts troubleshooting"
For ALPN error, refer to [gRPC troubleshooting guide](https://github.com/grpc/grpc-java/blob/master/SECURITY.md#troubleshooting).

Add additional documentation for Guava and Protobuf related errors, and examples to shade.

[2018-02-21 00:41] #2902 closed

[2018-02-21 00:42] hzyi-google commented on #2902
The feature request is added to the backlog. Feel free to add comments here.

[2018-02-21 00:58] pongad commented on #2928
The ALPN error should hopefully not be a problem anymore, since we're using shaded netty now.

I'm not super familiar with shading. Is this something users can do themselves. I thought shading is something library maintainer has to do.

[2018-02-21 06:54] pongad commented on #2552
Also assigning @hzyi-google from today's discussion.

[2018-02-21 07:59] yanns commented on #2912
@pongad `LoggingEnhancer` is used for `labels` and not for `resources.labels`.

[2018-02-21 08:04] yanns commented on #2912
If I use the stackdriver agent that parsed stdout/stderr, all the `resources.labels` fields are set:
[code]

Maybe we should read some values from the K8S API?

[2018-02-21 08:23] yanns commented on #2912
I went through all values I could find under `http://metadata.google.internal/computeMetadata/v1/?recursive=true&alt=text` and this is what I could find:

- cluster_name: "http://metadata.google.internal/computeMetadata/v1/instance/attributes/cluster-name"
- instance_id: "http://metadata.google.internal/computeMetadata/v1/instance/id"
- project_id: "http://metadata.google.internal/computeMetadata/

[2018-02-21 19:46] garrettjonesgoogle opened #2932 "Mark videointelligence v1beta1 as deprecated"
https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-video-intelligence/src/main/java/com/google/cloud/videointelligence/v1beta1

This may require work in toolkit to support.

[2018-02-21 23:15] #2916 closed

[2018-02-21 23:15] #2917 closed

[2018-02-21 23:34] #2924 closed

[2018-02-21 23:35] jabubake commented on #2912
@pongad : cluster_name: "http://metadata.google.internal/computeMetadata/v1/instance/attributes/cluster-name"
should be fixed.

pod_id may be available as HOSTNAME env var.

@yanns : on GKE, you may be better off using the Stackdriver agent to handle the logging for you. You can use a console handler / logback appender within your application.
https://cloud.google.com/kubernetes-engine/docs/how-to

[2018-02-22 05:03] pongad commented on #2788
Ping @ejona. Since this is on Firestore, I'll assign to Sebastian to track.

[2018-02-22 07:26] yanns commented on #2912
@jabubake this is what I'm using right now.
I'm using logback to log to stdout/stderr, but this has several limitations:

- Stackdriver detects only 2 severity levels (from stdout/stderr) instead of the usual DEBUG/INFO/WARN/ERROR
- Multi-line entries (entries with line feed characters) are not processed correctly. It means that stacktraces are not processed correctly.

By looking for a solution t

[2018-02-22 16:46] ihsanhaikalz commented on #2911
I think it will be good as well if you could check the status of bucket logging and remove bucket logging if needed as doing this from console is quite hectic

[2018-02-22 17:07] meltsufin opened #2942 "Upgrade google-api-services-cloudresourcemanager version to v1-rev6-1.22.0"
Currently the BOM is specifying version `v1beta1-rev10-1.21.0`, which is pretty old and conflicts with current versions of libraries, such as `beam-runners-google-cloud-dataflow-java`.

See https://github.com/spring-cloud/spring-cloud-gcp/issues/442.

[2018-02-22 17:55] jabubake commented on #2912
Json format might be your friend, but totally understand your concerns here.
@saturnism might be able to offer better recommendations.
We'll make sure to clarify the documentation around this based on the resolution of this question.

[2018-02-22 23:50] neozwu commented on #2552
I don't really know a good workaround for this (manually constructing AppengineCredentials will only work if your code is in appengine request thread, plus it is not recommended to use appengine.api.* anymore). We should add support of scopes to ComputeEngineCredentials in auth lib.

[2018-02-23 00:24] pongad commented on #2781
@saturnism Do you have any recommendations here?

[2018-02-23 04:35] pongad commented on #2942
@meltsufin Please see the linked PR. I had to update to `v1-rev470-1.23.0`. The version you linked seem to be missing `Projects.create` for some reason.

[2018-02-23 07:07] yunus89 commented on #2942
@pongad

I have encountered an error that caused this request, which dependency should i use to fix `ClassNotFoundException on CloudResourceManager$Builder`

[2018-02-23 14:33] garrettjonesgoogle opened #2945 "Firestore integration test ITSystemTest.addAndRemoveFields is failing intermittently"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/1543
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/1365

[2018-02-23 17:42] DhanduS opened #2946 "Google Cloud Java Libraries for 32 bit"
The GIT links state that X86_64 Bit is supported. Does it mean that 32 bit OS versions are not supported.

[2018-02-23 22:58] hiranya911 commented on #2544
This issue occurs in latest versions of dev app server as well:

[code]

This was while trying to run a Firestore API call from the app.

[2018-02-25 14:17] #2945 closed

[2018-02-25 20:30] joeltine opened #2951 "Latest release missing key Classes"
Hello, I noticed that the latest jar on the maven repo doesn't contain all of the classes used and referenced in the documentation.

E.g., to test, d/l the jar: http://central.maven.org/maven2/com/google/cloud/google-cloud-language/1.17.0/google-cloud-language-1.17.0.jar. Extract it, and I see this:

[code]

It's missing key classes like [Document](https://cloud.google.com/natural-language/docs/re

[2018-02-26 01:07] mikekap opened #2952 "Bigquery API should support external Sheets-based tables"
Google Sheets based tables don't currently show up via the java API. There's also no way to create new tables with sheets definitions. It would be nice if this was supported.

[2018-02-26 01:33] pongad commented on #2951
I believe this is working as intended. The package `google-cloud-language` only contains the client. However, it [imports](https://mvnrepository.com/artifact/com.google.cloud/google-cloud-language/1.17.0) package [`proto-google-cloud-language-v1`](https://mvnrepository.com/artifact/com.google.api.grpc/proto-google-cloud-language-v1/1.1.0) which contains the classes like Document.

I think this sho

[2018-02-26 01:33] #2951 closed

[2018-02-26 01:49] pongad commented on #2946
That's correct. 32 bit versions are not supported because [netty-tcnative](http://netty.io/wiki/forked-tomcat-native.html) does not support them. You *might* be able to build the package yourself though, if you need it.

Please let us know if you have more questions.

[2018-02-26 01:49] #2946 closed

[2018-02-26 03:27] pongad commented on #2544
@hiranya911 I'm not able to reproduce the problem. Could you let us know what SDK version you're using?

I'm testing with:
[code]

[2018-02-26 18:25] hiranya911 commented on #2544
Here's my pom.xml:

[code]

[2018-02-26 18:48] kevmo314 commented on #2890
Just to follow up with this, I ended up giving up and using the Firestore REST API, as it was easier to debug than the GRPC API just due to familiarity.

I did try the suggestion to use `google-cloud-firestore` directly, however I ran into another `NoClassDefFound` exception even after pinning `grpc-core` and I was too frustrated to continue. I'd be happy to help with any additional output or prov

[2018-02-26 19:00] garrettjonesgoogle commented on #2876
*bump* Still failing intermittently...

https://ci.appveyor.com/project/googlejavacloud/google-cloud-java-v0gf7/build/2011
https://ci.appveyor.com/project/googlejavacloud/google-cloud-java-v0gf7/build/1974

[2018-02-26 19:31] vkedia commented on #2876
I will take a look. My guess would be it is SessionPoolStressTest that hangs up possibly due to some race condition in SessionPool.

[2018-02-26 19:43] igorbernstein2 opened #2957 "bigtable: Rename Mutation -> Mutations"
As reported by @kevinsi4508:

`Mutation` represents a set of mutations for a row, so it would be less confusing if it was pluralized.

[2018-02-27 02:24] pongad commented on #2890
@kevmo314 I'm sorry to hear that. Upgrading BEAM's dependencies (https://github.com/apache/beam/pull/4707) should help in the long run though.

[2018-02-27 13:55] JohannBlake opened #2960 "new Thread is not supported when calling GAE APIs"
I'm using Java 8 and:

`com.google.appengine:appengine-api-1.0-sdk:1.9.62`

and this import:

`import com.google.appengine.api.datastore.*;`

I ran some code to test storing data into the Datastore. My testing is being done locally. This works fine if you perform the operation on the same thread that the servlet's doGet is on. I then created a runnable and ran the same code from within the runnabl

[2018-02-27 15:05] garrettjonesgoogle opened #2961 "Firestore IT broken"
The Firestore integration tests timed out with the latest commit which included Firestore changes:

https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/1742

We need to do a release today - the Firestore changes probably should be rolled back.

[2018-02-27 15:06] garrettjonesgoogle commented on #2961
cc @andreamlin @vkedia

[2018-02-27 15:06] garrettjonesgoogle commented on #2961
cc @snehashah16

[2018-02-27 15:09] garrettjonesgoogle opened #2962 "Storage IT intermittently timing out (ITStorageTest: testListBlobRequesterPays)"
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/1745
https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/1671

[2018-02-27 15:47] schmidt-sebastian commented on #2961
Hm, the tests are timing out with no messages:

-------------------------------------------------------
Running com.google.cloud.firestore.it.ITSystemTest
Too long with no output (exceeded 10m0s)

I will look at this later. For now, I will revert the commits.

[2018-02-27 15:50] schmidt-sebastian commented on #2961
Reverts:
https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2964
https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2965

[2018-02-27 16:19] garrettjonesgoogle commented on #2961
Thanks!

[2018-02-28 02:38] pongad commented on #2960
CC @wsh

Please correct me if I'm wrong. I think `com.google.appengine.api.datastore.*` is in [this repo](https://github.com/greghaskins/googleappengine/tree/master/java/src/main/com/google/appengine/api/datastore), not here.

But to answer your question, I suspect that you're using Java 8 but your local AppEngine server is still using Java 7 runtime. I believe you need a line `<runtime>java8</run

[2018-02-28 04:31] JohannBlake commented on #2960
I'll repost the issue in the repo you indicated. Please delete it here. I also indicated that the issue has to do with accessing the GAE APIs from within a thread using "new Thread". The example you posted above does not do that - that's just running a normal thread without accessing the GAE APIs, which I indicated works fine. Also, my appengine-web.xml does contain the java8 runtime flag. Thanks

[2018-02-28 04:33] JohannBlake commented on #2960
Actually, that link you provided shows a repo that is 7 years old and hasn't been touched since. Something doesn't seem right.

[2018-02-28 05:24] pongad commented on #2960
@JohannBlake You're right. The APIs are documented here, but I can't seem to find the official repo now. @wsh can you help?

[2018-02-28 06:38] pongad commented on #2932
I'm marking this feature request since it's waiting on toolkit, please re-label if appropriate.

[2018-02-28 10:27] dtretyakov opened #2973 "Compute API: NPE in StorageImageConfiguration"
Steps to reproduce:
* Execute `compute.listImages().iterateAll()`

It throws the following exception:
[code]

According to java docs `com.google.api.services.compute.model.Image#getRawDisk` could return null, so it's not safe to execute `imagePb.getRawDisk().getContainerType() != null`:
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-compute/src/main/java/com/goog

[2018-02-28 12:55] dtretyakov commented on #2732
As far as I understand GCE APIs from this project are deprecated in favor of https://mvnrepository.com/artifact/com.google.apis/google-api-services-compute

Is it true and where is a repository of the mentioned maven library?

@garrettjonesgoogle, you mentioned in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2686#issuecomment-360311659 that GCE API will be replaced by completely

[2018-02-28 17:27] saturnism commented on #2912
Hiya! Agreed w/ @jabubake. I do prefer GKE w/ STDOUT. For the right severity level and multi-line traces, I also recommend JSON logging.  If you do use JSON logging, it'll also be readable via `kubectl logs`, but you'll need to filter it through `jq` or something to parse the JSON on the way out.

[2018-02-28 18:30] vkedia commented on #2876
I ran the SessionPoolStressTest 1000 times and each time it finished in about 20 seconds or less. maximum it took was 20 seconds so not sure what goes wrong.
I will keep on digging.

[2018-02-28 20:31] saturnism commented on #2781
Per discussion from email:

1. Move non google-client libraries (i.e., 3rd party dependencies, like netty, guava, protobuf, org.json, any test-related libraries) to parent dependency management section, so that it's not exported via the BOM, but is still a direct dependency of the sub modules.
1. Advise the use of Enforcer plugin to detect conflicting versions in user's POM. In the user's POM, enf

[2018-02-28 21:56] pongad commented on #2912
No more action items in this repo. I'll close this for now.

[2018-02-28 21:56] #2912 closed

[2018-02-28 22:35] saturnism commented on #2928
@pongad it won't be a problem until the shaded netty between different gRPC versions become a problem.

This request is to document the potential issues users run into and ways to resolve them.

[2018-02-28 22:37] #2962 closed

[2018-02-28 22:49] wsh commented on #2960
@JohannBlake the key part is in fact [the sentence immediately _after_ the one you quote](https://cloud.google.com/appengine/docs/standard/java/runtime-java8#threads):

We don't have a canonical repository for the App Engine Java SDK that I'm aware of.

[2018-02-28 23:08] #2942 closed

[2018-02-28 23:09] garrettjonesgoogle commented on #2961
Resolving this because the problem was fixed with a rollback.

[2018-02-28 23:09] #2961 closed

[2018-03-01 00:44] wsh commented on #1485
@sai-pullabhotla thanks for this report and your thoughts! Agreed that this is confusing.

`git blame` doesn't suggest anything remarkable for this method in the builder. I think it may have been added because [GQL for {N}DB](https://cloud.google.com/appengine/docs/standard/python/datastore/gqlreference) supports "entity values" (really, model references which the library converts) for ancestor qu

[2018-03-01 01:01] saturnism commented on #2928
After #2977, @saturnism to add more details on example exceptions as well as maven configurations.

[2018-03-01 10:43] yanns commented on #2912
@jabubake @saturnism I just tried using stdout with json, and it looks to work well.
Thx for the info!

In case anyone is interested in the solution I took:
I added this library: https://github.com/logstash/logstash-logback-encoder

I configured logback that way:
[code]
This may evolve in the future, but fulfills the first use-cases.
The field `severity` is correctly parsed by the stackdriver agen

[2018-03-01 19:03] hzyi-google commented on #2973
According to this [compute doc](https://cloud.google.com/compute/docs/reference/rest/v1/images#insert) compute now supports creating images from four sources: rawDisk.source, sourceDisk, sourceImage and sourceSnapshot. IIUC the compute client library does not support the latter two for the moment. From the conversation in [here]( https://youtrack.jetbrains.com/issue/TW-53938) it seems the user is

[2018-03-01 19:08] garrettjonesgoogle commented on #2973
We shouldn't do any feature work on this client since it's going to be replaced by a new auto-generated client soon.

[2018-03-01 22:46] pongad commented on #2973
I cannot seem to open the linked page. If the work is non-granular, I agree with @garrettjonesgoogle that we should wait for this to be replaced by auto-generated client.

[2018-03-01 22:55] hzyi-google commented on #2973
Thanks @garrettjonesgoogle @pongad let's leave this issue open until the client is replaced by the new auto-generated client.

BTW the link is the same as the last link in @dtretyakov 's comment. It seems down.

[2018-03-02 00:09] pongad commented on #2928
Assigning @saturnism since the PR is merged.

[2018-03-05 13:00] igorbernstein2 opened #2992 "bigtable: update javadocs for settings to describe the defaults"
This is extracted from: https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2986/files/5ce135c8e7f55fd510382574357b14a775f5619b#r171952810

The javadocs should document the default timeouts

Please assign this to me

[2018-03-05 16:32] elharo opened #2993 "Version management table in README.md is due for an update"
stops at 0.30.0

[2018-03-05 16:46] garrettjonesgoogle commented on #2993
But the version management table is only there for versions where the BOM didn't exist; after 0.30.0, the BOM can be used.

[2018-03-05 17:29] hzyi-google commented on #2419
Fixed by #2948

[2018-03-05 17:29] #2419 closed

[2018-03-06 01:31] pongad commented on #2960
Since the previous response seems to answer the question, I'll close this for now. Please reopen if you have other.

[2018-03-06 01:31] #2960 closed

[2018-03-06 19:27] nitishgargiitd commented on #2276
Getting this error quite a lot too while using ruby library for Google Cloud Vision

[2018-03-06 19:36] garrettjonesgoogle opened #2999 "Convert Spanner to use Watchdog from GAX"
Deprecate https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/main/java/com/google/cloud/spanner/spi/v1/WatchdogInterceptor.java , use https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/rpc/Watchdog.java instead.

If Spanner uses watchdogs for client streaming or bidi streaming cases, then analogs to https://github.com/

[2018-03-06 19:39] garrettjonesgoogle opened #3000 "Convert Spanner to use OperationFuture from GAX"
Deprecate https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-spanner/src/main/java/com/google/cloud/spanner/Operation.java , use https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/longrunning/OperationFuture.java instead.

[2018-03-06 19:40] garrettjonesgoogle opened #3001 "Refactor Spanner to use GAPIC client instead of raw grpc stubs"

[2018-03-06 19:41] garrettjonesgoogle opened #3002 "Refactor Pub/sub to use GAPIC client instead of raw Pub/Sub"

[2018-03-06 19:42] garrettjonesgoogle opened #3003 "Create new efficient batching implementation for Pub/Sub and Logging"
Try to support BigTable too.
- [x] Bigtable
- [ ] Pub/Sub
- [ ] Logging

[2018-03-06 23:09] pongad commented on #2928
@saturnism Can this be closed now?

[2018-03-07 13:28] garrettjonesgoogle commented on #2781
We have moved the dependencies not managed by our project to the parent pom, so closing this out now.

[2018-03-07 13:28] #2781 closed

[2018-03-07 23:16] saturnism commented on #2928
yes pls! thnx.

[2018-03-07 23:16] #2928 closed

[2018-03-08 01:06] hzyi-google commented on #1485
ping @eddavisson, please let us know if you have more to comment here.

[2018-03-08 07:01] pgbhagat opened #3010 "Copying file to storage bucket always times out/HTTP/HTTPS proxy setting"
I am trying to copy a file to storage bucket, but the operation always times out.
I tried increasing various time out parameters but its not helping.
File size is less than 150kb.
Please refer the below code which times out.
storage.list() method times out.

	`private void uploadFile(String bucketName, String content) {
        HttpTransportOptions transportOptions = StorageOptions.getDefaultHttpT

[2018-03-08 11:15] pgbhagat commented on #3010
After setting up the http/https proxy in the application, it works out.
At the start of java application, setting below system properties solves this problem.

        `System.setProperty("http.proxyHost", "proxy-host-name");
        System.setProperty("http.proxyPort", "proxy-host-port");
        System.setProperty("https.proxyHost", "proxy-host-name");
        System.setProperty("https.proxyPort

[2018-03-08 16:10] garrettjonesgoogle opened #3012 "Re-declare BigQuery as GA"
We tried to bump BigQuery to GA in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2982 , but it got erased in the version bump of the release at https://github.com/GoogleCloudPlatform/google-cloud-java/pull/3004/files#diff-9fa081a8634fe9e631cd85762bb9ceb9 . The thing we need to do differently is to change the `released-version` version in the versions.txt file for bigquery instead o

[2018-03-08 18:07] hzyi-google commented on #3010
Hi @pgbhagat thanks for the letting us know. I wasn't able to repro this issue, so may I ask about your environment settings? (Are you running on any google cloud machines or are you running locally?)

[2018-03-08 20:29] eddavisson commented on #1485
Yep, I agree with the analysis; I don't think this particular method (`public GqlQuery.Builder<V> addBinding(FullEntity<?>... value)` makes sense.

I like the suggestion of having it throw. Perhaps it could throw `com.google.cloud.datastore.DatastoreException` for now (which is fully-backwards compatible) and also be marked deprecated. In the next major version, it can be removed entirely.

[2018-03-08 21:00] saturnism opened #3013 "Interop w/ other Google HTTP clients"
GCP and other Google products have also published ready to use HTTP clients: https://mvnrepository.com/artifact/com.google.apis

With a little interop configurations, it can be very easy to consume these client libraries using google-cloud-java's authentication bootstrap.

[2018-03-08 23:34] pongad commented on #3012
Does this boil down to changing `versions.txt` file but not running the update script (yet)? When we release, the version should get bumped properly then propagated?

[2018-03-08 23:38] garrettjonesgoogle commented on #3012
Hmm yes, that's what we should do.

[2018-03-09 00:04] tswast opened #3015 "BigQuery getting a query job with a statistics.query.timeline.completedInputs property fails"
Package: google-cloud-bigquery
Version: 0.38.0-beta

[code]

See: https://github.com/GoogleCloudPlatform/java-docs-samples/pull/1055#issuecomment-371636373

Code sample where this issue is seen:

[code]

Code: https://github.com/GoogleCloudPlatform/java-docs-samples/blob/af753bb7bfe3b72307ec42cab7cefe75af2b5bd2/bigquery/cloud-client/src/main/java/com/example/bigquery/QuerySample.java

Query used i

[2018-03-09 00:36] #3015 closed

[2018-03-09 01:38] #3012 closed

[2018-03-09 03:38] pgbhagat commented on #3010
I was running my program behind the firewall, and setting those http proxy settings in application solves the problem. Closing this issue now.

[2018-03-09 03:38] #3010 closed

[2018-03-10 00:02] garrettjonesgoogle opened #3019 "Storage integration tests failing"
Last 8 commits have failed. https://circleci.com/gh/GoogleCloudPlatform/google-cloud-java/2684

[2018-03-10 13:03] Lg87 opened #3020 "Duplicate versions in transitive dependencies"
When adding google-cloud-datastore as a dependency, it drags in a lot of different versions of the same libraries.

Example:
[code]

When using maven-enforer-plugin, it will fail the build on duplicate versions and log which ones have duplicates.
Output from this is attached here: [output.txt](https://github.com/GoogleCloudPlatform/google-cloud-java/files/1799366/output.txt)

Should this be fixed?

[2018-03-12 00:02] pongad commented on #3019
I wasn't notified of this, fixed the notification.

[2018-03-12 00:31] pongad opened #3021 "give Subscriber one-of resource name"
- [ ] Change GAPIC config
- [ ] Regenerate
- [ ] Change `Subscriber` to use it.

[2018-03-12 18:34] dhoard-papajohns opened #3025 "Pub/Sub: Server fails to deliver messages in a timely fashion"
I have a Pub / Sub subscription with an ack deadline of 5 minutes.

Stack Driver shows there 7k+ unacknowledged messages, with the oldest message over 2.5 hours old.

My code, which is calling the REST pull API directly shows that messages are flowing but very slowly. When the code pulls messages, it's only a few at a time, some with large latency values (11 minutes, 22 minutes, etc. from publish

[2018-03-13 00:06] jadekler opened #3027 "This repo does not compile in jdk9"
*Note*: This might just be that I'm super rusty at java and am missing something silly.

When I set my `JAVA_HOME` to a jdk9 path and `mvn compile`, I get:

[code]

When I set my `JAVA_HOME` to a jdk8 path and `mvn compile`, it works.

This seems to be a [known issue with checkstyle](https://github.com/checkstyle/checkstyle/issues/5102). I'm not sure how [`org.apache.maven.plugins » maven-checksty

[2018-03-13 06:41] aakash-fk opened #3030 "UnresolvedAddressException when using GRPC_PROXY_EXP"
I am using google-cloud-vision and google-cloud-language.

I need to use the `GRPC_PROXY_EXP` environment variable. However due to a bug in grpc 1.9.0, the proxy variable causes an UnresolvedAddressException. This is documented at https://github.com/grpc/grpc-java/pull/4027.

The problem is fixed in 1.10.0. When will google-cloud-vision/language be updated to use grpc 1.10.0?

Alternatively, is th

[2018-03-13 13:23] skjolber opened #3031 "Logback logstash exception logging"
Logging of exception stacktraces for Logback have been resolved in #2765, however we are aiming to do  JSON logging to console and per default it seems this will not give us stack traces in the 'message' field of jsonPayload as required by [Formatting Errors in Stackdriver Logging](https://cloud.google.com/error-reporting/docs/formatting-error-messages).

Do you have any advice on this can be done

[2018-03-13 19:36] garrettjonesgoogle commented on #3020
No, this is not something we can really fix, because it requires the Java open source entire world to have a consistent state. I recommend using `<requireUpperBoundDeps/>` instead, which will get you the same result but will only fail when maven is making the wrong choice.

[2018-03-13 19:36] #3020 closed

[2018-03-13 23:19] #1485 closed

[2018-03-13 23:56] jjpet123 opened #3035 "Using Pubsub with Proxy that needs a basic authentication"
Hello,

We are using GCP SDK and pubsub service in our project and we'd need to go through an outbound proxy before reaching out to Google. We understand the transport for pubsub is gRPC. We are wondering if there is a way that we can configure the basic authentication for the outbound proxy via the SDK or any other way? We are aware of setting proxy HOST and PORT via environment variables but not

[2018-03-14 00:12] danostrowski opened #3036 "java.lang.IllegalArgumentException: ALPN is not configured properly."
Much has been written about this and I've been searching around it all day, but I'm running into the ALPN error when running google-cloud-monitoring.

[code]
My maven dependencies are as follows.

[code]

My project works locally on Mac in IntelliJ with individual credentials, but when I try to launch it on a GCE instance (CentOS Linux release 7.4.1708 (Core)) in Docker (Docker version 1.13.1, bui

[2018-03-14 04:42] prayagupd opened #3038 "dialogflow heartbeat/ping using SDK"
**Is there a way to check if my app is able to talk to dialogflow agent using java SDK?** (https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-dialogflow)

The purpose is just to verify the `credentials` are working and connectivity is working when I deploy my application, before actual traffic flows in.

One way I can think of is make a intent-request itself which is

[2018-03-14 07:55] prayagupd commented on #3036
It might help, here's my working piece of dependencies with

[code]

I simply build the war artifact and deploy to tomcat 8 without issues on Mac or Linux.

[code]

[2018-03-14 16:35] ryan-williams opened #3041 "NIO channels could optimize buffer-invalidation on seeks"
[`BlobReadChannel` dumps its buffer on any seek](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/v0.38.0/google-cloud-storage/src/main/java/com/google/cloud/storage/BlobReadChannel.java#L104), therefore [so does `CloudStorageReadChannel`](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/v0.38.0/google-cloud-contrib/google-cloud-nio/src/main/java/com/google/cloud/storage/

[2018-03-14 17:07] lbergelson commented on #3041
@jean-philippe-martin This is a slightly different use case than the buffering/prefetching we do in gatk, but maybe it could be addressed as part of the work on porting that.

[2018-03-14 17:09] jean-philippe-martin commented on #3041
It'd probably be best to at least first port the prefetching as is, but yes: the prefetcher *does* optimize buffer invalidation on seeks so if you are using it then you're good.

[2018-03-14 17:13] lbergelson commented on #3041
The weird bit here is that this query moves backwards slightly from the original fetch.  Does the current pre-fetcher handle that correctly? I  had thought it only supported forward motion and would probably invalidate the buffer if it moved backwards.  I could just be wrong though.

[2018-03-14 17:16] jean-philippe-martin commented on #3041
The prefetcher uses blocks. So long as the backward read is within the block, we'll be able to serve data. If you go far back enough that we don't have that data anymore we have to fetch it again of course.

So for example if you use 1 million bytes blocks, and you seek to 1'000'300, read something, and then seek to 1'00'020, you'll be good because you're in the same block. That's just a random nu

[2018-03-14 17:20] lbergelson commented on #3041
Ah, sounds good then.

[2018-03-14 18:02] danostrowski commented on #3036
So your project is using `grpc-netty` and mine is using `grpc-netty-shaded` ... I am not sure if that makes a difference.

[2018-03-14 21:32] garrettjonesgoogle commented on #3036
@danostrowski your particular docker image might be a particular platform where boringssl doesn't work. Could you try running https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-util/google-cloud-compat-checker in your docker image and pasting the result here?

[2018-03-14 21:45] #3019 closed

[2018-03-14 21:49] j256 opened #3044 "Pubsub: ClassNotFoundException org/eclipse/jetty/alpn/ALPN with versions 0.32, 0.35, ..., 0.38"
Although I've seen similar issues, they all seem to be closed, I'm still seeing the following error with recent versions of this API.  Related to: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2740 https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3036

    Caused by: java.lang.ClassNotFoundException: org/eclipse/jetty/alpn/ALPN

My test program is doing the followi

[2018-03-14 22:04] prayagupd commented on #3044
for me I could solve similar issue using `jetty-alpn-agent` jar - see my reproducable codebase here - https://github.com/upd-machine/nlu-pipeline/issues/1

[code]

But that is not a prod ready code so i m not sure if that's the best way i will fix it.  This might be helpful - https://github.com/grpc/grpc-java/blob/master/SECURITY.md#tls-with-jdk-jetty-alpnnpn

[2018-03-14 22:32] j256 commented on #3044
That didn't seem to work for me.  Neither that nor jetty-alpn-client.  The problem is in `io.grpc.netty.JettyTlsUtil` which is doing a `Class.forName("org.eclipse.jetty.alpn.ALPN", true, null);` in the `isJettyAlpnConfigured()` method.

[2018-03-14 22:34] pongad commented on #2993
The documentation at README already mentions that the table is only for prior versions and that the user should use to BOM for newer versions. I'll close this issue.

[2018-03-14 22:34] #2993 closed

[2018-03-14 22:36] pongad commented on #3027
I'm not quite sure how to categorize this. Provisionally giving it P2, but please bump if you think it's more urgent.

[2018-03-14 22:44] danostrowski commented on #3036
It turns out the docker image we're using was using `musl` :( Thanks for the help.

[2018-03-14 22:44] #3036 closed

[2018-03-14 22:51] pongad commented on #3044
@j256 I'm glad you figured this out, but this is rather surprising. We should get to the bottom of this.

[2018-03-14 23:01] pongad commented on #3025
@dhoard-papajohns Is it possible for you to share your code with us? It'd be useful to see what the code is doing.

If the ack deadline is 5 minutes, a pull will "reserve" the message for 5 minutes. If you don't acknowledge or modify-ack-deadline the message within that time, pubsub might give the message to someone else when they pull.

From your description: there are many unacknowledged message

[2018-03-14 23:35] jadekler commented on #2321
Hi @jabubake. You can now do `Color.asDlpColor(<some awt color>)`.

[2018-03-14 23:45] jabubake commented on #2321
Woot :)

[2018-03-15 00:44] j256 commented on #3044
Actually, all you need is a blank class `org.eclipse.jetty.alpn.ALPN` to get the package to work.  All it has to do is satisfy the `Class.forName()` test.

[2018-03-15 03:40] dhoard-papajohns commented on #3025
I have uploaded snippets of the relevant code that I can share.

In the application, I create a fixed thread pool ExecutorService with 100 threads, with each thread running the `pullMessages` method in `Application.txt` and add them to a BlockingArrayQueue.

I have 400 threads processing messages in the BlockingArrayQueue /
metrics show that the BlockingArrayQueue is typically empty.

We have vari

[2018-03-15 03:44] dhoard-papajohns commented on #3025
Here is a Stack Driver screen shot that shows a case where messages stop getting delivered when performing the `pullMessages` method.

<img width="1362" alt="screen shot 2018-03-14 at 11 41 26 pm" src="https://user-images.githubusercontent.com/28569618/37443236-49273f08-27e1-11e8-8c8a-8459f654e788.png">

[2018-03-15 04:02] mdietz94 commented on #3025
Other settings on the PullRequests can cause this. Make sure
return_immediately is false and the deadline is set to at least 20s,
preferably 40s or 1min. Additionally, the higher max_messages is set to
(max 1000) the better we can deliver messages. Counterintuitively adding
threads can decrease throughput when backlog is small because messages can
get stuck waiting for the next pull request to hit

[2018-03-15 04:15] dhoard-papajohns commented on #3025
@mdietz94 I have made the changes and will test / monitor the performance.

[2018-03-15 13:03] dhoard-papajohns commented on #3025
@mdietz94 The changes appear to have made not helped and actually made things worse.

We have a burst of messages every morning (around 300k.) Stack Driver shows the spike and shows it appears to get processed within 20 minutes .... yet we seem to have "stuck" or linger messages after the fact...

My logs show the time difference from receiving the message to calling acknowledge is sub-second.

<i

[2018-03-15 13:25] j256 opened #3048 "Pub sub does not seem to work with Java 7 because of gRPC/netty stuff"
Although the docs state that Java 8 is required, this invalidates its use in my corporate code base which is back on Java 7.   I do see that the class files are Java 7 compliant however.  Is it possible to run under Java 7?  Are there versions of the API that work under 7?

[2018-03-15 13:32] garrettjonesgoogle commented on #3048
Java 8 is only really required when running under App Engine; otherwise Java 7 is the minimum version ( see https://github.com/GoogleCloudPlatform/google-cloud-java#java-versions ).

[2018-03-15 13:44] j256 commented on #3048
Sigh.  Sorry about that.  Not sure where I got Java 8 from.  Thanks for the quick response.

[2018-03-15 13:57] j256 commented on #3048
Although it runs, I can't get the following test program to run under 0.36, 37, or 38.  It runs under Java 8 however so I suspect that maybe a dependency has a requirement?

With Java 7 I'm getting the `java.lang.ClassNotFoundException: org/eclipse/jetty/alpn/ALPN` class not found error which implies that it is in a different classloader.

Test program:

[code]

My pom is just:

[code]

[2018-03-15 14:06] mdietz94 commented on #3025
Can you update the shared code? I can take a look to see if something
stands out. Is 20 minutes longer than it normally takes to work through the
backlog? What size are these messages?

On Thu, Mar 15, 2018, 5:03 PM Doug Hoard <notifications@github.com> wrote:

[2018-03-15 14:50] dhoard-papajohns commented on #3025
20 minutes for the backlog is expected based on the nodes I have deployed (4 x 4 CPU machines) .... but I wouldn't expect the `Oldest Unacknowledged message age` scenario do happen.

After the spike is processed, we are sending `heartbeat` messages at a rate of 3 per minute.

The code is essentially the same.

I changed  ...

max pull messages to `1000`
`returnImmediately` to false
Apache HTTP Cli

[2018-03-15 15:16] j256 commented on #3048
This looks like a problem with the netty gprc 1.9.0.  What a mess.

[2018-03-15 17:39] garrettjonesgoogle opened #3049 "Make google-cloud-java forward compatible with Guava 23+"
I haven't personally tried this yet, but I have evidence that google-cloud-java is not currently forward compatible with Guava 23+. We need to make sure all code can run against both Guava 20 and Guava 23 (basically only depend on classes/methods that exist in the intersection of those versions).

[2018-03-15 19:09] broady commented on #3049
/cc @jadekler

[2018-03-15 19:31] jjpet123 commented on #3035
Hello,

Does anyone know how to authenticate with a proxy when using GCP pubsub? Does pubsub support proxy authentication like basic? It is pretty much blocking our process here, any info is much appreciated!

[2018-03-15 20:04] dhoard-papajohns commented on #3025
During this time period, our message load was fairly consistent.

I added code that will log a warning if any messages takes longer than 2 minutes from pull (receive timestamp) to ack timestamp, but have not seen any messages.

<img width="1374" alt="screen shot 2018-03-15 at 3 52 35 pm" src="https://user-images.githubusercontent.com/28569618/37487820-19c5f42e-2869-11e8-8a4e-8f1275c9a515.png">

[2018-03-15 22:49] garrettjonesgoogle opened #3051 "Update READMEs for BigQuery"
- Main README: move to GA section
- BigQuery README: remove warning about being work-in-progress

and update anything else that is amiss...

[2018-03-16 09:58] coderatgoogle opened #3052 "Facing problem in moving from Java 7 to Java 8 environment in App Engine."
I have followed the steps specified on URL https://cloud.google.com/appengine/docs/standard/java/runtime-java8 for changing from java 7 to java 8 for standard AppEngine. I am getting following error while executing command 'mvn appengine:update'

[code]

[2018-03-18 00:13] jadekler opened #3056 "pubsub: machine runs out of memory and crashes"
Hello! I'm running a simple pubsub consumer. This consumer receives a message, waits 5 seconds, and then acks the message. Running this consumer against a subscription with ~600,000 messages causes my app to repeatedly crash as it runs out of memory. This is running on GKE with no special configuration. I'm also using the java config defaults where possible. Possibly worth noting is that I do not

[2018-03-18 00:26] jadekler commented on #3056
Just to add to this - this seems to be under load conditions only. I'm unable at the moment to reproduce that load, so I can't double check these results. Towards the end of next week I may be able to reproduce that load, in which case I'll update this issue (if it hasn't been updated / resolved by then).

[2018-03-18 00:46] jadekler commented on #3056
I was able to repro the load and the crashing happened again. The counter in this screenshot is not the same counter as before (I removed the deployment entirely and made a brand new one, restarting the counter at 0):

![screen shot 2018-03-17 at 5 44 18 pm](https://user-images.githubusercontent.com/3584893/37561400-f39a3122-2a0a-11e8-921d-320e802b00f4.png)

Note the dips in CPU to 0.

Here are th

[2018-03-18 19:48] sceee opened #3057 "Google Cloud PubSub 0.40 and google cloud logging logback 0.40 interferes and creates JRE fatal error"
I try to use both google-cloud-pubsub and google-cloud-logging-logback in the same project but if I include both dependencies
`compile group: 'com.google.cloud', name: 'google-cloud-pubsub', version:'0.40.0-beta'`
`compile group: 'com.google.cloud', name: 'google-cloud-logging-logback', version: '0.40.0-alpha'`
in the gradle build file, the JRE crashes with a fatal error at the line when I try to

[2018-03-19 00:57] pongad commented on #3056
I figured out the problem. By default, the Java client caps the amount of "pending bytes". In my testing, each messages are small, so there were probably millions of messages in flight at a given time.

Now, the problem is that `receiveMessage` creates a new `Timer`. Each instance of `Timer` creates a new thread. So you were creating millions of threads on the machine. On my machine, I wasn't even

[2018-03-19 07:28] rsurve-infoworks opened #3058 "BigQuery Create partitioned table with Tables.insert(tableResourceObject). TimePartitioning doesnot support 'field' string"
TimePartitioning object should ideally have   "timePartitioning": {
    "type": string,
    "expirationMs": long,
    "field": string,
    "requirePartitionFilter": boolean
  },
In the current api, there is no support for specifying 'field' and 'requirePartitionFilter' for creating a load job for partitioned tables.

[2018-03-19 12:37] jadekler commented on #3056
Doh - thanks @pongad, testing now

[2018-03-19 13:14] j256 commented on #3048
I'm going to close this because it is an overlap with https://github.com/GoogleCloudPlatform/google-cloud-java/issues/3044

[2018-03-19 13:14] #3048 closed

[2018-03-19 14:15] j256 commented on #3044
Looks like to get this to run under Java 7 I have to do a:

    java -javaagent:/some/path/jetty-alpn-agent-2.0.7.jar ...

Anyone know why this doesn't happen under Java 8?  I've posted this [SO question](https://stackoverflow.com/questions/49363799/running-google-pub-sub-under-java-7-gets-alpn-classnotfoundexception).

[2018-03-19 17:35] alex-kisialiou-sciencesoft commented on #2465
Are any lower-level APIs available for pub/sub? I guess anyone can just use them (something like PullBatch(count) and AckAndNack({id, ack/nack}[]) ) to implement a client that covers their needs (i.e. 'actually works') in few hours. This may be a way more efficient solution then to fix a client library.
PS: C# library seems not to work.

[2018-03-19 18:19] kir-titievsky commented on #2465
@alex-kisialiou-sciencesoft You might find this useful: https://developers.google.com/api-client-library/java/apis/pubsub/v1, but you could try the lower level auto-generated client for gRPC as well (see the synchronous pull example https://cloud.google.com/pubsub/docs/pull#pubsub-pull-messages-sync-java)

[2018-03-19 19:20] mdietz94 commented on #3025
I think this is the wrong place to debug this issue, since I think going further will require account information, and this is the wrong forum for that. This repository is focused on the client library, which I think if you can use, will solve this problem for you, but if that is not an option I recommend opening a support ticket, where we can collect more information to see what is going on in yo

[2018-03-19 19:29] dhoard-papajohns commented on #3025
@mdietz94 GCP Support has responded that "they've isolated the issue to within a particular subsystem" ... so it's a server side system issue / not client issue.  I'll work this issue via my support ticket.

Thanks

[2018-03-19 19:29] #3025 closed

[2018-03-19 21:45] garrettjonesgoogle commented on #2555
There is a potential for this creating new problems, and maybe even more problems than it solves. If a user somehow includes a package from anywhere that pulls in one of the jars from the non-uber-jarred version, there will be version problems, similar to the guava vs guava_jdk5 nightmare we have right now. Types from the following packages (at a minimum) are exposed on the surface of google-cloud

[2018-03-20 05:09] pongad commented on #3021
Canceled

[2018-03-20 05:09] #3021 closed

[2018-03-20 11:07] pkoetzmv opened #3064 "UnresolvedAddressException when using proxy"
Hello,

we are facing problems with the library google-cloud-pubsub when it is running behind a proxy. Locally everything is fine, but when we deploy to our development server which needs to use system proxy (https.proxyHost, https.proxyPort and also http variants) we receive a UnresolvedAddressException. Is there some kind of workaround, or when can we expect a general fix for it?

Mar 20, 2018 1

[2018-03-20 18:00] garrettjonesgoogle commented on #3044
ALPN is a red herring of sorts. The ssl layer that's supposed to be used is netty-tcnative-boringssl-static, which should be built into grpc-netty-shaded. If you are facing issues with ssl not being available, it's more likely a platform issue. Could you run [`google-cloud-compat-checker`](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-util/google-cloud-compat-ch

[2018-03-20 18:18] prodonjs opened #3065 "[pubsub] Subscriber.stopAsync().awaitTerminated() doesn't wait for all acks to be sent"
In working on a gRPC emulation service for Cloud Pub/Sub, I was trying to validate correct behavior by publishing a series of messages, receiving and acknowleding the exact same set of messages, and then ensuring that no backlog existed for the subscription.

Here's the general test pattern:
[code]

I executed this test after creating a fresh topic and subscription. My expectation was that after t

[2018-03-21 05:37] jadekler commented on #3056
Hi @pongad - I've refactored out the creation of `Timer` (see [updated gist](https://gist.github.com/jadekler/fb327281ec2d65d34b86c0cc14449838)) and am unfortunately still running into issues:

<img width="1377" alt="screen shot 2018-03-20 at 10 32 49 pm" src="https://user-images.githubusercontent.com/3584893/37695788-1058c8f6-2c8f-11e8-8fbe-b81979af6449.png">

<img width="1583" alt="screen shot 2

[2018-03-21 06:39] prayagupd commented on #3044
Hi @j256 I took your Test Subscriber code and tested in my MacOS with java 7/java 8. Its working fine - Here's my testcode for both emitting and consuming events from google pubsub -
 https://github.com/duwamish-os/eventstream-skipper-ii.java (run `mvn exec:java`. It will show you google-cloud logs as well). Please let me know if you have different settings than how I tested.

**Dependency jars sa

[2018-03-21 15:41] askrht opened #3068 "ConcurrentModificationException in endpoints v2.0 tester, app engine standard, using maven archetype for hello-world"
The function
[code]
inside `com.googe.apis.explorer.Explorer-0.js` reports the following Exception:

`java.util.ConcurrentModificationException`

Steps:
1. Generate a new endpoints v2.0 app for app engine standard, using maven archetype, for hello-world
1. cd hello-world
1. mvn clean compile package
1. mvn appengine:run
1. Disable the security in Google Chrome by using the command line options and

[2018-03-21 17:28] saturnism opened #3070 "Improve Providing Credential Programmatically or String"
Documentation for providing credentials seems outdated.
For most services, need to use a `CredentialProvider` to wrap another `Credentials` object.

There is `GoogleCredentails.fromStream` and `ServiceAccountCredentials.fromStream`. There is no documentation on when to use what and why one is not preferred.

Lastly, when setting credentials programmatically, setting the credential via a String as

[2018-03-21 20:30] konrad-garus commented on #216
It is a pretty big issue, since it prevents use of many libraries that use the "cloud" APIs. One example is Objectify v6 for the Datastore.

I hate having to choose between having an efficient and rich dev environment, and being able to use some nice libraries.

[2018-03-21 22:47] jjpet123 commented on #3035
Hey, is there any clue around this? supported or not, like a workaround, etc? Thanks.

[2018-03-21 23:41] mglittleworld opened #3071 "[KafkaPubSubConnector] : Getting UNAVAILABLE: HTTP/2 error code: NO_ERROR and goes into retry loop forever"
I am using https://github.com/GoogleCloudPlatform/pubsub/tree/master/kafka-connector for publishing messages to pubsub from kafka.
Running into the below issue and the publishing enters an infinite loop of retrying same batch of messages  and not recovering.

`java.lang.RuntimeException: java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: UNAVAILABLE: HTTP/2 error code: NO_ERR

[2018-03-22 06:07] semmiverian opened #3072 "DatastoreOptions.newBuilder().setProjectId(DS_PROJECT_ID).build().getService() not returning data store"
i try to initialize the datastore with this code

[code]

i've get this errror

`Incompatible Types com.google.cloud.datastore.Datastore Found com.google.cloud.Service`

My POM.xml

[code]

Is there something wrong with the code to initialize the datastore?

Thanks

Regards Semmi Verian

[2018-03-22 06:25] semmiverian commented on #3072
Well eventually when i change the order of my pom dependencies and set my datastore dependency as my first dependencies it's work now.

I saw some info about omitted the version to 0.6.0  might be have some conflict with other dependencies

[2018-03-22 06:25] #3072 closed

[2018-03-22 10:50] marcin-kolda commented on #3051
Please also update version on https://cloud.google.com/bigquery/docs/reference/libraries#client-libraries-install-java as it's confusing.

[2018-03-22 15:29] marcin-kolda opened #3073 "[BigQuery] Provide method to retrieve Table from any project"
We have a use case, when one BigQuery service needs to retrieve tables from multiple project. Right now we need to recreate a new service for every project.

Could you please overload `getTable()` method in [BigQuery.java](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQuery.java) with additional `projectId` par

[2018-03-23 00:47] pongad commented on #3051
@jabubake Could you tell me how to update the site? Feel free to assign it back to me if you want.

[2018-03-23 01:05] pongad commented on #3056
Hmm.....

Could you add
[code]
?

The default sets the max pending bytes to be a percentage of available memory. I might be possible that the subscriber somehow thinks it has much more memory than it does.

If this doesn't help, I think this is a problem with gRPC or Kubernetes and we should ask them for help.

[2018-03-23 11:38] jadekler commented on #3056
Hey @pongad - I've tried your suggestion. This removes the errors which is 👍 , but the ingestion is quite weird:

<img width="1384" alt="screen shot 2018-03-23 at 1 33 06 pm" src="https://user-images.githubusercontent.com/3584893/37827172-13a66fce-2e9f-11e8-983f-e3072220c991.png">

As you can see, every 30 minutes it stops receiving messages for ~20m. I know that streams are indeed cancelled every

[2018-03-23 12:25] coderatgoogle opened #3078 "Facing issue while migrating from Java 7 to Java 8 on Appengine"
I have updated pom.xml with all the latest dependencies, and web.xml with all the attributes defined in
official documentation of Google Cloud.
But facing the error ,as I have some jsp files in webapp folder. even with the empty jsp file, this issue persists. Getting the following error:
java.io.IOException: Cannot run program "C:\jdk1.8.0_144\jre\bin\java.exe": Crea
teProcess error=206, The filen

[2018-03-23 17:41] jabubake commented on #3051
@pongad Ack, submitted request internally to update version (cc-ed you on it). It would be good to have a standing instruction on updating the docs every time a release is cut for the library.

[2018-03-23 19:50] j256 opened #3081 "Need to flush the Google Pub/Sub batch so that it delivers immediately?"
I am using the batch system in Pub/Sub to increase throughput but our system also takes a check-point every so often when all of the messages should be pushed out.

Right now the `Publisher.publishAllOutstanding()` method is `private`.  Please consider making it public or otherwise providing some mechanism to flush the batch buffers.

Thanks.

[2018-03-24 00:26] dzvzthd opened #3082 "Get Serving URL for images stored in Storage (Similar to App Engine Image Class)"
Would it be possible to get something similar to get_serving_url in app engine (https://cloud.google.com/appengine/docs/python/refdocs/google.appengine.api.images#google.appengine.api.images.get_serving_url) using this library as well?
Similar issue was submitted for python api https://github.com/GoogleCloudPlatform/google-cloud-python/issues/1295

Thanks.

[2018-03-26 13:28] agzamovr opened #3083 "PERMISSION_DENIED for google service account"
I've successfully subscribed to Pub?Sub service under my own user account. Howewer when i set **GOOGLE_APPLICATION_CREDENTIALS** env variable to point service account key file i got permission denied exception. This service account has `Pub/Sub Admin` role. Here is stack trace of exception:
[code]