[2018-11-29 22:54] frankyn commented on #4117
Thanks @niclarcipretti!

* For the first case, an alternative would be to have the GCS checksum stored in your database and compare against it instead of decoding it.
* For the second case, I think you're checksumming locally beforehand. How do you get the human readable string of the checksum?
Possibly you could Base64 encode instead to match GCS's checksum value then compare.

I agree it isn't t

[2018-11-30 00:14] #3712 closed

[2018-11-30 00:14] #3729 closed

[2018-11-30 00:57] anguillanneuf commented on #3860
To expedite this:

`com.google.api.core.ApiFuture` can be found here: https://googleapis.github.io/api-common-java/1.1.0/apidocs/com/google/api/core/ApiFuture.html

But we direct people to a non-existing page here: http://googleapis.github.io/googleapis/java/all/latest/apidocs/com/google/api/core.ApiFuture.html

[2018-11-30 01:51] niclarcipretti commented on #4117
@frankyn personaly, I'm not a big fan of storing raw binary data in databases, it's just messy for querying and handling. But I see your point.

I guess I could help with a PR for the Java library, not so sure about the others though. Let me know if you need a hand with that.

Thanks ;)

[2018-11-30 07:42] KrishnapriyaJha commented on #4095
I am facing the same issue. Any Update on this???

`Could not resolve version conflict among [com.google.cloud.dataflow:google-cloud-dataflow-java-sdk-all:jar:2.5.0 -> org.apache.beam:beam-sdks-java-io-google-cloud-platform:jar:2.5.0 -> io.grpc:grpc-core:jar:1.2.0, com.google.cloud.dataflow:google-cloud-dataflow-java-sdk-all:jar:2.5.0 -> org.apache.beam:beam-sdks-java-io-google-cloud-platform:jar:

[2018-11-30 15:31] sduskis commented on #4095
@KrishnapriyaJha, can you please upgrade to Beam 2.8.0?

[2018-11-30 15:32] sduskis commented on #2992
@igorbernstein2, our team will be tackling docs issues next week.  Let's discuss how to move this forward.

[2018-11-30 15:34] sduskis commented on #3108
@dclements, I'm closing this issue, since we didn't get a response.  We'd be happy to reopen this issue once we have more information.

[2018-11-30 15:34] #3108 closed

[2018-11-30 15:34] sduskis commented on #2373
@garrettjonesgoogle, is this still relevant?

[2018-11-30 15:35] sduskis commented on #3592
@pongad, is this still relevant?

[2018-11-30 15:57] garrettjonesgoogle commented on #2373
Yep:

https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/TopicAdminClient.java#L59

https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/SubscriptionAdminClient.java#L70

[2018-11-30 16:14] sholavanalli commented on #3867
I am seeing this error as well. @pongad @ayushj158 can you both explain what exactly is going on here? I don't understand the finer details of the bug by reading your comments above. Can one of you elaborate on this please? Where and why is the DEADLINE_EXCEEDED exception generated? Is it generated at the pubsub client before sending the messages or is it at the pubsub server? I have all the flow

[2018-11-30 16:24] Qi77Qi opened #4152 "Inconsistent behavior between LocalStorageHelper and real google storage"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS: Mac
- Java version: 8
- google-cloud-java version(s):
  val googleStorageNew: ModuleID = "com.google.cloud" % "google-cloud-storage" % "1.53.0"
  val googleStorageLocal: ModuleID = "com.google.cloud" % "google-cloud-nio" % "0.71.0-alpha" % "test"

####

[2018-11-30 16:33] chingor13 commented on #3592
I think this one was fixed in #3985

[2018-11-30 16:33] #3592 closed

[2018-11-30 20:43] frankyn commented on #4117
Thanks @niclarcipretti! Apologies, I meant to store the Base64 encoded string in the database instead of the raw binary.

Will relabel this as a FR.

[2018-12-03 03:45] chalcrow commented on #4095
@KrishnapriyaJha - there's a potential workaround here - https://stackoverflow.com/questions/53424272/maven-conflict-in-java-app-with-google-cloud-core-grpc-dependency/53558702#53558702.

Also I was able to integrate a Google PubSub subscription into the Beam framework so that I didn't need to get the Google library working with the Beam one. My answer here may be helpful:

https://stackoverflow.c

[2018-12-03 07:07] mikekap commented on #3808
I think there's way more callsites of `setProjectId` that aren't fixed - including `insertAll` that are still broken. IntelliJ shows 15 usages of which 3 are fixed now.

[2018-12-03 12:54] ewirch opened #4162 "Random com.google.cloud.storage.StorageException: Socket closed"
We randomly receive `com.google.cloud.storage.StorageException: Socket closed` when uploading files.

#### Environment details

- OS: Ubuntu 16
- Java version: 11
- google-cloud-java version(s): google-cloud-storage 1.53.0

#### Stacktrace

[code]

Can you add `SocketException` to retryable exceptions? Or any hints how to diagnose the root cause?

[2018-12-03 16:44] sduskis commented on #2666
I'm closing this for now.  Please reopen this issue if there's anything we need to do.

[2018-12-03 16:44] #2666 closed

[2018-12-03 17:58] chingor13 commented on #3746
Fixed in #3985

[2018-12-03 17:58] #3746 closed

[2018-12-03 18:11] chingor13 commented on #3715
The `test-jar` dependencies pull in the jar that contains the tests for the specified dependency. It's used because there may be reused tests or base test classes that are inherited for package tests.

I'll look for a place to document this.

[2018-12-03 21:16] #3920 closed

[2018-12-03 21:21] sduskis commented on #3343
At this point, I think that there isn't enough information to answer the question.  Pub/Sub quotas are described here: https://cloud.google.com/pubsub/quotas

The INTERNAL issue is potentially a grpc issue.  We would need a bit more information before proceeding.  Also, we'd likely request that you use a newer version of the client, since these types of issues get resolved with newer versions of t

[2018-12-03 21:21] #3343 closed

[2018-12-03 22:14] chingor13 commented on #3715
The google-cloud-core test-jar is unnecessary for many clients, so I'm removing it from the dependencies.

[2018-12-03 22:37] ajaaym commented on #3901
Looks like this is answered correctly, I am closing this for now. Please reopen if required.

[2018-12-03 22:37] #3901 closed

[2018-12-03 22:38] chingor13 commented on #3827
We are only declaring a dependencyManagement version on netty-tcnative, but it's not actually in the dependency tree. We're using `io.grpc:grpc-netty-shaded` which includes netty-tcnative.

[2018-12-03 22:52] chingor13 opened #4166 "Spanner: Flaky integration tests"
Spanner IT tests are occasionally failing with transaction aborted status

Example:
https://source.cloud.google.com/results/invocations/676bd73d-427e-48e7-b824-62b79e3288e0/targets/github%2Fgoogle-cloud-java%2Fgoogle-cloud-clients%2Fgoogle-cloud-spanner%2Ftarget%2Ffailsafe-reports/tests

Last 9 failures:
* [build 647](https://source.cloud.google.com/results/invocations/ff0d2ef9-3895-4788-b497-18cc

[2018-12-03 23:13] sduskis commented on #3938
As per [this Stackoverflow question](https://stackoverflow.com/questions/44444910/unable-to-preserve-line-breaks-in-google-translate-response), please add `com.google.cloud.translate.Translate.TranslateOption.format("text")` to your `CGlobals.g_Translate.translate(` options to format the output with a new line.

[2018-12-03 23:13] #3938 closed

[2018-12-03 23:19] garrettjonesgoogle commented on #3827
Both grpc-netty and grpc-netty-shaded don't work on Alpine or ARM. I'm kind of treating grpc-netty/grpc-netty-shaded as equivalent for this issue; the point is that I think neither one of them is strictly necessary in the dependency tree with Java 11, because ALPN is available by default in Java 11, meaning that grpc & google-cloud-java should work on Alpine and ARM in Java 11.

[2018-12-04 00:31] chingor13 commented on #4162
Thanks for reporting this.

Can you give us a bit more information:
* Is this running from GCP or externally?
* Is the upload succeeding?
* Is there a specific file size where you see this happening? (very large files, very small files)

[2018-12-04 00:45] chingor13 commented on #3708
The google-cloud-X artifacts publish client classes for each grpc version. We should include all of the versioned proto and grpc artifacts in the bom.

[2018-12-04 00:45] #3708 closed

[2018-12-04 00:48] chingor13 commented on #3728
This artifact's goal is to publish the actual tests. Whether or not these jars are of value is debatable.
These artifacts have already been removed from the bom, so we can close this issue.

[2018-12-04 00:48] #3728 closed

[2018-12-04 01:02] chingor13 commented on #3041
This issue appears to be resolved. Feel free to re-open if it's still an issue.

[2018-12-04 01:02] #3041 closed

[2018-12-04 03:10] alexamies opened #4169 "Bad link on Storage docs page"
There is a bad at
https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-clients/google-cloud-storage

The link in the text
"application on the StorageExample docs page"
points to a 404
https://googleapis.github.io/google-cloud-java/google-cloud-clients/apidocs/?com/google/cloud/examples/storage/StorageExample.html

[2018-12-04 07:32] ewirch commented on #4162
Running on GCE.

Unfortunately I can't tell. Have to increase diagnostic logging.

Can't tell as well. All the files have a size of 10-20kB. Not very large, not very small.

A network problem is unlikely. There were multiple requests running in parallel, and only one failed.

[2018-12-04 07:46] ewirch commented on #4162
Looking at the GCS load chart, there were request count peaks where we received the errors.

Once
ReadObject: 48/s
WriteObject: 25/s

another time:
GetObjectMetadata: 56/s
ReadObject: 56/s
WriteObject: 30/s

[2018-12-04 14:53] sduskis commented on #3827
Would it make sense to mark this as a "feature request" rather than "docs"?  It seems like we have work to do before we document anything.

[2018-12-04 16:23] sduskis commented on #4015
@winfield007, it's not clear what you mean.  Can you please add more information so that we can understand the problem?

[2018-12-04 16:43] #3757 closed

[2018-12-04 16:43] #3730 closed

[2018-12-04 17:11] #3321 closed

[2018-12-04 17:32] chingor13 commented on #2871
Spanner gapic migration makes this no longer necessary.

[2018-12-04 17:32] #2871 closed

[2018-12-04 17:58] chingor13 commented on #3370
If you're having dependency version disagreements, import the google-cloud-bom as in the [quickstart](https://github.com/googleapis/google-cloud-java#quickstart).

[2018-12-04 17:58] #3370 closed

[2018-12-04 18:01] sduskis commented on #3124
@chingor13, do you have any context on this issue?

[2018-12-04 18:04] chingor13 commented on #4166
We need to fix this before GA.

[2018-12-04 18:13] chingor13 commented on #3124
We have a long term plan to move the hosted docs off of GitHub pages. The generated docs are huge and there's not a ton we can do about it (lots of static html pages). Even a single version's generated docs are large.

[2018-12-04 19:05] sduskis commented on #3124
I changed this to "type: process" since this relates to infrastructure rather than specific docs changes.

[2018-12-04 19:10] sduskis commented on #3934
@chingor13, is there work in non-generated code that needs to be fixed?  If so, can we please create a separate issue for the manual and GAPIC work?

[2018-12-04 19:11] sduskis commented on #4169
@alexamies, can you please review the current state now that we've updated the README?

[2018-12-04 19:30] chingor13 commented on #4166
We also see `WARNING: Leaked session` during the tests as well.

[2018-12-04 19:44] ZeJ0hn opened #4175 "Dependency issue in cloud storage API"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS: Linux
- Java version: 8
- google-cloud-java version(s): 1.54 (and previous)

#### Steps to reproduce

1. untar the archive
[Issue_Example.tar.gz](https://github.com/googleapis/google-cloud-java/files/2645801/Issue_Example.tar.gz)

2. mvn install

3. see

[2018-12-04 19:47] #4107 closed

[2018-12-04 19:47] #4169 closed

[2018-12-04 20:03] chingor13 commented on #3027
This repo compiles with Java 11 and we'll be supporting official GA Java versions moving forward.

[2018-12-04 20:03] #3027 closed

[2018-12-04 20:07] chingor13 commented on #2465
Should have been fixed in #3743

[2018-12-04 20:07] #2465 closed

[2018-12-04 20:09] sduskis commented on #4175
@elharo, FYI

[2018-12-04 20:15] sduskis commented on #2552
@hzyi-google is there anything actionable in this repository?  If not, can this discussion be moved to the auth repo?

[2018-12-04 21:44] ZeJ0hn commented on #4175
Hello,

Thank you for your answer.
First, why do I need to use the google-cloud-bom ? because I just need the
storage library.

I'm working, in my company, on a huge java software with many library.
To avoid any issues, we have activated the plugin maven to check
convergence.

So today, I'm no able to passed the integration test because the library is
not ok regarding dependency convergence.

What

[2018-12-04 21:47] chingor13 commented on #4166
The timeouts are being addressed in #4176

[2018-12-04 22:05] sduskis commented on #3192
@elharo, what's the latest on this issue?

[2018-12-04 22:08] chingor13 commented on #3934
There is an existing but open on this marked as a feature request: https://github.com/googleapis/gapic-generator/issues/331

[2018-12-04 22:45] chingor13 commented on #3256
netty-tcnative is not available out of the box on alpine. You can try the workaround above.

[2018-12-04 22:45] #3256 closed

[2018-12-04 23:00] JesseLovelace commented on #3903
Can you share your RecognitionConfig setup code?

[2018-12-04 23:31] JesseLovelace commented on #3903
I'm wondering if it's related to the fact that when EnableSpeakerDiarization is true, the words list is expected to contain all words from the beginning of the audio, even though the transcript does not.

Related documentation: https://github.com/googleapis/google-cloud-java/blob/master/google-api-grpc/proto-google-cloud-speech-v1p1beta1/src/main/java/com/google/cloud/speech/v1p1beta1/SpeechRecogn

[2018-12-04 23:39] JesseLovelace commented on #3903
Some additional documentation: https://github.com/googleapis/google-cloud-java/blob/master/google-api-grpc/proto-google-cloud-speech-v1p1beta1/src/main/java/com/google/cloud/speech/v1p1beta1/RecognitionConfig.java#L965

[2018-12-04 23:56] chingor13 commented on #3038
Are you changing your credentials all the time?

It seems unnecessary to try and verify that your credentials are continuing to work. This would be the case for any resource on any API - you shouldn't need to check to see if your credentials work every time before making the API calls.

[2018-12-04 23:56] #3038 closed

[2018-12-05 00:09] JesseLovelace commented on #3896
I'm able to recreate this same result by adding the line

`System.setProperty("https.proxyHost", "127.0.0.1");`

to the top of any test. If I remove it, it works fine. Can you check if this is the same for you? Could there be an issue with your proxyHost?

[2018-12-05 00:12] chingor13 commented on #3083
This issue appears to have diverged into a few scenarios:
* Running locally never succeeded
* Running on GCE without billing enabled

Closing this out and we can open a new issue with additional repro steps if it's still occurring.

[2018-12-05 00:12] #3083 closed

[2018-12-05 00:15] chingor13 commented on #3275
For the firebase billing error, that should be filed with Firebase: https://firebase.google.com/support/contact/

The original issue appears to have been answered. Feel free to reopen if this is not the case.

[2018-12-05 00:15] #3275 closed

[2018-12-05 00:48] chingor13 commented on #3402
Is this still happening? We haven't been able to reproduce this on our side with a single client doing the create and then get.

If it is still happening, feel free to reopen.

[2018-12-05 00:52] #3461 closed

[2018-12-05 00:55] chingor13 commented on #3052
Can you provide the contents of the log mentioned in the error output?

[2018-12-05 01:00] chingor13 commented on #3276
The datastore emulator is not guaranteed to perfectly replicate the backend server, especially if you're trying to load test it - it looks like you're running the tests 10,000 times.

This repository does not contain the actual datastore emulator, so if this is still happening, you can file an issue against the datastore emulator itself: https://issuetracker.google.com/issues/new?component=187197&

[2018-12-05 01:00] #3276 closed

[2018-12-05 01:02] chingor13 commented on #3057
It looks like you're using java 9 and these libraries did not support Java 9. We will be supporting LTS versions of Java including Java 7, 8, and 11 (in our next release this week).

[2018-12-05 01:02] #3057 closed

[2018-12-05 01:04] chingor13 commented on #3511
This is likely caused by incompatible dependencies between your versions of google-cloud-speech and google-cloud-datastore.

We advise importing `google-cloud-bom` for dependency management as it will help ensure you are using compatible artifacts provided by google-cloud-java

[2018-12-05 01:04] #3511 closed

[2018-12-05 01:04] jcerwinske commented on #3854
I would second this request. I need to be able to abort processing without what is essentially instantaneous redelivery. If I'm writing messages to a DB and the DB is down, for example, and will be down for an an extended period, there is no need or desire to instantaneous reprocess that would fail thousands and and thousands of times. But I dont want to throw it away, as service will eventually b

[2018-12-05 01:53] hzyi-google commented on #2552
@sduskis Nothing is actionable here. Feel free to move it to the auth repo (though it seems there is nothing actionable in the auth repo either).

[2018-12-05 08:52] ashokreddy2 commented on #1026
Hi mziccard,

Could you please share code to create google cloud instance using java core code by authenticating google cloud client id and secrect?

If possible pls send complete expample to create vm from image using java code.

[2018-12-05 12:53] drelum opened #4179 "Logback Appender for Google Cloud Logging does not comply with Error Reporting"
Logback Appender for Google Cloud Logging does not comply with STACKDRIVER ERROR REPORTING.

 See https://cloud.google.com/error-reporting/docs/formatting-error-messages

Field"serviceContext" is mandatory and is not being generated by com.google.cloud.logging.logback.LoggingAppender

The following method should be changed:

[code]

[2018-12-05 13:48] sduskis commented on #1573
@chingor13, we should figure out what to do about the Hadoop ecosystem

[2018-12-05 14:40] garrettjonesgoogle commented on #1573
Apparently Hadoop uses Guava 19 now: https://issues.apache.org/jira/browse/HADOOP-14380

[2018-12-05 19:54] pongad commented on #3867
@sholavanalli where are you setting those parameters? I haven't worked on this code for a while but I don't think `Publisher` support these configurations.

Currently `Publisher` batches multiple calls to `publish` into one RPC to send to server for efficiency, but it will not rate-limit the publishes. If your network connection or the pubsub backend can only handle 100K messages per second (for e

[2018-12-05 20:20] sduskis commented on #3071
This is likely an obsolete issue and would not reoccur if you upgraded the client. I'm closing this assuming that the issue is fixed.  If this is indeed still an issue, please reopen it.

[2018-12-05 20:20] #3071 closed

[2018-12-05 21:55] sduskis commented on #3536
We believe that the problem relates to grpc and SSL.  You can see some information about the issue [here]( https://github.com/grpc/grpc-java/blob/master/SECURITY.md#netty).  I haven't tried it myself, but as best I can tell, you would have to exclude `io.grpc:grpc-netty-shaded`, include `io.grpc:grpc-netty` and include `netty-tcnative-alpine`.

[2018-12-05 22:08] chingor13 commented on #4166
Spanner integration tests are looking fine after upping the timeout and handling the aborted exceptions. The only recent failures are due to maven networking issues.

[2018-12-05 22:08] #4166 closed

[2018-12-05 22:09] #3715 closed

[2018-12-05 22:09] #3707 closed

[2018-12-05 23:16] sduskis commented on #4175
I'm going to see if I can exclude some of the troublesome dependencies.

[2018-12-06 02:12] sduskis commented on #3808
@pmakani, it looks like there are more places that need to change.

[2018-12-06 03:12] #3924 closed

[2018-12-06 04:13] ajaaym commented on #3035
proxy authentication can be set by using ```java.net.Authenticator.setDefault()``` as per example over [here](https://www.blackbaud.com/files/support/infinitydevguidemobile/Advanced/subsystems/inwebapi-developer-help/Content/Java/coJavaBasicAuthentication.htm) Closing this issue for now. Please reopen this issue if it needs further attention.

[2018-12-06 04:13] #3035 closed

[2018-12-06 08:01] mtariquekhan opened #4186 "Program type already present: com.google.api.CustomHttpPattern$1"
#### Environment details

- OS: MAC
- Java version: 1.8
- google-cloud-java version(s): 1.54.0

#### Steps to reproduce
1. Integrated google cloud Speech To Text sample from in my Android project https://github.com/GoogleCloudPlatform/android-docs-samples/tree/master/speech/Speech
after that, I added Google cloud storage dependency. After adding this dependency my build is getting failed. By sayin

[2018-12-06 14:22] JeroenAppel commented on #3903
Thanks for the update Jesse. While experimenting with your suggestions and reading the additional documentation, I can verify that the behavior is now explainable and consistent. The RecognitionConfig will be set by the end user (see the screenshot for an impression).

When the Speaker Diarization has been set to false, the results are fine. However the behavior is now explainable when set to true

[2018-12-06 14:50] ajaaym commented on #4186
The example you mentioned uses grpc directly vs generated/handwritten clients in this repo. Can you instead use [this for speech](https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-clients/google-cloud-speech) if this still doesnt work can you provide your list of dependencies or build.gradle?

[2018-12-06 15:17] igorbernstein2 opened #4187 "Bigtable: The new emulator is not available from maven central"
I see it on the website:
https://search.maven.org/artifact/com.google.cloud/google-cloud-bigtable-emulator/0.72.0-alpha/jar

But maven can't get it:
`mvn dependency:get -Dartifact=com.google.cloud:google-cloud-bigtable-emulator:0.72.0-alpha`

[code]

Looks like we have to publish the google-cloud-testing pom as well.
However, that pom is explicitly marked not to be published to avoid publishing th

[2018-12-06 15:38] chingor13 commented on #4187
We should be able to remove the `<parent>` section of the `pom.xml`. We will need to make sure that the emulator artifact is not inheriting any properties or build configuration from the parent.

[2018-12-06 15:58] sduskis commented on #2888
The specific issue you have is resolved.  There are a lot of ways you can communicate with the firebase team directly: https://firebase.google.com/support/.  You can submit additional feature requests or have a discussion about how best to use FireStore with one of those methods.

I'm closing this for now, until there's a new Firestore feature.

[2018-12-06 15:58] #2888 closed

[2018-12-06 16:31] sduskis commented on #3753
@JesseLovelace, is this something we need to as the BigQuery experts about?

[2018-12-06 16:55] niclarcipretti opened #4188 "Feature suggestion: auto content-type on blob creation"
What if the API saves the blob setting it's content-type automatically? I guess it would make sense at least for public blobs. Do you have an opinion on that?

Cheers

[2018-12-06 17:00] ajaaym commented on #4179
google-cloud-errorreporting is separate service than google-cloud-logging and logback appender for google-cloud-logging is not integrated with cloud error reporting yet.

[2018-12-06 17:08] sduskis commented on #4175
@ZeJ0hn, There's internal debate about this issue.  The synopsis is that we generally recommend the use of `</requireUpperBoundDeps>`.  I'm happy to chat about this offline (see my GitHub profile for more details).

[2018-12-06 17:10] ajaaym commented on #3186
closing this issue. Please feel free to open if required.

[2018-12-06 17:10] #3186 closed

[2018-12-06 17:21] ajaaym commented on #3109
Closing this assuming its fixed as per comment from @SergeyZadorozhniy. Please this is still an issue.

[2018-12-06 17:21] #3109 closed

[2018-12-06 18:08] ajaaym commented on #3169
Gzip compression is enabled by default. Closing this issue for now. Please reopen this issue if you see uncompressed data.

[2018-12-06 18:08] #3169 closed

[2018-12-06 18:21] ajaaym commented on #4179
more information over [#2912](https://github.com/googleapis/google-cloud-java/issues/2912) [#2669](https://github.com/googleapis/google-cloud-java/issues/2669) [#3031](https://github.com/googleapis/google-cloud-java/issues/3031) Closing this and we will track this in [#3031](https://github.com/googleapis/google-cloud-java/issues/3031)

[2018-12-06 18:21] #4179 closed

[2018-12-06 19:38] volodymyrd commented on #3880
Hello,
Are there any updates?
Thanks

[2018-12-06 19:45] #4187 closed

[2018-12-06 21:09] ajaaym commented on #3763
Translate is apiary based client(also that solution only applied to translate don't know why), while vision uses grpc transport. GRPC transport needs proper authentication as described in [readme](https://github.com/googleapis/google-cloud-java#authentication) Closing this issue for now. Please reopen if you need further help.

[2018-12-06 21:09] #3763 closed

[2018-12-06 21:18] ajaaym commented on #3587
closing this issue bcoz of staleness. Please reopen if needs help with this.

[2018-12-06 21:18] #3587 closed

[2018-12-06 21:20] ajaaym commented on #3534
closing this issue as its resolved.

[2018-12-06 21:25] #3509 closed, assigned to JesseLovelace

[2018-12-06 22:09] JesseLovelace commented on #3903
I agree that the behavior is a little strange and unintuitive, I can start a discussion with the Speech team to see if it can be re-thought, or if there's a workaround in place that I'm not aware of.

In the meantime, maybe a workaround could be to keep track of the word counts given in previous iterations, and on the last one get the relevant portion using List.subList()?

You may have tried this

[2018-12-07 00:46] JesseLovelace commented on #3805
Hi, just to clarify, is this question about updating a table schema in general, or specifically about integrating with Dataflow? If it's the latter, could you specify which points you need help with?

if you're asking in general how to update a table's schema, this could be done with the BigQuery client's `update` function. For example,

[code]

`yourNewSchema` here would be a new `Schema` object

[2018-12-07 08:07] the-dagger commented on #3805
Hi @JesseLovelace thank you for the reply!
The query was to integrate it with Cloud Dataflow.
In my usecase, the clients can send me data points which can have different schema that is additive in nature.

What I am trying to do is update the schema of my BigQuery table automatically once I get a data point that has a different schema than my current table's schema.
I hope that makes sense?

P.S.

[2018-12-07 17:44] sduskis commented on #3805
I asked the author of the blog (Reza) for some help with this issue.

[2018-12-07 17:45] chingor13 commented on #4188
I assume you mean that we would try to detect the file type and automatically set the Content-type metadata for the blob.

On the client side, we don't do this for developers because there are several different ways to accomplish in Java (extension, magic bytes) this with pros/cons for each method. We don't want to dictate how or whether to automatically detect the mime type so it's left to develo

[2018-12-07 17:46] ajaaym commented on #3736
This is fixed.

[2018-12-07 17:46] #3736 closed

[2018-12-07 17:49] ayushj158 commented on #3867
@sholavanalli As pongad mentioned i am also not aware of such arguments being respected by Pub Sub client and as for your question it fails at pub sub client because of the timeout (which occurs due to the load you put on pub sub client vs what is it able to send to pub sub server) , basically you are overloading the pub sub client with more load than it could handle. For our  case we used load sh

[2018-12-07 17:55] sduskis opened #4198 "Document dependency convergence issues / approach"
Our team has a sprawling set of dependencies that we own or influence and will never be able to have dependency convergence.  We will also have issues in projects that use our libraries like Apache Beam.

Document the problems, our approach and how to use the tools we created in order to solve common problems.

[2018-12-07 20:38] #3860 closed

[2018-12-08 06:13] the-dagger commented on #3805
Thank you @sduskis

[2018-12-08 15:50] ensonic commented on #3276
The 10000 was not a load test, it was used to demonstrate that there is a bug. Anyway, this is just one of the reasons that we are migrating away from datastore,

[2018-12-09 00:54] sholavanalli commented on #3867
@pongad I set those parameters to the flow control settings that is set on the pubsub client. The client  batches messages to pubsub when one of the 3 thresholds is reached.
@ayushj158 I like your idea of load shedding. We are also looking to setup some monitoring around these errors. Thanks for your help.

[2018-12-10 08:16] SebRut opened #4203 "Exception in thread "Thread-4" com.google.api.gax.rpc.UnavailableException: io.grpc.StatusRuntimeException: UNAVAILABLE: io exception"
I am trying to access a list of intents for a dialogflow project using a service json file. Running my program on my development MacBooks works flawlessly but using the same .jar on the target machines running Windows fails with the exception detailed below.
#### Environment details

- OS: Windows 7 64bit
- Java version:
`java version "1.8.0_131"`
`Java(TM) SE Runtime Environment (build 1.8.0_131-

[2018-12-10 15:22] JeroenAppel commented on #3903
Thanks for the update and workaround @JesseLovelace For now, it looks like this is working for our implementation. I am now able to set the correct start- and end time.

If there are any updates on a final 'solution' or a more intuitive way of working with the responses, I will be happy to hear about that in the future. For now, thanks for your support.

[2018-12-10 16:36] sholavanalli opened #4205 "Java async pull subscriber stops receiving messages"
#### Environment details

- OS: ubuntu0.18.04.1-b12
- Java version: openjdk version "1.8.0_191"
- google-cloud-java version(s): 1.40.0

#### Steps to reproduce

Java async pull subscriber abruptly stops pulling messages.

#### Code snippet

Flow control settings:

[code]

[2018-12-10 17:24] #3448 closed

[2018-12-10 22:17] #4053 closed

[2018-12-11 06:36] talonx commented on #3912
The workaround does not work for me. This is with the latest (1.54.0) google-cloud-pubsub lib.

[2018-12-11 12:41] andrey-qlogic commented on #3586
@hzyi-google and @JustinBeckwith
Is this bug still blocked by internal error?

[2018-12-11 15:42] j256 opened #4211 "Stopping the receivers in Google pubsub?"
Is there a way for me to stop the PubSub Subscriber message receivers _without_ calling the `stopAsync()`?

The use case is that I want to shutdown the Subscriber but I also want to nack any messages that have been received and queued locally or are in the process of being received as I shutdown my application.  Right now my only recourse is to call `stopAsync()`, nack the messages by the calling

[2018-12-11 15:55] bobveznat commented on #4107
The fix is working for us. I upgraded to the 1.55 version on maven and pulled out my hack and I'm happy to report that I don't see sockets hanging out with data in the receive buffer anymore. Thank you!

[2018-12-11 16:41] frankyn commented on #4107
Thanks for the update @bobveznat!

[2018-12-11 18:52] ajaaym commented on #3788
There is a problem in that example. If there is no next page, entryPage is not getting set to null which causes while loop to call iterateAll even though there is no next page.

Please try below example and reopen this issue if it doesn't solve the issue.

[code]

[2018-12-11 18:52] #3788 closed

[2018-12-11 18:56] ajaaym commented on #3585
This seems fixed.

[2018-12-11 18:56] #3585 closed

[2018-12-11 19:11] ajaaym commented on #3295
This seems fixed.

[2018-12-11 19:11] #3295 closed

[2018-12-11 19:21] dopiera opened #4212 "Spanner: Better document the difference between singleUse() and singleUseReadOnlyTransaction()."
Hi,
I think the documentation of the difference between `DatabaseClient.singleUse()` and `DatabaseClient.singleUseReadOnlyTransaction()` needs to be more verbose.

This is the documentation for both of these:

By looking at the code, the only difference I can really find is that `ReadOnlyTransaction` (returned by `singleUseReadOnlyTransaction()`) holds the `read_timestamp` selected internally by S

[2018-12-11 22:01] chingor13 commented on #4198
This needs be encoded in one of the [JLBP](https://github.com/GoogleCloudPlatform/cloud-opensource-java/tree/master/library-best-practices) (Java Library Best Practices) and then we can link there.

[2018-12-11 22:22] hzyi-google commented on #3586
For googlers: [b/116709007](b/116709007) is the internal bug.
According to the bug it seems they decided that it's not possible to fix it in the client libraries.

Dataflow already effectively retries 410s by retrying every failed shard 4 times regardless of why it failed, so it won't be a problem for Dataflow users.

[b/115694839](https://b.corp.google.com/issues/115694839) tracks the implementat

[2018-12-11 22:38] andrey-qlogic commented on #3678
@chingor13, is it related to the same internal bug as from the comment  https://github.com/googleapis/google-cloud-java/issues/3586#issuecomment-446385164 ?

[2018-12-11 23:14] sduskis commented on #3586
This issue is important and unfortunately not solvable by clients.  I'm going to close this issue, since there's nothing we can do here.

[2018-12-11 23:14] #3586 closed

[2018-12-12 13:59] roku6185 commented on #3152
Are there any code snippets to avoid "hoarding" using sync. pull? I'm having this issue as well on some jobs. Do I have to take care of extending the ack deadline myself when using sync. pull?

[2018-12-12 14:49] meltsufin commented on #3152
@roku6185 The discussion about "hoarding" was in regards to the streaming (async) pull. Can you explain your issue with the sync pull? In sync pull you can specify the limit on how many messages to retrieve at a time. So, hoarding should not be an issue, in theory.

[2018-12-12 16:36] JasonRosenberg commented on #2688
Any updates on this?  We are running into this issue as well.

[2018-12-12 17:57] roku6185 commented on #3152
My bad, let my rephrase. I'm using async. pull today and I'm having some kind of problem with retries. I think this has to do with the ack deadlnes not being extended properly. So I'm looking for some code snippet on how to implement the sync. pull in order to avoid this problem. I don't know if my problem is a "hoarding" problem, but my setup is similar to what @justbaum30 described above.

[2018-12-12 18:23] meltsufin commented on #3152
Problems with streaming pull do exist as laid out in the above discussion.
We have a [task](https://github.com/spring-cloud/spring-cloud-gcp/issues/1056) to completely move away from streaming pull and use synchronous pull instead.
You can use synchronous pull through the Pub/Sub template.
If you think there is a specific issue we don't know about in the streaming pull, we will probably need an ex

[2018-12-12 22:53] chingor13 commented on #3808
@pmakani Did #4196 actually fix all the cases?

[2018-12-13 00:03] polleyg commented on #3808
@chingor13 I was about to ask the same. He's all the references I see to `setProject()` in my IDEA..
<img width="1055" alt="screen shot 2018-12-13 at 11 00 13 am" src="https://user-images.githubusercontent.com/5554342/49906595-a335ec80-fec6-11e8-8350-c2281cf759cd.png">

[2018-12-13 09:02] yoshi-automation opened #4218 "Synthesis failed for compute"
Hello! Autosynth couldn't regenerate compute. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/a5bdb0db-c99f-423d-a43a-d46b581e37b9).

[2018-12-13 10:36] cberez opened #4219 "Spanner java api 1.0.0 - java.util.concurrent.RejectedExecutionException on createDatabase"
Hello,

I'm trying to implement a Spanner utility package to wrap customary calls such as create/drop/update database/table for my project and I'm running into exceptions on Database creation with the 1.0.0 version of the library on a Scala project

I didn't find any reference to a 1.0.0 release on this repo but the jar is available on maven repositories and I'd prefer to avoid a beta version if p

[2018-12-13 11:01] cberez commented on #4219
Update (sorry for the spam):

I just observed the same behaviour on v0.68.0 with the following code taken from the examples [here](https://github.com/googleapis/google-cloud-java/blob/v0.68.0/google-cloud-examples/src/main/java/com/google/cloud/examples/spanner/snippets/DatabaseAdminClientSnippets.java):

[code]

Not doing the `.waitFor().getResult()` does not throw any exception and creates the d

[2018-12-13 12:45] roku6185 opened #4220 "DEADLINE_EXCEEDED: deadline exceeded after 11998656733ns"
I'm trying to run PubSub sync. pull with long-running tasks, e.g. 15-60 min, but I get DEADLINE errors after 10 minutes. The subscription has an ack deadline of 120 seconds. I'm extending the ack deadline at every 110 seconds using a ScheduledExecutorService. The worker task is simulated with a sleep of 15 minutes. One message is pulled and handled at a time.

#### Environment details
- OS: Ubuntu

[2018-12-13 15:43] asuresh4 opened #4221 "Daemon threads spawned by Spanner client not stopped"
#### Environment details

- OS: Alpine Linux, MacOS
- Java version: 1.8
- google-cloud-java version(s): 0.38.0

#### Steps to reproduce

1. Please see code snippet below

#### Code snippet

        Spanner spanner = null;
        try{
            spanner = SpannerOptions.newBuilder()
                    .setProjectId(project)
                    .setCredentials(creds)
                    .build().

[2018-12-13 17:34] Qi77Qi commented on #4152
Hi @andrewsg , I have a unit test looks like. I have some scala code
[code]
There might be too much scala details, but I hope this helps

[2018-12-13 18:15] andreamlin commented on #4218
ack

[2018-12-13 18:44] JesseLovelace commented on #3425
Hi,

I'm not able to reproduce this. I ran the following:

[code]

This ran successfully, and I verified in the console that the resulting table is the same as when I upload the CSV using the web UI.

Are you still experiencing this issue? If so, can you show us some more of your code? I suspect maybe some other part of your configuration is causing it

[2018-12-13 18:48] andreamlin commented on #4218
If synthtool doesn't use the latest gapic-generator, I'll have to release artman.

[2018-12-13 21:14] kolea2 opened #4223 "Specify versions of dependencies in one central location for pom.xml files"
Cleanup properties like `<gax.version>` in pom.xml files and have them located in one place to reference.

[2018-12-13 21:23] JesseLovelace commented on #3517
I wasn't able to recreate this. I ran:

[code]
Which ran fine, and I verified in the console that the results were valid. Are you still experiencing this issue? Could it be related to the specific JSON file you're using?

[2018-12-13 23:40] vitamon commented on #3344
I had similar experience, my service account had not enough permissions, but InsertAll run smoothly and swallowed any exceptions. But rest api returned errors like this:

[code]

[2018-12-14 06:03] jgaa opened #4226 "Documentation link gives 404 File not found"
While clicking on the [Dialogflow client library docs](https://googleapis.github.io/google-cloud-java/google-cloud-clients/apidocs/index.html?com/google/cloud/dialogflow/v2beta1/package-summary.html) link, I get:

404

File not found

The site configured at this address does not contain the requested file.

If this is your site, make sure that the filename case matches the URL.
For root URLs (like

[2018-12-14 08:53] yoshi-automation commented on #4218
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/d037fdb5-4e39-46df-bc03-da83d3378912).

[2018-12-14 09:51] RutgerDOW commented on #4226
+1

This happens on many pages

[2018-12-14 16:40] igorbernstein2 opened #4228 "API doc links are broken"
For example:
- bigtable's readme has: https://googleapis.github.io/google-cloud-java/google-cloud-clients/apidocs/index.html?com/google/cloud/bigtable/package-summary.html
- spanner's readme has: https://googleapis.github.io/google-cloud-java/google-cloud-clients/apidocs/index.html?com/google/cloud/spanner/package-summary.html

Both lead to a 404

[2018-12-14 17:04] igorbernstein2 opened #4229 "bigtable: add docs demonstrating stream cancellation"
docs for readRowsAsync should give an example of how to cancel the stream using the StreamController

[2018-12-14 17:44] chrisribble commented on #4205
We have had the same problem where messages stop being pulled. We have worked around it by tracking all new messages and shutting down/restarting the Subscriber (via a background thread) if we have no received a new message before some timeout elapses. My main loop then starts a new Subscriber and background thread once the Subscriber hit the TERMINATED state (this ends up being the core of what o

[2018-12-14 18:35] chingor13 commented on #4226
We had a bad docs build. This should now be fixed.

[2018-12-14 18:35] #4226 closed

[2018-12-14 18:35] chingor13 commented on #4228
We had a bad docs build. This should now be fixed.

[2018-12-14 18:35] #4228 closed

[2018-12-14 20:51] #3808 closed

[2018-12-14 21:52] hmigneron opened #4231 "BigQuery : using the Maximum Bytes Billed property"
How can we set the "Maximum Bytes Billed" property on a query created with the BigQuery cloud library (`com.google.cloud.bigquery.*` namespace) ?

The non-cloud library has the property on the [JobConfigurationQuery](https://developers.google.com/resources/api-libraries/documentation/bigquery/v2/java/latest/com/google/api/services/bigquery/model/JobConfigurationQuery.html#setMaximumBytesBilled-jav

[2018-12-14 22:09] JesseLovelace commented on #3505
Thanks for bringing this to our attention! I've addressed this in the referenced PR so I'm closing this issue now, feel free to reopen if you experience any problems.

[2018-12-14 22:09] #3505 closed

[2018-12-14 22:36] chingor13 commented on #3505
It will be available in the next release.

[2018-12-15 08:52] yoshi-automation commented on #4218
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/123235cb-b8ab-4704-8e58-cde162401bd7).

[2018-12-15 17:31] sholavanalli commented on #4205
@chrisribble I saw this issue happen a lot of times between Dec 7th to 10th. I've not seen this happen again there after.

[2018-12-16 08:52] yoshi-automation commented on #4218
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/92c2ae81-fdcc-476b-a50b-4d2b7d5f2fcd).

[2018-12-17 04:56] ayushj158 opened #4233 "What should we use instead since ApiFutures. addCallback( future,callback) is deprecated"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS: Linux/Windows
- Java version: 1.8
- google-cloud-java version(s):1.50

#### Steps to reproduce

1.ApiFuture.addCallback(future,callback) method is deprecated and new method with ApiFuture.addCallback (future,callback,exectuor) is added in API . I am not

[2018-12-17 08:52] yoshi-automation commented on #4218
Autosynth is still having trouble generating compute. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/1ef0fbb4-4e81-4882-b231-af3461e253cc).

[2018-12-17 13:08] adriaferre opened #4234 "Getting GCP available regions without doing a request"
Hello,
I would like to know if there is a way to get all GCP available regions without doing a request to GCP.
I've been looking at the source code, and the only way that I found to retrieve all the regions is doing a request: https://github.com/googleapis/google-cloud-java/blob/969bbeef18f004fd51fd46c5def1ae5c644cae3c/google-cloud-clients/google-cloud-compute/src/main/java/com/google/cloud/comput

[2018-12-17 14:14] mrfambo commented on #1246
I am using API 2.0.0, what did you mean by Entity in here? How do i get its instance? Any recent resource on it?

[2018-12-17 14:52] eqinox76 opened #4235 "Firestore:"
Hey all,
we see a very rare error when writing data from a app engine application to firestore ('com.google.cloud:google-cloud-firestore:0.71.0-beta').
It seems to be a too old connection to firestore and therefore the connection is being reset:
`io.grpc.StatusRuntimeException: UNAVAILABLE: HTTP/2 error code: NO_ERROR Received Goaway max_age`
Should we expect such errors when using the google-clou

[2018-12-17 20:05] darrenhaken opened #4237 "Convert BQ Table schema to Avro Schema"
I'm trying to convert a BigQuery schema into an Avro Schema, is this possible?

I want to do this so that in a DataFlow job I can write BQ data as Parquet on GCS. For some reason the Parquet writer expects an Avro schema:

#### Environment details

- OS: Mac
- Java version: 1.8
- google-cloud-java version(s): 1.5.6

#### Code snippet

[code]

[code]

[2018-12-17 22:42] #4218 closed

[2018-12-17 22:53] andreamlin commented on #4218
Released artman.

[2018-12-17 23:57] chingor13 commented on #4233
@ayushj158 You should use the [version that provides the executor as the 3rd argument](https://googleapis.github.io/api-common-java/1.7.0/apidocs/com/google/api/core/ApiFutures.html#addCallback-com.google.api.core.ApiFuture-com.google.api.core.ApiFutureCallback-java.util.concurrent.Executor-) so you can more finely control how your futures are executed.

If you want to maintain the same behavior,

[2018-12-17 23:57] #4233 closed

[2018-12-18 06:47] ayushj158 commented on #4233
@chingor13 I understand that a new method is available with Executor argument.
Lets say i create a new Executor with thread pool size 1 and pass it to future , does it mean my other callbacks will wait for this to complete and get queued , wont that cause performance impact  ?

How did it use to work previously ?  I am trying to understand implement this with new Executor

[2018-12-18 10:59] anuvyklack commented on #4094
Hi,

we are facing an issue while we are processing a binary stream with the google-cloud-dialogflow v2 Java API version 0.59.0-alpha.
In our scenario we built a servlet which provides a websocket to receive binary audio signal chunks. The implementation is based on
https://cloud.google.com/dialogflow-enterprise/docs/detect-intent-stream#detect-intent-text-java and runs on a tomcat 8 instance with

[2018-12-18 17:54] andreamlin commented on #4234
@adriaferre Thanks for submitting this feature request!

It does seem that we have a static set of Regions: https://cloud.google.com/compute/docs/regions-zones/.

Could we envision this as a static class with just a static list of Region objects?

[2018-12-18 20:30] volodymyrd commented on #3880
It looks like the same [issue](https://github.com/googleapis/google-cloud-java/issues/2796#issuecomment-431323121)

[2018-12-19 00:28] garrettjonesgoogle opened #4241 ""Maven Central" badge shows old version"
The "Maven Central" badge in the main README shows version `v0.47.0-alpha` as the latest version of google-cloud-java because it is based on the `google-cloud` artifact which was deprecated and no longer exists. The badge should be changed to look up a different version (since the latest is now v0.74.0).

[2018-12-19 09:14] adriaferre commented on #4234
Hello @andreamlin
I've been digging more on GCP SDK and I figured out that there is a method to retrieve regions: https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-compute/src/main/java/com/google/cloud/compute/v1/RegionClient.java#L272 but it requires and extra request...

Yes, definitely having a static list of Region objects will work perfectly for us

[2018-12-19 17:50] andreamlin commented on #4234
Ok!

[2018-12-20 11:39] bruceskingle opened #4242 "pubsub synchronous pull late acks are ignored"
It seems that acks sent after the ack timeout are ignored.

I have a subscriber based on the synchronous pull interface which naively hopes that it will complete within the ack timeout. This normally works but an unusually large message appeared which took 11 seconds to process (the ack timeout is 10 seconds). This message was being redelivered indefinitely, which seems wrong.

I accept that the m

[2018-12-20 13:37] bruceskingle opened #4243 "Pubsub: calls hang on recent versions of Java client when deployed to Debian 9 (stretch) slim based docker image"
I have a production application which is working with google-cloud-pubsub 1.33.0.

The subscribing processes are deployed to AWS (ECS docker images, a long running server application) and everything is working as expected.

We have had a problem with a stuck message (https://console.cloud.google.com/support/cases/detail/17826998?project=symphony-gce-stage&folder&organizationId=307209726771) which

[2018-12-20 15:01] qingwei91 opened #4244 "Google PubSub Subscriber does not fail on Unauthenticated exception"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS: Mac and Ubuntu-Linux
- Java version: 8
- google-cloud-java version(s): 1.40.0

#### Steps to reproduce

1. Run `com.google.cloud.pubsub.v1.Subscriber` as usual using FixedCredentialsProvider
2. Delete the credential
3. I am expecting it to **fail**, but

[2018-12-20 17:33] kolea2 commented on #4244
Have you tried implementing a listener on your subscriber to handle the state?
`subscriber.addListener(...)`

You could also try checking the status of the subscriber after starting the async worker.

[2018-12-20 18:32] ZacWolf commented on #3551
Any update on this? I'm getting this same error.  I've tried adding the following environment variable in the server runtime settings:
CLOUDSDK_COMPUTE_REGION
CLOUDSDK_COMPUTE_ZONE

But still getting this nullpointer exception.

[2018-12-20 19:52] kolea2 commented on #4243
Thanks for raising this. For some more context, do you know the state of your subscriber (running, failed, etc)? Does this hang on any particular message size?

[2018-12-21 06:17] bruceskingle commented on #4243
@kolea2 There are two problems, the stuck message problem occurs on the old version of the pubsub client but not on the newer versions, whatever causes that has been fixed and we need to deploy a newer version of the pubsub client. Details about that problem are in the support case I linked above, the one and only stuck message was over 6 MB which is unusually large for out application, but that's

[2018-12-21 09:44] qingwei91 commented on #4244
Hi @kolea2

I've tried adding listener, but it was not triggered as well, I think the subscriber does not enter `FAILED` state

[2018-12-21 12:31] SXerox007 commented on #2502
Facing the same problem

implementation fileTree(dir: 'libs', include: ['*.jar'])
    //noinspection GradleCompatible
    implementation 'com.android.support:appcompat-v7:27.1.1'
    implementation 'com.android.support.constraint:constraint-layout:1.1.3'
    testImplementation 'junit:junit:4.12'
    androidTestImplementation 'com.android.support.test:runner:1.0.2'
    androidTestImplementation 'co

[2018-12-21 13:53] bruceskingle opened #4246 "Pubsub: change in behaviour for synchronous pull?"
I have an application which uses the synchronous pull method for pubsub.

There seems to have been a change in behaviour in the case where there are no messages on the subscription between 1.33.0 and 1.56.0

With the old library I get a normal return (with zero messages) after 15-20 seconds or so. With the new library I get nothing for 10 minutes and then the exception stack trace below.

Is this

[2018-12-21 17:30] chingor13 commented on #4241
Perhaps a single maven badge no longer makes sense and we should instead put a badge next to each API listed below (corresponding to the google-cloud-X version).

[2018-12-21 17:49] chingor13 commented on #4205
We had a backend bug where the server could incorrectly return a UNAUTHORIZED exception which is not retried by the Subscriber. In this case the subscriber would be put in the FAILED state and would still be running, but the streaming connection would be stopped.

The backed fix for the unauthorized bug is fixed/rolling/rolled out as of yesterday, but we still need better visibility or examples of

[2018-12-21 18:15] kolea2 commented on #4242
There are two things you could look into:

1. You can update the acknowledgment deadline on the whole subscription
2. You can programmatically update the deadline using the `ModifyAckDeadline` APIs.

Alternatively, you can also look into acknowledging the message before processing. Hope this helps!

[2018-12-21 18:20] bruceskingle commented on #4242
I said that already, the point is, that even if an ack is late, it indicates that the message has been processed and should not be redelivered again and again.
I was not asking a question, I assert that this is incorrect behaviour.

[2018-12-21 18:57] #3052 closed

[2018-12-21 18:58] chingor13 commented on #3052
This appears to be a windows local development environment issue with file length limits. Please add more information and we can try and help resolve it.

[2018-12-21 21:21] kolea2 commented on #4242
Unfortunately, if the ack deadline is missed, the message will get redelivered. More information on this behavior can be found here: https://cloud.google.com/pubsub/docs/subscriber#at-least-once-delivery.

[2018-12-22 18:59] chrisribble commented on #4211
I handle this in my apps by having the message handler that the subscriber delegates to use an ExecutorService to dispatch actual work. When we are shutting down, I shut down that ExecutorService first (causing subsequent calls to enqueue work to throw RejectedExecutionException, which I have generate a nack), then awaitTermination on the ExecutorService for a predetermined timeout to allow tasks

[2018-12-23 21:01] adamf opened #4248 "BigQuery: client.insert_rows doesn't handle nested schemas"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS: Any
- Java version: N/A - it's python (3.5)
- google-cloud-java version(s): 1.8.1 (pypi)

#### Steps to reproduce

1. Created a nested schema:

[code]

2. Use this schema (in python form) with the `google-cloud-bigquery` as the default job config.
3. Pa

[2018-12-23 21:03] adamf commented on #4248
Wrong project! Sorry!

[2018-12-23 21:05] #4248 closed

[2018-12-26 08:31] SANDEEPERUMALLA opened #4251 "Google Big Query API throws NPE when fetching Table Meta data with no fields"
This is in regards with Client lib for Google Big Query. We are using google-cloud-bigquery:1.44.0 library for  one of the our use cases.

We have observed the following behavior:
When we try to fetch a table's metadata that does not have fields, API is
throwing a NPE.

**Stack Trace:**
Exception in thread "main" java.lang.NullPointerException
	at com.google.common.base.Preconditions.checkNotNull(

[2018-12-26 15:19] pmakani commented on #4251
already created  PR #4247

[2018-12-26 15:54] kolea2 commented on #4244
Hi @qingwei91, I tried reproducing this and was able to get this to enter the failed state. I created a subscriber with valid credentials, saw no errors. I then deleted the credentials, reran, and saw the same error you did and it entering the failed state. To highlight, here's a piece of my listener code (in Java):

[code]

My error message is the same as what you posted above, and I can see "Fai

[2018-12-26 15:59] qingwei91 commented on #4244
@kolea2 Thanks for putting in effort, can you try to let it continue running instead of rerunning it ?

I can confirm the program throws exception when it starts with invalid credentials, but what if I remove the credentials without restarting the program?

so far my observation is that it prints out error message, but it does not fail the main program even after 5 minutes

[2018-12-26 18:12] kolea2 commented on #4244
Sure - I ran again with valid credentials, no issues, deleted them, and then did get into the failure state with the `UnauthenticatedException` stack trace (without stopping and rerunning). I noticed you're using version 1.40.0 - can you try upgrading the library? I'm using version 1.56.0 for Pub/Sub. Hope that helps!

[2018-12-26 18:50] dave-r12 commented on #2796
Hey, I've also hit this issue. I was able to replicate it (mostly reliable) with this piece of code:

[code]

I'm unfamiliar with the implementation but I was seeing this crop up when we attempted to log a very big message, causing the GCP logging impl to throw a RuntimeException (message > 110K). In the above code it happens in the `log.error()` call. This seems to cause an issue when a separate,

[2018-12-26 20:40] hzyi-google commented on #3540
Yes it is. The two files are still pointing at the non-shaded version of those classes in the latest google-cloud-nio on maven (0.74).

[2018-12-26 23:25] chouclee opened #4259 "BigQuery: Expose num of bytes, num of rows in TableInfo/Table"
Feature request

How can we get the latest number of rows by reloading the table?
[code]

Table/TableInfo hasn't exposed method to get `numRows` and `numBytes`
Python library has exposed those fields in
https://github.com/googleapis/google-cloud-python/blob/master/bigquery/google/cloud/bigquery/table.py#L500

[2018-12-27 04:01] chouclee commented on #4259
Currently all those info are exposed through `StandardTableDefinition`.

[2018-12-27 08:46] rahulKQL opened #4260 "Bigtable: Request for Query#fromProto in models.Query"
It would be nice to have Query.fromProto() for [v2.models.Query](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-bigtable/src/main/java/com/google/cloud/bigtable/data/v2/models/Query.java) to be able to convert to/from ReadRowsRequest.java.

As of now in [TemplateUtil.java](https://github.com/GoogleCloudPlatform/cloud-bigtable-client/blob/7b862e4d312c3

[2018-12-27 10:59] andrey-qlogic commented on #3918
@chingor13
Perhaps, you would like to add a check blobInfo for null at this line https://github.com/googleapis/google-cloud-java/blob/78f67a29e8b9c46ba01de566a2eae0fd1c03edea/google-cloud-clients/google-cloud-contrib/google-cloud-nio/src/main/java/com/google/cloud/storage/contrib/nio/CloudStorageFileSystemProvider.java#L745, that makes no sense that is always null there.

[2018-12-27 17:44] bmccutchon opened #4265 "Storage integration test failing in nightly since Dec. 21"
Nightly link: https://source.cloud.google.com/results/invocations/fd413181-7414-4e8e-9d62-13cfd8fe7a7d/targets/cloud-devrel%2Fclient-libraries%2Fjava%2Fgoogle-cloud-java%2Fnightly%2Fstorage-it/log

[2018-12-27 19:58] ajaaym commented on #2816
Closing this as it seems fixed.

[2018-12-27 19:58] #2816 closed

[2018-12-27 23:31] sduskis commented on #3749
@flascaray, have you tried the configuration proposed by @yuri-sergiichuk?  That seems to solve the problem in our tests as well.

[2018-12-28 09:45] tuanfred commented on #2276
Any update ? Thanks

[2018-12-28 14:19] charlesliqlogic commented on #3749
@flascaray , Does yuri-sergiichuk answered your question?

[2018-12-28 16:42] chingor13 commented on #3013
A `HttpCredentialsAdpapter` is already available to use credentials fetched from google-auth-library-java (com.google.auth). Note that this will only work for cloud like APIs that can use service accounts (will not work for 3-legged OAuth2 where you need to authenticate on behalf of an end-user).

Something like:
[code]

We should document this, likely on the google-auth-library-java repository an

[2018-12-28 17:43] ajaaym commented on #4265
Fixed in [4266](https://github.com/googleapis/google-cloud-java/pull/4266)

[2018-12-28 18:54] ajaaym commented on #4251
This is fixed in [4247](https://github.com/googleapis/google-cloud-java/pull/4247)

[2018-12-28 18:54] #4251 closed

[2018-12-28 19:31] jean-philippe-martin commented on #3918
Yes, what the UI does is rather surprising. As discussed in [this GitHub issue](https://github.com/broadinstitute/gatk/pull/5546) we end up with both a file and a directory that have the same name.

I didn't see your fix before writing mine, sorry. I think it makes sense for NIO to report the underlying truth, namely that both the file and the directory exist.

[2018-12-28 21:15] Flameborn opened #4268 "Cloud Text-to-Speech: java.lang.NoSuchMethodError when calling TextToSpeechClient.create() via Kotlin"
#### Environment details

- OS: Google Compute Engine
- Java version: openjdk 11.0.1
- google-cloud-java version(s): Not Applicable

#### Steps to reproduce

1. Call TextToSpeechClient.create()

#### Stacktrace

jav
a.lang.NoSuchMethodError: com.google.common.collect.ImmutableList.builder()Lcom/
google/common/collect/ImmutableList$Builder;] with root cause

java.lang.NoSuchMethodError: com.google.

[2018-12-28 21:58] charlesliqlogic commented on #3535
@daltonj  Does your credential file has {"type": "service_account",
  "project_id": "project_id,}  ?

[2018-12-28 22:52] javabrown commented on #4220
This happens while pulling the message, when there are no message for max-timeout. In this case server keeps on sending "DEADLINE_EXCEEDED" if there are no msg for rpc timeout. Clients keep retrying "DEADLINE_EXCEEDED" until it pass max timeout.

[2018-12-31 12:15] kbhattac opened #4269 "Change hardcoded "metadata" to "metadata.google.internal""
Resolution of the metadata endpoint from within a Istio enabled GKE pod works only with "metadata.google.internal" as the url and not "metadata". No output is produced without the FQDN.
[code]
Can this be changed to include the FQDN?
https://github.com/googleapis/google-cloud-java/blob/36fbd97799e222fac888ca5e643beb37d6700c77/google-cloud-clients/google-cloud-core/src/main/java/com/google/cloud/Me

[2018-12-31 17:35] #4221 closed

[2019-01-01 20:34] PadrePadrone opened #4273 "In 'google-cloud-storage', Allow passing data size to Storage.create"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS:
- Java version:
- google-cloud-java version(s):

#### Steps to reproduce

1. ?
2. ?

#### Stacktrace

[code]

#### Code snippet

[code]

#### External references such as API reference guides used

- ?

#### Any additional information below

Following th

[2019-01-01 20:46] PadrePadrone commented on #4273
Environment details
OS: Any
Java version: Any
google-cloud-java version(s): Current (1.56.0)

The 'create' method in the Storage interface, receives the data as a byte[] argument, and implicitly uses the array length as the data size.

We are using a pool of such arrays, all of the same size, however on every call to 'create' the actual data size is <= than the array length.
Current 'create' force

[2019-01-02 15:01] sduskis commented on #4220
@jadekler, how should clients handle a deadline exceeded in Pub/Sub when there are no messages for the duration of the client's timeout settings?

[2019-01-02 17:51] #4231 closed

[2019-01-02 17:52] #3880 closed

[2019-01-02 17:56] hmigneron commented on #4231
Fantastic. Thank you !

[2019-01-02 18:04] ajaaym commented on #2796
fixed in #4254

[2019-01-02 18:04] #2796 closed

[2019-01-02 20:15] jadekler commented on #4220
@sduskis Do we know what's causing the deadline to be exceeded? I doubt it's the server, nor the GFE (though it does kill connections after 10m, but that conn should be re-established by gRPC opaquely).

[2019-01-02 20:52] dhoard commented on #4205
@chingor13 did the backend bug affect synchronous pull requests as well?

[2019-01-02 21:31] JesseLovelace commented on #3425
Closing due to being unable to reproduce and inactivity on the issue, feel free to reopen if you're still experiencing this issue

[2019-01-02 21:31] #3425 closed

[2019-01-02 21:31] JesseLovelace commented on #3517
Closing due to being unable to reproduce and inactivity on the issue, feel free to reopen if you're still experiencing this issue

[2019-01-02 21:31] #3517 closed

[2019-01-02 22:10] dhoard commented on #4242
@kolea2 Basic tests using the gcloud command show that the (re-)delivered message gets the same ack id ... so it's reasonable to expect the last ack call to work, even though message gets delivered again.

For @bruceskingle 's case that takes 11 seconds to process, he should only receive the message two times.

This is definitely a bug.

[2019-01-02 22:15] JesseLovelace commented on #3455
This is blocked on https://github.com/netty/netty/issues/8337

[2019-01-03 00:32] ludoch opened #4275 "Support Java11 without warnings"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

When using the GA Open JDK 11 (Soon to be used widely, including in Google internal and external products, I see some warnings.

For example, a Cloud Datastore sample app emits this warning:
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective acces

[2019-01-03 00:44] sduskis commented on #4275
#2545 discusses this. protobuf-java-3.6.1.jar is a dependency of grpc, so there isn't much we can do about it in this repository.

[2019-01-03 02:31] ludoch commented on #2545
This is not a good reason to close the bug... People are now adopting Java11, and Google libraries should not have warnings worrying folks.

[2019-01-03 03:00] bruceskingle commented on #4243
I'm not sure what the base layer is but I expect it is Alpine, its an image someone else in our organization built. Upgrading to a later container is on my todo list so I will try that tomorrow and let you know if that makes any difference. If you can give me a reference to a base image you know works I can try to build form that as a means of confirming or eliminating this issue.

[2019-01-03 03:06] sduskis commented on #4275
The pressure doesn't seem actionable.

[2019-01-03 15:02] sduskis commented on #2545
@ludoch, I beg to differ.  it's a great reason to close THIS bug. The right people are looking at the issue.  There's nothing we can do here, and the right people are looking at it.  Please feel free to follow up on protocolbuffers/protobuf#3781.

[2019-01-03 15:03] sduskis commented on #4275
The right people are looking at the issue at protocolbuffers/protobuf#3781.  There's nothing we can do in this repository, and the right people are looking at it.  Please feel free to follow up on protocolbuffers/protobuf#3781.

[2019-01-03 15:03] #4275 closed

[2019-01-03 16:31] kolea2 commented on #4243
Alpine should be fine to use with ca-certificates added in one of the layers.

If it's helpful, @jadekler created a gist for a ruby dockerfile using ca-certificates: https://gist.github.com/jadekler/169cc4bf1ca236f9d380fd733847a8c8

[2019-01-03 19:59] #3580 closed

[2019-01-03 20:01] #4259 closed

[2019-01-03 20:05] javabrown commented on #4220
@jadekler, Server keep sending DEADLINE_EXCEEDED every 10-15 sec, which is getting retried by the GAX until max rpc timeout, causing lot of error message logging at client-side.

[2019-01-03 21:39] maros7 opened #4284 "LoggingAppender causes NPE in Spring Boot on OpenShift"
Related to https://github.com/spring-cloud/spring-cloud-gcp/issues/1355. I get a NPE from Logback, and the container won't start, when using Spring Cloud GCP Logging 1.1.0.RC2 which uses google-cloud-java 1.54.0. The Spring Boot app is being deployed on an on-prem OpenShift environment. Note that it works when I start the container on my local machine.

The exception itself isn't very informative:

[2019-01-03 23:47] stetra commented on #4246
I also encountered this issue. I believe this change in behavior was introduced in [1.45.0](https://github.com/googleapis/google-cloud-java/blob/7a43f6fa43cf186bab16e16db7f83abb7418aaf1/google-cloud-clients/google-cloud-pubsub/pom.xml), due to the transitive dependency on com.google.api:gax (through com.google.cloud:google-cloud-core) moving from 1.31.0 to 1.32.0. [1.32.0](https://github.com/googl

[2019-01-03 23:58] ajaaym commented on #4246
seems like same issue as #4220

[2019-01-03 23:59] ajaaym commented on #4220
seems this is same as  #4246

[2019-01-04 02:44] bruceskingle commented on #4243
Here is the debug level logging for the call, I see nothing related to certificates:

02:17:58.862 [main] INFO org.symphonyoss.s2.fugue.google.pubsub.GoogleSubscriberAdmin - About to delete subscription dev-s2smoke1-sym-ac6-us1-s2fwd-presenceV1ExchangeEnvelope on topic sym-ac6-dev-chat-glb-1-presenceV1ExchangeEnvelope
02:17:58.867 [main] INFO org.symphonyoss.s2.fugue.google.pubsub.GoogleSubscriber

[2019-01-04 11:20] marykogan commented on #3371
I don' get the whole point of showing sbt examples in docs and announcing Scala support, when almost nothing  in datastore library is working out of the box and request some time-consuming workaround. Furthermore, filled problem is labeled as feature. Great job!

[2019-01-04 15:48] mattnworb commented on #2084
Sorry to revisit an old issue, but I'm in the midst of updating a codebase which uses `google-cloud-pubsub:0.8.0` to more recent versions and which has a lot of tests that use `LocalPubsubHelper`.

It seems to me like the arguments here against having a helper that starts the emulator via `gcloud` (or downloads it) also apply for `LocalDatastoreHelper`, which still exists in this library.

FWIW we

[2019-01-04 18:31] #4284 closed

[2019-01-04 18:52] hzyi-google commented on #2084
cc/ @chingor13

[2019-01-04 19:21] ajaaym commented on #3371
This is a scala issue rather than library issue. Please follow
[stackoverflow](https://stackoverflow.com/questions/16829114/ambiguous-reference-to-overloaded-definition-one-vs-two-parameters) [SI-2991](https://issues.scala-lang.org/browse/SI-2991) [SI-4728](https://issues.scala-lang.org/browse/SI-4728)

To resolve this issue to allow strong consistency which is by default, you can call like this
d

[2019-01-04 20:23] charlesliqlogic commented on #4219
@cberez  It seems like creating database without any Exceptions in both of your cases.

**Case1: Java1.8 , Scala 2.11.12, google-cloud-spanner 1.0.0**

[code]

**Case2: Java1.8 , Scala 2.11.12, google-cloud-spanner v0.68.0-beta**

[code]

If there are still issues, can you please provide complete dependency tree?

[2019-01-04 20:45] ajaaym commented on #4235
@googleapis/yoshi-java [commit rpc](https://github.com/googleapis/googleapis/blob/master/google/firestore/v1beta1/firestore_gapic.yaml#L163) dont have any retry codes. Does it make sense to add UNAVAILBLE as retryable?

[2019-01-04 21:04] sduskis commented on #4268
This seems like a dependency issue.

@Flameborn, can you tell which version of guava is being used?

[2019-01-04 21:07] sduskis commented on #4268
For reference, the expected version of `guava` for `google-cloud-texttospeech` `0.74.0`  is `26.0-android`.

[2019-01-04 22:01] kolea2 commented on #4243
Thanks for sending these over - I'll continue to look into this. To confirm it's not the issue, can you please also verify ca-certificates are added? Thanks!

[2019-01-04 22:08] bruceskingle commented on #4243
I have been trying to do this but our image is based on ubuntu not alpine, can you tell me what ca certificate is actually required?

Of course Java has it's own trust anchor so the gist doesn't work for me "out of the box"....

[2019-01-04 22:11] elefeint commented on #2084
As it happens, we've created an [emulator test rule](https://github.com/spring-cloud/spring-cloud-gcp/blob/master/spring-cloud-gcp-pubsub-stream-binder/src/test/java/org/springframework/cloud/gcp/stream/binder/pubsub/PubSubEmulator.java) in spring-cloud-gcp.

It's easy to use, and takes care of its own set up and tear down.

[code]

We could move it to a less obscure location if it's useful.

[2019-01-04 22:19] bruceskingle commented on #4243
I'm not sure that alpine is viable for this: https://github.com/infostellarinc/stellarstation-api/issues/66

I think I'm stuck with this at the moment.

[2019-01-04 23:34] sirhamster opened #4292 "FirewallClient.insertFirewall() generates error despite setting required value."
#### Environment details

- OS: Windows 10
- Java version:
java version "1.8.0_191"
Java(TM) SE Runtime Environment (build 1.8.0_191-b12)
Java HotSpot(TM) 64-Bit Server VM (build 25.191-b12, mixed mode)
- google-cloud-java version(s):
<artifactId>google-cloud-compute</artifactId>
<version>0.74.0-alpha</version>

#### Steps to reproduce

1. See code below.

#### Stacktrace

[code]

#### Code snippe

[2019-01-05 01:14] bruceskingle commented on #4243
@kolea2 I have found that the root cert for the pubsub api URL is indeed missing from the Java cacerts file in our docker base image, but adding it in made no difference, I suspect that the native netty implementation that GRCP uses is going to the OS ca-certificates file which does have the GlobalSign root cert in it. Given this and the fact that the debug log output says nothing about SSL or cer

[2019-01-05 11:16] Flameborn commented on #4268
I did not explicitly specify a Guava version via Gradle, but rather followed the install and usage instructions at https://cloud.google.com/text-to-speech/docs/reference/libraries#client-libraries-install-java

As a result, *gradle dependencies* shows

    com.google.guava:guava:19.0
     com.google.guava:guava:20.0

for certain com.google.X packages.

My intended target platform is not Android, b

[2019-01-05 20:45] mattnworb commented on #2084
@elefeint thanks, that looks useful!

I ended up using [testcontainers](https://www.testcontainers.org) to launch the emulator in a container in my series of tests, which I found easier than writing code to manage the `gcloud` process - and also has the nice benefit of only requiring that hosts running the tests have docker installed, rather than requiring gcloud and the emulator optional componen

[2019-01-05 22:39] bruceskingle commented on #4243
@kolea2 I can now reproduce the problem with a locally deployed docker container and can attach a debugger.

My code is calling the pubsub sdk at

`GoogleSubscriberManager.validateSubcription(TopicName, SubscriptionName) line: 153`

which is

`com.google.pubsub.v1.Subscription existing = subscriptionAdminClient.getSubscription(projectSubscriptionName);`

Here is the full stack trace (after I manua

[2019-01-05 23:07] ajaaym commented on #4243
@bruceskingle can you add log level to FINE? Does it come out after 10 min?

[2019-01-05 23:16] bruceskingle commented on #4243
It never returns, I will re-run with FINE logs

[2019-01-05 23:45] bruceskingle commented on #4243
[log.txt](https://github.com/googleapis/google-cloud-java/files/2729994/log.txt)
@ajaaym here are the logs, the entry

`23:31:59.527 [main] INFO  org.symphonyoss.s2.fugue.google.pubsub.GoogleSubscriberManager - Validating topic sym-ac6-dev-chat-glb-1-internalMsg...`

is from immediately before the call which hangs

[2019-01-06 00:30] ajaaym commented on #4243
@bruceskingle this seems java 9 related issue. Can you add this -Dio.netty.tryReflectionSetAccessible=true ? also add java --add-exports java.base/jdk.internal.misc=ALL-UNNAMED? More information over [here](https://github.com/netty/netty/issues/7769)

[2019-01-06 00:33] bruceskingle commented on #4243
The hanging behaviour is the same with Java8, 10 and 11 and version 1.33.0 seems to work on all of those platforms too, but I am happy to add those options.

[2019-01-06 00:56] bruceskingle commented on #4243
@ajaaym here are the logs with those options added, it makes no difference as far as I can see.

[log.txt](https://github.com/googleapis/google-cloud-java/files/2730029/log.txt)

and here are the logs running on a Java8 base image, with the same hanging behaviour

[log.txt](https://github.com/googleapis/google-cloud-java/files/2730030/log.txt)

[2019-01-06 02:20] ajaaym commented on #4243
@bruceskingle thanks for this log. Is it possible to share docker file for both of this case?

[2019-01-07 01:07] bruceskingle commented on #4246
The fix provided by @stetra works for me, thank you.

[2019-01-07 01:07] #4246 closed

[2019-01-07 01:14] bruceskingle commented on #4243
@ajaaym @kolea2 I found the issue, it is to do with the version of grpc. For historic reasons we had a dependency management directive in a parent pom which was pulling in grpc 1.10.1 I have removed this and now it is working.

I have no idea why the problem manifests only when deployed to the docker container.

I have narrowed the problem down to version 1.37.0 of the sdk, i.e. 1.36.0 and all ear

[2019-01-07 01:14] #4243 closed

[2019-01-07 14:50] roku6185 commented on #4220
I tried the fix described in #4246 and it allows the "long-running" task (15 min duration) to finish, but the main thread is terminated after 1 hour with the following exception:
[code]

[2019-01-07 15:59] ajaaym commented on #4220
@roku6185 can you please wrap ```PullResponse pullResponse = subscriber.pullCallable().call(pullRequest);``` inside try catch block and retry the request on any exception?

[2019-01-07 16:18] #3749 closed

[2019-01-07 17:42] ajaaym commented on #4203
can you add log level to FINE and send long?

[2019-01-07 18:04] skonx opened #4296 "Firestore / io.grpc generates memory leaks stopping/undeploying a webapp on Glassfish/Payara"
**I've already opened an issue** on [firebase-admin-java](https://github.com/firebase/firebase-admin-java/issues/237) describing the problem and searching the issue on github I've found it could be linked with [io.grpc](https://github.com/netty/netty/issues/6891).

Undeploying a webapp on Glassfish or Payara, we've noticed many memory leaks in the logs.
We are observing the same behavior running o

[2019-01-07 18:31] skonx commented on #4296
I've finally found a strack trace just after deploying the webapp :

Severe:   The web application [] created a ThreadLocal with key of type [java.lang.ThreadLocal] (value [java.lang.ThreadLocal@faafa9c]) and a value of type [io.grpc.netty.shaded.io.netty.util.internal.InternalThreadLocalMap] (value [io.grpc.netty.shaded.io.netty.util.internal.InternalThreadLocalMap@3bf943c8]) but failed to remove

[2019-01-08 07:11] roku6185 commented on #4220
@ajaaym Seems to work fine  :+1: . Thanks a lot.

[2019-01-08 14:23] ajaaym commented on #4220
Thanks @roku6185 Closing this issue. Please feel free to reopen this one or create new one if needed.

[2019-01-08 14:23] #4220 closed

[2019-01-08 14:30] pmakani commented on #3058
This seems fixed. Please feel free to reopen this one or create new one if needed.

[2019-01-08 14:30] #3058 closed

[2019-01-08 19:09] igorbernstein2 opened #4308 "Kokoro should run integration tests in examples"
The cloud bigtable examples contain integration tests. It would be nice to setup kokoro to run them:
https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-examples/src/test/java/com/google/cloud/examples/bigtable

@elisheva-qlogic can you provide the mvn command line you used to run the integration tests?

[2019-01-09 05:06] ysde commented on #3109
Still bump into this problem when using 0.76.0-alpha, all errors are logged as serverity: "INFO"
```"com.google.cloud" % "google-cloud-logging-logback" % "0.76.0-alpha"```

[2019-01-09 08:51] yoshi-automation opened #4312 "Synthesis failed for speech"
Hello! Autosynth couldn't regenerate speech. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/e9bcdb6c-a511-48d4-8012-cada0a56d53b).

[2019-01-09 13:57] sduskis commented on #4312
It looks like the artman file was changed yesterday, which broke the config: https://github.com/googleapis/googleapis/commit/659d66ec24bf40b35a41a0b79218d96ba3add3d3#diff-0526c95d1fa90b297f51835eb26497cf

[2019-01-09 18:04] ajaaym commented on #3573
@chingor13 after [3757](https://github.com/grpc/grpc-java/pull/3757) merged in grpc, all IOException is getting retried. [google-auth-library-java](https://github.com/googleapis/google-auth-library-java) throws IOException every where and almost all are not retriable. Does it make sense to change to something other than IOException?

[2019-01-09 21:20] elisheva-qlogic commented on #4308
mvn -B -pl google-cloud-examples exec:java -Dexec.mainClass="com.google.cloud.examples.bigtable.ClassNameExample"

[2019-01-09 21:42] #3540 closed

[2019-01-09 22:31] #4152 closed

[2019-01-09 22:32] #3918 closed

[2019-01-10 00:36] yoshi-automation commented on #4312
Autosynth passed, closing! :green_heart:

[2019-01-10 00:36] #4312 closed

[2019-01-10 11:00] A-W-Smith opened #4319 "Support for StandardSQLTypeName in Field.newBuilder(name, type)"
We use the Field.newBuilder(name, type) to build a StandardDataDefinition but it currently only supports LegacySQLTypeName, are there any plans to support the StandardSQLTypeName? Or are there any recommendations for other ways to build a StandardTableDefinition using standard SQL types?

[2019-01-10 11:40] o0lwj0o opened #4320 "Suggestion : Improvement of String.equals("xxx")"
Hi,
I have found some usage of “String.equals("xxx")” in this project.

When using string.equals("a") ，it will get nullpointexception if string ==null.
The problem can be fixed by repalced with "a".equals(string) or Objects.equals(string,"a").

Detail websites and lines are listed below

77 80 83   86 89 92 95 98 101 104 | https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-cl

[2019-01-10 14:09] #3822 closed

[2019-01-10 14:16] sduskis commented on #3384
@andreamlin, kokoro fixed the build problems.  Do we still need this issue to be open?

[2019-01-10 14:19] #2548 closed

[2019-01-10 14:21] #2552 closed

[2019-01-10 14:23] sduskis commented on #3031
@ajaaym, can this be closed?

[2019-01-10 16:15] ajaaym commented on #3031
Closing this issue, please try to follow the configuration as per link in above discussion and reopen or create new if required.

[2019-01-10 16:15] #3031 closed

[2019-01-10 16:19] andrey-qlogic commented on #3678
@sduskis , I'm not able reproduce the issue, can we close it ?

[2019-01-10 17:41] sduskis commented on #3595
@pongad, is this still active?

[2019-01-10 17:43] garrettjonesgoogle commented on #4241
If this is going to be retained, I would suggest using the version of `google-cloud-bom`.

[2019-01-10 17:57] Flameborn commented on #4268
With an explicit _Guava 26.0-android_ dependency, initialisation and usage seems to work as expected. Thank you very much!

[2019-01-10 18:39] kolea2 commented on #4242
When using synchronous pull, it is up to the user to handle things like increasing the ack deadline before it expires, which can be difficult to get right. For synchronous pull, the behavior when issuing an ack after the ack deadline has expired depends on the timing of the re-delivered message and the ack from the first delivery. Assuming the ack ID has not changed, issuing the ack after the mess

[2019-01-10 18:39] #4242 closed

[2019-01-10 18:44] bruceskingle commented on #4242
"Assuming the ack ID has not changed, issuing the ack after the message has been redelivered a second time should be successful (although some duplicates are always possible). "

This is not the observed behaviour, what I see is the ack ID does not change, the message is delivered repeatedly (for ever as far as I can tell) and an ack is sent (and ignored) after every delivery, but after the ack de

[2019-01-10 20:01] kolea2 commented on #4242
Sorry, to clarify - there's essentially a race between the server receiving the ack and the server marking the message as re-delivered, which is why the user may need to increase the deadline. For reference, "But if the ack arrives at the server before the message has been redelivered (even if the pull request was issued earlier but has not yet completed), the ack will fail and this will result in

[2019-01-10 22:39] pongad commented on #3595
I honestly don't know. I have moved team and haven't used this in a while :/ It's OK to close this out for now if you'd like.

[2019-01-10 22:46] chingor13 commented on #3595
We standardized using synthtool across all our languages over any preexisting scripts.

[2019-01-10 22:46] #3595 closed

[2019-01-10 23:00] #4234 closed

[2019-01-11 00:44] javabrown commented on #4292
This seems to be an issue with GAPIC Generator for discovery-based [compute](https://www.googleapis.com/discovery/v1/apis/compute/alpha/rest) api:
Generated classes missing the json property mapping attribute e.g. `@Key('..')` or similar.

Here gapic-generator generates: `Allowed.java-->{String ipProtocol}` without annotation `@Key("IPProtocol")` or simillar.  Request with invalid property is caus

[2019-01-11 07:03] noxymon opened #4326 "Question : Catch Async Exception of Logging write()"
I'm using google cloud logging library version 1.58.0
when i call asynchronous logging write :
[code]
i got this exception

[code]
is it possible to catch this type of exception ? i need to put fallback mechanism of logging when google cloud logging can't be used.

[2019-01-11 14:21] andrey-qlogic commented on #3929
@mcantrell  , that is a good example, and I checked that the performance can be different between legacy client and the new API from google-cloud-java, but there is the reason why method **downloadTo** was added Blob.java  issue [#2107](https://github.com/googleapis/google-cloud-java/issues/2107)

The method uses new Channel API

https://github.com/googleapis/google-cloud-java/blob/2aa9d803ed532d9

[2019-01-11 15:54] ajaaym commented on #4326
you can use sync writes as below, then you can catch RuntimeException if that helps?
[code]

[2019-01-11 16:03] javabrown commented on #4320
This is similar issue as #4292, gapic java generation for discovery-based api's doesn't seems to be stable.

[2019-01-11 16:05] ajaaym commented on #3912
This is fixed in [628](https://github.com/googleapis/gax-java/pull/628). Will be available after new version of [gax-java](https://github.com/googleapis/gax-java) is released

[2019-01-11 16:05] #3912 closed

[2019-01-11 16:06] ajaaym commented on #3693
This is fixed in [628](https://github.com/googleapis/gax-java/pull/628). Will be available after new version of [gax-java](https://github.com/googleapis/gax-java) is released

[2019-01-11 16:06] #3693 closed

[2019-01-11 16:06] ajaaym commented on #3648
This is fixed in [628](https://github.com/googleapis/gax-java/pull/628). Will be available after new version of [gax-java](https://github.com/googleapis/gax-java) is released

[2019-01-11 16:06] #3648 closed

[2019-01-11 16:10] ajaaym commented on #4219
Closing this as it seems not an issue anymore. If this is still an issue please feel free to reopen with complete dependency tree.

[2019-01-11 16:10] #4219 closed

[2019-01-11 16:11] ajaaym commented on #4186
closing due to staleness. If this is still an issue, feel free to reopen with complete dependency tree.

[2019-01-11 16:11] #4186 closed

[2019-01-11 16:13] ajaaym commented on #2788
Closing this, since seems like regenerating new json works. Please feel free to reopen if need further help.

[2019-01-11 16:13] #2788 closed

[2019-01-11 17:22] ajaaym commented on #2688
Change to use grpc context for timeouts while creating session is done and released.

[2019-01-11 17:22] #2688 closed

[2019-01-11 18:24] ajaaym commented on #3371
closing this now. Please feel free to reopen.

[2019-01-11 18:24] #3371 closed

[2019-01-11 19:31] noxymon commented on #4326
yeah, this can could be a solution, but synchronous method, especially for google cloud logging actually is a rest request to google cloud server (which probable have latency), right ?

is it possible to have some futureCallbackListener to write() ?

[2019-01-11 19:58] andreamlin commented on #4320
Hi @o0lwj0o (what a username!), thanks a lot for filing this bug. Indeed this is a problem, and it should be easily fixed.

[2019-01-11 21:04] ajaaym commented on #3518
@LukeDefeo Here is another way to do this, put all msg thats part of batch in PublishRequest message and call the api directly.

[code]

[2019-01-11 21:49] ajaaym commented on #3551
This is fixed as part of #4289. Closing this issue. Please feel free to reopen.

[2019-01-11 21:49] #3551 closed

[2019-01-11 21:49] JustinBeckwith opened #4331 "Include a markdown CHANGELOG.md in the repo"
Today we have a `CHANGES.md`, but it looks like that isn't being kept up to date.  The changes recorded in /releases look great - it would be nice to have these in `CHANGLOG.md` like the other languages as well though.

[2019-01-11 21:55] #4320 closed

[2019-01-11 22:00] andreamlin commented on #4320
This fix will be available in the next release of google-cloud-compute.

[2019-01-11 22:09] andreamlin commented on #4292
Hey @javabrown thanks a lot for the very in-depth analysis of the problem! Looking into a solution.

[2019-01-11 23:54] frankyn commented on #4265
Hi all,

This is a bug in the GCS service and one the TL's is now aware of it.

I'm reopening this issue as it didn't resolve the underlying issue raised.

Internal bug: 122739863

[2019-01-12 02:53] nbali commented on #3740
There is literally no change in the related code, so how could it be resolved? It's obviously not.

[2019-01-12 02:54] nbali commented on #3740
@ajaaym There is literally no change in the related code, so how could it be resolved? It's obviously not.

[2019-01-12 13:08] skonx commented on #4296
anybody?

[2019-01-12 18:53] Qi77Qi commented on #4152
Hi @andrey-qlogic , thanks for fixing this. Do you know when the fix will be in a release?

[2019-01-14 10:39] cberez commented on #4219
Sorry didn't see the notification on your answer @charlesliqlogic

I'll check again and re-open if I still have issues

[2019-01-14 13:52] mcantrell commented on #3929
The approach is tied to the legacy client but from what I can tell, so is everything else. For instance, the Reader created for the downloadTo method uses the legacy client:

[code]

I'm not sure the code referenced is really meant to be implemented exactly as is. It was just an example to demonstrate that you don't need to issue so many service requests to achieve a resumable download.

[2019-01-14 15:21] andrey-qlogic commented on #4265
@frankyn
Nightly link says one test is failed
**testRotateFromCustomerEncryptionToKmsKeyWithCustomerEncryption**

https://source.cloud.google.com/results/invocations/fd413181-7414-4e8e-9d62-13cfd8fe7a7d/targets/cloud-devrel%2Fclient-libraries%2Fjava%2Fgoogle-cloud-java%2Fnightly%2Fstorage-it/log

which has to be is ignored

https://github.com/googleapis/google-cloud-java/blob/2aa9d803ed532d91a5f43

[2019-01-14 15:47] ajaaym commented on #3740
@nbali If you set logging level to CONFIG or above it does print all exception detail. Let me know if that helps otherwise I would reopen this issue again. Thanks.

[2019-01-14 18:47] nhartner commented on #3854
Why was this feature reverted in 0.76.0? It was a great idea.

[2019-01-14 18:58] andrey-qlogic commented on #3929
@mcantrell

The approach is tied to an obsolete client, but the performance of the new method downloadToPathWithMediaHttpDownloader
looks better than the other downloadTo method. I would suggest adding this approach to the user separately from another method. If it looks reasonable, then I will add also unit tests.

[2019-01-14 19:49] #4292 closed

[2019-01-14 19:50] andreamlin commented on #4292
This fix should be out in the next google-cloud-compute release.

[2019-01-14 21:54] gary0351 opened #4340 "Speech v1p1beta1 - java.lang.NoSuchMethodError: decodeBase64"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

Android app built with Android Studio using speech v1p1beta1 library crashes at startup on Android tablet running API 24 while trying to decode the JSON credentials file to pass to Google speech service. App works fine using speech v1 library.

#### Environment details

- OS: Android

[2019-01-14 21:59] ajaaym commented on #4296
@skonx

As described [here](https://github.com/netty/netty/issues/6891#issuecomment-453823354) below code properly shutdown the client.

[code]

[2019-01-15 01:42] gary0351 commented on #4340
Thanks. Will try it.

From: ajaaym
Sent: Monday, January 14, 2019 5:24 PM
To: googleapis/google-cloud-java
Cc: gary0351; Mention
Subject: Re: [googleapis/google-cloud-java] Speech v1p1beta1 -java.lang.NoSuchMethodError: decodeBase64 (#4340)

@gary0351 can you please remove dependency compile('com.google.api.grpc:grpc-google-cloud-speech-v1p1beta1:0.42.0') and use below code? You can switch the Spe

[2019-01-15 02:25] matanshukry opened #4341 "google-cloud-firestore - DocumentReference.update() sends entire document. Conflict with rules."
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS: Windows 10
- Java version: 1.8.0_191
- google-cloud-java version(s):
    implementation 'com.google.firebase:firebase-firestore:17.1.5'

#### Steps to reproduce

1. Create a collection in Firestore named "users".
2. Create a document named "doc1" under

[2019-01-15 07:49] andrey-qlogic commented on #4265
@frankyn , thanks for the explanation.

[2019-01-15 14:40] elharo commented on #3192
Checking now

[2019-01-15 14:54] skonx commented on #4296
firestore.close(); ✅
InternalThreadLocalMap.destroy(); ✅
Will test LockSupport.parkNanos(2_000_000_000); soon. I'm running on a java ee container... impossible to wait, it will be bypassed.

[2019-01-15 16:46] lmuhlha commented on #4205
Using the listener, is there an example of restarting the subscriber with some kind of exponential backoff to catch these types of issues?

Reading the doc string:
"* Called when the service transitions to the {@linkplain State#FAILED FAILED} state. The
     * {@linkplain State#FAILED FAILED} state is a terminal state in the transition diagram.
     * Therefore, if this method is called, no other

[2019-01-15 16:54] srosenberg commented on #3531
@ajaaym The aforementioned issue occurs when running on oracle's jre `1.8`.  Conceivably, the implementation (of `disconnect`) may have changed going from `1.8` to `1.9`?

[2019-01-15 17:01] ajaaym commented on #3850
@joaquinjsb can you please try below?

[code]

[2019-01-15 18:36] skonx commented on #4296
Same error using `LockSupport.parkNanos(2_000_000_000);` :

[2019-01-15 18:37] skonx commented on #4296
@ajaaym I'm also following and contributing to the specified thread.

[2019-01-15 20:05] ajaaym commented on #3531
@srosenberg just checked with 1.8, dont see disconnect actually closing underlying network connection. when disconnect is called http [here](http://hg.openjdk.java.net/jdk8/jdk8/jdk/annotate/484e16c0a040/src/share/classes/sun/net/www/protocol/http/HttpURLConnection.java#l2777) is always null which doesnt result in closing underlying network connection.

[2019-01-15 20:56] JesseLovelace commented on #3903
@beccasaurus FYI

[2019-01-15 21:05] srosenberg commented on #3534
@chingor13 We're only now revisiting this issue... what you suggested is not feasible (statically) because `HttpTransportOptions` has a `private` constructor,

https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-core-http/src/main/java/com/google/cloud/http/HttpTransportOptions.java#L123

@ajaaym could you please reopen the issue unless there is a less hac

[2019-01-15 21:34] srosenberg commented on #3531
@ajaaym Yes, this module is used for batched uploads into storage; each batch may take tens of seconds up to a small multiple of one minute (we throttle them).  I am fairly certain the (side)effect of `disconnect` is to shut down an existing socket; I verified this via `netstat` and `tcpdump` at the time.  I don't have a standalone repro. at this time but will put something together in the next da

[2019-01-15 21:42] mcantrell commented on #3929
I would suggest creating a method that is decoupled from java.nio.file.Path. I would assume that a lot of users (myself included) would not have a file to write to. For example, you may want to stream the data from the storage API to a browser via HTTP response.

e.g.

[code]
  or

[code]

[2019-01-15 22:58] nbali commented on #3740
It's not about workarounding and/or spamming the logs with debug logs. Of course it is possible with **extra** effort. The problem is that it swallows a 403 as default. It's fine for a 404, but for a 403? So not okay. Can't imagine a scenario where I would like to get a 403 completely hidden from me. I'm not talking about throwing the exception out - as that would brake the current behaviour -, bu

[2019-01-16 01:24] Qi77Qi opened #4347 "[Documentation] Pubsub emulator example code seems to use deprecated code"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

* https://github.com/googleapis/google-cloud-java/blob/master/TESTING.md#testing-code-that-uses-pubsub pubsub emulator code example provided here looks outdated. Is there more recent code example?

#### Any additional information below

Following these steps will guarantee the quickes

[2019-01-16 09:53] joaquinjsb commented on #3850
I'll update you as soon as I test it, thank you very much!

[2019-01-16 10:30] jontejj commented on #4162
We are seeing these as well, we are using version 1.5.0 of google-cloud-storage though. We are trying to write about 100 files at the same time.

[2019-01-16 10:32] jontejj commented on #4162
Funnily enough, we are also using java 11 :)

[2019-01-16 14:02] ajaaym commented on #3543
@Recognized if you have android SDK enabled for project it will detect that this is android. Can you please provide more detail what should be expected outcome?

[2019-01-16 15:49] jontejj commented on #4162
I was able to reproduce this on jdk 11 (but it seems to work on jdk 8)

Here's pseudo code for the test:
[code]

[2019-01-16 15:50] dhoard commented on #3854
@chingor13 Can you provide an insight as to why this was removed?

[2019-01-16 15:55] jontejj commented on #4162
I can't reproduce it with 1.59.0 of google-cloud-storage, so the bug seems to have been fixed.

[2019-01-16 16:12] sduskis commented on #3854
The pub/sub team has to approve this feature request.

[2019-01-16 16:13] sduskis commented on #3854
@jadekler and @kolea2, can you please discuss this issue with the pub/sub team?

[2019-01-16 16:45] gbougeard opened #4349 "BQ - ListTableData ignores schema and/or `row.get(field)` returns wrong field"
#### Environment details

- OS: MacOs + Linux
- Java version: >+ 1.8
- google-cloud-java version(s): 1.48 to 1.52 at least

#### Steps to reproduce

Since a few days we have a comportment change without having upgrade the google-cloud-bigquery lib (1.48 but I also reproduced with 1.52) :
The snippets is quite simple because it comes from the examples https://github.com/googleapis/google-cloud-java

[2019-01-16 16:55] kir-titievsky commented on #3479
@meltsufin Mike, can you explain why this is needed, given that the client library already batches acks?

[2019-01-16 17:00] ajaaym commented on #3531
@srosenberg by default connection cache cleaner thread clears the connection idle for more than 5 second. so when you send new request after 5 second it starts all over again. I was able to reproduce this behavior (with and without calling disconnect). see [here](https://github.com/frohoff/jdk8u-jdk/blob/master/src/share/classes/sun/net/www/http/KeepAliveCache.java#L122) keepAliveTimeout is return

[2019-01-16 17:04] meltsufin commented on #3479
I wasn't aware that there is batching happening for `AckReplyConsumer.ack()`.  In any case, we want to be able to pass ack IDs around and have a common abstraction for a message received via pull and async streaming. That abstraction should include an ack ID.

[2019-01-16 22:43] kolea2 commented on #4347
Hi @Qi77Qi, I believe the Pub/Sub emulator examples are up to date here: https://cloud.google.com/pubsub/docs/emulator. We can update that file to reflect this for future reference.

[2019-01-17 12:24] brachipa opened #4381 "All logs from GAE to StackDriver are missing severity"
I have springboot application that is deployed to GAE using custom environment.

The app.yaml
[code]
I see logs in StackDriver but without sevirty, all logs are in `any` sevirty.

[code]

I try log with java util:

[code]

and with logback
[code]

when using logback I define this in logback.xml
[code]

the versions I used:
[code]

* I use *JDK11*
* This *works* for same application deployed to GCE

[2019-01-17 13:15] brachipa commented on #4381
I found the issue, just, select in the drop-down logs `java.log` instead of `appengine.googleapis.com/stdout` and `appengine.googleapis.com/stdout` that was selected by default.
![screen shot 2019-01-17 at 15 14 24](https://user-images.githubusercontent.com/46258658/51321154-b3635d80-1a6a-11e9-9af8-6a2972ee0469.png)

[2019-01-17 13:15] #4381 closed

[2019-01-17 15:38] mcantrell commented on #3929
I suppose that another alternative to using the media downloader is to do something similar to the BlobReaderChannel. You can use this.storage.getOptions().getStorageRpcV1().read() to fetch the required bytes using the CountingOutputStream's offset and bytes remaining.

[2019-01-17 19:23] sduskis opened #4383 "Remove unused dependencies"
Running `mvn dependency:analyze` shows that there are a bunch of "Used undeclared dependencies found" and "Unused declared dependencies found".  This issue is to clean up the "Unused declared dependencies found"

[2019-01-17 19:24] sduskis opened #4384 "Remove warnings"
There are a bunch of deprecation warnings.  We should clean up a bunch of them in hand-crafted libraries, and work on fixing the generators for the generated libraries.

[2019-01-17 19:41] ajaaym commented on #4384
@sduskis yeah she will start on this.

[2019-01-17 20:50] CH3T commented on #3233
@gaurav-m I am seeing this similar issue, do you mean a wireless router?

[2019-01-17 21:20] hienle-hps commented on #2579
Sorry to resurrect an old thread, the [POJO to Map recommendation](https://github.com/googleapis/google-cloud-java/issues/2579#issuecomment-344772745) seems reasonable but leaves questions around de-serialization.

@schmidt-sebastian can you share any details from the internal discussions? Specifically regarding `CustomClassMapper` whose `BeanMapper` and `mapper` registry already seem suitable for

[2019-01-18 10:20] andrey-qlogic commented on #4188
@chingor13 , is there any update on this feature request?

[2019-01-18 14:35] andrey-qlogic commented on #3534
@srosenberg , what is new feature might be needed from the api: storage now by this feature request?

[2019-01-18 16:21] andrey-qlogic commented on #3929
the change to OutputStream is reasonable, but  building com.google.api.services.storage.Storage object from Blob may not be a good idea.

[2019-01-18 19:56] andreamlin commented on #4320
Update: this is now in master: https://github.com/googleapis/google-cloud-java/commit/f62e169b0fdb60a2cb1f427e6090f0496bfe8a50 and in the [0.78-alpha release](http://repo1.maven.org/maven2/com/google/cloud/google-cloud-clients/).

Thanks again for pointing this out @o0lwj0o !

[2019-01-18 19:59] andreamlin commented on #4292
Update: this is now in master: https://github.com/googleapis/google-cloud-java/commit/f62e169b0fdb60a2cb1f427e6090f0496bfe8a50#diff-e2683f91996fb75cec15f1e56e0ae9ac and in the [0.78-alpha release](http://repo1.maven.org/maven2/com/google/cloud/google-cloud-clients/).

Thanks again for all your help @sirhamster @javabrown !

[2019-01-21 13:42] cberez commented on #4219
Ok I juste tested with the 1.0.0 version and it now works, I can't reproduce the original problem

Thx for your input @charlesliqlogic !

[2019-01-23 01:07] dmichel1 opened #4398 "calls to metadataConfig getAttribute can hang"
https://github.com/googleapis/google-cloud-java/pull/4278 changed the hostname of the metadata service to be the FQDN. For whatever reason my companies internal dns resolvers actually return the the IP address of the metadata service.

From what I can gather the default timeout for `HttpURLConnection`[1] is forever which would explain why my service fails to startup when running locally.

This hap

[2019-01-23 15:35] ajaaym commented on #4398
@dmichel1 makes sense. PR would be good too.

[2019-01-23 16:03] kolea2 commented on #3854
The ack deadline is not intended as a way to delay delivery, but to signal that more time is needed to process a message. Delayed redelivery (and better control over redelivery semantics in general) is a useful feature and one we'd like to consider adding to the service, but we do not want to implement this feature just by overloading the meaning of ack deadline. This change will also need to be c

[2019-01-23 20:49] lbergelson opened #4403 "google-cloud-nio-jar shadow jar service providers are too shady"
#### Environment details

- OS: OSX  High Sierra
- Java version: 1.8
- google-cloud-java version(s): v0.77.0, v0.78.0

There's a new shading bug in the `google-cloud-nio-0.77.0-alpha-shaded.jar` which makes it unusable.

The changes in https://github.com/googleapis/google-cloud-java/pull/4305 fixed the shading of several service providers but accidentally shaded the `META-INF/services/java.nio.fil

[2019-01-23 22:55] jean-philippe-martin commented on #4403
I can confirm, I see this bug too.

[2019-01-24 00:09] jean-philippe-martin commented on #4403
It appears this is due to [bug 237 in the Maven shader plugin](https://issues.apache.org/jira/browse/MSHADE-237). I'll see if updating to a newer version fixes it and push the fix.

[2019-01-24 22:50] ajaaym commented on #4237
@darrenhaken There is no utility available to convert bigquery schema to avro schema, but you can do something like this.
[code]

[code]

[2019-01-24 23:52] #4403 closed

[2019-01-25 19:00] ajaaym commented on #3894
It seems resolved. Please reopen if needed.

[2019-01-25 19:00] #3894 closed

[2019-01-26 13:18] anjali2892 opened #4412 "Randomly Receiving com.google.cloud.storage.StorageException: Connection reset"
We randomly receiving com.google.cloud.storage.StorageException: Connection reset. in some requests when uploading and downloading file from google cloud storage.
Mainly this exception is coming:
1.  while fetching bucket instance
2.  while creating a new ACL entry on the specified blob.

- OS: Windows
- Java version: 8
- google-cloud-java version(s): 1.2.1,

#### Stacktrace
Caused by: com.google.

[2019-01-28 08:08] matti-cujo commented on #3735
The problem noted at https://github.com/JetBrains/teamcity-google-agent/issues/27#issuecomment-458021210 seems to be the same thing, but with `stopInstance`. The commonality is that both are POST requests with an empty request body. Presumably, in such a case, the underlying HTTP client doesn't set the `Content-Length` header at all whereas the server requires it.

[2019-01-28 12:51] lanastazia opened #4414 "Dependency conflict between guava versions of spark and google storage api"
Hello,

I’m deploying a Spark application, that has a dependency on the [ google storage java client](https://github.com/googleapis/google-cloud-java/tree/master/google-cloud-clients/google-cloud-storage), to list files in the bucket, and treat them one after another with Spark.

It seems that adding this dependency along with Spark causes a conflict with guava, and all my attempts to exclude cert

[2019-01-28 14:39] bobocu opened #4415 "Passing RSA wrapped CSEK not possible"
Using the google-cloud-storage api I've no possibilities to define that the passed AES265 Key is RSA Wrapped.

`
Storage.BlobWriteOption blobWriteOption = Storage.BlobWriteOption.encryptionKey(str);
Storage.BlobTargetOption blobTargetOption = Storage.BlobTargetOption.encryptionKey(str);
`
Using a RSA wrapped key causes a "Bad Request"

_ {
 "error": {
  "errors": [
   {
    "domain": "global",

[2019-01-28 16:24] dtretyakov opened #4416 "[Compute] Inconsistency while using ResourceName.of() helpers"
- google-cloud-java version: 0.79-alpha

#### Steps to reproduce

The recent changes linked to #3604 have caused that Compute SDK usage has become more complicated. Let take a look on the following examples.

#### Code snippet

Before:

[code]

After #3604 `ResourceName.toString()` methods does not append `projects/` prefix anymore and as result the previous code fragment fails with exceptions lik

[2019-01-28 16:30] dtretyakov commented on #4416
//cc andreamlin, ajaaym

[2019-01-28 21:51] andreamlin commented on #4416
Thanks for filing this issue @dtretyakov .
Looking at it.

[2019-01-28 21:56] lanastazia commented on #4414
Yes, I tried to exclude the older version of Guava evicted by the latest one, but it doesn't work.

[2019-01-29 00:01] andreamlin commented on #4416
Repro'd.
@dtretyakov also thanks for the proposed fix! I'll put that into the code generator.

[2019-01-29 19:47] ajaaym commented on #4414
@lanastazia please add spark.executor.userClassPathFirst=true and spark.driver.userClassPathFirst=true in properties as below.

![image](https://user-images.githubusercontent.com/34161822/51935786-b8ae9980-23d4-11e9-93d0-982715c11c18.png)

[2019-01-29 20:01] #4416 closed

[2019-01-29 20:34] andreamlin commented on #4416
Fix should be available in the next release.

[2019-01-29 20:47] andreamlin commented on #3735
ack.

Fix is probably just adding the content-length header to POST requests.

Thanks for triaging @matti-cujo

[2019-01-29 22:11] lanastazia commented on #4414
It works, thanks a lot !

[2019-01-29 22:11] #4414 closed

[2019-01-30 15:39] nurgasemetey commented on #2724
@talonx could you share details?

[2019-01-31 15:56] igor-bbm commented on #1657
Is there any ETA for this feature?

[2019-01-31 17:11] hzyi-google commented on #1657
Spanner Java library now supports async calls for creating and [updating databases](https://github.com/googleapis/google-cloud-java/blob/7fc4b3b2973faa23292b4f92f49ef1445d19934d/google-cloud-clients/google-cloud-spanner/src/main/java/com/google/cloud/spanner/DatabaseAdminClient.java#L103) and instances. There don't seem to be async methods for read and write.
cc/ @nithinsujir and @snehashah16 who

[2019-01-31 18:50] andrey-qlogic commented on #4415
@bobocu , thanks for the patience. RSA wrapped key is not supported at the moment.

[2019-01-31 19:16] #3735 closed

[2019-01-31 23:08] frankyn commented on #3929
I think that sounds like a better idea. Thanks for digging into @andrey-qlogic!

[2019-02-01 10:48] gremi64 opened #4423 "Batch mutations size"
Hi,
I'm currently using "batchWrite" and i was surprised to see that it's not currently possible to access the mutations_list's size. As it's limited to 500 mutations, we should be able to know the size :)

#### Environment details

- OS: W10
- Java version: 1.8_191
- google-cloud-java version(s): 0.79.0-beta

#### Steps to reproduce

N/A

#### Stacktrace

N/A

#### Code snippet

[code]

#### Exte

[2019-02-01 16:03] ajaaym commented on #4414
@elharo @saturnism FYI, another diamond dependency related to guava.

[2019-02-01 19:57] ajaaym commented on #4341
@matanshukry client only sends updated field but request.resource is the resource after update. Please see [here](https://stackoverflow.com/questions/52245118/how-does-resource-data-size-work-in-firestore-rules-what-is-being-counted?noredirect=1&lq=1)

[2019-02-01 21:31] matanshukry commented on #4341
@ajaaym - How can you check only the request then?
The idea is to verify that an update is only allowed on some specific fields.

[2019-02-02 09:00] matanshukry commented on #4341
@ajaaym - that's incorrect as far as I could see. data always had the same number of keys as the amount of fields in the resource. My updates do not add or remove fields, so I can't say if it was the amount of fields before or update the update (same amount).

[2019-02-02 22:57] #4055 closed

[2019-02-03 16:07] smallufo commented on #4019
I am facing the same problem with `io.grpc:grpc-protobuf:jar:1.18.0` , I am sure the whole mvn dependencies don't contain any old guava. But I finally found an groovy script which `@Grab` a guava v19 , which leads intelliJ to load the old guava and pops the error. The whole problem is invisible in the mvn dependency tree.

So , maybe you should check if you have any groovy scripts `Grabbing` old g

[2019-02-04 16:15] #3543 closed

[2019-02-04 16:18] #3884 closed

[2019-02-04 16:20] sduskis commented on #3683
This doesn't seem to be an issue for this repo, so I'm closing this issue.

[2019-02-04 16:20] #3683 closed

[2019-02-04 17:06] igorbernstein2 opened #4438 "Code style presubmits failing"
I think the kokoro code style presubmit has changed and considers the code in this repo problematic. To see what kokoro see run:

`mvn com.coveo:fmt-maven-plugin:2.8:check`

To update the code run:
`mvn com.coveo:fmt-maven-plugin:2.8:format`

But I think this needs to done in the synth scripts as well

[2019-02-04 17:12] #4438 closed

[2019-02-04 18:58] j256 commented on #3884
Thanks for the response @igorbernstein2 .  Sorry to not respond sooner.

I suspected as much.  We need more fine grained control over the outstanding messages so we block the client threads which seems to be working.  Thanks again.

[2019-02-04 21:42] stevenschlansker opened #4440 "Google Cloud components should not depend on `-android` versions"
Currently, the `google-cloud-logging-logback` component depends on Guava version `26.0-andriod`.  This is not appropriate for Google Cloud projects which are running on a full JDK in e.g. GKE.  The two different versions are not considered compatible by Maven and version checker plugins.

It looks like this issue was introduced in https://github.com/googleapis/google-cloud-java/pull/3980

#### Env

[2019-02-04 22:39] stevenschlansker commented on #4440
Additionally, the docs specify that Google Cloud components aren't even compatible with Android:

(https://cloud.google.com/logging/docs/setup/java)
so it's even stranger to depend on `26.0-android` version.

[2019-02-04 22:51] matanshukry commented on #4341
@ajaaym - correct me if it's wrong, but it's checking fields aren't added or removed, not updated.
I knew this solution is a possibility, but it's more complex when your fields aren't simple values. I have arrays and objects as fields. How do I check them too?

[2019-02-04 23:00] sduskis commented on #4440
We base our guava version based on [grpc](https://github.com/grpc/grpc-java/), which currently [uses](https://github.com/grpc/grpc-java/blob/master/build.gradle#L112) 26.0-android.

@ejona86, do you have any comments about the history of the selection of the guava version?

[2019-02-04 23:10] ajaaym commented on #4341
@matanshukry I just tested with array, maps and geopoint, it works fine.

[2019-02-04 23:34] sduskis commented on #4440
Would it make sense for us to exclude grpc's dependency on `-android` and use `-jre` instead?

[2019-02-04 23:36] sduskis commented on #4440
Oh... I see.  @andreamlin [commented](https://github.com/googleapis/google-cloud-java/pull/3980#issuecomment-460449373):

Our libraries need to support JDK 7, but the `-jre` version supports 8+ only.

[2019-02-04 23:36] ejona86 commented on #4440
The android version can be used for two things: 1) android support, 2) JDK 7 support. google-cloud-java supports JDK 7, so the -android version is required.

Note that Maven's output looks like what I'd expect. There's no bug here. It is complaining that the version was downgraded from 26.0-jre to 26.0-android (because 'j' in jre is greater than 'a' in android). So this is the same sort of error y

[2019-02-04 23:40] ejona86 commented on #4440
Wait a minute. That output does look strange. Why is Maven complaining? "Expected version is 26.0-jre" and "Resolved version is 26.0-jre"... so what's the issue?

@stevenschlansker, oh, you're using dependencyConvergence? Dependency Convergence adds pain for no benefit. I strongly recommend requireUpperBoundDeps instead. In any case when using dependencyConvergence these sorts of errors will crop

[2019-02-04 23:46] stevenschlansker commented on #4440
I understand that it can be resolved in each project by explicitly resolving the conflict -- however pushing this onto every downstream user is not great.  It's not quite the same as `25` vs `26` as both jars really are version `26`.  (Would `jdk` vs `android` be more appropriate as a `classifier`?)

I guess ideally Guava would be split into `guava-api` and then `guava-impl-jdk` and `guava-impl-an

[2019-02-04 23:54] matanshukry commented on #4341
well I can't verify that right now, but I'll take your word for it. I think we can close this then.

However, although possible, I do think this is kind of a 'hack'. That is, I can't really check if specific fields are being updated. I can only check ALL the fields I do NOT care about, are the same before and after the request.

I guess it should be a feature request though. Would you like me to o

[2019-02-05 00:33] ejona86 commented on #4440
`android` is a subset of the `jre` API (so no, `guava-api` wouldn't work), so it is correct that `android < jre`. I agree there can be problems in cases like `25.0-jre < 26.0-android`. But there's also not many alternatives (and no, classifier doesn't work).

Complaints about Guava's versioning system should be filed at https://github.com/google/guava and not here. It's already been made clear tha

[2019-02-05 16:34] talonx commented on #2724
@nurgasemetey It's been a while, so I don't recall the exact details, but we were not closing resources like SubscriptionAdminClient and TopicAdminClient. The PubSub Java API has also changed since then, so it's difficult to pinpoint the exact classes.

[2019-02-05 16:34] srosenberg commented on #3534
@ajaaym Recently, we had to also throttle downloads to minimize GC disturbances during (data) reload.  I was unable to find a clean way to do this via existing API.  Instead, the following workaround was implemented which suffers from using reflection (see second snippet) and extending `HttpURLConnection`.  Is it possible to provide a hook for intercepting `InputStream`?

[code]

[code]

[code]

[2019-02-05 17:32] sduskis commented on #4440
I don't think that we can do much on this repo.  I'm going to close this issue since there isn't anything actionable for this repo.  @ejona86 suggested alternative repos in which this investigation can proceed.

[2019-02-05 17:32] #4440 closed

[2019-02-05 18:09] ajaaym commented on #3534
@srosenberg Do you want to intercept inputstream or connection factory? For inputstream, do you mean by getting raw inputstream?

You can create transport factory like below without using reflection.

[code]

[2019-02-05 18:38] srosenberg commented on #3534
@ajaaym Thanks, somehow I missed the (availability of) factory; that solves the reflection hack.  The other remaining issue is having to extend `HttpURLConnection` in order to intercept `InputStream`,

[code]

[2019-02-05 18:45] srosenberg commented on #3531
@ajaaym I don't see how to override the default behavior.  Any suggestions? We have background threads that periodically upload logs into storage; they are scheduled to run every 5 minutes and take ~3 minutes on average to finish, hence ~2 minutes of idling.  We'd need to set `keepAliveTimeout` to ~5 minutes to reduce the number of hard disconnects.

[2019-02-05 19:15] ajaaym commented on #3531
@srosenberg there is no way to override this in jdk. Best bet here is to use [ApacheHttpTransport](https://github.com/googleapis/google-http-java-client/blob/master/google-http-client-apache/src/main/java/com/google/api/client/http/apache/ApacheHttpTransport.java).
Apache client keeps the connection open indefinitely if Keep-Alive header is not present in the response. which is the case here. Link

[2019-02-05 19:44] ajaaym commented on #3534
@srosenberg as of now you can use response [interceptor](https://github.com/googleapis/google-http-java-client/blob/master/google-http-client/src/main/java/com/google/api/client/http/HttpResponseInterceptor.java), but you have to use reflection to set the content after calling getContent(). You can create new feature request in that repo to allow overriding content in HttpResponse.

[2019-02-05 19:46] ajaaym commented on #4341
@matanshukry thats the change in service, best way is to create support ticket and follow up through that.

[2019-02-05 19:46] #4341 closed

[2019-02-05 20:09] ajaaym commented on #3871
@meltsufin Severity based flush is disabled by default until there is new flush method available which is work in progress. Can you try again with latest version without enabling severity based flushing?

[2019-02-06 07:42] zaddok commented on #3276
Yes the emulator appears extremely buggy. If you trigger 10 concurrent go functions, and have them each insert 100 records. The emulator will freeze 50% of the time.

(Our app calls web services and stores data, if the web service calls run concurrently, the emulator will break)

[2019-02-06 17:03] ajaaym commented on #3816
@dhoard-papajohns Application already has this information about projectId, topic and subscription. It can wrap the incoming PubsubMessage with this information rather than adding to PubsubMessage which is proto object, even if we add to PubsubMessage then this same information would be transferred over wire which is not efficient. So it makes sense for application to wrap PubSubMessage with other

[2019-02-06 18:07] dhoard commented on #3816
@ajaaym please close.  I agree, we do not want to change the proto object because of performance issues.

It's unfortunate that `PubsubMessage` is a proto object and wasn't abstracted / wrapped by another interface / object paradigm.

[2019-02-06 20:03] dhoard commented on #3852
As @ajaaym points out in https://github.com/googleapis/google-cloud-java/issues/3816 `PubsubMessage` is a proto object, so I don't believe this can be implemented.

[2019-02-06 20:17] #3816 closed

[2019-02-06 20:17] #3852 closed

[2019-02-07 00:51] frankyn commented on #4273
@andrey-qlogic I'm looking over what @PadrePadrone stated in their request.

Isn't this technically what #4273 is adding to the library, but instead hiding it from the developer?

@PadrePadrone could you comment if change #4273 will solve your issue?

[2019-02-07 13:56] #4347 closed

[2019-02-07 14:25] #3534 closed

[2019-02-07 16:47] #4273 closed

[2019-02-07 20:10] O1O1O1O opened #4466 "Conditional DELETE from a table with a DATE column fails"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS: N/A
- Java version: 1.8.0_162
- google-cloud-java version(s): google-cloud-spanner 0.57.0-beta

#### Steps to reproduce

1. Create table with schema including a DATE column eg.
[code]
2. Add some records.
3. Delete from the table with a `WHERE` clause e

[2019-02-08 13:32] sduskis commented on #4340
@gary0351 Can we close this issue?

[2019-02-08 13:57] gary0351 commented on #4340
yes

From: Solomon Duskis
Sent: Friday, February 8, 2019 8:32 AM
To: googleapis/google-cloud-java
Cc: gary0351; Mention
Subject: Re: [googleapis/google-cloud-java] Speech v1p1beta1 -java.lang.NoSuchMethodError: decodeBase64 (#4340)

@gary0351 Can we close this issue?
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-02-08 14:10] cloudvlk opened #4470 "bigtable: emulator does not return error when start row comes after stop row in scanner"
## Description
The BigTable emulator does not return an error when providing a start key that comes after the stop key in a scan. The emulator simply returns an empty result set. However, the real BigTable instance running in GCP does throw an exception in this case.

The following Junit test demonstrates such a scenario:
[code]

## Environment
Java 8, HBase API for BigTable, BigTable emulator.
[c

[2019-02-08 14:57] sduskis commented on #4470
@cloudvlk, this sounds like an emulator bug.

This is the problem from your code:

3 > 1.  Don't you want this?

[2019-02-08 15:11] #4423 closed

[2019-02-08 15:26] cloudvlk commented on #4470
Sorry for opening the issue in the wrong repository and thanks for making that clear.

To your question above: no, that is not what I want. I want to provoke the exception for start>stop, which is not thrown with the emulator. We expect the emulator to behave the same way the real instance does, including errors.

[2019-02-08 15:31] #4340 closed

[2019-02-08 15:36] igorbernstein2 commented on #4470
Closing this in favor of https://github.com/googleapis/google-cloud-java/issues/4470

[2019-02-08 15:36] #4470 closed

[2019-02-08 17:17] QuestionAndAnswer commented on #3567
I'm also seeing such behavior that @stetra faced, but now on node.js environment. Therefore it may be not related to exactly java implementation of the library.

Here is the link on the question on SO, in case if this might help.

https://stackoverflow.com/questions/54597310/google-cloud-pubsub-not-ack-messages

[2019-02-08 19:48] #4466 closed

[2019-02-08 23:11] ajaaym commented on #4162
closing this as it seems fixed.

[2019-02-08 23:11] #4162 closed

[2019-02-08 23:11] ajaaym commented on #4237
closing this issue. Please feel free to reopen if needed.

[2019-02-08 23:11] #4237 closed

[2019-02-08 23:13] #4398 closed

[2019-02-08 23:14] ajaaym commented on #4015
closing this due to staleness. Please feel free to reopen with more information.

[2019-02-08 23:14] #4015 closed

[2019-02-08 23:17] ajaaym commented on #3850
Closing this for now. Please reopen if this doesnt work.

[2019-02-08 23:17] #3850 closed

[2019-02-08 23:20] ajaaym commented on #3665
closing due to staleness. Please feel free to reopen with FINEST log

[2019-02-08 23:20] #3665 closed

[2019-02-08 23:35] O1O1O1O commented on #4466
Thanks for the rapid turn around on fixing this @sduskis 🥇

[2019-02-09 03:47] andreamlin opened #4475 "Reintroduce *-format methods to clients that now have ResourceNames"
APIs that introduce resource name message configurations to their GAPIC yaml will lose the `format-*` methods that format resource names. So as to not break clients, we have to reintroduce these methods.
APIs affected:
- [vision](https://github.com/googleapis/google-cloud-java/pull/4161)
- [iamcredentials](https://github.com/googleapis/google-cloud-java/pull/4430)
- [firestore](https://github.com/

[2019-02-09 03:56] andreamlin commented on #4475
cc @sduskis @chingor13

[2019-02-10 22:55] srosenberg commented on #3534
@ajaaym I am happy to create a new feature request for response interceptor in `google-http-java-client` so long that it makes it into this repo (via transitive dependency); we need it in conjunction with `google-cloud-storage`.

[2019-02-10 23:05] srosenberg commented on #3534
Issue created: https://github.com/googleapis/google-http-java-client/issues/586

[2019-02-11 10:10] georgespalding commented on #1639
Seeing that it was a year ago someone asked about this, I'd like to ask again:
We would like to use compression at the Pub/Sub level to avoid doing it at application level.

The pull request and this issue mentions nothing to motivate why it was reverted.
If there is a good reason for not allowing compression it would be nice to understand

[2019-02-11 15:35] lopezm94 opened #4478 "Can't connect to datastore emulator in cloudbuild"
I'm trying to run the datastore emulator inside cloudbuild but haven't got around a way to make my application connect to it.

This is my cloudbuild.yam file:

[code]

(If I don't use `http://`  before `ds` then I get invalid schema, it is only allowed on localhost)

This is the error I get when executing package tests:

[code]

[2019-02-11 15:38] dietervdw-spotify opened #4479 "No error handling / logging in MetadataConfig"
https://github.com/googleapis/google-cloud-java/blob/44db7693731df97d301be39001377ed9460b938c/google-cloud-clients/google-cloud-core/src/main/java/com/google/cloud/MetadataConfig.java#L83

Calls to metadata service can fail. This causes a NPE a little further.
This is a prime example of crappy error handling.

So now this is failing for some reason for me (while I can perfectly curl the service),

[2019-02-11 15:40] dietervdw-spotify commented on #4479
My issue actually seems to be caused by #4269 .

[2019-02-11 15:48] ajaaym commented on #4479
@dietervdw-spotify can you please provide sample of code where its failing for you?

[2019-02-11 15:54] ajaaym commented on #4478
@lopezm94 can you please try with ```'DATASTORE_EMULATOR_HOST=http://localhost:8082'```?

[2019-02-11 16:24] ajaaym commented on #3678
@zguth can you please try [apache http2 client](https://github.com/googleapis/google-http-java-client/tree/master/google-http-client-apache) and let us know if this is still an issue?

[2019-02-11 16:42] ajaaym commented on #4296
@skonx Closing this over here, since this is something related to netty and we can track there. Please feel free to reopen if you think otherwise.

[2019-02-11 16:42] #4296 closed

[2019-02-11 18:31] #4117 closed

[2019-02-12 07:04] Birdflying1005 opened #4481 "com.google.api.gax.rpc.InternalException: io.grpc.StatusRuntimeException: INTERNAL: Internal error encountered."
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS: Mac OS 10.11.2
- Java version: 1.8
- google-cloud-java version(s):
google-cloud-securitycenter-0.80.0-alpha

#### Steps to reproduce

1.
Code is from google official website.

https://cloud.google.com/security-command-center/docs/how-to-programmatic-acc

[2019-02-12 07:40] IljaKroonen commented on #3276
@chingor13 I have the exact same issue. As said above, this is not related to concurrent execution at all - it happens even when running with --jobs=1 and my tests don't even run concurrent queries against the datastore. In my case, each individual test creates its own local datastore.

[2019-02-12 08:27] pbzdyl opened #4482 "BigQuery LoadJobConfiguration doesn't respect destination dataset projectId"
- OS: MacOS Mojave
- Java version: 9.0.1
- google-cloud-java version(s): 1.62.0

#### Steps to reproduce

`gcloud auth application-default login` using an account from some `ProjectA` (`some-user@gsuite.domain` in the code below). That account has BigQuery admin role in `ProjectB` and no BigQuery permissions in `ProjectA`.

Running the code below where `ProjectB` is some arbitrary GCP project diff

[2019-02-12 09:55] dietervdw-spotify commented on #4479
@ajaaym This was happening on version `0.70.0-alpha`, it seems like that code path is now updated to handle the resulting `null` value.

However just swallowing errors is just bad. In my case apparently due to bug #4269 the `metadata`  hostname didn't resolve to the actual google metadata service.
In version `0.70.0-alpha` this caused an NPE, in the newer version this will just silently break anyt

[2019-02-12 10:17] lopezm94 commented on #4478
Made the changes but the same error is thrown

[code]

[2019-02-12 13:58] ajaaym commented on #4478
@lopezm94 can you please provide output for below in your machine? Also can you check if loopback is enabled and emulator is bound to localhost?

[code]

[2019-02-12 14:21] lopezm94 commented on #4478
I may not be understanding why you need this. It runs locally but it doesn't run when GCP executes the `cloudbuild.yaml` file. I have no control over that machine.

[2019-02-12 14:44] chrisribble commented on #3536
In case it helps anyone else: we just switched to gcr.io/distroless/java as our base image and it has most of the space benefits of Alpine (it's only 34MB larger) without the Musl incompatibility issues (since it uses glibc).

[2019-02-12 17:18] ajaaym commented on #4478
@lopezm94 emulator is only suppose to work in localhost.

[2019-02-12 17:21] ajaaym commented on #4482
@pbzdyl please set the project id to the id in which you want to run the job like below.

[code]

[2019-02-12 19:13] ajaaym commented on #4481
@Birdflying1005 whats resource/api is causing this error for you?

[2019-02-12 20:11] pbzdyl commented on #4482
It seems I misunderstood how the BigQuery Java API should be used. It seems that I need to configure the `BigQuery` service instance with the `projectId` where the calling account has proper API permissions (e.g. `ProjectA`) and `TableId`'s `projectId` might need to be specified if the specific job needs to access a table from a different GCP project than the BigQuery API project (e.g. a table sha

[2019-02-12 20:11] #4482 closed

[2019-02-12 20:18] elharo commented on #3192
It's still an issue. See here: https://github.com/GoogleCloudPlatform/cloud-opensource-java/pull/436/files

[2019-02-12 21:03] #3482 closed

[2019-02-12 22:38] dpcollins-google opened #4485 "Java subscriber throughput limited to 130,000 qps"
#### Environment details

- OS: Ubuntu
- Java version: 8
- google-cloud-java version(s): 1.62.0

#### Steps to reproduce

1. Run a publisher publishing with > 130,000 qps of 1kb sized messages
2. Run a subscriber doing minimal work in the callback other than incrementing an atomic counter

#### Code snippet

[code]

#### Any additional information below

I've been working to improve the Cloud Pub/

[2019-02-12 23:05] sduskis commented on #4485
@jadekler, @kolea2 FYI.

Let's discuss this offline.  Please include Kir in the conversation.

[2019-02-12 23:16] Birdflying1005 commented on #4481
@ajaaym Thanks your response.

[code]

I both tried Storage service and SecurityCenterClient,  Storage service works fine but SecurityCenterClient does not.

google-cloud-securitycenter  0.80.0-alpha

[2019-02-12 23:26] ajaaym commented on #4481
@Birdflying1005 please use organization number instead of name. I was able to reproduce this by using name instead of number. Document also says that it has to be organization number.

[code]
[code]

[2019-02-12 23:35] jadekler commented on #4485
:+1:

[2019-02-13 01:15] dpcollins-google commented on #4485
sure.  dpcollins@.  Put something on my calendar.

[2019-02-13 01:35] Birdflying1005 commented on #4481
@ajaaym

I tried organization ID instead of name. I got the error like this

[code]

And my servcice count json file is:
[code]

[2019-02-13 09:28] lopezm94 commented on #4478
@ajaaym @wsh Any idea if the emulator will be supported for docker containers in the future? Otherwise we can close this issue

[2019-02-13 16:22] ajaaym commented on #4481
@Birdflying1005 Did you followed quick start guide [here](https://cloud.google.com/security-command-center/docs/quickstart-scc) for proper setup?

[2019-02-13 16:29] ajaaym commented on #4478
@lopezm94 emulators are meant for local testing only than anything else. Closing this for now. Please feel free to reopen if you need further help.

[2019-02-13 16:29] #4478 closed

[2019-02-13 16:35] ajaaym commented on #4479
@dietervdw-spotify do you mean http://metadata.google.internal is not getting resolved in GCE/GKE? error is getting silently ignored to avoid printing noise when not running in GCE/GKE mode and http://metadata.google.internal should always get resolved from GCE/GKE.

[2019-02-13 16:40] pmakani commented on #4349
@gbougeard I am not able to reproduce this.

[2019-02-13 16:53] dietervdw-spotify commented on #4479
@ajaaym : In a previous version the metadata hostname was specified as `metadata` instead of `metadata.google.internal` and that failed to resolve on our GCE machines for some reason.

I personally don't agree with suppressing errors and I think it's bad practice. There's a lot that can go wrong on a network, and it would be great to have a trace afterwards if something breaks.

For example in the

[2019-02-14 01:26] wsh commented on #4478
@lopezm94 take a look at https://github.com/GoogleCloudPlatform/cloud-sdk-docker/issues/107. Does that help?

[2019-02-14 05:25] Birdflying1005 commented on #4481
@ajaay Thanks.
I did not get the sufficient permission before. And now it works.

[2019-02-14 05:25] #4481 closed

[2019-02-14 14:19] ajaaym commented on #4479
@dietervdw-spotify This can not be done bcz if logback is used outside GCE/GKE then it becomes reentrant and can not fail startup as well in that case. Closing this for now as upgrading to latest version resolves this. Please feel free to reopen if you think otherwise.

[2019-02-14 14:19] #4479 closed

[2019-02-14 16:09] sduskis opened #4492 "firestore.WatchTest is flaky"
`firestore.WatchTest.queryWatchDoesntReopenInactiveStream` seems to fail in a flaky way.

[2019-02-14 23:39] TJC opened #4500 "BigQuery timestamp parsing regression (are restrictive timestamp parsing changes intentional?)"
#### Environment details

- OS: Linux (Ubuntu Bionic and Alpine 3.8)
- Java version: 11.0.2 and 8.191.12
- google-cloud-java version(s): 1.62.0

#### Overview of issue

In commit fc8438b6a6ad8b1877b086b8fa1481994bf0a3bf the BigQuery date parsing format string was changed from
`yyyy-MM-dd HH:mm:ss.SSSSSSZZ` to
`yyyy-MM-dd HH:mm:ss.SSSSSSxxx`

This has broken backwards compatibility in two ways.

-

[2019-02-15 00:08] andreamlin opened #4501 "LRO for Compute"
Implement longrunning operations for the Compute client.

[2019-02-15 04:15] sduskis commented on #4500
Sorry about that.  We converted from Joda to threeten.bp, not just `yyyy-MM-dd HH:mm:ss.SSSSSSZZ` to
`yyyy-MM-dd HH:mm:ss.SSSSSSxxx`. It looks like we needed more unit tests before the conversion.

I'll see if I can figure out how to make threeten behave more like joda (although any help would be greatly appreciated).

[2019-02-15 04:28] sduskis commented on #4500
@ajaaym, help would be appreciated.

[2019-02-15 09:55] andrey-qlogic commented on #3929
The PR makes performance the same as legacy client
https://github.com/googleapis/google-cloud-java/pull/4337

[2019-02-15 13:44] sduskis commented on #4475
@andreamlin, can we close this issue?

[2019-02-15 14:19] gbougeard commented on #4349
Hi @pmakani I opened a support ticket to the BQ team and they were able to reproduce it.
In the mean time it seems solved (at least yesterday we were not able to reproduce the issue)

[2019-02-15 14:29] ajaaym commented on #4500
@sduskis working on this.

[2019-02-15 16:50] mtso opened #4504 "google-cloud-datastore Add `more_results` value to query results"
Please return the `MoreResults` query state value in query results. The end cursor to the next set of results will often return an empty result set, so this value could be used to determine whether or not the next page should be fetched and checked for pagination (and thus confidently return an empty next cursor if the next page is indeed empty as well). The QueryResultImpl only checks if the stat

[2019-02-15 19:49] andreamlin commented on #4475
Yay!

I'll open another issue that follows up to this to add documentation or code changes that would prevent this from happening in the future hopefully.

[2019-02-15 19:49] #4475 closed

[2019-02-17 02:02] dpcollins-google commented on #3854
nhartner@, if you simply stop extending the ack deadline, the Cloud Pub/Sub service will likely resend the exact same message back to you instantaneously once the most recent period expires.  This means it will be sent back to you in 30 seconds (or whatever your configured ack extensions period is) instead of .5 seconds when you nack it.  If you want to implement a per-message exponential backoff

[2019-02-17 02:27] dhoard commented on #3854
@dpcollins-google I used the term `abandon()` but in reality it's an async delayed `nack()`.  I understand that this can be implemented by a developer ... but it seems like such a common pattern that it should be in the API proper.

For example ... given a `Subscriber` with a max ack extension period of 1 hour ...

[code]

[2019-02-17 02:36] dpcollins-google commented on #3854
@dhoard Whether this is a common pattern is kind of orthogonal to the question of whether this is something that should be handled by pubsub.  If you want to retry after 10 minutes, every 10 minutes, thats fine if that is the correct backoff strategy for whatever service that might fail that you're interacting with.  I'd argue that that backoff strategy should be part of the client library for the

[2019-02-17 03:27] dhoard commented on #3854
@dpcollins-google your points are valid.

@sduskis given the discussion above, I have no problem with closing this issue.

---

For any possibly subscribers on the issue, something like the code below (not tested) could be used in your application to perform a simple delayed `nack()`

[code]

---

`AckReplyConsumerUtils` usage example ...

[code]

[2019-02-17 05:04] kamalaboulhosn commented on #3854
Please note that @kolea2's response is still correct. We do agree this is a useful feature, but would want to ensure the service supports it natively rather than just using modify ack deadline for it. Delaying the nack on a message may have unintended consequences if flow control limits are set. These messages will count toward the outstanding messages and so more messages will not be delivered if

[2019-02-17 08:23] xianzhez commented on #4340
@gary0351 So...how did you fix this issue? Met the same problem and spent tons of time. Thanks in advance!

[2019-02-17 11:40] gary0351 commented on #4340
Unfortunately I ran into issues resolving other parts of the code with the patch and decided to postpone using the experimental library. I am using the existing library to do what I want for now.

I thought I might spend lots of time going down a rabbit hole. I spent many hours trying to track down the original issue and didn’t want to do more work to end up where I started.

From: xianzhez
Sent:

[2019-02-17 18:05] nhartner commented on #3854
@dhoard thanks for the suggested workaround. I'll be interested to play around with this. I suspect 100 threads is overkill since tasks are internally put in a queue by ScheduledThreadPoolExecutor and don't tie up a thread until they are ready to processed.

[2019-02-18 08:47] balaji2712 opened #4513 "DEADLINE_EXCEEDED: deadline exceeded after 59999410667ns"
Hi,

We have Google cloud client java program to retrieve messages from Google pub sub topic. This program is being executed from a controlled environment behind a firewall.

When the program was first executed, we got UnknownhostException:pubsub.googleapis.com: Temporary failure in name resolution. Post to which firewall was configured to allows connections to pubsub.googleapis.com:443, www.googl

[2019-02-18 14:42] ajaaym commented on #4513
@balaji2712 You need to allow range of IP addresses. You can use various utilities depending on os to query for all IP for pubsub.googleapis.com and allow all that ip as of now it resolves to below ip address.

[code]

[2019-02-18 17:52] #4349 closed

[2019-02-19 05:34] balaji2712 commented on #4513
@ajaaym - Thanks. Will try it out.

[2019-02-19 14:40] salrashid123 commented on #2462
The two PR's cited in https://github.com/googleapis/google-cloud-java/issues/2462#issuecomment-332474754  don't cover managing a resumeable upload entirely from the client (which is what this git issue is about).  Those PRs seem to cover creating and sending a one-time transfer.

[2019-02-19 20:41] #3589 closed

[2019-02-20 14:57] #4500 closed

[2019-02-20 20:11] JesseLovelace opened #4522 "Google Cloud Java doesn't provide proper batch endpoints"
[BatchRequest](https://github.com/googleapis/google-api-java-client/blob/2079c4c371c05c9a4c12ca1e4dda91ccbf3bb4c9/google-api-client/src/main/java/com/google/api/client/googleapis/batch/BatchRequest.java) points by default to the global batch endpoint, http://www.googleapis.com/batch. However, this endpoint is considered legacy and will stop working on March 25th. Instead users are supposed to use

[2019-02-20 21:35] sduskis commented on #4522
First, I think we need information about the `batchPath` (see here as an example: https://www.googleapis.com/discovery/v1/apis/compute/v1/rest), somewhere meaningful.  After that we can do some inference in `BatchRequest`.

@ajaaym, FYI

[2019-02-21 09:19] k8r3l opened #4530 "Google Cloud Storage removeBucketIamMember() not executing"
I implemented a `revoke access` function with the help of the snippet below. Everything runs fine, no exceptions are thrown and the function prints out that the identity has been removed. However, when I look at the Permissions page in my bucket, the user is still defined.

#### Environment details

- OS: macOS 10.14.3
- Java version: 8
- google-cloud-java version(s): google-cloud-storage; version

[2019-02-21 10:20] gcaguilar opened #4531 "Exception java.lang.NoSuchMethodError: decodeBase64 in Android devices with API < 28"
Hi,
We have found that the library is throwing an exception in any Android device with and API < 28 (Android 9.0) after version `0.70.0-beta`. The problem is related with [this issue](https://issuetracker.google.com/issues/37033030). As far as we know, [Apache common codec library](http://commons.apache.org/proper/commons-codec/) dependency version is 1.10 in this project, but Android in versions

[2019-02-21 15:39] #4504 closed

[2019-02-21 16:33] sduskis commented on #4531
@gcaguilar, I created https://github.com/googleapis/google-http-java-client/issues/603 which is in the repository where the fix has to be made; it's where `com.google.api.client.util.Base64` lives.

[2019-02-21 17:27] ajaaym commented on #4522
@JesseLovelace @sduskis This is already being inferred based on discovery document in generated old service based client.
For new gax based compute client this batch functionality doesn't exists yet.

[2019-02-21 17:45] saturnism opened #4535 "Bump Stackdriver Trace V1 proto to 1.x"
Stackdriver Trace V1 API has been GA'ed for a while. However, the proto and stubs are still 0.x.

[2019-02-21 18:18] #4319 closed

[2019-02-21 19:26] sduskis commented on #3535
If I read this issue correctly, this seems like "working as intended".   The user / service account used by the application needs to have access to the project resources being accessed.  In this case, it sounds like the permissions of the user being used didn't align properly with the code.

There is an effort to move away from the implicit permissions, but that's going to take some time.  I don't

[2019-02-21 19:26] #3535 closed

[2019-02-21 19:28] sduskis commented on #4513
I believe that you can use a proxy.
see https://github.com/googleapis/google-cloud-java/issues/2775
and  https://medium.com/google-cloud/accessing-google-cloud-apis-though-a-proxy-fe46658b5f2a

[2019-02-21 23:16] charbull commented on #2496
Any luck with this?

[2019-02-21 23:29] charbull opened #4537 "java.lang.NoClassDefFoundError: com/google/api/gax/rpc/HeaderProvider"
Hello,

I am trying to use your example with a spring application but keep getting the following error:

java.lang.NoClassDefFoundError: com/google/api/gax/rpc/HeaderProvider

#### Environment details

- OS: mac os
- Java version: 8
- google-cloud-java version(s): 1.63.0

#### Steps to reproduce
public static void init() throws FileNotFoundException, IOException {

		ClassLoader classLoader = Fire

[2019-02-22 03:06] sduskis commented on #4537
@meltsufin, FYI

[2019-02-22 03:08] sduskis commented on #4531
I tagged this issue as a "question", even though it's technically a bug since it's not actionable in this repo

[2019-02-22 10:05] waldemarmeier opened #4542 "Cannot access training phrases"
I cannot access the training phrases of an intent using the dialogflow client. Please, follow along this example in order to reproduce this behavior.

#### Environment details

- OS: Windows 10 Enterprise
- Java version:  8
- google-cloud-java version(s): 0.81.0-alpha and 0.80.0-alpha

#### Steps to reproduce

1. Create a dialogflow agent
2. Create a google cloud service account with appropriate a

[2019-02-22 15:19] meltsufin commented on #4537
@sduskis Why did cc me on this?
In any case, this part in the stack trace seems interesting:
[code]
What is this `FirebaseHandler`?

[2019-02-22 16:27] shashank-g172 opened #4543 "Internal Error encountered while attempting to create K8s cluster"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

Problem: I'm attempting to write a utility that will let me create and tear down K8s clusters on-demand.

Issue: I created service account credentials for my GCP account and saved them in a JSON file. I'm referencing that file for the  environment variable GOOGLE_APPLICATION_CREDENTIA

[2019-02-22 17:55] sduskis commented on #4513
@ejona86, what's the preferred grpc solution to accessing grpc services across a firewall?

[2019-02-22 18:06] sduskis commented on #4543
Do you have any more of the the stack trace? It's not clear where the `io.grpc.StatusRuntimeException: INTERNAL: Internal error encountered.` occurred.

[2019-02-22 21:25] sduskis commented on #4537
@meltsufin, this phrase "I am trying to use your example with a spring application"

[2019-02-22 21:27] sduskis commented on #4537
@charbull, NoClassDefFoundError happen when dependencies are mismatched. Can you please list your dependencies? (maven and gradle both have ways of showing how dependencies are resolved)

[2019-02-22 21:50] meltsufin commented on #4537
@charbull So, yeah, if you're interested, there is Cloud Storage support in Spring Cloud GCP. See: https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-samples/spring-cloud-gcp-storage-resource-sample

[2019-02-23 13:51] charbull commented on #4537
@meltsufin thank you for the pointers. I will check it out.

I eventually tried this [here](https://github.com/google/google-api-java-client-samples/blob/master/storage-cmdline-sample/src/main/java/com/google/api/services/samples/storage/examples/ObjectsGetMetadataExample.java)

@sduskis My code sample and maven dependencies are [here](https://github.com/charbull/hawkbit-examples/blob/master/hawkb

[2019-02-23 15:46] shashank-g172 commented on #4543
It looks like there;s a suppressed Asynchronous task failing:

Exception in thread "main" com.google.api.gax.rpc.InternalException: io.grpc.StatusRuntimeException: INTERNAL: Internal error encountered.
	at com.google.api.gax.rpc.ApiExceptionFactory.createException(ApiExceptionFactory.java:67)
	at com.google.api.gax.grpc.GrpcApiExceptionFactory.create(GrpcApiExceptionFactory.java:72)
	at com.google

[2019-02-25 07:25] ayushj158 opened #4556 "Stackdriver Java integration throwing - LoggingException: io.grpc.StatusRuntimeException: UNAVAILABLE: HTTP/2 error code: NO_ERROR Received Goaway"
We are using Cloud logging java integration. Our application is not hosted on google cloud but sends logs to stack driver and also has monitoring alerts there.

Intermittently we are seeing below exception logs in stack trace. At times application is able to recover from it and sometimes it is not and no more logs are sent to stackdriver .

We cannot afford such situation in our production system,

[2019-02-25 09:26] zulkifal opened #4557 "GCS URL signing takes longer for GCE instances not based in US"
#### Environment details

- google-cloud-java/google-cloud-clients/google-cloud-storage/ version(s): 1.62.0

#### Steps to reproduce

1. Create a signed URL from a GCE instance, using default service account,  in us-central1
2. Create a signed URL from a GCE instance, using default service account, in asia-east2 - Takes 4-5X longer
3. Create a signed URL from a GCE instance, using default service

[2019-02-25 14:55] ajaaym commented on #4556
@ayushj158 can you please set log level to FINEST and share the log as well as your sample code?

[2019-02-25 15:01] #3930 closed

[2019-02-25 15:30] ejona86 commented on #4513
The general approach is "Do the same thing that you would do with HTTPS," like for REST.

[2019-02-25 15:38] ajaaym commented on #4543
@shashank-g172 I just tried your example and it works fine. Can you please set the log level to FINEST and send the log file? Also can you make sure your service account has proper permission?

[2019-02-25 18:30] Xeli opened #4558 "SubscriberStub awaitTerminate() returns before all threads are closed"
Hello!

#### Issue
I run into a problem when using `shutdown()` and `awaitTermination()` of a SubscriberStub. When `awaitTermination()` returns not every grpc thread has actually finished.

I need a way to know when the subscriber and all background threads are actually finised. This is needed because the Apache Flink cluster it is running on will remove classes and if anything is still running th

[2019-02-25 18:47] ajaaym commented on #4558
@Xeli grpc uses shared event loop if not specified to be used by any number of client. On awaitTermination of client it schedules the destroyer thread which destroys the event loop if no new client is created or exists with in that time. so to make sure that shared resources are destroyed please wait for 3-5 second after calling awaitTermination to remove all grpc threads.

[2019-02-25 18:54] Xeli commented on #4558
@ajaaym thanks for the quick response. Is there another way besides waiting a few seconds?

I would prefer a more robust check to be sure everything is gone.

[2019-02-25 19:03] ajaaym commented on #4558
@Xeli Unfortunately there is no robust way unless you provide your own TransportChannelProvider. In that case you can create channel builder using NettyChannelBuilder and provide your own event loop which you can shutdown. If you want to go that route I can send you full working sample.

[2019-02-25 19:06] Xeli commented on #4558
@ajaaym That is too bad. I would appreciate it if you could point me to a working sample!

[2019-02-25 19:43] ajaaym commented on #4558
@Xeli please use below code.

[code]

[2019-02-25 23:25] keviocastro opened #4561 "Stackdriver Error Reporting API has not been used in project"
#### Environment details

- OS: Ubuntu 18.04
- Java version: jdk1.7.0_80
- google-cloud-java version(s): 0.81.0-beta

#### Steps to reproduce

1. Install google cloud sdk
2. Initialized account with google SDK: gcloud init
3. Enabled google-cloud-errorreporting api: gcloud services enable clouderrorreporting.googleapis.com
4. Run this example: https://github.com/GoogleCloudPlatform/java-docs-sampl

[2019-02-25 23:27] ajaaym commented on #4537
@charbull I dont see below dependency in your pom file. Also looks like code is changed too. Dont find this class or code related to storage.

[code]

[2019-02-25 23:30] ajaaym commented on #4561
@keviocastro  What do you see when you go [here](https://console.developers.google.com/apis/api/clouderrorreporting.googleapis.com/overview?project=563584335869) Is it showing enabled?

[2019-02-25 23:35] keviocastro commented on #4561
display error

![captura de tela de 2019-02-25 20-34-47](https://user-images.githubusercontent.com/1850270/53376371-d40db580-393c-11e9-80ca-fb485eef4749.png)

[2019-02-26 06:41] ayushj158 commented on #4556
@ajaaym Since the issues occurs intermittently i cannot provide fine level logs at this moment.

As for code...we are simply using SL4J logger and log the same details to stack driver  . The appender takes care of logging the details.
[code]

##### Appender

[code]

[2019-02-26 13:38] sduskis commented on #4561
Unfortunately, there's very little we can do in this repository.  Please visit https://cloud.google.com/stackdriver/docs/getting-support to get help from the Stackdriver team.

[2019-02-26 13:38] #4561 closed

[2019-02-26 13:42] ajaaym commented on #4556
@ayushj158 If its intermittent you can enable retry setting for INTERNAL as below. Also it would be costly operation to create client with every request.
[code]

[2019-02-26 16:31] suztomo opened #4579 "Upgrade google-api-client version from 1.27.0 to 1.28.0"
Thanks for stopping by to let us know something could be better!

Please include as much information as possible:

#### Environment details

- OS: Linux
- Java version: Java 8
- google-cloud-java version(s): 1.63.0

#### Steps to reproduce

1. ?
2. ?

#### Stacktrace

[code]

#### Code snippet

[code]

[code]

#### External references such as API reference guides used

- ?

#### Any additional inf

[2019-02-26 17:24] elharo commented on #4579
Not sure, but I think google-cloud-java now depends on 1.28.0 and that's the cause of the issue. We either need to upgrade everything else or downgrade google-cloud-java to 1.2.7.0.

[2019-02-26 18:55] Xeli commented on #4558
Thank you for this @ajaaym

I am running into a problem when providing an EventLoopGroup. Locally (osx machine) it works fine when I am using DefaultEventLoopGroup.

But if I run the code on the Google Cloud Platform (kubernetes) it fails with the exception:

    Caused by: java.lang.IllegalStateException: incompatible event loop type:
    io.grpc.netty.shaded.io.netty.channel.DefaultEventLoop
	at

[2019-02-26 19:17] ajaaym commented on #4558
@Xeli can you try to use  NioEventLoopGroup or EpollEventLoopGroup instead of Default? GRPC uses NioSocketChannel by default. Not sure why it worked on mac. I also tried on mac only.

[2019-02-26 20:39] sduskis commented on #4579
I would suggest an explicit import on `com.google.http-client:google-http-client-parent` if you're using a class from that artifact.  We reduced the dependencies on `google-cloud-java` to only depend on artifacts that we use explicitly.

Also, I would suggest that you upgrade your dependency on `com.google.api-client:google-api-client`

[2019-02-26 20:40] sduskis commented on #4557
@frankyn, any ideas would be greatly appreciated.

[2019-02-26 20:58] Xeli commented on #4558
Yes this works perfectly! Thank you so much for your help @ajaaym

[2019-02-26 21:12] sduskis commented on #4579
@elharo and I are meeting on this.  It looks like

[2019-02-26 21:22] elharo opened #4580 "Depend on google-http-java-client BOM"
Instead of versions directly.

[2019-02-27 08:35] zulkifal commented on #4557
Could we use IAMCredentials[1] from googleapis/google-api-java-client-services[2] or is it better to patch ComputeEngineCredentials[3] in googleapis/google-auth-library-java[4]?

[1] - https://github.com/googleapis/google-api-java-client-services/blob/master/clients/1.28.0/google-api-services-iamcredentials/v1/com/google/api/services/iamcredentials/v1/IAMCredentials.java#L40
[2] - https://github.c

[2019-02-27 12:38] #4558 closed

[2019-02-27 16:27] jaketf opened #4582 "Load jobs should include useAvroLogicalTypes option"
#### Environment details

- OS:
- Java version:1.8.x
- google-cloud-java version(s):

#### Steps to reproduce

1. `bq load` cli provides `--use_avro_logical_types`
2. `LoadJobConfiguration.java` does not expose this option.

#### External references such as API reference guides used

- https://cloud.google.com/bigquery/docs/reference/bq-cli-reference#bq_load

#### Any additional information below

[2019-02-27 18:09] dclements opened #4583 "Documentation is incorrect/confusing for Timestamp.parseTimestamp"
The code currently in master is:

[code]

But if we look at the code for `org.threeten.bp.Instant.parse`:

[code]

This implies to me that per the Google Cloud `Timestamp` documentation the following should work:

`Timestamp.parseTimestamp("2019-01-23T12:30:00")`

But it generates:

[code]

It also would imply to me that the following _shouldn't_ work:

`Timestamp.parseTimestamp("2019-01-23T12:30:

[2019-02-27 20:07] shashank-g172 commented on #4543
I think I'll need to assign the Kubernetes container admin and the container clusterAdmin roles to the service account following this document: https://cloud.google.com/iam/docs/understanding-roles#kubernetes-engine-roles.

Do I have that right?

I'll reply once I have the roles set up. Hopefully it's just the roles.

[2019-02-28 02:04] vineela-gampa opened #4585 "Spanner performance questions/concerns"
Thanks for stopping by to let us know something could be better!

1) Using array(Structs)
we want to hear your inputs on is using array efficient for high perofrmance vs regular query ?
Recently i heard that array(struct) shouldnt be used and its memory intensive. Can you confirm ?In our scenario there is parent with <10 child objects. We are touching only 2 tables at any point of time.

2)Tuning

[2019-02-28 10:29] rexhuynh commented on #2276
We are using gem 'google-cloud-vision' and facing this issue as well. Please update the library

[2019-02-28 13:21] shashank-g172 commented on #4543
I added all the roles to the service account, and I'm still seeing the same error. I even created a new JSON key, enabled the APIs and passed that file as the GOOGLE_APPLICATION_CREDENTIALS environment variable to my program.

Is there anything that I've described that doesn't match up to the way you have your program set up which ran with no issues?

[2019-02-28 13:25] andrey-qlogic commented on #4530
@k8r3l Can you probide a code shipped that you using. Did you check your role with getBindings().get(role) call ?

[2019-02-28 16:51] sduskis commented on #4585
@crwilcox, @snehashah16, any help would be welcome on this question.

[2019-02-28 16:52] sduskis commented on #4583
@pmakani, can you please take a look at this?

[2019-02-28 17:37] crwilcox commented on #4585
Hi @vineela-gampa. Thanks for reaching out. If you could file a support ticket at https://cloud.google.com/support/ I think that would provide a better venue to work through issues you are having with your specific deployment/implementation issues.

Also, you reference that you have heard advice on how to best use spanner. Would you mind sharing any links, videos, etc that lead you to this?

Thank

[2019-02-28 17:47] pmakani commented on #4583
@sduskis working on this.

[2019-02-28 21:05] TheCycoONE opened #4595 "TextToSpeech: RESOURCE_EXAUSTED: gRPC message exceeds maximum size"
#### Environment details

2. OS type and version: macOS 10.14.3
3. Java version: 1.8.152
4. google-cloud-java version(s): google-cloud-texttospeech 0.80.0-beta

#### Steps to reproduce

  1. Run the below code sample. With a short messsage it doesn't happen.

#### Code example

[code]

#### Stack trace
[code]

#### Any additional information below

Works well when the message is short; but that me

[2019-02-28 22:06] #4580 closed

[2019-02-28 22:09] ajaaym commented on #4595
@TheCycoONE please build the client with below settings.

[code]

[2019-03-01 03:53] vineela-gampa commented on #4585
Hi @crwilcox its an advice from another team. There is no online source that validate that behaviour hence i reached out to you.

[2019-03-01 09:59] k8r3l commented on #4530
@andrey-qlogic
I checked with the `getBindings().get(role)` call and discovered it was `null`.

After some looking around, I discovered that I pass the value `Role.of("objectViewer")` as Role which is not the same as the `Role: roles/storage.objectViewer`.

It now works like a charm. Much appreciated for the help!!!

[2019-03-01 09:59] #4530 closed

[2019-03-01 11:22] charbull commented on #4537
Thank you, I updated it seems to be working

[2019-03-01 11:22] #4537 closed

[2019-03-01 16:10] YashchenkoN commented on #493
hey, any plans to make async API for Datastore?

[2019-03-01 17:55] TheCycoONE commented on #4595
@ajaaym Thank you, that addresses it, as does choosing MP3 instead of linear PCM wav. Do you think there is anything actionable? (Documentation or defaults?)

[2019-03-01 18:01] #4522 closed

[2019-03-01 18:26] #4582 closed

[2019-03-01 18:29] sduskis commented on #4595
Please leave this issue open. We need to update these settings by default rather than ask for user changes.

[2019-03-04 13:51] techodepot commented on #2668
@pongad Can we reopen this. We are consistently experiencing this issue.

```io.grpc.internal.AbstractClientStream : Received data on closed stream```

We are trying to pull at a rate of 50 messages per second and we process all messages in approximately 20ms. We are seeing a pile up of undelivered messages and our stackdriver pull rate is only showing 0.015 per second

[2019-03-05 11:57] ayushj158 commented on #4556
@ajaaym That's informative to have an error retry , what i am trying to understand the root cause of the problem..... with the available information is it possible to shed some light on the root cause of this ?

[2019-03-05 14:17] ajaaym commented on #2668
@techodepot can you please create new issue with full repro?

[2019-03-05 14:21] ajaaym commented on #4556
@ayushj158 GOAWAY is part of standard http2 protocol and can happen for various reason which is a transient failure and this is common in network based applications. Thats why retries are part of core framework and used to protect against transient failure like this. Most of client library has retries enabled for transient failure like this by default. Probably that will happen with this library t

[2019-03-05 20:55] frankyn commented on #4557
@sduskis I'm not sure what may be happening here. I'll sent an email internally to the Cloud IAM team and will report back with any findings.

[2019-03-05 21:30] agolomoodysaada opened #4627 "PubSub: Add undelivered messages metric"
**Is your feature request related to a problem? Please describe.**
I would like to access the number of undelivered messages metric directly from the client library. Currently it's only available via Stackdriver monitoring.

 **Describe the solution you'd like**
It seems like there are already some client metrics available below. Perhaps that's a good place to add the undelivered messages metric.

[2019-03-05 22:28] frankyn commented on #4557
@zulkifal and @sduskis I synced with the IAM team over email. The IAM SignBlob API has the limitation raised by this bug, being that the service is only available in the "US". On the otherhand IAMCredentials SignBlob API doesn't have this limitation and should serve "asia-east2" and "europe-west1".

The recommendation is to use IAMCredentials. I think in this case it'd be better to update ComputeE

[2019-03-05 22:46] sduskis commented on #4627
Are you looking for the information for just a single client?

[2019-03-06 03:24] zulkifal commented on #4557
Generally public docs mention if an API is in Beta. There seems to be no such warning in this instance: https://cloud.google.com/iam/credentials/reference/rest/v1/projects.serviceAccounts/signBlob

[2019-03-06 05:15] ayushj158 opened #4628 "Should Publisher be shudown everytime ?"
I have multiple scheduler which synchronize different kinds of data to different topics every 1 min.
Since my scheduler runs every 1 min either i have to either create an publisher on each invocation(and shutdown) of scheduler or i can maintain publisher as an spring bean and reuse the same.

Can you suggest which is better approach, cause i do see Deadline_Exceeded error intermittently ?
- Althou

[2019-03-06 11:57] samir- commented on #3402
hello @hzyi-google @chingor13
i had the same issue recently
what i did is create a file with this :
`STORAGE.create(
                                    BlobInfo
                                            .newBuilder(BlobId.of(bucketName, tempPath))
                                            .setContentType("text/plain")
                                            .build(),

[2019-03-06 12:19] ajaaym commented on #4628
@ayushj158 Its better to create client just once and keep reusing it. For DEADLINE_EXCEEDED, how many message do you send every 1 min? Are you running from your local machine or from GCP?

[2019-03-06 13:27] ayushj158 commented on #4628
It can range from  100K-600K/min.... I am running on an on premise Linux machine with enough computing power.  Also tried to use custom retry settings but i am not able to restrict the failures to zero, intermittently i see 10-15 messages being failed.
- Also i am using load shedding to minimize the failures #3867

BTW what is the effect of publisher being open in JVM , how many and which threads

[2019-03-07 05:12] bilalbari opened #4654 "Getting error while using the Java Client Library in my spring boot application for Stackdriver Logging"
I am trying to use Stackdriver Logging in my spring boot project. Using the Java Client Library for Logging.
Have added the maven dependency and am trying to post data to my Stackdriver Logging console.
**Dependency-**

[code]

 **My Code (Rest Controller)-**

[code]

**Error Trace -**

[code]

Any help or guidance??

[2019-03-07 05:26] ayushj158 commented on #4628
@ajaaym Perfect thanks for the quick tip Ajay, i am gonna try this .  :+1: :+1:

[2019-03-07 05:26] #4628 closed

[2019-03-07 12:59] reik-wargaming opened #4655 "BigQuery: schema will be null in QueryStatistics after job has executed"
Using the Java SDK for BigQuery (google-cloud-bigquery), I can get a `Schema` instance from the `QueryStatistics`. For the same job id, this only works if the job has not executed (dry run). After I fetch the results from the query (no dry run), there won't be a `Schema` in the `QueryStatistics` anymore.

#### Environment details

1. google-cloud-bigquery
2. MacOS HighSierra
3. Java 8, Kotlin 1.3

[2019-03-07 14:06] ajaaym commented on #4654
@bilalbari you shouldnt be creating autoclosing client in a method. Either you need to create it once and use it or in worst case if you want to create and close in a method then you need to wait till operation completes in a try block. So code should look like below

[code]

[2019-03-07 15:23] sduskis commented on #4654
@ajaaym, that makes sense.  It would make sense to keep a `Logging logging = options.getService()` variable rather than creating a new one for every request.  In this case, it seems like we want autoflush, or even a single RPC rather than waiting for the logger to aggregate all requests into a single RPC.

The `Logging.write()` wasn't meant for that situation.  Would making `LoggingImpl.writeAsync

[2019-03-07 15:24] sduskis commented on #4654
On a different note, I see this in `LoggingImpl`:

[code]

This means that you can't cache the Logging service.

[2019-03-07 15:36] ajaaym commented on #4654
@sduskis there is a autoflush. ```Logging.write()``` is async by default unless ```WriteSynchronicity``` is set. I think what we need is another method which returns ApiFuture for every write call rather than returning void. There is similar request related to this as well #4326

[2019-03-07 16:57] ajaaym opened #4657 "Java grpc auto tune is disabled sets transport window size to 1mb"
Java grpc has auto tune transport window disabled and its default window size is 1 mb. While c grpc has auto tune enabled and adjust the initial window to around 4mb or more.

[2019-03-07 16:58] ajaaym commented on #4657
FYI @dpcollins-google

[2019-03-07 17:27] sduskis commented on #4657
@ejona86, do you have any perspective on why the gRPC Java default and the C settings would be different (as per the OP)?

[2019-03-07 18:26] ejona86 commented on #4657
"Because they are different implementations."

Before 1.0 benchmarks showed a larger window (~1 MB) was necessary for proper cloud bigtable performance. Thus Java increased the default window size, as that's all there was time to do.

Later, I designed the auto tuning and it was implemented in Java. But GFE has some silly PING restrictions that require working around, so it was left disabled. C ha

[2019-03-07 18:39] sduskis commented on #4657
@ejona86, thanks for the explanation.

I think we should revisit the Cloud Bigtable performance question relating to the window settings.

FYI, right now, there are concerted efforts to improve performance of Pub/Sub and we'll probably do more testing in the near future.

[2019-03-07 21:47] ejona86 commented on #4657
@sduskis, I'm not sure what you're saying. Are you saying that some further performance investigations are showing the window size may need to be larger than 1 MB? Or are the problems that the current value is too large?

In either case, instead of changing the current value we'd probably need to try to enable window auto-tuning. That would start as 64 KB and increase the size as necessary (like G

[2019-03-08 00:23] sduskis commented on #4657
@ejona86, I guess there isn't something for you to do with the window size.  I guess I'm just musing out loud to see if we ought to test different window sizes in our internal tests.

I think that we shouldn't continue discussing this on `google-cloud-java`.

[2019-03-08 00:23] #4657 closed

[2019-03-08 00:25] andrewcampey opened #4661 "Datastore - Failed to load from the backing store - java.lang.ClassNotFoundException: com.google.cloud.datastore.emulator.impl.LocalDatastoreFileStub"
We are hitting a brick wall with trying to use our local datastore.
We can export successfully and the import creates a local_db.bin that LOOKS correct however when we try and connect to it we hit the error mentioned below.

If we stop and re-run our local environment it will blow this file away and start again.

#### Environment details

1. We are trying to run local datastore using the emulator

[2019-03-08 06:17] bilalbari commented on #4654
@ajaaym Thanks for the help. The error is not happening now. A problem however , the call is executing but nothing is getting logged in my GCP Logging console. It shows no entry in the Stackdriver Console .

**Trace -**
`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by com.google.protobuf.UnsafeUtil (file:/***/.m2/repository/com/google/protobuf/pro

[2019-03-08 14:56] ajaaym commented on #4654
@bilalbari what filter do you have in gcp logging console? can you check under global?

[2019-03-08 19:07] ajaaym commented on #3152
@meltsufin @roku6185 @kir-titievsky You can use below settings to avoid getting lot of message buffered in to client.

[code]

[2019-03-08 19:35] meltsufin commented on #3152
@ajaaym This pretty ugly, but may be a valuable workaround for some people. I'd prefer to see this exposed a bit more conveniently in the Pub/Sub client library.
@kir-titievsky Is this an approach you recommend?

[2019-03-08 19:37] ajaaym commented on #3152
@meltsufin yes it is, but can be used until proper solution is out.

[2019-03-08 19:48] sduskis commented on #3402
@JesseLovelace @frankyn: any help would be appreciated.

[2019-03-08 20:37] #3889 closed

[2019-03-10 09:49] olavloite commented on #4542
The API by default does not return all fields of an Intent. Training phrases is one of those fields that will only be returned if you specify that you want all fields to be returned in your get/list request. The current client library does not allow you to specify this option in the normal list and get methods, but you can do it by creating a get/list request your self. This example returns a list

[2019-03-10 09:49] #4542 closed

[2019-03-10 13:37] bilalbari commented on #4654
@ajaaym Yes, the logs are showing under global configuration . Thank you so much for the help!

[2019-03-10 15:03] #4583 closed

[2019-03-11 14:16] ludoch opened #4664 "Does it works with the Java native GraalVM?"
Playing with the new native target for https://quarkus.io/
Samples work well on Google App Engine (Java11 alpha).
Did not try yet, but we need to validate if the Cloud Java APIs work well with the GraalVM target https://www.graalvm.org/

It is possible that GraalVM has some limitations related to code introspection and more (see https://github.com/oracle/graal/blob/master/substratevm/LIMITATIONS.m

[2019-03-11 14:50] sduskis commented on #4664
Step one is to make sure that grpc works well.

[2019-03-11 14:57] ludoch commented on #4664
https://twitter.com/haraldpehl/status/1103995414251032581

[2019-03-11 14:59] sduskis commented on #4664
@ludoch, thanks for the reference.  Is GraalVM also expected to work with gRPC?

[2019-03-11 15:00] ludoch commented on #4664
https://github.com/hpehl
That is the point of this bug/feature request... If issues we need to find a way to address them.

[2019-03-11 15:02] sduskis commented on #4664
@ludoch, has the gRPC team been involved with this yet?  If not, I'll ping someone on this thread.

[2019-03-11 15:06] ludoch commented on #4664
Pretty sure none, unless via hidden channels I am not aware of...

[2019-03-11 15:08] sduskis commented on #4664
@ludoch, perhaps it's better if you start a thread on https://github.com/grpc/grpc-java to maximize the chances that you'd find the right audience.

[2019-03-11 15:20] #4654 closed

[2019-03-11 15:39] ludoch commented on #4664
Maybe Cloud Java is using 5% of gRPC, so maybe I would start first to run the Cloud Java tests with a graalVM target, and then start digging in the inner (hidden?) deps as we go, if we find issues.

[2019-03-11 16:13] ludoch commented on #4664
I see https://github.com/hpehl/quarkus-grpc-extension/blob/master/runtime/src/main/java/io/quarkus/grpc/runtime/graal/GrpcNettySubstitutions.java for example...

[2019-03-11 16:57] ludoch commented on #4664
https://github.com/quarkusio/quarkus/issues/820

[2019-03-12 02:56] dhoard commented on #4188
@chingor13 thoughts on providing a `setContentTypeMapping(Map<String, String> map)` on `StorageOptions.Builder` to setup an blob name extension to content-type mapping?

It would be completely optional and shouldn't breaking any existing code.

[2019-03-12 04:01] frankyn commented on #3402
Hi @samir- ,

Thanks for raising your question.

General questions:
1. Are you able to consistently reproduce this issue?
2. Could you provide more context on your Dataflow pipeline, and the shortest code snippet so we can reproduce the issue?

Based on what you've provided, it looks like you're concatenating a new blob located at `tempPath`.

1. Is the code using a unique path for every new objec

[2019-03-12 10:52] samir- commented on #3402
Hello @frankyn
**Are you able to consistently able reproduce this issue?**

No it's rare in fact, 3 or 2 times in total
**Could you provide more context on your Dataflow pipeline and the shortest code snippet so we can reproduce the issue?**

This issue is random, Trying to reproduce it in my case would be runninng a pipeline that reads millions of rows in bigquery and grouping them to create stri

[2019-03-12 14:02] spkrka opened #4668 "google-cloud-logging: LoggingImpl.pendingWrites remove before add (with suggested fix)"
In LoggingImpl, it is possible to leak memory in pendingWrites, if the future completes before the callback is added. If so, the callback runs before the call to `pendingWrites.remove()`

[code]

A proposed fix is to move this code to between creating the future and adding the callback.
[code]

[2019-03-12 17:00] shollyman commented on #4655
As you've noted, the schema field you're accessing via job querystatistics is only populated for dryrun queries using standard SQL, which is for validating output schema.  For executed queries, you want the schema from the destination table, which holds the result of the executed query.

Fortunately, the schema is present via `getQueryResults()` in your example.  You should access it via query sta

[2019-03-12 18:20] ludoch opened #4670 "Cannot use Cloud Datastore Java APIs with Graal VM."
Playing with the native example of Quarkus IO https://quarkus.io/  located at:

https://github.com/quarkusio/quarkus-quickstarts/tree/master/getting-started

Adding a dep with
[code]
And using the Cloud Datastore API (simple imports/usage)

Notice I do not define GAE App Engine APIs which I do not want to use (it would not work anyway in a Java11 titanium pure runtime.

I then compile with:

mvn i

[2019-03-12 18:47] ludoch commented on #4670
Trying with:
[code]
Maybe this dep should not be declared, and added by a customer only when they  want to run on GAE compat?
Also, the Java8 GAE compat runtime can use native sockets (for a price) so it might be nice to really cut this dep and use the native path...

Anyway, now getting:
Warning: RecomputeFieldValue.FieldOffset automatic substitution failed. The automatic substitution registratio

[2019-03-12 20:30] ludoch commented on #4670
using this quarkus plugin configuration with --allow-incomplete-classpath
[code]
I can generate the executable.

[2019-03-12 20:34] ludoch commented on #4670
Execution gives a runtime error:

 textPayload:  "2019-03-12 20:32:40,045 ERROR [io.und.request] (XNIO-1 task-1) UT005023: Exception handling request to /hello/datastore: org.jboss.resteasy.spi.UnhandledException: com.oracle.svm.core.jdk.UnsupportedFeatureError: Accessing an URL protocol that was not enabled. The URL protocol https is supported but not enabled by default. It must be enabled by add

[2019-03-12 20:43] ludoch commented on #4670
Next error: Getting
[INFO] [io.quarkus.creator.phase.nativeimage.NativeImagePhase] docker run -v /Users/ludo/a/quarkus-quickstarts/getting-started-native/target:/project:z --rm swd847/centos-graal-native-image-rc12 -J-Djava.util.logging.manager=org.jboss.logmanager.LogManager --allow-incomplete-classpath --enable-url-protocols=https -H:InitialCollectionPolicy=com.oracle.svm.core.genscavenge.Collec

[2019-03-12 21:19] ludoch commented on #4670
Making progress,

With
[code]
Getting:

A  Caused by: java.lang.IllegalArgumentException:
A  	at com.google.api.client.json.JsonParser.parseValue(JsonParser.java:889)
A  	at com.google.api.client.json.JsonParser.parse(JsonParser.java:382)
A  	at com.google.api.client.json.JsonParser.parse(JsonParser.java:355)
A  	at com.google.api.client.json.JsonObjectParser.parseAndClose(JsonObjectParser.java:87

[2019-03-12 21:50] ludoch commented on #4670
https://github.com/oracle/graal/issues/926

[2019-03-13 07:53] reik-wargaming commented on #4655
@shollyman thanks for the clarification but the issue is, that even for dryRuns it fails to get the schema from the querystatistics after the query has been executed once. I am doing

- dry run
- execution
- dry run

In that order, the expectation is that I can get the schema via

- querystatistics
- queryresults
- querystatistics (not working)

[2019-03-13 12:34] andrey-qlogic commented on #2462
@salrashid123 , @sduskis
I would assume you could add "x-google-resumable" header as an extension header using this approach. Please let me know if the method works for you.
[code]

[2019-03-13 14:33] olavloite opened #4673 "Enable injecting transaction aborts in test code"
One of the challenges developers encounter when using Cloud Spanner is that Cloud Spanner aborts a relatively high percentage of all read/write transactions. Transactions must therefore be included in retry-loops or other safe-guarding techniques. As a transaction can be aborted at any time, it is hard to write tests that demonstrate the working of the safe-guarding techniques in use. It would be

[2019-03-13 15:31] salrashid123 commented on #2462
We can add the header in now but that'll address the first part; there still isn't a way to use that URL within context of this library, eg we can do this now

[code]

and we're left with a URL that has the properties (headers) we need to start the trasfer

but i dind't see a place to put that URL in to do the uploads by just passing in a url (string) alone

eg, to do this

[code]

Having a client

[2019-03-13 17:04] shollyman commented on #4655
Let me know if I'm misunderstanding, but from the sample it looks like you're gettting the job info if it exists via getJob, otherwise executing.  Because you're using a consistent jobID you're fetching the job metadata from the executed query rather than running the dryrun again.

Dryrun query responses are not persisted in the job history, so you could simply not set the jobID for the dryrun cas

[2019-03-13 17:13] shollyman commented on #4655
Additionally, is it intentional that you only use query hash for the job ID determination?  It implies all queries are on static data where none of the data in the referenced tables ever change, absent some other refresh mechanism.

[2019-03-14 00:19] a1nouru commented on #3511
if your running with maven, run mvn install clean in your IDE terminal and see what happens. Had the same error and it worked for me when I ran that command.

[2019-03-14 06:50] reik-wargaming commented on #4655
correct. we get the job if `getJob` returns it, otherwise we create a new one. in our application, the caller can either do a dry-run or execute a query. so yes, potentially `getJob` could return a job that has already executed and perform a dry-run. Is your suggestion to use a unique job id whenever we do dry-runs *but* use a deterministic job id when we execute?

I haven't used big query that lo

[2019-03-14 08:40] chayki opened #4678 "Add a client to google cloud document indexing and search"
Request to add client for indexing documents and search.

[2019-03-14 10:14] andrey-qlogic commented on #2462
@salrashid123
Can you use MediaHttpUploader, which support the [resumable upload](https://github.com/googleapis/google-api-java-client/blob/41fac3bd26919cd60e220a82513bbd6fb720f179/google-api-client/src/main/java/com/google/api/client/googleapis/media/MediaHttpUploader.java#L330) for your task ?

[2019-03-14 13:19] sduskis commented on #4678
Does this help? https://github.com/googleapis/google-api-java-client-services/tree/master/clients/1.28.0/google-api-services-cloudsearch/v1

[2019-03-14 13:21] andrey-qlogic commented on #4188
@chingor13 , @dhoard
I would assume that we can add something like the example below
similar to https://github.com/googleapis/google-cloud-java/blob/35cc9874ce2963ca9d66aa0d584208a59154b6f3/google-cloud-clients/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L611

[code]

[2019-03-14 13:27] sduskis commented on #4670
@ludoch, I'm not sure what the problem is.  [`com.google.api.client.util.GenericData` does have a public no parameter constructor](https://github.com/googleapis/google-http-java-client/blob/v1.26.0/google-http-client/src/main/java/com/google/api/client/util/GenericData.java#L61).

[2019-03-14 14:55] dhoard commented on #4188
@andrey-qlogic conceptually that might work. From an implementation standpoint, it would be better to perform a `get()` on the `headerProvider`  ...

[code]

@chingor13 your feedback?

[2019-03-14 15:01] ludoch commented on #4670
My current understanding is that this Graal bug is the blocking one now:
https://github.com/oracle/graal/issues/926
Agree?

[2019-03-14 16:12] Dak0ta opened #4679 "Question: How can you use a custom SSL Socket Factory with a Cloud Pub/Sub Subscriber?"
We have a requirement to utilize a custom SSL Socket factory with Cloud Pub/Sub (that doesn't affect the entire JVM) - looking at the sample Subscriber build() examples how would you set a custom provider?

And will it be a org.apache.commons.httpclient.protocol.SecureProtocolSocketFactory or something different?

[2019-03-14 16:32] shollyman commented on #4655
dryrun queries are for transient validation.  they ensure a query parses, and can resolve things like output schema and estimate query costs.

Typically, control of the jobID is leveraged for execution idempotency.  If there's anything like a transient network failure during the job insertion and you fail to get a structured job response from BigQuery, you can simply poll/re-insert using the same

[2019-03-14 16:48] sduskis commented on #4679
Can you please give a bit more information about why you want to set an SSL Socket Factory?

For context, there are two different places where SSL is configured:

1. for getting a credentials token
2. for the runtime behavior of the subscriber that's controlled by grpc.

For the second, here's a reference of what you would have to work with: https://github.com/grpc/grpc-java/blob/master/netty/src/

[2019-03-14 17:52] sduskis commented on #4485
@dpcollins-google, can we close this?

[2019-03-14 18:18] kolea2 commented on #3678
Hi @zguth! As there hasn't been any activity on this issue, I'm going to close this for now. Please feel free to reopen if you are still seeing this issue after trying @ajaaym's suggestion. Thanks!

[2019-03-14 18:18] #3678 closed

[2019-03-14 18:19] JesseLovelace commented on #3896
Closing for inactivity, feel free to reopen if you still have an issue with this

[2019-03-14 18:19] #3896 closed

[2019-03-14 20:06] elharo opened #4681 "cloud KMS violates semver"
Note: This client is a work-in-progress, and may occasionally make backwards-incompatible changes.

and yet it is 1.1.0

[2019-03-14 21:33] salrashid123 commented on #2462
i gave it a shot but i think the protocols are a little different.  When the signedURL is generated, we've got specify the headers precisely and the URLs have got to match exactly

eg, here's the signedURL:

[code]

and if i pass that through to the meaduploader,  it looks like this (note the headers and the last `&uploadType=resumeable`

[code]

It _maybe_ possible to use this client after some m

[2019-03-14 22:10] sduskis commented on #4681
The client is completely generated.  It would be backwards incompatible if either the generator or the proto files change in a non-backwards compatible way.  Do you have specific instances where it was not backwards compatible?  That will help us figure out the root cause.

[2019-03-15 00:11] dpcollins-google commented on #4485
Yes, I thought it would be automatically closed by putting resolves in the
last pr description.  You can close or I can when I get home.

On Thu, Mar 14, 2019, 1:53 PM Solomon Duskis <notifications@github.com>
wrote:

[2019-03-15 07:31] olavloite commented on #3616
If this problem occurs consistently on one specific VM or server, then there's a good chance that it is the same problem as in #3889 where an SSLHandshakeException is thrown. The first call to Spanner that needs a session will try to create one. That call would end up in an infinite retry loop in the createSession(...) method.

This code hangs indefinitely before the fix of #3889 when the client c

[2019-03-15 20:28] kolea2 opened #4685 "Spanner interface could extend AutoCloseable"

[2019-03-15 23:20] cperez1000 commented on #3648
Does anybody know when this will be available?

[2019-03-16 17:52] salrashid123 commented on #2462
ok, looked at it a bit more...i got the sigedurl with the correct headers, then the location header value for resumable uploads.   but  i think the logic at the final step here
- [MediaHttpUploader.java](https://github.com/vparfonov/google-api-java-client/blob/master/google-api-client/src/main/java/com/google/api/client/googleapis/media/MediaHttpUploader.java#L289)
 expects a slightly different pr

[2019-03-18 01:12] ludoch commented on #4670
I've finally a set of configuration steps where Google Cloud Datastore can be used in GraalVM and the quarkus.io native target.

Doing some cleanup first, but doable now.

[2019-03-18 13:37] sduskis opened #4689 "BigQuery swallowing exceptions"
Steps to reproduce:
Consider two Cloud Platform Projects "A" and "B".

1. Generated Service Account Key for Project "A" (in JSON Format) with role as BigQuery Metadata Viewer.
2. Modified the "project_id" value from "A" to "B" in the file.
3. Used this file to connect to BigQuery instance.
4. listDatasets() on com.google.cloud.bigquery.BigQuery returns an empty List.

Expected Outcome:
The operati

[2019-03-18 15:08] #4685 closed

[2019-03-19 07:53] spkrka commented on #4668
PR: #4696

[2019-03-19 12:33] ajaaym commented on #4543
@shashank-g172 I tried on windows as well and it working fine.

[2019-03-19 12:35] ajaaym commented on #4668
fixed with #4696

[2019-03-19 12:35] #4668 closed

[2019-03-19 13:57] ajaaym commented on #4689
@sduskis server is returning empty dataset and not returning any error. This can not be fixed in client.

[2019-03-19 14:44] ilkerc opened #4698 "Cant create an instance of Field with Array type"
#### Environment details

1. Specify the API at the beginning of the title (for example, "BigQuery: ...")
   Core, BigQuery
2. OS type and version: MacOS 10.14.0
3. Java version: 1.8
4. google-cloud-java version(s): google-cloud-core & google-cloud-bigquery 1.65.0

#### Steps to reproduce

  1. Create a field with Array type

#### Code example

[code]

#### Stack trace
[code]

#### Any additional

[2019-03-19 15:01] sduskis commented on #4678
@chayki, I'm going to close this.  Please reopen this issue or another issue if the information provided doesn't not answer your question.

[2019-03-19 15:01] #4678 closed

[2019-03-19 15:02] sduskis commented on #4679
@Dak0ta, can you please provide more information about what you're looking for?  (Please see my previous comment for more details)

[2019-03-19 15:03] sduskis commented on #4664
@ludoch, is there anything actionable for `google-cloud-java` at this moment?

[2019-03-19 18:23] sceee opened #4700 "PubSub: grpc Uncaught exception in the SynchronizationContext. Panic! - Could not find LoadBalancer pick_first"
1. Specify the API: PubSub
2. OS type and version: Docker image gradle:5.2-jdk11-slim (also happens with jdk8 and other images)
3. Java version: jdk11 and jdk8
4. google-cloud-java version(s): 1.62.0 and above (tested with 1.65.0, too)

#### Steps to reproduce

  1. Use google-cloud-pubsub library with version 1.62.0 or above as dependency
  2. Create a subscription in own code (see code example b

[2019-03-19 19:25] mcgin opened #4702 "google-cloud-nio: CloudStorageFileSystemProvider throws UnsupportedException when used with Webflux + MultipartFile upload"
Because `CloudStorageFileSystemProvider` does not override the `newFileChannel` method it throws an `UnsupportedOperationException` when used for Multipart file uploads with `FilePart.transferto(Path path)` in a reactive Spring boot application.

#### Environment details

1. Specify the API: google-cloud-nio
2. OS type and version: Debian 9
3. Java version: 10
4. google-cloud-nio version(s): 0.83-

[2019-03-19 21:09] kolea2 commented on #4700
Thank you for the report!

@sduskis, @andreamlin, Pub/Sub version 1.62 included an upgrade in gax - any idea if there were changes that could have caused this?

[2019-03-19 21:15] sduskis commented on #4627
@agolomoodysaada, what's your use case for needing these statistics?  That will help us tailor a solution.

[2019-03-19 21:16] sduskis commented on #4700
@kolea2, can you tell if there was a grpc upgrade? That might be one possible reason.

[2019-03-19 21:47] kolea2 commented on #4700
Yep - looks like grpc went from 1.17.1 to 1.18.0: https://github.com/googleapis/google-cloud-java/pull/4496/

[2019-03-19 22:21] agolomoodysaada commented on #4627
Hey @sduskis ,

Our use case is for a client that exposes their pubsub topic to us with a service account. However they do not want to provide us access to their GCP  project for security reasons.

This puts us in an awkward situation where we can't really get alerted when we're behind on the pubsub topic. Or autoscale consumers for example. Having access to those metrics would allow us to do thos

[2019-03-19 22:34] sduskis commented on #4627
First, we'd definitely need to expose the stats in a single VM, as per PR #4688.

We could theoretically integrate with [OpenCensus](https://opencensus.io/) which would allow you to quickly aggregate those statistics into your own Stackdriver project.  Would this type of integration be of interest?

[2019-03-20 01:54] ajaaym commented on #4700
@sceee can you please share your docker file with full repro? I tried the steps you mentioned and couldn't reproduce.

[2019-03-20 08:50] olavloite commented on #4700
@sceee I can reproduce this when I build a 'thick' jar using the maven shade plugin and add the Google Cloud client libraries as dependencies in the jar. Are you doing something like that?

If so, the files io.grpc.LoadBalancerProvider and io.grpc.NameResolverProvider from grpc-core/META-INF/services are probably not included in you final jar and this exception will occur.
A work-around is to add

[2019-03-20 09:35] DorisGM opened #4706 "Is google-cloud-speech free for commercial?"
I want to integration google-cloud-speech in my app. But I'm not sure whether it is free for commercial?

[2019-03-20 12:57] pmakani commented on #4698
@ilkerc  `StandardSQLTypeName` support all type except `ARRAY`, basically `StandardSQLTypeName` convert internally  into `LegacySQLTypeName` and it has no feature available for Array as of now.

[2019-03-20 13:20] ilkerc commented on #4698
@pmakani Thanks!. IMO, striction would be better than having a run-time error. `LegacySQLTypeName ` could be the only available constructor.

For anyone having the same issue, this workaround worked for me;

[code]

[2019-03-20 13:20] #4698 closed

[2019-03-20 14:38] lv-alex commented on #4203
hi, is there any resolution to this? We are able to run DialogFlow(w/wo knowledgeBase) without issues if it runs as a Java application. As soon as we migrate it under a Web app, it starts having issues. Could you please try to run this under a Java web app(Dynamic Web application)?

If synchronous:

Mar 20, 2019 9:03:51 AM org.apache.catalina.core.StandardWrapperValve invoke
SEVERE: Servlet.servic

[2019-03-20 14:41] sduskis commented on #4706
Please look here for pricing: https://cloud.google.com/speech-to-text/

[2019-03-20 14:41] #4706 closed

[2019-03-20 14:43] sduskis commented on #4702
@meltsufin, do you have any advice for this Spring question?

[2019-03-20 14:45] sduskis commented on #4681
@elharo, can you please give us more information about the problem?

[2019-03-20 14:45] sduskis commented on #4670
@ludoch, is there anything actionable on this issue, or can we close it?

[2019-03-20 14:53] meltsufin commented on #4702
It looks like [CloudStorageFileSystemProvider](https://github.com/googleapis/google-cloud-java/blob/master/google-cloud-clients/google-cloud-contrib/google-cloud-nio/src/main/java/com/google/cloud/storage/contrib/nio/CloudStorageFileSystemProvider.java) needs to override `newFileChannel`.

[2019-03-20 15:31] agolomoodysaada commented on #4627
I want to make sure we're talking about the same thing. The PR #4688 is exposing `getTotalNackedMessages`. Is that the same `number_of_undelivered_messages` metric?
If yes, then that's exactly what we're after.

We use Prometheus for monitoring, which I believe integrates with OpenCensus. Having access to this metric would allow us to expose this metric and autoscale our consumers accordingly.