[2017-09-18 18:18] pcostell commented on #2309
@shinfan @JoshuaFox

Can we test this using the downloaded emulator but on version `1.2.1`? This could be done by changing the version constant in the `LocalDatastoreHelper`. The `1.2.1` version of the emulator has been released for almost a year, so I'd like to make sure this isn't a `gcloud` vs downloaded issue, rather than a `1.2.0` vs `1.2.1` issue.

[2017-09-18 18:32] JoshuaFox commented on #2309
How do I make it use the downloaded emulator? It always tries gcloud and
then reverts to the downloaded emulator -- I do not know how to control
that.

Moreover (as shown by diffing the logs, as attached  earlier), in the
failure case (Maven), apparently the problem is that the gcloud emulator
DOES start up, but then doesn't work, whereas in the success case
(Eclipse), the gcloud fails to start up

[2017-09-18 18:52] pcostell commented on #2309
You can change the version of the downloaded emulator by changing the [`MIN_VERSION` in `LocalDatastoreHelper`](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/LocalDatastoreHelper.java#L60) from `"1.2.0"` to `"1.2.1"`.

You can force it to use the downloaded version by uninstalling the gcloud version: htt

[2017-09-18 19:07] JoshuaFox commented on #2309
I'll see about that code edit.

On Sep 18, 2017 9:54 PM, "Patrick Costello" <notifications@github.com>
wrote:

You can change the version of the downloaded emulator by changing the
MIN_VERSION in LocalDatastoreHelper
<https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-datastore/src/main/java/com/google/cloud/datastore/testing/LocalDatastoreHelper.java#L60>
from "1.2.

[2017-09-18 19:53] #2425 closed

[2017-09-18 21:10] neozwu commented on #2438
I have manually deleted some zombie resources to unblock CI. Will investigate root cause.

[2017-09-18 23:26] jabubake opened #2451 "Fix external class links in Reference docs"
http://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/com/google/cloud/language/v1/LanguageServiceSettings.html

does not link correctly to classes like `com.google.cloud.language.v1.AnalyzeEntitySentimentRequest`
`com.google.cloud.language.v1.AnalyzeEntitySentimentResponse`
in the Java docs.

I thought we had fixed this the last time ?

FYI @nnegrey

[2017-09-18 23:28] lesv commented on #2398
@meltsufin Any suggestions?

[2017-09-18 23:29] lesv commented on #2398
@Mistic92 Are you also on Windows-10 x64?
@jabubake FYI

[2017-09-19 06:15] pongad commented on #2451
@neozwu Could you look into this? I think this is caused by us not creating javadocs for protos. The [last commit](https://github.com/googleapis/googleapis/tree/gh-pages/java) to Java proto docs was 7 days ago

[2017-09-19 12:02] robertsaxby opened #2452 "Setting the Flow Control MaxOutstandingElementCount cause stuck messages"
The behaviour was observed in the 0.21.1-beta version of the Java client library
It seems resolved in the 0.23.1-beta version, however this newer version implements the bi-directional streaming pull and the previous doesn't.

**Test Setup:**
- 100k messages published to a Topic
- Single Subscription
- _n_ Subscribers (k8s running on GKE, each pod running in separate node) {_n_ ∈ Z |  1 ≤ _n_ ≤ 4}

[2017-09-19 12:13] JoshuaFox commented on #2309
@pcostell

I copied the `LocalDatastoreHelper` source code as class `LocalDatastoreHelper121` in a new package, changed `MIN_VERSION` to `1.2.1`, then used this class.

Unit tests still fail in the same way.

I did that already. See comment above (from 2017-9-17 12:24 UTC). That indeed makes unit tests pass in Maven, but then I can't use the Datastore Emulator for ordinary development.

[2017-09-19 14:55] sanumandla commented on #2407
Hi,

Any update on this ? Thank you

[2017-09-19 15:32] jabubake commented on #2401
Ran into this exception using the class-name handler, still investigating.
[code]

[2017-09-19 16:40] kir-titievsky commented on #2452
@robertsaxby It sounds like the subscriber application code executes the listener MessageReceiver (parsing the message, etc), but never calls AckReplyConsumer.ack for some messages.  Can you confirm that:
* The MessageReceiver implementation actually calls AckReplyConsumer.ack explicitly in the user code.
* That for stuck messages the listener code executes successfully, including a call to .ack?

[2017-09-19 17:27] kir-titievsky commented on #2452
Got answers offline: The call to .ack happens successfully in the application code, but the acks are never actually sent.

[2017-09-19 17:33] Xeli commented on #2398
I am having the exact same issue (OSX 10.12.6)

I assume this is because the Subscriber gets messages pushed and needs a webserver for this. Would netty-tcnative-boringssl-static still be needed if it were to poll? The builder has a package protected method to enable or disable streaming (https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-pubsub/src/main/java/com/goo

[2017-09-19 18:24] pcostell commented on #2309
Thanks @JoshuaFox.

I definitely don't want you to have to not have gcloud installed, but this helps confirm that this seems to be something wrong with trying to kick off the tests using gcloud, as opposed to a regression in the Cloud Datastore emulator.

@shinfan What are the next steps here?

[2017-09-19 18:57] neozwu commented on #2451
I have created Proto docs and republished google-cloud-java docs. Close this as the issue should be fixed now.

[2017-09-19 18:57] #2451 closed

[2017-09-19 19:14] nbrinks commented on #2353
Similar issue on 0.22.0-beta. As a test I set up a job to publish messages to a topic every 30 seconds. Subscription will receive messages, every 30 seconds, for a period of time and then suddenly stop receiving messages for hours. Subscriber.Listener does not trigger any callbacks when this occurs. Sometimes it recovers sometimes it does not. Spring Boot app hosted on GKE.

[2017-09-19 19:55] sai-pullabhotla commented on #2309
@JoshuaFox -

The LocalDatastoreHelper works as outlined below:

- Gets the `PATH` environment variable and checks to see if it contains `google-cloud-sdk`. If the string is found, it runs `gcloud version` command and ensures that the installed emulator version is `>=` to the `MIN_VERSION`. If both these conditions satisfy, it will run the emulator from the pre-installed google-cloud-sdk.
- Otherw

[2017-09-19 22:10] pongad commented on #2452
I'll look into this, but @robertsaxby is there any reason you cannot move to streaming pull?

[2017-09-19 22:43] neozwu commented on #2440
@sai-pullabhotla Thanks for providing the detailed information.  Metadata server is the last resort to fetching project id (see code [here](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L389)). A recommended way is to explicitly set environment variable to project id.

[2017-09-19 23:57] neozwu commented on #2399
close this since grpc dependency is 1.6.1 now.

[2017-09-19 23:57] #2399 closed

[2017-09-20 00:56] vam-google commented on #2407
Hi @sanumandla. It is really hard to tell for sure what is happening, but here are some suggestions:

Try to add google-cloud-java root pom as BOM ([bill of materials](https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html#Dependency_Management)) in your pom:

[code]

Check in runtime the actual jars added to your classpath (after it went through all the custom clas

[2017-09-20 01:04] vam-google commented on #2407
You may want to check the `google-cloud-java/google-cloud-testing/google-cloud-managedtest` module (and try to deploy it in your env), which is used for testing and troubleshooting google-cloud-java in managed environments (the servlet code above is copied from that module). That module is just a servlet, which allows you to deploy it in a managed environment (tomcat/jetty), and then run google-cl

[2017-09-20 04:01] pongad commented on #2452
Good news is I can reproduce this. I'm working to determine the root cause.

[2017-09-20 05:07] pongad commented on #2452
I found the problem. @davidtorres @mdietz94

The bug is actually in [`MessageDispatcher::processOutstandingBatches`](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/91ad4f465ed5cbd2f7853290a33555b00e5c9aed/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/MessageDispatcher.java#L355). The method works roughly like this:

1. We keep a queue of messages we pulled but haven't

[2017-09-20 06:44] JoshuaFox commented on #2309
@sai-pullabhotla  -- you hit it!

Buried in my `PATH` was `D:\Program Files\eclipse\plugins\com.google.appengine.eclipse.sdkbundle_1.9.40\appengine-java-sdk-1.9.40\bin\`. After that in the `PATH`, there's a since-uninstalled Google-SDK, and after that there is my real Google SDK installation `d:\Program Files (x86)\Google\Cloud SDK\google-cloud-sdk\bin`.

When I set `PATH` to exclude that first on

[2017-09-20 12:49] sai-pullabhotla commented on #2309
Glad the issue is resolved!

[2017-09-20 13:31] kir-titievsky commented on #2452
@pongad : The reason @robertsaxby went back to the original library was to work around the idle streams issue.

[2017-09-20 13:53] sai-pullabhotla commented on #2440
@neozwu  -

Technically speaking, fetching from gcloud settings is the last resort. In my specific case, there is a false positive from the metadata server lookup, which returns a huge HTML/JavaScript combination as the project ID. Instead of assuming it as a valid project ID, it would be nice to have some sanity check on the response to ensure it can possibly be a  project ID. For example, there

[2017-09-20 15:30] mdietz94 commented on #2452
I agree with 1, I think each having its own control flow will lead to poor flow control behavior if the dispatchers do not fill fairly.

[2017-09-20 16:13] neozwu commented on #2440
@sai-pullabhotla This indeed makes sense. I will label this as a P2 bug and will implement the validation logic.
/cc @lesv

[2017-09-20 16:49] davidtorres commented on #2452
Also agree with 1

David Torres | Senior Software Engineer | davidtorres@google.com | +1
212-565-9096

On Wed, Sep 20, 2017 at 11:30 AM, Max Dietz <notifications@github.com>
wrote:

[2017-09-20 18:16] garrettjonesgoogle commented on #2423
The reason for `final` is to reduce the number of places where users could break when we make breaking changes.

The title of this issue isn't fully correct: There isn't anything `final` on the stubs. I think the right way to mock is to create a stub, and pass that to the client when constructing it. The client is really just a thin passthrough to the stub anyway.

[2017-09-20 18:20] lbergelson opened #2453 "Authentication error after upgrading to 0.23.1"
We've started seeing an authentication error in our project after we upgraded to 0.23.1, the issue also seems to be present in 0.24.0.  Reverting to 0.22.0 solves the issue.

We start seeing the following 404 error when running a spark application that uses NIO to access gcs files:

[code]

Looking at the dependency updates in this project, it seems like one of the auth libraries updated to versio

[2017-09-20 18:22] vam-google commented on #2309
@shinfan, @pcostell, @sai-pullabhotla thank you for all you help with this issue! Great job!

[2017-09-20 18:22] #2309 closed

[2017-09-20 18:44] derekhh opened #2454 "Is there a repository for 'appengine-api-1.0-sdk'?"
This [Use Google Cloud Java Client with Google App Engine](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/APPENGINE.md) suggests that we should use `appengine-api-1.0-sdk` for Java 7 GAE standard environments.

Is there a repository for this `appengine-api-1.0-sdk` somewhere? Or is there something like release notes for each version? The closest thing I can find is this: http

[2017-09-20 21:13] ludoch commented on #1856
We believe it is now fix. Ray, please reopen if you still see the issue.

[2017-09-20 21:13] #1856 closed

[2017-09-20 21:14] ludoch commented on #2275
Should work with latest pub sub library.
Reopen if you still see it with updated libs.

[2017-09-20 21:14] #2275 closed

[2017-09-20 21:20] lesv commented on #2300
@ifigotin Can you retest w/ 0.24.0-beta
??

[2017-09-20 21:21] lesv commented on #2405
@ahzamfarhan Can you post a copy of your log?  (if it doesn't have any confidential info in it)

[2017-09-20 21:26] lesv commented on #2405
@ahzamfarhan Also, take a look at https://cloud.google.com/appengine/docs/standard/java/migrating-to-java8
for migration info.

[2017-09-20 21:27] derekhh commented on #2454
Another question that is quite relevant to the above one: what's the recommended way to use Pub/Sub in Java 7 GAE Standard environment? I found this: https://developers.google.com/api-client-library/java/ but I'm not sure whether this is still the recommended library to use.

[2017-09-20 21:39] lesv commented on #2454
These libraries need Java 8 to use. [migration](https://cloud.google.com/appengine/docs/standard/java/migrating-to-java8)

For Java 7, take a look at https://github.com/GoogleCloudPlatform/cloud-pubsub-samples-java/tree/master/appengine-push - it uses an older GAE specific library.  You'll want to check the versions w/ maven central and use the most recent.

[2017-09-20 21:39] #2454 closed

[2017-09-20 22:30] lesv commented on #2440
**metadata.google.internal** should only be hit if you are running in the cloud.  The environment variables should be set that you aren't in production.

Production is true if any of these EnvVar's are set:

GAE_DEPLOYMENT_ID | 402856547336086879
GAE_ENV | standard
GAE_INSTANCE | 00c61b117c3c060e0818e8018dc0bd8dcb7397a6ca2c8ca943c2c677c170a95b93027639697422
USER | appengine
GAE_VERSION | gaeinfo:2

[2017-09-20 22:31] lesv commented on #2339
THis should be fixed.  Please reopen if you retest and it's not.

[2017-09-20 22:31] #2339 closed

[2017-09-20 22:40] lesv commented on #2426
GAE Flex

[2017-09-21 02:38] neozwu commented on #2155
I tested some spanner sample code on GAE 8 today and with right IAM it should work now.

[2017-09-21 04:40] neozwu commented on #2453
@lbergelson from a quick scan of google-auth-client-java, it seems there's some [code change ](https://github.com/google/google-auth-library-java/releases/tag/v0.7.1) regarding compute engine credential in version 0.7.1. Can you help check whether you could repro this issue with auth 0.7.1 ? (I  saw you use gradle, so I assume simply declaring auth 0.7.1 as an explicit compile dependency should ov

[2017-09-21 19:22] lbergelson commented on #2453
@neozwu I tried running with 0.22.0 but forcing the version of auth to 0.7.1, and was unable to reproduce the error that way.  I also tried forcing 0.8.0 and wasn't able to reproduce the problem that way either.  So either I'm building it wrong or it's not the auth library.  From running `gradle dependencies` it looks like the force is working though.

[code]

[2017-09-21 20:44] droazen commented on #2453
@neozwu I was able to resolve the 404 error that @lbergelson reported by building a custom version of the latest master of `google-cloud-java` with the following patch applied:

[code]

So, it's very likely that the culprit is the `google-auth-client-java` change in 0.7.1 that @neozwu pointed out (https://github.com/google/google-auth-library-java/releases/tag/v0.7.1)

[2017-09-21 21:24] lbergelson commented on #2453
So it seems like the reason that I wasn't able to reproduce the issue by forcing 0.7.1 was that we're using the shaded jar, so the force statement wasn't actually replacing the dependencies.

[2017-09-23 03:34] tafypz commented on #2398
@Mistic92 I believe the issue occurs in spring-boot 2.0.0.M4 because it brings in io.netty:*:4.1.15. Final, Spanner seems to bring 4.1.14.Final (in 0.24.0-beta).
I have the same problem with spring-boot-starter-webflux 2.0.0.M4 but not 2.0.0.M3.

[2017-09-23 10:21] #2452 closed

[2017-09-24 10:43] JoshuaFox commented on #2309
@vam-google  @shinfan, @pcostell, @sai-pullabhotla  Thank you!

Probably not relevant now, but note  that  the old SDK in my path was *not* the one from the Eclipse that I used to run the unit tests. Also, note the strangeness that in Eclipse, `gcloud` emulator did *not* start up, so the downloaded one was successfully used, while in Maven, `gcloud` emulator *did* start up (and so was used, but it

[2017-09-24 20:11] lesv commented on #2398
Google libs bring in: 	netty-tcnative-boringssl-static 1.1.33.Fork26 which is incompatible with the 2.x.x of netty-tcnative

I'll ask the client library team if they can shade or upgrade this stuff.

[2017-09-25 20:41] droazen commented on #2453
Any suggestions on how we could go about dealing with this issue? Does anyone think that the hardcoded IP address added in https://github.com/google/google-auth-library-java/pull/110/files could be the cause?

[2017-09-25 21:59] #2155 closed

[2017-09-25 22:53] salrashid123 opened #2462 "Storage service should manage resumeable signedURL uploads"
google-cloud-java currently allows users to mint a signedURL but offers not way to separately manage the resumable upload given _just_ the signedURL.

The usecase for this is if i have in possession a signedURL that allows for resumeable uploads, i'd like to use google-cloud-java to manage the transfer for me.

some background:

 - a resumable transfer session requires a special header to get it g

[2017-09-25 23:45] andreamlin commented on #2442
In the constructor for DatastoreException
`public DatastoreException(int code, String message, String reason) `
the int `code` is meant to be an HTTP status code, e.g. 409 for "Already Exists" or 404 for "Not Found".

The Java Datastore library runs over HTTP 1.

[2017-09-25 23:46] andreamlin commented on #2442
Closing this issue for now.

[2017-09-25 23:49] andreamlin commented on #2441
Can you provide more details?

[2017-09-26 00:08] andreamlin commented on #2417
Is this for the com.google.cloud.datastore.Entity class?
If so, that neither the Entity class nor its Builder has a .set() method.

Can you provide a valid code snippet to clarify the issue?

[2017-09-26 09:25] JoshuaFox commented on #2309
I narrowed this down to minimal differences.

This batch file works.
[code]

The `javapath`  must be in the `PATH` if we want to avoid the connection error.
Strangely, with or without this `javapath`  entry, the same JDK 8 is used by Maven.

`gcloud` must *not* be in the path if we want to avoid the connection error: `d:\Program Files (x86)\Google\Cloud SDK\google-cloud-sdk\bin;`

[2017-09-26 19:09] sai-pullabhotla commented on #2442
@andreamlin -

I don't think the analysis is correct. The error code in the `DatastoreException `does in fact equals to one of the codes defined in https://github.com/googleapis/googleapis/blob/master/google/rpc/code.proto. This is not HTTP status code. HTTP status codes are translated to one of these codes in `HttpDatastoreRpc#translate` method. Here is a simple test case for you to run.

# Sampl

[2017-09-26 19:13] sai-pullabhotla opened #2463 "DatastoreException - Error Code/Reason are inconsistent when working with Emulator"
Since #2442 is closed, creating a new one. I've provided additional info/sample code to reproduce the discrepancy in #2442.

[2017-09-26 22:10] kir-titievsky opened #2465 "Pub/Sub streamingPull subscriber: large number of duplicate messages, modifyAckDeadline calls observed"
Large number of duplicate messages is observed with Pub/Sub streamingPull client library using code that pulls from a Pub/Sub subscription and inserts messages into BigQuery with a synchronous blocking operation, with flowControl set to max 500 outstanding messages.  See [1] for code.

For the same code, we also observe an excessive number of modifyAckDeadline operations (>> streamingPull message

[2017-09-27 00:09] #2392 closed

[2017-09-27 00:27] andreamlin commented on #2433
That line reflects the general Compute documentation at https://cloud.google.com/compute/ that says Google offers "High-Performance, Scalable VMs".

@elharo How would you see the Javadocs phrased?

[2017-09-27 01:50] pongad commented on #2465
@kir-titievsky Do you have a workload that can reliably reproduce this? If you do, could you try removing the flow control (hopefully the workload isn't so large that it crashes your machine)? If the problem goes away, this is probably a dup of #2452; the symptoms are nearly identical.

If this doesn't fix the problem, could you share the repro workload with me?

[2017-09-27 04:55] munasinghecm commented on #2441
This error occurs due to the protobuf version conflict. In my project, I have already used 'com.google.protobuf:protobuf-java:3.2.0'
'com.google.protobuf:protobuf-java-util:3.2.0'
dependencies.
But for the pubsub project, they asked to use
'com.google.protobuf:protobuf-java:3.0.0-beta-1' dependency.

As I observed this dependency mismatch cause for the error.

[2017-09-27 08:38] robertsaxby commented on #2465
The behaviour observed with [#2452](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2452) was seen with the older non streaming pull implementation (0.21.1-beta). This issue came about when using the newer client library. It might also be worth noting that with the Flow Control set to 1000 max messages on the older library duplicates where not seen, just the stuck messages.

[2017-09-27 09:31] vyasashish commented on #2266
<dependency>
      <groupId>io.netty</groupId>
      <artifactId>netty-tcnative-boringssl-static</artifactId>
      <version>2.0.5.Final</version>
    </dependency>
Adding this dependency worked for me.

[2017-09-27 10:07] frantello commented on #2000
Kindly see pull request #2422

[2017-09-27 10:08] frantello commented on #2462
Kindly see pull request #2422 for a solution for issue #2000

[2017-09-27 15:53] saturnism opened #2467 "Ability to set custom headers for outbond calls"
Some users can only make callout to external services via a proxy that may require authentication headers. Need a way (and doc) to set headers for outbound calls for REST and gRPC services.

[2017-09-27 18:12] tswast commented on #2424
For the best performance when [streaming data into BigQuery using Table.insertAll](https://cloud.google.com/bigquery/streaming-data-into-bigquery) it is recommended that you batch multiple rows (up to 10,000, but recommended 500) in the same request. From the [BigQuery quotas page](https://cloud.google.com/bigquery/quotas#streaminginserts):

If you have a CSV file, it's best to [use a load job](ht

[2017-09-27 18:12] #2424 closed

[2017-09-27 18:24] vam-google commented on #2391
Fix merged, closing.

[2017-09-27 18:24] #2391 closed

[2017-09-27 18:24] vam-google commented on #2439
Fix merged, closing.

[2017-09-27 18:24] #2439 closed

[2017-09-27 19:49] Electricks94 commented on #2424
Thank you very much for your answer and for pointing out that there is the writeDisposition option in BigQuery.
Of course, I can use a load job to upload my CSV file, but as I know then my CSV file must have a certain format. For example, I must format a column with a TIMESTAMP in a way BigQuery can understand. Otherwise my load job would fail.
Since we are using complete different TIMESTAMP forma

[2017-09-27 20:02] tswast commented on #2424
Regarding the load job method, you don't necessarily need to write to a temporary file. This sample shows how to make a load job using in-memory CSV data: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/8f7792580e9e3de9d3b8e1fb5f61f9dba413a660/google-cloud-examples/src/main/java/com/google/cloud/examples/bigquery/snippets/BigQuerySnippets.java#L328-L353

If you wish to use the insert

[2017-09-27 20:07] Electricks94 commented on #2424
Thanks for your fast answer. I will try your solutions.

[2017-09-28 00:30] andreamlin commented on #1044
Opened an internal changelist #170272287 to switch the API's internal proto definition for the load job skipLeadingRows to type int64.

[2017-09-28 05:11] pongad commented on #2465
@robertsaxby That makes sense. I can reproduce the messages getting stuck, but not redelivery.

@kir-titievsky I need a little help understanding the spreadsheet. Are all rows for the same message? I assume that `stream_id` uniquely identifies a StreamingPull stream? Ie, one physical computer can have multiple IDs by opening many streams, but one stream ID is unique to one computer?

FWIW, I have

[2017-09-28 06:58] Nosfert commented on #2417
Sorry for not providing enough info.

It's the BaseEntity and it's builder that I'm talking about.

My solution to the issue is as follows.
`
    private void setTimestampOrNull(BaseEntity.Builder builder, String key, Timestamp timestamp) {
        if (timestamp != null) {
            builder.set(key, timestamp);
        } else {
            builder.setNull(key);
        }
    }
`
Because a value

[2017-09-28 12:24] kir-titievsky commented on #2465
@pongad You are right on all counts about the spreadsheet.   All rows are for the same message, including traffic from several bidi streams, that had been opened at different times.

[2017-09-28 13:05] kir-titievsky commented on #2465
@pongad Did a couple experiments:
* No flow control, single machine: everything is acked within seconds  ~10 modify ack deadline operations for 10K messages.
* Added a synchronous 50ms sleep to every operation.  Got a peak of 7K modifyAckDeadline operations over a minute, about 10K total. modifyAckDeadline ops peaked around the same time as Ack operations.  Overall, ~2-3 minutes of activity.  This

[2017-09-28 18:06] andreamlin commented on #1044
The types are defined by the BigQuery API, and the API producer is hesitant to change protobuf field types in case of backwards-compatibility issues.

Closing this issue for now.

[2017-09-28 18:06] #1044 closed

[2017-09-28 23:06] asuresh4 opened #2468 "Getting labels from InstanceInfo class"
Like MetaData, Tags and other information about the instance is available through [InstanceInfo.java] (https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-compute/src/main/java/com/google/cloud/compute/InstanceInfo.java) would it be possible to get Labels of an instance from this class. I don't see a direct method that I could use. Also, if this method is left out int

[2017-09-29 00:31] andreamlin commented on #1689
Fixing #2428 may fix this issue, since [Http]BigQueryRpc.getQueryResults() only returns null when there's a 404.

[2017-09-29 15:09] andreamlin commented on #2441
Ok, so just to be clear, this isn't an issue with google-cloud-java/google-cloud-pubsub, it's just a dependency mismatch?

I'd suggest removing explicitly-defined dependencies on protobuf-java from your project, and just rely on the transitive dependencies from google-cloud-pubsub.

[2017-09-29 15:42] qorpus commented on #2266
Still seeing this issue in Ubuntu 17.04

`OS details:
  os.detected.name: linux
  os.detected.arch: x86_64
  os.detected.classifier: linux-x86_64
  os.detected.release: ubuntu
  os.detected.release.version: 17.04
JVM details:
  Java version: 1.8.0_131
  Java specification version: 1.8
  JVM bit mode: 64
OpenSSL details:
  open ssl is available: true
  ALPN is supported: true
Checking compatibility

[2017-09-29 17:36] #2428 closed

[2017-09-29 17:40] asuresh4 commented on #2468
I wonder if this has got to do something with the fact that both tags and labels were in sync in previously, which is not the case anymore.

[2017-09-29 19:00] saturnism opened #2472 "Add more convenient methods to com.google.cloud.Timestamp"
`com.google.cloud.Timestamp` exposes some convenient method to convert a common Java type to protobuffer timestamp. But it doesn't the same convenient methods to convert a proto timestamp back to the common Java type.

Timestamp can take in `java.util.Date`, `java.sql.Timestamp`, and `long` in microseconds.  It should also take in `long` for typical timestamp in milliseconds.

You can convert Time

[2017-09-29 20:36] andreamlin commented on #2442
The code sample is really helpful, thanks!

It looks like the discrepancy is due to different implementations of the emulator vs the actual Datastore backend.  I opened an internal bug #67105935 for the Datastore team to address.

[2017-09-29 20:37] andreamlin commented on #2463
:)
Reopened the original issue, which has all the context.
Closing this one as a duplicate.

[2017-09-29 20:37] #2463 closed

[2017-09-29 20:55] lbergelson commented on #2453
Does anyone have any input on this one?  It's important to us that we be able to upgrade.

[2017-09-29 21:10] andreamlin commented on #2417
Thanks for the clarification! Your `setTimestampOrNull()` example looks like a simple, clean workaround :)

The javadoc for the `set(String name, Timestamp value)` function, and others like it, say that it "sets a property of type TimestampValue, which "must be associated with non-null content" (see com.google.cloud.datastore.Value javadoc). If a null timestamp was passed in, there would be no way

[2017-09-29 21:29] neozwu commented on #2453
@lukecwik Could you comment on whether there could be any potential issues with hardcoded IP address for metadata server ? I saw you suggested an explicit IP vs domain name [here](https://github.com/google/google-auth-library-java/issues/109).

[2017-09-30 22:11] salrashid123 commented on #2462
also for ref
[google-cloud-dotnet's implementation](https://googlecloudplatform.github.io/google-cloud-dotnet/docs/Google.Cloud.Storage.V1/api/Google.Cloud.Storage.V1.SignedUrlResumableUpload.html)

[2017-10-02 19:46] qorpus commented on #2266
not having any luck resolving this one -> should I open a new issue for it?

[2017-10-02 22:03] lukecwik commented on #2453
GCE metadata server team specifically recommend using the IP address as a best practice to avoid DNS issues when contacting the metadata server.

Note that all of the Apiary client libraries have been using the fixed IP address for quite some time and to my knowledge have not experienced this issue.

The downside is that if the GCE metadata server team were to ever change the IP address of the met

[2017-10-03 04:17] samtstern opened #2475 "Docs site has strange text wrapping"
<img width="1433" alt="google-cloud-java" src="https://user-images.githubusercontent.com/8466666/31109779-0e5cd96e-a7b7-11e7-9f73-979a318f4f3b.png">

That's on my 13" Macbook Pro.  From playing with Chrome Dev Tools it happens when the width crosses 960px.

[2017-10-03 15:22] andreamlin commented on #2475
Duplicate of #2400.

[2017-10-03 15:37] samtstern commented on #2400
@vam-google confirmed from #2475 that 960px is the line at which things start getting wonky.

[2017-10-03 15:43] sceee commented on #2398
Thank you @lesv

[2017-10-03 16:03] jabubake opened #2476 "Organize packages better in `google-cloud-java` reference docs"
https://googlecloudplatform.github.io/google-cloud-java/0.25.0/apidocs/index.html

: it is confusing to the `.spi`,` .stub` , hand-written layer / auto-gen layer all listed together eg for `firestore`. The top category should only list the packages that the user is expected to use.

[2017-10-04 03:05] cakraww opened #2477 "Java client BigQuery.getTable returns a table with null schema when the table has no field"
To reproduce,
1. Create an empty BigQuery table without any field on its schema. Let's say it's table "tableA" on dataset "dataset1".
2. Running this code fails the assertion.
[code]

Is this expected behavior? Because we in fact can't create a TableDefinition with null schema as it's null-checked in `com.google.cloud.bigquery.TableDefinition.Builder`.
[code]
I think `BigQuery.getTable` on a table

[2017-10-04 06:57] Nosfert commented on #2417
Would it be possible to something like
`
builder.orElseSetNull().set(key, timestamp);
`
So that the developer can easily solve this without having to create their  own solution to this problem?

[2017-10-04 14:29] Tomczik76 opened #2479 "google-cloud-bigquery 0.25.0-beta BigQueryClient throws java.lang.NullPointerException: Required parameter jobId must be specified. When performing dry run query."
google-cloud-bigquery 0.25.0-beta

BigQuery bigQuery = BigQueryOptions.getDefaultInstance.getService
QueryRequest request = QueryRequest.newBuilder(sql).setDryRun(true).setUseLegacySql(false).build()
bigQuery.query(request)

Throws  java.lang.NullPointerException: Required parameter jobId must be specified.

[2017-10-04 15:14] hmigneron opened #2480 "Pub/Sub : Subscriber Exceptions"
Using version `0.20.1-beta` of the google-cloud-pubsub lib.

We use `com.google.cloud.pubsub.v1.Subscriber` objects that live for a long time (multiple hours / days). Our logs are filled with the same errors that occur over and over :

[code]

From what I can tell, this is fine. The errors are recoverable and we do get all the messages. The problem really is that it fills up our logs and triggers

[2017-10-04 15:52] Tomczik76 commented on #2479
It seems that this regression started in 0.23.0, the last working version is 0.22.1

[2017-10-04 17:28] brunovieira7 opened #2481 "Datastore - Too many external HttpURLConnection[datastore.googleapis.com] calls"
I have a java API on **GAE** using the **google-cloud-datastore** client as presented in the documentation. Measuring with newrelic why some requests were taking so long I found out that a single "get by key" makes 6 url connections to **datastore.googleapis.com** is this correct?

_the code is as simple as the examples:_

`private final Datastore datastore = DatastoreOptions.getDefaultInstance().

[2017-10-05 01:13] asuresh4 opened #2482 "Getting labels of Datasets (BigQuery) using the getLabels() in DatasetInfo"
I tried retrieving the labels I set on a Dataset through the UI and gcloud API using the getLabels() method in this class: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/DatasetInfo.java. I always a null value. I tried filtering on the same labels using the gcloud API and that works. Could you please look into the

[2017-10-05 04:03] qorpus opened #2483 "Error: Jetty ALPN/NPN has not been properly configured."
Related to #2266 - but is not resolved by anything in there either.

Stack trace

[code]

compatibility tool output.

[code]

[2017-10-05 04:06] qorpus commented on #2483
Happy to provide whatever other info is required.

[2017-10-05 04:11] qorpus commented on #2483
[tree.txt](https://github.com/GoogleCloudPlatform/google-cloud-java/files/1358007/tree.txt)

attached the maven dep tree, might provide some clarity.

[2017-10-05 04:12] qorpus commented on #2483
forcing 2.0.5.Final of netty-tcnative-boringssl-static has no change either.

[2017-10-05 09:56] siddharthmudgal opened #2484 "Behind proxy"
**Using the code from** : https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-examples/src/main/java/com/google/cloud/examples/vision/snippets/AnnotateImage.java

**Proxy jvm variables set as :**
-Dhttp.proxyHost="http://XXX.XX.X.X" -Dhttp.proxyPort="XXXX" -Dhttps.proxyHost="http://XXX.XX.X.X" -Dhttps.proxyPort="XXXX"

**Environment :**
Mac os 10.12
Eclipse neon 2
jdk

[2017-10-05 10:03] peter-gerhard opened #2485 "com.google.cloud.pubsub.v1.Subscriber how to await stop signal?"
Hi,
when im calling `stopAsync` on a subscriber i get the following exception:
[code]

the doc of the `startAsync` suggests to wait for a stop signal:
[code]
But i don't know what is meant by `done.get();`

version 0.25.0-beta

[2017-10-05 14:44] qorpus commented on #2483
also ensuring that it has the correct classifier for boringssl-static has no affect.

[code]

[2017-10-06 01:54] asuresh4 opened #2486 "BiqQuery API methods return null"
The following methods of the API ALWAYS return null value. Please have a look. Thanks!
`DatasetInfo.getLocation()`
`DatasetInfo.getCreationTime()`
`DatasetInfo.getDefaultTableLifetime()`
`DatasetInfo.getDescription()`
`DatasetInfo.getLastModified()`

This is also related to an initial issue I created: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2482

I created a sample dataset

[2017-10-06 03:53] pongad commented on #2475
I'll close this as duplicate. Please reopen if required.

[2017-10-06 03:53] #2475 closed

[2017-10-06 03:57] pongad commented on #2476
@garrettjonesgoogle You told me on IM that `.spi` should be removed from firestore right? Should `.spi.v1beta1` be merged into `.v1beta1`?

I don't actually think we ever decided on what to do with `.stub` packages. Should they have their own section in the overview?

[2017-10-06 04:09] pongad commented on #2480
I believe you can do something like this
[code]
to disable logging from package right? You should be able to set it to other levels as well.

FWIW, newer versions should, I think, spam a little less since streaming pull makes fewer calls.

How are you setting the logging to stackdriver. Did you register stackdriver as logging handler or something?

[2017-10-06 04:36] pongad commented on #2484
It looks like you're configuring firewall for HTTP requests. Vision uses gRPC, which doesn't honor these settings. I believe [this](https://github.com/GoogleCloudPlatform/google-cloud-java#using-a-proxy) should help you though.

[2017-10-06 04:36] #2484 closed

[2017-10-06 04:42] pongad commented on #2483
Hmm! I tried this locally in a new Maven project:
[code]
and was able to make a call to create metrics.

@qorpus Could you try creating a new Maven project to test? The code I used to test is this:
[code]
Are you using Tomcat or anything like that?

[2017-10-06 05:08] pongad commented on #2485
@peter-gerhard You're not doing anything wrong. The `done` here is a dummy `Future` that should return whenever you want to shut down the subscriber. For example, if you're writing a server, you might schedule for the future to complete when you send it a shutdown signal etc. The `stopAsync` method can be called whenever.

The exception isn't actually thrown from `stopAsync` but just logged right?

[2017-10-06 05:33] pongad commented on #2477
@vam-google @tswast Would you be able to look into this?

A quick fix for this is to add
[code]
It feels a little hacky to be able to leave the field null though.

Making the field non-null broke a bunch of tests, so I'm not sure if leaving the field nullable was a deliberate choice.

[2017-10-06 06:29] pongad commented on #2481
@brunovieira7 Thank you for the report. Unfortunately, I cannot reproduce this.

I ran the following code, which is pretty similar to yours:
[code]

In all iterations except the first, `get` takes less than 500ms.
To make sure, I also "hacked" this file to print "call" every method and verified that each iteration makes only 1 call.

Could you try running code similar to mine (maybe in GCE instanc

[2017-10-06 14:24] asuresh4 commented on #2486
Versions of the API I tried:

Google Cloud 0.21.1-alpha
Google Cloud 0.24.0-alpha
Google Cloud 0.25.0-alpha

[2017-10-06 14:56] garrettjonesgoogle commented on #2476
`.spi` is removed from auto-generated clients, but it's still used for the internals of manual clients. Thus, `.spi.v1beta` should stay where it is.

We should probably make a new section for `.stub` packages.

[2017-10-06 17:41] tswast commented on #2477
The way the [Tables API](https://cloud.google.com/bigquery/docs/reference/rest/v2/tables) was designed leaves it a bit ambiguous, I admit.

The relevant portion in the API:

[code]

Since `schema` is an optional object, it can indeed be omitted in responses or null. I think it would have been better if `schema` was just a repeated list of field, but this is what we have, so we do need to handle nu

[2017-10-06 17:42] tswast commented on #2477
:+1: on making the field non-nullable.

[2017-10-06 20:05] jabubake commented on #2483
@qorpus : have you set authorization credentials either using `gcloud auth application-default login` if running locally or using `GOOGLE_APPLICATION_CREDENTIALS` env var ?

[2017-10-06 20:07] jabubake opened #2488 "Add Firestore to `google-cloud` pom.xml"
https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud/pom.xml is missing `google-cloud-firestore`

[2017-10-06 22:05] hiranya911 opened #2489 "Dependency on gax not properly defined"
It seems Firestore client has a dependency on gax that is not properly defined. I get the following error when adding only Firestore to my project:

[code]

I have the following in my `pom.xml` as per https://firebase.google.com/docs/firestore/quickstart

[code]

I had to also add the following to get past the error:

[code]

[2017-10-06 22:54] hmigneron commented on #2480
Thanks for your answer. Ideally we would not want to set them off completely as we wouldn't want to miss important messages if they ever occur (do they ?). I will try different levels, though I imagine this means all messages are logged with the same severity.

The example I gave is meant to be a `WARNING` from the looks of it. I would like it to be logged as such if at all possible but am ready t

[2017-10-07 02:08] hmigneron commented on #2480
Just ran a few tests and unfortunately adding the initializer in the entry point of the app doesn't work.

[code]

The message still gets logged at the error level in the console.

[2017-10-07 02:10] hiranya911 commented on #2266
I'm getting this on App Engine (java7 runtime):

[code]

[2017-10-07 02:11] hiranya911 opened #2490 "Firestore on App Engine (java 7) Results in Exceptions"
Got the following error with Firestore on App Engine (java7):

[code]

[2017-10-07 11:34] TheSkripterDK opened #2491 "Dependency Errors While Using Maven shade jar"
Okay so I use maven shade jar here is my pom.xml https://pastebin.com/6rASfHss

but I get these errors https://pastebin.com/xpTDApiL
I compile using clean package
have done a google search and it looks like it has something to do with guava

[2017-10-09 01:03] pongad commented on #2480
@hmigneron I posted [PR](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2492) that should make new versions spam you less.

I think the reason you're still seeing the logs is that `setLevel` means the logger will only generate logs that that level *or higher*. Since the logger is set to `INFO`, it will continue to log `WARNING` since warnings are considered higher level than infos.

[2017-10-09 09:50] peter-gerhard commented on #2485
Hello @pongad, thx for the reply.

Exactly.

Thats what it looked like to me. It doesn't do anything bad but the output mixed with my test logs and it was confusing since the error suggests a high severity.

Thx for taking care.

[2017-10-09 13:17] brunovieira7 commented on #2481
The performance is not an issue since when I breakdown the calls to "datastore.googleapis.com" **each** call does not take that long.

I can only see those internal client calls using the newrelic agent. It detects external calls from the API and measures the time it takes. I don't know what the client is doing under the hood, just think it's odd to make 6 calls for a get.

the calls to "accounts.

[2017-10-09 14:11] jabubake commented on #2480
Given these logs are being directed to stdout, it is picking up individual lines as log entries.
I believe there is a way to structure the log via appender as JSON to avoid this problem. @saturnism may be able to help.

Another option is to use the [Stackdriver logback appender](https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/logging/logback) / [java.util.logging handler](http

[2017-10-09 16:30] hmigneron commented on #2480
Thanks to both of you for the PR and for your help.

It took me a while, but I ultimately understood that in our case the logs were being direct to stderr (not sure if this is a default but I don't think we configured anything for that) which is why every single line was considered an error on stack driver.

The solution I came up with is to replace the default ConsoleHandler with a custom one :

[2017-10-09 17:15] jabubake commented on #2480
Hope this helps : https://cloud.google.com/solutions/customizing-stackdriver-logs-fluentd

[2017-10-09 19:19] frankyn opened #2494 "[Request] Verify User Project methods comments are not ambiguous"
General Request:

Verify that the comments are clear for methods which accept User Project with and without Requester Pays.

Here's a distinction between Requester Pays and User Project:
User Project: Is a request metadata field that is used to assign Storage operational costs to a specified project.

Requester Pays: Is a bucket-level metadata field that is used to enforce the use of the User Proj

[2017-10-09 21:47] hiranya911 opened #2496 "java.lang.ClassNotFoundException: com.google.api.gax.rpc.ClientSettings when using Firestore"
I'm seeing following test failures in my project when trying to use Firestore.

[code]

So far the solution seems to be adding the following as a dependency to my project:

[code]

Perhaps Firestore should declare this dependency explicitly.

[2017-10-09 22:23] hiranya911 opened #2497 "FR: Expose GrpcForestoreRpc.close() via Firestore"
`GrpcForestoreRpc` class has a [`close()`](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-firestore/src/main/java/com/google/cloud/firestore/spi/v1beta1/GrpcFirestoreRpc.java#L134) method, which cleans up any allocated resources (client stubs, threads pools etc) and terminates the client. This should be exposed via `Firestore` interface so the users can gracefull

[2017-10-10 00:45] #2480 closed

[2017-10-10 07:16] wguerlich commented on #1325
**@sai-pullabhotla** Unfortunately that's not true... they are **NOT** the same type when read through the AppEngine API.
When reading BLOBs or Text values written through the Cloud Datastore API it will depend on the size of the value written how they will appear in AppEngine. If they're no larger than 1500 bytes they will appear as ShortBlob (which isn't a sub-class of Blob) and String respectiv

[2017-10-10 09:29] chenav opened #2499 "Google-cloud-language: No such Method Error on gax grpc"
I used a service account authentication, through an environment variable.

Using this pom configuration:

[code]

I had to manually add gax libs, because dependencies were not resolved by the google-cloud-language pom.

I get this error, at run time, trying to execute the example from the Google Natural Language description page :

[code]

Any hint to solve this ?

[2017-10-10 13:40] rdmoore opened #2501 "Strange subscriber behavior - long delays between message delivery"
I recently got back to working on a project that incorporates pub/sub that had been on the shelf for a couple of months. I switched to 0.24.0-beta of the pub/sub client and I'm now seeing strangeness on the subscriber side: my subscriber often does not receive messages (for a long time). In the most recent experiment, I published a single message and the subscribe received it 20+ minutes later. So

[2017-10-10 14:41] lukasz-szewc opened #2502 "io.grpc.StatusRuntimeException: UNAVAILABLE is happening after some time"
I have expected strange behavior of pubsub client application. App is running and after some time it is producing (out of nowhere) following exception:

<pre>

2017-10-06 08:23:58 [pool-6-thread-9] WARN  c.g.c.p.v.StreamingSubscriberConnection - Terminated streaming with exception
io.grpc.StatusRuntimeException: UNAVAILABLE
        at io.grpc.Status.asRuntimeException(Status.java:526)
        at i

[2017-10-10 16:20] lukasz-szewc commented on #2502
If that is timeout related issue, and we can configure that - please provide advices how to deal with it.

[2017-10-10 16:23] brunovieira7 opened #2503 "Latest Datastore + Pubsub clients libraries conflict"
I had a project with the latest datastore client (1.7.0) and added the pubsub client (0.25.0-beta).
When I tried to publish a message, it would not publish my message and hang forever with no error

after making some tests I found out those two clients had a conflict in their dependencies.
Datastore uses **com.google.cloud.datastore:datastore-v1-protos:jar:1.3.0** that depends on **com.google.prot

[2017-10-10 20:51] AgentME commented on #2502
I have a simple application listening on pubsub running in GKE on the same google-cloud-pubsub version, and I've been getting the same stacktrace 4 times in quick bursts regularly every 2 hours.

Additionally, for me it seems like during or shortly after these exception bursts is the only time the application receives pubsub messages. Pubsub messages queue for hours until one of these exception bu

[2017-10-10 21:06] DazWilkin opened #2504 "Auth problems App Engine J8/Std --> Stackdriver Montoring API"
### Problem

Cloud Client Libraries (including Cloud Monitoring API v3) support Application Default Credentials and should use the App Engine service account to authenticate against other services. This does not appear to work as intended|documented:

com.google.api.gax.rpc.UnauthenticatedException: io.grpc.StatusRuntimeException: UNAUTHENTICATED

A colleague provided a hack that obtains an access

[2017-10-10 23:14] jabubake commented on #2503
@garrettjonesgoogle, @vam-google  FYI, should n't this have been caught prior ?

[2017-10-10 23:18] jabubake commented on #2496
@hiranya911 :
This sample works with just the Firestore dependency.
https://github.com/GoogleCloudPlatform/java-docs-samples/tree/master/firestore

Can you share your dependency tree ? Possible there's a conflict, requiring you to add this dependency explicitly.

[2017-10-11 01:02] hiranya911 commented on #2496
[code]

It looks like due to the old version of google-cloud-storage, which pulls in an older version of gax. I'll try upgrading.

[2017-10-11 01:27] hiranya911 commented on #2496
GCS upgrade is working for me. Closing the issue.

[2017-10-11 01:27] #2496 closed

[2017-10-11 03:26] dkushner commented on #2502
We are experiencing the exact same behaviour as @AgentME mentions. I see in another ticket that a support ticket was opened up with GCP, has there been an update?

[2017-10-11 09:00] BorisB-Tradair opened #2505 "How to support insert NULL values in bigquery.insertAll"
I followed the official example of [Streaming insert examples](https://cloud.google.com/bigquery/streaming-data-into-bigquery), and came across with a problem:
the _insertAll_ command, does not accept **a null value** in the Map I pass it.

**Code example:**
        Map<String, Object> rowContent = new HashMap<>();
        rowContent.put("fname","David");
        rowContent.put("lname",null); //he

[2017-10-11 14:33] meltsufin opened #2506 "Pub/Sub StreamingSubscriberConnection : Terminated streaming with exception"
See related issue on the spring-cloud-gcp project at https://github.com/spring-guides/gs-messaging-gcp-pubsub/issues/4.

[2017-10-11 15:58] lndbrg commented on #1573
This is sorely needed for us. I am currently blocked in a place where I have two conflicting guavas, on in a classloader I can control the other in one i can not control (writing a plugin, that depends on another plugin). Where the plugin I depend upon uses the appllication classloader (and gets guava 11) but the google cloud library I use requires guava 20.

Can you prioritise this higher? Exposi

[2017-10-11 16:06] lndbrg commented on #1573
This is sorely needed. Is there a way to get a higher priority on this? Exposing a dependency on such a widely used library is a big mistake.

[2017-10-11 16:08] qorpus commented on #2483
@jabubake - yeah that all seems fine, because if we roll back to 1.1.0 env it works correctly!

[2017-10-11 16:08] i11 commented on #1573
Hey! Any estimation on when this could go in? We have a few cases where this causes quite a bit of pain.

[2017-10-11 16:31] jabubake commented on #2483
vertx brings in an older version of netty, and possibly causing your issue, can you try adding
a `dependencyManagement` section ?
[code]
Looking at your dependency tree, likely you need to manage your guava version.

[2017-10-11 18:34] vam-google commented on #2503
@jabubake Yes it should have been. The problem here is that there are many various dependencies in google-cloud-java and unfortunately sometimes things like this happen. We have a task of creating BOM (bill of materials) artifact, which should fix issues like this.

[2017-10-11 19:37] Ghazgkull commented on #1381
@garrettjonesgoogle Would you mind summarizing the resolution of this one? As a user of the emulator, how do I get it to stop logging this warning?

It's particularly a problem when using docker-compose to run a number of containers, as the pubsub container spam consistently scrolls away the output from other containers.

[2017-10-11 21:10] clettenberg opened #2507 "Spanner: LIKE with bound parameter ignoring index"
I have a query that uses `LIKE` and has a bound parameter with a tailing wildcard.

The index (IX_USERS_TYPE) has both the `TYPE` and `ADDRESS` columns. I would expect the amount of rows scanned to equal the amount of matches to the string preceding the `%`.

When I run the following query, I expect it to only scan 1 row based on the address I am using. It _actually_ does a full table scan of all

[2017-10-11 22:02] qorpus commented on #2483
@jabubake - tried that out, added in a raft of depManagement for netty packages, but alas no luck

[code]

[2017-10-11 22:03] qorpus commented on #2483
@pongad - not using tomcat, we are using Apache Ignite and Springboot though.

Will try out your suggestion and post results.

[2017-10-11 22:36] qorpus commented on #2483
@pongad - that worked fine, so clearly I am having some dependency conflicts.

[2017-10-11 23:18] pongad commented on #2481
Looking at the [code](https://github.com/GoogleCloudPlatform/google-cloud-datastore/blob/d9877c1cbc399d5ec9dd43ebb6a849f7d35b968a/java/datastore/src/main/java/com/google/datastore/v1/client/Datastore.java#L58) actually doing the RPC call but quite baffled how the factor of 6 is coming from. I've reached out to Datastore team who has more experience with this.

[2017-10-11 23:31] pongad commented on #2506
Good timing :smile: ! I just submitted this [PR](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2492) to solve the problem.

The pubsub server sometimes terminate the stream proactively. We catch this, sleep a bit (just in case the server is heavily loaded), and reconnect. This is OK, but we log it at high severity which makes the log looks scary. The linked PR lowers the severity i

[2017-10-11 23:33] #2485 closed

[2017-10-11 23:53] mihania opened #2509 "google-cloud-datastore Entity.isUnindexedProperty API"
In com.google.appengine.api.datastore.Entity we had an API to get whether an entity is indexed by callling com.google.appengine.api.datastore.Entity.isUnindexedProperty(String propertyName) during the read time.

Is there an API in google-cloud-datastore that provides the same capability during the read?

[2017-10-12 04:07] jabubake commented on #2490
@hiranya911 : Please test on App Engine J8, gRPC libraries are not supported on App Engine J7.

[2017-10-12 04:08] jabubake commented on #2489
@hiranya911 : is this a duplicate of https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2496 ?

[2017-10-12 04:14] jabubake opened #2512 "Pub/Sub on failures must return `ApiException` and not `io.grpc.StatusRuntimeException`"
Currently, the following code on publishing to a non-existent topic returns `io.grpc.StatusRuntimeException` instead of an `ApiException`.
[code]

[2017-10-12 05:54] lvc opened #2514 "API report for Google Cloud Storage"
Hi,

Here is the report on API changes and backward binary compatibility for the Google Cloud Storage library: https://abi-laboratory.pro/java/tracker/timeline/google-cloud-storage/

The report is generated by the https://github.com/lvc/japi-compliance-checker tool for jars at http://central.maven.org/maven2/com/google/cloud/google-cloud-storage/ according to the article https://wiki.eclipse.org/E

[2017-10-12 09:40] lukasz-szewc commented on #2502
@AgentME  is right , exactly the same behavior I am experiencing. Application is in the state when there are no messages to consume. Exception like above happens regularly every 2 hour and it is followed by this:

<pre>
DEBUG c.g.c.p.v.StreamingSubscriberConnection - Initializing stream to subscription projects/kohls-ocf-lle/subscriptions/ocf-oic-dev027-safetystock-inbound-sub with deadline 10
</p

[2017-10-12 09:42] lukasz-szewc commented on #2501
Related to #2502

[2017-10-12 12:00] sai-pullabhotla commented on #2509
@mihania  - The below should work.

[code]

[2017-10-12 12:14] younas-bangash opened #2515 "DuplicateFileException"
I am sorry to say google cloud is not have good supporting documentation as compared to AWS cloud

I am using the below code

[code]

When I run the code I see the following errors

[code]

[2017-10-12 13:08] meltsufin commented on #2506
@pongad I'm not sure if the PR fixes it though. The OP was saying that they stop receiving messages altogether. So, it's not just a logging issue as far as I understand.

[2017-10-12 15:25] garrettjonesgoogle commented on #2512
This needs to be fixed before GA. BTW, switching to the GAPIC client would fix this.

[2017-10-12 16:25] jabubake commented on #2514
@frankyn FYI

[2017-10-12 16:26] jabubake commented on #2512
What do you mean switching to GAPIC clients though ?
I thought the `Publisher` / `Subscriber` is what we expect users to always use to publish / subscribe ?

[2017-10-12 16:34] garrettjonesgoogle commented on #2512
I mean using the GAPIC client in the implementation instead of the generated grpc stub.

[2017-10-12 17:24] emilianbold opened #2516 "How do I configure the firewall?"
Hello,

I can't seem to find a way of configuring any kind of firewall rules on an instance or project from Java.

I'm able to launch a machine with SSH but I would like to also control who gets to connect.

The EC2 Java API has the authorizeSecurityGroupIngress method where I can define a CIDR, ports and protocols. I expect something similar from Google Compute Engine.

[2017-10-12 17:58] PRMEDIASTORE opened #2517 "Method for assigning custom metadata missing"
I'm trying to pass custom metadata like uid ('x-goog-meta-uid') in the header, but I can't find an option to sign the url with this additional piece of information. Is this available on the java library? I've got below so far..

URL uploadUrl = storage.signUrl(
                blobInfo,
                5,
                TimeUnit.MINUTES,
                Storage.SignUrlOption.httpMethod(HttpMethod

[2017-10-12 19:18] mihania commented on #2509
thank you, @sai-pullabhotla! That's exactly what I needed.

[2017-10-12 19:18] #2509 closed

[2017-10-12 20:19] vkedia commented on #2507
I would recommend to use `STARTS_WITH(S.ADDRESS, @userAddress)` instead of `CONCAT`. Then even with query parameters, you would see that only the matching rows are scanned and not the full table.

[2017-10-12 20:19] #2507 closed

[2017-10-12 21:30] neozwu commented on #2486
Hi, @asuresh4 I think you are looking for those attributes of a dataset, did you try dataset.getCreationTime(); dataset.getLocation(); dataset.getDefaultTableExpirationMs(); dataset.getDescription();  dataset.getLastModifiedtime();

[2017-10-12 21:40] neozwu commented on #2515
@younas-bangash thank you for your feedback. Can you give more information regarding your environment and project setup, because the error message you provide is quite confusing - they are definitely two different files - so I was wondering whether each of the two files is duplicated somewhere else ?

[2017-10-12 21:51] asuresh4 commented on #2486
@neozwu Full code:

[code]

On invoking the above method, the output I get:

[code]

I did not try: `dataset.getDefaultTableExpirationMs()` and `dataset.getLastModifiedtime()`. But I also don't find those methods here: https://googlecloudplatform.github.io/google-cloud-java/0.25.0/apidocs/index.html

[2017-10-12 21:58] neozwu commented on #2517
@PRMEDIASTORE It seems to me client library in this repo does not support signing url with header yet. However, you maybe able to use `ServiceAccountCredentials.sign()` to sign a "signature string", then base64 encode the string and assemble the URL.  Here's reference: https://cloud.google.com/storage/docs/access-control/create-signed-urls-program

[2017-10-12 22:02] PRMEDIASTORE commented on #2517
@neozwu you're right - someone else found the same issue, and have submitted a PR for this.
https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2000

[2017-10-12 22:08] neozwu commented on #2504
Hi @DazWilkin on App Engine J8 std, the underlying credential is actually ComputeEngine Credential, which is obtained through http call to metadata ([code](https://github.com/google/google-auth-library-java/blob/60870c90a9baffadb5c4d229b1b1d6daae86bca5/oauth2_http/java/com/google/auth/oauth2/DefaultCredentialsProvider.java#L193)). I suspect something is wrong with obtaining ComputeEngine credentia

[2017-10-12 22:13] neozwu commented on #2499
Hi @chenav, can you share the output of "mvn dependency:tree" ?

[2017-10-12 22:21] DazWilkin commented on #2504
@neozwu -- I included a Gist reference hoping that would help. If not, please let me know what you need and I'll provide. Heading out on vacation tomorrow so will do this today if I can.

[2017-10-12 22:39] lbergelson commented on #2453
@neozwu @lukecwik Does anyone have any suggestions about how we can proceed?  Is there some information we can provide that would be helpful for debugging this?

[2017-10-12 23:00] chenav commented on #2499
There you go:

[code]

[2017-10-12 23:12] lukecwik commented on #2453
Since you have a complicated setup, it would be best if you tried executing a simple program which only invokes the google-auth-library-java 0.7.1 from within the environment without adding additional dependencies which would exclude your network/host setup from the failure scenario or shell out and use curl to contact the metadata server from your application and log what you get back using the I

[2017-10-12 23:35] #2476 closed

[2017-10-13 01:14] pongad commented on #2481
@brunovieira7 Datastore client had a bug where connections are not reused which results in an SSL handshake every request. This has been recently fixed, so I'd expect that the client will perform better the next release. We don't think this explains the 6 calls though.

New Relic is a black box for us; without knowing how it counts calls, it's difficult to debug. In [this branch](https://github.co

[2017-10-13 03:50] pongad commented on #2506
@meltsufin Ah I'm sorry I misread.

There are two known issues that might have caused this.

The first suspect: We exponentially back off but previously did not cap the reconnect time. So we'd reconnect eventually but after a long long long time after a while. This was fixed by [this PR](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2409/) and should have gone out in v0.23.0. Do yo

[2017-10-13 09:37] jmtiong opened #2520 "com.google.cloud.RetryParams not found in google-cloud-core jar"
Hi! I am trying to implement my own `RetryParams` to alter the maximum number of reattempts made by my storage service. However, I could not import `RetryParams` and it could not be found anywhere even though it is stated in the docs, [RetryParams](http://googlecloudplatform.github.io/google-cloud-java/0.7.0/apidocs/com/google/cloud/RetryParams.html).

Am I missing something or am I implementing t

[2017-10-13 13:46] meltsufin commented on #2506
We're on `0.24.0-beta`. So, I think it might be the second suspect.
Since the application is containerized, do you suggest adding that line to the `Dockerfile`?

[2017-10-13 18:37] neozwu commented on #2520
hi @jmtiong `RetryParams` has been renamed to `RetrySettings`. The method is here: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-core/src/main/java/com/google/cloud/ServiceOptions.java#L212

[2017-10-13 19:56] neozwu commented on #2488
fixed in #2521

[2017-10-13 19:56] #2488 closed

[2017-10-14 06:29] younas-bangash commented on #2515
Android Studio Version  : 2.3.3

buildgraddle app

[code]

[code]

[2017-10-14 10:06] younas-bangash opened #2526 "java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured."
I use below code in order to perform Face detection

[code]

but I am facing the error

[java.lang.IllegalArgumentException: Jetty ALPN/NPN has not been properly configured.](url)

[2017-10-14 10:08] #2515 closed

[2017-10-14 14:13] vipulnaik opened #2527 "File write errors when writing small files"
Similar to #723.

Version of GCloud running: default versions provided with dataproc on Google Compute Engine. Looks like these are:

Google Cloud SDK 174.0.0
alpha 2017.10.02
beta 2017.10.02
bq 2.0.27
core 2017.10.02
gsutil 4.27

Here is the code we are using to write files:
[code]
Here is the error that sometimes gets thrown when writing short files (about 550 bytes) when running Spark jobs via

[2017-10-14 15:08] sceee commented on #2398
@lesv is there a workaround for this problem I could use while waiting for the client library team to fix this?

[2017-10-15 19:04] tafypz opened #2528 "Provide libraries compatible with 'io.netty:netty-tcnative-boringssl-static:2.0.6.Final'"
Spring Boot as of version 2.0.0.M4 is not compatible with ```io.netty:netty-tcnative-boringssl-static:1.1.33.Fork26``` it requires ```io.netty:netty-tcnative-boringssl-static:2.0.6.Final``` especially for the reactive spring-boot-starter-webflux package. This causes google java api to not be usable with the newest version of spring boot.
It would be great if you could either shade the dependency o

[2017-10-15 19:09] sceee commented on #2266
Is this probably a duplicate of #2398 ?

[2017-10-15 19:10] sceee commented on #2526
@younas-bangash probably a duplicate of #2398 , see that issue.

[2017-10-15 19:52] #2526 closed

[2017-10-16 00:20] pongad commented on #2506
I think it should be OK to add the command to fix the immediate problem.

For the longer term fix, gRPC just released 1.7.0 which contains the new feature we need. I've just created [PR](https://github.com/googleapis/gax-java/pull/382) to update the dependency; the master branch should get the fix in a few days. (I'm in Australia, so code review latency is a little high.) After this change is rele

[2017-10-16 02:38] #2520 closed

[2017-10-16 02:44] jmtiong opened #2529 "How to test setRetrySettings() for Storage"
Hi everyone! I have implemented the code as shown
[code]
### How I Test ###
But when I tested it, it seems that it is still attempts to connect for 10 times before it died.
I tested it by turning off the network connectivity and attempts to call the function to upload a file.
This is my uploading call:
[code]
## RESULT ##
If it is any help, the error is :
[code]

[2017-10-16 16:48] brunovieira7 commented on #2481
Just did that and it prints the same here as it did in your tests, 11. I don't know if the connection reuse fix came with 1.8.0 but I tried that version as well and it still gives me 6 calls per access

[2017-10-16 21:40] bjwatson commented on #2117
FYI @anthmgoogle and @lukesneeringer

[2017-10-16 23:38] jean-philippe-martin commented on #2453
I was able to reproduce the same exact error running gatk PrintReadsSpark on a fresh Dataproc cluster with no special configuration applied. This suggests cluster/firewall misconfiguration may not be the problem.

My repro's very short:

[code]

[2017-10-17 00:59] Temikus commented on #2481
@pongad called me into this thread as I've had a bit of experience with NewRelic before.
@brunovieira7 We'll likely need some additional information to figure out where the counts are originating from.

From the looks of it the screenshot provided looks like an overview screen of a "Transaction Trace" You should be able to go to "trace details" screen to view where those components showed up withi

[2017-10-17 06:06] rajithavk commented on #2506
@pongad `sudo /sbin/sysctl -w net.ipv4.tcp_keepalive_time=60 net.ipv4.tcp_keepalive_intvl=60 net.ipv4.tcp_keepalive_probes=5` this may not work for Docker containers, it was said somewhere that docker restricts certain kernel parameter tuning for security reasons. At least the options were not avaialble under /proc/sys/net/ipv4/ for the images I checked.

[2017-10-17 11:03] pongad commented on #2506
OK, we'll prioritize gRPC 1.7. @garrettjonesgoogle Is there anything blocking us from releasing new gax? I can pick this up if Seattle folks are busy.

[2017-10-17 14:08] garrettjonesgoogle commented on #2506
There's nothing blocking us.

[2017-10-17 15:28] droazen commented on #2453
That's great @jean-philippe-martin -- now we're getting somewhere! Can you test whether the error goes away if you build a custom `google-cloud-java` shaded jar with `google.auth.version` downgraded to `0.7.0`, as described in https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2453#issuecomment-331276331?

[2017-10-17 15:38] brunovieira7 commented on #2481
@Temikus thats the transaction breakdown, what it does is exactly the code @pongad asked me to try out. The only other thing I can do is zooming in the particular External segment **HttpURLConnection[datastore.googleapis.com]** which doesn't say much. (I'm including those screenshots as well, just in case)

I also did what you asked, log wise. Maybe you guys can detect something so I'm sending it

[2017-10-17 15:55] lukecwik commented on #2453
Your repro package still seems like it brings in a bunch of dependencies via Spark/CloudStorageFilesystem.

From your simple application, try shelling out and sending a curl request by using the raw IP address and the non IP address version:
* curl "http://169.254.169.254/computeMetadata/v1/instance/service-accounts/default/token" -H "Metadata-Flavor: Google"
* curl "http://metadata/computeMetadat

[2017-10-17 17:06] jean-philippe-martin commented on #2453
`CloudStorageFilesystem` is part of `google-cloud-java`, though, it counts. I can try directly shelling out but surely this is already covered by your tests and is going to work.

[2017-10-17 23:55] lesv commented on #2398
@sceee There is probably some shading you could to to work around this.

What @vam-google was trying to get in your dependency tree was to figure out which library was causing the problem and to recommend a solution.  If you give us the full tree, we might be able to help.  If it has things you don't want the public to see, just remove those lines.

[2017-10-18 09:06] pongad commented on #2481
@brunovieira7 @Temikus
I did more investigation, this time looking directly at TCP packets.

**Test setup**
I modified the test script. Now it does not create an entity; it just looks up an entity once. (otherwise there'd be too many packets to look at.)

On my dev machine, I used wireshark with filter "host datastore.googleapis.com".

**Results**
Throughput the run of the test program, Wireshark

[2017-10-18 15:24] aalexand commented on #2481
@pongad Out of curiousity, what was the commit / PR that fixed the connection reuse issue?

[2017-10-18 17:30] sceee commented on #2398
@lesv @vam-google  oh sorry, I did misinterpret it. I thought you already figured out the problem and the solution will be to update netty internally in the PubSub lib.

So here's my full tree for the gradle configuration runtime. If this configuration is not enough, please let me know. I wanted to avoid having it too much.

The application itself:
[code]

My own library used by the application -

[2017-10-18 19:54] atilelliCSS opened #2534 "Large number of duplicate messages when small delay is added before message ack"
The customer is experiencing a large number of duplicate messages from pubsub when adding a delay before the `consumer.ack` The customer supplies code with sleep thread to simulate process on the process on a message before ack. This sleep time is below the ack timeout threshold for messages, However there is still a large number of duplicate messages.

-> In the back end charts, it shows a large

[2017-10-18 20:16] patflynn opened #2535 "Translate: Invalid credential path in GOOGLE_APPLICATION_CREDENTIAL results in "The request is miss a valid API key." error"
# Steps to reproduce:

1. Configure a Java project  with the cloud-translate Java library
[code]
 or use [one I prepared earlier](https://github.com/patflynn/spring-boot-with-cloud-libraries).
1. Make sure your code makes a translate API call.
1. export GOOGLE_APPLICATION_CREDENTIALS='/a/no/good/path/to/nothing' as part of your project's run configuration.
1. Run your code.

# Observe in your logs

[2017-10-18 20:25] pongad commented on #2481
@aalexand It was fixed in the lower-level Datastore client that we wrap. The lower level client fixed it in [this PR](https://github.com/GoogleCloudPlatform/google-cloud-datastore/pull/181), and we updated the dependency [here](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2508)

[2017-10-18 21:21] pongad commented on #2534
This is a known issue. See #2534. I'll close this as duplicate. Please reopen if you believe it is a separate issue.

[2017-10-18 21:21] #2534 closed

[2017-10-18 21:32] pongad commented on #2465
To summarize: This is an issue on the server side. Currently the client library does not have enough information to properly handle ack deadlines.

In the immediate term, consider using `v0.21.1`. That version uses a different (slower) pubsub endpoint, that isn't affected by this problem.

[2017-10-19 10:43] ardias opened #2536 "What is the rate limiting on Cloud Monitoring calls"
Hi,
I haven't been able to find in the documentation what is the current rate limit, in calls/sec, for calls to cloud monitoring, specifically to "listTimeseries". Also, i haven't been able to see waht is the current limit for returned data for this same call.

Any pointers would be really appreciated!

[2017-10-19 12:10] gridcellcoder opened #2537 "Google Cloud Logging PERMISSION_DENIED when running in docker"
I have an application that uses cloud logging

[code]

using
[code]

where ${gcp.version} =1.7.0

When I run this Java application from command line, maven logger works fine and I can see the output in cloud logging.

When I run this in gitlab-ci or docker I get:  Caused by:

[code]

I am quadruple sure (using lots of debugging and printing) that the logger is being initiated with a service accoun

[2017-10-19 21:45] lesv commented on #2398
Wow!

You've got three versions of Netty between Flink & Flakka & Zookeeper.  We aren't the oldest version.

The maven `<dependencyManagement>` can be used to lock a specific version.  I would suggest starting with 4.1.14.Final.

[2017-10-20 00:40] danoscarmike opened #2538 "Firestore README link to examples 404s"
Please check and update link to [code examples](https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-firestore#google-cloud-java-client-for-firestore)

[2017-10-20 00:50] lesv commented on #2483
#grpc/grpc-java/3025 talks about this at length.

[2017-10-20 00:53] lesv commented on #2483
grpc/grpc-java#3025 is probably the canonical issue for this.

[2017-10-20 00:56] lesv commented on #2407
grpc/grpc-java#3025 is the canonical issue for this.

[2017-10-20 00:59] lesv commented on #2398
grpc/grpc-java#3025 is the canonical issue for this.

[2017-10-20 04:40] #2538 closed

[2017-10-20 05:20] maxqch opened #2540 "Spanner java client + service account without write permission causes high error rate (403)"
Steps to reproduce:

1. Create a service account without write permission.
2. Initialize an instance of DatabaseClient with default options and credentials from above.
3. Check the API dashboard (console.cloud.google.com/apis/dashboard), there will be a bunch of 403 errors.

I dug into this a bit and found out that it is due to the default settings of

    com.google.cloud.spanner.SessionPoolOptio

[2017-10-20 14:43] danieln100 commented on #2502
We are experiencing the same problem.

[2017-10-20 16:23] danoscarmike commented on #2494
Ping @garrettjonesgoogle can you PTAL

[2017-10-20 16:41] kir-titievsky opened #2542 "BatchSettings.builder().build() encourages failure by making required arguments optional"
Current pubsub Publisher settings seem to require an instance of BatchingSettings with multiple values set to non-null values. However, the builder pattern encourages setting a single setting at a time.  For example, I wanted to make sure that messages were batched into 100 messages batches. So I did this:

`publisher = Publisher.defaultBuilder(topicName).setBatchingSettings(
                Batch

[2017-10-20 17:07] garrettjonesgoogle commented on #2542
What about giving everything defaults, so that it's ok if you only set one value?

[2017-10-20 17:42] hiranya911 commented on #2489
Correct. I believe we can close this. Thanks @jabubake

[2017-10-20 17:42] #2489 closed

[2017-10-20 21:11] jean-philippe-martin commented on #2453
I can confirm that shelling out from the app works as expected (and so does directly ssh'ing to the Dataproc cluster nodes).

[2017-10-20 21:13] dclements opened #2543 "BigQuery's QueryResultsOption.maxWaitTime Not Respected"
I may be missing something very simple, but the `QueryResultsOption.maxWaitTime` does not appear to be followed.

Version: `0.26.0-beta`.

Code sample below:

[code]

This is based on the example from: https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-bigquery

I expected this to block for 1 s and then return, regardless of whether it has completed, and then return

[2017-10-20 21:27] jean-philippe-martin commented on #2453
One difference (not sure if relevant) is that `Files.exists` (using CloudStorageFileSystems) fails with the new library when running on the local machine, but passes with the older version.

[2017-10-20 22:25] lukecwik commented on #2453
Can you dump the verbose version of your dependency tree?

[2017-10-20 22:52] jean-philippe-martin commented on #2453
Sure, @lukecwik, here is what I have. Apologies, it's long.

[code]

[2017-10-20 23:21] ifigotin opened #2544 "cloud-firestore issue when running in DevAppServer GAE Standard Java 8"
When using the latest Firestore library we are getting the following error (in devappserver, GAE Standard, Java 8):

`Caused by: com.google.apphosting.api.ApiProxy$CallNotFoundException: Can't make API call urlfetch.Fetch in a thread that is neither the original request thread nor a thread created by ThreadManager
	at com.google.apphosting.api.ApiProxy$CallNotFoundException.foreignThread(ApiProxy.

[2017-10-22 19:03] sceee commented on #2398
@lesv thanks very much for your help. I will try to solve it by locking to a specific version. I will let you know if it worked or not.

[2017-10-22 19:29] lesv opened #2545 "Java 9 - protobuf-java 3.0.0 warnings"
In running something with latest Datastore client, I see the following:

[code]

[2017-10-22 23:20] mbrukman opened #2546 "Add static analysis to find bugs sooner"
Static analysis tools enable finding and avoiding bugs at compile time, before they become issues at runtime, and become much harder (and hence, costlier) to find and fix.

There are tools that can be run offline, such as SpotBugs (successor to FindBugs) and [ErrorProne](http://errorprone.info/), or via online services such as [Coverity](https://scan.coverity.com/) (free for open-source projects).

[2017-10-23 03:48] #2477 closed

[2017-10-23 17:33] lesv commented on #2545
https://github.com/google/protobuf/issues/3781

[2017-10-23 17:33] vam-google commented on #2528
All newer versions of google-cloud java are configured to work with `netty-tcnative-boringssl-static:2.0.3.Final`.

1) Which version of google-cloud-java are you using? Doesn't the newest (`> 0.25.0`) work for you?
2) Does the minor version difference between 2.0.3.Fork and 2.0.6.Fork break it for you?
3) Do you still have `1.1.33.Fork26` in your dependency tree even when you use the newest `googl

[2017-10-23 17:37] lesv commented on #2545
Note the current version of java protobuf appears to be 3.4.1 so com.google.cloud should update

[2017-10-23 17:38] lesv commented on #2545
Actually it appears that veneer is using 3.3.1

[2017-10-23 17:39] vam-google commented on #2529
Hi @jmtiong, can you please clarify why you think that there are still exactly 10 attempts are made before dying?

[2017-10-23 17:51] vam-google commented on #2536
I believe things like this are configurable by quotas. In your https://console.cloud.google.com go to `IAM & Admin -> Quotas`, then search for "Monitoring" in the list of APIs. There you should be able to edit your quota and see the maximum possible quota.

[2017-10-23 18:37] vam-google commented on #2537
Hi @gridcellcoder,

There should be no any problems with running `google-cloud-java` from docker image (should work even better than without it, as a docker image is usually a clean environment where less thing can go wrong).

1) Are you talking about running in a docker in general or in a specific docker image?
2) I see you are using `GOOGLE_APPLICATION_CREDENTIALS` env variable to access your `k

[2017-10-23 19:35] vam-google commented on #2543
There was a recent change in BigQuery API which caused that.

Now, `BigQuery.query()` is a synchronous operation, which is essentially a wrapper around creating a QueryJob and waiting for it completion. (notice how now query() method accepts `QueryJobConfiguration` as an input).

The reason behind that change was to avoid using the [query](https://cloud.google.com/bigquery/docs/reference/rest/v2/j

[2017-10-23 19:40] vam-google commented on #2543
Some enhancements/fixes are needed for BigQuery:
1) Better documentation for `BigQuery.query()` method: explicitly specify that it is a synchronous call now and what happens if polling fails
2) Rename `QueryResultsOptions.maxWaitTime()` or at least add better documentation what that parameter regulates
3) Better handle `PollException` (probably throw it directly instead of wrapped  in `BigQueryExc

[2017-10-23 19:43] vam-google commented on #2545
@lesv can you please clarify if this issue is reproducible with 3.3.1 or only with 3.0.0?

[2017-10-23 19:46] dclements commented on #2543
Awesome, that makes sense and thank you for the clarification.  To add to the enhancements, some additional points in the documentation that seem out of date (or at least confusing):

The [javadoc for maxWaitTime](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/1fefc4ca0c63ee3a4e5b6b35734c161c4faeb599/google-cloud-bigquery/src/main/java/com/google/cloud/bigquery/BigQuery.java#L440) r

[2017-10-23 20:01] vam-google commented on #2546
I think adding static analysis tools will be beneficial for us, but It doesn't look like we have enough resources to add that and fix all the found issues after that right now. If we choose to add them, the same set of tools and rules should be applied to [gax-java](https://github.com/vam-google/gax-java) repo too.

@garrettjonesgoogle what is your opinion about it?

[2017-10-23 23:47] garrettjonesgoogle commented on #2494
Reassigned to @andreamlin

[2017-10-24 05:00] pongad commented on #2542
Proposal:
I think we should fix this by documentation.

1. Give error message so at least the user knows what we're complaining about.

2. Expose either `DEFAULT_BATCHING_SETTINGS` or `defaultBatchingSettings()`, and recommend users to call `builder.setBatchingSettings(DEFAULT_BATCHING_SETTINGS.toBuilder().setElementCountThreshold(100L).build())`. This call will work and keep all other parameters

[2017-10-24 05:51] RakeshSiddu opened #2548 "cannot resolve method .getService();"
CODE =  final Translate translate = TranslateOptions.getDefaultInstance().getService();
here getService() is not working.

[2017-10-24 08:22] TheIndifferent opened #2550 "Blob.listAcls() fails after writing the contents"
Using `Blob.listAcls()` works on first invocation after the blob creation, but fails on second invocation after `Blob.writer()` was used to write the contents. To be able to use it, have to request `Service` for a new `Blob` instance without using `BlobId` of existing instnace. Please see the following reproducer code:
[code]

[2017-10-24 12:32] brunovieira7 commented on #2481
@pongad 1.8.0 looks slightly faster, I'll definitely use it. Since we couldn't find where the calls are coming from maybe NewRelic is misreporting. Thanks for all the help guys.

[2017-10-24 15:15] danieln100 commented on #2502
@lukasz-szewc Were you able to find a solution?

[2017-10-24 15:51] lukasz-szewc commented on #2502
@danieln100 no

[2017-10-24 16:30] danoscarmike commented on #2503
Ping @vam-google @garrettjonesgoogle have we at least fixed the pubsub/datastore conflict?

[2017-10-24 16:59] kumarse commented on #2502
I think this is related to: https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2506

[2017-10-24 18:36] sceee commented on #2398
@lesv unfortunately I could not solve it. I tried locking to netty-all 4.1.14.Final by including `compile group: 'io.netty', name: 'netty-all', version: '4.1.14.Final'` in the gradle build file.
Unfortunately, flakka seems to use io.netty:netty instead of netty-all - which was replaced by netty-all.

So I can't lock to a 4.x version of netty but also not to a 3.x version of netty-all since .

Do y

[2017-10-24 19:15] lesv commented on #2398
We are having a conversation about [Shading](https://stackoverflow.com/questions/13620281/what-is-the-maven-shade-plugin-used-for-and-why-would-you-want-to-relocate-java) today.  You are probably at the wrong place to be doing this, but if that inspires you...

 (ideally you would get Flink and Flakka to do it in places.

[2017-10-24 19:44] saturnism commented on #2398
rather than locking in all of the netty versions, which would be hard to do, try excluding them from all the dependencies that has it w/ the exclusion blocks, and then add an netty dependency explicitly.

See a working draft of gRPC troubleshooting here: https://github.com/saturnism/grpc-java/blob/04d3218f4443662e49a46fbd95d4918e20e4835e/SECURITY.md#troubleshooting

[2017-10-24 21:35] jabubake commented on #2499
@chenav noticed you are using the `google-cloud-storage` library as well. Can you upgrade to the latest version for both libraries  and try again ?
It looks like that is the reason for your conflict.

[2017-10-24 21:39] jabubake commented on #2512
Closing, realized the issue I wanted to file is related but is a GAX bug.

[2017-10-24 21:39] #2512 closed

[2017-10-24 22:38] pongad commented on #2481
@brunovieira7 Glad to hear you're seeing improvements! That is my assumption right now, so I'll close the issue. Please reopen if required.

[2017-10-24 22:38] #2481 closed

[2017-10-24 23:42] pongad commented on #2501
I'm sorry I didn't see this issue. I think this is related to #2502 and #2506.

The short version is that a firewall sees an idle connection and closes it without notifying the client, so it takes the client a long time to realize the connection is bad and reconnect.

I'll close this for now as duplicate; please reopen if you think the issues are unrelated.

[2017-10-24 23:42] #2501 closed

[2017-10-24 23:49] pongad commented on #2502
I'm sorry I didn't see this; it must have slipped through triage.
There are two related issues.

1. The "idle stream" problem being tracked at #2506. I'm creating a PR for it today.

2. Even after (1) is fixed, sometimes the stream is terminated either by the server or because of some transient error. Nothing bad is happening; we'll just wait a few seconds then reconnect, but we logged it at SEVER

[2017-10-24 23:49] #2502 closed

[2017-10-25 00:43] mihania opened #2551 "Entities.getVersionProperty API?"
In Google App Engine Datastore we had an API to retrieve Entity version, using Entities.getVersionProperty(). Do we have the same API in Google Cloud Datastore or it is missing in current implementation?

[2017-10-25 10:02] NicolaSpreafico opened #2552 "BigQuery OAuth error when query with Federated Data Source"
I have a BigQuery federated data source which load data from a Google Spreadsheet.
The provided code is running from App Engine standard application, Java8 runtime.

Here is a simple query:
`SELECT field FROM project.dataset.table`

Performing a query to that table from my personal account using BigQuery browser (https://bigquery.cloud.google.com) works very fine

Using Java API I'm getting the fo

[2017-10-25 15:02] k0ner commented on #2502
@pongad unfortunately what you are referring to (#2506) is the other problem we are facing (at least from what I understand). What we observed is that stream is reopened after throwing exception but it does not consume messages.

[2017-10-25 17:42] lwiddershoven opened #2553 "BigQuery Java API: Converter for json/avro schema"
When creating a BigQuery schema, it would be really nice to create a BigQuery schema from an avro schema, or json schema.

The command line tool seems to allow this; and the load command probably loads the schema from the avro file, and having this logic as a support class in the java api would add a lot of value.

Because honestly, I have an industry-standard schema. I don't really want to hand-c

[2017-10-25 18:33] hienle-hps commented on #2342
Sorry to resurrect a closed thread.

@garrettjonesgoogle Now that AppEngine Standard Java 8 is GA, what's the recommended approach for using PubSub during an AppEngine request and ensuring prompt publishing, is it along the lines of:
* one `Publisher` created in `Servlet.init()`
* using `BatchSettings` with low thresholds
   * or `setEnabled(false)`

Are special considerations needed for the `Publ

[2017-10-25 18:35] garrettjonesgoogle commented on #2342
Assigning to @pongad for him to answer.

[2017-10-26 02:26] lesv opened #2555 "Proposal to minimize Dependency Conflicts"
Many customers are running into [dependency conflicts](https://stackoverflow.com/questions/33907162/systematic-approach-with-maven-to-deal-with-dependency-hell) using the Java google-cloud (an umbrella package that includes many other artifacts), several of our google-cloud-* artifacts together, and using the google-cloud-* artifacts with other non google-cloud, google artifacts like GoogleCloudPl

[2017-10-26 02:28] lesv commented on #2555
@ludoch @jabubake FYI

[2017-10-26 04:02] pongad commented on #2502
@k0ner From the issue description, I conjecture that something like this is happening.

- we get no messages for a while
- stream disconnect
- someone publishes message
  - since we're disconnected, we don't see them
- transport layer eventually realizes we've disconnected
  - this is where we throw the exception
- reconnect
- consume all available messages
- repeat

If your topic is "low throughp

[2017-10-26 04:38] pongad commented on #2342
I'm quite rusty on AppEngine. @jabubake Please let me know if I got anything wrong.

Regarding threads, I believe threads still cannot be created "normally". So you need to call `setExecutorProvider` and create one that spawns threads using AppEngine's `ThreadManager` according to [this doc](https://cloud.google.com/appengine/docs/standard/java/runtime#threads).

If you set `BatchSettings` with 1

[2017-10-26 07:56] lukasz-szewc commented on #2502
@pongad can we assume that this will be resolved in 0.27.0-beta version of pubsub?

[2017-10-26 10:02] ablejohnson1 opened #2556 "AdInsights 'account_currency' fields is not present"
I am referring to this API documentation. I am trying to fetch the adset insights through java sdk
Following is the code snippet
`String accessToken = "XXX";
		APIContext context = new APIContext(accessToken).enableDebug(true);
		List<String> fields= Arrays.asList(new String[]{
				"clicks",
				"adset_id",
				"adset_name",
				"reach",
				"impressions",
				"spend",
				"account_currency"
		});

[2017-10-26 10:03] #2556 closed

[2017-10-26 10:03] ablejohnson1 commented on #2556
Please ignore.I raised in wrong project

[2017-10-26 17:27] btilford commented on #2453
I think I ran into this as well after updating and adding some dependencies. No problems before doing that.

**DIF**
[code]

[2017-10-26 17:38] hienle-hps commented on #2342
Thanks for the examples and clarification!

[2017-10-26 17:51] btilford commented on #2453
Should also note I only get the 404 when running locally. Running the job from DataProc works fine. :frowning_face:

[2017-10-26 18:30] nicktrav commented on #2453
We also ran into authentication issues. The issue was exposed when updating to `google-api-client.version` `1.23.0`:

[code]

I was able to isolate the commit that broke it, if it's any help:
https://github.com/google/google-api-java-client/commit/22e76833e8e02e5594fc949c749fbfbbd780fb2f

Maybe it's better for me to post that as an issue on that repo?

[2017-10-26 19:09] garrettjonesgoogle commented on #2514
No need to keep this open.

[2017-10-26 19:09] #2514 closed

[2017-10-26 21:47] pongad commented on #2342
It looks like the question is resolved, so I'll close the issue. Please reopen if required.

[2017-10-26 21:47] #2342 closed

[2017-10-26 22:50] garrettjonesgoogle commented on #2548
What environment are you getting this error in?

[2017-10-26 22:51] garrettjonesgoogle commented on #2546
We already use Codacy which reports problems on PRs, so we at least have some coverage already. I think we can wait to add more

[2017-10-26 22:53] garrettjonesgoogle commented on #2545
Since this is just a warning message, and one that is emitted by a dependency of ours, and they already have a tracking issue, I am going to close out the present issue.

[2017-10-26 22:53] #2545 closed

[2017-10-26 22:56] garrettjonesgoogle commented on #2542
I think we should just set defaults in `newBuilder()`.

[2017-10-26 22:58] garrettjonesgoogle commented on #2536
@ardias did that help?

[2017-10-26 23:24] nicktrav commented on #2453
@andreamlin - sure thing! I made https://github.com/google/google-api-java-client/issues/1073.

[2017-10-27 00:03] garrettjonesgoogle commented on #2528
We bumped netty-tcnative-boringssl-static to 2.0.6.Final in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2549 , which will be included in the next release. Closing this issue.

[2017-10-27 00:03] #2528 closed

[2017-10-27 01:07] pongad commented on #2542
Note that there are two defaults at play here. One is BatchingSettings.DEFAULT and another is `Subscriber.DEFAULT_BATCHING_SETTINGS`.

I think `Subscriber.DEFAULT_BATCHING_SETTINGS` can stay as is.

`BatchingSettings.DEFAULT` defaulted to null for "never trigger". Eg, if you set element count to null, batch will only trigger on number of bytes and duration. What should default be here, Long.MAX?

[2017-10-27 04:45] garrettjonesgoogle commented on #2542
I think the default for BatchingSettings should be the values for no batching (send one at a time).

[2017-10-27 09:36] ardias commented on #2536
Yes it did @garrettjonesgoogle , thank you.

[2017-10-27 13:53] kyzrfranz opened #2559 "cloud-datastore-emulator Version 1.3 leads to "Invalid version format""
After updating to Google Cloud SDK 177.0.0, we found the LocalDatastoreHelper crashing in the following way:

<code>
java.lang.IllegalStateException: Failed to load ApplicationContext
	at org.springframework.test.context.cache.DefaultCacheAwareContextLoaderDelegate.loadContext(DefaultCacheAwareContextLoaderDelegate.java:124)
	at org.springframework.test.context.support.DefaultTestContext.getApplic

[2017-10-27 14:12] garrettjonesgoogle commented on #2536
Great to hear!

[2017-10-27 14:12] #2536 closed

[2017-10-27 14:33] jkupcho commented on #2506
Semi related question.

I've been receiving similar error messages, but within the Spring Framework.  I'm wiring a Subscriber as a singleton with `startAsync` as the `initMethod`, and `stopAysnc` as the `destroyMethod`.  I can't seem to find anything in the documentation that says Subscribers can be treated as thread-safe, but it seems like async pull subscribers should be long lived.

Should thes

[2017-10-27 15:17] kir-titievsky commented on #2542
I vote against addressing this in documentation only.  It's like hanging an
"open" sign on a locked door with a little note at the bottom that says
"JK. We are closed for the day."

On Fri, Oct 27, 2017 at 12:45 AM Garrett Jones <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2017-10-27 15:28] garrettjonesgoogle commented on #2499
I also see a really old version of google-cloud-bigquery in the list that should be updated.

[2017-10-27 17:14] chenav commented on #2499
@jabubake : I upgraded the google-cloud-storage client: no problem.
@garrettjonesgoogle : the upgrade of the bigquery client is problematic.
Well, we are using google-cloud-bigquery 0.8.1-beta fin production. It may seem "really old" to you, but it was released in January 2017, which is not "that" old for a productive system ! :p

Anyways, I tried to upgrade to the last version in dev, i.e. google

[2017-10-27 17:19] garrettjonesgoogle commented on #2499
I'm very sorry to hear that the breaking changes in BigQuery affected you! That's the unfortunate consequence of it still being -beta. Once it gets promoted to 1.0.0+, we will no longer break callers when we push new versions of google-cloud-java.

[2017-10-27 18:15] neozwu commented on #2551
To my knowledge, we don't have an API to expose version number. Google Cloud Datastore [documentation](https://cloud.google.com/datastore/docs/concepts/metadataqueries) doesn't mention this, while the AppEngine Datastore [doc](https://cloud.google.com/appengine/docs/standard/java/datastore/metadataqueries) does.

/cc @lesv

[2017-10-28 20:06] Mistic92 commented on #2506
I have problem with not receiving messages singe 0.19 or something like this. After ~10-15min it's stopping receiving messages. Currently I'm "restarting" subscribers every 5min by stopAsync() and just creating it again. I didn't found any other way :(
I had created healthcheck to monitor subscriber and apiservice but they was returning that everything is ok and they are working.

[2017-10-29 19:41] sceee commented on #2398
Thank you very much for your help @lesv and @saturnism . Unfortunately I was not able to sort it out until now but I filed an issue at flink's bugtracker to upgrade/unify the netty stuff in their part.

[2017-10-30 02:13] pongad commented on #2506
@jkupcho The `Subscriber` was implemented using [Guava's Service](https://github.com/google/guava/wiki/ServiceExplained) so it is generally thread safe.

As explained in the linked page, there are some illegal actions though. You can't start service after it has stopped, etc. I'll add this documentation.

[2017-10-30 02:27] pongad commented on #2506
@Mistic92 Does your subscription usually have idle time where there's no message to consume? If so, it's likely you're running into the same problem. If you have root access to the machine, can you try running this command: `sudo /sbin/sysctl -w net.ipv4.tcp_keepalive_time=60 net.ipv4.tcp_keepalive_intvl=60 net.ipv4.tcp_keepalive_probes=5`?

We hope to soon release a more permanent fix for this.

[2017-10-30 08:41] NicolaSpreafico commented on #2552
I tried each version one by one, here is the result:
**0.24.0-beta**: Error
**0.23.1-beta**: Error
**0.23.0-beta**: Error
**0.22.0-beta**: Works

[2017-10-30 11:24] Mistic92 commented on #2506
@pongad yep, currently we have only testers using backend so there is often time when no messages are send. I was supposing that's the reason. I'll try add this command to docker and see what's the result;)

[2017-10-30 21:10] saicheems commented on #2537
Please reopen if the above comment didn't provide enough information.

[2017-10-30 21:10] #2537 closed

[2017-10-31 06:29] mihania commented on #2551
Thank you, @lesv!

[2017-10-31 13:43] bootstraponline opened #2567 "table.load doesn't work for local files"
BigQuery `table.load` in Ruby works for local files. Java BigQuery requires a GCS URI. Is there a reason why local file loading isn't supported?

[code]

[code]

[code]

[2017-10-31 17:43] neozwu commented on #2544
@ifigotin can I confirm whether this is only an issue on devserver, but not an issue on prod server ?

[2017-10-31 18:12] lesv commented on #2551
@wsh PTAL

[2017-10-31 19:32] wsh commented on #2551
We do supply this information in the API: https://cloud.google.com/datastore/docs/reference/rest/v1/EntityResult. Our low-level client provides it in the `LookupResponse`, but [DatastoreImpl.java](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-datastore/src/main/java/com/google/cloud/datastore/DatastoreImpl.java#L288) here in `google-cloud-java` doesn't retain it

[2017-10-31 21:47] Mindful commented on #2559
Seeing the same problem. I have a test suite that runs fine on my local machine, but crashes when it runs on our CD pipeline, which has version 1.3.

`  java.lang.IllegalArgumentException: Invalid version format
  at com.google.cloud.testing.Version.fromString(Version.java:90)
  at com.google.cloud.testing.BaseEmulatorHelper$GcloudEmulatorRunner.getInstalledEmulatorVersion(BaseEmulatorHelper.java:

[2017-10-31 23:20] andreamlin commented on #2494
@frankyn Is this just a matter of adding in javadoc comments?

[2017-11-01 00:17] frankyn commented on #2494
(Followed-up through chat) Yes, verify Javadoc comments describe requester pays and user project parameters accurately.

[2017-11-01 06:45] amogh09 opened #2568 "No newBuilder() method in class Job"
How am I supposed to build an instance of class `Job`? It contains a `Job.Builder` nested class but I am unable to get an instance of it. `Job` extends `JobInfo` which does contain a `newBuilder` method but that returns an instance of `JobInfo` not `Job`. Is this a forgotten implementation? Am I misunderstanding the usage of `Job` class?

http://googlecloudplatform.github.io/google-cloud-java/0.26

[2017-11-01 10:01] talonx opened #2569 "Repeated error messages - UNAVAILABLE: The service was unable to fulfill your request. Please try again. [code=8a75]"
I'm running a PubSub emulator and a client using the Java APIs. The client does some simple stuff like creating a topic, subscribing and publishing to it. After a while, the following error messages keep coming continuously
[code]

[2017-11-01 23:07] pongad commented on #2465
Pubsub team is working on a server-side fix for this. The client lib will need to be updated to take advantage of it. Fortunately, this new feature "piggybacks" on an already existing one, so the work on client lib can progress right away.

I hope to create a PR for this soon.

[2017-11-02 00:02] pongad commented on #2569
@talonx Could you tell us which version you're using? This should have been fixed in https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2492 and released `v0.26.0`.

[2017-11-02 03:11] talonx commented on #2569
@pongad it's 0.24.0-beta. I'll try out the new one.

[2017-11-02 03:29] talonx commented on #2569
@pongad Looks good - I see a few INFO level messages now. Thanks!

[2017-11-02 03:29] #2569 closed

[2017-11-02 17:49] janedegtiareva commented on #2555
Do we know how much larger the JARs will become? Also it would be good to have more details about the extra debugging complexity. Thank you!

[2017-11-05 02:53] keitwb opened #2576 "API Quotas for Monitoring"
Hi, I'm using the `MetricServiceClient` for getting StackDriver timeseries.  I am authenticating using a user oauth token (this user has access to multiple projects), but there seems to be a global quota across multiple projects because when I fetch only one or two projects at a time I have no throttling, but when I fetch four or five different projects at a time, I start getting throttled with er

[2017-11-05 13:16] Klabauterman opened #2577 "FireStore Realtime functionality"
I would like to know if there is FireStore realtime functionality like in the android SDK is planned. The old firebase admin SDK had it.

Thanks in advance.

[2017-11-05 22:23] kamaz opened #2579 "google-cloud-firestore Extension point to serialize pojo to map"
Converting custom types like BigDecimal fail with error:

`Cannot convert 12.0099999999999997868371792719699442386627197265625 to Firestore Value`

Looking through the code couldn't find a way how I could add a custom converter that would allow anyone to do conversion before serialization without creating additional layer that is specific to firestore.

It would be great if one of following could

[2017-11-06 03:13] thedrover commented on #2559
I resolved this problem by upgrading the GCloud SDK from version 177 to version 178. The following is from the release summary:

[2017-11-06 12:31] talonx opened #2581 "Table.exists hangs"
I've a Bigtable client that connects to a local emulator. Lately it has started hanging on table.exists - the only thing that was updated recently was the emulator itself via apt. A thread dump reveals (client class names snipped at the bottom)
[code]
Subsequent thread dumps taken at 30 second intervals reveals the the thread is stuck at the same place.

Library versions:
google-cloud-core 1.8.0,

[2017-11-06 14:59] talonx commented on #2581
After about 12 minutes, I get the following error -
[code]
This happens for each call. It's brought my development to a grinding halt since I cannot use HBase/Bigtable at all.

[2017-11-06 15:17] chenav commented on #2499
Hello @garrettjonesgoogle ,

I updated all the google-cloud client lib.
Now, everything works with the NLP libraries. It was indeed a dependency problem.

This issue may be closed, but some warnings could be provided to dev ;)

Thanks for the support !

C.

[2017-11-06 16:31] garrettjonesgoogle commented on #2499
We do have a warning under https://github.com/GoogleCloudPlatform/google-cloud-java#versioning :

"Any release versioned 0.x.y is subject to backwards incompatible changes at any time."

Let us know if there are other places where this needs to be made known so that you would have noticed it.

[2017-11-06 21:17] lesv commented on #2551
@garrettjonesgoogle FYI

[2017-11-06 21:21] lesv commented on #2555
The total size would be less than you current use (that's one of the gifts of Proguard), but if your app includes the same jar, it will be there twice.  This is only for an additional kind of jar that we publish, so you would still be able to use the current jar's.

For debugging, this will be similar to what users do on [android](https://developer.android.com/studio/build/shrink-code.html) [debug

[2017-11-07 00:34] omrihq commented on #2149
Specifically for
[code]
Where can we find the specific dependencies in order to get this compiling?

[2017-11-07 05:31] talonx commented on #2581
cloud-bigtable-client seems to be the appropriate repo for this issue - so I've logged it there - https://github.com/GoogleCloudPlatform/cloud-bigtable-client/issues/1529

[2017-11-07 16:03] saturnism opened #2586 "Add Automatic-Module-Name to JAR MANIFEST.MF"
Configure JAR plugin to add Automatic-Module-Name for our JAR distributions. Each artifact should have its own module name.

[2017-11-07 16:42] HunterSherms opened #2587 "Include stack trace in logged text"
I would like to include the stack trace from ERROR level logs in my logs sent back to StackDriver. How would I implement this?

[2017-11-07 17:44] Mistic92 commented on #2577
Firestore is not realtime database. You can still use realtime database and firestore.

[2017-11-07 18:27] neozwu commented on #2559
@thedrover thank you for letting us know. I'll close this issue since you have resolved the problem. Feel free to reopen it.

[2017-11-07 18:27] #2559 closed

[2017-11-07 18:31] omrihq commented on #1973
What dependency allows you to use `val channelProvider = InstantiatingChannelProvider.newBuilder()....`?

[2017-11-07 18:32] garrettjonesgoogle commented on #1973
The class name is now `InstantiatingGrpcChannelProvider` and it is present in `gax-grpc`.

[2017-11-07 18:41] lbergelson commented on #2453
@lukecwik Anything we can do to move this forward?

[2017-11-07 18:44] garrettjonesgoogle commented on #2453
Everyone - we are going to do a release today which pulls in google-auth-library-java version 0.9.0 which fixes the bug introduced in prior versions.

[2017-11-07 18:48] lukecwik commented on #2453
@garrettjonesgoogle Does the issue also apply to the Apiary vended libraries?

Can you explain what the fix is (it is unclear looking at the github commit history for google-auth-library-java)?

[2017-11-07 18:49] garrettjonesgoogle commented on #2453
This is the fix: https://github.com/google/google-auth-library-java/pull/132

It doesn't apply to the Apiary vended libraries.

[2017-11-07 18:52] omrihq commented on #1973
Interesting, is there an updated example of a PubSub emulator then? Ex: https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/TESTING.md#testing-code-that-uses-pubsub seems to use old code

[2017-11-07 18:53] lbergelson commented on #2453
@garrettjonesgoogle That's excellent news.  Thanks for the update!

[2017-11-07 19:36] #2506 closed

[2017-11-07 19:53] rcoy-v opened #2588 "pubsub async subscriber listener logging error on stop"
I have the same situation as described in #2485. Using version 0.26.0.

A listener for failed state is logging an error message when stopping an async subscriber:

[code]

Although this error is described as harmless in the referenced issue, it pollutes our logs during shutdown and deployments. The only seam I can find is detect if the `from` state is `STOPPING`, and ignore any failure. But I feel

[2017-11-07 20:02] wsh opened #2589 "Migrate google-cloud-java/google-cloud-datastore to use GAPIC low-level libraries"
Right now, https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-datastore depends on https://github.com/GoogleCloudPlatform/google-cloud-datastore, which is suboptimal for several reasons:

1. No support for gRPC.
2. Lack of uniformity with other google-cloud-java clients.
3. Continued dependence on the separate google-cloud-datastore artifact, which frequently leads t

[2017-11-07 20:04] wsh commented on #2589
cc @dmcgrath @lesv @pcostell @eddavisson

[2017-11-07 20:31] droazen commented on #2453
@jean-philippe-martin Would you be able to try out this fix using your repro above?

[2017-11-07 22:10] Klabauterman commented on #2577
But the Firestore client-SDKs for web, android and ios support data listeners: https://firebase.google.com/docs/firestore/query-data/listen

[2017-11-08 02:40] lesv commented on #2589
@garrettjonesgoogle FYI
@jabubake This probably falls in your world now.

[2017-11-08 03:48] pongad opened #2591 "bigquery: tabledata.list tracking"
This issue tracks things we need to migrate query to use `tabledata.list` instead of `getQueryResults` RPC.
Work is in `bq-perf` branch.

- [x] ~Remove~ InternalApi `QueryResponse` type
- [x] ~Remove~ InternalApi `BigQuery.getQueryResults`
  - Use `getJob().getQueryResults` instead
- [x] Give `QueryResults` fewer fields (#2592)
  - To get details of a job, use `Job`
- [x] Should `Job.getQueryResul

[2017-11-08 03:49] pongad commented on #2591
@vam-google @tswast I'm just copying from notes of meeting we had a couple of weeks ago. Could you check that we're on the same page?

[2017-11-08 17:20] BlueRiverInteractive opened #2594 "com.google.cloud.firestore.FieldPath is not public"
The FieldPath class is used in many methods of the Firestore API especially in Query, however the class is not public. I assume this is a bug because essentially all these methods requiring a FieldPath cannot be used outside of the com.google.cloud.firestore package.

[2017-11-08 18:43] kenyangzj commented on #2276
Hello any update on this issue?

[2017-11-08 18:43] kenyangzj commented on #2276
Hello any update on this issue?

[2017-11-08 20:49] anthmgoogle commented on #2594
Thank you. We will evaluate this in our next round of feature planning.

[2017-11-08 21:02] anthmgoogle commented on #2589
This is a pretty significant investment. We should consider it in a next round of triage.

[2017-11-08 21:10] anthmgoogle commented on #2587
@lesv @saicheems can you answer whether there is a way to do this currently. If new functionality is required, please convert to type: feature request.

[2017-11-08 21:14] anthmgoogle commented on #2586
This seems like a repo-wide infrastructure question. @saturnism @lesv @garrettjonesgoogle can you determine feasibility of this suggestion, and if feasible we can turn this into a feature request or cleanup item.

[2017-11-08 21:44] anthmgoogle commented on #2581
Since this is in the HBase client outside this repo and the issue has been created in the right repo, closing this issue out.

[2017-11-08 21:44] #2581 closed

[2017-11-08 21:53] anthmgoogle commented on #2579
We will first confirm whether there is an existing way to do this so making it a question. If there is no current way to do this, we will convert to feature request.

[2017-11-08 21:55] anthmgoogle commented on #2577
We will confirm with the Firestore product team. Taking this until I find the right contact.

[2017-11-08 21:59] anthmgoogle commented on #2576
This looks like it might be because of using shared credentials such as with "gcloud auth application-default login". We recommend using a downloaded service account key and setting the environment variable GOOGLE_APPLICATION_CREDENTIALS to point to it:
https://developers.google.com/identity/protocols/application-default-credentials#howtheywork
This should let you adjust the quota for your API.

P

[2017-11-08 22:03] anthmgoogle commented on #2567
@vam-google can you confirm whether or not there is a way to do this in the current API. If not, let's change this from question to feature request and it can be evaluated in the next round of feature planning.

[2017-11-08 22:11] anthmgoogle commented on #2516
Can you provide more information? Are you trying to do this using the user interface, the Cloud SDK or programatically using google-cloud-java/google-cloud-compute.

Specifically google-cloud-compute is an Alpha-level library and will not comprehensively cover the API in its current form in the near future.

If you need programatic control over Compute Engine instances, the current recommended sol

[2017-11-08 22:15] anthmgoogle commented on #2504
Treating as question for now. We should convert to bug if we determine that something here is not working as intended.

[2017-11-08 22:17] anthmgoogle commented on #2503
Classifying as P1 bug since it is at the scope of individual APIs. This seems important to fix quickly.

[2017-11-08 22:38] anthmgoogle commented on #2490
Java7 GAE is not supported. Please try Java8 and create a new issue if that does not work. Please create an issue if documentation describing platform support could be improved.

[2017-11-08 22:38] #2490 closed

[2017-11-08 22:40] anthmgoogle commented on #2486
Let's keep iterating to answer the question.

[2017-11-08 22:50] anthmgoogle commented on #2453
Looks like this is fixed in the auth library. Please reactivate if not.

[2017-11-08 22:54] anthmgoogle commented on #2433
Please reactivate if there is a concrete suggestion here.

[2017-11-08 22:55] #2433 closed

[2017-11-08 23:16] jean-philippe-martin commented on #2453
I changed my repro program's build gradle to now include the new version:
[code]

Ran the program, and it failed again:

[code]

For what it's worth, it seems I'm correctly using the new auth library:
[code]

and the new version of google-cloud:

[code]

If you'd like to suggest a way for me to share the whole program in a way that you can run it as well and see for yourself, I'm open to suggestio

[2017-11-08 23:19] jean-philippe-martin commented on #2453
@anthmgoogle I don't seem to be able to reopen this issue myself, but perhaps it should be.

[2017-11-09 00:47] pongad commented on #2588
@rcoy-v Would you be able to share a little more of the stack trace with us? It would be really helpful to see what's trying to execute.

[2017-11-09 00:49] anthmgoogle commented on #2375
There is a merged PR. Does that mean this can be closed now?

[2017-11-09 00:49] #2375 closed

[2017-11-09 00:55] anthmgoogle commented on #1536
Is there still outstanding work before this can be closed after that resolution?

[2017-11-09 00:57] anthmgoogle commented on #1534
May be a config or code-gen issue.

[2017-11-09 01:23] anthmgoogle commented on #2353
Need to verify if this is a reliability bug or not.

[2017-11-09 01:36] anthmgoogle commented on #2405
Looks like the original issue has been clarified. If there are issues with moving to Java8 it may be best to create a new issue.

[2017-11-09 01:36] #2405 closed

[2017-11-09 01:39] anthmgoogle commented on #2331
It looks like this has answered the original question, acknowledging that it is still not as concise the as the Python. Please reopen or create a new issue if there is further iteration required.

[2017-11-09 01:39] #2331 closed

[2017-11-09 02:55] pongad commented on #2358
Polling subscription has already been deprecated. Streaming pull, landed in v0.21, should not need this permission anymore.

[2017-11-09 02:55] #2358 closed

[2017-11-09 02:58] pongad commented on #2483
I agree with @lesv . I'll close this as duplicate. Please reopen if required, though I believe this is a problem more fit for gRPC, not this repo.

[2017-11-09 02:58] #2483 closed

[2017-11-09 03:05] pongad commented on #2341
The canonical issue for this is probably https://github.com/grpc/grpc-java/issues/3025 .
I'll close this as duplicate. Please reopen if required.

[2017-11-09 03:05] #2341 closed

[2017-11-09 03:06] schmidt-sebastian commented on #2579
This is currently not possible. We will bring this up for discussion internally.

[2017-11-09 03:08] schmidt-sebastian commented on #2577
This is on the roadmap for the rest of the Server SDKs. It's already available in Node. Stay tuned!

[2017-11-09 03:09] pongad commented on #2407
I'll close this as duplicate. Please reopen if required.

[2017-11-09 03:09] #2407 closed

[2017-11-09 03:10] pongad commented on #2398
This issue is related to Java and gRPC in general, not just pubsub. @lesv and @saturnism would you mind if I reassign this to you?

[2017-11-09 03:15] pongad commented on #2353
@bisws007 Could you share the code you're using to subscribe? Generally the subscriber won't stop until you call `subscriber.stopAsync()`.

In v0.21, there was a bug that could cause messages to be stuck in the subscriber that prevents termination. That bug has been fixed now. Do you think you can try again with v0.26?

[2017-11-09 11:13] elharo commented on #2433
My suggestion is to delete "high performance". It's a meaningless buzzword that adds no useful information. In this case, it is also actively misleading. It actively contradicts the next word, "Scalable". GCE scales from low performance to high performance. Users pick and pay for what they need.

It should probably be deleted from https://cloud.google.com/compute/ as well, though I'll have to file

[2017-11-09 12:51] emilianbold commented on #2516
I am using Google Cloud Client Library for Java, ie. this very project google-cloud-java, using the Maven dependencies.

Using the command line tools for a Java app doesn't really solve my issue. How to I distribute and install those? Do I just ask the user to have them already installed? Do I execute an external app for each request?

If some poor soul ends up on this issue, the workaround is to

[2017-11-09 16:11] rcoy-v commented on #2588
Stack trace:
[code]

The stack trace is not coming from the subscriber, but a listener implementing `failed`.

We are running this with Spring Boot. The parts related to Google pubsub are still pretty basic, following close to the async example [here](https://cloud.google.com/pubsub/docs/pull#pubsub-pull-messages-async-java).

Testing this further, the error is logged if the app is stopped from SI

[2017-11-09 16:33] anthmgoogle commented on #2433
We really need to follow the lead of the API from the client side. If the GCE team agrees to remove this wording from their main reference documentation, we will can change this corresponding documentation here.

[2017-11-09 18:19] drzraf commented on #2276
Same issue:
* `We're not allowed to access the URL on your behalf. Please download the content and pass it in.` (code 7)
*  `We can not access the URL currently. Please download the content and pass it in.` (code 4 or 13)

[2017-11-09 18:51] lesv commented on #2398
This issue will get fixed by #2555
This is related to both gRPC, Guava, and a whole lot more.  Every library (that doesn't respect SemVar) we use in g-c-j that's used by others.

[2017-11-09 18:53] lesv commented on #2398
This is the #1 reason large apps can't use this library -- it's a big deal and needs to get fixed.

[2017-11-09 18:55] #2594 closed

[2017-11-09 22:02] pongad commented on #2398
I'll reassign this to @garrettjonesgoogle since he's assigned to #2555

[2017-11-09 23:50] anthmgoogle commented on #2516
In your situation, the best option may be to https://github.com/google/google-api-java-client if the Cloud SDK is not a good target for programming against. While these libraries are not having much active development, they are supported and the code-generation will automatically be 100% in sync with the API.

We realize that the current situation where some google-cloud-<langugage> clients do not

[2017-11-10 01:06] garrettjonesgoogle opened #2609 "Long-running operations throw DEADLINE_EXCEEDED (Affects Speech, DLP, others)"
It appears that there is a bug in gax that sends a deadline in the past to GRPC, but only for long-running operation polling calls.

[2017-11-10 06:01] emilianbold commented on #2516
Right now I'm using google-cloud-java *and* google-api-java-client (for the firewall) which seems like a hack but... works. Really glad I'm finished with all this!

[2017-11-10 07:13] garrettjonesgoogle commented on #2609
I have figured out a fix in gax - basically we have not propagate the deadline from the LRO logic to the concrete calls to check the operation, because the deadline in the LRO logic is set to junk. The main fix will be here:

https://github.com/googleapis/gax-java/blob/master/gax/src/main/java/com/google/api/gax/rpc/OperationCheckingCallable.java#L81

[2017-11-10 07:15] amogh09 commented on #2568
I think this is the right way to do it.
[code]

[2017-11-10 07:15] #2568 closed

[2017-11-10 14:29] pongad commented on #2465
Update: the server side release should happen this week. The feature should be enabled next week. The client (in master) has already been [modified](https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2580) to take advantage of this new feature.

When the server feature is enabled, we'll test to see how this helps.

[2017-11-10 16:13] joaoandremartins opened #2610 "TraceServiceSettings.Builder not very idiomatic"
I'm having to do this weird cast, which should be avoidable:

[code]

Notice the `(TraceServiceSettings.Builder)` cast, because `setExecutorProvider()` is inherited from the abstract `ClientSettings` and should probably be overwritten to return a `TraceServiceSettings.Builder`.

[2017-11-10 18:31] neozwu commented on #2438
I'm downgrading this to P2 since it's not blocking CI at the moment. The root cause seems to be the permission setting of bigquery dataset which is used for logging sink. Will continue investigating.

[2017-11-10 18:47] garrettjonesgoogle commented on #2610
What version of Java are you using?

[2017-11-10 20:07] joaoandremartins commented on #2610
Was using jdk1.8.0_121, though seeing the same thing with jdk1.8.0_151.

[2017-11-10 20:42] anthmgoogle commented on #2516
Yes, right now that may be the least worst way to use a set of APIs. Use google-cloud-java for APIs with Beta or GA clients because they will generally be better, and fall back to google-api-java-client for all others.

Obviously that is a bad story overall. We are working towards allowing you to use google-cloud-java for everything to get out of this.

[2017-11-10 20:43] anthmgoogle commented on #2516
Closing since we have settled on the recommendation for now. Please reopen or start a new issue if there is more we can help with.

[2017-11-10 20:43] #2516 closed

[2017-11-10 21:16] garrettjonesgoogle commented on #2610
Also what version of gax are you using?

[2017-11-10 21:32] tswast commented on #2591
:+1:

Regarding "What should BigQuery.query do?" my preference is "alias of create". But the other options may be acceptable if any exceptions thrown while waiting for the job make it easy to get the full job resource so that the user can investigate errors further.

[2017-11-11 00:34] garrettjonesgoogle commented on #2609
I have made the fix in gax and published a new version (0.15.0), which hasn't showed up in maven yet, but should soon. If anyone encounters this problem before a new version of google-cloud-java can be released, just override gax to 0.15.0.

[2017-11-11 10:02] gnanamalarvizhi commented on #2229
@kirankumar-mahi  I have some issues with listObjects. Created new issues [here](https://github.com/aws/aws-sdk-java/issues/1372)

[2017-11-11 23:32] Klabauterman commented on #2577
Cool, thanks 👍

[2017-11-12 19:27] AgoloKarimTawfik commented on #1827
Hey,

I am now creating an async pull client that subscribe for a subscription.
Using the following code:

[code]

It works fine for 2-3 minutes and get stuck with no more ingestion of messages, I am sure that there are messages as once I restarted the pulling client, it reads data normally.

Every time it get stuck, I saw the below log:
`2017-11-12 19:08:43 [grpc-default-worker-ELG-2-3] DEBUG io.

[2017-11-13 01:44] pongad opened #2614 "pubsub: streaming connection logs too aggressively"
First reported [here](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1827#issuecomment-343760699).

The connection logs a warning even though the subscriber is shutting down. When shutting down, this error is normal. The subscriber waits to process all messages, but by the time this happens, another message might have already arrived. Trying to ack this message could error: it rac

[2017-11-13 01:47] pongad opened #2616 "pubsub: sleep in example is confusing"
Originally reported [here](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1827#issuecomment-343760699). The code snippet can be run and tested, so we'd like to make it terminate at some point, but this is confusing to users.

[2017-11-13 01:57] pongad commented on #1827
Thank you for the report @AgoloKarimTawfik. Since this is unrelated to the original bug, I have opened separate issues for them. Let's track there.

[2017-11-13 03:18] #2616 closed

[2017-11-13 06:25] #2614 closed

[2017-11-13 10:55] AgoloKarimTawfik commented on #1827
Thanks @pongad , just to know, I've been trying lots of stuff, and one of the trials worked for me fine.

What I did is that I commented out the below lines, and working so fine, and not get stopped till now (it has been working for few hours now)
[code]

I don't think that make sense, however it is working fine, do you have any explaination for this @pongad ?

[2017-11-13 11:27] pongad commented on #1827
@AgoloKarimTawfik Sorry I forgot to actually answer your question!

The `stopAsync` method tells the subscriber to stop pulling messages, and `awaitTerminated` waits until the subscriber fully stops. So if you remove the line, it'd make sense that the subscriber would keep going forever.

In the example, we call these stop methods after sleeping for one minute. So our subscriber runs for about a m

[2017-11-13 11:35] AgoloKarimTawfik commented on #1827
Make much sense to me now, this is now clear enough, but I think I went through the sample documentation and was not that clear, I think if such explanation found in the sample would me very helpful.

Thanks a lot @pongad, this clear things to me.

[2017-11-13 15:47] garrettjonesgoogle commented on #2551
@mihania is this simply a question about what is supported, or do you want to turn this into a request to add the feature?

[2017-11-13 16:27] joaoandremartins commented on #2610
Apologies, user error. `gax` version was being set to 1.8.1 where it shouldn't.

[2017-11-13 16:27] #2610 closed

[2017-11-13 17:14] pongad commented on #1827
@AgoloKarimTawfik No problem. Glad I could help. #2616 should add the explanation. If you still think the doc isn't clear, please feel free to comment on that PR. The feedback would be valuable.

[2017-11-13 17:45] AgoloKarimTawfik commented on #1827
@pondag Much appreciated!

[2017-11-14 01:34] garrettjonesgoogle opened #2620 "Add Storage.create() method which takes a restartable input stream"
In https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2359 , retries had to be turned off for `Blob create(BlobInfo blobInfo, InputStream content, BlobWriteOption... options)` because the `InputStream` can only be consumed once.

We should create a new abstraction named `RetryableInputStream` which can produce a new input stream on the original content, and add a new create method which

[2017-11-14 11:51] mataide commented on #2577
Hey guys, probably not the best place to ask, but I am also trying to implement listen in a Java Project. I am trying to set this up with REST API. Does anyone knows a valid object for it?

I just tried:

[code]
Whenever I try, always get:

[code]

[2017-11-14 15:02] sparhomenko opened #2621 "google-cloud-datastore depends both on protobuf-java and protobuf-lite"
Recent versions of `google-cloud-datastore` have transitive dependencies on both `com.google.protobuf:protobuf-lite:3.0.1` and `com.google.protobuf:protobuf-java:3.4.0`. These libraries contain incompatible classes with the same name, which for us intermittently causes `java.lang.NoSuchMethodError: com.google.protobuf.CodedOutputStream.isSerializationDeterministic()Z`.

This problem was fixed in t

[2017-11-14 15:38] hairybreeches opened #2622 "Pubsub messages always expire after 30 minutes"
We have the following setup for processing pubsub messages (some of which can require a large amount of processing - up to 2 or 3 hours!):

- A pubsub subscription with an acknowledgement deadline of 600s/10 minutes-
- A maximum acknowledgement deadline (including extensions) of 8 hours, set using `setMaxAckExtensionPeriod` on the `Subscriber.Builder`
- A policy to renew the period of the message

[2017-11-14 17:40] schmidt-sebastian commented on #2577
Please take a look at the Node API and turn on logging to see a dump of the request trace:

[code]

That might help you.

[2017-11-14 17:46] michaelbausor commented on #2622
@pongad Do you know what might be going on here?

[2017-11-14 17:52] michaelbausor commented on #2621
@garrettjonesgoogle Assigning you, since you also have https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2503. I can take this (or both issues) if necessary.

[2017-11-14 19:17] elharo opened #2623 "Update docs to 0.28.0"
At least some of the javadocs are still on 0.26.0. e.g.

https://googlecloudplatform.github.io/google-cloud-java/0.26.0/apidocs/?com/google/cloud/resourcemanager/package-summary.html

[2017-11-14 19:38] vkedia opened #2624 "Implement auto tuning of writeSessionFraction in Cloud Spanner Client"
Currently in `SessionPoolOptions` users can specify what proportion of sessions they want to be pre warmed for read write transactions. It defaults to 0.2 which causes #2540  where the client does not have permissions to write to the database thus causing all the pre warming rpcs to fail.
Also it might not be obvious to users that they can tune this parameter to achieve better performance and defa

[2017-11-14 19:38] vkedia commented on #2540
Closing this in favor of #2624

[2017-11-14 19:38] #2540 closed

[2017-11-14 23:59] pongad commented on #2622
@hairybreeches You seem to understand most things correctly (see 1a below). There are 2 known issues that might explain this behavior.

1. The latest release has a bug where if you set the padding to >= 2 seconds, it can cause us to try to send many modify deadline requests quickly. Modifying so often could cause the pubsub server to misbehave. This was fixed by #2604.

One caveat: The linked PR *

[2017-11-15 08:28] hairybreeches commented on #2622
@pongad

Thanks for the prompt, detailed, helpful reply.

Agree 100% with more of the timings being calculated by the lib - both the pull deadline and the padding time. It'd be good not to have to think about either too hard and I don't see much need for customisation of either in our case. I think you're right that 5 seconds padding should be more than enough for anyone - ours is only so long bec

[2017-11-15 10:27] hairybreeches commented on #2622
Is there any way to find out about pubsub server updates? The only thing I can find is this, which only seems to include large feature/availability rollouts https://cloud.google.com/pubsub/docs/release-notes

[2017-11-15 13:52] phimar opened #2629 "Storage.signUrl() fails with default credentials in java8 standard runtime"
Invocation:
[code]
Stacktrace:
[code]

I tracked the problem down to the `com.google.auth.oauth2.GoogleCredentials.getDefaultCredentialsUnsynchronized()`(https://github.com/google/google-auth-library-java/blob/51a5445b33d10f252cadfdcca82dd9e68512e483/oauth2_http/java/com/google/auth/oauth2/DefaultCredentialsProvider.java#L182) where it skips over `tryGetAppEngineCredential()` to return an instance

[2017-11-15 18:03] michaelbausor commented on #2623
There is also a 0.29.0 version of this doc: [https://googlecloudplatform.github.io/google-cloud-java/0.26.0/apidocs/?com/google/cloud/resourcemanager/package-summary.html](https://googlecloudplatform.github.io/google-cloud-java/0.29.0/apidocs/?com/google/cloud/resourcemanager/package-summary.html)

Are we linking to outdated docs from somewhere? https://googlecloudplatform.github.io/google-cloud-j

[2017-11-15 18:11] michaelbausor commented on #2629
@neozwu Do you have context around this? It looks like the relevant auth library code was last updated in these PRs:
- https://github.com/google/google-auth-library-java/commit/2ac95c18185294f74d5d38098e15a04be09c755b
- https://github.com/google/google-auth-library-java/commit/dd5fdfdc11774f9df7390efabba08edb6aaa467f

[2017-11-15 18:34] elharo commented on #2623
I certainly landed in them somehow. Let me see if I can reproduce exactly how.

[2017-11-15 18:57] neozwu commented on #2629
@phimar For GAE java 8 standard, metadata server is used to retreive credentials. The current implementation for `AppengineCredentials` uses appengine APIs, which only work for java 7. It seems that  [`ComputeEngineCredentials`](https://github.com/google/google-auth-library-java/blob/master/oauth2_http/java/com/google/auth/oauth2/ComputeEngineCredentials.java#L60) didn't implement `ServiceAccountS

[2017-11-15 19:39] neozwu commented on #2142
GAE & GCE now both use metadata server. Close this issue since supporting signing URL is tracked in #2629

[2017-11-15 19:39] #2142 closed

[2017-11-15 22:24] pongad commented on #2622
@hairybreeches The pubsub team is rolling out the update. Currently it's only on some servers though; I'll keep the issue threads posted.

[2017-11-16 00:15] schmidt-sebastian commented on #2579
As per our internal discussion, we are not treating this as high priority item for now and suggest that you implement your own serialization at the POJO level. If you give us a Map that has BigDecimals already serialized to a String, you will be able to store these objects in Firestore.

[2017-11-16 00:15] #2579 closed

[2017-11-16 02:14] pongad commented on #2353
I'll close this for now due to age. Please reopen if required.

[2017-11-16 02:14] #2353 closed

[2017-11-17 00:24] danoscarmike opened #2636 "Please update readme to reflect release of Dialogflow Enterprise Edition Beta"

[2017-11-17 00:28] garrettjonesgoogle commented on #2636
We have no readme for DialogFlow yet...

[2017-11-17 18:09] #2494 closed

[2017-11-18 19:42] lesv commented on #2587
It should do this now if you are using one of our adapters.  @jabubake Should be able to elaborate as I'm OoO til Dec.

[2017-11-18 19:53] lesv commented on #2586
This is a Java 9 FR.  It's a common request: grpc/grpc-java#3523, grpc/grpc-java#3522, square/ok-http#3655

It should be trivial to do, see https://github.com/google/guava/commit/f2be0be06ef49dee7c5dfcb3a0231c5ecaf5b621#diff-e407b6f223ee6c04116a91ead9f5e100R42 for an example.

[2017-11-18 20:14] lesv commented on #2629
No, but its a very important thing to fix.

[2017-11-19 22:57] michaelbausor commented on #2623
@elharo I am going to close this for now - please reopen if you find how you landed on the outdated docs. Thanks!

[2017-11-19 22:57] #2623 closed

[2017-11-20 16:14] BrandonY opened #2643 "Storage: Can't specify project when creating a bucket"
The client library allows users to create GCS buckets, and it will create them using the project specified when setting up the client. However, there is no way to overrule this and specify a project number at the time of bucket creation.

[2017-11-20 19:03] neuromantik33 commented on #2588
I'm having the same problem with the latest version of pubsub 0.30.0-beta.. Here is my complete stacktract (don't mind the clojure code..)

I can reproduce at any time by running a `kill -2 <pid>` on the process (which is what happens for gracefully shutting down docker containers).

If you need any more info please let me know.

[code]

[2017-11-20 23:22] pongad opened #2644 "pubsub: allow users to configure number of Publisher connection"

[2017-11-20 23:56] pongad commented on #2588
@neuromantik33 This is rather surprising. In `Subscriber`, we [shut down](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/ae1b0e7a9c7e4f67b12ff4f779330ea9d8c73570/google-cloud-pubsub/src/main/java/com/google/cloud/pubsub/v1/Subscriber.java#L314) all connections before shutting down the executor so all callbacks should have been scheduled before the executor shuts down. (You have to o

[2017-11-21 03:10] brugz commented on #2504
Hi folks,

For what it's worth, I'm tracking a similar issue, and I think the code neozwu provides is making a call to to tryGetComputeCredentials() [1] - which may return Null [2] on GAE Java8

I'm following up with one of our teams to investigate.

[1]: https://github.com/google/google-auth-library-java/blob/master/oauth2_http/java/com/google/auth/oauth2/DefaultCredentialsProvider.java#L264
[2]:

[2017-11-21 07:15] Venkata96 commented on #290
@aozarov What do we use instead of MediaHttpDownloader? How do we download a chunk

[2017-11-21 09:40] phimar commented on #2629
Thank you for your comments and the linkage to the issue on google/google-auth-library-java.

[2017-11-21 10:54] neuromantik33 commented on #2588
@pongad As far as I know I'm not providing any executor save the one required by the `com.google.api.core.ApiService$Listener` which is actually not a real one, and definetly not shutting it down beforehand. Here is a snippet of my Clojure code, which I think illustrates somewhat my Subscriber factory. I've also included my shutdown function which is invoked in a shutdown hook of my application. I

[2017-11-21 13:01] yamennassif commented on #2276
@tcoffee-google can you maybe check if there is any updates on this ?

[2017-11-21 17:41] aozarov commented on #290
see the [associate change](https://github.com/GoogleCloudPlatforme/google-cloud-java/pull/390/files#diff-e1d1a71790d1d8ec430041dc43d5373f) or [current code](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/ab102630bb3db277a0810c44b05100114e128e44/google-cloud-storage/src/main/java/com/google/cloud/storage/spi/v1/HttpStorageRpc.java#L488).

[2017-11-21 20:41] elharo opened #2650 "README.MD for Google Cloud Firestore missing transport section"
e.g.

Transport

Compute uses HTTP for the transport layer.

[2017-11-21 22:12] stickfigure opened #2651 "OrderBy needs a toString()"
`com.google.cloud.datastore.StructuredQuery.OrderBy` is missing a `toString()` implementation. This would be valuable for debugging queries and creating stable query cache keys.

[2017-11-21 22:18] kansuke231 opened #2652 "LoadStatistics stats = job.getStatistics() yields java.lang.ClassCastException"
Hi all,

I am trying to insert some json data into a BigQuery table with Spark. Here is a snippet of code that is supposed to be doing the insertion:
[code]
However,  the line`LoadStatistics stats = job.getStatistics();` yields an exception of `java.lang.ClassCastException: shaded.guava.cloud.bigquery.JobStatistics$CopyStatistics cannot be cast to shaded.guava.cloud.bigquery.JobStatistics$LoadStat

[2017-11-22 00:16] pongad commented on #2622
@hairybreeches The fix has landed. Could you try again and see if it helps? v0.30.0 is the latest release.

[2017-11-22 00:19] pongad commented on #2465
The server-side fix has landed. If you are affected, could you try again and see if you observe fewer duplicates?

While we expect the fix to help reduce duplication on older client libs, I'd encourage moving to latest release (v0.30.0) since more fixes has landed during that time.

[2017-11-22 05:09] pongad commented on #2588
I found the problem. I'll put the diagnosis in the PR description.

[2017-11-22 10:25] rahuldevanavar91 opened #2654 "build failed after adding google cloud dependency"
Hi
 I am added google cloud  dependency by
[code]

but my build is failed with the following error

Annotation processors must be explicitly declared now.  The following dependencies on the compile classpath are found to contain annotation processor.  Please add them to the annotationProcessor configuration.
    - auto-value-1.2.jar (com.google.auto.value:auto-value:1.2)
  Alternatively, set andro

[2017-11-22 11:50] hairybreeches commented on #2622
@pongad  - we've updated to v0.30.0, and queued a long-running job this morning, and I'm afraid that both the message duplication and requeuing issues seem to persist.

<img width="1396" alt="requeue" src="https://user-images.githubusercontent.com/709166/33125669-552740d4-cf79-11e7-8b4f-53000d807529.png">

This is the log of workers picking up one particular message from the queue (note the filter

[2017-11-22 13:41] avallfox opened #2655 "Missing method AIRequest.setcontexts in version 2"
Actually, i am using the V1 Dialogflow Client Java SDK.
<dependency>
    <groupId>ai.api</groupId>
    <artifactId>libai</artifactId>
    <version>1.6.12</version>
</dependency>

In the current stable version (1.6.12) we have the possibility to set the Contexts before the query is sent to the server, using the method:

**AIRequest setContexts(List\<AIContext\> contexts)**

This is usefull because

[2017-11-22 21:33] iros opened #2656 "Add LocalDatastoreHelper index support"
I am attempting to use LocalDatastoreHelper to test my datastore workflow, however all of my query methods fail due to missing indices.

For example a query like this:
[code]
This works in production because I created those indices via gcloud. What is the correct way to ensure those indices are available in the emulator? I am running my tests through maven.

Thanks

[2017-11-23 01:13] danielcompton commented on #1700
Just wanted to say that this is all very confusing from the perspective of someone trying to setup tracing. The docs all seem to put in different directions, with varying amounts of guidance on actually using this to capture traces.

[2017-11-23 03:02] pongad commented on #2622
@hairybreeches Thank you for letting us know. I've reported to Pubsub team.

[2017-11-23 07:50] hairybreeches commented on #2622
@pongad Thanks! This is pretty important to us, so if there's anything diagnostic we can do, we'd be happy to help

[2017-11-23 11:32] hairybreeches commented on #2622
Ah, it looks like the updates that we tested on 22/11 (server updates and update to v0.30.0) meant we could finish the work. Although the message expiry/duplication still affected us, the work did finish eventually: It was picked up 15 times in total, by different worker threads across three pods, and finished each time:

<img width="1396" alt="completed run" src="https://user-images.githubusercon

[2017-11-26 19:42] kansuke231 commented on #2652
I have figured out the root cause. The data I was trying to write into BigQuery comes from Google Spreadsheet that has 4 columns, namely Column1 ~ Column4. But the BigQuery table has only 3 columns. After getting rid of the last column in the incoming DataFrame, things work as expected.
I close this issue as I found the solution.

[2017-11-26 19:42] #2652 closed

[2017-11-27 02:23] HighNoonSolutions opened #2663 "CSS Issue on github.io page header element"
![screen shot 2017-11-26 at 6 20 01 pm](https://user-images.githubusercontent.com/5672035/33247948-b44db024-d2d6-11e7-89eb-db4c3f79a582.png)

The QuickStart code on the right pushes the content further than the other runtime languages.

Can be fixed with the following css rule change.

`@media only screen and (min-width: 60em)
site.css:1148
.col {
    width: 48%;
}`

[2017-11-27 15:19] kir-titievsky commented on #2622
@hairybreeches You mention "long running jobs" -- in general, Pub/Sub and the examples are not geared towards jobs that take a "short" time (call it under 10 minutes).  You can have much longer jobs, but they might take some fiddling with the settings and generally work better with a synchronous API. I'll try to contact you on linked into see if we could look at this more closely and find the righ

[2017-11-27 19:18] steren opened #2664 "broken design on documentation site"
See the 'google-cloud' title on
https://googlecloudplatform.github.io/google-cloud-java/0.30.0/index.html

<img width="1432" alt="screen shot 2017-11-27 at 11 17 25 am 1" src="https://user-images.githubusercontent.com/360895/33284641-9b24e124-d364-11e7-9151-bd4730363496.png">

[2017-11-28 00:04] vkedia opened #2666 "Spanner: Automatically release session to the pool when read/query ends on single use transaction"
Currently in a single use transaction, when the `ResultSet` returned by read/executeQuery is closed or it completely iterated on (till `next` returns false), we release the session to the pool. This is error prone as the user might not do either.
Instead of this we should automatically free up the session when the rpc finished.

[2017-11-28 21:59] joaoandremartins opened #2667 "Provide Storage.BlobListOption.defaultInstance() method for idiomatically listing every item in a GCS bucket"
I want to list every object in a bucket and add it to a list.

I want to use code similar to this:

[code]

This code blows up with an NPE as expected. In order to make it work, I either need to duplicate the logic inside the while loop to get the first page with a `this.gcs.list(path)` call, or add a bogus `Storage.BlobListOption`, like `Storage.BlobListOption.pageSize(50)` instead of `null` at t

[2017-11-29 20:15] hzyi-google commented on #2527
@vipulnaik Sorry but I cannot reproduce this bug. Can you give me the full stacktrace and probably more context about how this `writeBytes()` method is called? Thanks.

[2017-11-30 06:09] dhoard-papajohns opened #2668 "Pub/Sub: synchronous pull "Received data on closed stream""
I'm using the solution for Issue https://github.com/GoogleCloudPlatform/google-cloud-java/issues/1661 to pull a batch of messages to process asynchronously.

I cannot use the recommended class `Subscriber` due to the fact that I need to process / ack messages asynchronously (producer / consumer scenario ... consumer processes, then acks the messages.)

Using `GrpcSubscriberStub` I get random batch

[2017-11-30 07:43] bspradling8 opened #2669 "Structured Logging with Stack Driver Logback Appender"
Currently there is a Java Logback Appender that allows Java Applications to utilize the SLF4J interface and log to StackDriver.

SLF4J has the concept of Marker objects that allows users to include objects to enrich the log messages. It seems that the StackDriver Logback Appender is ignoring these Marker objects while logging to StackDriver.

To show an example, the following log statement:
[code]

[2017-11-30 19:57] bspradling8 commented on #2669
As an update, it appears the issue would be here:

[code]

It assumes that all data coming into the LoggingEvent is a StringPayload

[2017-11-30 20:55] fkorotkov opened #2670 "Google Cloud Container Library"
It will be nice to have a google cloud library to work with GKE APIs e.g. `google-cloud-container`.

My use case is to write some custom automation for managing clusters. Methods like [get-credentials](https://cloud.google.com/sdk/gcloud/reference/container/clusters/get-credentials) and others can be handy.

[2017-11-30 22:19] andreamlin commented on #2654
Hi rahuldevanavar91,

Which dependency management system is this? Why is guava being excluded from the google-cloud-storage dependency?

[2017-12-01 05:19] rahuldevanavar91 commented on #2654
I am using google  dependency management .
I excluded guava because I am not using it.

[2017-12-01 19:06] kmjung opened #2671 "gax-java does not convert native gRPC exceptions in the server streaming case"
I have a gRPC-based service consisting of a unary API and a server streaming API:

[code]

When the server returns a `google.rpc.Status` error, the gRPC runtime raises an `io.grpc.StatusException` in both cases. In the unary case, the exception is translated to a `com.google.api.gax.rpc.ApiException` inside `com.google.api.gax.grpc.GrpcExceptionCallable$ExceptionTransformingFuture`, but in the ser

[2017-12-01 19:09] garrettjonesgoogle commented on #2671
I believe ongoing work by @igorbernstein2 will fix this.

[2017-12-01 19:12] igorbernstein2 commented on #2671
Yep, I'll update this ticket as soon as the relevant parts of https://github.com/googleapis/gax-java/pull/433 get merged

[2017-12-01 19:20] joaoandremartins opened #2672 "Make Storage.update() rename an object"
I expected the following call to rename an object. Unfortunately, its behaviour is not the expected, and it's very different from other similar calls like `setMetadata()`.

[code]

AFAICT, this tries to make a dummy update to `gs://existingBucket/newObject`, which fails because the URI doesn't exist.
Logically, the behaviour of this call should be to rename the object, which is what I want to do,

[2017-12-01 19:30] kmjung opened #2673 "Artman code generation: emitted test code doesn't build"
I use artman to generate Java client libraries for my gRPC-based service. Specifically, I'm using the googleapis and toolkit versions from this commit: https://github.com/googleapis/artman/commit/d065fbb63c5778756eb8b6f42ca417079dae04e4.

The emitted production code builds and runs, but the test code doesn't compile as it's emitted. Two fixes are required to make it build:

1. Gradle dependencies

[2017-12-01 19:35] kmjung opened #2674 "Artman code generation: wrong version of netty-tcnative"
I use artman to generate Java client libraries for my gRPC-based service. Specifically, I'm using the googleapis and toolkit versions from this commit: https://github.com/googleapis/artman/commit/d065fbb63c5778756eb8b6f42ca417079dae04e4.

The emitted code builds, but I can't use it to talk to my service since the Gradle dependencies specify the wrong version of the netty-tcnative library. Specific

[2017-12-01 19:41] kmjung opened #2675 "Artman code generation: can't configure channel size"
I use artman to generate Java client libraries for my gRPC-based service. Specifically, I'm using the googleapis and toolkit versions from this commit: https://github.com/googleapis/artman/commit/d065fbb63c5778756eb8b6f42ca417079dae04e4

My service interface requires that I increase the inbound message size up to 10 mb. However, it doesn't appear that this option is supported currently in artman /

[2017-12-01 19:47] hzyi-google commented on #2672
@joaoandremartins Please refer to this code snippet from the `Storage` interface to update metadata of a blob:
[code]
Feel free to repost if that does not solve your problem.

[2017-12-01 20:19] andreamlin commented on #2670
Hi,

A google-cloud-container library is indeed in the works, perhaps to be released by the end of this quarter. Please standby! :D

[2017-12-01 20:20] hzyi-google commented on #2667
@joaoandremartins There is an example in `Storage.java` regarding listing all the blobs in a bucket using `Iterator`:
[code]
Please feel free to reply if this does not work for you.

[2017-12-01 20:44] kmjung commented on #2673
Moved to http://github.com/googleapis/toolkit: https://github.com/googleapis/toolkit/issues/1730

[2017-12-01 20:44] #2673 closed

[2017-12-01 20:46] kmjung commented on #2674
Copied to http://github.com/googleapis/toolkit: https://github.com/googleapis/toolkit/issues/1731

[2017-12-01 20:46] #2674 closed

[2017-12-01 20:47] kmjung commented on #2675
Coped to http://github.com/googleapis/toolkit: https://github.com/googleapis/toolkit/issues/1732

[2017-12-01 20:47] #2675 closed

[2017-12-01 20:56] fkorotkov commented on #2670
Awesome news!

For future researchers: old `com.google.apis:google-api-services-container` but still supported library can be used in the meantime.

[2017-12-01 21:35] hzyi-google commented on #2550
@TheIndifferent After writing contents to a `blob` the `generation` of the `blob` would be updated. The `generation` field inside `BlobId` became out of date and the `blob` became sort of dangling. Therefore you are likely to receive a 404 if using the older `blob`. Please use `storage.get()` to get the up-to-date instance before Using `Blob.listAcls()`.
Feel free to add comments if this does not

[2017-12-01 21:42] joaoandremartins commented on #2672
@hzyi-google thanks for the help.

Unfortunately, that didn't work. I'm still getting a `Not found` error.

As I mentioned in my report,`setBlobId()` isn't having the desired effect. This should be looked into.

[2017-12-01 21:47] hzyi-google commented on #2672
@joaoandremartins Thanks for the feedback. I'll take a further look.

[2017-12-01 22:20] hzyi-google commented on #2672
It seems that Object#update is only used to update the metadata per [here](https://cloud.google.com/storage/docs/json_api/v1/objects/update). Therefore additional changes have to be made outside the client library for this request. Can you tell a look as well @neozwu ?

[2017-12-03 01:54] akhilputhiry commented on #2479
I am also facing same issue. Even with `0.22.1` I am getting the error. Any workaround/fix for this.

[2017-12-03 05:06] saturnism commented on #2307
@garrettjonesgoogle can we reopen this issue to track?

[2017-12-04 00:59] jscinoz opened #2678 "[Bigquery] Empty arrays are not supported as query parameter values"
It is perfectly valid to run queries with an empty array as a parameter. Our application has one such query that takes two `ARRAY<INT64>` parameters; either of which (but never both) could potentially be empty. Said query is trivial and is quoted in its entirety below:
[code]

Running this query with explicit array literals (i.e. building the query string with these values pre-substituted, rather

[2017-12-04 18:52] btilford commented on #1573
Same situation here, one library breaks with < guava 20 others break when it's > 20. Basically making it really hard to use GCP. Always been able to work through guava conflicts in 3rd party libraries in the past but sort of stuck with GCP and other google apis.

[2017-12-06 09:26] anuraaga opened #2683 "Resolving project-id when not specified is very slow"
After recently updating gcloud from 0.26 to 0.30 (cloud storage 1.8.0 to 1.12.0), I found that it became much slower when starting up. Looking at logs, I noticed that this URL fetch of the current project-id (when using `getDefaultInstance()` to initialize a service) is very slow, taking ~5-10 seconds

http://metadata.google.internal/computeMetadata/v1/project/project-id

I'm not sure if 0.26 did

[2017-12-07 00:44] pongad commented on #2664
Duplicate of #2663

[2017-12-07 00:44] #2664 closed

[2017-12-07 00:46] pongad commented on #2663
@jabubake I don't see this behavior on my side. Was this issue already fixed?

[2017-12-07 00:48] jabubake commented on #2663
I am seeing this, it looks like the page is loading an un-safe script as per Chrome. It renders correctly once enabled

[2017-12-07 02:07] pongad commented on #2669
@jabubake @andreamlin I'm not too sure how severe this problem is. I tagged P1, but please change if appropriate.

[2017-12-07 02:24] #2588 closed

[2017-12-07 10:15] ardias opened #2686 "Small inconsistency in Compute interface"
Hi there,

Just noticed what i think is a small inconsistency in Compute Interface:
Compute.getNetwork() accepts a **string** (network name) and Compute.getSubnetwork() accepts a **SubnetworkId**

Most, if not all, other **get** methods accept a ResourceId object

[2017-12-07 15:31] ihsanhaikalz opened #2687 "Can't attach custom role to service account or container"
I created a custom role that consists of some permission but when I tried to attach it to service account or container programatically it always give error. Is it not supported yet? If it is supported how can I attach it to service account or container?

My code are as follow:
In Google Cloud Storage
[code]

[code]

[2017-12-07 19:23] maxqch opened #2688 "Spanner client session pool: timeout for creating sessions, more visibility"
Hi,

I've noticed that sometimes `com.google.cloud.spanner.DatabaseClient#readWriteTransaction` takes a long time (~5 seconds) to return the transaction runner.

We have `setFailIfPoolExhausted` set to true, so I believe this is the result of a `CreateSession` request taking a long time, possibly due to failing + retrying the rpc, though we have no visibility into this.

The library does not allow

[2017-12-07 19:43] vkedia commented on #2688
Thanks for filing this. I think what we need to do is to respect the deadline specified in grpc `Context` while waiting for a session to be available.
As for visibility I am working on adding Tracing ( #2677 )  support into client library which should make it easier to debug such issues.

[2017-12-08 00:07] #2307 closed

[2017-12-08 00:57] pongad commented on #2683
@anuraaga Out of curiosity, how did you detect that it was the call that takes a long time?

I started up a test GCE instance and ran
[code]
I think it's unlikely that the call itself is the problem.

@anuraaga Can you confirm that you're running on AppEngine, Compute Engine, or Container Engine? The endpoint is only available to them, so if your application is retrying to access that URL from you

[2017-12-08 04:40] anuraaga commented on #2683
Hi @pongad I should have clarified better that indeed, these are not running on GCP machines - the client is running on developer machines on a normal office internet connection in Japan.

After trying to use the client recently, and finding that commands that used to run instantly were taking several seconds to initialize, I looked at the INFO logs and noticed it was always hanging on that call.

[2017-12-08 07:23] pongad commented on #2678
@jscinoz Thank you for the report! This is a repro with public data:
[code]
If `words` is not empty, everything works OK.

[2017-12-08 14:35] asnare commented on #1381
It looks like @hbchai said "Great, we'll change it to `FINE`" but @garrettjonesgoogle then closed it before the change was made?

[2017-12-09 00:20] wsh opened #2693 "Datastore driver should support ID reservation"
This is supported in the low-level client as of version 1.5, which this library [already depends on](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/96fd92b45a1782bfd2304fcf2f2df7e985a4ce4f/google-cloud-bom/pom.xml#L263). #2589 would obviate this.

[2017-12-09 00:41] dtretyakov opened #2694 "Specify custom machine type while Compute instance creation"
We want to use custom machines type while creating new compute instances with a specific number of CPUs and size of memory: https://github.com/JetBrains/teamcity-google-agent/issues/9

But at the moment I could not figure out how to create custom machine type for that. Currently to configure instance we're using the [following code fragment](https://github.com/JetBrains/teamcity-google-agent/blob/

[2017-12-09 21:16] dtretyakov commented on #2694
The custom machine type could be created like that:
[code]

where will be allocated 4 vCPUs and 5 GB (5120 MB) of memory.

[2017-12-09 21:16] #2694 closed

[2017-12-11 17:19] smartytime commented on #2465
We are seeing this behavior currently.  We are using `v0.30.0-beta` of the pubsub library, and our subscriptions are all set to a 60s ack deadline.  We have a subscription that is currently extended the deadline for over 750K unacked messages:

Screenshot of stackdriver below:
https://screencast.com/t/KogMzx0q7f5

Our receiver always performs either `ack()` or `nack()`, and the occasional message

[2017-12-11 17:22] kir-titievsky commented on #2465
Eric, how does the mod ack rate compare to your Publish and ack rates?
On Mon, Dec 11, 2017 at 9:19 AM Eric Martineau <notifications@github.com>
wrote:

--

Kir Titievsky | Product Manager | Google Cloud Pub/Sub

[2017-12-11 17:34] jabubake commented on #2669
@bspradling8 : Markers is not currently supported, but we will look into adding them in a release soon.

[2017-12-11 18:20] #2651 closed

[2017-12-11 18:21] hzyi-google commented on #2527
Close it for now. Please reopen if this is still an issue.

[2017-12-11 18:21] #2527 closed

[2017-12-11 18:34] jabubake commented on #2669
@dzlier-gcp FYI

[2017-12-11 19:17] hzyi-google commented on #2683
@anuraaga Thanks for the investigations. Since your project is not on any GCP machines, can you also take a look where you specified the project-id per [here]
 (https://github.com/GoogleCloudPlatform/google-cloud-java#specifying-a-project-id) before you explicitly set the project-id? Thanks.

[2017-12-11 19:19] smartytime commented on #2465
This is the ack rate during the same window:
https://screencast.com/t/FR2utgEau

The publish rate:
https://screencast.com/t/2bT4ZcMkJwG

We have a backlog of 1MM messages.  Also, we have three separate identical environments with roughly the same usage, and we're seeing this issue on two of them.  A third environment seems unaffected.

[2017-12-11 19:42] kir-titievsky commented on #2465
Should have asked this earlier: but is your streamingPull operations < 10
messages/second?

On Mon, Dec 11, 2017 at 2:19 PM Eric Martineau <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2017-12-11 20:26] hzyi-google commented on #2667
Close it for name. Feel free to reopen.

[2017-12-11 20:26] #2667 closed

[2017-12-11 20:32] smartytime commented on #2465
https://screencast.com/t/Nrlxws3v (the drop at the end is when I deleted and recreated the topic)

[2017-12-11 21:22] vchudnov-g commented on #2693
Thanks! I categorized this issue so we can track it and address it.

[2017-12-11 21:27] vchudnov-g commented on #2688
Does this address your question, @maxqch ?

[2017-12-11 21:40] maxqch commented on #2688
Tracing sounds great, I'm looking forward to it :)

I'm not sure I understand the grpc context deadline. How will this be exposed through the API? Also is there a ticket tracking the issue so it can get prioritized and worked on?

[2017-12-11 21:53] vkedia commented on #2688
We can use this issue to prioritize this.
We already use deadline specified in grpc Context elsewhere in the spanner client library. We just need to change the place where we block for a session to be created to timeout if the deadline has elapsed. There will be no change in the API as far as I can see. You would do something like this:
[code]

You can do this even now and we would respect the dea

[2017-12-11 21:56] danoscarmike opened #2696 "Please update video intelligence README to v1"
Video Intelligence [README](https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-video-intelligence/README.md) continues to reference v1beta1 post the release of v1 API.  Can we please update links e.g. to Maven Central and to reference docs?

[2017-12-11 22:05] joaoandremartins commented on #2667
Thanks a lot for the response.

Yes, that should work for us, although I think we should also support `do ... while` semantics to page through all the results with the default `BlobListOption`.

Also, `Page<T>` implementing an `iterateAll()` method that iterates over elements that aren't in that page sounds like a counter-pattern and isn't very intuitive...

[2017-12-11 22:24] vchudnov-g commented on #2687
@ihsanhaikalz What is the error that you get?

@lesv Do you know off-hand the correct way to do this?

[2017-12-11 22:31] kir-titievsky commented on #2465
looks like you are not acking most messages, which would leave them stuck
being modAcked, no?

On Mon, Dec 11, 2017 at 3:32 PM Eric Martineau <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2017-12-11 22:31] vchudnov-g commented on #2686
Thanks, @ardias. We'll look into this.

@garrettjonesgoogle Is this a library or API issue?

[2017-12-11 22:49] pongad commented on #2669
@jabubake I think @andreamlin is now working on the autogen-clients, so I think this feature is on my plate. I'll self-assign.

[2017-12-11 23:14] smartytime commented on #2465
We're either acking or nacking every message.  My assumption is that nacking would cause the message to become available for immediately redelivery.

[2017-12-11 23:31] hzyi-google commented on #2643
Hi @BrandonY -
Thanks for letting us know the issue. Based on my understanding, the best way to create a bucket for a different project is to create a different `storage` client. Here is a short sample code for your reference:
[code]
The code is repeating but this should be the best practice for now. The reason we are not able to give a public method to specify a `projectId` when creating a bucket

[2017-12-11 23:34] maxqch commented on #2688
Ah, I see, that makes sense. It would probably be helpful to add that to the API documentations. Maybe it's just me but I wasn't aware that an existing grpc context was being used for timeouts.

Sounds good to me.

[2017-12-12 00:26] BrandonY commented on #2643
That makes sense. Still, other products seem to offer this. For example, with the pubsub client, I can do this:

[code]

[2017-12-12 01:00] kir-titievsky commented on #2465
right. It looks like you are nacking most messages. The question is why.

On Mon, Dec 11, 2017 at 6:14 PM Eric Martineau <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2017-12-12 05:25] pongad commented on #1839
This is codegen feature, reassigning back to Garrett

[2017-12-12 06:58] aks0020 opened #2698 "google cloud storage signed url with custom meta header"
I don't see any option to generate signed url with headers other than 'Content-Type'
I want to generate signed url with `x-goog-meta-*` header how to achieve that with this client library.

[2017-12-12 07:24] pongad commented on #1795
@garrettjonesgoogle I think I need to send this back to you. The generated client must expose a way to flush. I don't think this is possible at the moment.

[2017-12-12 07:29] pongad commented on #2644
This should wait for https://github.com/googleapis/gax-java/pull/436 to be published

[2017-12-12 09:53] ihsanhaikalz commented on #2687
@vchudnov-g here is the error that I got

[code]

[2017-12-12 10:30] AliChaudhry8 opened #2699 "Class name which contain special character like '$' not added"
I am not using your project.. I am using google cloud translate jar file in my project. I know this is not the place to ack question not related to this project but i need help.
when i add jar file in my lib folder in android studio the .class files which contain '$' sign in there name not added. And due to this when i run my project it gives error that this file is missing. The error is.

Please

[2017-12-12 13:44] anuraaga commented on #2683
The project ID is set using the gcloud sdk. I guess the client first polls that url to see if it's on compute engine and if that fails it checks the others. When the metadata endpoint is slow it affects the client during this check.

I tried reverting and found that it is not slow right now. I think I must have saw a transitive issue in the performance of the endpoint outside GCP and it might not

[2017-12-12 17:32] smartytime commented on #2465
I've been reading more this morning... and I realized that a `nack()` in our code would show up as a "Modify Ack Deadline Operation" (because it effectively sets the ack deadline to 0).  Is that correct?
Is there any possibility for the "Ack Padding" (my understanding is that the pubsub client will request a deadline extension for every message to pad for latency) to conflict with a nack?

FWIW -

[2017-12-12 19:02] hegemonic opened #2701 "Home page on website looks screwy"
Something is amiss with the [home page for the google-cloud-java website](https://googlecloudplatform.github.io/google-cloud-java/0.32.0/index.html). The text "google-cloud" is overlapping with itself:

![google-cloud-java-home-page](https://user-images.githubusercontent.com/1522391/33903052-d786e176-df2b-11e7-8864-0668654702df.png)

[2017-12-12 19:49] ChengyuanZhao opened #2702 "Feature Request: Signed URLs for Google Cloud Storage Blobs and Buckets"
Would it be possible to add functionality to Blob and Bucket to provide signed URLs?

We were discussing this topic (spring-cloud/spring-cloud-gcp#251) and it looks like the existing instructions on the dev site has users construct that URL themselves.

[2017-12-12 23:19] #2678 closed

[2017-12-12 23:20] garrettjonesgoogle commented on #2609
This was resolved a while back (0.29.0-alpha or later).

[2017-12-12 23:20] #2609 closed

[2017-12-13 00:34] andreamlin commented on #2535
There are multiple ways to pass in credentials into the client, Setting the GOOGLE_APPLICATION_CREDENTIALS environment variable is one of the simplest ways to pass in credentials, but it's not the only way (see https://developers.google.com/identity/protocols/application-default-credentials). We can't immediately throw an exception if the GOOGLE_APPLICATION_CREDENTIALS is an invalid path or contai

[2017-12-13 00:34] #2535 closed

[2017-12-13 00:41] vchudnov-g commented on #2668
We will look into this and get back to you, @dhoard-papajohns

[2017-12-13 00:50] vchudnov-g commented on #2701
Duplicate of #2663

[2017-12-13 00:50] #2701 closed

[2017-12-13 00:52] vchudnov-g commented on #2663
@lesv could you fix this CSS or route to the appropriate person? Thanks!

[2017-12-13 00:53] pongad commented on #2683
@anuraaga I think the current implementation actually checks that endpoint last, but #2705 should remove this concern altogether.

[2017-12-13 01:26] pongad commented on #2668
I believe this is almost certainly a problem with gRPC, not the client. I see you have already created https://github.com/grpc/grpc-java/issues/3810. I've pinged gRPC asking them to take a look.

In case this is actually a client problem, let's keep this open a little while longer.

[2017-12-13 03:32] pongad commented on #2465
It's a little annoying, but we log to logger named "com.google.cloud.pubsub.v1.MessageDispatcher". If you turn logging to `FINER`, we log "Sending NNN nacks". We send it very often though.

If your code is idle, this sounds like a serious problem. If there are messages pending, they should be scheduled immediately. I have a few guesses.

1. Flow control leak. The client keeps track of messages in

[2017-12-13 10:38] ManojJangra commented on #1360
Hi,
We are getting this error...... Please suggest me in the same

Thanks.

Error:Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'.

[2017-12-13 15:14] patflynn commented on #2535
IMO if GOOGLE_APPLICATION_CREDENTIALS is set with a value that is incorrect, it should generate an error immediately.  If it's unset then you can fallback to other credential passing mechanisms.   As it is the error is extremely confusing and hard to debug.

[2017-12-13 18:53] craigcitro opened #2706 "Docs have squashed text"
An image says it all:
<img width="555" alt="screen shot 2017-12-13 at 10 52 32 am" src="https://user-images.githubusercontent.com/468559/33956560-c5bf5bda-dff3-11e7-8eda-cdd4f7c53f5f.png">

This is on https://googlecloudplatform.github.io/google-cloud-java/0.32.0/index.html.

[2017-12-13 18:57] elharo opened #2707 "google-api-client-appengine dependency for App Engine apps"
On https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-compute, we read:

"In CreateAddressDiskAndInstance.java we put together all the code shown above into one program. The program assumes that you are running on Compute Engine or from your own desktop. To run the example on App Engine, simply move the code from the main method to your application's servlet class an

[2017-12-13 18:57] garrettjonesgoogle commented on #2706
Duplicate of https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2663

[2017-12-13 19:23] elharo commented on #2707
It seems the original reporter was using`com.google.api.services.compute`, not `com.google.cloud.compute`.

[2017-12-13 19:23] #2707 closed

[2017-12-13 19:36] jabubake opened #2708 "Please add a README to google-cloud-bom"
google-cloud-java/google-cloud-bom/pom.xml

so it is clear to users what is the latest release version to include and how to include that in a `dependencyManagement` section

[2017-12-13 22:38] garrettjonesgoogle commented on #2708
We do already have some documentation at https://github.com/GoogleCloudPlatform/google-cloud-java#version-management , but we probably want to copy the dependencymanagement sample into a google-cloud-bom README also.

[2017-12-13 22:54] hzyi-google commented on #2702
Hi @ChengyuanZhao  -

The client library now supports signed URLs for Blobs, here is a sample code for your reference:
[code]
Signed Url for Blobs is in the works along with #2629. Please stand by.

[2017-12-13 22:56] andreamlin commented on #2698
To be fixed with https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2517.

[2017-12-13 22:57] andreamlin commented on #2699
Which version of google-cloud-translate are you using? Can you post your dependency tree, or pom.xml, or .gradle file?

[2017-12-14 00:59] #2643 closed

[2017-12-14 15:17] smileprem opened #2710 "NoSuchMethodError while using cloud pubsub java client"
Hi - I am new to GCP. I am trying to integrate java app with cloud pubsub emulator. I use java 8 on Windows 10 machine. I simply added the below dependency to pom and ran the example program `CreateSubscriptionAndConsumeMessages`.

[code]
I get the below error. Shouldn't all the dependencies be managed by google java client?. If there are exceptions, please document it.

[code]

[2017-12-14 15:24] smileprem commented on #2710
[code]
Adding the guava dependency solved the issue. Please include in the pom or explicitly document it.

[2017-12-14 18:12] #2683 closed

[2017-12-14 21:04] lesv commented on #2663
I fixed the css, will look for the script.

[2017-12-14 23:44] smartytime commented on #2465
pongad - I've been trying to prep more intel, but I'll throw out a few more things that might be useful:

[code]

1) we are running this in a cluster against two topics/subscriptions.  Each instance has a single `Subscriber` for each subscription, and each `Subscriber` uses a dedicated `ScheduledThreadPoolExecutor` using FixedExecutorProvider.
2) Local dev (unable to reproduce) runs oracle jdk 1.8

[2017-12-15 00:39] pongad commented on #2667
@joaoandremartins The `iterateAll` method exists kind of as a concession to practicality. Many times we don't care that the results are in multiple pages.

Note that you can also use Guava: `Lists.newArrayList(blobs.iterateAll())`

I'm not sure what problem you're trying to solve that the current surface isn't providing. If you really want to control the paging, it's also possible to
[code]
`getNe

[2017-12-15 08:13] pongad commented on #2465
@smartytime Thank you for the info! From this, I believe the problem is not with the client lib. Reasoning below:

The stack dump of your thread shows that it's waiting for things to do. The executor is definitely not deadlocked.

However, our logs seem to disagree: You said

From the `MessageDispatcher` log, the subscriber is actually quite active. In the window of 1 second, it has received 58 me

[2017-12-15 16:56] JasonNTMK opened #2714 "Default FlowControlSettings LimitExceededBehavior"
Hi I'm having an issue with my code, I recently started getting
com.google.api.gax.batching.FlowController$FlowControlRuntimeException: The maximum number of batch bytes: 10485760 have been reached.

I can see that's the default behaviour for LoggingOptions.getDefaultInstance().getService(); but the documentation isn't very clear on why its that way or what the alternatives are.
I can see from com

[2017-12-15 18:53] smartytime commented on #2465
@pongad - Much thanks.  I've been trying to read through the pubsub code so you don't have to explain it all... feel like I'm slowly catching up.

Knowing about the receipts helps - in an ideal world where messages are processed within their original lease, should we see roughly a 1/1 modack/message ratio?  (one receipt modack per message)

What is an appropriate value for `maxAckExtensionPeriod`?

[2017-12-16 11:22] MutumaMiles commented on #2050
Exception in thread "main" java.lang.NoClassDefFoundError: com/google/auth/Credentials
	at java.base/java.lang.ClassLoader.defineClass1(Native Method)
	at java.base/java.lang.ClassLoader.defineClass(ClassLoader.java:1007)
	at java.base/java.security.SecureClassLoader.defineClass(SecureClassLoader.java:174)
	at java.base/jdk.internal.loader.BuiltinClassLoader.defineClass(BuiltinClassLoader.java:801

[2017-12-17 09:11] olavloite commented on #2063
I have added support for XADataSource and XAResource to my [open source JDBC driver for Google Cloud Spanner](https://github.com/olavloite/spanner-jdbc), and also made a small sample application by [modifying the example from Spring Boot](https://github.com/olavloite/spring-boot/tree/master/spring-boot-samples/spring-boot-sample-jta-atomikos).

[2017-12-18 02:12] salrashid123 commented on #2443
this pending in   https://github.com/GoogleCloudPlatform/google-cloud-java/pull/2690

I verified headers after using the commit cited there and the one from gax-java:

[code]

on debug shows the line:

[code]

[2017-12-18 03:00] pongad commented on #2465
@smartytime I'll answer out of order :)

The stack trace looks like credentials being refreshed. Once in a while (I believe one hour), a gRPC connection needs to refresh credentials, then the credentials is cached and usable for another hour etc. By default, we open a few connections, so I think it makes sense that you're seeing this once in a while.

Ideally, you'd observe `< 2 modack/msg` in the

[2017-12-18 21:55] cmhill opened #2720 "bigquery: setUseLegacySql missing in java API"
Original bug created here: https://issuetracker.google.com/issues/70662064

[code]

[2017-12-18 22:04] kir-titievsky opened #2721 "Pub/Sub publisher retrySettings: runtime errors that should be compile time"
Publisher built with these retry settings fails at runtime, with generic "illegal argument exception."
The error does point to specific failed pre-conditions, which have to do with minTotalTimeout -- which I had not set here.

<pre>
        RetrySettings retrySetting = RetrySettings.newBuilder()
                .setInitialRpcTimeout(Duration.ofMillis(500))
                .setMaxAttempts(10)

[2017-12-18 23:03] kir-titievsky opened #2722 "Pub/Sub: publisher fails to publish more than 1000 messages, with DEADLINE_EXCEEDED"
I've slightly modified this very basic publisher code offered to me by one of the customers. The code runs when we try to publish 1000 messages, but fails with a gRPC timeout exception when I try to run it with 10K messages.
<pre>
import com.codahale.metrics.Counter;
import com.codahale.metrics.MetricRegistry;
import com.google.api.core.ApiFuture;
import com.google.api.core.ApiFutureCallback;
impo

[2017-12-19 00:07] pongad commented on #2722
The main problem is that we're trying to send messages faster than the network can deliver them.
We decided a few months ago that we won't implement back-pressure in client lib layer since the use-case is too varied.

I'll make a documentation PR for this.

[2017-12-19 00:21] mdietz94 commented on #2722
@pongad shouldn't we automatically retry DEADLINE_EXCEEDED errors?

[2017-12-19 00:30] pongad commented on #2722
We do, but we give up eventually. If you send messages "a bit too fast", the retry should make things work for you. If you send things "way too fast" though, messages will eventually fail: we'll retry a few times and give up at some point.

[2017-12-19 01:03] mdietz94 commented on #2722
10K*700=7MB doesn't seem like all that much, considering we've seen the client library do hundreds of MB/s. Maybe it's networking specific, or maybe we should be retrying more?

[2017-12-19 01:42] pongad commented on #2722
I think it's definitely network-related. When I tried to run this on my machine, I had to increase the number to about 1 million to observe this. I think some back-pressure in general is necessary right? The linked PR shows an example of a simple one.

[2017-12-19 02:16] dhoard-papajohns commented on #2505
Any update on this issue?  We have ETL processes that are being blocked by this issue.

[2017-12-19 11:13] talonx opened #2724 "Pub/Sub : Large number of threads created leading to OutOfMemory"
This is described in detail in https://github.com/netty/netty/issues/7520 . Since I narrowed it down to being a PubSub problem, I'm logging it here. Please let me know if I should copy-paste the contents of the other issue here.

Turning off PubSub (and replacing it with an in-memory messaging system) in the same application leads to perfectly normal behaviour without any memory issues. I've also

[2017-12-19 13:38] kir-titievsky commented on #2722
This is very surprising. In my case, I had roughly 10MB to send and the
failures happened over 10 seconds. This either means that my MacBook can't
upload faster than 1MBps or that the client jams all messages into the
network card at once, creating much higher instantaneous bandwidth spikes.
The former seems unlikely. Did something change with jitter in retry?

I could not figure out how to tweak

[2017-12-19 16:45] #2696 closed

[2017-12-19 16:59] #2663 closed

[2017-12-19 17:06] andreamlin commented on #2654
Would you mind posting your BUILD file, pom.xml, .gradle, or whichever config file that lists your dependencies?

[2017-12-20 01:01] garrettjonesgoogle commented on #1381
I think I didn't look carefully enough and assumed the message from @hbchai was from a user, but now I see it was from the implementer of the emulator. I will re-open so we can check the log levels in google-cloud-java code.

[2017-12-20 18:03] #2577 closed

[2017-12-20 19:03] danialfaridsada opened #2727 "Make google-cloud-logging work with cloud-trace-java"
I want both stackdriver tracing and logging in my project and seems like there is no way to make both of them work on the same project.

https://github.com/GoogleCloudPlatform/google-cloud-java/tree/master/google-cloud-logging
https://github.com/GoogleCloudPlatform/cloud-trace-java

The issue is the library conflict for `com.google.api:gax-grpc` (and possibly others):

The latest `com.google.cloud

[2017-12-20 20:15] garrettjonesgoogle commented on #2727
google-cloud-java is at the root of both; cloud-trace-java needs to update its dependency to a more recent version of google-cloud-trace. I would recommend filing an issue with them.

[2017-12-20 21:36] danialfaridsada commented on #2727
Alright I did that.
Is there a version of `google-cloud-logging` that works with `gax-grpc:0.25.1`?

[2017-12-20 21:37] danialfaridsada commented on #2727
Also these two projects should be more coordinated and probably be part of the same repo since people would usually use both features of stackdriver in their products.

[2017-12-20 21:42] garrettjonesgoogle commented on #2727
`1.7.0` - see https://github.com/GoogleCloudPlatform/google-cloud-java#version-management for reference.

[2017-12-20 22:45] garrettjonesgoogle commented on #2706
This is fixed in code and should be fixed on the site in the next release.

[2017-12-20 22:45] #2706 closed

[2017-12-20 22:49] #2708 closed

[2017-12-20 22:54] garrettjonesgoogle commented on #2710
Guava should already be pulled in as a dependency. I suspect your build system was choosing a version of Guava that was too old, and when you added version 21.0, you got an updated one that worked correctly with google-cloud.

[2017-12-20 22:54] #2710 closed

[2017-12-20 23:10] danialfaridsada commented on #2727
Is there a change log I could find out what has changed between the java versions of `com.google.cloud:google-cloud-logging`

[2017-12-20 23:19] garrettjonesgoogle commented on #2727
1. Determine the google-cloud-logging versions you are interested in
2. Determine the alpha versions in https://github.com/GoogleCloudPlatform/google-cloud-java#version-management that correspond to those versions of google-cloud-logging
3. Read over the release notes for those versions at https://github.com/GoogleCloudPlatform/google-cloud-java/releases

Alternatively, look at the commit history

[2017-12-20 23:53] garrettjonesgoogle commented on #2400
Fixed in #2711

[2017-12-20 23:54] #2400 closed

[2017-12-20 23:58] garrettjonesgoogle commented on #2491
What is the reason you decided to file the issue against google-cloud-java?

[2017-12-21 01:05] garrettjonesgoogle commented on #2621
Working on this - we will start generating datastore protos using the googleapis toolchain so that we don't get version conflicts.

[2017-12-21 09:54] talonx commented on #2724
After some investigation, this looks an error where our code was not closing PubSub resources properly, leading to an explosion of threads. Handling it resolved the problem. Thanks for all those who looked into this.

[2017-12-21 09:54] #2724 closed

[2017-12-21 14:57] kir-titievsky commented on #2722
Couple more points here:
1. The user who raised that initially was able to achieve 30X throughput on the same machine using a different client.
2. I'd checked my bandwidth on the laptop where I did the initial test and saw upload bandwidth of 10MB/s.

So this still feels like something off with the client library.

[2017-12-21 15:29] kir-titievsky opened #2731 "Pub/Sub client should allow connecting to different backends without changes in code"
Current Pub/Sub client can be made to use an emulator service instead of pubsub.googleapis.com as the API service. The way this is implemented, however,  appears to require the users to both set an environment variable AND change the client code.  It seems to me this makes hermetic testing difficult.   I think, as an application developer, I would be much happier if I could test my code against an

[2017-12-21 15:38] elharo opened #2732 "Is google-cloud-java GCE misrepresented in root README"
From b/70926158

In the README for GCE:

https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-compute/README.md

"Note: This client is no longer receiving updates; new features in the Compute API will not be added to this client. Check https://cloud.google.com/compute/docs/api/libraries for the recommended Java client library to use for accessing Compute."

Yet this is

[2017-12-21 17:55] btilford commented on #2491
I believe it's the way google-cloud-java depends on guava. It makes it unusable with other libraries that depend on a different version of guava. _(google libraries depend on it heavily for example)_. Lot's of APIs being added/removed things that are `@Beta` being used etc.

Really the only way to fix it is repackaging google-cloud-java libs with a shaded guava yourself then pulling that in instea

[2017-12-21 22:54] lbergelson commented on #2453
So our most recent assumption was that this error was being caused by a configuration issue in our projects, but we've now tested with different google projects that don't share the same owners or configuration and the error reproduces in both of them.

See https://github.com/broadinstitute/gatk/pull/3855 for the complete discussion.  It's unclear what we should do to continue debugging this.  @an

[2017-12-22 12:20] andreencarnacao-focusbc commented on #2731
The problem seems to be that when google client library tries to instantiate the default channel does not take into account if the environment variable PUBSUB_EMULATOR_HOST is setted. I am going to do a pull request, but further development on top of it might be needed

[2017-12-22 21:38] anthmgoogle commented on #2453
If we can no longer reproduce, I suggest we close.

[2017-12-22 21:48] jean-philippe-martin commented on #2453
@anthmgoogle

That is literally the opposite of what was said. We reproduced the bug and ran out of ideas for how to make the test not fail.

[2017-12-22 22:04] anthmgoogle commented on #2453
Apologies. Reactivating and reassigning.

[2017-12-22 22:29] wsh commented on #2442
Working on this (on the Datastore team).

[2017-12-23 17:56] brianolsen87 commented on #33
Above should be -Dgpg.skip=true for those seeing this in a search.

[2017-12-24 12:05] bigunyak opened #2733 "Pub/Sub Subscriber service that should never stop listening for new messages"
Hi,

I think I've now looked at all Pub/Sub Java client examples in the official docs and seems all of them have an idea of stopping Subscriber service at some point with `subscriber.stopAsync();` call. But what if I want to implement a service that should listen for Pub/Sub messages on a subscription and never exit. What would be a recommended way of doing it?
Maybe you can explain a common idea

[2017-12-27 08:33] smileprem commented on #2710
Hi @garrettjonesgoogle - You are right. It was actually a dependency resolution issue when Cloud PubSub is used along with Janus Graph. JanusGraph pulls Guava version 16.0. But GCP needs version 20.0 (minimum). So, I excluded Guava from JanusGraph dependency and let GCP Client pull the latest guava dependency.

It works !!!

[code]

[2017-12-28 11:24] bigunyak opened #2735 "Exceptions logged with Logback + SLF4J don't show up in Stackdriver"
I'm using the Logback + SLF4J logging configuration described in the official documentation [here](https://cloud.google.com/logging/docs/setup/java).
Everything works fine with simple log messages like:
[code]

The problem appears when I try to log exceptions like this:
[code]

I see only my description message in Stackdriver but not the stack trace from the provided exception.
What can be the pro

[2017-12-28 19:56] AraujoArquivei commented on #2496
I'm having a similar problem.

My pipeline presets problems on executing queries. Which is done based in a class of mine. Basically, he initiates, but can't proceed.

[exception.txt](https://github.com/GoogleCloudPlatform/google-cloud-java/files/1591976/exception.txt)

this is my pom.xml:

[pom.txt](https://github.com/GoogleCloudPlatform/google-cloud-java/files/1591985/pom.txt)

and, finally, my c

[2017-12-28 23:22] tswast opened #2736 "BigQuery Data Transfer: ListDataSourcesRequest not documented / not linked to"
See: https://googlecloudplatform.github.io/google-cloud-java/latest/apidocs/com/google/cloud/bigquery/datatransfer/v1/DataTransferServiceClient.html#listDataSources-com.google.cloud.bigquery.datatransfer.v1.ListDataSourcesRequest-

I would expect `com.google.cloud.bigquery.datatransfer.v1.ListDataSourcesRequest` to be a hyperlink to the ListDataSourcesRequest class, but it is not. A search within

[2017-12-29 00:40] tswast commented on #2736
Many other classes are also undocumented. `com.google.cloud.bigquery.datatransfer.v1.DataSource` is another example of a class that is referenced but not documented.

Possibly these are all the underlying Protocol Buffer resource classes?

[2017-12-29 13:47] AraujoArquivei opened #2737 "Pipeline throws exceptions on Data Flow indicating bad linking with existing class"
I'm having a similar problem to https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2496

My pipeline presets problems on executing queries. Which is done based in a class of mine. Basically, he initiates, but can't proceed.

[Exception.txt](https://github.com/GoogleCloudPlatform/google-cloud-java/files/1597566/Exception.txt)

this is my pom.xml:

[pom.txt](https://github.com/GoogleClo

[2018-01-02 18:27] fmatar opened #2740 "java.lang.ClassNotFoundException: org/eclipse/jetty/alpn/ALPN"
My team has built a very thing wrapper around the spanner java driver and we have ran a number of tests successfully.

An issue came up when we tried to integrate the layer we built with vert.x (http://vertx.io)

An exception is occurring on the following code block:

[code]

The following exception is being thrown:
[code]

The dependency tree is as follows:
[code]

The environment I'm developing

[2018-01-02 18:32] garrettjonesgoogle commented on #2740
`io.netty:netty-common:jar:4.1.15.Final` and `io.grpc:grpc-netty:jar:1.7.0` aren't compatible. See https://github.com/grpc/grpc-java/blob/master/SECURITY.md#netty for a table of compatible versions; it looks like you'll need 4.1.16 of netty.

[2018-01-02 18:53] fmatar commented on #2740
That didn't work. I have excluded netty-common from vertx-core and included netty-common-4.1.16.Final and the issue is still there. Here's my dependency tree output

[code]

[2018-01-02 19:07] garrettjonesgoogle commented on #2740
All of the netty versions need to be consistent, not just netty-common.

[2018-01-02 19:12] fmatar commented on #2740
That didn't do it either, here's the outcome of mvn dependency:tree

[code]

[2018-01-02 19:17] garrettjonesgoogle commented on #2740
Ok the versions all seem consistent now.

Could you try calling https://github.com/GoogleCloudPlatform/google-cloud-java/blob/master/google-cloud-util/google-cloud-compat-checker/src/main/java/com/google/cloud/compatchecker/GoogleCloudCompatChecker.java from your code and see what it outputs?

[2018-01-02 19:45] fmatar commented on #2740
The first time I ran it I got the following exception:

[code]

I see that io.netty.internal.tcnative.SSL is missing however the package is available as the dependencies indicate

On the second run I manually added:
[code]
to my `pom.xml` and now I get the following output:

[code]

[2018-01-02 19:58] garrettjonesgoogle commented on #2740
@ejona86 any pointers on how to fix this? (`java.lang.ClassNotFoundException: io.netty.internal.tcnative.SSL`)

[2018-01-02 23:44] pongad commented on #2722
@kir-titievsky Sorry for the late reply. I just got back from vacation. There are couple of points I'm unclear on. Let's talk about this in our meeting tomorrow.

[2018-01-03 02:47] pongad commented on #2714
@garrettjonesgoogle  I created https://github.com/googleapis/gax-java/pull/451 to better document the behaviors. @JasonNTMK Please let us know if this answers your question.

Logging does not provide a way for you to change the limit exceeded behavior. Though, I think throwing exception is definitely the wrong thing to do here. I made a separate PR so that the client will throttle instead. Garrett

[2018-01-03 07:17] saturnism commented on #2266
@hiranya911 have you considered using Java 8 runtime?

For those who landed on this issue from search, please see the gRPC troubleshooting guide that should help you resolve most of the issues: https://github.com/grpc/grpc-java/blob/master/SECURITY.md#troubleshooting

[2018-01-03 07:18] saturnism commented on #2483
For those that landed on this issue from search, please see gRPC troubleshooting guide https://github.com/grpc/grpc-java/blob/master/SECURITY.md#troubleshooting

[2018-01-03 07:22] saturnism commented on #2310
For those that landed on this issue from search, please see gRPC troubleshooting guide https://github.com/grpc/grpc-java/blob/master/SECURITY.md#troubleshooting

[2018-01-03 14:52] JasonNTMK commented on #2714
It certainly clarifies things for me. Thanks!

One follow question, once the exceptions started it continued until I cleared the queue and any data on it. It happened once more and we didn't log the data that caused the errors but we've since changed to catch the exceptions and log to file so we can see what data is causing the error.
Is it a case of our data being too big to be logged or just sen

[2018-01-03 17:07] mdietz94 opened #2744 "Pub/Sub should use a dedicated executor for offloading messages to the user"
Right now, if a user blocks while processing messages, they will cause acks/mod acks to be delayed causing a greater number of duplicates. If we use a separate executor, they will instead just process messages slower, without affecting normal client library operation.

[2018-01-03 17:45] fmatar commented on #2740
I got this fixed by adding the following dependency

[code]

[2018-01-03 18:25] garrettjonesgoogle commented on #2740
Now I'm very curious about which inconsistency I missed. Do you mind providing your final dependency tree?

[2018-01-03 18:29] meltsufin opened #2745 "Add google-cloud-logging-logback to the dependencies BOM"

[2018-01-03 18:38] meltsufin opened #2746 "Add option to clear traceId thread-local in TraceLoggingEnhancer"
When the `traceId` thread-local needs to be removed, calling `setCurrentTraceId(null)` is not appropriate because it still leaves a thread-local entry. Instead, and indirect call to `ThreadLocal.remove()` should be exposed. One option is to provide a method called `removeCurrentTraceId`. Another alternative, is to detect the `null` argument to `setCurrentTraceId` and call `remove()` instead of `se

[2018-01-03 18:39] fmatar commented on #2740
Not at all, here you go, I have also added:

[code]

Here's the dependency tree

[code]

[2018-01-03 19:10] hzyi-google commented on #2453
Hi @jean-philippe-martin -

I suppose you are still using the repro steps in [this comment](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2453#issuecomment-337074454), and having the same result in [this comment](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2453#issuecomment-342993997) for google-cloud-nio version 0.27.0-alpha, but please correct me if I am wro

[2018-01-03 19:56] jean-philippe-martin commented on #2453
@hzyi-google in my [latest attempt](https://github.com/broadinstitute/gatk/pull/3855#issuecomment-352147413) I actually ran full-on GATK4 with the error as described in
[this comment](https://github.com/broadinstitute/gatk/pull/3855#issuecomment-347320994).

I was able to run your provided code with `google-cloud-nio version 0.27.0-alpha` and it worked just fine, as expected. I also tried it with

[2018-01-03 20:53] n0mer commented on #2740
@fmatar is this also valid for 0.30 and/or 0.31 version?

I just started using 0.32-alpha (and 0.32-beta) and stuck with this problem. Considering to downgrade and see whether it helps to temporarily mitigate this issue while it is fixed in 0.32